﻿
@{
    ViewData["Title"] = "ExamQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        /* height: 90%;*/
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        /*height: 99%;*/
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 300px;
        margin-left: 120px;
    }
</style>
<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Entrance Exam Question</li>
        </ol>
    </nav>

</div>
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Exam Question</h1>


            </div>

            <div class="card-body">
                <div class="form-group row ">
                    <div class="col-4">
                        <label class="control-label font-weight-bold">Session</label>
                        <select id="AcademicSessionId" class="form-control">
                        </select>
                        <span class="text-danger AcademicSessionId_validation" id="txtNameValiderror"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label font-weight-bold">Organisation</label>
                        <select id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger OraganisationAcademicId_validation" id="txtNameValidreeor"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label class="control-label font-weight-bold">Board</label>
                        <select id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                            <option value=" ">Select Board</option>
                            @*@foreach (var item in Model.BoardList)
            {
                <option value="@item.ID">@item.Name</option>
            }*@
                        </select>
                        <span class="text-danger BoardId_validation" id="BoardIderror"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label font-weight-bold">Class</label>
                        <select id="AcademicStandardId" name="AcademicStandardId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger AcademicStandardId_validation" id="AcademicStandardIderror"></span>
                    </div>
                    @*<div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Stream</label>
                            <select id="StreamdId" class="form-control" style="width:100%;"></select>

                        </div>*@

                    @*<div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Select Exam Date</label>
                            <input type="date" id="examDateId" class="form-control" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Select Exam Time</label>
                            <input type="time" id="examTimeId" class="form-control" />
                        </div>*@

                    <div class="col-2" style="padding-top:2rem;">
                        <button class="btn btn-primary" onclick="ShowList()">SEARCH</button>
                    </div>

                    <div class="justify-content-between col-md-6 bg-white" style="padding-top: 35px;">
                        <input type="file" accept="application/pdf" name="pdf" id="fileQuestion" onchange="loadFileStudent(event)" style="" />
                        <input type="hidden" value="" id="hdnStatus" />
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" data-toggle="modal" data-target="#myModal2" @*onclick="loadQuestion()"*@><i class="fas fa-arrow-circle-up" ></i> &nbsp; Upload Excel</a>

                    </div>

                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Select All <input type="checkbox" id="chkCheckAll" /></th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">School</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Name</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Date</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">ExamStartTime</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">ExamEndTime</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">NoOfStudent</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Question Url</th>
                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Details</th>
                        </tr>
                    </thead>
                    <tbody id="bindQuestionData">
                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div>

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-titleNew" id="myModalLabel2">Add Exam Question</h4>
                <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">

                <input type="hidden" />
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label font-weight-bold">Session</label>
                        <select id="AcademicSessionId1" class="form-control"  style="width:100%;">
                        </select>
                        <span class="text-danger AcademicSessionId1_validation" id="txtNameValiderror1"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Organisation</label>
                        <select id="OraganisationAcademicId1" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger OraganisationAcademicId1_validation" id="txtNameValidreeor1"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Board</label>
                        <select id="BoardId1" name="BoardId" class="form-control" style="width:100%;">
                            <option value=" ">Select Board</option>
                        </select>
                        <span class="text-danger BoardId1_validation" id="BoardIderror1"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Class</label>
                        <select id="AcademicStandardId1" name="AcademicStandardId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger AcademicStandardId1_validation" id="AcademicStandardIderror1"></span>
                    </div>
              

                    <div class="justify-content-between col-md-6 bg-white" style="padding-top: 35px;">
                        <input type="file" accept="application/pdf" name="pdf" id="fileQuestion" onchange="loadFileStudent(event)" style="" />
                        <input type="hidden" value="" id="hdnStatus" />
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" data-toggle="modal" data-target="#myModal2" @*onclick="loadQuestion()"*@><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>

                    </div>

                </div>
                <div class="form-group modal-footer" style="border-top: 0px solid #e3e6f0;">
                    <button type="button" id="btn_saveupdate1" data-dismiss="modal" onclick="SaveData1()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-times"></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>
                    <button type="button" id="btn_saveupdateqq" onclick="SaveData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i><span id="btn_saveupdate">&nbsp;  SAVE&nbsp;&nbsp;</span></button>
                </div>
            </div>
    <input type="hidden" id="hdn_id" />
</div>

</div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').html("<option value='0'>SELECT SESSION</option>");
        $('#BoardId').html("<option value='0'>SELECT BOARD</option>");
        $('#AcademicSessionId1').html("<option value='0'>SELECT SESSION</option>");
        $('#BoardId1').html("<option value='0'>SELECT BOARD</option>");
        //BoardId
        $.ajax({
            url: '/Admission/Registration/GetSessionData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {

                    $('#AcademicSessionId').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );
                    $('#AcademicSessionId1').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });
        $.ajax({
            url: '/Admission/Registration/GetBoardData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {

                    $('#BoardId').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );
                    $('#BoardId1').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });


        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/Admission/Registration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value="0">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/Admission/Registration/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }

    });
    function ShowList() {
        if ($('#BoardId').val() > 0 && $('#OraganisationAcademicId').val() > 0 && $("#AcademicStandardId").val() > 0) {
            $("#DocList").html("");
            $.get('/Admission/Registration/GetDocList', { BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val(), AcademicSessionId: $("#AcademicStandardId").val() }, function (data) {
                debugger;
                for (var i = 0; i < data.subDocTypeList.length; i++) {
                    $("#DocList").append('<div class="col-md-12 form-group1"><input type="checkbox" name="tableCheck" class="chk_checkbox" data-active="" id=' + data.subDocTypeList[i].id + '> <label for=' + data.subDocTypeList[i].id + '>' + data.subDocTypeList[i].name + '</label></div>')
                }
                for (var j = 0; j < data.allSelectedData.length; j++) {
                    var idval = "#" + data.allSelectedData[j];
                    $(idval).prop("checked", true);

                }
                $("#DocList").append('<div class="col-md-12" style="margin-top:20px;"><button class="btn btn-primary" onclick="SaveData()">SAVE</button></div>');


                //var boardId = $('#BoardId').val();
                //var standardId = $("#AcademicStandardId").val();

                //$("#DocList").html("");
                //$.get('/Admission/Registration/GetDocList', { BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val(), AcademicSessionId: $("#AcademicStandardId").val() }, function (data) {
                //    debugger;
                //    for (var i = 0; i < data.subDocTypeList.length; i++) {
                //        $("#DocList").append('<div class="col-md-12 form-group1"><input type="checkbox" class="chk_checkbox" data-active="" id=' + data.subDocTypeList[i].id + '> <label for=' + data.subDocTypeList[i].id +'>Doc1</label></div>')
                //    }

                //<div class="col-md-12 form-group1">
                //    <input type="checkbox" class="chk_checkbox" data-active="" id="html">
                //        <label for="html">Doc1</label>
                //    </div>


                //if (data.length > 0) {
                //    $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                //    $.each(data, function (i, item) {

                //        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                //    });
                //    //if (standardid != 0) {
                //    //    $("#AcademicStandardId").val(standardid);
                //    //}
                //}
            });
        }

    }

    function loadQuestion() {
        debugger;
        if ($("#AcademicSessionId").val() == "0") {
            $(".AcademicSessionId_validation").text("Select Session.");
        }
        else {
            $(".AcademicSessionId_validation").html("");
        }
        if ($("#OraganisationAcademicId").val() == "0") {
            $(".OraganisationAcademicId_validation").text("Select Organisation.");
        }
        else {
            $(".OraganisationAcademicId_validation").html("");
        }
        if ($("#BoardId").val() == "0") {
            $(".BoardId_validation").text("Select Board.");
        }
        else {
            $(".BoardId_validation").html("");
        }
        if ($("#AcademicStandardId").val() == "0") {
            $(".AcademicStandardId_validation").text("Select Class.");
        }
        else {
            $(".AcademicStandardId_validation").html("");
        }
        if ($("#AcademicSessionId").val() != 0 && $("#OraganisationAcademicId").val() != 0 && $("#BoardId").val() != 0 && $("#AcademicStandardId").val() != 0) {
            var input1 = document.getElementById('fileQuestion');
            var files = input1.files;
            var formData = new FormData();
            var imageval = "";

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                url: "/Admission/Registration/UploadQuestion",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {

                    imageval = data;

                }

            });


            var uploadExamdata = {
                ID: $("#hdnPersonalId").val(),
                FirstName: $("#txtFirstName").val(),
                MiddleName: $("#txtMiddleName").val(),
                LastName: $("#txtLastName").val(),
                Gender: $("#ddlGender").val(),
                BloodGroupID: $("#ddlBloodGroup").val(),
                NatiobalityID: $("#ddlNationality").val(),
                ReligionID: $("#ddlReligion").val(),
                CategoryID: $("#ddlCategory").val(),
                MotherTongueID: $("#ddlLanguage").val(),
                PassportNO: $("#txtPassport").val(),
                AadharNO: $("#txtAdharNo").val(),
                Image: imageval,
                DateOfBirth: $("#txtDOB").val()

            };

            //$.ajax({
            //    url: "/Admission/Registration/UploadStudentData",
            $.ajax({
                url: "/Admission/Registration/UploadStudentDetails",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'StudentData': StudentData },
                dataType: 'json',
                // async: false,
                success: function (response) {
                    //openCity(evt, 'address');
                    //$("#AddressOpen").addClass("active");
                }

            });
        }
        //OraganisationAcademicId_validation
        
        

    }

</script>

