﻿
@{
    ViewData["Title"] = "FileInformation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<style>
    .form-group1 {
        display: block;
        margin-bottom: 0px;
        margin-top: 5px;
    }

        .form-group1 input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        .form-group1 label {
            position: relative;
            cursor: pointer;
        }

            .form-group1 label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid #0079bf;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
            }

        .form-group1 input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid #0079bf;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
</style>

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">File Information</li>
           
        </ol>
    </nav>

</div>
<div class="card-body">
    <div class="form-group row ">
        <div class="col-4">
            <label class="control-label font-weight-bold">Session</label>
            <select id="AcademicSessionId" class="form-control">
                
            </select>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label font-weight-bold">Organisation</label>
            <select id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
        </div>

        <div class="col-md-4 form-group">
            <label class="control-label font-weight-bold">Board</label>
            <select id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                <option value=" ">Select Board</option>
                @*@foreach (var item in Model.BoardList)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }*@
            </select>

        </div>
        <div class="col-md-4 form-group">
            <label class="control-label font-weight-bold">Class</label>
            <select id="AcademicStandardId" name="AcademicStandardId" class="form-control" style="width:100%;"></select>

        </div>

        <div class="col-md-2" style="padding-top:2rem;">
            <button class="btn btn-primary" onclick="ShowList()">SEARCH</button>

        </div>
        <div class="col-md-2">
            <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-top: 20%;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>

        </div>


    </div>
</div>
<div class="row">

</div>

<div class="row card" style="background-color: white;">
    <div class="col-md-12 card-header" style="text-align:center;font-size: 26px; ">
        DOCUMENT LIST
    </div>
    <div class="col-md-12" style="margin-left: 35%;">
        <div class="card-body">
            <div class="row" id="DocList" style="background-color:white;min-height:200px;">
                Select Class for document list

            </div>

        </div>
    </div>

</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form asp-action="UploadAdmissionFile" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Select Session
                        </div>
                        <div class="col-md-8">
                            <select id="AcademicSessionId1" class="form-control">
                            </select>
                            <span id="spanAcademicSessionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a onclick="DownloadData()">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').html("<option value='0'>SELECT SESSION</option>");
        $('#AcademicSessionId1').html("<option value='0'>SELECT SESSION</option>");
        $('#BoardId').html("<option value='0'>SELECT BOARD</option>");
        //BoardId
        $.ajax({
            url: '/Admission/Registration/GetSessionData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {

                    $('#AcademicSessionId').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });
        $.ajax({
            url: '/Admission/Registration/GetAllSessionData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {

                    $('#AcademicSessionId1').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });
        $.ajax({
            url: '/Admission/Registration/GetBoardData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {

                    $('#BoardId').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });

        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/Admission/Registration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            debugger;
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/Admission/Registration/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }

    });
    function DownloadData() {
        if ($("#AcademicSessionId1").val() != "0") {
            $("#spanAcademicSessionId").html("");
          var sessionid=  $("#AcademicSessionId1").val();
            window.location.href = '/Admission/Registration/DownloadAdmissionFileUploadSample?id=' + sessionid;
        }
        else {
            $("#spanAcademicSessionId").text("Select Session.");
        }
    }
    //UploadAdmissionFile  //AcademicSessionId AcademicStandardId
    function ShowList() {
        if ($('#BoardId').val() > 0 && $('#OraganisationAcademicId').val() > 0 && $("#AcademicStandardId").val() > 0) {
            $("#DocList").html("");
            $.get('/Admission/Registration/GetDocList', {
                AcademicSessionId: $("#AcademicSessionId").val(), BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val(), AcademicStandardId: $("#AcademicStandardId").val() }, function (data) {
                debugger;
                for (var i = 0; i < data.subDocTypeList.length; i++) {
                    $("#DocList").append('<div class="col-md-12 form-group1"><input type="checkbox" name="tableCheck" class="chk_checkbox" data-active="" id=' + data.subDocTypeList[i].id + '> <label for=' + data.subDocTypeList[i].id + '>' + data.subDocTypeList[i].name + '</label></div>')
                }
                for (var j = 0; j < data.allSelectedData.length; j++) {
                    var idval = "#" + data.allSelectedData[j];
                    $(idval).prop("checked", true);

                }
                $("#DocList").append('<div class="col-md-12" style="margin-top:20px;"><button class="btn btn-primary" onclick="SaveData()">SAVE</button></div>');


                //var boardId = $('#BoardId').val();
                //var standardId = $("#AcademicStandardId").val();

                //$("#DocList").html("");
                //$.get('/Admission/Registration/GetDocList', { BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val(), AcademicSessionId: $("#AcademicStandardId").val() }, function (data) {
                //    debugger;
                //    for (var i = 0; i < data.subDocTypeList.length; i++) {
                //        $("#DocList").append('<div class="col-md-12 form-group1"><input type="checkbox" class="chk_checkbox" data-active="" id=' + data.subDocTypeList[i].id + '> <label for=' + data.subDocTypeList[i].id +'>Doc1</label></div>')
                //    }

                //<div class="col-md-12 form-group1">
                //    <input type="checkbox" class="chk_checkbox" data-active="" id="html">
                //        <label for="html">Doc1</label>
                //    </div>


                //if (data.length > 0) {
                //    $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                //    $.each(data, function (i, item) {

                //        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                //    });
                //    //if (standardid != 0) {
                //    //    $("#AcademicStandardId").val(standardid);
                //    //}
                //}
            });
        }

    }
    function SaveData() {
        debugger;
        var idVal = [];
        var ids = "";
        $("input:checkbox[name=tableCheck]:checked").each(function () {
            ids = this.id;
            idVal.push(ids);

        });
        $.ajax({
            url: "/Admission/Registration/UpdateSaveFile",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: {
                'AcademicSessionId': $('#AcademicSessionId').val(), 'BoardId': $("#BoardId").val(), 'OraganisationAcademicId': $("#OraganisationAcademicId").val(), 'AcademicStandardId': $("#AcademicStandardId").val(), 'FileTypeIdArray': idVal, },
            dataType: 'json',
            // async: false,


            success: function (response) {
                debugger;

                $('#mclose').click();
                if (response != "Data Added Sucessfully.") {
                    swal({
                        text: response,
                        icon: 'failure',
                        title: 'Document for Classes.'
                    });
                }
                else {
                    swal({ title: "Document for Classes", text: response, type: "success" },
                        function () {
                            location.reload();
                        }
                    );
                }
            },
            failure: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    response.returnMsg = "Page Not Found";
                    swal({
                        text: response.returnMsg,
                        icon: 'failure',
                        title: 'Document for Classes'
                    });

                }
                swal({
                    text: response.returnMsg,
                    icon: 'failure',
                    title: 'Document for Classes'
                });
            }
        });
    }
</script>


