﻿
@{
    Layout = null;
}

@model OdmErp.Web.Areas.Admission.Models.AdmissionRegdDetailsCls
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Admission Report</title>
</head>
<body style="font-size:20px;">
    <header>
        <table style="width:100%;border:0px none;">
            <tr>
                <td>
                    <img src="/images/odm logo.png" style="width:180px;" />
                </td>
                <td colspan="3" style="text-align:left;">
                    <div style="font-size:40px;font-weight:600;">
                        ODM PUBLIC SCHOOL
                    </div>
                    <div style="font-size:25px;font-weight:600;">
                        Sishu Vihar,Infocity Road,<br />
                        Patia,Bhubaneswar-751024
                    </div>
                    <div style="font-size:15px;font-weight:600;">
                        Phone Number - 1800-120-2316<br />
                        Admission for the session @Model.all_Admission.AcademicSessionName
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <table style="width:100%;border:0px none;" cellpadding="4">
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Application Details</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="width:100%;">
                    <tr>
                        <td style="width:25%;">
                            <strong>Application Number</strong>
                        </td>
                        <td style="width:25%;">
                            @Model.all_Admission.FormNumber
                        </td>
                        <td style="width:25%;">
                            <strong>Status</strong>
                        </td>
                        <td style="width:25%;">@(Model.all_Admission.Status)</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Type</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.AcademicSourceName)
                        </td>
                        <td>
                            <strong>Date</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.InsertedDate.ToString("dd-MM-yyyy"))
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Personal Details</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="width:100%;">
                    <tr>
                        <td colspan="2" valign="top">
                            <table style="width:100%;">
                                <tr>
                                    <td><strong>Candidate Name</strong></td>
                                    <td>@Model.all_Admission.Fullname</td>
                                </tr>
                                <tr>
                                    <td><strong>Date Of Birth</strong></td>
                                    <td>@(Model.admissionStudent.DateOfBirth==null?"": Model.admissionStudent.DateOfBirth.Value.ToString("dd-MM-yyyy"))</td>
                                </tr>
                                <tr>
                                    <td><strong>Gender</strong></td>
                                    <td>@(Model.admissionStudent.Gender==null?"": Model.admissionStudent.Gender)</td>
                                </tr>
                                <tr>
                                    <td><strong>Religion</strong></td>
                                    <td>@(Model.admissionStudent.ReligionID==0?"": Model.religions.Where(a=>a.id==Model.admissionStudent.ReligionID).FirstOrDefault().name)</td>
                                </tr>
                                <tr>
                                    <td><strong>Nationality</strong></td>
                                    <td>@(Model.admissionStudent.NatiobalityID==0?"": Model.nationality.Where(a=>a.id==Model.admissionStudent.NatiobalityID).FirstOrDefault().name)</td>
                                </tr>
                                <tr>
                                    <td><strong>Category</strong></td>
                                    <td>@(Model.admissionStudent.CategoryID==0?"": Model.category.Where(a=>a.id==Model.admissionStudent.CategoryID).FirstOrDefault().name)</td>
                                </tr>
                                <tr>
                                    <td><strong>Mother Tongue</strong></td>
                                    <td>@(Model.admissionStudent.MotherTongueID==0?"": Model.languages.Where(a=>a.id==Model.admissionStudent.MotherTongueID).FirstOrDefault().name)</td>
                                </tr>
                                <tr>
                                    <td><strong>Blood Group</strong></td>
                                    <td>@(Model.admissionStudent.BloodGroupID==0?"": Model.bloodGroups.Where(a=>a.id==Model.admissionStudent.BloodGroupID).FirstOrDefault().name)</td>
                                </tr>
                                <tr>
                                    <td><strong>Aadhar Card Number</strong></td>
                                    <td>@(Model.admissionStudent.AadharNO)</td>
                                </tr>
                                <tr>
                                    <td><strong>Passport Number</strong></td>
                                    <td>@(Model.admissionStudent.PassportNO)</td>
                                </tr>
                                <tr>
                                    <td><strong>Languages Known</strong></td>
                                    <td>@(string.Join(',', Model.admissionStudentLanguage.Select(a=>a.name).ToArray()))</td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2" align="center">
                            <img src="@(Model.all_Admission.ProfileImage==null?"https://ssl.gstatic.com/accounts/ui/avatar_2x.png":Model.all_Admission.ProfileImage)" style="width:150px;height:160px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="4"><br /><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Address Details</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>Present Address</strong></td>
            <td colspan="2" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>Permanent Address</strong></td>
        </tr>
        <tr>
        <tr>
            <td><strong>Address 1</strong></td>
            <td>@(Model.admissionStudentAddress.Count==0?"":Model.admissionStudentAddress.ToList()[0].AddressLine1)</td>
            <td><strong>Address 1</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "":Model.admissionStudentAddress.ToList()[0].AddressLine1)</td>

        </tr>
        <tr>
            <td><strong>Address 2</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].AddressLine2)</td>
            <td><strong>Address 2</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].AddressLine2)</td>

        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].CountryId)</td>
            <td><strong>Country</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].CountryId)</td>

        </tr>
        <tr>
            <td><strong>State</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].StateId)</td>
            <td><strong>State</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].StateId)</td>

        </tr>
        <tr>
            <td><strong>City</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].CityId)</td>
            <td><strong>City</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].CityId)</td>

        </tr>
        <tr>
            <td><strong>Pin Code</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].PostalCode)</td>
            <td><strong>Pin Code</strong></td>
            <td>@(Model.admissionStudentAddress.Count == 0 ? "" : Model.admissionStudentAddress.ToList()[0].PostalCode)</td>

        </tr>

        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Admission Details</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td><strong>ADMISSION SOUGHT FOR CLASS</strong></td>
            <td>@Model.all_Admission.StandardName</td>
            <td><strong>SCHOOL WITH WINGS</strong></td>
            <td>@(Model.all_Admission.OrganisationName+"-"+Model.all_Admission.WingName)</td>
        </tr>
        @if (Model.Is_Nucleus == true)
        {
            <tr>
                <td colspan="4"><br /></td>
            </tr>
            <tr>
                <td colspan="4">
                    <strong>
                        APPLY FOR NUCLEUS-40(ENGINEERING / MEDICAL) (ONLY FOR CLASS-XI APPLICANT)
                    </strong>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>
                        (NUCLEUS-40/ N40 is a special batch of ODM, where we select only 40 students each for Engineering & Medical
                        focused preparation. The batch is made to ensure that the students get integrated preparation from the top coaching
                        faculties along with provision of advanced materials and special support system. Only the top-performing students in
                        OSAT, will qualify for this batch)
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <strong>INTERESTED TO APPLY FOR THE NUCLEUS 40 BATCH?</strong>&nbsp;<strong>@(Model.admissionStudentStandard.Nucleus == true ? "Yes" : "No")</strong>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Academic Details</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Name of the school last attended/currently attending</strong></td>
            <td colspan="2">@(Model.admissionStudentAcademic==null?"":Model.admissionStudentAcademic.OrganizationName)</td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>@(Model.admissionStudentAcademic == null ? "" : Model.admissionStudentAcademic.CountryId)</td>
            <td><strong>State</strong></td>
            <td>@(Model.admissionStudentAcademic == null ? "" : Model.admissionStudentAcademic.StateId)</td>
        </tr>
        <tr>
            <td><strong>City</strong></td>
            <td>@(Model.admissionStudentAcademic == null ? "" : Model.admissionStudentAcademic.CityId)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Reason for change</strong></td>
            <td colspan="3">@(Model.admissionStudentAcademic == null ? "" : Model.admissionStudentAcademic.ReasonForChange)</td>

        </tr>
        <tr>
            <td colspan="2"><strong>Aggregate Percentage / Grade in the last examination</strong></td>
            <td colspan="2">@(Model.admissionStudentAcademic == null ? "" : Model.admissionStudentAcademic.AggregatePercentageOrGrade)</td>

        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Proficiency Details</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>PLEASE PROVIDE DETAILS OF ACHIEVEMENTS(EVIDENCE IN SUPPORT OF PERFORMANCE)</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td><strong>Sports</strong></td>
            <td colspan="3">@(Model.admissionStudentProficiency==null?"":Model.admissionStudentProficiency.Sports)</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Performing ARTS , MUSIC, DANCE , DEBATES , ETC</strong></td>
            <td colspan="2">@(Model.admissionStudentProficiency == null ? "" : Model.admissionStudentProficiency.PerformingArts)</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Position or responsibility held in school or community</strong></td>
            <td colspan="2">@(Model.admissionStudentProficiency == null ? "" : Model.admissionStudentProficiency.PositionHeld)</td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Parents Details</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>Father Details</strong></td>
            <td colspan="2" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>Mother Details</strong></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="@(Model.admissionStudentFather==null?"https://ssl.gstatic.com/accounts/ui/avatar_2x.png":Model.admissionStudentFather.Image)" style="width:150px;height:160px;" />
            </td>
            <td colspan="2">
                <img src="@(Model.admissionStudentMother==null?"https://ssl.gstatic.com/accounts/ui/avatar_2x.png":Model.admissionStudentMother.Image)" style="width:150px;height:160px;" />

            </td>
        </tr>
        <tr>
            <td><strong>Father's Name</strong></td>
            <td>@(Model.admissionStudentFather==null?"":Model.admissionStudentFather.FullName)</td>
            <td><strong>Mother's Name</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.FullName)</td>
        </tr>
        <tr>
            <td><strong>Profession/Occupation</strong></td>
            <td>@(Model.admissionStudentFather == null ? "" : Model.admissionStudentFather.ProfessionTypeId)</td>
            <td><strong>Profession/Occupation</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.ProfessionTypeId)</td>
        </tr>
        <tr>
            <td><strong>Organization</strong></td>
            <td>@(Model.admissionStudentFather == null ? "" : Model.admissionStudentFather.Company)</td>
            <td><strong>Organization</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.Company)</td>
        </tr>
        <tr>
            <td><strong>Mobile Number</strong></td>
            <td>@(Model.admissionStudentFather == null ? "" : Model.admissionStudentFather.PrimaryMobile)</td>
            <td><strong>Mobile Number</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.PrimaryMobile)</td>
        </tr>
        <tr>
            <td><strong>Alternative Mobile No</strong></td>
            <td>@(Model.admissionStudentFather == null ? "" : Model.admissionStudentFather.AlternativeMobile)</td>
            <td><strong>Alternative Mobile No</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.AlternativeMobile)</td>
        </tr>
        <tr>
            <td><strong>Email ID</strong></td>
            <td>@(Model.admissionStudentFather == null ? "" : Model.admissionStudentFather.EmailId)</td>
            <td><strong>Email ID</strong></td>
            <td>@(Model.admissionStudentMother == null ? "" : Model.admissionStudentMother.EmailId)</td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Transportation Details</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Interested for the school transportation?</strong></td>
            <td colspan="2"><strong>@(Model.admissionStudentTransport==null?"":(Model.admissionStudentTransport.IsTransport==true?"Yes":"No"))</strong></td>
        </tr>
        <tr>
            <td colspan="2"><strong>Your Location Area</strong></td>
            <td colspan="2">@(Model.admissionStudentTransport == null ? "" : Model.admissionStudentTransport.LocationId)</td>

        </tr>
        <tr>
            <td colspan="2"><strong>Apprrox Distance From The School(in KM)</strong></td>
            <td colspan="2">@(Model.admissionStudentTransport == null ? "" : Model.admissionStudentTransport.Distance.ToString())</td>

        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Contact Person In Case Of Emergency</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td>
                <strong>Name</strong>
            </td>
            <td>@(Model.admissionStudentEmergency==null?"":Model.admissionStudentEmergency.FullName)</td>
            <td>
                <strong>Contact Number</strong>
            </td>
            <td>@(Model.admissionStudentEmergency == null ? "" : Model.admissionStudentEmergency.Mobile)</td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Contact Person For All Official Communications</strong>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Name</strong>
            </td>
            <td>@(Model.admissionStudentOfficial == null ? "" : Model.admissionStudentOfficial.FullName)</td>
            <td>
                <strong>Contact Number</strong>
            </td>
            <td>@(Model.admissionStudentOfficial == null ? "" : Model.admissionStudentOfficial.Mobile)</td>
        </tr>
        <tr>
            <td>
                <strong>Email ID</strong>
            </td>
            <td>@(Model.admissionStudentOfficial == null ? "" : Model.admissionStudentOfficial.EmailId)</td>
            <td>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>References (details of two person who can refer you)</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>1st Person</strong></td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "":Model.admissionStudentReference.ToList()[0].FullName)</td>
            <td><strong>Occupation</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[0].ProfessionTypeId)</td>

        </tr>
        <tr>
            <td><strong>Mobile Number</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[0].Mobile)</td>
            <td><strong>Address</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[0].Address)</td>

        </tr>
        <tr>
            <td><strong>Pin Code</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[0].Pincode)</td>
            <td><strong>Country</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[0].CountrytId)</td>

        </tr>
        <tr>
            <td colspan="4" style="font-size:24px;font-weight:600; border-bottom:1px solid black;"><strong>2nd Person</strong></td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].FullName)</td>
            <td><strong>Occupation</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].ProfessionTypeId)</td>

        </tr>
        <tr>
            <td><strong>Mobile Number</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].Mobile)</td>
            <td><strong>Address</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].Address)</td>

        </tr>
        <tr>
            <td><strong>Pin Code</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].Pincode)</td>
            <td><strong>Country</strong></td>
            <td>@(Model.admissionStudentReference.Count == 0 ? "" : Model.admissionStudentReference.ToList()[1].CountrytId)</td>

        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Declaration : By the parents or guardian</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                I certify that the information furnished in this form is true to the best of my knowledge and belief. Incorrect
                Information, if provided in this application can jeopardize selection & enrollment of my child. I have gone through the
                prospectus and only after being convinced. I want to get my Son&nbsp;
                <input class="childType" type="checkbox" name="IsSon" checked="@(Model.admissionStudentDeclaration==null?false:Model.admissionStudentDeclaration.IsSon)" id="chkSon" disabled /> Daughter&nbsp;
                <input type="checkbox" class="childType" name="IsDuaghter" checked="@(Model.admissionStudentDeclaration==null?false:Model.admissionStudentDeclaration.IsDuaghter)" id="chkDaughter" disabled />admitted in class
                @(Model.admissionStudentDeclaration == null ? "" : Model.admissionStudentDeclaration.StudentName).<br /><br />I
                @(Model.admissionStudentDeclaration == null ? "" : Model.admissionStudentDeclaration.ParentName)<br />
                father
                <input type="checkbox" name="IsFather" checked="@(Model.admissionStudentDeclaration==null?false:Model.admissionStudentDeclaration.IsFather)" class="checkParent" id="chkFather" /> mother
                <input type="checkbox" name="IsMother" checked="@(Model.admissionStudentDeclaration==null?false:Model.admissionStudentDeclaration.IsMother)" class="checkParent" id="chkMother" /> guardian
                <input type="checkbox" name="IsGuardian" checked="@(Model.admissionStudentDeclaration==null?false:Model.admissionStudentDeclaration.IsGuardian)" class="checkParent" id="chkGuardian" /> of

                do hereby declare that I will cooperate with the school management by the following the instructions of the authorities in terms
                of financial,academic,& administrative policies from time to time.<br />
                I will abide by the decisions of the management if taken against my child for deviation of any rules & regulation of
                the school/hostel.
                <div>
                    <span style="font-weight:600;">Note: Dear Parents, Kindly Upload a photo of your signature</span>
                </div>
            </td>

        </tr>
        <tr>
            <td colspan="4">
                <strong>Signature of fathers/mother/guardian</strong>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <img src="@(Model.admissionStudentDeclaration == null ? "": Model.admissionStudentDeclaration.SignatureFileName)" style="width:200px;height:70px;" />
            </td>
        </tr>
    </table>

</body>
</html>