﻿
@model IEnumerable<string>

@{
    ViewData["Title"] = "TablesName";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TablesName</h2>

<ul>
    @foreach (var i in Model)
    { 
        <li>@i</li>
    }
</ul>

