﻿@model IEnumerable<OdmErp.ApplicationCore.Entities.Scholarship>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        /* height: 90%;*/
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        /*height: 99%;*/
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 300px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #aaa;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
        
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #1cc88a;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sweet-alert {
        top: 25% !important;
    }
</style>
<script src="~/js/jquery-3.5.1.min.js"></script>
@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Scholarship</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Scholarship</h1>


                </div>
                <div class="justify-content-between card-header bg-white">

                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="EditData()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk btn-outline-success mr-4" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                    <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk btn-outline-success mr-4" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4" onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span class="count_selectedrows btn-outline-success mr-4"></span>
                    <input type="hidden" value="" id="hdnStatus" />
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                       data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                   
                </div>
                @*<div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/StudentPayment/downloadFeesTypeApplicableSample">Click Here</a>
                        </div>
                    </div>*@
                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th class="h6 mb-0 text-gray-800 font-weight-bold ">
                                                <label class="container" style="width: 0px;margin-left: 46%;">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Description</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/Scholarship/downloadScholarshipSample">Click Here</a>
                            </div>
                           
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles();" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Scholarship</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                    <input type="hidden" />

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Name <Span style="color:red;"> *</Span></label>
                        <input class="form-control txt_name" id="txt_name" />
                        <span class="text-danger txt_name_validation" id="txtNameValid"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Description</label>
                        <textarea class="form-control txt_description" style="height:100px;" id="txt_description"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    @*<div class="form-group" id="hideStatus">
                        <label class="control-label font-weight-bold">IsActive</label>
                        <input id="chk_Active" type="checkbox" checked style="" />
                    </div>*@
                <div class="form-group modal-footer"style="border-top: 0px solid #e3e6f0;">
                    <button type="button" id="btn_saveupdate1" data-dismiss="modal" onclick="SaveData1()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-times" ></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>
                    @*<button type="button" id="mclose1" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>CLOSE</button>*@
                    &nbsp;&nbsp;
                    <button type="button" id="btn_saveupdateqq" onclick="SaveData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check" ></i><span id="btn_saveupdate">&nbsp;  SAVE&nbsp;&nbsp;</span></button>
                </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}

<script>
    function uploadFiles() {
        //debugger;
        $('#divloader').fadeIn();
        var formData = new FormData();
        var totalFiles = document.getElementById("file").files.length;
        var file = document.getElementById("file").files[0];
        formData.append("file", file);

        $.ajax(
            {
                url: "../Scholarship/UploadScholarship",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    // debugger;
                   // $("#divloader").hide();
                    $('#divloader').fadeOut();
                    if (data == "Excel uploaded successfully") {
                        //swal({
                        //    title: "Bulk Upload",
                        //    text: data,
                        //    icon: "success"
                        //})
                        swal({ title: "Scholarship", text: data, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                       
                    }
                    else {
                        $('#divloader').fadeOut();
                        swal({
                            title: "Bulk Upload",
                            text: data,
                            icon: "error"
                        })
                    }
                }
  
            });
        
        // $('#divloader').fadeOut();
    }



    $(document).ready(function () {
        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');
        $('#hideStatus').show();
        var Ids = [];

    });

    function EditData() {
        debugger;
        var id = "";
        $('input[name="tableCheck"]:checked').each(function () {
            id = $(this).val();
        });
        $('#btn_saveupdate').html("");
        $('#hideStatus').hide();
        $('#btn_saveupdate').text('UPDATE');
        $('#myModalLabel2').text('Edit Scholarship');
        $.ajax({
            url: '../Scholarship/CreateOrEditScholarship/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                debugger;
                $('#txt_description').val(data.description);
                $('#txt_name').val(data.name);
                $('#hdn_id').val(data.id);

                if (data.status == "ACTIVE") {
                    $('#chk_Active').prop('checked', true);

                }
                else {
                    $('#chk_Active').prop('checked', false);
                }

            }
        });
    }


    $(document).on('click', '.page-link', function () {
        debugger;

        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');
        Ids = [];
        $("#ckbCheckAll").prop("checked", false);

        $('.count_selectedrows').text(0 + ' Selected');
    });
    $('#ckbCheckAll').click(function () {
        if ($(this).prop("checked")) {
            $(".chk_checkbox").prop("checked", true);
            $("input:checkbox[name=tableCheck]:checked").each(function () {
                var id = this.value;
                var count = $('#dataTable').find(".chk_checkbox:checked").length;
                $('.count_selectedrows').text(count + ' Selected');
                var value = $(this).data("active");
                Ids.push(value);
                $('.edit_lnk').addClass('disabled');
                var FirstVal = Ids[0];
                for (var j = 0; j < Ids.length; j++) {

                    if (Ids[j] == FirstVal) {
                        if (FirstVal == "ACTIVE") {
                            $('.Acitve_lnk').addClass('disabled');
                            $('.Deacitve_lnk').removeClass('disabled');
                        }
                        else {
                            $('.Acitve_lnk').removeClass('disabled');
                            $('.Deacitve_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.Deacitve_lnk').addClass('disabled');
                        $('.Acitve_lnk').addClass('disabled');
                    }
                }

            });
        } else {
            $(".chk_checkbox").prop("checked", false);
            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');
            $('.Deacitve_lnk').addClass('disabled');
            $('.Acitve_lnk').addClass('disabled');
            $('.edit_lnk').addClass('disabled');
            $('.count_selectedrows').html("");
        }
    });

    var Ids = [];
    $(document).on('change', '.chk_checkbox', function () {
        debugger;
        var id = this.value;
        var value = $(this).data("active");

        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        $('.count_selectedrows').text(count + ' Selected');

        if (this.checked == true) {
            Ids.push(value);

        }
        else {

            Ids.splice($.inArray(value, Ids), 1);

        }
        if (count == 1) {
            if (Ids[0] == "ACTIVE") {
                $("#hdnStatus").val(id);


                $('.Acitve_lnk').addClass('disabled');
                $('.Deacitve_lnk').removeClass('disabled');
            }
            else {
                $("#hdnStatus").val(id);
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').removeClass('disabled');
            }
            $('.edit_lnk').removeClass('disabled');

        }
        else if (count > 1) {
            $('.edit_lnk').addClass('disabled');
            var FirstVal = Ids[0];
            for (var j = 0; j < Ids.length; j++) {

                if (Ids[j] == FirstVal) {
                    if (FirstVal == "ACTIVE") {
                        $('.Acitve_lnk').addClass('disabled');
                        $('.Deacitve_lnk').removeClass('disabled');
                    }
                    else {
                        $('.Acitve_lnk').removeClass('disabled');
                        $('.Deacitve_lnk').addClass('disabled');
                    }

                }
                else {
                    FirstVal = "";
                    $('.Deacitve_lnk').addClass('disabled');
                    $('.Acitve_lnk').addClass('disabled');
                }
            }

        }
        else {
            $('.edit_lnk').addClass('disabled');
            $('.Deacitve_lnk').addClass('disabled');
            $('.Acitve_lnk').addClass('disabled');
            $("#ckbCheckAll").prop("checked", false);
            $('.count_selectedrows').html("");
        }
    });
    function SaveData() {
        debugger;
        if ($('#btn_saveupdate').text().trim() == 'SAVE') {
            var Name = $('#txt_name').val();
            //var checkval = "DEACTIVE";
            //if ($('#chk_Active').is(':checked')) {
            //    checkval = "ACTIVE";
            //}
            if (Name == '') {
                $("#txtNameValid").text("Please Enter Name");

                $('#txt_name').focus();
            }
            else {

                var scholarship = {
                    Active: '1',
                    Description: $('#txt_description').val(),
                    ID: '1',
                    InsertedDate: '01-01-2020',
                    InsertedId: '1',
                    IsAvailable: '1',
                    ModifiedDate: '01-01-2020',
                    ModifiedId: '1',
                    Name: $('#txt_name').val(),
                    ReturnMsg: 'msg',
                    Status: "ACTIVE"

                };


                $.ajax({
                    url: "../Scholarship/SaveOrUpdateScholarship",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'scholarship': scholarship },
                    dataType: 'json',
                    // async: false,


                    success: function (response) {
                        debugger;

                        $('#mclose').click();
                        if (response.returnMsg == response.name + " already Exists !!!") {
                            swal({
                                text: response.returnMsg,
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }
                        else {
                            swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                        }


                        Reset();
                        // Refresh();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: "Page not Found",
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }
                        else {
                            swal({
                                text: "Some Error occure.",
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }
                    }
                });
            }
        }
        else {

            var checkval = "INACTIVE";
            if ($('#chk_Active').is(':checked')) {
                checkval = "ACTIVE";
            }
            var scholarship = {
                Active: '1',
                Description: $('#txt_description').val(),
                ID: $('#hdn_id').val(),
                InsertedDate: '01-01-2020',
                InsertedId: '1',
                IsAvailable: '1',
                ModifiedDate: '01-01-2020',
                ModifiedId: '1',
                Name: $('#txt_name').val(),
                ReturnMsg: 'msg',
                Status: checkval

            };

            if (Name == '') {
                $("#txtNameValid").text("Please Enter Name");

                $('#txt_name').focus();
            }
            else {
                $.ajax({
                    url: "../Scholarship/Update",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'scholarship': scholarship },
                    dataType: 'json',
                    // async: false,


                    success: function (response) {
                        // debugger;
                        $('#mclose').click();
                        if (response.returnMsg == response.name + " already Exists !!!") {
                            swal({
                                text: response.returnMsg,
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }
                        else {
                            swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        Reset();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: "Page not Found",
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }
                        else {
                            swal({
                                text: "Some Error occure.",
                                icon: 'failure',
                                title: 'Scholarship'
                            });
                        }

                    }
                });
            }
        }
    }
    function Reset() {
        $('#txt_name').val('');
        $('#txt_description').val('');
    }
    function Refresh() {
        window.location.reload();
    }
    function CreateData() {
        $('#myModalLabel2').text('Add Scholarship');
       // $('#btn_saveupdate').text('SAVE');
        $("#txt_name").val("");
        $("#txt_description").val("");
        $("#txtNameValid").text("");
        $('#chk_Active').prop('checked', true);
    }
    function resetmsg() {
        $('.txt_name_validation').text('');
    }
    function ActiveLink() {
        debugger;
        var ids = [];
        var status = "ACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../Scholarship/ActiveDeactiveScholarship',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }
    function DeactiveLink() {
        debugger;
        var ids = [];
        var status = "INACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../Scholarship/ActiveDeactiveScholarship',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $("#dataTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Scholarship/LoadData",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [

                {
                    "render": function (data, type, full, meta) { return '  <label class="container" style="width:0px!important"><input type="checkbox" name="tableCheck" data-active="' + full.status + '" value="' + full.id + '" class="chk_checkbox"><span class="checkmark"></span></label>'; }, "orderable": false, "targets": 0
                },
                {
                    data: 'name'
                },
                {
                    data: 'description'
                },
                { data: 'status' },
            ]
        });
    });
</script>


