﻿
@{
    ViewData["Title"] = "StudentScholarshipApproval";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<style>
    /*CheckBox*/
    .form-group {
        display: block;
        margin-bottom: 0px;
        margin-top: 5px;
    }

        .form-group input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        .form-group label {
            position: relative;
            cursor: pointer;
        }

            .form-group label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid #0079bf;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 5px;
            }

        .form-group input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            width: 6px;
            height: 14px;
            border: solid #0079bf;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

    .gridStyle {
        font-size: 15px;
        border: 2px solid;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 5px;
        padding: 5px;
        font-weight: 400;
    }

    a.disabled {
        pointer-events: none;
    }
</style>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .close1 {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal-title {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 80px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #aaa;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sweet-alert {
        top: 25% !important;
    }

    .feeTypeDiv {
        border: 2px solid;
        cursor: pointer;
        width: 100%;
        height: 60px;
        padding: 2%;
        margin: 7px 4px 4px 0px;
        background-color: #827c7c;
        color: white;
        font-weight: 600;
    }

    /*.tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;*/
    /* Position the tooltip */
    /*position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }*/
    a:hover {
        /*color: #1e1e1f;*/
        text-decoration: none;
        font-weight: 500;
    }

    .scholarshipDiv {
        color: #fbfffb;
        font-size: 19px;
        border: 3px solid;
        padding: 10% 11% 13% 9%;
        width: 80%;
        background-color: green;
    }
</style>
<style>

    #BindMenuD::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuD::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuD::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }

    #BindMenuData1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData1::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }

    #BindMenuData2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData2::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }



    .scrollbar {
        /*  margin-left: 30px;*/
        float: left;
        max-height: 450px;
        width: 100%;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 25px;
    }

    .force-overflow {
        min-height: 450px;
    }

    .feeTypeDiv {
        border: 2px solid;
        cursor: pointer;
        width: 100%;
        height: 60px;
        padding: 2%;
        margin: 3px 3px 0px 0px;
        background-color: #827c7c;
        color: white;
        font-weight: 600;
    }
</style>

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Student Scholarship Approval</li>
            </ol>
        </nav>
    </div>
    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">StudentScholarship Approvals </h1>
                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                        <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk" data-toggle="modal" data-target="#myModal2" onclick="EditData()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                        <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                        <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span class="count_selectedrows"></span>
                    <input type="hidden" value="" id="hdnStatus" />
                </div>
                <div class="justify-content-between card-header bg-white">
                    <div class="row" style="">
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold">Session *</label>
                            <select class="form-control" id="ddl_session">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Organization</label>
                            <select class="form-control" id="ddl_Organization">
                                @*<option value="0">Select Organization</option>*@
                            </select>
                        </div>
                        <!--<div class="col-md-2">
                            <label class="control-label">Wing</label><br />
                            <select class="form-control" id="ddl_wing">-->
                                @*<option value="0">Select Wing</option>*@
                            <!--</select>
                        </div>-->
                        <div class="col-md-2">
                            <label class="control-label">Board</label><br />
                            <select class="form-control" id="ddl_board">
                                <option value="0">Select Board</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Class</label><br />
                            <select class="form-control" id="ddl_class" style="width:100%" ;>
                                <option value="0">Select Class</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="justify-content-between card-header bg-white">
                    <div class="row" style="margin-left: 6px;">

                        @*<select class="form-control" id="ddl_SessionValue" style="width: 20% !important; margin-bottom: -1px; color: #fcfcfc; background-color: #8097d8; border-radius: 0px;">
                        </select>*@

                        <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btnSelectAll" style="color: white;background-color: #2e4fab;width: 150px; margin-left:10px;" id="btnSelectAll" onclick="SelectAllClick()"> Select All </a>
                        <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btnApprove" style="color: white;background-color: #0079bf;width: 150px; margin-left:10px;" id="btnApprove" onclick="ApproveClick()"> Approve </a>
                        <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btnReject" style="color: white;background-color: #ce4e4e;width: 150px; margin-left:10px;" data-toggle="modal" data-target="#myModal4" id="btnReject" onclick="RejectClick()"> Reject </a>

                    </div>
                </div>



                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        <div class="card-body">
                            <div id="bindMenuData">
                                @*<div class="row gridStyle">

                                        <div class="col-md-1 form-group">
                                            <input type="checkbox" class="chk_checkbox" data-active="" id="html">
                                            <label for="html"></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    Student Name : <span> santanu Kumar Jena</span>
                                                </div>
                                               
                                                <div class="col-md-7">
                                                    Scholarship Discount Name : 100% Discount
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    Added Date: 09-oct-2020 10.15AM
                                                </div>
                                                <div class="col-md-7">
                                                    Approved On: 09-oct-2020 10.20AM
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            PENDING
                                        </div>
                                        <div class="col-md-1">
                                            <i class="fa fa-eye"></i>
                                        </div>

                                    </div>*@
                                @*<div class="row gridStyle">
                                        <div class="col-md-2 form-group">
                                            <input type="checkbox" class="chk_checkbox" data-active="" id="new">
                                            <label for="new"></label>
                                        </div>
                                        <div class="col-md-2">
                                            2020-2021
                                        </div>
                                        <div class="col-md-5">
                                            session Scholarship
                                        </div>
                                        <div class="col-md-3">
                                            <a style="color:red">Reject</a>
                                        </div>
                                    </div>*@
                            </div>

                        </div>

                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal right fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Reject Scholarship</h4>
                    <button type="button" id="mclose4" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                    <input type="hidden" />

                    <div class=" divSessionScholarshipDDL" id="divSessionScholarshipDDL">
                        <label class="control-label1">Reason for Reject<span style="color:red;">*</span></label>
                        <textarea class="form-control txt_description txt_rejectedReason" style="height:100px;" id="txt_rejectedReason"></textarea>
                        <span class="text-danger rejectedReasonError"></span>
                    </div>




                    <div class="form-group" style="margin-left:80%">
                        <button type="button" id="btn_saveupdate" onclick="SaveData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                    @*</form>*@
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <div class="modal right fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document" style="width: 65%; max-width: none;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Scholarship Details</h4>
                    <button type="button" id="mclose1" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body" style="font-size:15px;">

                    <input type="hidden" />
                    <div class="row" style="margin-left:2px;">
                        <div class="col-md-10">

                            <div class="row">
                                session :<span id="sessionId"></span>
                            </div>
                            <div class="row">
                                Name : <span id="schlorshipName"></span>
                            </div>
                            <div class="row">
                                Added On : <span id="addedOn"></span>
                            </div>
                            <div class="row">
                                Sent For Approval On : <span id="sentForApproval"></span>
                            </div>
                            <div class="row" id="rejectOrApproveId">

                            </div>

                            <div class="row">
                                Sent By : <span id="sentBy"></span>
                            </div>
                            <div class="row" id="rejectAppprobeBy">

                            </div>

                        </div>
                        <div class="col-md-2" id="approvalStatus">

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuD" style="font-size:13px; border:2px solid;">
                            <div class="force-overflow" id="BindDiscountData" style="">

                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuData1" style="font-size: 12px;border: 2px solid; ">
                            <div class="force-overflow" id="BindFeeTypeData" style="">

                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuData2" style="font-size: 12px;border: 2px solid; ">
                            <div class="force-overflow" id="BindOrgData" style="">

                            </div>

                        </div>
                    </div>



                    <div class="form-group" style="margin-left:80%">

                    </div>

                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <input type="hidden" value="" id="hdnSessionId" />
}
<script src="~/js/sweetalert.min.js"></script>
<link href="~/js/sweet-alert.css" rel="stylesheet" />
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>*@
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        //debugger;
        $('.add_lnk').addClass('disabled');
        $.get('/Scholarship/AcademicSession', function (data) {
            if (data.length > 0) {
                $("#ddl_session").append('<option value="0">Select Session</option>');
                $("#ddl_Organization").append('<option value="0">  Select Oraganisation </option>');
                $("#ddl_wing").append('<option value="0">Select Wing</option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_session").append('<option value="' + item.id + '"> ' + item.displayName + ' </option>');
                });
            }
        });

        $.get('/Scholarship/GetBoardData', function (data) {
            debugger;
            $("#ddl_board").empty();
            if (data.length > 0) {
                // $("#ddl_board").append('<option value=" ">Select Session</option>');
                $("#ddl_board").append('<option value="0">Select Board </option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_board").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });


        $('#ddl_session').change(function () {
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');
            var AcademicSessionId = $(this).val();
            $('#ddl_Organization').empty();
            //$('#AcademicStandardId').empty();
            $.get('/Scholarship/GetOrganisationByAcademicSession', { AcademicSessionId: AcademicSessionId }, function (data) {
                if (data.length > 0) {
                    $("#ddl_Organization").append('<option value="0">  Select Oraganization </option>');
                    $.each(data, function (i, item) {
                        $("#ddl_Organization").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
           
        });


        $('#ddl_board').change(function () {
            //sum = 0;
            $('#ddl_class').empty();
            $.get('/PaymentCollectionType/GetClassByBoard', {sessionId: $('#ddl_session').val(), BoardId: $('#ddl_board').val(), OrganizationAcademicId: $('#ddl_session').val() }, function (data) {
                if (data.length > 0) {
                    $("#ddl_class").append('<option value="0">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#ddl_class").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });

        });
        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgacdid != 0) { $('#OraganisationAcademicId').val(orgacdid); }
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (standardid != 0) {
                            $("#AcademicStandardId").val(standardid);
                        }
                    }
                });
            }
        }


       

        $('#ddl_class').change(function () {
            debugger;
            var AcademicStandardId = $(this).val();
            //var AcademicStandardStreamId = 0;
            var sessionscholarshipValue = $('#ddl_session').val();
            //var sessionscholarshipValue = $('#ddl_session').val();
           
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');



            if (AcademicStandardId > 0) {
                $("#bindMenuData").html("");
                getdatabyId(AcademicStandardId, sessionscholarshipValue);
            }
            else {
                $("#bindMenuData").html("");
            }
        });


    });
    function getdatabyId(AcademicStandardId, sessionscholarshipValue) {
        $.get('/Scholarship/GetStudentScholarshipApproval', { 'ClassId': AcademicStandardId, 'sessionId': sessionscholarshipValue }, function (data) {
            debugger;
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var status = null;
                    var statusval = null;
                    var customedate = null;
                    if (data[i].approvedId == 0 && data[i].rejectedId == 0) {
                        status = '<div class="col-md-2" style="color:#ff0000;font-weight: 500;">Pending</div>';
                        statusval = "both";
                        customedate = 'Sent Date: ' + myDateFunction(data[i].sentdate);
                    }
                    else if (data[i].approvedId == 0 && data[i].rejectedId != 0) {

                        // status = '<div class="col-md-2 tooltip" style="margin-top:10px;color:red;" >' + ere + '<span class="tooltiptext">' + data[i].rejectedReason + '</span></div>';
                        status = '<div class="col-md-2" style="margin-top:10px;color:red;" ><a href="#" data-toggle="tooltip" title="' + data[i].rejectedReason + '">Rejected</a></div>';
                        statusval = "reject";
                        customedate = 'Rejected Date: ' + myDateFunction(data[i].rejectedDate);
                    }
                    else if (data[i].approvedId != 0 && data[i].rejectedId == 0) {
                        status = '<div class="col-md-2" style="color:#0079bf;font-weight: 500;">Approved</div>';
                        statusval = "approve";
                        customedate = 'Approved Date: ' + myDateFunction(data[i].approvedDate);
                    }
                    $("#bindMenuData").append('<div class="row gridStyle"><div class= "col-md-1 form-group" >' +
                        '<input type = "checkbox"  class= "chk_checkbox" name = "tableCheck" data-active="' + statusval + '" id = "' + data[i].studentScholarshipApproval + '" ><label for= "' + data[i].studentScholarshipApproval + '" ></label > </div > ' +
                        '<div class= "col-md-8" > <div class="row"><div class="col-md-5" >Student Name : <span>' + data[i].name + '</span></div>' +
                        '<div class="col-md-7">Scholarship Discount Name :<span> ' + data[i].scholarshipDiscountName + '</span> </div></div>' +
                        '<div class="row"><div class="col-md-5">Added Date: ' + myDateFunction(data[i].scholarshipAdddate) + ' </div >' +
                        '<div class="col-md-7">' + customedate + ' </div></div></div>' + status + '<div class= "col-md-1" style="margin-top: 10px;"><a data-toggle="modal" data-target="#myModal1" onclick="viewScholarshipDetails(' + data[i].studentScholarshipApproval + ')"><i class= "fa fa-eye" ></i></a></div ></div>');
                }
            }
            else {
                $("#bindMenuData").append('<div class="row gridStyle" >No Session Scholarship is not aasign to this session</div>');

            }
        });
    }
    function myDateFunction(date) {
        var date1 = new Date(date);
        //  var date = new Date();
        var d = date1.getDate();
        var m = date1.getMonth();
        m += 1;  // JavaScript months are 0-11
        var y = date1.getFullYear();
        var hours = date1.getHours();
        var minutes = date1.getMinutes();

        // Check whether AM or PM
        var newformat = hours >= 12 ? 'PM' : 'AM';

        // Find current hour in AM-PM Format
        hours = hours % 12;

        // To display "0" as "12"
        hours = hours ? hours : 12;
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var datenew = d + '-' + m + '-' + y + '  ' + hours + ':' + minutes + ' ' + newformat;
        return datenew;
    }

    function SelectAllClick() {
        debugger;

        $(".chk_checkbox").prop("checked", true);
        var Ids = [];
        var count = 0;
        var innercount = 0;
        $("input:checkbox[name=tableCheck]:checked").each(function () {

            var id = this.id;
            count = $('#bindMenuData').find(".chk_checkbox:checked").length;
            if (count == 0) {
                $('.btnApprove').addClass('disabled');
                $('.btnReject').addClass('disabled');
            }
            $('.count_selectedrows').text(count + ' Selected');
            var value = $(this).data("active");
            if (value != "both") {
                Ids.push(value);
                innercount++;
            }

        });

        var status = Ids => Ids.every(v => v === Ids[0]);
        var fdfd = status(Ids);
        if (fdfd == true) {
            if (Ids[0] == "approve") {
                $('.btnApprove').addClass('disabled');
                $('.btnReject').removeClass('disabled');
                // $("#hdnStatus").val("approve");
            }
            if (Ids[0] == "reject") {
                $('.btnApprove').removeClass('disabled');
                $('.btnReject').addClass('disabled');
                //  $("#hdnStatus").val("reject");
            }
        }
        else {
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');
        }
        if (count > innercount && Ids.length == 0) {
            $('.btnApprove').removeClass('disabled');
            $('.btnReject').removeClass('disabled');
            // $("#hdnStatus").val("reject");
        }
        else if (count == 0 && innercount == 0) {
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');
        }


    }

    function ApproveClick() {
        var idVal = [];
        $("input:checkbox[name=tableCheck]:checked").each(function () {
            var ids = this.id;
            idVal.push(ids);

        });
        swal({
            title: "Are you sure?",
            text: "Want to Approve the Student Scholarship!",
            type: "success",
            showCancelButton: true,
            content: "input",
            confirmButtonClass: "btn-success",
            confirmButtonText: "Yes, Approve it!",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        url: "../Scholarship/UpdateStudentScholarshipApproval",
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        data: { 'ids': idVal, 'ActiveStatus': 'approve' },
                        dataType: 'json',
                        // async: false,
                        success: function (response) {
                            debugger;

                            swal({ title: "Student Scholarship Approval", text: response.returnMsg, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                            // $('#mclose').click();
                            //Reset();
                            //Refresh();
                        },
                        failure: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status == 404) {
                                swal({
                                    text: "Page not found.",
                                    icon: 'failur',
                                    title: 'StudentScholarshipApproval'
                                });
                            }
                            swal({
                                text: "Some error occure.",
                                icon: 'failur',
                                title: 'StudentScholarshipApproval'
                            });
                        }

                    });
                }

            });

    }

    function SaveData() {
        debugger;
        var reason = $("#txt_rejectedReason").val().trim();
        if (reason == "") {
            $(".rejectedReasonError").text("Please enter reason for rejection");
            // return false;
        }
        else {
            $(".rejectedReasonError").html("");
            var idVal = [];
            $("input:checkbox[name=tableCheck]:checked").each(function () {
                var ids = this.id;
                idVal.push(ids);

            });
            $.ajax({
                url: "../Scholarship/UpdateStudentScholarshipApproval",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'ids': idVal, 'ActiveStatus': 'reject', 'Reason': reason },
                dataType: 'json',
                // async: false,
                success: function (response) {
                    debugger;

                    swal({ title: "Scholarship Approval", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                },
                failure: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        swal({
                            text: "Page not found.",
                            icon: 'failur',
                            title: 'Scholarship Approval'
                        });
                    }
                    swal({
                        text: "Some error occure.",
                        icon: 'failur',
                        title: 'Scholarship Approval'
                    });
                }

            });

        }
    }

    $(document).on('change', '.chk_checkbox', function () {
        debugger;
        var Ids = [];
        var count = 0;
        var innercount = 0;
        $("input:checkbox[name=tableCheck]:checked").each(function () {

            var id = this.id;
            count = $('#bindMenuData').find(".chk_checkbox:checked").length;
            if (count == 0) {
                $('.btnApprove').addClass('disabled');
                $('.btnReject').addClass('disabled');
            }

            var value = $(this).data("active");
            if (value != "both") {
                Ids.push(value);
                innercount++;
            }

        });
        $('.count_selectedrows').text(count + ' Selected');
        var status = Ids => Ids.every(v => v === Ids[0]);
        var fdfd = status(Ids);
        if (fdfd == true) {
            if (Ids[0] == "approve") {
                $('.btnApprove').addClass('disabled');
                $('.btnReject').removeClass('disabled');
            }
            if (Ids[0] == "reject") {
                $('.btnApprove').removeClass('disabled');
                $('.btnReject').addClass('disabled');
            }
        }
        else {
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');
        }
        if (count > innercount && Ids.length == 0) {
            $('.btnApprove').removeClass('disabled');
            $('.btnReject').removeClass('disabled');
        }
        else if (count == 0 && innercount == 0) {
            $('.btnApprove').addClass('disabled');
            $('.btnReject').addClass('disabled');
        }




    });
   
</script>

