﻿
@{
    ViewData["Title"] = "CreateNotice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.SchoolBellQ.Models.NoticeModel


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-area="SchoolBellQ" asp-action="Notice" asp-controller="Notice">School Notice</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>

<div class="row" style="margin-top:.3rem;margin-bottom:.5rem;">


    <div class="card bg-white col-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Create School Notice</h1>
        </div>
        <div class="card-body">
            <form action="SaveNotice" method="post">
                <div class="row">                   
                    <div class="col-md-12">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row form-group" style="border:2px solid #858796;padding-top: .5rem;">
                            <div class="col-md-3"><label style="color:darkblue;font-weight:bold;">Send To:</label></div>
                            <div class="col-md-3"><input type="radio" id="idradiotype" name="SendType" value="All" />&nbsp;All</div>
                            <div class="col-md-3"><input type="radio" id="idradiotype" name="SendType" value="Employee" />&nbsp;Employee</div>
                            <div class="col-md-3"><input type="radio" id="idradiotype" name="SendType" value="Student" />&nbsp;Student</div>
                           
                        </div>
                        <div class="row form-group" id="divemployegrp" style="border:2px solid #858796;padding-top: .5rem;">
                            <div class="col-md-2"><label style="color:darkblue;font-weight:bold;">Sub Types:</label></div>
                            <div class="col-md-2"><input type="radio" id="idradio_emp" name="Employee_SendTo" value="All" />&nbsp;All</div>
                            <div class="col-md-3"><input type="radio" id="idradio_emp" name="Employee_SendTo" value="Department" />&nbsp;Department</div>
                            <div class="col-md-2"><input type="radio" id="idradio_emp" name="Employee_SendTo" value="Group" />&nbsp;Group</div>
                            <div class="col-md-3"><input type="radio" id="idradiotype" name="Employee_SendTo" value="Organisation" />&nbsp;Organisation</div>
                        </div>
                        <div class="row form-group" id="divorganisationlist">
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Organisation</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" multiple id="Organisationid" name="Organisationid" style="width:100%;">
                                    @if (Model.organisationList != null)
                                    {
                                        <option value="0">All</option>
                                        @foreach (var a in Model.organisationList)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row form-group" id="divdepartmentlist">
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Departments</label>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" multiple id="Departmentid" name="Departmentid" style="width:100%;">
                                    @if (Model.departmentList != null)
                                    {
                                        <option value="0">All</option>
                                        @foreach (var a in Model.departmentList)
                                        {
                                            <option value="@a.ID">@a.OrganizationName @a.GroupName - @a.DepartmentName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row form-group" id="divgrouplist">
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Employee Group</label>
                            </div>
                            <div class="col-md-8">
                                <select id="" multiple name="EmployeeGroupid" class="form-control" style="width:100%;">
                                    <option value="0">All</option>
                                    @if (Model.groupList != null)
                                    {
                                        foreach (var a in Model.groupList)
                                        {
                                            <option value="@a.ID">@a.GroupName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="row form-group" id="divstudentgrp">
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Session</label>
                                <select asp-for="AcademicSessionId" class="form-control" style="width:100%;">
                                    <option value=" ">Select Session</option>
                                    @if (Model.academicSessions != null)
                                    {
                                        foreach (var a in Model.academicSessions)
                                        {
                                            <option value="@a.ID">@a.DisplayName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Organisation</label>
                                <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Wing</label>
                                <select asp-for="SchoolWingId" class="form-control" style="width:100%;"></select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Board</label>
                                <select asp-for="BoardId" class="form-control" style="width:100%;">
                                    <option value="  ">Select Board</option>
                                    @if (Model.boards != null)
                                    {
                                        foreach (var a in Model.boards)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Class</label>
                                <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                            </div>
                            <div class="col-md-4" id="divstream_class">
                                <label class="control-label font-weight-bold">Stream </label>
                                <select asp-for="AcademicStandarStreamdId" class="form-control" style="width:100%;">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Section </label>
                                <select asp-for="AcademicSectiondId" class="form-control" style="width:100%;">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label font-weight-bold">Student </label>
                                <select id="AcademicStudentId" multiple name="AcademicStudentId[]" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message" class="control-label"></label>
                            <textarea asp-for="Message" required class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="Notice" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" onclick="return btnchk()" id="btnsend" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Send</button>
                        </div>
                    </div>
                      
                    </div>
            </form>
        </div>
    </div>

</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#divallgrp').show();
        $('#divemployegrp').hide();
        $('#divstudentgrp').hide();
        $('#divdepartmentlist').hide();
        $('#divgrouplist').hide();
        $('#divorganisationlist').hide();        
        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='SendType']:checked").val();
            if (radioValue == "All") {
                $('#divemployegrp').hide();
                $('#divstudentgrp').hide();
                $('#divdepartmentlist').hide();
                $('#divgrouplist').hide();
                $('#divorganisationlist').hide();   
            }
            if (radioValue == "Employee") {
                $('#divstudentgrp').hide();
                $('#divemployegrp').show();
                $('#divdepartmentlist').hide();
                $('#divgrouplist').hide();   
                $('#divorganisationlist').hide(); 
            }
            
            if (radioValue == "Student") {
                $('#divemployegrp').hide();
                $('#divstudentgrp').show();
                $('#divdepartmentlist').hide();
                $('#divgrouplist').hide(); 
                $('#divorganisationlist').hide();
                $("input[name='Employee_SendTo']:checked") = false;
            }
           
           
        });

        $("input[type='radio']").click(function () {
            var radioValue = $("input[name='Employee_SendTo']:checked").val();
            if (radioValue == "All") {
                $('#divdepartmentlist').hide();
                $('#divgrouplist').hide();
                $('#divorganisationlist').hide();
            }
            if (radioValue == "Department") {

                $('#divgrouplist').hide();
                $('#divdepartmentlist').show();
                $('#divorganisationlist').hide();
            }
            if (radioValue == "Group") {
                $('#divdepartmentlist').hide();
                $('#divgrouplist').show();
                $('#divorganisationlist').hide();
            }
            if (radioValue == "Organisation") {
                $('#divorganisationlist').show();
                $('#divdepartmentlist').hide();
                $('#divgrouplist').hide();
              
            }
        });
      
    });
</script>
<script>
    function btnchk() {
        if ($("input[name='SendType']:checked").length == '0') {
            alert('Select Atleast One Types Category.');
            return false;          
        }
        if ($("input[name='SendType']:checked").val() == 'Employee') {
            if ($("input[name='Employee_SendTo']:checked").length == '0') {
                alert('Select Atleast One Employee SubTypes Category.');
                return false;
            }            
        }         
        //if ($("input[name='Employee_SendTo']:checked").val() == 'Department') {
        //    if ($('#Departmentid').val() == null && $('#Departmentid').val() =="" ) {
        //        alert('Select Department From DeparmentList.');
        //        return false;
        //    }
        //}
        
    }
</script>

<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>
<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/SchoolBellQ/TimeTable/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/TimeTable/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }

            })
            $.get('/SchoolBellQ/TimeTable/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectiondId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectiondId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });

        });
       
        $("#divstream_class").hide();      
        // Get section By Stream List

        $("#AcademicStandarStreamdId").change(function () {
            $('#AcademicSectiondId').empty();
            $.get('/SchoolBellQ/TimeTable/GetSectionByAcademicStandarStreamdId', { AcademicStandarStreamdId: $('#AcademicStandarStreamdId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSectiondId").append('<option value=" ">  All </option>');
                    $.each(data, function (i, item) {
                        $("#AcademicSectiondId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

       
        $("#AcademicSectiondId").change(function () {
            $('#AcademicStudentId').empty();
            $.get('/SchoolBellQ/TimeTable/GetStudentsByAcademicStandard', {
                AcademicSessionId: $('#AcademicSessionId').val(),
                AcademicStandardStreamId: $('#AcademicStandardStreamId').val(),
                OrganistionAcademicId: $('#OraganisationAcademicId').val(),
                BoardId: $('#BoardId').val(),
                BoardStandardId: $('#AcademicStandardId').val(),
                SchoolWingId: $('#SchoolWingId').val()
            }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStudentId").append('<option value="0">All</option>');
                    $.each(data, function (i, item) {
                        $("#AcademicStudentId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });

        });
    });
</script>
