﻿
@{
    ViewData["Title"] = "Notice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/RightSideModal.css" rel="stylesheet" />
@model IEnumerable<OdmErp.Web.Areas.SchoolBellQ.Models.NoticeDataModel>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">School Notice</li>
       
        </ol>
    </nav>
</div>

<!-- Page Heading -->

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white" style="margin-bottom:0rem;">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">School Notice</h1>
                @if (ViewBag.access == 1)
                {
                    <div>
                        <a asp-action="CreateNotice" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;New Notice</a>
                    </div>
                }
            </div>
            @*<div class="justify-content-between card-header bg-white" style="padding-top:0px;">
                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="ActivateGroup()"><i class="fas fa-trash"></i>&nbsp;<span style="color:forestgreen">Activate Notice</span></a>
                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="DeleteGroup()"><i class="fas fa-trash"></i>&nbsp;<span style="color:#980c0c">Deactivate Notice</span></a>
                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
              
            </div>*@
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Select All <input type="checkbox" id="chkCheckAll" /></th>*@
                                @if (ViewBag.roleId == 1)
                                {
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Type</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Sub Type</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                }
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Message</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Send On</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                     <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                         <tr>
                             @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
            <input type="checkbox" id="multicheckbox" name="" value="@item.ID" />
        </td>*@
                             @if (ViewBag.roleId == 1)
                             {
                                 <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                     @item.SendType
                                 </td>
                                 <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                     @item.SendSubType
                                 </td>
                                 <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.EmpName @item.StudentName">@item.EmpName @item.StudentName</td>
                             }
                             <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.Message">@item.Message</td>

                             <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.InsertedDate.ToString("dd-MMM-yyyy")">@item.InsertedDate.ToString("dd-MMM-yyyy")</td>

                             @if (item.Status == "ACTIVE")
                             {
                                 <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                     @item.Status
                                 </td>
                             }
                             else
                             {
                                 <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                     @item.Status
                                 </td>
                             }
                             <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                 <a title="View Message" data-toggle="modal" data-target="#myModal_@item.ID"><i class="far fa-eye text-success"></i></a>
                                 @*<a title="Delete" asp-action="DeleteNotice" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Notice?');"><i class="fas fa-trash"></i></a>*@

                                 <div class="modal right fade" id="myModal_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                     <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
                                         <div class="modal-content">
                                             <div class="modal-header">
                                                 <h5><span style="color:forestgreen;">School Notice Message </span></h5>
                                                 <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                             </div>
                                             <form action="SaveUserGroupEmployee" method="post">
                                                 <div class="modal-body">

                                                     <div class="row form-group">
                                                         <div class="col-sm-1"></div>
                                                         <div class="col-sm-10">
                                                             <b>@item.Message</b>
                                                         </div>
                                                     </div>

                                                 </div>
                                             </form>

                                         </div>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chkCheckAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });
    function Refresh() {
        window.location.reload();
    }
    function DeleteGroup() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });

        $.each(Ids, function (index, id) {
            //debugger;
            $.ajax({
                url: '/SchoolBellQ/Notice/DeactivateAllNotice/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {                    
                    Refresh();
                }
            });
        });
    }
    function ActivateGroup() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        $.each(Ids, function (index, id) {
            //debugger;
            $.ajax({
                url: '/SchoolBellQ/Notice/ActivateAllNotice/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    Refresh();
                }
            });
        });
    }
</script>