﻿
@{
    ViewData["Title"] = "ViewUserGroupEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.SchoolBellQ.Models.ResponseUserGroupModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-area="SchoolBellQ" asp-action="ViewUserGroup">Employee Group</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Employee Group Employee</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Employee Group Employee</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                       data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> Upload Excel</a>
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>
         
            <div class="card-body">

                @*<div class="form-group">                   
                    <label  class="control-label">Staus</label>
                    <select class="form-control" style="width:100%;">
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="INACTIVE">INACTIVE</option>
                    </select>
                   
                </div>*@


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Emp Code</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Employee</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Added On</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UserGrouplist != null)
                            {
                                foreach (var item in Model.UserGrouplist)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.EmployeeCode">@item.EmployeeCode</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.EmployeeName">@item.EmployeeName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.ModifiedDateText">@item.ModifiedDateText</td>
                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                @item.Status
                                            </td>
                                        }
                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a title="INACTIVE" asp-action="DeleteUserGroupEmployee" asp-route-id="@item.ID" asp-route-usergroupid="@item.UserGroupID" asp-route-status="@item.Status" onclick="return confirm('Are you sure you wish to Inactive this User Group?');"><i class="fas fa-lock"></i></a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a title="ACTIVE" asp-action="DeleteUserGroupEmployee" asp-route-id="@item.ID" asp-route-usergroupid="@item.UserGroupID" asp-route-status="@item.Status" onclick="return confirm('Are you sure you wish to Active this User Group?');"><i class="fas fa-unlock"></i></a>
                                            </td>
                                        }

                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

