﻿
@{
    ViewData["Title"] = "ViewUserGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/RightSideModal.css" rel="stylesheet" />
@model OdmErp.Web.Areas.SchoolBellQ.Models.ResponseUserGroupModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Employee Group</li>
        </ol>
    </nav>
</div>
<div class="modal right fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Employee Group</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveUserGroup" enctype="multipart/form-data" method="post">


                    <div class="form-group">
                        <label> Group  Name</label>
                        <input type="text" name="GroupName" required class="form-control font-weight-normal" />

                    </div>
                    <div class="form-group">
                        <label> Description</label>
                        <textarea type="text" name="Description" class="form-control font-weight-normal"></textarea>

                    </div>
                    <div class="form-group">
                        <label>Group Icon</label>
                        <input type="file" name="Icon" class="form-control font-weight-normal" />
                    </div>
                    <div class="form-group">

                        <label>Employee</label>
                        <input type="hidden" name="ID" value="0" class="form-control font-weight-normal" />


                        <select name="MultiEmployeeId[]" multiple class="form-control" style="width:100%;">
                            <option value=" ">Select Employee</option>
                            @if (Model.employeelist != null)
                            {
                                foreach (var a in Model.employeelist)
                                {
                                    <option value="@a.ID">@a.FirstName @a.LastName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadEmployeeGroup" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            Download  Sample Excel
                        </div>
                        <div class="col-md-6">
                            <a href="/SchoolBellQ/Notice/DownloadUserGroupample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            Upload  Excel
                        </div>
                        <div class="col-md-6">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row  center">
                        <div class="col-md-5"></div>
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Page Heading -->

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white" style="margin-bottom:0rem;">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Employee Group</h1>

                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                       data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> Upload Excel</a>
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>

            </div>
            <div class="justify-content-between card-header bg-white" style="padding-top:0px;">

                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="ActivateGroup()"><i class="fas fa-trash"></i>&nbsp;<span style="color:forestgreen">Activate Group</span></a>
                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="DeleteGroup()"><i class="fas fa-trash"></i>&nbsp;<span style="color:#980c0c">Deactivate Group</span></a>
                <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                <span class="count_selectedrows"></span>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Select All <input type="checkbox" id="chkCheckAll" /></th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Icon</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Group</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Employee Count</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Added On</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UserGrouplist != null)
                            {
                                foreach (var item in Model.UserGrouplist)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <input type="checkbox" id="multicheckbox" name="" value="@item.ID" />
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal"><img src="@(item.Imageicon!=null?item.Imageicon: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="icon" style="border-radius: 50%;"></td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.GroupName">@item.GroupName</td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.EmployeeCount
                                            @*<a title="Add Concept" asp-controller="Notice" asp-action="ViewUserGroupEmployee" asp-route-usergroupid="@item.ID">
                                                    <i class="fas fa-plus-circle text-success"></i>
                                                    View
                                                </a>*@
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.ModifiedDateText">@item.ModifiedDateText</td>

                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                @item.Status
                                            </td>
                                        }
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="View Employee" data-toggle="modal" data-target="#myModal_@item.ID"><i class="far fa-eye text-success"></i></a> |
                                            <a title="Delete" asp-action="DeleteUserGroup" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this User Group?');"><i class="fas fa-trash"></i></a>
                                            <div class="modal right fade" id="myModal_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document" style="width:730px;max-width:none;">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5><span style="color:forestgreen;"> @item.GroupName - Employee Group </span></h5>
                                                            <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <form action="SaveUserGroupEmployee" method="post">
                                                            <div class="modal-body">
                                                                <div style="height:560px;overflow: scroll;">
                                                                    <input type="hidden" value="@item.ID" name="usergroupid" />
                                                                    <div class="row form-group">
                                                                        <div class="col-sm-2">
                                                                            <label>Employee</label>
                                                                        </div>
                                                                        <div class="col-sm-5">
                                                                            <select name="MultiEmployeeId[]" multiple class="form-control" style="width:100%;">
                                                                                <option value=" ">Select Employee</option>
                                                                                @if (Model.employeelist != null)
                                                                                {
                                                                                    foreach (var a in Model.employeelist)
                                                                                    {
                                                                                        <option value="@a.ID">@a.FirstName  @a.LastName</option>
                                                                                    }
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-sm-1">
                                                                            <button type="submit" class="btn-sm btn-success">Add</button>
                                                                        </div>
                                                                        @if (item.Status == "ACTIVE")
                                                                        {
                                                                            <div class="col-sm-3">
                                                                                <a class="btn btn-primary" asp-action="DeleteUserGroup" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to Deactivate this Employee Group?');">Deactivate Group</a>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="col-sm-3">
                                                                                <a class="btn btn-success" asp-action="ActiveUserGroup" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to Activate this Employee Group?');">Activate Group</a>
                                                                            </div>
                                                                        }

                                                                    </div>

                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered" style="border:1px solid #858796" width="90%" cellspacing="0">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Emp Image</th>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Emp Code</th>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Employee</th>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Added On</th>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                                                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model.UserGroupEmployeelist != null)
                                                                                {
                                                                                    foreach (var item1 in Model.UserGroupEmployeelist.Where(z => z.UserGroupID == item.ID).ToList())
                                                                                    {
                                                                                        <tr>

                                                                                            <td>
                                                                                                <a data-toggle="modal" href="#myModalZoomImage_@item1.ID">
                                                                                                    <img id="profileimage" src="@(item1.EmployeeImage!=null?item1.EmployeeImage:"http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height: 49px;width: 40px;" />
                                                                                                </a>
                                                                                                <div class="modal fade small" id="myModalZoomImage_@item1.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                                    <div class="modal-dialog" role="document" style="width:500px;max-width:none;">
                                                                                                        <div class="modal-content">
                                                                                                            <div class="modal-body">
                                                                                                                @*<button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                                                                <img id="profileimage" src="@(item1.EmployeeImage!=null?item1.EmployeeImage:"http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="Employee Image" style="height: 500px;width: 500px;" />
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item1.EmployeeCode">@item1.EmployeeCode</td>
                                                                                            <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 150px; overflow: hidden;text-overflow: ellipsis;" title="@item1.EmployeeName @item1.EmployeeLastName">@item1.EmployeeName @item1.EmployeeLastName</td>
                                                                                            <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item1.ModifiedDateText">@item1.ModifiedDateText</td>

                                                                                            @if (item1.Status == "ACTIVE")
                                                                                            {
                                                                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                                                                    @item1.Status
                                                                                                </td>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                                                                    @item1.Status
                                                                                                </td>
                                                                                            }
                                                                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                                                                <a title="INACTIVE" asp-action="DeleteUserGroupEmployee" asp-route-id="@item1.ID" asp-route-usergroupid="@item1.UserGroupID" asp-route-status="INACTIVE" onclick="return confirm('Are you sure you wish to Delete this User Group?');"><i class="fas fa-trash"></i></a>

                                                                                            </td>


                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>

<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/sweetalert.min.js"></script>
<link href="~/js/sweet-alert.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#chkCheckAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });
    function Refresh() {
        window.location.reload();
    }
    function DeleteGroup() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });

        $.each(Ids, function (index, id) {
            //debugger;
            $.ajax({
                url: '/SchoolBellQ/Notice/DeactivateAllUserGroup/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {

                    ////if (data == 1) {
                    ////    swal({
                    ////        text: "Employee Group Deactivated Sucessfully.",
                    ////        type: "success",
                    ////        title: 'Employee Group'
                    ////    });
                    ////}
                    ////else {
                    ////    swal({
                    ////        text: response.returnMsg,
                    ////        icon: 'failure',
                    ////        title: 'Session Scholarship'
                    ////    });
                    ////}

                    //debugger;
                    Refresh();
                }
            });
        });
    }
    function ActivateGroup() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });

        $.each(Ids, function (index, id) {
            //debugger;
            $.ajax({
                url: '/SchoolBellQ/Notice/ActivateAllUserGroup/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    Refresh();
                }
            });
        });
    }
</script>
