﻿
@{
    ViewData["Title"] = "RegistrationOtp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentAdmissionDetails" asp-controller="BasicRegistration" asp-area="Admission">Registrations</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentRegistration" asp-controller="BasicRegistration" asp-area="Admission">New Registrations</a></li>

        </ol>
    </nav>
</div>

<div class="container">
    <div class="card">
        `
        <form action="ValidateRegistrationOfflineOtp" method="post">
            <div class="card tab-section" style="margin-top:.4rem">
                <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                    <div class="row">
                        <div class="col-6">
                            <span class="h6 mb-0 font-weight-bold text-white">Validate Otp</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" value="@ViewBag.LeadReferenceId" id="admId" name="LeadReferenceId" class="form-control font-weight-normal" />
                                <input type="hidden" value="@ViewBag.MobileNumber" name="Mobile" class="form-control font-weight-normal" />
                                <input type="hidden" value="@ViewBag.AdmissionId" name="AdmissionId" class="form-control font-weight-normal" />
                                <input type="hidden" id="otpId" name="otpId" value="@ViewBag.OtpId" />
                                <label class="control-label font-weight-bold">Enter OTP  <span style="color:red">*</span></label>
                                <input type="text" name="OtpNumber" required class="form-control font-weight-normal" maxlength="6" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57' /> 
                                <div>
                                    <span class="text-danger txtStudentOtp_validation"></span>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn  btn-danger">&nbsp;&nbsp; VALIDATE OTP AND NEXT&nbsp;&nbsp; </button>
                        <a onclick="resendOtp()" class="d-none d-sm-inline-block btn  btn-danger text-white">&nbsp;&nbsp; RESEND OTP&nbsp;&nbsp; </a>

                    </div>
                    <div class="form-group text-center">
                      
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
 
    function Refresh() {
        window.location.reload();
    }
    function sendOtp(data) {
       // console.log($("#otpId").val());       
        if ($("#otpId").val() != null && $("#otpId").val() == '0')
            sendOtp($("#admId").val());
    }
    function resendOtp(data) {
        $('#divloader').fadeIn(300);
        sendOtp($("#admId").val());
    }
    function sendOtp(data) {
        $.get('/Admission/BasicRegistration/SaveOtpAndSendMessage', {
            admId: data,           
        }, function (data) {           
                $("#otpId").val(data);
                $(".txtStudentOtp_validation").text("Otp Send Sucessfully..!!");
                $('#divloader').fadeOut(300);
        });
    }
</script>