﻿
@{
    ViewData["Title"] = "StudentRegistration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.BasicStudentModel

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">

                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentAdmissionDetails" asp-controller="BasicRegistration" asp-area="Admission">Registrations</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Create</li>

            </ol>
        </nav>
    </div>
<div class="container">
    <div class="card">       
        <form action="SaveStudentRegistration" method="post">
            <div class="card tab-section">
                <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                    <div class="row">
                        <div class="col-6">
                            <span class="h6 mb-0 text-white font-weight-bold">Student Registration</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label font-weight-bold">Session  <span style="color:red">*</span></label>
                                @if (ViewBag.Session != null)
                                {
                                    <select asp-for="AcademicSessionId" class="form-control">
                                        <option value=" ">Select Session</option>
                                        @foreach (var item in ViewBag.Session)
                                        {
                                            <option value="@item.ID">@item.DisplayName</option>
                                        }
                                    </select>
                                }
                                <span id="spanAcademicSessionId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label font-weight-bold">Source  <span style="color:red">*</span></label>
                                @if (ViewBag.AdmissionSource != null)
                                {
                                    <select asp-for="AcademicSourceId" class="form-control">
                                        <option value=" ">Select Source</option>
                                        @foreach (var item in ViewBag.AdmissionSource)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                }
                                <span id="spanAcademicSourceId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card tab-section" style="margin-top:.4rem">
                    <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 mb-0 font-weight-bold text-white">Student Details</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">First Name  <span style="color:red">*</span></label>
                                    <input type="text" asp-for="FirstName" required class="form-control font-weight-normal" maxlength="300" autocomplete="off" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Last Name  <span style="color:red">*</span></label>
                                    <input type="text" asp-for="LastName" required class="form-control font-weight-normal" maxlength="300" autocomplete="off" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="card tab-section" style="margin-top:.4rem">
                    <div class="card-header bg-light dashboard-tab" style="background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 mb-0 font-weight-bold text-white">Student Emergency Contact Details</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Name  <span style="color:red">*</span></label>
                                    <input type="text" asp-for="FullName" class="form-control font-weight-normal" maxlength="500" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Email Id  <span style="color:red">*</span></label>
                                    <input type="email" asp-for="EmailId" required class="form-control font-weight-normal" maxlength="300" />
                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Mobile  <span style="color:red">*</span></label>
                                    <input type="text" asp-for="Mobile" required onblur="checkmobile()" maxlength="10" class="form-control font-weight-normal" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                    <span asp-validation-for="Mobile" id="spanmobile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card tab-section" style="margin-top:.4rem">
                    <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 mb-0 text-white font-weight-bold">Student Academic Details</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Admission Sought For Class  <span style="color:red">*</span></label>
                                    <select class="form-control" asp-for="StandardId">
                                    </select>
                                    <span id="spanStandardId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">School Wing  <span style="color:red">*</span></label>
                                    <select class="form-control" asp-for="AcademicStandardWindId">
                                    </select>
                                    <span id="spanAcademicStandardWindId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            <div class="card tab-section" style="margin-top:.4rem">
                    <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 mb-0 text-white font-weight-bold">Interest In E-Counselling &amp; Campus Tour</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="margin: 0px;font-size: 14px;font-weight: bold;"><input type="checkbox" value="true" id="chkecounselling" name="chkecounselling" />&nbsp; Interested in E-Counselling</label>
                            </div>
                            <div class="col-md-12" id="divcounselling">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label font-weight-bold">Counselling Date</label>
                                        <select id="ddlcounsellingdate" name="counsellingdate" class="form-control">
                                        </select>
                                        <span class="text-danger ddlcounsellingdate_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label font-weight-bold">Counselling Slot</label>
                                        <select id="ddlcounsellingslot" name="counsellingslot" class="form-control">
                                        </select>
                                        <span class="text-danger ddlcounsellingslot_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:2px;"></div>
                            <div class="col-md-12">
                                <label style="margin:0px;font-size: 14px;font-weight: bold;"><input type="checkbox" value="true" id="chkcampustour" name="chkcampustour" />&nbsp; Interested in Campus-Tour</label>
                            </div>
                            <div class="col-md-12" id="divcampustour">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label font-weight-bold">Campus Tour Date</label>
                                        <select id="ddlcampustourdate" name="campustourdate" class="form-control">
                                        </select>
                                        <span class="text-danger ddlcampustourdate_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label font-weight-bold">Campus Tour Slot</label>
                                        <select id="ddlcampustourslot" name="campustourslot" class="form-control">
                                        </select>
                                        <span class="text-danger ddlcampustourslot_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:2px;"></div>
                        </div>


                        
                    </div>

                </div>


                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" onclick="return checkvalidation()" class="d-none d-sm-inline-block btn  btn-danger">&nbsp;&nbsp; SAVE AND NEXT&nbsp;&nbsp; </button>
                        </div>
                    </div>
                </div>
</form>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>

    function checkvalidation() {
        if ($('#AcademicSessionId').val() == " ") {
            //alert("Please Select Session");
            $('#spanAcademicSessionId').html('Please Select Session');
            return false;

        }
        if ($('#AdmissionSlotId').val() == " ") {
           // alert("Please Select Slot");
            $('#spanAdmissionSlotId').html('Please Select Slot');
            return false;

        }
        if ($('#AcademicSourceId').val() == " ") {
           // alert("Please Select Source");
            $('#spanAcademicSourceId').html('Please Select Source');
            return false;

        }
        if ($('#StandardId').val() == " ") {
            //alert("Please Select Class");
            $('#spanStandardId').html('Please Select Class');
            return false;
        }
        if ($('#AcademicStandardWindId').val() == " ") {          
            $('#spanAcademicStandardWindId').html('Please Select Wing');
            return false;
        }
        if ($('#chkecounselling').prop("checked")) {
            if ($('#ddlcounsellingdate').val() == "0") {
                $(".ddlcounsellingdate_validation").text("Please Select Counselling Date.")
                return false;
            }
            else {
                $(".ddlcounsellingdate_validation").html("")
            }
            if ($('#ddlcounsellingslot').val() == "0") {
                $(".ddlcounsellingslot_validation").text("Please Select Counselling Slot.")
                return false;
            }
            else {
                $(".ddlcounsellingslot_validation").html("")
            }
        }


        if ($('#chkcampustour').prop("checked")) {
            if ($('#ddlcampustourdate').val() == "0") {
                $(".ddlcampustourdate_validation").text("Please Select Campus Tour Date.")
                return false;
            }
            else {
                $(".ddlcampustourdate_validation").html("")
            }
            if ($('#ddlcampustourslot').val() == "0") {
                $(".ddlcampustourslot_validation").text("Please Select Counselling Slot.")
                return false;
            }
            else {
                $(".ddlcampustourslot_validation").html("")
            }
        }
        $.get('/Admission/BasicRegistration/MobileValidationBySessionWise', { AcademicSessionId: $('#AcademicSessionId').val(), Mobile: $('#Mobile').val() }, function (data) {
            if (data == 1) {
                $('#spanmobile').html("Mobile Number Is Duplicate.Please Validate Mobile Number");
                $('#Mobile').focus();
                $('#Mobile').val();
                return false;
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        $("#divcounselling").hide();
        $("#divcampustour").hide();
        $('#chkecounselling').change(function () {
            if ($('#chkecounselling').prop("checked")) {
                $("#divcounselling").show();
            }
            else {
                $("#divcounselling").hide();
            }
        })
        $('#chkcampustour').change(function () {
            if ($('#chkcampustour').prop("checked")) {
                $("#divcampustour").show();
            }
            else {
                $("#divcampustour").hide();
            }
        })
        $("#ddlcampustourdate").empty();
        $.get('/Admission/Student/GetCampusTourDateList', {}, function (data) {
            if (data.length > 0) {
                $("#ddlcampustourdate").append('<option value="0">Select Date</option>');
                $.each(data, function (i, item) {
                    $("#ddlcampustourdate").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });

        $("#ddlcounsellingdate").empty();
        $.get('/Admission/Student/GetEcounsellingDateList', {}, function (data) {
            if (data.length > 0) {
                $("#ddlcounsellingdate").append('<option value="0">Select Date</option>');
                $.each(data, function (i, item) {
                    $("#ddlcounsellingdate").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });

        $("#ddlcampustourdate").change(function () {
            if ($("#ddlcampustourdate").val() != '0') {
                $("#ddlcampustourslot").empty();
                $.get('/Admission/Student/GetCampustourSlotsList', { dateid: $("#ddlcampustourdate").val() }, function (data) {
                    if (data.length > 0) {
                        $("#ddlcampustourslot").append('<option value="0">Select Slot</option>');
                        $.each(data, function (i, item) {
                            $("#ddlcampustourslot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }

        })
        $("#ddlcounsellingdate").change(function () {
            if ($("#ddlcounsellingdate").val() != '0') {
                $("#ddlcounsellingslot").empty();
                $.get('/Admission/Student/GetEcounsellingSlotsList', { dateid: $("#ddlcounsellingdate").val() }, function (data) {
                    if (data.length > 0) {
                        $("#ddlcounsellingslot").append('<option value="0">Select Slot</option>');
                        $.each(data, function (i, item) {
                            $("#ddlcounsellingslot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }

        })




        $('#AcademicSessionId').change(function () {
            $('#StandardId').empty();
            $.get('/Admission/BasicRegistration/GetClassByAcademicSession1', { sessionid: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#StandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#StandardId").append('<option value="' + item.boardStandardId + '"> ' + item.boardClass + ' </option>');
                    });
                }
            });
        });
        $('#StandardId').change(function () {
            $('#AcademicStandardWindId').empty();
            $.get('/Admission/BasicRegistration/GetWingByBoardStandard', {
                BoardStandardId: $('#StandardId').val(),
            SessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardWindId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {
                        $("#AcademicStandardWindId").append('<option value="' + item.academicStandardWindId + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>
<script>
    function checkmobile() {
        $.get('/Admission/BasicRegistration/MobileValidationBySessionWise', { AcademicSessionId: $('#AcademicSessionId').val(), Mobile: $('#Mobile').val() }, function (data) {
            if (data == 1) {
                $('#spanmobile').html("Mobile Number Is Duplicate.Please Validate Mobile Number");
              
                $('#Mobile').focus();
                $('#Mobile').val();
                return false;
            }
        });
    }
</script>

