﻿
@{
    ViewData["Title"] = "StudentPaymentMode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .card-title {
        margin-bottom: -0.25rem;
    }
</style>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentAdmissionDetails" asp-controller="BasicRegistration" asp-area="Admission">Registrations</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.AdmissionId</li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Payment</li>

        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 font-weight-bold text-white">Student Payment Details</span>
                </div>
            </div>
        </div>       
        <form action="SaveStudentPaymentMode" method="post">
            <div class="card-body">
                <input type="hidden" value="@ViewBag.AdmissionId" name="AdmissionId" />
                @if (ViewBag.PaymentType != null)
                {
                    <div class="col-sm-5">
                        <div class="card" style="border: 1px solid #2f5358;">
                            <div class="card-header bg-#2f5358" style="background-color: #2f5358">
                                <h5 class="card-title text-white font-weight-bold">Payment Mode</h5>
                            </div>
                            <div class="card-body">

                                @foreach (var item in ViewBag.PaymentType)
                                {
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-1">
                                            <input type="radio" id="PaymentModeid" name="PaymentModeid" value="@item.ID" />
                                        </div>
                                        <div class="col-8">
                                            <label style="font-weight:bold;">@item.Name</label>
                                        </div>
                                    </div>
                                }

                            </div>
                            <span id="spanPaymentModeid" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="card tab-section" style="margin-top:.4rem">
                    <div class="card-header bg-light dashboard-tab" style=" background: linear-gradient(to right, #cc0000 31%, #ffffff 100%);">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 mb-0 font-weight-bold text-white">Transaction Details</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-4">
                                <label class="control-label font-weight-bold">Form Number <span style="color:red">*</span></label>
                            </div>
                            <div class="col-6">
                                <input type="text" id="FromNumber" name="FromNumber" class="form-control font-weight-normal" maxlength="20" autocomplete="off" />
                                <span id="spanFromNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="control-label font-weight-bold">Transaction Number <span style="color:red">*</span></label>
                            </div>
                            <div class="col-6">
                                <input type="text" id="TransNumber" name="TransNumber" class="form-control font-weight-normal" maxlength="20" autocomplete="off" />
                                <span id="spanTransNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label class="control-label font-weight-bold">Received Amount <span style="color:red">*</span></label>
                            </div>
                            <div class="col-6">

                                <select id="PaidAmount" name="PaidAmount" class="form-control">
                                    <option value="0">Select Amount</option>
                                    @if (ViewBag.AdmissionFees != null)
                                    {
                                        @foreach (var item in ViewBag.AdmissionFees)
                                        {
                                            <option value="@item.ID">@item.Ammount</option>
                                        }
                                    }
                                </select>
                                <span id="spanPaidAmount" class="text-danger"></span>
                            </div>

                        </div>


                        <div class="form-group row">
                            <div class="col-4">
                                <label class="control-label font-weight-bold">Received Date <span style="color:red">*</span></label>
                            </div>
                            <div class="col-6">
                                <input type="date" name="PaidDate" required class="form-control font-weight-normal" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label class="control-label font-weight-bold">Received BY <span style="color:red">*</span></label>
                            </div>
                            <div class="col-6">
                                @if (ViewBag.EmployeeList != null)
                                {
                                    <select id="ReceivedId" name="ReceivedId" class="form-control">
                                        <option value="0">Select Employee</option>
                                        @foreach (var item in ViewBag.EmployeeList)
                                        {
                                            <option value="@item.ID">@item.EmpCode - @item.FirstName @item.LastName</option>
                                        }
                                    </select>
                                }
                                <span id="spanReceivedId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="form-group text-center">
                                @*<a asp-action="StudentRegistration" asp-route-id="@ViewBag.AdmissionId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                                @*<a asp-action="ViewStudentAdmissionDetails" asp-area="Admission" asp-controller="BasicRegistration" class="mr-4 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50 "></i> Back To List</a>*@
                                <button type="submit" onclick="return checkvalidation()" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; CONFIRM&nbsp;&nbsp; </button>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script>

    function checkvalidation() {

        if ($("input[type='radio'][name='PaymentModeid']:checked").length == 0) {
            $('#spanPaymentModeid').html('Select At Least One Payment Mode..');
            return false;
        }
        if ($('#FromNumber').val() == "") {
            $('#spanFromNumber').html('Please Enter Form Number');
            return false;
        }
        if ($('#TransNumber').val() == "") {
            $('#spanTransNumber').html('Please Enter Receipt Number');
            return false;
        }
        if ($('#PaidAmount').val() == "0") {
            $('#spanPaidAmount').html('Please Select Paid Ammount');
            return false;
        }
        if ($('#ReceivedId').val() == "0") {
            $('#spanReceivedId').html('Please Select Received Name');
            return false;
        }
    }

</script>
<script language="Javascript">

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>