﻿
@{
    ViewData["Title"] = "ViewStudentWiseCouncellorDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Admission.Models.ResponseStudentModal
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Counsellor</li>

        </ol>
    </nav>
</div>
<div class="row">
    <div class="container-fluid">
        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card  mb-4 bg-white">

            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Registration</h1>
               
            </div>
           
            <div class="card-body">
                <form action="ViewStudentWiseCouncellorDetails" method="post">
                    <div class="form-group row ">
                        <div class="col-4">
                            <label class="control-label font-weight-bold">Session</label>
                            <select asp-for="@Model.AcademicSessionId" name="AcademicSessionId" id="AcademicSessionId" class="form-control">
                                <option value=" ">Select Session</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4 form-group" hidden>
                            <label class="control-label font-weight-bold">Registration Slot</label>
                            <select asp-for="@Model.RegistrationSlot" id="RegistrationSlot" name="RegistrationSlot" class="form-control" style="width:100%;">
                            </select>

                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Organisation</label>
                            <select asp-for="@Model.OraganisationAcademicId" id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Board</label>
                            <select asp-for="@Model.BoardId" id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                            </select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Class</label>
                            <select asp-for="@Model.AcademicStandardId" id="AcademicStandardId" name="AcademicStandardId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Wing</label>
                            <select asp-for="@Model.WingId" id="WingId" name="WingId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Lead Type</label>
                            <select asp-for="@Model.RegistrationSource" id="RegistrationSource" name="RegistrationSource" class="form-control" style="width:100%;">
                                <option value=" ">Select Lead Type</option>
                                @foreach (var item in Model.SourceList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>

                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Form Payment</label>
                            <select asp-for="@Model.FormPaymentStatus" id="FormPaymentStatus" name="FormPaymentStatus" class="form-control" style="width:100%;">
                                <option value=" ">Select Payment Status</option>
                                @foreach (var item in Model.FormPaymentStatusList)
                                {
                                    <option value="@item.name">@item.name</option>
                                }
                            </select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="form-label">FromDate</label>
                            <input type="date" name="fromdate" class="form-control" value="@(TempData["FromDate"]==null?"":TempData["FromDate"].ToString())" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="form-label">ToDate</label>
                            <input type="date" name="todate" class="form-control" value="@(TempData["ToDate"]==null?"":TempData["ToDate"].ToString())" />
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="form-label">Form Number</label>
                            <input type="text" name="formNumber" class="form-control" value="@Model.formNumber" />
                        </div>
                        <div class="col-2" style="padding-top:2rem;">
                            <button class="btn btn-primary">Search</button>
                        </div>


                    </div>

                </form>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Form Number</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Slot</th>*@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Source</th>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Contact Person Name</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Contact Number</th>*@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Registration Fee</th>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BasicStudentDetailsModel != null)
                            {
                                foreach (var item in Model.BasicStudentDetailsModel)
                                {

                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.FormNumber
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.AcademicSessionName">
                                    @item.AcademicSessionName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.OrganisationName">
                                    @item.OrganisationName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.BoardName">
                                    @item.BoardName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.StandardName">
                                    @item.StandardName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.WingName">
                                    @item.WingName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 150px; overflow: hidden;text-overflow: ellipsis;" title="@item.Fullname">
                                    @item.Fullname
                                </td>
                                @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
            @item.AdmissionSlotName
        </td>*@
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AcademicSourceName
                                </td>


                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.EmergencyName">
                                    @item.EmergencyName, @item.EmergencyMobile
                                </td>
                                @*<td class="h6 mb-0 text-gray-800 font-weight-normal">

        </td>*@
                                @if (item.FormPaymentId == 0)
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @*<a asp-action="StudentPaymentMode" asp-route-admid="@item.ID">
                 <span style="color:red">PAY</span>
                </a>*@
                                        PENDING
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        PAID
                                    </td>
                                }
                                <td class="h6 mb-0 text-gray-800 font-weight-normal"
                                    style="white-space: nowrap; max-width: 100px; overflow: hidden;
                                    text-overflow: ellipsis;" title="@item.ExamDate">
                                    @item.ExamDate
                                </td>



                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">

                                    <a title="Edit" asp-area="Admission" asp-action="ViewAdmissionDetails" asp-controller="Counseller" asp-route-id="@item.ID" class="btn btn-primary btn-sm" style="padding: 2px;background-color:#2653d4;border:none;"><i class="far fa-eye text-white"></i></a>

                                    <div class="modal right fade" id="counselorremove_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update/Remove Counselor</h5>
                                                    <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <form action="ChangeOrRemoveCounselorToStudent" method="post">
                                                    <div class="modal-body">
                                                        <div class="row form-group">
                                                            <input type="hidden" name="ArrayStudentId" value="@item.AdmissionStudentId" />
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-4">Form Number</div>
                                                            <div class="col-sm-7">
                                                                <input type="text" value="@item.FormNumber" readonly class="form-control" />
                                                            </div>
                                                            =======

                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1">
                                                                <input type="hidden" name="AdmissionStudentId" value="@item.AdmissionStudentId" />
                                                            </div>
                                                            <div class="col-sm-4">Counselor Name</div>
                                                            <div class="col-sm-7">
                                                                <select name="RemoveEmployeeId" id="RemoveEmployeeId" style="width:100%;" required>
                                                                    <option value=" ">Select Counselor</option>
                                                                    @foreach (var emp in Model.EmployeeList)
                                                                    {
                                                                        @if (Convert.ToInt32(item.StudentCounselorId) == Convert.ToInt32(emp.ID))
                                                                        {
                                                                            <option value="@emp.ID" selected=""> @emp.EmpCode - @emp.FirstName @emp.LastName </option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@emp.ID"> @emp.EmpCode - @emp.FirstName @emp.LastName </option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-4">Status</div>
                                                            <div class="col-sm-7">
                                                                <select name="StatusId" id="StatusId" style="width:100%;" required>
                                                                    <option value="ACTIVE">ACTIVE</option>
                                                                    <option value="INACTIVE">INACTIVE</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" onclick="return checkcounselorremove()" class="btn btn-primary">Assign Counselor</button>
                                                    </div>
                                                </form>
                                                <script>
                                                    function checkcounselorremove() {
                                                        if ($('#RemoveEmployeeId').val() == " ") {
                                                            alert("Select At Least One  Employee Counselor..");
                                                            return false;
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chkCheckAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    });
    function Refresh() {
        window.location.reload();
    }
       

</script>



<script>
    $(document).ready(function ()
    {
            getSlots($('#AcademicSessionId').val());
            getorganisation($('#AcademicSessionId').val());

        $('#AcademicSessionId').change(function () {
             getSlots($('#AcademicSessionId').val());
            getorganisation($('#AcademicSessionId').val());
        });


         $('#OraganisationAcademicId').change(function () {
            getBoards($('#OraganisationAcademicId').val());
         });

        function getBoards(id) {
            if (id != 0) {
               $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetBoardsByAcademicOrganizationId', { AcademicOrganizationId: $('#OraganisationAcademicId').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#BoardId").append('<option value=" ">  Select Board </option>');
                        $.each(data, function (i, item) {

                            $("#BoardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        function getSlots(id) {
            if (id != 0) {
                $('#RegistrationSlot').empty();
                $.get('/Admission/BasicRegistration/GetSlots', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#RegistrationSlot").append('<option value=" ">  Select Slot </option>');
                        $.each(data, function (i, item) {

                            $("#RegistrationSlot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
               $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }

        $('#AcademicStandardId').change(function () {
            GetWings($('#BoardId').val(),$('#AcademicStandardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function GetWings(id,standardId, orgid, sessionid) {
            if (id != 0) {
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicWings', { BoardId: id, StandardId: standardId, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                         console.log(data);
                        $("#WingId").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {

                            $("#WingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }


    });
</script>


