﻿
@{
    ViewData["Title"] = "ViewStudentAdmissionDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.ResponseStudentModal

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Registrations</li>

        </ol>
    </nav>
</div>

<div class="row">
    <form method="post" action="ViewStudentAdmissionDetails" class="col-12 ">
        <div id="accordion">
            <div class="card row">
                <div class="card-header bg-white col-12">

                    <div class="row ">
                        <div class="col-3">
                            <span class="font-weight-bold"
                                  style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                            </span>

                        </div>
                        <div class="col-9" style="text-align-last:right">


                            @*<button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-search"></i>&nbsp; Search
                                </button>*@

                            <a asp-action="ViewStudentAdmissionDetails" style="margin-right:2rem;"
                               class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                            </a>

                            <a data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne"
                               class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                            </a>

                        </div>

                    </div>

                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="form-group row ">
                            <div class="col-3">
                                <label class="control-label font-weight-bold">Session</label>
                                <select asp-for="@Model.AcademicSessionId" name="AcademicSessionId" id="AcademicSessionId" class="form-control">
                                    <option value=" ">Select Session</option>
                                    @foreach (var item in Model.AcademicSessionList)
                                    {
                                        <option value="@item.ID">@item.DisplayName</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-3 form-group" hidden>
                                <label class="control-label font-weight-bold">Registration Slot</label>
                                <select asp-for="@Model.RegistrationSlot" id="RegistrationSlot" name="RegistrationSlot" class="form-control" style="width:100%;">
                                </select>

                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Organisation</label>
                                <select asp-for="@Model.OraganisationAcademicId" id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Board</label>
                                <select asp-for="@Model.BoardId" id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Class</label>
                                <select asp-for="@Model.AcademicStandardId" id="AcademicStandardId" name="ClassId" class="form-control" style="width:100%;"></select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Wing</label>
                                <select asp-for="@Model.WingId" id="WingId" name="WingId" class="form-control" style="width:100%;"></select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Lead Type</label>
                                <select asp-for="@Model.RegistrationSource" id="RegistrationSource" name="RegistrationSource" class="form-control" style="width:100%;">
                                    <option value=" ">Select Lead Type</option>
                                    @foreach (var item in Model.SourceList)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>

                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Form Payment</label>
                                <select asp-for="@Model.FormPaymentStatus" id="FormPaymentStatus" name="FormPaymentStatus" class="form-control" style="width:100%;">
                                    <option value=" ">Select Payment Status</option>
                                    @foreach (var item in Model.FormPaymentStatusList)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="form-label">Form Number</label>
                                <input type="text" name="formNumber" class="form-control" value="@Model.formNumber" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="form-label">FromDate</label>
                                <input type="date" name="fromdate" class="form-control" value="@(TempData["FromDate"]==null?"":TempData["FromDate"].ToString())" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="form-label">ToDate</label>
                                <input type="date" name="todate" class="form-control" value="@(TempData["ToDate"]==null?"":TempData["ToDate"].ToString())" />
                            </div>

                            <div class="col-2" style="padding-top:2rem;">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>


                        </div>

                    </div>
                </div>


            </div>
        </div>


    </form>
</div>




<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadViewStudentAdmissionDetails" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/BasicRegistration/DownloadStudentRegistrationSample">Click Here</a>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myUploadPIExam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload PI Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadPIData" method="post" enctype="multipart/form-data">

                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Session</label>
                            <select id="AcademicSessionId1" name="AcademicSessionId1" class="form-control" style="width:100%;">
                                <option value=" ">Select Session</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <label class="control-label font-weight-bold">Organisation</label>
                            <select id="OraganisationAcademicId1" name="OraganisationAcademicId1" class="form-control" style="width:100%;"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label font-weight-bold">Board</label>
                            <select id="BoardId1" name="BoardId1" class="form-control" style="width:100%;">
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Class</label>
                            <select id="AcademicStandardId1" name="AcademicStandardId1" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Wing</label>
                            <select id="WingId1" name="WingId1" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Upload Excel</label>
                            <input type="file" id="fileexcel" name="fileexcel" />
                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload" />
                        <a class="btn btn-primary" id="btnpidownloadexcel">Download Excel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myUploadDocument" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadDocumentData" method="post" enctype="multipart/form-data">

                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Session</label>
                            <select id="AcademicSessionId2" name="AcademicSessionId2" class="form-control" style="width:100%;">
                                <option value=" ">Select Session</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>


                        <div class="form-group">
                            <label class="control-label font-weight-bold">Organisation</label>
                            <select id="OraganisationAcademicId2" name="OraganisationAcademicId2" class="form-control" style="width:100%;"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label font-weight-bold">Board</label>
                            <select id="BoardId2" name="BoardId2" class="form-control" style="width:100%;">
                            </select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Class</label>
                            <select id="AcademicStandardId2" name="AcademicStandardId2" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Wing</label>
                            <select id="WingId2" name="WingId2" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold">Upload Excel</label>
                            <input type="file" id="docfileexcel" name="docfileexcel" />
                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload" />
                        <a class="btn btn-primary" id="btndocumentdownloadexcel">Download Excel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card  mb-4 bg-white" style="width:100%;">
        <div class="card-body">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Registrations</h1>
                <div>
                    <div class="dropdown d-inline-block" style="margin-right:2rem;">
                        @if (Model.regdaccess.Result == true)
                        {
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Results
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Admission/Counsellor/DownloadExamAppearedStudents">Publish Exam Result</a>
                                <a class="dropdown-item" id="lnkpublishpi">Publish PI Result</a>
                                <a class="dropdown-item" id="lnkdocumentupd">Publish Document Verification Result</a>
                            </div>
                        }
                    </div>
                    <a href="/Admission/BasicRegistration/DownloadStudentRegistration" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-download"></i>&nbsp;Download Excel</a>
                    @if (Model.regdaccess.UploadExcel == true)
                    {
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    }
                    @if (Model.regdaccess.NewRegistration == true)
                    {
                        <a href="/Admission/BasicRegistration/StudentRegistration" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;New Registration</a>
                    }
                </div>
            </div>
            <div style="margin-left:1rem;">
                @if (Model.regdaccess.AssignCounsellor == true)
                {
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="GetAssignCouncelor()" style="margin-right:6px;background-color:#14445a;border-color:wheat" data-toggle="modal" data-target="#AssignCounceler"><i class="fas fa-plus-circle"></i> &nbsp;Assign Counsellor</a>
                }
                @*<a  hidden class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="GetAssignExam()" style="margin-right:6px;background-color:#0f494c;border-color:wheat" data-toggle="modal" data-target="#AssignExamDate"><i class="fas fa-plus-circle"></i> &nbsp;Assign Exam Date</a>*@

                <div hidden>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="GetAssignCouncelor()" style="margin-right:6px;background-color: #0f494c ;border-color:wheat;" data-toggle="modal" data-target="#ChangeCounceler"><i class="fas fa-plus-circle"></i> &nbsp;Change Counsellor</a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="DeleteCounselor()" style="margin-right:6px;background-image: linear-gradient(180deg,#ea3637 10%,#1e1e1f 100%);border-color:#ea3637;"><i class="fas fa-plus-circle"></i> &nbsp;Delete Counsellor</a>

                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-dark p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.BasicStudentDetailsModel.Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Total Admission</h3></div>
                    </a>
                </div>
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-success p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.BasicStudentDetailsModel.Where(a=>a.Status=="REGISTERED").ToList().Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Not Paid</h3></div>
                    </a>
                </div>
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-info p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.BasicStudentDetailsModel.Where(a => a.Status != "REGISTERED").ToList().Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Paid</h3></div>
                    </a>
                </div>

            </div>
            <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="sorting_desc_disabled sorting_asc_disabled"><input type="checkbox" id="chkCheckAll" /> Select All </th>
                        <th style="font-size: 13px;width:1% !important;">Sort</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BasicStudentDetailsModel != null)
                    {
                        foreach (var a in Model.BasicStudentDetailsModel)
                        {
                            <tr>
                                <td style="padding:0px;">
                                    <div class="row border mb-0 mt-2 ml-4" style=" background-image: linear-gradient(180deg,#b6b3b3 10%,#f8f9fc 100%); background-size: cover; ">
                                        <div class="col-md-8">
                                            <input type="checkbox" class="mt-2" id="multicheckbox" name="multicheckbox" value="@a.AdmissionStudentId" /> &nbsp; <label class="text-black-50 font-weight-bold h4 mb-0">@a.FormNumber</label>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @{
                                                var count = Model.progresssheets.Where(m => m.ID == a.ID).Select(m => new { total = (m.parent + m.academic + m.addresses + m.contact + m.declaration + m.personal + m.proficiency + m.reference + m.standarddet + m.transport) * 10 }).FirstOrDefault().total;
                                            }

                                            <span class="text-danger font-weight-bold h5 mb-0">@(count + "%")</span>
                                        </div>
                                    </div>
                                    <div class="row bg-white border mb-2 mt-0 ml-4">
                                        <div class="col-md-1 py-0 pr-0 pl-0 h-auto">
                                            <div class="card border-0 h-100">
                                                <div class="card-body p-0 pl-0 font-weight-bold text-white h-75 d-flex justify-content-center align-content-center " style="background-color: orange;font-size: 1rem; background-image: url(@(a.ProfileImage != null?a.ProfileImage:"https://ssl.gstatic.com/accounts/ui/avatar_2x.png")); background-size: cover;">

                                                </div>
                                                <div class="card-footer p-0 pt-1 h-25 font-weight-bold text-white d-flex justify-content-center align-content-center" style="background-color: brown; color: white;">
                                                    <label class="text-white font-weight-bold h6 mb-0">@a.Status</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-11 pl-0 text-dark pt-0 pr-0">
                                            <div class="card border-0">
                                                <div class="card-body p-1 pl-2">

                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;" title="@a.Fullname">
                                                                @(a.Fullname == null ? "" : a.Fullname.Length > 20 ? (a.Fullname.ToString().Substring(0, 19) + "...") : a.Fullname)
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                <div>
                                                                    <span class="badge badge-pill badge-success">@(a.OrganisationName == null ? "" : a.OrganisationName.Length > 30 ? (a.OrganisationName.ToString().Substring(0, 29) + "...") : a.OrganisationName)</span>

                                                                </div>
                                                                <div>
                                                                    <span class="badge badge-pill badge-warning">@a.StandardName</span>&nbsp;<span class="badge badge-pill badge-info">@a.WingName</span>
                                                                    &nbsp;<span class="badge badge-pill badge-secondary">@a.AcademicSourceName</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Official Contact
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                <div>
                                                                    <span class="badge badge-pill badge-light">@(a.EmergencyName == null ? "" : a.EmergencyName.Length > 20 ? (a.EmergencyName.ToString().Substring(0, 19) + "...") : a.EmergencyName)</span>
                                                                    &nbsp;<span class="badge badge-pill badge-primary">@a.EmergencyMobile</span>
                                                                </div>
                                                                <div>
                                                                    <span class="badge badge-pill badge-dark">@a.EmergencyEmail</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Payment Details
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                @if (a.FormPaymentId != null)
                                                                {
                                                                    <div>
                                                                        <span class="badge badge-pill badge-info">@(a.TransactionId == null ? "" : a.TransactionId.Length > 20 ? (a.TransactionId.ToString().Substring(0, 19) + "...") : a.TransactionId)</span>
                                                                        &nbsp;<span class="badge badge-pill badge-secondary">@a.PaymentModeName</span>
                                                                    </div>
                                                                    <div>
                                                                        <span class="badge badge-pill badge-success">Rs.:@(a.PaymentAmount) /-</span>  &nbsp; <span class="badge badge-pill badge-light">@a.PaidDate.Value.ToString("dd-MM-yyyy")</span>

                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div>
                                                                        <a asp-action="StudentPaymentMode" asp-route-admid="@a.ID" class="badge badge-pill badge-light">
                                                                            <span style="color:red">Pay Admission Fees</span>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Counsellor Details
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                @if (a.StudentCounselorId != null)
                                                                {
                                                                    <div>
                                                                        <span class="badge badge-pill badge-primary">@(a.StudentCounselorName == null ? "" : a.StudentCounselorName.Length > 20 ? (a.StudentCounselorName.ToString().Substring(0, 19) + "...") : a.StudentCounselorName)</span>

                                                                    </div>
                                                                    <div>
                                                                        <span class="badge badge-pill badge-info">@(a.StudentCounselorStatus)</span>  &nbsp; <span class="badge badge-pill badge-warning">@a.StudentCounselorAssignDate.Value.ToString("dd-MM-yyyy")</span>

                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div>
                                                                        <a data-toggle="modal" data-target="#counselorremove_@a.ID" class="badge badge-pill badge-light">
                                                                            <span style="color:red">Assign Counsellor</span>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-1 pl-2" style="background-color: #e4e0e0;">
                                                <div class="row" style="font-size:0.73rem;">
                                                    <div class="col-md-4">
                                                        Read On <span class="font-weight-bold" style="color:black;">@a.InsertedDate.ToString("dd-MM-yyyy")</span> | Modified On <span class="font-weight-bold" style="color:black;">@a.ModifiedDate.ToString("dd-MM-yyyy")</span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        @{
                                                            string st = a.KitStatus == "PENDING" ? "background-color: #e0d724;color: white;" : (a.KitStatus == "DISPATCHED" ? "background-color:#b0eb13;color: white;" : (a.KitStatus == "RECEIVED" ? "background-color:#4cff00;color: white;" : (a.KitStatus == "NOT RECEIVED" ? "background-color:brown;color: white;" : (a.KitStatus == "RETURNED BACK" ? "background-color:orange;color: white;" : (a.KitStatus == "NOT VALID" ? "background-color:red;color: white;" : "")))));
                                                        }
                                                        <div class="btn-group">
                                                            <button type="button" class="statuschangebtn" style="background-color: brown;color: white;">@a.KitStatus @(a.KitStatusDate==null?"":"on "+a.KitStatusDate.Value.ToString("dd-MM-yyyy"))</button>

                                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                                                            </button>

                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" asp-action="admissionkitstatuschange" asp-route-act="DISPATCHED" asp-route-id="@a.ID" onclick="return confirm('Are you sure to change status to dispatched?');">DISPATCHED</a>
                                                                <a class="dropdown-item" asp-action="admissionkitstatuschange" asp-route-act="RECEIVED" asp-route-id="@a.ID" onclick="return confirm('Are you sure to change status to received?');">RECEIVED</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" asp-action="admissionkitstatuschange" asp-route-act="NOT RECEIVED" asp-route-id="@a.ID" onclick="return confirm('Are you sure to change status to not received?');">NOT RECEIVED</a>
                                                                <a class="dropdown-item" asp-action="admissionkitstatuschange" asp-route-act="RETURNED BACK" asp-route-id="@a.ID" onclick="return confirm('Are you sure to change status to returned back?');">RETURNED BACK</a>
                                                                <a class="dropdown-item" asp-action="admissionkitstatuschange" asp-route-act="NOT VALID" asp-route-id="@a.ID" onclick="return confirm('Are you sure to change status to not valid?');">NOT VALID</a>
                                                                @*@if (a.AssignByID == Context.Session.GetInt32("userId").Value)
                                                                    {
                                                                        <a class="dropdown-item" asp-action="statuschangetoverify" asp-route-act="TaskAssignToMe" asp-route-id="@a.todoid" onclick="return confirm('Are you sure to change all subtask status to verified?');">VERIFY</a>
                                                                    }*@
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-right font-weight-bold text-uppercase" style="color:black;">
                                                        <div>
                                                            @if (Model.regdaccess.ViewProfile == true)
                                                            {
                                                                <a title="View" asp-area="Admission" asp-action="ViewAdmissionDetails" asp-controller="Counseller" class="p-1" asp-route-id="@a.LeadReferenceId" style="border-radius:50%;"><img src="~/websiteimages/EYE.svg" style="width: 1.85rem;" /></a>
                                                                <a title="Download Form" asp-area="Admission" asp-action="PrintStudentAdmissionReportID" asp-controller="Registration" class="p-1" asp-route-id="@a.LeadReferenceId" style="border-radius:50%;"><img src="~/images/down-arrow.png" style="width: 1.85rem;" /></a>

                                                            }
                                                            @if (Model.regdaccess.EditProfile == true)
                                                            {
                                                                <a title="Edit" asp-area="Admission" asp-action="EditAdmissionDetails" asp-controller="BasicRegistration" class="p-1" asp-route-id="@a.LeadReferenceId" style="border-radius:50%;"><img src="~/websiteimages/EDIT.svg" style="width: 1.85rem;" /></a>
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="modal right fade" id="counselorremove_@a.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update/Remove Counsellor</h5>
                                                    <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <form action="ChangeOrRemoveCounselorToStudent" method="post">
                                                    <div class="modal-body">
                                                        <div class="row form-group">
                                                            <input type="hidden" name="ArrayStudentId" value="@a.AdmissionStudentId" />
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-4">Student Name</div>
                                                            <div class="col-sm-7">
                                                                <input type="text" value="@a.Fullname" readonly class="form-control" />
                                                            </div>


                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1">
                                                                <input type="hidden" name="AdmissionStudentId" value="@a.AdmissionStudentId" />
                                                            </div>
                                                            <div class="col-sm-4">CounselLor Name</div>
                                                            <div class="col-sm-7">
                                                                <select name="RemoveEmployeeId" id="RemoveEmployeeId_@a.ID" style="width:100%;" required>
                                                                    <option value=" ">Select Counsellor</option>
                                                                    @foreach (var emp in Model.EmployeeList)
                                                                    {
                                                                        @if (Convert.ToInt32(a.StudentCounselorId) == Convert.ToInt32(emp.ID))
                                                                        {
                                                                            <option value="@emp.ID" selected=""> @emp.EmpCode - @emp.FirstName @emp.LastName </option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@emp.ID"> @emp.EmpCode - @emp.FirstName @emp.LastName </option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-1"></div>
                                                            <div class="col-sm-4">Status</div>
                                                            <div class="col-sm-7">
                                                                <select name="StatusId" id="StatusId" style="width:100%;" required>
                                                                    <option value="ACTIVE">ACTIVE</option>
                                                                    <option value="INACTIVE">INACTIVE</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-danger" style="margin-right: 15px;" data-dismiss="modal" aria-hidden="true"><span style="color:white">Cancel</span></a>
                                                        <button type="submit" onclick="return checkcounselorremove(@a.ID)" class="btn btn-primary">Assign Counselor</button>
                                                    </div>
                                                </form>
                                                <script>
                                                    function checkcounselorremove(id) {
                                                        if ($('#RemoveEmployeeId_' + id).val() == " ") {
                                                            alert("Select at least one Counsellor..");
                                                            return false;
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="visibility:hidden;width:1%;">
                                    @a.ID

                                </td>
                            </tr>


                        }
                    }
                </tbody>
            </table>
        </div>


    </div>

</div>

<!-- /.container-fluid -->
<!--Assign Counselor Modal-->
<div class="modal right fade" id="AssignCounceler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Assign Counsellor</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="SaveAssignCounselorToStudent" method="post">
                <div class="modal-body">
                    <div class="row form-group">
                        <input type="hidden" name="ArrayStudentId" id="ArrayStudentId" />
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Employee Name</div>
                        <div class="col-sm-7">
                            <select name="EmployeeId" id="EmployeeId" style="width:100%;" required>
                                <option value=" ">Select Counsellor</option>
                                @foreach (var emp in Model.EmployeeList)
                                {
                                    <option value="@emp.ID">@emp.EmpCode - @emp.FirstName @emp.LastName </option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Remarks</div>
                        <div class="col-sm-7">
                            <input type="text" name="Remarks" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="assign" onclick="return CheckStudent()" value="C" type="submit" class="btn btn-primary">Assign Counselor</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Change Counselor-->
<div class="modal right fade" id="ChangeCounceler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Change Councelor</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="ChangeAssignCounselorToStudent" method="post">
                <div class="modal-body">
                    <div class="row form-group">
                        <input type="hidden" name="ChangeCounStudentId" id="ChangeCounStudentId" />
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Employee Name</div>
                        <div class="col-sm-7">
                            <select name="ChangeEmployeeId" id="ChangeEmployeeId" style="width:100%;" required>
                                <option value=" ">Select Counselor</option>
                                @foreach (var emp in Model.EmployeeList)
                                {
                                    <option value="@emp.ID">@emp.EmpCode - @emp.FirstName @emp.LastName </option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Remarks</div>
                        <div class="col-sm-7">
                            <input type="text" name="Remarks" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="return CheckChangeCounselor()" type="submit" class="btn btn-primary">Update Counselor</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chkCheckAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
        $('#lnkpublishpi').click(function () {
            $('#AcademicSessionId1').val('0');
            $('#OraganisationAcademicId1').val('0');
            $('#BoardId1').val('0');
            $('#AcademicStandardId1').val('0');
            $('#WingId1').val('0');
            $('#myUploadPIExam').modal('show');
        })
        $('#lnkdocumentupd').click(function () {
            $('#AcademicSessionId2').val('0');
            $('#OraganisationAcademicId2').val('0');
            $('#BoardId2').val('0');
            $('#AcademicStandardId2').val('0');
            $('#WingId2').val('0');
            $('#myUploadDocument').modal('show');
        })

        $('#btnpidownloadexcel').click(function () {
            if ($('#AcademicSessionId1').val() == '0') {
                alert('Select Session');
                return false;
            }
            if ($('#OraganisationAcademicId1').val() == '0') {
                alert('Select Organisation');
                return false;
            }
            if ($('#BoardId1').val() == '0') {
                alert('Select Board');
                return false;
            }
            if ($('#AcademicStandardId1').val() == '0') {
                alert('Select Standard');
                return false;
            }
            if ($('#WingId1').val() == '0') {
                alert('Select Wing');
                return false;
            }



            window.location.href = '/Admission/BasicRegistration/DownloadPIData?sessionid=' + $('#AcademicSessionId1').val() + '&org=' + $('#OraganisationAcademicId1').val() + '&board=' + $('#BoardId1').val() + '&standardid=' + $('#AcademicStandardId1').val() + '&wingid=' + $('#WingId1').val();
        })

        $('#btndocumentdownloadexcel').click(function () {
            if ($('#AcademicSessionId2').val() == '0') {
                alert('Select Session');
                return false;
            }
            if ($('#OraganisationAcademicId2').val() == '0') {
                alert('Select Organisation');
                return false;
            }
            if ($('#BoardId2').val() == '0') {
                alert('Select Board');
                return false;
            }
            if ($('#AcademicStandardId2').val() == '0') {
                alert('Select Standard');
                return false;
            }
            if ($('#WingId2').val() == '0') {
                alert('Select Wing');
                return false;
            }



            window.location.href = '/Admission/BasicRegistration/DownloadDocumentData?sessionid=' + $('#AcademicSessionId2').val() + '&org=' + $('#OraganisationAcademicId2').val() + '&board=' + $('#BoardId2').val() + '&standardid=' + $('#AcademicStandardId2').val() + '&wingid=' + $('#WingId2').val();
        })
        
        $('#AcademicSessionId1').change(function () {
            if ($('#AcademicSessionId1').val() != 0) {
                $('#OraganisationAcademicId1').empty();
                $('#BoardId1').empty();
                $('#AcademicStandardId1').empty();
                $('#WingId1').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId1').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId1").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });                        
                    }
                });
            }
        })
        $('#AcademicSessionId2').change(function () {
            if ($('#AcademicSessionId2').val() != 0) {
                $('#OraganisationAcademicId2').empty();
                $('#BoardId2').empty();
                $('#AcademicStandardId2').empty();
                $('#WingId2').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId2').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId2").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId2").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }
        })
        $('#OraganisationAcademicId1').change(function () {
            if ($('#OraganisationAcademicId1').val() != 0) {
                $('#BoardId1').empty();
                $('#AcademicStandardId1').empty();
                $('#WingId1').empty();
                $.get('/Admission/BasicRegistration/GetBoardsByAcademicOrganizationId', { AcademicOrganizationId: $('#OraganisationAcademicId1').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#BoardId1").append('<option value=" ">  Select Board </option>');
                        $.each(data, function (i, item) {

                            $("#BoardId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                      
                    }
                });
            }
        })
        $('#OraganisationAcademicId2').change(function () {
            if ($('#OraganisationAcademicId2').val() != 0) {
                $('#BoardId2').empty();
                $('#AcademicStandardId2').empty();
                $('#WingId2').empty();
                $.get('/Admission/BasicRegistration/GetBoardsByAcademicOrganizationId', { AcademicOrganizationId: $('#OraganisationAcademicId2').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#BoardId2").append('<option value=" ">  Select Board </option>');
                        $.each(data, function (i, item) {

                            $("#BoardId2").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        })
        $('#BoardId1').change(function () {
            if ($('#BoardId1').val() != 0) {
                $('#AcademicStandardId1').empty();
                $('#WingId1').empty();
                $.get('/Admission/BasicRegistration/GetAcademicStandard', { BoardId: $('#BoardId1').val(), OraganisationAcademicId: $('#OraganisationAcademicId1').val(), AcademicSessionId: $('#AcademicSessionId1').val() }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId1").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                       
                    }
                });
            }
        })
        $('#BoardId2').change(function () {
            if ($('#BoardId2').val() != 0) {
                $('#AcademicStandardId2').empty();
                $('#WingId2').empty();
                $.get('/Admission/BasicRegistration/GetAcademicStandard', { BoardId: $('#BoardId2').val(), OraganisationAcademicId: $('#OraganisationAcademicId2').val(), AcademicSessionId: $('#AcademicSessionId2').val() }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId2").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId2").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        })
        $('#AcademicStandardId1').change(function () {
            if ($('#AcademicStandardId1').val() != 0) {
                $('#WingId1').empty();
                $.get('/Admission/BasicRegistration/GetAcademicWings', { BoardId: $('#BoardId1').val(), StandardId: $('#AcademicStandardId1').val(), OraganisationAcademicId: $('#OraganisationAcademicId1').val(), AcademicSessionId: $('#AcademicSessionId1').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#WingId1").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {

                            $("#WingId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (wingid != 0) {
                            $("#WingId1").val(wingid);
                        }
                    }
                });
            }
        })
        $('#AcademicStandardId2').change(function () {
            if ($('#AcademicStandardId2').val() != 0) {
                $('#WingId2').empty();
                $.get('/Admission/BasicRegistration/GetAcademicWings', { BoardId: $('#BoardId2').val(), StandardId: $('#AcademicStandardId2').val(), OraganisationAcademicId: $('#OraganisationAcademicId2').val(), AcademicSessionId: $('#AcademicSessionId2').val() }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#WingId2").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {

                            $("#WingId2").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (wingid != 0) {
                            $("#WingId2").val(wingid);
                        }
                    }
                });
            }
        })
    });
    function Refresh() {
        window.location.reload();
    }
    function GetAssignCouncelor() {
        if ($("input[type='checkbox'][name='multicheckbox']:checked").length == 0) {
            alert("Select at least one student..");
            return false;
        }
        var Ids = [];
        debugger;
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        $('#ArrayStudentId').val(Ids);
        $('#ChangeCounStudentId').val(Ids);
    }
    function CheckStudent() {
        if ($('#EmployeeId').val() == " ") {
            alert("Select employee..");
            return false;
        }
        if ($('#ArrayStudentId').val() == "") {
            alert("Select at least one student..");
            return false;
        }
    }
    //Change Counselor
    function CheckChangeCounselor() {
        if ($('#ChangeEmployeeId').val() == " ") {
            alert("Select At Least One  Employee Counselor..");
            return false;
        }
        if ($('#ChangeCounStudentId').val() == "") {
            alert("Select At Least One  Checkbox To Assign Counselor..");
            return false;
        }
    }
    function CheckChangeCounStudent() {
        if ($('#ChangeEmployeeId').val() == " ") {
            alert("Select At Least One  Employee Counselor..");
            return false;
        }
        if ($('#ChangeCounStudentId').val() == "") {
            alert("Select At Least One  Checkbox To Change Counselor..");
            return false;
        }
    }

</script>
<script>
    function GetAssignExam() {
        if ($("input[type='checkbox'][name='multicheckbox']:checked").length == 0) {
            alert("Select At Least One  Checkbox To Assign Counselor..");
            return false;
        }
        var Ids = [];
        debugger;
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        $('#ArrayStudentId').val(Ids);

    }
</script>
<script>
    function DeleteCounselor() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        debugger;
        $.ajax({
            url: '/Admission/BasicRegistration/DeleteCounselorByStudentId',
            data: { id: Ids },
            type: "POST",
            dataType: "json",
            success: function (data) {
                //debugger;
                Refresh();
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        var sessionid = '@(Model.AcademicSessionId!=null?Model.AcademicSessionId:0)';
        var orgid = '@(Model.OraganisationAcademicId!=null?Model.OraganisationAcademicId : 0)';
        var boardid = '@(Model.BoardId!=null?Model.BoardId : 0)';
        var standardid = '@(Model.AcademicStandardId!=null?Model.AcademicStandardId: 0)';
        var wingid = '@(Model.WingId!=null?Model.WingId: 0)';
        var slotid = '@(Model.RegistrationSlot!= null?Model.RegistrationSlot: 0)';
        var slotid = '@(Model.RegistrationSlot!= null?Model.RegistrationSlot: 0)';
        var Sourceid = '@(Model.RegistrationSource!= null?Model.RegistrationSource: 0)';
        var paysts = '@(Model.FormPaymentStatus!= ""?Model.FormPaymentStatus: "")';
        if (sessionid != 0) {
            getSlots(sessionid);
            getorganisation(sessionid);
        }
        //getSlots($('#AcademicSessionId').val());
        //getorganisation($('#AcademicSessionId').val());

        $('#AcademicSessionId').change(function () {
            getSlots($('#AcademicSessionId').val());
            getorganisation($('#AcademicSessionId').val());
        });


        $('#OraganisationAcademicId').change(function () {
            getBoards($('#OraganisationAcademicId').val());
        });

        function getBoards(id) {
            if (id != 0) {
                $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetBoardsByAcademicOrganizationId', { AcademicOrganizationId: id }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#BoardId").append('<option value=" ">  Select Board </option>');
                        $.each(data, function (i, item) {

                            $("#BoardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (boardid != 0) {
                            $("#BoardId").val(boardid);
                            Getstandards(boardid, orgid, sessionid);
                        }
                    }
                });
            }
        }

        function getSlots(id) {
            if (id != 0) {
                $('#RegistrationSlot').empty();
                $.get('/Admission/BasicRegistration/GetSlots', { AcademicSessionId: id }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#RegistrationSlot").append('<option value=" ">  Select Slot </option>');
                        $.each(data, function (i, item) {

                            $("#RegistrationSlot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (slotid != 0) {
                            $("#RegistrationSlot").val(slotid);
                        }
                    }
                });
            }
        }

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: id }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgid != 0) {
                            $("#OraganisationAcademicId").val(orgid);
                            getBoards(orgid);
                        }
                    }
                });
            }
        }

        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (standardid != 0) {
                            $("#AcademicStandardId").val(standardid);
                            GetWings(boardid, standardid, orgid, sessionid);
                        }
                    }
                });
            }
        }

        $('#AcademicStandardId').change(function () {
            GetWings($('#BoardId').val(), $('#AcademicStandardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function GetWings(id, standardId, orgid, sessionid) {
            if (id != 0) {
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicWings', { BoardId: id, StandardId: standardId, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#WingId").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {

                            $("#WingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (wingid != 0) {
                            $("#WingId").val(wingid);
                        }
                    }
                });
            }
        }


    });
</script>
