﻿
@{
    ViewData["Title"] = "ViewAdmissionStudentECounseller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.Admissionecounsellingcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionPageLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">E-Counselling</li>

        </ol>
    </nav>
</div>

<div class="row">
    <form method="post" action="ViewAdmissionStudentECounseller" class="col-12 ">
        <div id="accordion">
            <div class="card row">
                <div class="card-header bg-white col-12">

                    <div class="row ">
                        <div class="col-3">
                            <span class="font-weight-bold"
                                  style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                            </span>

                        </div>
                        <div class="col-9" style="text-align-last:right">


                            @*<button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-search"></i>&nbsp; Search
                                </button>*@

                            <a asp-action="ViewStudentAdmissionDetails" style="margin-right:2rem;"
                               class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                            </a>

                            <a data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne"
                               class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                            </a>

                        </div>

                    </div>

                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                        <div class="form-group row ">
                            <div class="col-3">
                                <label class="control-label font-weight-bold">Session</label>
                                <select asp-for="@Model.AcademicSessionId" name="AcademicSessionId" id="AcademicSessionId" class="form-control">
                                    <option value=" ">Select Session</option>
                                    @foreach (var item in Model.AcademicSessionList)
                                    {
                                        <option value="@item.ID">@item.DisplayName</option>
                                    }
                                </select>
                            </div>

                            <div class="col-md-3 form-group" hidden>
                                <label class="control-label font-weight-bold">Registration Slot</label>
                                <select asp-for="@Model.RegistrationSlot" id="RegistrationSlot" name="RegistrationSlot" class="form-control" style="width:100%;">
                                </select>

                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Organisation</label>
                                <select asp-for="@Model.OraganisationAcademicId" id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Board</label>
                                <select asp-for="@Model.BoardId" id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Class</label>
                                <select asp-for="@Model.AcademicStandardId" id="AcademicStandardId" name="ClassId" class="form-control" style="width:100%;"></select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Wing</label>
                                <select asp-for="@Model.WingId" id="WingId" name="WingId" class="form-control" style="width:100%;"></select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Lead Type</label>
                                <select asp-for="@Model.RegistrationSource" id="RegistrationSource" name="RegistrationSource" class="form-control" style="width:100%;">
                                    <option value=" ">Select Lead Type</option>
                                    @foreach (var item in Model.SourceList)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>

                            </div>

                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">Form Payment</label>
                                <select asp-for="@Model.FormPaymentStatus" id="FormPaymentStatus" name="FormPaymentStatus" class="form-control" style="width:100%;">
                                    <option value=" ">Select Payment Status</option>
                                    @foreach (var item in Model.FormPaymentStatusList)
                                    {
                                        <option value="@item.name">@item.name</option>
                                    }
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="form-label">FromDate</label>
                                <input type="date" name="fromdate" class="form-control" value="@(TempData["FromDate"]==null?"":TempData["FromDate"].ToString())" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="form-label">ToDate</label>
                                <input type="date" name="todate" class="form-control" value="@(TempData["ToDate"]==null?"":TempData["ToDate"].ToString())" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">E-Counselling Date</label>
                                <select asp-for="@Model.CounsellingDateID" id="ecounsellingdate" name="ecounsellingdate" class="form-control" style="width:100%;">
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">E-Counselling Slot</label>
                                <select asp-for="@Model.CounsellingSlotID" id="ecounsellingslot" name="ecounsellingslot" class="form-control" style="width:100%;">
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label font-weight-bold">E-Counselling Status</label>
                                <select asp-for="@Model.cstatusid" id="cstatusid" name="cstatusid" class="form-control" style="width:100%;">
                                    <option value="">Select Status</option>
                                    <option value="BOOKED">BOOKED</option>
                                    <option value="MISSED">MISSED</option>
                                    <option value="NOT BOOKED">NOT BOOKED</option>
                                    <option value="RE-SCHEDULED">RE-SCHEDULED</option>
                                    <option value="COMPLETED">COMPLETED</option>

                                </select>

                            </div>
                            <div class="col-2" style="padding-top:2rem;">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>


                        </div>

                    </div>
                </div>


            </div>
        </div>


    </form>
</div>


<div class="row">
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card  mb-4 bg-white" style="width:100%;">
        <div class="card-body">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">E-Counselling Registrations</h1>

            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-dark p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.admissionEcounsellingListcls.Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Total Admission</h3></div>
                    </a>
                </div>
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-success p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.admissionEcounsellingListcls.Where(a=>a.counsellingid==0).ToList().Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Not Booked</h3></div>
                    </a>
                </div>
                <div class="col-md-4 form-group">
                    <a class="card shadow-lg bg-gradient-info p-3">
                        <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(Model.admissionEcounsellingListcls.Where(a => a.counsellingid >0).ToList().Count)</h2></div>
                        <div class="text-md-left text-white"><h3>Booked</h3></div>
                    </a>
                </div>

            </div>
            <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="sorting_desc_disabled sorting_asc_disabled"><input type="checkbox" id="chkCheckAll" /> Select All </th>
                        <th style="font-size: 13px;width:1% !important;">Sort</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.admissionEcounsellingListcls != null)
                    {
                        foreach (var a in Model.admissionEcounsellingListcls)
                        {
                            <tr>
                                <td style="padding:0px;">
                                    <div class="row border mb-0 mt-2 ml-4" style=" background-image: linear-gradient(180deg,#b6b3b3 10%,#f8f9fc 100%); background-size: cover; ">
                                        <div class="col-md-8">
                                            <label class="text-black-50 font-weight-bold h4 mb-0">@a.admission.FormNumber</label>
                                        </div>

                                    </div>
                                    <div class="row bg-white border mb-2 mt-0 ml-4">
                                        <div class="col-md-1 py-0 pr-0 pl-0 h-auto">
                                            <div class="card border-0 h-100">
                                                <div class="card-body p-0 pl-0 font-weight-bold text-white h-75 d-flex justify-content-center align-content-center " style="background-color: orange;font-size: 1rem; background-image: url(@(a.admission.ProfileImage != null?a.admission.ProfileImage:"https://ssl.gstatic.com/accounts/ui/avatar_2x.png")); background-size: cover;">

                                                </div>
                                                <div class="card-footer p-0 pt-1 h-25 font-weight-bold text-white d-flex justify-content-center align-content-center" style="background-color: brown; color: white;">
                                                    <label class="text-white font-weight-bold h6 mb-0">@a.admission.Status</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-11 pl-0 text-dark pt-0 pr-0">
                                            <div class="card border-0">
                                                <div class="card-body p-1 pl-2">

                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;" title="@a.admission.Fullname">
                                                                @(a.admission.Fullname == null ? "" : a.admission.Fullname.Length > 20 ? (a.admission.Fullname.ToString().Substring(0, 19) + "...") : a.admission.Fullname)
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                <div>
                                                                    <span class="badge badge-pill badge-success">@(a.admission.OrganisationName == null ? "" : a.admission.OrganisationName.Length > 30 ? (a.admission.OrganisationName.ToString().Substring(0, 29) + "...") : a.admission.OrganisationName)</span>

                                                                </div>
                                                                <div>
                                                                    <span class="badge badge-pill badge-warning">@a.admission.StandardName</span>&nbsp;<span class="badge badge-pill badge-info">@a.admission.WingName</span>
                                                                    &nbsp;<span class="badge badge-pill badge-secondary">@a.admission.AcademicSourceName</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Official Contact
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                <div>
                                                                    <span class="badge badge-pill badge-light">@(a.admission.EmergencyName == null ? "" : a.admission.EmergencyName.Length > 20 ? (a.admission.EmergencyName.ToString().Substring(0, 19) + "...") : a.admission.EmergencyName)</span>
                                                                    &nbsp;<span class="badge badge-pill badge-primary">@a.admission.EmergencyMobile</span>
                                                                </div>
                                                                <div>
                                                                    <span class="badge badge-pill badge-dark">@a.admission.EmergencyEmail</span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Booking Details
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                @if (a.counsellingid != 0)
                                                                {
                                                                    <div>
                                                                        <span class="badge badge-pill badge-info">@(a.counsellingdate.Value.ToString("dd MMM yyyy"))</span>

                                                                    </div>
                                                                    <div>
                                                                        <span class="badge badge-pill badge-success">@(a.counsellingslot)</span>

                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div>
                                                                        <a onclick="bookecounselling(@a.admission.ID)" href="#">
                                                                            <span style="color:red">Book E-Counselling</span>
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;border-bottom:1px solid #858796;">
                                                                Status Details
                                                            </div>
                                                            <div class="pt-1" style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                @if (a.counsellingid != 0)
                                                                {

                                                                    <div>
                                                                        <span class="badge badge-pill badge-primary">@(a.status)</span>&nbsp;&nbsp; <span class="badge badge-pill badge-warning">@(a.smssend==true?"Remainder Send": "Remainder Not Send")</span>

                                                                    </div>
                                                                    <div>
                                                                        <span class="badge badge-pill badge-info">@(a.statusdate)</span>

                                                                    </div>


                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-1 pl-2" style="background-color: #e4e0e0;">
                                                <div class="row" style="font-size:0.73rem;">
                                                    <div class="col-md-6">
                                                        Read On <span class="font-weight-bold" style="color:black;">@a.admission.InsertedDate.ToString("dd-MM-yyyy")</span> | Modified On <span class="font-weight-bold" style="color:black;">@a.admission.ModifiedDate.ToString("dd-MM-yyyy")</span>
                                                    </div>

                                                    <div class="col-md-6 text-right font-weight-bold text-uppercase" style="color:black;">
                                                        <div>

                                                            @if (a.counsellingid != 0)
                                                            {
                                                                <a onclick="sendsmsforecounselling(@a.counsellingid)" class="p-1" style="border-radius:50%;">
                                                                    <i class="fa fa-sms"></i>
                                                                </a>
                                                                <a onclick="updatestatusmodal(@a.counsellingid)" class="badge badge-pill badge-light">
                                                                    <span style="color:red">Status Update</span>
                                                                </a>
                                                            }
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </td>
                                <td style="visibility:hidden;width:1%;">
                                    @a.admission.ID

                                </td>
                            </tr>


                        }
                    }
                </tbody>
            </table>
        </div>


    </div>

</div>

<div class="modal right fade" id="counsellingstatusupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>E-Counselling Status Update</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="StatusUpdateEcounselling" method="post">
                <div class="modal-body">
                    <div class="row form-group">
                        <input type="hidden" name="counsellingid" id="counsellingid" />
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Status</div>
                        <div class="col-sm-7">
                            <select name="StatusId" id="StatusId" style="width:100%;" required>
                                <option value="MISSED">MISSED</option>
                                <option value="RE-SCHEDULED">RE-SCHEDULED</option>
                                <option value="COMPLETED">COMPLETED</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Remark</div>
                        <div class="col-sm-7">
                            <textarea id="txtremark" name="txtremark" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Date</div>
                        <div class="col-sm-7">
                            <input id="txtdate" name="txtdate" class="form-control" type="date" />
                        </div>
                    </div>
                    <div id="divresceduled">
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">Date</div>
                            <div class="col-sm-7">
                                <select id="counselldateid" name="counselldateid" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">Slot</div>
                            <div class="col-sm-7">
                                <select id="counsellslotid" name="counsellslotid" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal right fade" id="counsellingsendsms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>E-Counselling Send SMS &amp; Mail</h5>
                <button type="button" id="closeid1" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="SendsmsmailEcounselling" method="post">
                <div class="modal-body">
                    <div class="row form-group">
                        <input type="hidden" name="counsellingid1" id="counsellingid1" />
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">Content</div>
                        <div class="col-sm-7">
                            <textarea id="txtmail" name="txtmail" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal right fade" id="bookecounselling" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:550px;max-width:none;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Book E-Counselling</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="BookEcounselling" method="post">
                <div class="modal-body">
                    <div class="row form-group">
                        <input type="hidden" name="admissionid" id="admissionid" />
                    </div>                    
                    <div>
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">Date</div>
                            <div class="col-sm-7">
                                <select id="counselldateid1" name="counselldateid1" class="form-control" style="width:100%;" required>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">Slot</div>
                            <div class="col-sm-7">
                                <select id="counsellslotid1" name="counsellslotid1" class="form-control" style="width:100%;" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function bookecounselling(id) {
        $('#admissionid').val(id);
        $('#bookecounselling').modal('show');
    }
    function updatestatusmodal(id) {
        $('#counsellingid').val(id);
        $('#counsellingstatusupdate').modal('show');
    }
    function sendsmsforecounselling(id) {
        $('#counsellingid1').val(id);
        $('#counsellingsendsms').modal('show');
    }
    $(document).ready(function () {
        $('#divresceduled').hide();
        $('#StatusId').change(function () {
            if ($('#StatusId').val() == 'RE-SCHEDULED') {
                $('#divresceduled').show();
            }
            else {
                $('#divresceduled').hide();
            }
        })
    });
    function Refresh() {
        window.location.reload();
    }
    function GetAssignCouncelor() {
        if ($("input[type='checkbox'][name='multicheckbox']:checked").length == 0) {
            alert("Select at least one student..");
            return false;
        }
        var Ids = [];
        debugger;
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        $('#ArrayStudentId').val(Ids);
        $('#ChangeCounStudentId').val(Ids);
    }
    function CheckStudent() {
        if ($('#EmployeeId').val() == " ") {
            alert("Select employee..");
            return false;
        }
        if ($('#ArrayStudentId').val() == "") {
            alert("Select at least one student..");
            return false;
        }
    }
    //Change Counselor
    function CheckChangeCounselor() {
        if ($('#ChangeEmployeeId').val() == " ") {
            alert("Select At Least One  Employee Counselor..");
            return false;
        }
        if ($('#ChangeCounStudentId').val() == "") {
            alert("Select At Least One  Checkbox To Assign Counselor..");
            return false;
        }
    }
    function CheckChangeCounStudent() {
        if ($('#ChangeEmployeeId').val() == " ") {
            alert("Select At Least One  Employee Counselor..");
            return false;
        }
        if ($('#ChangeCounStudentId').val() == "") {
            alert("Select At Least One  Checkbox To Change Counselor..");
            return false;
        }
    }

</script>
<script>
    function GetAssignExam() {
        if ($("input[type='checkbox'][name='multicheckbox']:checked").length == 0) {
            alert("Select At Least One  Checkbox To Assign Counselor..");
            return false;
        }
        var Ids = [];
        debugger;
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        $('#ArrayStudentId').val(Ids);

    }
</script>
<script>
    function DeleteCounselor() {
        var Ids = [];
        $('#dataTable').find("input[type='checkbox']:checked").each(function () {
            Ids.push($(this).val());
        });
        debugger;
        $.ajax({
            url: '/Admission/BasicRegistration/DeleteCounselorByStudentId',
            data: { id: Ids },
            type: "POST",
            dataType: "json",
            success: function (data) {
                //debugger;
                Refresh();
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        var sessionid = '@(Model.AcademicSessionId!=null?Model.AcademicSessionId:0)';
        var orgid = '@(Model.OraganisationAcademicId!=null?Model.OraganisationAcademicId : 0)';
        var boardid = '@(Model.BoardId!=null?Model.BoardId : 0)';
        var standardid = '@(Model.AcademicStandardId!=null?Model.AcademicStandardId: 0)';
        var wingid = '@(Model.WingId!=null?Model.WingId: 0)';
        var slotid = '@(Model.RegistrationSlot!= null?Model.RegistrationSlot: 0)';
        var slotid = '@(Model.RegistrationSlot!= null?Model.RegistrationSlot: 0)';
        var Sourceid = '@(Model.RegistrationSource!= null?Model.RegistrationSource: 0)';
        var paysts = '@(Model.FormPaymentStatus!= ""?Model.FormPaymentStatus: "")';
        var coundateid = '@(Model.CounsellingDateID!= null?Model.CounsellingDateID : 0)';
        var counslotid = '@(Model.CounsellingSlotID!= null?Model.CounsellingSlotID : 0)';


        if (sessionid != 0) {
            getSlots(sessionid);
            getorganisation(sessionid);
            getCounsellingDates(sessionid);
        }
        getCounsellingDatelist();
        getCounsellingDatelist1();
        $('#counselldateid').change(function () {
            getCounsellingSlotslist($('#counselldateid').val());
        })
        $('#counselldateid1').change(function () {
            getCounsellingSlotslist1($('#counselldateid1').val());
        })
        //getSlots($('#AcademicSessionId').val());
        //getorganisation($('#AcademicSessionId').val());

        $('#AcademicSessionId').change(function () {
            getSlots($('#AcademicSessionId').val());
            getorganisation($('#AcademicSessionId').val());
            getCounsellingDates($('#AcademicSessionId').val());
        });


        $('#OraganisationAcademicId').change(function () {
            getBoards($('#OraganisationAcademicId').val());
        });

        function getBoards(id) {
            if (id != 0) {
                $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetBoardsByAcademicOrganizationId', { AcademicOrganizationId: id }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#BoardId").append('<option value=" ">  Select Board </option>');
                        $.each(data, function (i, item) {

                            $("#BoardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (boardid != 0) {
                            $("#BoardId").val(boardid);
                            Getstandards(boardid, orgid, sessionid);
                        }
                    }
                });
            }
        }

        function getSlots(id) {
            if (id != 0) {
                $('#RegistrationSlot').empty();
                $.get('/Admission/BasicRegistration/GetSlots', { AcademicSessionId: id }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#RegistrationSlot").append('<option value=" ">  Select Slot </option>');
                        $.each(data, function (i, item) {

                            $("#RegistrationSlot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (slotid != 0) {
                            $("#RegistrationSlot").val(slotid);
                        }
                    }
                });
            }
        }

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $('#BoardId').empty();
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: id }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgid != 0) {
                            $("#OraganisationAcademicId").val(orgid);
                            getBoards(orgid);
                        }
                    }
                });
            }
        }

        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (standardid != 0) {
                            $("#AcademicStandardId").val(standardid);
                            GetWings(boardid, standardid, orgid, sessionid);
                        }
                    }
                });
            }
        }

        $('#AcademicStandardId').change(function () {
            GetWings($('#BoardId').val(), $('#AcademicStandardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function GetWings(id, standardId, orgid, sessionid) {
            if (id != 0) {
                $('#WingId').empty();
                $.get('/Admission/BasicRegistration/GetAcademicWings', { BoardId: id, StandardId: standardId, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#WingId").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {

                            $("#WingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (wingid != 0) {
                            $("#WingId").val(wingid);
                        }
                    }
                });
            }
        }

        function getCounsellingDates(id) {
            if (id != 0) {
                $('#ecounsellingdate').empty();
                $.get('/Admission/BasicRegistration/GetEcounsellingDateListBysessionid', { sessionid: id }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#ecounsellingdate").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {

                            $("#ecounsellingdate").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (coundateid != 0) {
                            $("#ecounsellingdate").val(coundateid);
                            getCounsellingSlots(coundateid);
                        }
                    }
                });
            }
        }
        function getCounsellingDatelist() {
           
                $('#counselldateid').empty();
                $.get('/Admission/Student/GetEcounsellingDateList', { }, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#counselldateid").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {
                            $("#counselldateid").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            
        }
        function getCounsellingDatelist1() {
                $('#counselldateid1').empty();
                $.get('/Admission/Student/GetEcounsellingDateList', {}, function (data) {
                    if (data.length > 0) {
                        console.log(data);
                        $("#counselldateid1").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {
                            $("#counselldateid1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
          
        }
        $('#ecounsellingdate').change(function () {
            if ($('#ecounsellingdate').val() != '0') {
                getCounsellingSlots($('#ecounsellingdate').val());
            }
        })
        function getCounsellingSlots(id) {
            if (id != 0) {
                $('#ecounsellingslot').empty();
                $.get('/Admission/Student/GetEcounsellingSlotsList', { dateid: id }, function (data) {
                    if (data.length > 0) {
                        $("#ecounsellingslot").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {

                            $("#ecounsellingslot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (counslotid != 0) {
                            $("#ecounsellingslot").val(counslotid);
                        }
                    }
                });
            }
        }
        function getCounsellingSlotslist(id) {
            if (id != 0) {
                $('#counsellslotid').empty();
                $.get('/Admission/Student/GetEcounsellingSlotsList', { dateid: id }, function (data) {
                    if (data.length > 0) {
                        $("#counsellslotid").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {

                            $("#counsellslotid").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }
        function getCounsellingSlotslist1(id) {
            if (id != 0) {
                $('#counsellslotid1').empty();
                $.get('/Admission/Student/GetEcounsellingSlotsList', { dateid: id }, function (data) {
                    if (data.length > 0) {
                        $("#counsellslotid1").append('<option value=" ">  Select Date </option>');
                        $.each(data, function (i, item) {

                            $("#counsellslotid1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }
    });
</script>