﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/ODM TracQ.png">
    <title></title>
    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            font-family: 'Roboto', sans-serif;
        }

        a, a:hover {
            text-decoration: none;
            /*//color: white !important;*/
        }

        .mainpanel {
            /*width: 80%;*/
            /*box-shadow: 2px 2px 6px 2px #a59898d9;*/
            background-color: #f7e4e487 !important;
        }

        .middlepanel {
            width: 85%;
            background-color: white;
            padding-bottom: 1em;
        }

        .downloadpanel {
            background-color: black;
            color: white !important;
            padding: 10px 40px;
        }

        .maintablepanel {
            width: 50%;
        }

        .panelheading {
            text-align: center;
            font-size: 25px;
            /*font-weight: 600;*/
            color: white;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        @media all and (max-width:800px) {
            .mainpanel {
                /*width: 100%;
                background-color: bisque !important;*/
            }

            .middlepanel {
                width: 95%;
            }

            .downloadpanel {
                background-color: black;
                color: white !important;
                padding: 5px 5px;
                font-size: 12px;
            }

            .maintablepanel {
                width: 80%;
            }

            .panelheading {
                text-align: center;
                font-size: 20px;
                /*font-weight: 500;*/
                color: white;
                padding-bottom: 15px;
            }
        }

        @media all and (max-width:460px) {
            .maintablepanel {
                width: 95%;
            }
        }
    </style>
</head>
<body>
    <!--<div style="height:2em;"></div>-->
    <table style="width:100%;" cellspacing="0" cellpadding="0">
        <tr style="    background-image: radial-gradient(#190f0f, #ed3237);">
            <td valign="top" style="height:180px;">
                <div style="height:55%;background-color:transparent;"></div>
                <div style="height:45%;background-color:white;"></div>
            </td>
            <td valign="top" class="maintablepanel">
                <div style="text-align:center;padding-top:10px;">
                    <img src="http://tracq.odmps.org/images/ODM_TracQ2.png" style="width:100px;" />
                </div>
                <div class="panelheading">
                    {{subject}}
                </div>
                <table style="width:100%;background-color:white; border: 1px solid #d5bebe;color:black;" cellspacing="0" cellpadding="0">
                    <tr style="background-color: #3e3b3b;">
                        <td style="text-align: center;"><img src="http://beta3.thedigichamps.com/Images/mail.png" /></td>
                    </tr>
                    <tr>
                        <td style="height:2em;"></td>
                    </tr>
                    <tr>
                        <!--<td style="padding-left: 10px;padding-right:10px;" colspan="2">
                            <label style="font-size: 1rem;font-weight: 600;padding-left:20px;">Dear {{name}},</label>
                        </td>-->
                    </tr>
                    <tr>
                        <td style="height:5px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;padding-left:30px;padding-right:30px;" colspan="2">
                            <div style="font-size: 0.9rem;">
                                <p>{{Description}}</p>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td style="height:30px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px; padding-right:30px;" colspan="2">
                            <div><label style="font-size: 0.8rem;"><strong>With Regards,</strong></label></div>
                            <div><label style="font-size: 0.9rem;"><strong>Team ODM</strong></label></div>
                            <!-- <div><label style="font-size: 0.8rem;"><strong>Hoping for the best!</strong></label></div>-->

                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:30px;padding-right:30px;    padding-top: 24px;" colspan="2">
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Address: </strong>Sishu Vihar,Infocity Road,Patia ,BBSR-24</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Phone: </strong>18001202316</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Email: </strong><a href="mailto:info@odmps.org">info@odmps.org</a></label></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:2em;"></td>
                    </tr>
                    <tr>
                    <tr style="background-color: #3e3b3b;text-align:center;">
                        <td style="padding-bottom:10px;    padding-top: 10px;">
                            <a href="https://www.facebook.com/OdmEducationalGroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/facebook.png" /></a>&nbsp;&nbsp;
                            <a href="https://www.instagram.com/odmps/" target="_blank" rel="noopener noreferrer"><img src="http://admissions.theOdmErp.in/images/instagram.png" /></a>&nbsp;&nbsp;
                            <a href="https://twitter.com/odmedgroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/twitter.png" /></a>&nbsp;&nbsp;
                            <a href="https://www.youtube.com/user/odmps" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/youtube.png" /></a>
                        </td>
                    </tr>



                </table>
            </td>
            <td valign="top" style="height:180px;">
                <div style="height:55%;background-color:transparent;"></div>
                <div style="height:45%;background-color:white;"></div>
            </td>
        </tr>
    </table>



</body>
</html>