﻿
@{
    Layout = null;
}
@model OdmErp.Web.Areas.Admission.Models.admitcardcls
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admitcardpdffile</title>
</head>
<body style="font-size:20px;font-family:Arial;">
    <header>
        <table style="width:100%;border:0px none;">
            <tr>
                <td>
                    <img src="@Model.admitcard.LogoName" style="width:180px;" />
                </td>
                <td colspan="2" style="text-align:left;">
                    <div style="font-size:40px;font-weight:600;">
                        @Model.admitcard.Title
                    </div>
                    <div style="font-size:30px;font-weight:600;">
                        @Html.Raw(Model.admitcard.Address)
                    </div>
                    <div style="font-size:20px;font-weight:600;">
                        Phone Number - @Model.admitcard.Tollfree<br />
                        Admission for the session @Model.all_Admission.AcademicSessionName
                    </div>
                </td>
                <td>
                    <img src="@(Model.all_Admission.ProfileImage==null?"https://ssl.gstatic.com/accounts/ui/avatar_2x.png":Model.all_Admission.ProfileImage)" style="width:150px;height:160px;" />
                </td>
            </tr>
        </table>
    </header>
    <table style="width:100%;border:0px none;" cellpadding="4">
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Admit Card</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="width:100%;border:0px none;">
                    <tr>
                        <td>
                            <strong>Application Number</strong>
                        </td>
                        <td>
                            @Model.all_Admission.FormNumber
                        </td>

                        <td>
                            <strong>Roll No</strong>
                        </td>
                        <td>@(Model.GetExamDet.ob.Count==0?"": Model.GetExamDet.ob.Where(a=>a.IsAppeared=="").FirstOrDefault().RollNo.ToString())</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Name</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.Fullname)
                        </td>

                        <td>
                            <strong>Board</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.BoardName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Phone</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.Mobile)
                        </td>

                        <td>
                            <strong>Class</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.StandardName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Email</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.EmergencyEmail)
                        </td>

                        <td>
                            <strong>Wing</strong>
                        </td>
                        <td>
                            @(Model.all_Admission.WingName)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Exam Details</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="width:100%;border:0px none;">
                    <tr>
                        <td>
                            <strong>Exam Date</strong>
                        </td>
                        <td>
                            @(Model.GetExamDet.ob.Count == 0 ? "" : Model.GetExamDet.ob.Where(a => a.IsAppeared == "").FirstOrDefault().ExamDate)
                        </td>

                        <td>
                            <strong>Start Time</strong>
                        </td>
                        <td style="width:25%;">@(Model.GetExamDet.ob.Count == 0 ? "" : Model.GetExamDet.ob.Where(a => a.IsAppeared == "").FirstOrDefault().StartTime)</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Reach Time</strong>
                        </td>
                        <td>
                            @(Model.GetExamDet.ob.Count == 0 ? "" : Model.GetExamDet.ob.Where(a => a.IsAppeared == "").FirstOrDefault().ReachTime)
                        </td>

                        <td>
                            <strong>End Time</strong>
                        </td>
                        <td>
                            @(Model.GetExamDet.ob.Count == 0 ? "" : Model.GetExamDet.ob.Where(a => a.IsAppeared == "").FirstOrDefault().EndTime)
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        @if (Model.admitcard.Instruction != "")
        {
            <tr>
                <td colspan="4"><br /></td>
            </tr>

            <tr>
                <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                    <strong>Instruction</strong>

                </td>
            </tr>
            <tr>
                <td colspan="4"><br /></td>
            </tr>
            <tr>
                <td colspan="4">@Html.Raw(Model.admitcard.Instruction)</td>
            </tr>
        }
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size: 30px;background-color: red;color: white;font-weight: 600;">
                <strong>Venue</strong>

            </td>
        </tr>
        <tr>
            <td colspan="4"><br /></td>
        </tr>
        <tr>
            <td colspan="4">

                <div style="font-size:30px;font-weight:600;">
                    @Model.admitcard.Title
                </div>
                <div style="font-size:20px;font-weight:600;">
                    @Html.Raw(Model.admitcard.Address)
                </div>
            </td>
        </tr>
    </table>
    @*@if(Model.admitcard.Remarks!="")
    {
        <footer style="position:absolute;bottom:0px;">
            <table style="width:100%;border:0px none;font-size:17px;">
                <tr>
                    <td>
                        <strong>Remark : </strong><span>@Model.admitcard.Remarks</span>
                    </td>
                </tr>
            </table>
        </footer>
    }*@
</body>
</html>
