﻿
@{

    Layout = null;
}
<link href="~/css/commonStyleSheet.css" rel="stylesheet" />
<div id="divloader" class="divloaders" style="z-index:2999;">
    <img src="~/images/loader.gif" />
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" href="~/Admission/images/favicon.png">
<link rel="shortcut icon" href="~/Admission/images/favicon.png">
<link type="text/css" rel="stylesheet" href="~/Admission/css/plugins.css">
<link type="text/css" rel="stylesheet" href="~/Admission/css/form-style.css">
<style>
    .text-danger {
        color: red;
    }
</style>
<div id="main">
    <header class="main-header">
        <a href="https://www.odmps.org/" class="header-logo"><img src="~/Admission/images/logo.png" alt=""></a>
        <div class="nav-button-wrap">
            @*<div class="nav-button"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> HOME</a> </div>*@
        </div>
        <div class="header-contacts">
            <ul>
                <li><span> Call </span> <label>1800-120-2316</label></li>
                <li><span> Write </span> <a href="mailto:info@odmps.org">info@odmps.org</a></li>
            </ul>
        </div>
    </header>
    <div class="left-panel">
        <div class="horizonral-subtitle"><span></span></div>
        <div class="left-panel_social">
            <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="content-holder">

            <div class="row">




                <div class="col-md-6" id="LoginCard">
                    <h3 class="register">Login</h3>
                    <div id="contact-form">


                        <div class="custom-form" action="#" name="contactform">
                            <form asp-action="ValidMobileNoLogin" asp-controller="BasicRegistration" asp-area="Admission" method="post" id="validation-form">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="MobileNo" id="txtLoginMobile" placeholder="Enter Mobile *" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="" />
                                            <span class="text-danger txtLoginMobile_validation"></span>
                                            <span class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <button 
                                            type="submit"
                                            class="btn float-btn flat-btn color-bg">
                                        Login <i class="fal fa-long-arrow-right"></i>
                                    </button>
                                    <div class="clearfix"></div>
                                    <div class="row" style="justify-content: center;font-weight:500;font-size:16px;">
                                        <div class="col-md-12">
                                            New user? <a asp-action="Register" asp-controller="Student" asp-area="Admission">Register Now</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>








                <div class="col-md-6">
                    <div class="right-sticky-img"><img src="~/Admission/images/admission.jpg" class="full-w" /></div>

                </div>
            </div>


        </div>
    </div>

</div>


<footer class="main-footer">

    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="about-us.php">About Us </a></li>
                                <li><a href="our-story.php">Our Story  </a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- footer contacts end -->

                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">


                        <div class="col-md-12">
                            <ul>
                                <li><a href="plan-campus-visit.php">Plan Campus Visit</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download our App</a></li>
                                <li><a href="#">School Anthem</a></li>
                                <li><a href="#">School Calendar</a></li>
                                <li><a href="#">Downloads</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-header fl-wrap"> Contacts</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>Call:</span><a href="#">1800-120-2316</a></li>
                            <li><span>Write  :</span><a href="#">info@odmps.org</a></li>
                            <li><span>Find us : </span><a href="#">SISHUVIHAR, INFOCITY ROAD, PATIA, BHUBANESWAR-24, KHORDHA ODISHA, INDIA</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->

                </div>


            </div>



        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; ODM PUBLIC SCHOOL 2020  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->

        </div>
    </div>

</footer>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/js/demo/datatables-demo.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/select2/js/select2.min.js"></script>

<script src="~/treant/vendor/raphael.js"></script>
<script src="~/treant/Treant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script type="text/javascript">

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };
</script>

<script>
    $(document).ready(function () {
        //  $("#LoginCard").show();
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($("#txtLoginMobile").val().trim() == "") {
                $(".txtLoginMobile_validation").text("Please Enter Mobile Number.");
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                if ($("#txtLoginMobile").val().length != 10) {
                    $(".txtLoginMobile_validation").text("Please Enter Correct Mobile Number.");
                    $('#divloader').fadeOut(300);
                    return false;
                }
            }

            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    window.location.href=resp;
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    window.location.href=resp;
                }

            })



        })
    });



    function LoginUser() {

        if ($("#txtLoginMobile").val().trim() == "") {
            $(".txtLoginMobile_validation").text("Please Enter Mobile Number.");
            return false;
        }
        else {
            if ($("#txtLoginMobile").val().length != 10) {
                $(".txtLoginMobile_validation").text("Please Enter Correct Mobile Number.");
                return false;
            }



        }

        return true;


    }


//checkmobileLogin






</script>