﻿
@{

    Layout = null;
}
<link href="~/css/commonStyleSheet.css" rel="stylesheet" />
<div id="divloader" class="divloaders" style="z-index:2999;">
    <img src="~/images/loader.gif" />
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" href="~/Admission/images/favicon.png">
<link rel="shortcut icon" href="~/Admission/images/favicon.png">
<link type="text/css" rel="stylesheet" href="~/Admission/css/plugins.css">
<link type="text/css" rel="stylesheet" href="~/Admission/css/form-style.css">
<style>
    .text-danger {
        color: red;
    }
</style>
<div id="main">
    <header class="main-header">
        <a href="https://www.odmps.org/" class="header-logo"><img src="~/Admission/images/logo.png" alt=""></a>
        <div class="nav-button-wrap">
            @*<div class="nav-button"> <a href="#"><i class="fa fa-home" aria-hidden="true"></i> HOME</a> </div>*@
        </div>
        <div class="header-contacts">
            <ul>
                <li><span> Call </span> <label>1800-120-2316</label></li>
                <li><span> Write </span> <a href="mailto:info@odmps.org">info@odmps.org</a></li>
            </ul>
        </div>
    </header>
    <div class="left-panel">
        <div class="horizonral-subtitle"><span></span></div>
        <div class="left-panel_social">
            <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="content-holder">

            <div class="row">


                <div class="col-md-6" id="MobileValidCard">
                    <h3 class="register">VALIDATE OTP</h3>
                    <div id="contact-form">


                        <div class="custom-form" action="#" name="contactform">
                            <form asp-action="ValidOtpFromStudentLogin" asp-controller="BasicRegistration"
                                  asp-area="Admission" id="validation-form"
                                  method="post">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input hidden id="otpId" name="otpId" value="@ViewBag.OtpId" />
                                            <input type="text" maxlength="6" name="OTP" placeholder="Enter OTP *"
                                                   id="txtMobileValidation" style="" />
                                            <span class="text-success" id="txtsuccess"></span>
                                            @if (@ViewBag.OtpId == "0")
                                            {
                                                <span class="text-danger txtMobileValidate_validation">

                                                </span>
                                                <span class="text-danger"></span>
                                            }
                                            else
                                            {
                                                <span class="text-danger txtMobileValidate_validation">
                                                    OTP is incorrect

                                                </span>
                                                <span class="text-danger"></span>
                                            }


                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <button @*onclick="LoginWithOtp()"*@ type="submit"
                                            class="btn float-btn flat-btn color-bg">
                                        VALIDATE OTP
                                        <i class="fal fa-long-arrow-right"></i>
                                    </button>

                                    <div class="row" style="justify-content: center;font-weight:500;font-size:8px;">
                                        <div class="col-md-12">
                                            <button type="button" onclick="resendOtp()"
                                                    class="btn float-btn flat-btn color-bg">
                                                RESEND OTP
                                                <i class="fal fa-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row" style="justify-content: center;font-weight:500;font-size:16px;">
                                        <div class="col-md-12">
                                            New user? <a asp-area="Admission" asp-controller="Student" asp-action="Register">Create an account</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>

                <input hidden id="admId" value="@ViewBag.Id" />



                <div class="col-md-6">
                    <div class="right-sticky-img"><img src="~/Admission/images/admission.jpg" class="full-w" /></div>

                </div>
            </div>


        </div>
    </div>

</div>


<footer class="main-footer">

    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="about-us.php">About Us </a></li>
                                <li><a href="our-story.php">Our Story  </a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- footer contacts end -->

                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">


                        <div class="col-md-12">
                            <ul>
                                <li><a href="plan-campus-visit.php">Plan Campus Visit</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download our App</a></li>
                                <li><a href="#">School Anthem</a></li>
                                <li><a href="#">School Calendar</a></li>
                                <li><a href="#">Downloads</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-header fl-wrap"> Contacts</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>Call:</span><a href="#">1800-120-2316</a></li>
                            <li><span>Write  :</span><a href="#">info@odmps.org</a></li>
                            <li><span>Find us : </span><a href="#">SISHUVIHAR, INFOCITY ROAD, PATIA, BHUBANESWAR-24, KHORDHA ODISHA, INDIA</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->

                </div>


            </div>



        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; ODM PUBLIC SCHOOL 2020  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->

        </div>
    </div>

</footer>

@*<div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registration Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Hi @ViewBag.Name, Thank you for registering with ODM Public School, Kindly Pay Admission Form Fee for Admission Process and Your Registered Mobile Number is @ViewBag.Mobile for relogin</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/js/demo/datatables-demo.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/select2/js/select2.min.js"></script>

<script src="~/treant/vendor/raphael.js"></script>
<script src="~/treant/Treant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

<script type="text/javascript">

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };
</script>
<script>
    $(document).ready(function () {
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
           
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    window.location.href = resp;
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    window.location.href = resp;
                }

            })



        })
    })

</script>
<script>
    $(document).ready(function () {

        var rid = $("#otpId").val();


        // console.log($("#otpId").val());
        //  $("#MobileValidCard").show();
        if ($("#otpId").val() != null && $("#otpId").val() == '0')
            sendOtp($("#admId").val());




    });
    function sendOtp(data) {

        console.log($("#otpId").val());
        //  $("#MobileValidCard").show();
        if ($("#otpId").val() != null && $("#otpId").val() == '0')
            sendOtp($("#admId").val());
    }
    function resendOtp(data) {

        sendOtp($("#admId").val());
        alert('OTP has been successfully sent to your mobile number');
    }
    function sendOtp(data) {

        $.get('/Admission/BasicRegistration/SaveOtpAndSendMessage', {
            admId: data,
            //SessionId: $('#AcademicSessionId').val()
        }, function (data) {
            console.log(data);
            $("#otpId").val(data);
                //$("#txtsuccess").text('OTP Send Successfully');

        });
    }






</script>