﻿@{

    Layout = null;
}
<link href="~/css/commonStyleSheet.css" rel="stylesheet" />
<div id="divloader" class="divloaders" style="z-index:2999;">
    <img src="~/images/loader.gif" />
</div>
@model OdmErp.Web.Areas.Admission.Models.AdmissionStudentViewModel
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" href="~/Admission/images/favicon.png">
<link rel="shortcut icon" href="~/Admission/images/favicon.png">
<link type="text/css" rel="stylesheet" href="~/Admission/css/plugins.css">
<link type="text/css" rel="stylesheet" href="~/Admission/css/form-style.css">
<style>
    .text-danger {
        color: red;
    }

    .col-md-6.mt-5 {
        padding: 40px 0 0 0;
        font-weight: 900;
    }
</style>
<div id="main">
    <header class="main-header">
        <a href="https://www.odmps.org/" class="header-logo"><img src="~/Admission/images/logo.png" alt=""></a>
        <div class="nav-button-wrap">
            <div class="nav-button">
                @*<a href="#"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
                    <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> LOG OUT</a>*@
            </div>
        </div>
        <div class="header-contacts">
            <ul>
                <li><span> Call </span> <label>1800-120-2316</label></li>
                <li><span> Write </span> <a href="mailto:info@odmps.org">info@odmps.org</a></li>
            </ul>
        </div>
    </header>
    <div class="left-panel">
        <div class="horizonral-subtitle"><span></span></div>
        <div class="left-panel_social">
            <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="content-holder">
            <input hidden value="@Model.admissionViewModel.LeadReferenceId" id="admId" />
            <div class="col-md-6 col-xs-12">
                <div class="custom-form">
                    <div class="card" id="registrationCard">
                        <div class="card-header" style="text-align: center; font-weight: 700; font-size: 25px;">
                            PAYMENT
                        </div>

                        <div class="card-body" style="font-size: 14px;">
                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">STUDENT NAME</label>
                                        <input type="text" class="form-control" value="@Model.admissionViewModel.FullName" id="txtStudentName" readonly style="" />

                                        <span class="text-danger txtStudentName_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">CONTACT PERSON NAME</label>
                                        <input type="text" class="form-control" value="@Model.admissionViewModel.ContactName" id="txtContactName" readonly style="" />
                                        <span class="text-danger txtContactName_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">CONTACT PERSON MOBILE</label>
                                        <input type="number" class="form-control" value="@Model.admissionViewModel.Mobile" id="txtContactMobile" readonly style="" />

                                        <span class="text-danger txtContactMobile_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">CONTACT PERSON EMAIL</label>
                                        <input type="email" class="form-control" value="@Model.admissionViewModel.EmailId" id="txtEmailId" readonly style="" />

                                        <span class="text-danger txtEmailId_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">SCHOOL</label>
                                        @*<input type="date" class="form-control" id="ddlClass" style="" />*@
                                        <input type="email" class="form-control" value="@Model.admissionViewModel.ClassDetails.schoolName" id="txtSchool" readonly style="" />
                                        <span class="text-danger txtSchool_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">CLASS</label>
                                        @*<input type="date" class="form-control" id="ddlClass" style="" />*@
                                        <input type="email" class="form-control" value="@Model.admissionViewModel.ClassDetails.className" id="txtClass" readonly style="" />
                                        <span class="text-danger txtClass_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="justify-content: center;">
                                        <label class="control-label">BOARD</label>
                                        @*<input type="date" class="form-control" id="ddlClass" style="" />*@
                                        <input type="email" class="form-control" value="@Model.admissionViewModel.ClassDetails.boardName" id="txtBoard" readonly style="" />
                                        <span class="text-danger txtBoard_validation"></span>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-5">
                                    AMOUNT : @Model.admissionViewModel.Amount  <span id="regAmount"></span>
                                </div>
                            </div>


                            <input id="amount" value="@Model.admissionViewModel.Amount" hidden />

                            <input id="name" value="@Model.admissionViewModel.FullName" hidden />
                            <input id="email" value="@Model.admissionViewModel.EmailId" hidden />
                            <input id="mobile" value="@Model.admissionViewModel.Mobile" hidden />





                            <div class="row">

                                @if (@Model.razor != null)
                                {
                                    <input id="order" value="@Model.razor.orderid" hidden />
                                    <input id="key" value="@Model.razor.key" hidden />
                                    <input id="callback" value="@Model.razor.callback" hidden />
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" id="btnpay">Pay <i class="fal fa-long-arrow-right"></i></button>
                                    </div>


                                }
                                else
                                {
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" id="btnpaybd">Pay <i class="fal fa-long-arrow-right"></i></button>
                                    </div>
                                }

                            </div>
                            @*<div class="row" style="justify-content: center;font-weight:600;font-size:18px;">
                                    Already Registered
                                </div>

                                <div class="row" style="justify-content: center;">
                                    <a href="#" onclick="LoginOpen()">Login</a>

                                </div>*@


                        </div>
                        @*<h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>*@

                    </div>
                </div>
            </div>

            <div class="col-md-5 col-xs-12">
                <div class="card" id="hideinfo">
                    <div class="card-header" style="text-align: center; font-weight: 700; font-size: 25px;">
                        INFORMATION
                    </div>
                    <div class="card-body" style="font-size: 14px;padding-top:10px;">
                        <div class="row">
                            <div class="column" style=" float: left; width: 100%; padding: 0 10px;">
                                <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 16px; text-align: center; background-color: #f1f1f1;">
                                    <p> Thank  you  for  registering  with  ODM  Public  School,</p>
                                    <p> Kindly Pay Admission Form Fee for Admission Process</p>
                                    <p>
                                        and Your Registered Mobile Number is @Model.admissionViewModel.Mobile for
                                        relogin.
                                    </p>
                                </div>
                            </div>

                        </div>
                        @*<div class="row" style="padding-top:10px;">
                            <a class="btn btn-primary" id="btnpaybd" onclick="btnhideok()" style="padding: 10px;">Ok</a>
                        </div>
                        <script>
                            function btnhideok() {
                                document.getElementById("hideinfo").style.display = "none";
                            }
                        </script>*@
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<footer class="main-footer">

    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="about-us.php">About Us </a></li>
                                <li><a href="our-story.php">Our Story  </a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- footer contacts end -->

                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">


                        <div class="col-md-12">
                            <ul>
                                <li><a href="plan-campus-visit.php">Plan Campus Visit</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download our App</a></li>
                                <li><a href="#">School Anthem</a></li>
                                <li><a href="#">School Calendar</a></li>
                                <li><a href="#">Downloads</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-header fl-wrap"> Contacts</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>Call:</span><a href="#">1800-120-2316</a></li>
                            <li><span>Write  :</span><a href="#">info@odmps.org</a></li>
                            <li><span>Find us : </span><a href="#">SISHUVIHAR, INFOCITY ROAD, PATIA, BHUBANESWAR-24, KHORDHA ODISHA, INDIA</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->

                </div>


            </div>



        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; ODM PUBLIC SCHOOL 2020  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->

        </div>
    </div>

</footer>
<script src="~/js/jquery-3.5.1.min.js"></script>

<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/js/demo/datatables-demo.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/select2/js/select2.min.js"></script>

<script src="~/treant/vendor/raphael.js"></script>
<script src="~/treant/Treant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<script type="text/javascript">

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };
</script>
<script>
    $(document).ready(function () {

        $('#btnpaybd').click(function () {
            $('#divloader').fadeIn(300);

            var dt = $('#admId').val();




            $.get('/Admission/PaymentStatus/PostToBD', { id: dt }, function (data) {


                $('#divloader').fadeOut(300);
                if (data != null) {

                    //  alert(JSON.stringify(data));
                    window.location.replace(data);
                    return;

                }
            });
        });

        //$.ajax({
        //    url: "/Admission/Student/GetRegDetailsWithPayment",
        //    type: "POST",
        //    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        //    data: { 'id': $("#admId").val() },
        //    dataType: 'json',
        //    // async: false,
        //    success: function (response) {

        //        $("#regAmount").text(response.admisionFee);
        //        $("#txtStudentName").val(response.admisionStudentDetails.firstName + " " + response.admisionStudentDetails.lastName);
        //        $("#txtContactName").val(response.admissionStudentContact.fullName);
        //        $("#txtContactMobile").val(response.admissionDetails.mobileNumber);
        //        $("#txtEmailId").val(response.admissionStudentContact.emailId);
        //        $("#txtSchool").val(response.admissionstudentStandardSingle.orgName);
        //        $("#txtBoard").val(response.admissionstudentStandardSingle.boardName);
        //        $("#txtClass").val(response.admissionstudentStandardSingle.name);
        //        //if (response > 0) {
        //        //    $("#hdnFatherDetailsId").val(response);
        //        //}

        //        //txtStudentName  txtContactName  txtContactMobile txtEmailId txtSchool txtClass txtBoard  regAmount

        //        //openCity(evt, 'Transportation');  // hdnFatherDetailsId hdnMotherDetailsId
        //        //$("#TransportationOpen").addClass("active");
        //    }

        //});

    });



    //<button id="rzp-button1">Pay</button>


</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": $("#key").val(), // Enter the Key ID generated from the Dashboard
        "amount": $("#amount").val(), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "ODM PUBLIC SCHOOL",
        "description": "Admission Registration Fee",
        "image": "http://tracq.odmps.org/Admission/images/logo.png",
        "order_id": $("#order").val(), //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        //"callback_url": $("#callback").val(),
        "handler": function (response) {
            ;

            var data = {
                razorpay_payment_id: response.razorpay_payment_id,
                admid: $('#admId').val(),

            }
            window.location.href = '/Admission/PaymentStatus/RazorPayPaymentResponse?razorpay_payment_id=' + response.razorpay_payment_id + '&admid=' + $('#admId').val();
            //$.post('/Admission/PaymentStatus/RazorPayPaymentResponse', data, function (res) {


            //    $('#divloader').fadeOut(300);
            //    if (res != null) {

            //        //  alert(JSON.stringify(data));
            //        window.location.replace(res);
            //        return;

            //    }
            //});
        },
        "prefill": {
            "name": $("#name").val(),
            "email": $("#email").val(),
            "contact": $("#mobile").val(),
        },

        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        // alert("Payment Failed");
        //alert(response.error.code);
        //alert(response.error.description);
        //alert(response.error.source);
        //alert(response.error.step);
        //alert(response.error.reason);
        //alert(response.error.metadata.order_id);
        //alert(response.error.metadata.payment_id);
    });
    document.getElementById('btnpay').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>