﻿
@{

    Layout = null;
}
<link href="~/css/commonStyleSheet.css" rel="stylesheet" />
<div id="divloader" class="divloaders" style="z-index:2999;">
    <img src="~/images/loader.gif" />
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" href="~/Admission/images/favicon.png">
<link rel="shortcut icon" href="~/Admission/images/favicon.png">
<link type="text/css" rel="stylesheet" href="~/Admission/css/plugins.css">
<link type="text/css" rel="stylesheet" href="~/Admission/css/form-style.css">
<style>
    .text-danger {
        color: red;
    }
</style>
<div id="main">
    <header class="main-header">
        <a href="https://www.odmps.org/" class="header-logo"><img src="~/Admission/images/logo.png" alt=""></a>
        <div class="nav-button-wrap">

        </div>
        <div class="header-contacts">
            <ul>
                <li><span> Call </span> <label>1800-120-2316</label></li>
                <li><span> Write </span> <a href="mailto:info@odmps.org">info@odmps.org</a></li>
            </ul>
        </div>
    </header>
    <div class="left-panel">
        <div class="horizonral-subtitle"><span></span></div>
        <div class="left-panel_social">
            <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="content-holder">

            <div class="row">

                <div class="col-md-6" id="registrationCard">
                    <h3 class="register">Register</h3>
                    <div id="contact-form">

                        @*<form action="/Admission/Student/SendMail"
                                  method="post">
                                <button id="redButton" >
                                    Send
                                    <i id="normal" class="fal fa-long-arrow-right"></i>
                                </button>
                            </form>*@

                        <div class="custom-form" action="#" name="contactform">
                            <form asp-action="AdmissionSave" asp-controller="BasicRegistration" asp-area="Admission"
                                  method="post" id="validation-form">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="firstname" id="txtFirstName" placeholder="Student First Name *" style="" />
                                            <span class="text-danger txtFirstName_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6">
                                            <input type="text" id="txtLastName" name="lastname" placeholder="Student Last Name *" style="" />
                                            <span class="text-danger txtLastName_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="contactName" placeholder="Parent Name *" id="txtContactName" style="" />
                                            <span class="text-danger txtContactName_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6">
                                            <input type="text" name="contactMobile" maxlength="10" placeholder="Mobile Number *" id="txtContactMobile" onblur="checkmobile()" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="" />

                                            <span class="text-danger txtContactMobile_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Email ID *" id="txtEmailId" style="" />
                                            <span class="text-danger txtEmailId_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            @*<input type="date" class="form-control" id="ddlClass" style="" />*@
                                            <select id="ddlClass" name="Class" data-placeholder="Class" class="chosen-select sel-dec">
                                            </select>
                                            <span class="text-danger ddlClass_validation"></span>
                                            <span class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6" style="  margin-top: 20px; float: initial;">

                                            @*<input type="date" class="form-control" id="ddlClass" style="" />*@
                                            <select id="ddlSchool" name="School" data-placeholder="School" class="chosen-select sel-dec">
                                                <option value="0">Select School & Wing</option>
                                            </select>
                                            <span class="text-danger ddlSchool_validation"></span>
                                            <span class="text-danger"></span>

                                        </div>


                                        <input hidden name="sourceId" id="sourceId" value="3" />



                                    </div>
                                    <div class="clearfix" style="margin-bottom:6px;"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label style="margin: 0px;font-size: 14px;font-weight: bold;"><input type="checkbox" value="true" id="chkecounselling" name="chkecounselling" />&nbsp; Interested in E-Counselling</label>
                                        </div>
                                        <div class="col-md-12" id="divcounselling">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select id="ddlcounsellingdate" name="counsellingdate" class="chosen-select sel-dec">
                                                    </select>
                                                    <span class="text-danger ddlcounsellingdate_validation"></span>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <select id="ddlcounsellingslot" name="counsellingslot" class="chosen-select sel-dec">
                                                    </select>
                                                    <span class="text-danger ddlcounsellingslot_validation"></span>
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:2px;"></div>
                                        <div class="col-md-12">
                                            <label style="margin:0px;font-size: 14px;font-weight: bold;"><input type="checkbox" value="true" id="chkcampustour" name="chkcampustour" />&nbsp; Interested in Campus-Tour</label>
                                        </div>
                                        <div class="col-md-12" id="divcampustour">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select id="ddlcampustourdate" name="campustourdate" class="chosen-select sel-dec">
                                                    </select>
                                                    <span class="text-danger ddlcampustourdate_validation"></span>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <select id="ddlcampustourslot" name="campustourslot" class="chosen-select sel-dec">
                                                    </select>
                                                    <span class="text-danger ddlcampustourslot_validation"></span>
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="margin-bottom:2px;"></div>
                                    </div>
                                    @*<input hidden id="admId" />*@
                                    <div class="clearfix"></div>
                                    <button id="redButton" type="submit" class="btn float-btn flat-btn color-bg">
                                        Register Now
                                        <i id="normal" class="fal fa-long-arrow-right"></i>
                                    </button>
                                    <i style="margin-left:2rem;" id="my-spinner" class="fas fa-spinner fa-pulse "></i>
                                    <div class="clearfix"></div>
                                    <div class="row" style="justify-content: center;font-weight:500;font-size:16px;">
                                        <div class="col-md-12"> Already Registered? <a asp-controller="Student" asp-area="Admission" asp-action="Login">Login</a></div>
                                    </div>


                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>






                <div class="col-md-6">
                    <div class="right-sticky-img"><img src="~/Admission/images/admission.jpg" class="full-w" /></div>

                </div>
            </div>


        </div>
    </div>

</div>


<footer class="main-footer">

    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="about-us.php">About Us </a></li>
                                <li><a href="our-story.php">Our Story  </a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- footer contacts end -->

                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">


                        <div class="col-md-12">
                            <ul>
                                <li><a href="plan-campus-visit.php">Plan Campus Visit</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download our App</a></li>
                                <li><a href="#">School Anthem</a></li>
                                <li><a href="#">School Calendar</a></li>
                                <li><a href="#">Downloads</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-header fl-wrap"> Contacts</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>Call:</span><a href="#">1800-120-2316</a></li>
                            <li><span>Write  :</span><a href="#">info@odmps.org</a></li>
                            <li><span>Find us : </span><a href="#">SISHUVIHAR, INFOCITY ROAD, PATIA, BHUBANESWAR-24, KHORDHA ODISHA, INDIA</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->

                </div>


            </div>



        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; ODM PUBLIC SCHOOL 2020  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->

        </div>
    </div>

</footer>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/js/demo/datatables-demo.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/select2/js/select2.min.js"></script>

<script src="~/treant/vendor/raphael.js"></script>
<script src="~/treant/Treant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

<script type="text/javascript">

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };
</script>
<script>
    $(document).ready(function () {

        $("#my-spinner").hide();
      
        $('#ddlClass').empty();
        $("#divcounselling").hide();
        $("#divcampustour").hide();
        $('#chkecounselling').change(function () {
            if ($('#chkecounselling').prop("checked")) {
                $("#divcounselling").show();
            }
            else {
                $("#divcounselling").hide();
            }
        })
        $('#chkcampustour').change(function () {
            if ($('#chkcampustour').prop("checked")) {
                $("#divcampustour").show();
            }
            else {
                $("#divcampustour").hide();
            }
        })

        $.get('/Admission/BasicRegistration/GetClassListBySession', {}, function (data) {
            if (data.length > 0) {
                $("#ddlClass").append('<option value="0">Select Class</option>');
                $.each(data, function (i, item) {
                    $("#ddlClass").append('<option value="' + item.boardStandardId + '"> ' + item.boardClass + ' </option>');
                });
            }
        });

        $("#ddlcampustourdate").empty();
        $.get('/Admission/Student/GetCampusTourDateList', {}, function (data) {
            if (data.length > 0) {
                $("#ddlcampustourdate").append('<option value="0">Select Date</option>');
                $.each(data, function (i, item) {
                    $("#ddlcampustourdate").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });

        $("#ddlcounsellingdate").empty();
        $.get('/Admission/Student/GetEcounsellingDateList', {}, function (data) {
            if (data.length > 0) {
                $("#ddlcounsellingdate").append('<option value="0">Select Date</option>');
                $.each(data, function (i, item) {
                    $("#ddlcounsellingdate").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });

        $("#ddlcampustourdate").change(function () {
            if ($("#ddlcampustourdate").val() != '0') {
                $("#ddlcampustourslot").empty();
                $.get('/Admission/Student/GetCampustourSlotsList', { dateid: $("#ddlcampustourdate").val() }, function (data) {
                    if (data.length > 0) {
                        $("#ddlcampustourslot").append('<option value="0">Select Slot</option>');
                        $.each(data, function (i, item) {
                            $("#ddlcampustourslot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }

        })
        $("#ddlcounsellingdate").change(function () {
            if ($("#ddlcounsellingdate").val() != '0') {
                $("#ddlcounsellingslot").empty();
                $.get('/Admission/Student/GetEcounsellingSlotsList', { dateid: $("#ddlcounsellingdate").val() }, function (data) {
                    if (data.length > 0) {
                        $("#ddlcounsellingslot").append('<option value="0">Select Slot</option>');
                        $.each(data, function (i, item) {
                            $("#ddlcounsellingslot").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }

        })
    });
    $('#ddlClass').change(function () {
        $('#ddlSchool').empty();
        if ($("#ddlClass").val != "0") {
            $.get('/Admission/BasicRegistration/GetSchoolWingByBoardStandard', {
                BoardStandardId: $('#ddlClass').val(),
                //SessionId: $('#AcademicSessionId').val()
            }, function (data) {
                if (data.length > 0) {
                    $("#ddlSchool").append('<option value="0">Select School & Wing</option>');
                    $.each(data, function (i, item) {
                        $("#ddlSchool").append('<option value="' + item.academicStandardWindId + '"> ' + item.name + ' </option>');
                    });
                }
            });
        }

    });

    function sendOtp(data) {

        $.get('/Admission/BasicRegistration/SaveOtpAndSendMessage', {
            admId: data,
            //SessionId: $('#AcademicSessionId').val()
        }, function (data) {
            console.log(data);
            $("#otpId").val(data);

        });
    }
    //function LoginOpen() {
    //    $("#LoginCard").show();
    //    $("#registrationCard").hide();
    //}
    //function RegistrationOpen() {
    //    $("#LoginCard").hide();
    //    $("#MobileValidCard").hide();
    //    $("#registrationCard").show();
    //    $("#txtFirstName").val("");
    //    $("#txtLastName").val("");
    //    $("#txtContactName").val("");
    //    $("#txtContactMobile").val("");
    //    $("#txtEmailId").val("");
    //    $("#ddlClass").val("0");
    //    $('#ddlSchool').val("0");
    //}
    //function LoginUser() {
    //    if ($("#txtLoginMobile").val().trim() == "") {
    //        $(".txtLoginMobile_validation").text("Please Enter Mobile Number.");
    //    }
    //    else {
    //        if ($("#txtLoginMobile").val().length != 10) {
    //            $(".txtLoginMobile_validation").text("Please Enter Correct Mobile Number.");
    //        }
    //        else {

    //            $(".txtLoginMobile_validation").html("");
    //            $.ajax({
    //                url: "/Admission/Student/ValidMobileNoLogin",
    //                type: "POST",
    //                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    //                data: { 'mobileno': $("#txtLoginMobile").val().trim() },
    //                dataType: 'json',
    //                // async: false,
    //                success: function (response) {

    //                    if (response == 1) {
    //                        $("#LoginCard").hide();
    //                        // $("#MobileValidCard").hide();
    //                        $("#MobileValidCard").show();
    //                        // $("#LoginCard").show();
    //                        //$("#registrationCard").hide();
    //                        //$("#hdnAddressPermanentId").val(response);
    //                    }
    //                    else {
    //                        $(".txtMobileValidate_validation").text(response);
    //                    }
    //                }

    //            });
    //        }


    //    }
    //    $("#LoginCard").hide();
    //    $("#MobileValidCard").show();

    //}
    function RegisterUser() {

        //txtFirstName txtLastName txtContactName txtContactMobile txtEmailId ddlClass ddlSchool
        if ($("#txtFirstName").val().trim() == "") {
            $(".txtFirstName_validation").text("Please Enter First Name.")
            return false;
        }
        else {
            $(".txtFirstName_validation").html("");


        }
        if ($("#txtLastName").val().trim() == "") {
            $(".txtLastName_validation").text("Please Enter Last Name.")
            return false;
        }
        else {
            $(".txtLastName_validation").html("");


        }
        if ($("#txtContactName").val().trim() == "") {
            $(".txtContactName_validation").text("Please Enter Guardian Name.");
            return false;
        }
        else {
            $(".txtContactName_validation").html("");

        }
        //var sdsd = $("#txtContactMobile").val().length;
        //var lee = $("#txtContactMobile").val().trim();
        if ($("#txtContactMobile").val().trim() == "") {
            $(".txtContactMobile_validation").text("Please Enter Mobile Number.");
            return false;
        }
        else {
            if ($("#txtContactMobile").val().length != 10) {
                $(".txtContactMobile_validation").text("Please Enter Correct Mobile Number.");
                return false;
            }
            else {
                $(".txtContactMobile_validation").html("");
            }


        }
        if ($("#txtEmailId").val().trim() == "") {
            $(".txtEmailId_validation").text("Please Enter Email Id");
            return false;
        }
        else {
            if (!validateEmail($("#txtEmailId").val().trim())) {
                $(".txtEmailId_validation").text("Please Enter valid Email Id");
                return false;
            }
            else {
                $(".txtEmailId_validation").html("");
            }
        }
        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test($email);
        }
        var hh = $('#ddlClass').val();
        if ($('#ddlClass').val() == "0") {
            $(".ddlClass_validation").text("Please Select a Class.")
            return false;
        }
        else {
            $(".ddlClass_validation").html("")
        }
        if ($('#ddlSchool').val() == "0") {
            $(".ddlSchool_validation").text("Please Select School.")
            return false;
        }
        else {
            $(".ddlSchool_validation").html("")
        }
        if ($('#chkecounselling').prop("checked")) {
            if ($('#ddlcounsellingdate').val() == "0") {
                $(".ddlcounsellingdate_validation").text("Please Select Counselling Date.")
                return false;
            }
            else {
                $(".ddlcounsellingdate_validation").html("")
            }
            if ($('#ddlcounsellingslot').val() == "0") {
                $(".ddlcounsellingslot_validation").text("Please Select Counselling Slot.")
                return false;
            }
            else {
                $(".ddlcounsellingslot_validation").html("")
            }
        }
       

        if ($('#chkcampustour').prop("checked")) {
            if ($('#ddlcampustourdate').val() == "0") {
                $(".ddlcampustourdate_validation").text("Please Select Campus Tour Date.")
                return false;
            }
            else {
                $(".ddlcampustourdate_validation").html("")
            }
            if ($('#ddlcampustourslot').val() == "0") {
                $(".ddlcampustourslot_validation").text("Please Select Counselling Slot.")
                return false;
            }
            else {
                $(".ddlcampustourslot_validation").html("")
            }
        }
       




        return true;
        var fdf = $("#txtFirstName").val().trim();
        var rert = $("#txtLastName").val().trim();
        var ytyu = $("#txtContactName").val().trim();
        var tyuyi = $("#txtContactMobile").val().length;
        var tytgbd = $("#txtEmailId").val().trim();
        var uiui = $('#ddlClass').val();
        var weq = $('#ddlSchool').val();

        //$('#divloader').fadeIn();

        //if ($("#txtFirstName").val().trim() != "" && $("#txtLastName").val().trim() != "" && $("#txtContactName").val().trim() != "" && $("#txtContactMobile").val().length == 10 && $("#txtEmailId").val().trim() != "" && $('#ddlClass').val() != "0" && $('#ddlSchool').val() != "0") {
        //// $("#redButton").disableSelection();
        // $("#my-spinner").show();
        // $.ajax({
        //     url: "/Admission/BasicRegistration/AdmissionSave",
        //     type: "POST",
        //     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        //     data: {
        //         'FirstName': $("#txtFirstName").val().trim(), 'LastName': $("#txtLastName").val().trim(),
        //         'ContactName': $("#txtContactName").val().trim(),
        //         'ContactMobile': $("#txtContactMobile").val(),
        //         'EmailId': $("#txtEmailId").val(),
        //         'ClassId': $('#ddlClass').val(),
        //         'AcademicStandardWindId': $('#ddlSchool').val(),
        //         'sourceId': 3
        //     },
        //     dataType: 'json',
        //     // async: false,
        //     success: function (data) {
        //        // console.log(data);
        //        // $("#redButton").enableSelection();
        //         // $('#divloader').fadeOut();
        //           $("#my-spinner").hide();
        //         if (data != null && data > 0) {
        //              $("#admId").val(data);
        //               $("#registrationCard").hide();
        //             $("#MobileValidCard").show();
        //             sendOtp(data);
        //             // $("#LoginCard").show();


        //         }
        //     },
        //     error: function ()
        //     {
        //      //   $("#redButton").enableSelection();
        //            $("#my-spinner").hide();
        //     }


        // });
        //  }
    }

    //checkmobileLogin

    function checkmobile() {

        var mobileno = $('#txtContactMobile').val()
        $.get('/Admission/BasicRegistration/MobileValidationBySession', { Mobile: mobileno }, function (data) {
            if (data == 1) {

                $(".txtContactMobile_validation").text("Mobile Number Already Registerd");
                // alert("Mobile Number Is Duplicate.Please Enter Another Mobile Number");
                $('#txtContactMobile').focus();
                $('#txtContactMobile').val();
                return false;
            }
            else {
                $(".txtContactMobile_validation").html("");
            }
        });
    }



    //function LoginWithOtp() {
    //    if ($("#txtMobileValidation").val().trim() == "") {
    //        $(".txtMobileValidate_validation").text("Please Enter OTP.")
    //    }
    //    else {
    //        $(".txtMobileValidate_validation").html("");
    //        $.ajax({
    //            url: "/Admission/BasicRegistration/ValidOtpFromStudentLogin",
    //            type: "POST",
    //            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    //            data: { otpId: $("#otpId").val().trim(),OTP: $("#txtMobileValidation").val().trim() },
    //            dataType: 'json',
    //            // async: false,
    //            success: function (response) {

    //                if (response == 1) {
    //                    $("#LoginCard").show();
    //                    $("#MobileValidCard").hide();

    //                }
    //                else {
    //                    $(".txtMobileValidate_validation").text(response);
    //                }
    //            }

    //        });

    //    }
    //}
</script>
<script>
    $(document).ready(function () {
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($("#txtFirstName").val().trim() == "") {
                $(".txtFirstName_validation").text("Please Enter First Name.")
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                $(".txtFirstName_validation").html("");


            }
            if ($("#txtLastName").val().trim() == "") {
                $(".txtLastName_validation").text("Please Enter Last Name.")
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                $(".txtLastName_validation").html("");


            }
            if ($("#txtContactName").val().trim() == "") {
                $(".txtContactName_validation").text("Please Enter Guardian Name.");
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                $(".txtContactName_validation").html("");

            }
            //var sdsd = $("#txtContactMobile").val().length;
            //var lee = $("#txtContactMobile").val().trim();
            if ($("#txtContactMobile").val().trim() == "") {
                $(".txtContactMobile_validation").text("Please Enter Mobile Number.");
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                if ($("#txtContactMobile").val().length != 10) {
                    $(".txtContactMobile_validation").text("Please Enter Correct Mobile Number.");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".txtContactMobile_validation").html("");
                }


            }
            if ($("#txtEmailId").val().trim() == "") {
                $(".txtEmailId_validation").text("Please Enter Email Id");
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                if (!validateEmail($("#txtEmailId").val().trim())) {
                    $(".txtEmailId_validation").text("Please Enter valid Email Id");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".txtEmailId_validation").html("");
                }
            }
            function validateEmail($email) {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
                return emailReg.test($email);
            }
            var hh = $('#ddlClass').val();
            if ($('#ddlClass').val() == "0") {
                $(".ddlClass_validation").text("Please Select a Class.")
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                $(".ddlClass_validation").html("")
            }
            if ($('#ddlSchool').val() == "0") {
                $(".ddlSchool_validation").text("Please Select School.")
                $("#divloader").fadeOut(300);
                return false;
            }
            else {
                $(".ddlSchool_validation").html("")
            }
            if ($('#chkecounselling').prop("checked")) {
                if ($('#ddlcounsellingdate').val() == "0") {
                    $(".ddlcounsellingdate_validation").text("Please Select Counselling Date.");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".ddlcounsellingdate_validation").html("")
                }
                if ($('#ddlcounsellingslot').val() == "0") {
                    $(".ddlcounsellingslot_validation").text("Please Select Counselling Slot.");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".ddlcounsellingslot_validation").html("")
                }
            }


            if ($('#chkcampustour').prop("checked")) {
                if ($('#ddlcampustourdate').val() == "0") {
                    $(".ddlcampustourdate_validation").text("Please Select Campus Tour Date.");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".ddlcampustourdate_validation").html("")
                }
                if ($('#ddlcampustourslot').val() == "0") {
                    $(".ddlcampustourslot_validation").text("Please Select Counselling Slot.");
                    $("#divloader").fadeOut(300);
                    return false;
                }
                else {
                    $(".ddlcampustourslot_validation").html("")
                }
            }



            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        window.location.href = '/Admission/Student/MobileValidation/' + resp.encode;
                    }
                    else if (resp.sts == 2) {
                        window.location.href = '/Admission/Student/Register';
                    }


                    else if (resp == 0) {
                        window.location.href = '/Admission/Student/Error';
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        window.location.href = '/Admission/Student/MobileValidation/' + resp.encode;
                    }
                    else if (resp.sts == 2) {
                        window.location.href = '/Admission/Student/Register';
                    }


                    else if (resp == 0) {
                        window.location.href = '/Admission/Student/Error';
                        return false;
                    }
                }

            })



        })
    })

</script>