﻿
@{
    ViewData["Title"] = "AllAttachments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Support.Models.allsupportattachmentcls


@if (ViewBag.Type == "Request")
{
    <div class="row holder-breadcrumb">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" 
                                               asp-action="SupportRequest" 
                                               asp-controller="Support" asp-area="Support">Request</a></li>
                <li class="breadcrumb-item">
                    <a class="h6 mb-0 text-info font-weight-bold" asp-action="CreateOrEditSupportApproveReject" asp-controller="Support" asp-area="Support"
                       asp-route-id="@Model.SupportRequestID">@Model.SupportRequestID</a>
                </li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Attachments</li>
            </ol>
        </nav>
    </div>
}

else
{<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportResolve"
                                           asp-controller="Support" asp-area="Support"
                                           >Resolve</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Request</li>
            <li class="breadcrumb-item">
                <a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewSupportResolveDetails" asp-controller="Support" asp-area="Support"
                   asp-route-id="@Model.SupportRequestID">@Model.SupportRequestID</a>
            </li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Attachments</li>
        </ol>
    </nav>
</div>

}



<input type="hidden" value="@Model.SupportRequestID" id="reqid" name="reqid" />

<div class="row">
    <div class="card col-12">
        <div class="card-header bg-white">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Attachments</h1>
                <div>
                    @if (ViewBag.Type == "Request")
                    {
                        <a id="btnaddattachment" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                            <i class="fas fa-plus-circle"></i>&nbsp; Add
                        </a>
                    }
                    </div>
            </div>
        </div>

        @if (Model.attachments != null)
        {
            foreach (var a in Model.attachments)
            {
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <span class="text-black-50 pl-2 pr-2" style="font-size: 1rem;font-weight: 800;"><a href="~/ODMImages/Tempfile/@a.Attachmenturl" target="_blank"><b>@a.Attachmenturl</b></a></span>
                        </div>
                        <div class="col-md-4" style="font-size: 0.8rem;">
                            <b>Uploaded By</b> <span class="text-info font-weight-bolder">@a.employeeName</span> <b>on</b> <span class="text-info font-weight-bolder">@(a.insertedOn.ToString("dd-MMM-yyyy hh:mm tt"))</span>
                        </div>
                        <div class="col-md-3" style="font-size: 0.8rem;">
                            <b>Modified On</b> <span class="text-info font-weight-bolder">@(a.modifiedOn.ToString("dd-MMM-yyyy hh:mm tt"))</span>
                        </div>

                        @if (ViewBag.Type == "Request")
                        {
                    <div class="col-md-1 text-right" style="font-size: 0.8rem;color:black;">
                        @if (ViewBag.Status != "COMPLETED"||ViewBag.Status != "VERIFIED")
                        {
                            @if (ViewBag.UserId == a.employeeid)
                            {
                                <a asp-action="RemoveAttachments" asp-route-id="@a.id"><i class="fa fa-trash"></i></a>
                            }
                        }
                        </div>
                             }
                        </div>

                       

                </div>
            }
        }
    </div>
</div>
<div class="modal fade" id="ModalAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="reqid" name="reqid" value="@Model.SupportRequestID" />
                <div class="row">
                    @*<div class="col-md-4">
                            Name
                        </div>*@
                    @*<div class="col-md-8">
                            <input type="text" class="form-control" id="txtattachmentname" name="txtattachmentname" />
                            <span class="text-danger" id="spanattachmentname"></span>
                        </div>*@
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        Choose File
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        <span class="text-danger" id="spanattachmentfile"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <input type="button" id="btnuploadattachment" class="btn btn-primary" value="Upload Attachment" />
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnaddattachment').click(function () {
            $('#txtattachmentname').val('');
            $("#file").val('');
            $('#ModalAttachment').modal('show');
        })
        $('#btnuploadattachment').click(function () {

            //if ($('#txtattachmentname').val() == '') {
            //    $('#spanattachmentname').html('Enter File Name');
            //    $('#divloader').fadeOut();
            //    return false;
            //}
            //else {
            //    $('#spanattachmentname').html('');
            //}

            var data = new FormData();
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length > 0) {
                data.append("file", files[0]);
            }
            else {
                if$('#spanattachmentfile').html('Attach file');
                $('#divloader').fadeOut();
                return false;
            }

            $('#divloader').fadeIn();
            data.append("reqid", $('#reqid').val());

            data.append("attachmentname", "RAISED");
            $.ajax({
                url: '/Support/Support/savesupportattachments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalAttachment').modal('hide');
                    }
                    window.location.reload();
                }
            })
        })
    })
</script>