﻿
@{
    ViewData["Title"] = "AllComments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Support.Models.Supportallcommentscls


@if (ViewBag.Type == "Resolve")
{



    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportResolve" 
                                               asp-controller="Support" asp-area="Support" >Resolve</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Request</li>
                <li class="breadcrumb-item "><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewSupportResolveDetails" asp-controller="Support" asp-area="Support" asp-route-id="@Model.SupportRequestID">@Model.SupportRequestID</a></li>

                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Comments</li>
            </ol>
        </nav>
    </div>

}
else
{

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportRequest" asp-controller="Support" asp-area="Support">Request</a></li>
                <li class="breadcrumb-item "><a class="h6 mb-0 text-info font-weight-bold" asp-action="CreateOrEditSupportApproveReject" asp-controller="Support" asp-area="Support" asp-route-id="@Model.SupportRequestID">@Model.SupportRequestID</a></li>

                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Comments</li>
            </ol>
        </nav>
    </div>


    
}


<div class="card">
    <div class="card-header alert-info h6 mb-0">
        <div class="row">
            <div class="col-6">
                <span class="font-weight-bold text-secondary">Support Request </span>
            </div>
            <div class="col-6" style="text-align-last:right">
                @if (ViewBag.Type == "Request")
                {

                    <a asp-action="CreateOrEditSupportRequest" asp-route-id="@Model.SupportRequestID"><span class="text-gray"><i class="far fa-edit"></i>@*<i class="fas fa-info-circle"></i>*@</span></a>

                }
            </div>
        </div>

    </div>
    <div class="card-body">
        <h1 class="h5 mb-0 text-dark font-weight-normal">@*<i class="far fa-file-alt"></i>*@ @Model.SupportRequestDescription</h1>
        <p class="h6 mb-0 text-gray-800 text-body" style="margin-top:8px;">
            Raised by
            <span class="text-danger"> @Model.SupportRequestRaisedName</span> on <span class="text-primary">
                @Model.SupportRequestDate
            </span>
        </p>
        @*<a asp-action="SupportResolve" class="btn btn-primary">View Request</a>*@
    </div>
</div>

<div class="card" style="margin-top:8px;margin-bottom:16px;">
    <div class="card-header alert alert-primary h6 mb-0">


        <div class="row">
            <div class="col-6">
                <span class="font-weight-bold text-secondary">Comments</span>
            </div>
            <div class="col-6" style="text-align-last:right">
                <a><span class="text-gray">@*<i class="fas fa-info-circle"></i>*@@*<i class="fas fa-info-circle"></i>*@</span></a>
            </div>
        </div>


        @*<span>   <i class="fas fa-info-circle"></i></span>*@

    </div>
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            @*<h1 class="h3 mb-0 text-gray-800">Comments </h1>*@

        </div>
        <div class="row">
            <div class="container-fluid">
                <input id="requestidd" type="hidden" value="@Model.SupportRequestID" />
                <section class="comments">
                    @if (Model.comments.Count() > 0)
                    {
                        foreach (var a in Model.comments)
                        {
                            <article class="comment">
                                <a class="comment-img" href="#non">
                                    <img src="@(a.profile!=null?"/ODMImages/EmployeeProfile/"+a.profile:"/images/user_profile.png")" alt="@(a.EmployeeName)" width="50" height="50">
                                </a>
                                <div class="comment-body">
                                    <div class="text">
                                        <p class="h5 mb-0 text-dark font-weight-normal">@a.Name</p>
                                    </div>

                                    @if (ViewBag.UserId == a.EmployeeID)
                                    {
                                        <p class="attribution">
                                            by <a href="#non"><span class="text-success">@a.EmployeeName</span></a> at <span class="text-success">
                                                @a.postedON
                                            </span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="attribution">
                                            by <a href="#non">
                                                <span class="text-primary">
                                                    @a.EmployeeName
                                                </span>
                                            </a> at <span class="text-primary">
                                                @a.postedON
                                            </span>
                                        </p>
                                    }

                                </div>
                                @if (Context.Session.GetInt32("userId").Value == a.EmployeeID)
                                {
                                    <a class="closecomment" asp-action="RemoveComment" asp-route-requestId="@a.id"  asp-route-requestType="@ViewBag.Type"><i class="fa fa-times"></i></a>
                                }
                            </article>
                        }
                    }
                    <article>
                        <a class="comment-img" href="#non">
                            <img src="@Context.Session.GetString("profile")" alt="odm" width="50" height="50">
                        </a>
                        <div class="comment-body">
                            <div class="text">
                                <textarea class="form-control h5 mb-0 text-dark font-weight-normal" id="txtcomment" name="txtcomment" rows="6" placeholder="Write Comment Here..."></textarea>
                                <span class="text-danger" id="spantxtcomment"></span>
                            </div>
                            <input type="button" value="Submit" id="btnuploadcomment" class="btn btn-primary float-right mt-3" />

                        </div>

                    </article>
                </section>
            </div>
        </div>

    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btnuploadcomment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtcomment').val() == '') {
                $('#spantxtcomment').html('Enter Comment');
                //  $('#ModalComment').modal('show');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spantxtcomment').html('');
            }
            var data = new FormData();
            data.append("comments", $('#txtcomment').val());
            data.append("requestidd", $('#requestidd').val());
            $.ajax({
                url: '/Support/Support/savesupportcomments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    //if (data == 0) {
                    //    $('#ModalComment').modal('hide');
                    //}
                    window.location.reload();
                }
            })
        })
    })

</script>
