﻿
@{
    ViewData["Title"] = "SupportSubCategoryCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Support.Models.SupportSubCategoryCls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Support" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportSubCategory" asp-controller="Support" asp-area="Support">Support Sub-Category</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Support Sub-Category</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Support Sub-Category</span>
                }
            </div>
            <div class="col-6" style="text-align-last:right">

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateSupportSubCategory">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label font-weight-bold">Category Name</label>
                        <select asp-for="CategoryID" class="form-control">
                            <option value="">Select Category</option>
                            @if (Model.category != null)
                            {
                                foreach (var a in Model.category)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>

                    @if (Model.CategoryName == "Others")
                    {
                        <div class="form-group" id="txt_Others">
                            <label asp-for="OthersName" class="control-label font-weight-bold"></label>
                            <input type="text" asp-for="OthersName" class="form-control font-weight-normal" />
                            <span asp-validation-for="OthersName" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group" id="txt_Others" style="display:none;">
                            <label asp-for="OthersName" class="control-label font-weight-bold"></label>
                            <input type="text" asp-for="OthersName" class="form-control font-weight-normal" />
                            <span asp-validation-for="OthersName" class="text-danger"></span>
                        </div>

                    }
                    <div class="form-group">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control font-weight-normal" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAvailable" class="control-label font-weight-bold">Availability</label>
                        <input type="checkbox" asp-for="IsAvailable" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success" style="margin-right:6rem"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        if ($("#CategoryID").text() == "Others" || $("#CategoryID").text() == "Other" ) {

            $("#txt_Others").show();
        }
        else {
            $("#txt_Others").hide();
        }

        $("#CategoryID").change(function () {
            if ($("#CategoryID").text() == "Others" || $("#CategoryID").text() == "Other" ) {

                $("#txt_Others").show();
            }
            else {
                $("#txt_Others").hide();
            }


        });

    });
</script>
