﻿
@{
    ViewData["Title"] = "DepartmentSupport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Support.Models.DepartmentSupportCls


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Support" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="DepartmentSupport" asp-controller="Support" asp-area="Support">Department Support</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Department Support</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Department Support</span>
                }
            </div>
            <div class="col-6" style="text-align-last:right">



                @*<button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success" style="margin-right:6rem"><i class="fas fa-check"></i>&nbsp;@ViewBag.status</button>
                    <a asp-action="Country" class="d-none d-sm-inline-block btn btn-sm btn-success "><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateDepartmentSupport" method="post" onsubmit="return checkValidation();">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DepartmentID" class="control-label font-weight-bold">Department</label>
                        <select asp-for="DepartmentID" class="form-control">
                            <option value="">Select Department</option>
                            @if (Model.departments != null)
                            {
                                foreach (var a in Model.departments)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="DepartmentID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportTypeID" class="control-label font-weight-bold">Support Type</label>
                        <select asp-for="SupportTypeID" class="form-control">
                            <option value="">Select Support Type</option>
                            @if (Model.supportTypes != null)
                            {
                                foreach (var a in Model.supportTypes)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="SupportTypeID" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control font-weight-normal" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success" style="margin-right:6rem"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>

                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.js"></script>

<script>

    function checkValidation() {

        var id = '@Model.ID';

        if ($("#DepartmentID").val() != '' && $("#SupportTypeID").val() != '') {
            $.get('/Support/Support/GetDepartmentSupportAll', { deptId: $("#DepartmentID").val(), supptypeId: $("#SupportTypeID").val() }, function (data) {
                if (data == true) {
                    alert("Data already exists");
                    window.location.href = '/Support/CreateOrEditDepartmentSupport';
                    return false;
                }
                else {
                    window.location.href = '/Support/DepartmentSupport';
                    window.reload();
                    return true;
                }
            })

        }
        return true;

    }

</script>
