﻿
@{
    ViewData["Title"] = "SupportCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Support.Models.SupportRequestCls

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
        <li class="breadcrumb-item"><a asp-action="SupportResolve" asp-controller="Support" asp-area="Support">SupportResolve</a></li>
        <li class="breadcrumb-item"><a asp-action="ViewSupportResolveDetails" asp-controller="Support" asp-area="Support" asp-route-id="@ViewBag.Id">RequestDetails</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>


<h3>Support</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="hidden" asp-for="ID" />

                    <input type="hidden" asp-for="InsertedID" />
                    <input type="hidden" asp-for="UserID" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="SupportTypeID" class="control-label">Support Type</label>
                        <select asp-for="SupportTypeID" class="form-control" disabled>
                            <option value="">Select Support Type</option>
                            @if (Model.supportTypes != null)
                            {
                                foreach (var a in Model.supportTypes)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="SupportTypeID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryID" class="control-label">Category</label>
                        <select asp-for="CategoryID" class="form-control" disabled>
                            <option value="">Select Category</option>
                            @if (Model.category != null)
                            {
                                foreach (var a in Model.category)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubCategoryID" class="control-label">Sub Category</label>
                        <select asp-for="SubCategoryID" class="form-control" disabled>
                            <option value="">Select Sub Category</option>
                            @if (Model.subcategory != null)
                            {
                                foreach (var a in Model.subcategory)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="SubCategoryID" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label asp-for="LocationID" class="control-label">Location</label>
                        <select asp-for="LocationID" class="form-control" disabled>
                            <option value="">Select Location</option>
                            @if (Model.location != null)
                            {
                                foreach (var a in Model.location)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="LocationID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuildingID" class="control-label">Building</label>
                        <select asp-for="BuildingID" class="form-control" disabled>
                            <option value="">Select Building</option>
                            @if (Model.buildings != null)
                            {
                                foreach (var a in Model.buildings)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="BuildingID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RoomID" class="control-label">Room</label>
                        <select asp-for="RoomID" class="form-control" disabled>
                            <option value="">Select Room</option>
                            @if (Model.room != null)
                            {
                                foreach (var a in Model.room)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="RoomID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PriorityID" class="control-label">Priority</label>
                        <select asp-for="PriorityID" class="form-control" disabled>
                            <option value="">Select Priority</option>
                            @if (Model.priority != null)
                            {
                                foreach (var a in Model.priority)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="PriorityID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" disabled />
                        <span id="spanTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketCode" class="control-label"></label>
                        <input asp-for="TicketCode" class="form-control" disabled />
                        <span id="spanTicketCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3" disabled></textarea>
                        <span id="spanDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label asp-for="CompletionDate" class="control-label">Request Completion Date</label>
                        <input asp-for="CompletionDate" class="form-control" type="date" disabled />
                        <span asp-validation-for="CompletionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label asp-for="DueDate" class="control-label">Deadline Date</label>
                        <input asp-for="DueDate" class="form-control" type="date" disabled />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <table class="table table-bordered" id="tblattachments">
                            <thead>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Name</td>
                                    <td>inserted On</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Attachments != null)
                                {
                                    int i = 0;
                                    foreach (var a in Model.Attachments)
                                    {
                                        <tr>
                                            <td>
                                                @(++i)
                                            </td>
                                            <td>
                                                <a href='/ODMImages/Tempfile/@a.Path' target="_blank"> @a.Path </a>

                                            </td>

                                            <td>
                                                @a.InsertedDate.ToString("dd-MMM-yyyy")
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @* <div id="Edit_Part" style="font-size: 25px;">
        <hr />
        <b>COMMENT</b>
        <hr />
        <div class="form-group">
            <label asp-for="Comment" class="control-label"></label>
                    <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                    </div>*@


                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow mb-3 card-body">
                                <div class="form-group">
                                    <span style="font-size: 1.3rem; font-weight: 600;">Comments</span>
                                    <input type="button" id="btnaddcomments" class="btn btn-primary float-right" value="+" />
                                </div>
                                <div class="form-group">
                                    <section class="comments">
                                        @if (Model.comments != null)
                                        {
                                            foreach (var a in Model.comments)
                                            {
                                                <article class="comment">
                                                    <a class="comment-img" href="#non">
                                                        <img src="@(a.profile!=null?"/ODMImages/EmployeeProfile/"+a.profile:"/images/user_profile.png")" alt="@a.EmployeeName" width="50" height="50">
                                                    </a>
                                                    <div class="comment-body">
                                                        <div class="text">
                                                            <p>@a.Name</p>
                                                        </div>
                                                        <p class="attribution">by <a href="#non">@a.EmployeeName</a> at @a.postedON</p>
                                                    </div>
                                                    @if (Context.Session.GetInt32("userId").Value == a.EmployeeID)
                                                    {
                                                        <a class="closecomment" asp-action="RemoveCommentByresolve" asp-route-id="@a.id"><i class="fa fa-times"></i></a>
                                                    }
                                                </article>
                                            }
                                        }

                                    </section>


                                </div>
                                <div class="form-group text-right">
                                    <a asp-action="AllComments" asp-route-id="@Model.ID">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div style="display:none;">
                        <div class="form-group">
                            <h6><strong>Attachments</strong></h6><hr />
                        </div>
                        <div class="row">
                            @*<div class="col-md-5 form-group">
                    <input type="text" name="txtattachment2" id="txtattachment2" class="form-control" />
                    <span id="spantxtattachment2" class="text-danger"></span>
                </div>*@
                            <div class="col-md-6 form-group">
                                <input type="file" name="file2" id="file2" />
                                <span id="spanfile2" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <button id="btnattachment2" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <span id="spanattach2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered" id="tblattachments2">
                                <thead>
                                    <tr>
                                        <td>Sl. No.</td>
                                        <td>Name</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Attachments2 != null)
                                    {

                                        int i = 0;
                                        foreach (var a in Model.Attachments2)
                                        {
                                            <tr>
                                                <td>
                                                    @(++i)
                                                </td>
                                                <td>
                                                    <a href='/ODMImages/Tempfile/@a.Path' target="_blank"> @a.Path </a>

                                                </td>

                                                <td>
                                                    <a onclick="removeattachment2(@a.ID)">Delete</a>
                                                </td>

                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <a asp-action="SupportResolve" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        @if (Model.Status != "VERIFIED")
                        {
                            <button id="btnSupport" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Update</button>
                        }

                        @*@if (Model.IsApprove == true)
            {
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-gray-500" style="background-color:gray; border-color:gray;"> Reject</a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-gray-500" style="background-color:gray; border-color:gray;"> Update</a>
            }
            else
            {

                <a asp-action="RejectSupportRequestInResolve" asp-route-id="@Model.ID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Reject</a>
                <button id="btnSupport" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
            }*@
                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Post Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="requestidd" name="requestidd" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-4">
                        Comment
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" id="txtcomment" name="txtcomment"></textarea>
                        <span class="text-danger" id="spantxtcomment"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <input type="button" id="btnuploadcomment" class="btn btn-primary" value="Post Comment" />
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>



<script src="~/vendor/jquery/jquery.min.js"></script>

<script>

    $(document).ready(function () {

         $('#btnaddcomments').click(function () {
            $('#txtcomment').val('');
            $('#ModalComment').modal('show');
        })

        $('#btnuploadcomment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtcomment').val() == '') {
                $('#spantxtcomment').html('Enter Comment');
                //  $('#ModalComment').modal('show');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spantxtcomment').html('');
            }
            var data = new FormData();
            data.append("comments", $('#txtcomment').val());
            data.append("requestidd", $('#requestidd').val());
            $.ajax({
                url: '/Support/Support/savesupportcomments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {

                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalComment').modal('hide');
                    }
                    window.location.reload();
                }
            })
        });


        $('#btnSupport').click(function () {
            $('#divloader').fadeIn();

             var addResolve =
               {
                   ID: parseInt($('#ID').val()),
                   Comment: $('#Comment').val()
               };

               //console.log(addRequest);
            $.ajax({
                url: '/Support/Support/SaveSupportResolve',
                type: 'POST',
                data: addResolve,
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    //debugger;
                    $('#divloader').fadeOut();

                    if (data == 1) {
                        window.location.href = "/Support/Support/SupportResolve";
                    }
                    else {
                        window.location.href = "/Support/Support/CreateOrEditSupportResolve/" +@Model.ID;
                    }
                },
                error: function () {

                }
            });


                @*$.get('/Support/SaveSupportResolve', {ID:@Model.ID,Comment: $('#Comment').val() }, function (data) {
                    $('#divloader').fadeOut();


                    if (data == 1) {
                        window.location.href = "/Support/SupportResolve";
                    }
                    else {
                        window.location.href="/Support/CreateOrEditSupportResolve/"+@Model.ID;
                    }
                })*@

        })


        $('#btnattachment2').click(function () {

            $('#divloader').fadeIn();
            //if ($('#txtattachment2').val() == '') {
            //    $('#spantxtattachment2').html('Enter File Name');
            //    $('#divloader').fadeOut();
            //    return false;
            //}
            var files = $("#file2").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile2').html('Select file');
                $('#divloader').fadeOut();
                return false;
            }

            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment2').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }

           $('#tblattachments2 tbody').html('');

            $.ajax({
                url: '/Support/Support/SaveSupportAttachmentResolve',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    var res = data;
                    if (data.length > 0) {

                        $('#tblattachments2 tbody').html('');
                        var s = '';

                        jQuery.each(data, function (key, value) {

                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank'>" + "File_"+(key + 1) + "</a></td>";
                            s += "<td><a onclick='removeattachment2(" + value.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";

                            $('a:first').each(function () {
                                if (value.file != null) {
                                    $('#tblattachments2 tbody').empty().append(s);
                                }

                            });


                        })


                        $('#txtattachment2').val('');
                        $("#file2").val('');
                    }
                }
            })
        })

    });

    function removeattachment2(id) {

        $('#tblattachments2 tbody').html('');
        $.get('/Support/Support/RemoveSupportAttachmentResolve', { id: id }, function (data) {
            $('#divloader').fadeOut();
            var res = data;
            if (data.length > 0) {

                $('#tblattachments2 tbody').html('');
                var s = '';

                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (key + 1) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + "File_"+(key + 1) + "</a></td>";
                    s += "<td><a onclick='removeattachment2(" + value.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })

                $('#tblattachments2 tbody').append(s);
                $('#txtattachment2').val('');
                $("#file2").val('');
            }
        })
    }
</script>