﻿
@{
    ViewData["Title"] = "LocationCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Support.Models.LocationCls

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Location" asp-controller="Support" asp-area="Support">Location</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Location</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Location</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateLocation">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrganizationID" class="control-label font-weight-bold"></label>
                        <select asp-for="OrganizationID" class="form-control">
                            <option value="">Select Organization</option>
                            @if (Model.organisations != null)
                            {
                                foreach (var a in Model.organisations)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="OrganizationID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CityID" class="control-label font-weight-bold"></label>
                        <select asp-for="CityID" class="form-control">
                            <option value="">Select City</option>
                            @if (Model.city != null)
                            {
                                foreach (var a in Model.city)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CityID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label font-weight-bold"></label>
                        <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAvailable" class="control-label font-weight-bold">Availability</label>
                        <input type="checkbox" asp-for="IsAvailable" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div> 
