﻿
@{
    ViewData["Title"] = "CreateOrEditSupportApproveReject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Support.Models.cls_supportrequest_details

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportRequest" asp-controller="Support" asp-area="Support">Request</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@Model.ID</li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">View</li>
        </ol>
    </nav>
</div>

<div class="row" style="margin-right:16px;margin-bottom:16px;">
    <div class="col-6">
        <span class="h6 mb-0 text-dark font-weight-normal text-secondary"></span>
    </div>
    <div class="col-6" style=" text-align-last:right;">


        <a title="Back To List" asp-action="SupportRequest"><span class="text-gray"><i class="fas fa-arrow-alt-circle-left fa-lg" style="margin-right:24px;"></i></span></a>
    </div>

</div>





<div class="card ">
    <div class="card-header alert alert-info">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-dark font-weight-bold text-secondary">Request Details</span>
            </div>
            @*<div class="col-4">
                    <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                </div>*@
            <div class="col-6" style=" text-align-last:right;">

                @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                <a title="Edit" asp-action="CreateOrEditSupportRequest" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>
            </div>

        </div>
    </div>


    <div class="card-body">



        <input type="hidden" id="hdnId" value="@Model.ID" />


        @*<div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark"><span>Employee Name</span></label>
                    </div>

                    <div class="col-md-6  text-left">
                        <label class="h6 font-weight-bolder">@Model.RequestEmployeeName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Employee Code:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.RequestEmployeeCode</label>

                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Support Type:</label>
                    </div>

                    <div class="col-md-6 text-left">
                        <label class="h6 font-weight-bolder">@Model.SupportTypeName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Category:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.CategoryName</label>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Sub Category:</label>
                    </div>

                    <div class="col-md-6 text-left">
                        <label class="h6 font-weight-bolder">@Model.SubCategoryName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Building:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.BuildingName</label>

                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Room:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.RoomName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Priority:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.PriorityName</label>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Status:</label>
                    </div>

                    <div class="col-md-6">
                        @if (Model.Management.Rejected)
                        {
                            <label class="h6 font-weight-bolder">Management Rejected</label>
                        }
                        else
                        {

                            <label class="h6 font-weight-bolder">@Model.StatusName</label>

                        }

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Raised On:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.RequestOn</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Request Completion Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.RequestedCompletionDate</label>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Deadline Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.DeadlineDate</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Assigned To:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.AssignToEmpName</label>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark">Assigned Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.AssignedDate</label>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark d-xl-inline-block" style="text-align:justify">Completion Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.CompletionOn</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label class="control-label h6 font-weight-normal text-dark d-xl-inline-block"
                               style="text-align:justify">Verified Date:</label>
                    </div>

                    <div class="col-md-6">
                        <label class="h6 font-weight-bolder">@Model.ModifiedDateTime</label>

                    </div>
                </div>
            </div>

        </div>





        <div class="clearfix"></div>

        <div class="row" style="margin-top:24px;margin-left:16px;margin-right:16px;">
            <div class="form-group">
                <div class="row ">


                    <div class="col-md-12 ">

                        <div class="row ">
                            <div class="col-md-12  text-left">
                                <label class="col-md-12 control-label h6 font-weight-bold text-dark ">Ticket Code:</label><br />

                            </div>
                            <div class="col-md-12 text-left">
                                <label class="col-md-12 h6 font-weight-normal " style="word-break: break-all;">@Model.TicketCode</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-md-12  text-left">
                                <label class="col-md-12 control-label h6 font-weight-bold text-dark ">Title:</label><br />

                            </div>
                            <div class="col-md-12 text-left">
                                <label class="col-md-12 h6 font-weight-normal " style="word-break: break-all;">@Model.Title</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col-md-12  text-left">
                                <label class="col-md-12 control-label h6 font-weight-bold text-dark ">Description:</label><br />

                            </div>
                            <div class="col-md-12 text-left">
                                <label class="col-md-12 h6 font-weight-normal " style="word-break: break-all;">@Model.Description</label>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">

                </div>*@
            </div>
        </div>

    </div>
</div>
@if (Model.Management.Sent)
{
    <div class="card " style="margin-top:.4rem">
        <div class="card-header alert alert-warning">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-dark font-weight-bold text-secondary">Management Approval</span>
                </div>


            </div>
        </div>

        <div class="card-body">



            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="control-label h6 font-weight-normal text-dark">
                                <span>Approval Required: </span>
                            </label>
                        </div>

                        <div class="col-md-6  text-left">
                            @if (Model.Management.Sent)
                            {
                                <label class="h6 font-weight-bolder">Yes</label>
                            }


                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="control-label h6 font-weight-normal text-dark">Status: </label>
                        </div>

                        <div class="col-md-6">
                            @if (Model.Management.Approved)
                            {
                                <label class="h6 font-weight-bolder">Approved</label>
                            }
                            else
                      if (Model.Management.Rejected)
                            {
                                <label class="h6 font-weight-bolder">Rejected</label>
                            }
                            else
                            {
                                <label class="h6 font-weight-bolder">Awaiting</label>
                            }

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="control-label h6 font-weight-normal text-dark">Sent By :</label>
                        </div>

                        <div class="col-md-6 text-left">
                            <label class="h6 font-weight-bolder">@Model.Management.SentName</label>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <label class="control-label h6 font-weight-normal text-dark">Sent Date :</label>
                        </div>

                        <div class="col-md-6">
                            <label class="h6 font-weight-bolder"> @Model.Management.SentDate</label>

                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Management.Approved)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label h6 font-weight-normal text-dark">Approved By : </label>
                            </div>

                            <div class="col-md-6 text-left">
                                <label class="h6 font-weight-bolder">@Model.Management.ApprovedName</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label h6 font-weight-normal text-dark">Approved Date:</label>
                            </div>

                            <div class="col-md-6">
                                <label class="h6 font-weight-bolder">@Model.Management.ApprovedDate</label>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
if (Model.Management.Rejected)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label h6 font-weight-normal text-dark">Rejected By:</label>
                            </div>

                            <div class="col-md-6 text-left">
                                <label class="h6 font-weight-bolder">@Model.Management.RejectedName</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label h6 font-weight-normal text-dark">Rejected Date:</label>
                            </div>

                            <div class="col-md-6">
                                <label class="h6 font-weight-bolder">@Model.Management.RejectedDate</label>

                            </div>
                        </div>
                    </div>
                </div>


            }


        </div>
    </div>

}

@if (Model.Management.Rejected || Model.StatusName == "ON-HOLD" || Model.StatusName == "REJECTED")
{
    <div class="card " style="margin-top:.4rem">
        <div class="card-header alert alert-danger">
            <div class="row">
                <div class="col-12">
                    @if (Model.Management.Rejected)
                    {
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">Managment Rejected Reason</span>
                    }
                    else
                    {
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName Reason</span>
                    }
                </div>


            </div>

        </div>
        <div class="card-body">
            <div class="row ">

                <div class="col-md-12 text-left">
                    <label class="col-md-12 h6 font-weight-normal " style="word-break: break-all;">@Model.Comment</label>
                </div>
            </div>
        </div>

    </div>

}

<div class="card " style="margin-top:12px;">
    <div class="card-header alert alert-secondary">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-dark font-weight-bold text-secondary">Attachments</span>
            </div>
            <div class="col-6" style=" text-align-last:right;">


                <a title="Add Attachment" asp-action="AllAttachments" asp-route-requestId="@Model.ID" asp-route-requestType="Request"><span class="text-gray"><i class="far fas fa-paperclip fa-lg" style="margin-right:24px;"></i></span></a>
            </div>

        </div>

    </div>

    <div class="card-body bg-white">
        @if (Model.RequestAttachments != null && Model.RequestAttachments.Count() > 0)
        {



            <div class="form-group">

                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="h6 font-weight-normal text-dark">S.No</th>
                            <th class="h6 font-weight-normal text-dark">File Name</th>
                            <th class="h6 font-weight-normal text-dark ">Attached On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.RequestAttachments.Count() > 0)
                        {
                            int i = 0;
                            @foreach (var item in Model.RequestAttachments)
                            {
                                <tr>
                                    <td class="h6 font-weight-normal ">@(++i)</td>
                                    @*<td><a href="~/ODMImages/Support/@item.Path" target='_blank'>@item.Path</a></td>*@
                                    <td class="h6 font-weight-normal "><a href='/ODMImages/Tempfile/@item.Path' target="_blank"> @item.Path </a></td>
                                    <td class="h6 font-weight-normal ">@item.InsertedDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>

            </div>



        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label h6 font-weight-normal text-dark"
                           style="text-align:center">No Attachments found</label>

                </div>

            </div>
        }


    </div>
</div>
<div class="card " style="margin-top:12px;">
    <div class="card-header alert alert-primary">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-dark font-weight-bold text-secondary">Recent Comment</span>
            </div>
            <div class="col-6" style=" text-align-last:right;">


                <a class="text-primary" title="Add Comment" asp-action="AllComments" asp-route-requestId="@Model.ID" asp-route-requestType="Request"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;"></i></span></a>
            </div>

        </div>
    </div>

    <div class="card-body">

        @if (Model.supporttimelinecls != null && Model.supporttimelinecls.Count() > 0)
        {


            @foreach (var a in Model.supporttimelinecls)
            {


                <div class="row">
                    <div class="col-md-12 text-left">
                        <label class="control-label h6 font-weight-normal text-dark"
                               style="text-align:justify">Posted By:</label>
                        <label class="h6 font-weight-bolder" style="text-align:justify"> @a.commentedByName</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <label class="control-label h6 font-weight-normal text-dark"
                               style="text-align:justify">Date Time :</label>
                        <label class="h6 font-weight-bolder">@a.insertedOn</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <label class="control-label h6 font-weight-normal text-dark"
                               style="text-align:justify">Comment : </label>
                        <label class="h6 font-weight-normal">@a.Description</label>
                    </div>

                </div>

            }
        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label h6 font-weight-normal text-dark"
                           style="text-align:center">No Comments</label>

                </div>

            </div>
        }

    </div>
</div>



<div class="card " style="margin-top:1.2rem;margin-bottom:4rem;">
    <div class="card-header bg-light">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-dark font-weight-bold">Timeline</span>
            </div>
            <div class="col-6" style=" text-align-last:right;">



            </div>

        </div>
    </div>



    <div class="card-body" style="margin-bottom:2rem;"> 
        @if (Model.supporttimelinecomments.Count() > 0)
        {

            @foreach (var a in Model.supporttimelinecomments)
            {
                <div>
                    <label class="control-label font-weight-normal">Posted By :</label>
                    <span class="control-label font-weight-bold"> @a.commentedByName</span><br />
                    <label class="control-label font-weight-normal">Posted Date Time :</label>
                    <span class="control-label font-weight-bold">
                        @a.insertedOn
                    </span><br />
                    <label class="control-label font-weight-normal">Status :</label>
                    <span class="control-label font-weight-bold">@a.StatusName    </span><br />

                </div>

                <div class="form-group">
                    <label class="control-label font-weight-normal">Reason</label>
                    <label class="control-label font-weight-normal">@a.Description</label>
                </div>

            }
        }
    </div>

    <div class="card-body">
        <div class="row ">
            <div class="col-12">


                <div id="timeLineChart">

                </div>
            </div>


        </div>


    </div>
</div>


    <div hidden>
        <section class="cd-h-timeline js-cd-h-timeline margin-bottom-md">
            <p class="text-center margin-top-md margin-bottom-xl">👈 <a class="text--inherit" href="https://codyhouse.co/gem/horizontal-timeline/">Article &amp; Download</a></p>

            <div class="cd-h-timeline__container container">
                <div class="cd-h-timeline__dates">
                    <div class="cd-h-timeline__line">
                        <ol>
                            <li><a href="#0" data-date="16/01/2014" class="cd-h-timeline__date cd-h-timeline__date--selected">16 Jan</a></li>
                            <li><a href="#0" data-date="28/02/2014" class="cd-h-timeline__date">28 Feb</a></li>
                            <li><a href="#0" data-date="20/04/2014" class="cd-h-timeline__date">20 Mar</a></li>
                            <li><a href="#0" data-date="20/05/2014" class="cd-h-timeline__date">20 May</a></li>
                            <li><a href="#0" data-date="09/07/2014" class="cd-h-timeline__date">09 Jul</a></li>
                            <li><a href="#0" data-date="30/08/2014" class="cd-h-timeline__date">30 Aug</a></li>
                            <li><a href="#0" data-date="15/09/2014" class="cd-h-timeline__date">15 Sep</a></li>
                            <li><a href="#0" data-date="01/11/2014" class="cd-h-timeline__date">01 Nov</a></li>
                            <li><a href="#0" data-date="10/12/2014" class="cd-h-timeline__date">10 Dec</a></li>
                            <li><a href="#0" data-date="19/01/2015" class="cd-h-timeline__date">29 Jan</a></li>
                            <li><a href="#0" data-date="03/03/2015" class="cd-h-timeline__date">3 Mar</a></li>
                        </ol>

                        <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
                    </div>  .cd-h-timeline__line
                </div>  .cd-h-timeline__dates

                <ul>
                    <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive">Prev</a></li>
                    <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">Next</a></li>
                </ul>
            </div>  .cd-h-timeline__container

            <div class="cd-h-timeline__events">
                <ol>
                    <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
                            <em class="cd-h-timeline__event-date">January 16th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">February 28th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">March 20th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">May 20th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">July 9th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">August 30th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">September 15th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">November 1st, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">December 10th, 2014</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">January 29th, 2015</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>

                    <li class="cd-h-timeline__event text-component">
                        <div class="cd-h-timeline__event-content container">
                            <h2 class="cd-h-timeline__event-title">Event title here</h2>
                            <em class="cd-h-timeline__event-date">March 3rd, 2015</em>
                            <p class="cd-h-timeline__event-description color-contrast-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>  .cd-h-timeline__events
        </section>
    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    @*<script src="~/vendor/horizontal-timeline/js/util.js"></script>
        <script src="~/vendor/horizontal-timeline/js/swipe-content.js"></script>
        <script src="~/vendor/horizontal-timeline/js/main.js"></script>*@

    <script type="text/javascript">

        $(document).ready(function () {

        //    loadReports();
            //document.getElementsByTagName("html")[0].className += " js";


            function loadReports() {
                var model = { RequestID: parseInt($('#hdnId').val()) };
                $('#divloader').show();
                $.post('/Support/Support/PrepareTimelineData', data = model,
                    function (data) {
                        $('#divloader').hide();
                        // console.log(data);
                        if (data != null) {


                            RenderTimelineChart(data);



                        }
                        else {
                            alert("error")
                        }

                    });
            }


            function RenderTimelineChart(data) {

                var options = {
                    series: [
                        {
                            data: data.timeline,
                        }
                    ],
                    chart: {
                        height: 650,

                        type: 'rangeBar'
                    },
                    responsive: [{

                        options: {
                            chart: {
                                width: '100%'
                            },

                        }
                    }],

                    plotOptions: {
                        bar: {
                            horizontal: true,
                            distributed: true,
                            dataLabels: {
                                hideOverflowingLabels: false
                            }
                        }
                    },

                    dataLabels: {
                        enabled: true,
                        formatter: function (val, opts) {
                            var label = opts.w.globals.labels[opts.dataPointIndex]
                            var a = moment(val[0])
                            var b = moment(val[1])

                            var diff = b.diff(a, 'days')

                            var obj = duration(a, b);

                            var text = "";



                            if (!obj.days === undefined && obj.days != 'undefined' && obj.days != null && obj.days > 0) {
                                text = text + obj.days + (obj.days > 1 ? ' days' : ' day');
                            }


                            if (obj.hours != null && obj.hours > 0)
                                text = text + (obj.days != undefined &&
                                    obj.days != 'undefined' && obj.days != null && obj.days > 0 ?
                                    ', ' : "") + obj.hours + (obj.hours > 1 ? ' hrs' : ' hr');

                            if (obj.minutes != null && obj.minutes > 0)
                                text = text + (obj.hours != undefined &&
                                    obj.hours != 'undefined' && obj.hours != null && obj.hours > 0 ?
                                    ', ' : "") + obj.minutes + (obj.minutes > 1 ? ' mins' : ' min');




                            return text;//label + ': ' + diff + (diff > 1 ? ' days' : ' day')
                        },
                        style: {
                            colors: ['#f3f4f5', '#fff'],
                            fontSize: '16px',
                        }
                    },

                    xaxis: {
                        type: 'datetime',
                        labels: {
                            format: 'dd-MMM-yyyy',
                        },
                        formatter: function (value, timestamp) {
                            return new Date(timestamp)// The formatter function overrides format property
                        },
                    },
                    yaxis: {
                        show: false
                    },
                    grid: {
                        row: {
                            colors: ['#f3f4f5', '#fff'],
                            opacity: 1
                        }
                    },
                    tooltip: {
                        custom: function ({ series, seriesIndex, dataPointIndex, w }) {

                            //console.log(  w.globals.seriesRangeBarTimeline[0] );
                            var a = moment(w.globals.seriesRangeBarTimeline[0][dataPointIndex].y[0].y1)
                            var b = moment(w.globals.seriesRangeBarTimeline[0][dataPointIndex].y[0].y2)

                            var date1 = new Date(w.globals.seriesRangeBarTimeline[0][dataPointIndex].y[0].y1).toUTCString('dd-MMM-yyyy hh:mm');
                            var date2 = new Date(w.globals.seriesRangeBarTimeline[0][dataPointIndex].y[0].y2).toUTCString('dd-MMM-yyyy hh:mm');

                            var d1 = date1.substring(0, date1.length - 3);
                            var d2 = date2.substring(0, date2.length - 3);

                            console.log(w);
                            return (
                                '<div class="card">' +

                                '<div class="card-header font-weight-bold text-dark">' +
                                "<span>" +
                                w.globals.labels[dataPointIndex] +

                                "</span>" +

                                '</div>' +
                                '<div class="card-body">' +
                                '<div class="font-weight-bold text-dark"> From: ' +
                                d1
                                +
                                "</div>" +
                                '<div class="font-weight-bold text-dark"> To: ' +
                                d2 +
                                "</div>" +
                                '<div class="font-weight-bold text-dark">  Elapsed Time: ' +
                                timeText(a, b) +
                                "</div>" +

                                '</div>' +
                                "</div>"
                            );
                        }
                    }
                };

                var chart = new ApexCharts(document.querySelector("#timeLineChart"), options);
                chart.render();



            }
            function duration(t0, t1) {
                let d = (new Date(t1)) - (new Date(t0));
                let weekdays = Math.floor(d / 1000 / 60 / 60 / 24 / 7);
                let days = Math.floor(d / 1000 / 60 / 60 / 24 - weekdays * 7);
                let hours = Math.floor(d / 1000 / 60 / 60 - weekdays * 7 * 24 - days * 24);
                let minutes = Math.floor(d / 1000 / 60 - weekdays * 7 * 24 * 60 - days * 24 * 60 - hours * 60);
                let seconds = Math.floor(d / 1000 - weekdays * 7 * 24 * 60 * 60 - days * 24 * 60 * 60 - hours * 60 * 60 - minutes * 60);
                let milliseconds = Math.floor(d - weekdays * 7 * 24 * 60 * 60 * 1000 - days * 24 * 60 * 60 * 1000 - hours * 60 * 60 * 1000 - minutes * 60 * 1000 - seconds * 1000);
                let t = {};
                ['weekdays', 'days', 'hours', 'minutes', 'seconds', 'milliseconds'].forEach(q => { if (eval(q) > 0) { t[q] = eval(q); } });
                return t;
            }




            function timeText(a, b) {



                var diff = b.diff(a, 'days')

                var obj = duration(a, b);

                var text = "";



                if (!obj.days === undefined && obj.days != 'undefined' && obj.days != null && obj.days > 0) {
                    text = text + obj.days + (obj.days > 1 ? ' days' : ' day');
                }


                if (obj.hours != null && obj.hours > 0)
                    text = text + (obj.days != undefined &&
                        obj.days != 'undefined' && obj.days != null && obj.days > 0 ?
                        ', ' : "") + obj.hours + (obj.hours > 1 ? ' hrs' : ' hr');

                if (obj.minutes != null && obj.minutes > 0)
                    text = text + (obj.hours != undefined &&
                        obj.hours != 'undefined' && obj.hours != null && obj.hours > 0 ?
                        ', ' : "") + obj.minutes + (obj.minutes > 1 ? ' mins' : ' min');


                return text;
            }

        });

    </script>

