﻿
@{
    ViewData["Title"] = "SupportRequestCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Support.Models.SupportRequestCls



    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportRequest" asp-controller="Support" asp-area="Support">Request</a></li>
                @if (ViewBag.status == "Create")
                {
                    <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Create</li>

                }
                else
                {
                    <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="CreateOrEditSupportApproveReject" asp-controller="Support" asp-area="Support" asp-route-id="@Model.ID">@Model.ID</a></li>

                    <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Edit</li>

                }
            </ol>
        </nav>
    </div>

    <div class="row" style="margin-right:16px;margin-bottom:16px;">
        <div class="col-6">
            <span class="h6 mb-0 text-dark font-weight-normal text-secondary"></span>
        </div>
        <div class="col-6" style=" text-align-last:right;">


            @if (Model.ID > 0)
            {
            <a title="Add Attachment" asp-action="AllAttachments" asp-route-requestId="@Model.ID" 
               asp-route-requestType="Request" style="margin-right:2rem;"
               class="d-none d-sm-inline-block btn btn-sm btn-info text-white font-weight-normal">
                <i class="fas fa-paperclip"></i>
                &nbsp;
                Attachments &nbsp;<span class="badge badge-light">@Model.AttachmentCount</span>
            </a>

            <a title="Add Attachment" asp-action="AllComments" asp-route-requestId="@Model.ID"
               style="margin-right:2rem;" asp-route-requestType="Request"
               class="d-none d-sm-inline-block btn btn-sm btn-info text-white font-weight-normal">
                <i class="fas fa-comment-dots"></i>&nbsp;&nbsp;Comments &nbsp;<span class="badge badge-light">@Model.commentcount</span>
            </a>
            }

            <a asp-action="SupportRequest" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

        </div>

    </div>

    <div class="card" style="margin-bottom:24px">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">

            @if (ViewBag.status == "Create")
            {
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">New Support Request</h1>

            }
            else
            {
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Edit Support Request</h1>

                @if (!Model.Management.Rejected)
                {
                    @if (Model.Status == "PENDING")
                    {
                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                            <i class="fas fa-clock"></i>
                            &nbsp;@(Model.Status)
                        </span>

                    }
                    else
                if (Model.Status == "IN-PROGRESS")
                    {
                        <span data-toggle="tooltip" data-placement="bottom" title="Status"
                              class="badge badge-info"
                              style="font-size: 0.72rem;
                         animation: blinker 1s linear infinite; ">
                            <i class="fas fa-clock"></i>
                            &nbsp;@(Model.Status)
                        </span>

                    }
                    else
                                          if (Model.Status == "ON-HOLD")
                    {
                        {

                        @if (Model.Comment != null)
                        {
                            <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Reason : @Model.Comment" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                                <i class="fas fa-clock"></i>
                                &nbsp;@(Model.Status)
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                                <i class="fas fa-clock"></i>
                                &nbsp;@(Model.Status)
                            </span>
                        }

                                    }


                                }
                                else
                                          if (Model.Status == "COMPLETED")
                                {
                        <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                            <i class="fas fa-clock"></i>
                            &nbsp;@(Model.Status)
                        </span>

                    }
                    else
                                          if (Model.Status == "REJECTED")
                    {
                        {
                        @if (Model.Comment != null)
                        {
                            <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Reason : @Model.Comment" style="font-size: 0.72rem;animation: blinker 1s linear infinite;">
                                <i class="fas fa-clock"></i>
                                &nbsp;@(Model.Status)
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite;">
                                <i class="fas fa-clock"></i>
                                &nbsp;@(Model.Status)
                            </span>
                        }
                                    }


                                }
                                else
                                          if (Model.Status == "VERIFIED")
                                {
                        <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite;background-color:orange; ">
                            <i class="fas fa-clock"></i>
                            &nbsp;@(Model.Status)
                        </span>

                    }
                    }
                @*else
                                      if (Model.Status == "MANAGEMENT REJECTED")
            {
                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite;background-color:orange; ">
                    <i class="fas fa-clock"></i>
                    &nbsp;@(Model.Status)
                </span>

            }*@

                @if (Model.Management.Sent)
                {
                    @if (Model.Management.Approved)
                    {
                        <span class="badge badge-success text-uppercase"
                              data-toggle="tooltip" data-placement="bottom" title="Management Approval : Your request approved by management"
                              style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                            <i class="fas fa-clock"></i>
                            &nbsp;Management Approved
                        </span>


                    }
                    else

                    {


                        @if (Model.Management.Rejected)
                        {
                            @if (Model.Comment != null)
                            {
                                <span class="badge badge-danger text-uppercase" data-toggle="tooltip" data-placement="bottom" title="Reason : @Model.Comment" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                                    <i class="fas fa-clock"></i>
                                    &nbsp;Management Rejected
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-danger text-uppercase" data-toggle="tooltip" data-placement="bottom" title="Status" style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">
                                    <i class="fas fa-clock"></i>
                                    &nbsp;Management Rejected
                                </span>
                            }

                        }
                        else
                        {


                            <span class="badge badge-warning text-uppercase" data-toggle="tooltip" data-placement="bottom" title="Management Approval : Sent to management approval. We will resolve your request once management will approve the request." style="font-size: 0.72rem;animation: blinker 1s linear infinite;">
                                <i class="fas fa-clock"></i>
                                &nbsp;Awaiting Management Approval
                            </span>

                        }
                    }
                }





            }
        
        </div>
        <div class="card-body bg-white">
            <div class="row" >
                @*<div class="col-md-3"></div>*@
                <div class="col-md-12 ">
                    <input type="hidden" asp-for="ID" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="IsApprove" />
                    <input type="hidden" asp-for="SentApproval" />
                    <input type="hidden" asp-for="IsReject" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row card-body ">
                        <div class="col-3 form-group">
                            <label asp-for="SupportTypeID" class="control-label font-weight-bold">Support Type</label>
                            <select asp-for="SupportTypeID" class="form-control" style="width:100%;">
                                <option value="">Select Support Type</option>
                                @if (Model.supportTypes != null)
                                {
                                    foreach (var a in Model.supportTypes)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="SupportTypeID" class="text-danger"></span>
                        </div>

                        <div class="col-3 form-group">
                            <label asp-for="CategoryID" class="control-label font-weight-bold">Category</label>
                            <select asp-for="CategoryID" class="form-control" style="width:100%;">
                                <option value="">Select Category</option>
                                @if (Model.category != null)
                                {
                                    foreach (var a in Model.category)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="CategoryID" class="text-danger"></span>
                        </div>
                        <div class="col-3 form-group">
                            <label asp-for="SubCategoryID" class="control-label font-weight-bold">Sub Category</label>
                            <select asp-for="SubCategoryID" class="form-control" style="width:100%;">
                                <option value="">Select Sub Category</option>
                                @if (Model.subcategory != null)
                                {
                                    foreach (var a in Model.subcategory)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="SubCategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-group col-3">
                            <label asp-for="PriorityID" class="control-label font-weight-bold">Priority</label>
                            <select asp-for="PriorityID" class="form-control" style="width:100%;">
                                <option value="">Select Priority</option>
                                @if (Model.priority != null)
                                {
                                    foreach (var a in Model.priority)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="PriorityID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row card-body mb-0">
                        <div class="form-group col-md-3">
                            <label class="control-label font-weight-bold">Requested Completion Date</label>
                            <input asp-for="CompletionDate" class="form-control" type="date" />
                            <span asp-validation-for="CompletionDate" class="text-danger"></span>
                        </div>





                        <div id="div_Visible" class="col-9">
                            <div class="row">
                                <div class="form-group col-4">
                                    <label asp-for="BuildingID" class="control-label font-weight-bold">Building</label>
                                    <select asp-for="BuildingID" class="form-control" style="width:100%;">
                                        <option value="">Select Building</option>
                                        @if (Model.buildings != null)
                                        {
                                            foreach (var a in Model.buildings)
                                            {
                                                <option value="@a.ID">@a.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="BuildingID" class="text-danger"></span>
                                </div>


                                <div class="form-group col-4">
                                    <label asp-for="RoomID" class="control-label font-weight-bold">Room(Floor)</label>
                                    <select asp-for="RoomID" class="form-control" style="width:100%;">
                                        <option value="">Select Room</option>
                                        @if (Model.room != null)
                                        {
                                            foreach (var a in Model.room)
                                            {
                                                <option value="@a.ID">@(a.Name)</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="RoomID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row card-body">
                        <div class="form-group col-md-9">
                            <label asp-for="Title" class="control-label font-weight-bold"></label>
                            <input asp-for="Title" class="form-control" />
                            <span id="spanTitle" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-md-9">
                <label asp-for="TicketCode" class="control-label font-weight-bold"></label>
                <input asp-for="TicketCode" class="form-control" />
                <span id="spanTicketCode" class="text-danger"></span>
            </div>*@
                        <div class="form-group col-md-9">
                            <label asp-for="Description" class="control-label font-weight-bold"></label>
                            <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                            <span id="spanDescription" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-0  form-group " style="display:none;">
                        <label asp-for="LocationID" class="control-label font-weight-bold">Location</label>
                        <select asp-for="LocationID" class="form-control" style="width:100%;">
                            <option value="">Select Location</option>
                            @if (Model.location != null)
                            {
                                foreach (var a in Model.location)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="LocationID" class="text-danger"></span>
                    </div>



                    @if (ViewBag.status == "Create")
                    {
                        <div class="card-body">
                            <div class="form-group ">
                                <h6><strong>Attachments</strong></h6><hr />
                            </div>
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <input type="file" name="file" id="file" multiple="multiple" accept="image/*" />
                                    <span id="spanfile" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                        <i class="far fa-save"></i>&nbsp; Add
                                    </button>


                                </div>
                            </div>
                            <div class="form-group">
                                <span id="spanattach" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered" id="tblattachments">
                                    <thead>
                                        <tr>
                                            <td>S. No.</td>
                                            <td>Name</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Attachments != null)
                                        {
                                            int i = 0;
                                            foreach (var a in Model.Attachments)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++i)
                                                    </td>
                                                    <td>
                                                        <a href='/ODMImages/Tempfile/@a.Path' target="_blank"> @a.Path </a>

                                                    </td>

                                                    <td>
                                                        <a onclick="removeattachment(@a.ID)">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }

                    <div class="form-group text-center">
                        <div>


                            @if (Model.ID == 0)
                            {
                                <button id="btnSupport" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                                        style="margin-right:16px;">
                                    <i class="fas fa-check"></i>&nbsp;Raise
                                </button>

                                <button id="btnSupportCreateAnother"
                                        class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-check"></i>&nbsp; Raise & Stay In Page
                                </button>
                            }
                            else
                            {
                                @if (Model.Status == "PENDING")
                                {
                                    @if (Model.Management.Sent)
                                    {

                                    }
                                    else
                                    {


                                        @if (Model.Management.Approved)
                                        {

                                        }
                                        else
                                        {
                                            <button id="btnSupport" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                                                    style="margin-right:16px;">
                                                <i class="fas fa-check"></i>&nbsp;Update
                                            </button>

                                        }


                                    }
                                }

                                else
                                {
                                    @if (Model.Status == "COMPLETED")
                                    {
                                        @*<a asp-action="SupportRequestVerify" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" asp-route-id="@Model.ID"><i class="fas fa-check-circle"></i>&nbsp; Verify</a>*@
                                        <a title="Verify" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="verifyscorenodal(@Model.ID)"><i class="fas fa-check-circle"></i>&nbsp; Verify</a><span>&nbsp;</span>

                                    }
                                }



                            }



                        </div>
                    </div>
                </div>
                     
                    </div>
        </div>
    </div>


<div class="modal fade" id="ModalComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Post Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="requestidd" name="requestidd" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-4">
                        Comment
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" id="txtcomment" name="txtcomment"></textarea>
                        <span class="text-danger" id="spantxtcomment"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <input type="button" id="btnuploadcomment" class="btn btn-primary" value="Post Comment" />
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Give Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="SupportRequestVerify" enctype="multipart/form-data" method="post" onsubmit="return validation();">
                    <input type="hidden" id="hdnid" name="hdnid" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            Score
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="txtscore" name="txtscore" class="form-control" max="10" onkeypress="return isNumberKey(event);" />
                            <label>(Out of 10)</label>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Verify Now" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>


<script src="~/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">
    function isNumberKey(kbEvent) {
   var keyCode, keyChar;
    keyCode = kbEvent.keyCode;
    if (window.event)
        keyCode = kbEvent.keyCode;  // IE
    else
        keyCode = kbEvent.which;  //firefox         
    if (keyCode === null) return true;
    // get character
    keyChar = String.fromCharCode(keyCode);
    var charSet = "0123456789.";
    // check valid chars
    if (charSet.indexOf(keyChar) !== -1) return true;
    // control keys
    if (keyCode === null || keyCode === 0 || keyCode === 8 || keyCode === 9 || keyCode === 13 || keyCode === 27) return true;
    return false;
    }
      function verifyscorenodal(id) {
        $('#txtscore').val('');
        $('#hdnid').val(id);
        $('#myScoreModal').modal('show');        
    }
    function validation() {
        if ($('#txtscore').val() == '') {
            $('#txtscore').focus();
            alert('Please enter score');
            return false;
        }
        return true;
    }
    $(document).ready(function () {

        var Id = parseInt($("#ID").val());
        var Status = $("#Status").val();

        var approve = $("#SentApproval").val();
         var isapprove = $("#IsApprove").val();
     //   alert(approve);



        if (Id>0&& Status!="PENDING"||approve=="True"||isapprove=="True") {
            $("#SupportTypeID").prop("disabled", true);
            $("#CategoryID").prop("disabled", true);
            $("#SubCategoryID").prop("disabled", true);
            $("#LocationID").prop("disabled", true);
            if ($("#BuildingID").length > 0)
                $("#BuildingID").prop("disabled", true);
            if ($("#RoomID").length > 0)
                $("#RoomID").prop("disabled", true);
            $("#PriorityID").prop("disabled", true);
            $("#CompletionDate").prop("disabled", true);
            $("#Description").prop("disabled", true);
            $('#TicketCode').prop("disabled", true);
            $('#Title').prop("disabled", true);
        }




         var avail = '@Model.IsAvailable';
        if (avail == 'True') {
             $("#div_Visible").show();
        }
        else {
             $("#div_Visible").hide();
        }

        var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;

        $('#CompletionDate').attr('min', maxDate);


        $("#SupportTypeID").change(function () {
            if ($("#SupportTypeID").val() != '') {
                $.get('/Support/Support/GetCategoryId', { id: $('#SupportTypeID').val() }, function (data) {
                    $('#CategoryID').empty();
                    if (data.length > 0) {
                        $("#CategoryID").append('<option value="">  Select Category </option>');
                        $.each(data, function (i, item) {
                            $("#CategoryID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                         $("#CategoryID").append('<option value="">  No Category </option>');
                    }
                })
            }
            else {
                $('#CategoryID').empty();
                $("#CategoryID").append('<option value="">  Select Category </option>');
            }

            if ($("#SupportTypeID").val() != '') {
                $.get('/Support/Support/GetIsAvailable', { id: $('#SupportTypeID').val() }, function (data) {
                    if (data == true) {
                        $("#div_Visible").show();
                    }
                    else {
                        $("#div_Visible").hide();
                    }

                })
            }

        });

        $("#CategoryID").change(function () {
            if ($("#CategoryID").val() != '') {
                $.get('/Support/Support/GetSubCategoryId', { id: $('#CategoryID').val() }, function (data) {
                    $('#SubCategoryID').empty();
                    if (data.length > 0) {
                        $("#SubCategoryID").append('<option value="">  Select Sub Category </option>');
                        $.each(data, function (i, item) {
                            $("#SubCategoryID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                         $('#SubCategoryID').empty();
                $("#SubCategoryID").append('<option value=""> No Sub Category </option>');
                    }
                })
            }
            else {
                $('#SubCategoryID').empty();
                $("#SubCategoryID").append('<option value="">  Select Sub Category </option>');
            }
        });


        $("#BuildingID").change(function () {
            if ($("#BuildingID").val() != '') {
                $.get('/Support/Support/GetRoomId', { id: $('#BuildingID').val() }, function (data) {

                    $('#RoomID').empty();
                    if (data.length > 0) {
                         $("#RoomID").append('<option value="">  Select Room </option>');
                        $.each(data, function (i, item) {
                            $("#RoomID").append('<option value="' + item.id + '"> ' + item.name + ' (' + item.floorName + ') </option>');
                        });
                    }
                    else {
                        $("#RoomID").append('<option value="">  No Room </option>');
                    }
                })
            }
            else {
                $('#RoomID').empty();
                $("#RoomID").append('<option value="">  Select Room </option>');
            }
        });

        $('#btnSupport').click(function () {



            if ($('#SupportTypeID').val() == '') {
                alert('Select Support Type');

                return false;
            }
            else if ($('#CategoryID').val() == '') {
                alert('Select Category');

                return false;
            }
            else if ($('#SubCategoryID').val() == '') {
                alert('Select Sub Category');

                return false;
            }

            if ($("#div_Visible").is(":visible")) {
                if ($('#BuildingID').val() == '') {
                    alert('Select Building');

                    return false;
                }


               //if ($('#RoomID').val() == '') {
               //     alert('Select Room');
               //     $('#divloader').fadeOut();
               //     return false;
               // }
            }
           if ($('#PriorityID').val() == '') {
                alert('Select Priority');

                return false;
            }
              if ($('#Title').val() == '') {
                alert('Enter Title');

                return false;
           }
            if ($('#TicketCode').val() == '') {
                alert('Enter Ticket Code');

                return false;
           }
             if ($('#Description').val() == '') {
                alert('Enter Description');

                return false;
            }

            else {
                    $('#divloader').fadeIn();
               var dateValue = $('#CompletionDate').val();

               if ($('#CompletionDate').val() == null || $('#CompletionDate').val() == '') {
                   dateValue = null;
               }

               var addRequest =
               {
                   ID: parseInt($('#ID').val()),
                   SupportTypeID: parseInt($('#SupportTypeID').val()),
                   CategoryID: parseInt($('#CategoryID').val()),
                   SubCategoryID: parseInt($('#SubCategoryID').val()),
                   LocationID: 0,
                   BuildingID: parseInt($('#BuildingID').val()),
                   RoomID: parseInt($('#RoomID').val()),
                   PriorityID: parseInt($('#PriorityID').val()),
                   Description: $('#Description').val(),
                   CompletionDate: dateValue,
                   Title: $('#Title').val(),
                   TicketCode:$('#TicketCode').val()
               };

               //console.log(addRequest);
               $.ajax({
                   url: '/Support/Support/SaveSupportRequest',
                   type: 'POST',
                   data: addRequest,
                   //contentType: "application/json; charset=utf-8",
                   //dataType: "json",
                   success: function (data) {
                       //debugger;
                       //console.log(data);
                       $('#divloader').fadeOut();
                       if (data == 1) {
                           window.location.href = "/Support/Support/SupportRequest";
                       }
                       else {
                           window.location.href = "/Support/Support/CreateOrEditSupportRequest";
                       }
                   },
                   error: function () {

                   }
               });


            }
        })


        $("#btnSupportCreateAnother").click(function () {

            $('#divloader').fadeIn();
            if ($('#SupportTypeID').val() == '') {
                alert('Select Support Type');
                $('#divloader').fadeOut();
                return false;
            }
            else if ($('#CategoryID').val() == '') {
                alert('Select Category');
                $('#divloader').fadeOut();
                return false;
            }
            else if ($('#SubCategoryID').val() == '') {
                alert('Select Sub Category');
                $('#divloader').fadeOut();
                return false;
            }


            if ($("#div_Visible").is(":visible")) {
                if ($('#BuildingID').val() == '') {
                    alert('Select Building');
                    $('#divloader').fadeOut();
                    return false;
                }


                //if ($('#RoomID').val() == '') {
                //    alert('Select Room');
                //    $('#divloader').fadeOut();
                //    return false;
                //}
            }

            if ($('#PriorityID').val() == '') {
                alert('Select Priority');
                $('#divloader').fadeOut();
                return false;
            }
            else if ($('#Description').val() == '') {
                alert('Enter Description');
                $('#divloader').fadeOut();
                return false;
            }
                  if ($('#Title').val() == '') {
                alert('Enter Title');

                return false;
           }
            if ($('#TicketCode').val() == '') {
                alert('Enter Ticket Code');

                return false;
           }
            else {

                var dateValue = $('#CompletionDate').val();

               if ($('#CompletionDate').val() == null || $('#CompletionDate').val() == '') {
                   dateValue = null;
               }

               var addRequest =
               {
                   ID: parseInt($('#ID').val()),
                   SupportTypeID: parseInt($('#SupportTypeID').val()),
                   CategoryID: parseInt($('#CategoryID').val()),
                   SubCategoryID: parseInt($('#SubCategoryID').val()),
                   LocationID: 0,
                   BuildingID: parseInt($('#BuildingID').val()),
                   RoomID: parseInt($('#RoomID').val()),
                   PriorityID: parseInt($('#PriorityID').val()),
                   Description: $('#Description').val(),
                   CompletionDate: dateValue,
                   Title: $('#Title').val(),
                   TicketCode:$('#TicketCode').val()
               };

               //console.log(addRequest);
                $.ajax({
                    url: '/Support/Support/SaveSupportRequest',
                    type: 'POST',
                    data: addRequest,
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    success: function (data) {
                        //debugger;
                        $('#divloader').fadeOut();
                        if (data == 1) {
                            window.location.href = "/Support/Support/CreateOrEditSupportRequest";
                        }
                        //else {
                        //    window.location.href = "/Support/CreateOrEditSupportRequest";
                        //}
                    },
                    error: function () {

                    }
                });


            }
        });


        $('#btnattachment').click(function () {


            if ($('#txtattachment').val() == '') {
                //$('#spantxtattachment').html('Enter File Name');
                //$('#divloader').fadeOut();
                //return false;
            }
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile').html('Select file');

                return false;
            }
             $('#divloader').fadeIn();
            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }

           $('#tblattachments tbody').html('');

            $.ajax({
                url: '/Support/Support/SaveSupportRequestAttachment',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    var res = data;
                    if (data.length > 0) {
                        $('#tblattachments tbody').html('');
                        var s = '';
                        jQuery.each(data, function (key, value) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank' >" + "File_"+(key + 1) + "</a></td>";
                            s += "<td><a onclick='removeattachment(" + value.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        })
                        $('#tblattachments tbody').append(s);
                        $('#txtattachment').val('');
                        $("#file").val('');
                    }
                }
            })
        })

    });

    function removeattachment(id) {
        $('#divloader').fadeIn();
        $('#tblattachments tbody').html('');
        $.get('/Support/Support/RemoveSupportRequestAttachment', { id: id }, function (data) {
            $('#divloader').fadeOut();
            var res = data;
            if (data.length > 0) {
                $('#tblattachments tbody').html('');
                var s = '';
                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (key + 1) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + "File_"+(key + 1) + "</a></td>";
                    s += "<td><a onclick='removeattachment(" + value.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments tbody').append(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
        })
    }
</script>