﻿
@{
    ViewData["Title"] = "SupportDetailsReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Support.Models.SupportModelList




<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Report</li>
        </ol>
    </nav>
</div>



<div class="row" style="margin-bottom:2rem;">

    <div class="col-12 card bg-white">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Support Report</h1>
            <div>
                <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                   asp-action="DownloadSupportDetailsReport" asp-controller="Support" asp-area="Support"><i class="fas fa-arrow-circle-down"></i> &nbsp; Download Excel</a>

            </div>
        </div>
        <div class="card-body bg-white">
            
            <div class="clearfix" style="margin-bottom:20px;"></div>
          
                    <table class="table  table-borderless" id="dataTable1" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th class="sorting_desc_disabled sorting_asc_disabled"></th>
                                <th style="font-size: 13px;width:2% !important;">Sort</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SupportRequestcls != null)
                            {
                                foreach (var a in Model.SupportRequestcls)
                                {
                                    <tr class="card-body ">
                                        <td style="padding:0px;">
                                            <div class="row bg-light border mb-3 divheader" style="border-radius:8px;" data-toggle="collapse">
                                                <div class="col-md-1 h-auto">


                                                    @if (a.IsRead == false)
                            {
                                                        <div class="bg-warning ml-auto d-flex align-items-center justify-content-center p-3 font-weight-bold text-white" style="height:40%;">
                                                            @*NEW*@
                                                        </div>
                                                        <div class="bg-gray-600 ml-auto d-flex align-items-center justify-content-center p-3 " style="height:60%;">

                                                        </div>
                            }
                            else
                            {
                                                        <div class="bg-gray-600 ml-auto d-flex align-items-center justify-content-center p-3 font-weight-bold text-white" style="height:40%;">

                                                        </div>
                                                        <div class="bg-gray-600 ml-auto d-flex align-items-center justify-content-center p-3 text-black-50" style="height:60%;">



                                                        </div>
                            }
                                                </div>
                                                <div class="col-md-11 pl-0 text-dark pt-2">
                                                    <div class="row p-1" style="height:70%;">
                                                        <div class="col-md-4">
                                                            <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;margin-bottom:.5rem;" title="@a.Title">
                                                                <span class="text-dark"> @(a.Title.Length > 30 ? (a.Title.ToString().Substring(0, 29) + "...") : a.Title)</span>
                                                            </div>
                                                            @*<div style="font-size: 0.93rem; font-weight: 300;line-height:0.94rem;margin-bottom:.3rem;">
                                                                    <span class="text-dark"><b>Ticket Code:</b> @(a.TicketCode)</span>
                                                                </div>*@
                                                            <div style="font-size: 0.63rem; font-weight: 300;line-height:0.64rem;margin-bottom:.5rem;">
                                                                <span class="text-dark"> @(a.Description.Length > 30 ? (a.Description.ToString().Substring(0, 29) + "...") : a.Description)</span>
                                                            </div>
                                                            <div style="font-size: 1rem; font-weight: 100;line-height:1.1rem;margin-top:5px;">
                                                                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="Support Type" style="font-size: 0.72rem;animation: blinker 1s linear infinite;background-color:darkviolet">@(a.SupportTypeName)</span>


                                                                @if (a.PriorityName == "Medium")
                            {
                                                                    <span class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Priority" style="font-size: 0.72rem;animation: blinker 1s linear infinite;">MEDIUM</span>
                            }
                            else if (a.PriorityName == "High")
                            {
                                                                    <span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title="Priority" style="font-size: 0.72rem;animation: blinker 1s linear infinite;color:white;">HIGH</span>
                            }
                            else if (a.PriorityName == "Low")
                            {
                                                                    <span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="Priority" style="font-size: 0.72rem;animation: blinker 1s linear infinite;">LOW</span>
                            }

                                                                @if (a.Management.Sent)
                            {


                                                                    @if (a.Management.Approved)
                            {

                                                                        <span class="badge badge-success text-uppercase"
                                                                              data-toggle="tooltip" data-placement="bottom" title="Management Approved"
                                                                              style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Manag. Approved</span>

                            }
                            else
                            {
                                                                        @if (a.Management.Rejected)
                            {
                                                                            @if (a.Comment != null)
                            {
                                                                                <span class="badge badge-danger text-uppercase"
                                                                                      data-toggle="tooltip" data-placement="bottom" title="Reason: @a.Comment"
                                                                                      style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Manag. Rejected</span>
                            }
                            else
                            {
                                                                                <span class="badge badge-danger text-uppercase"
                                                                                      data-toggle="tooltip" data-placement="bottom" title="Management Rejected"
                                                                                      style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Manag. Rejected</span>
                            }


                            }
                            else
                            {
                                                                            <span class="badge badge-warning text-uppercase"
                                                                                  data-toggle="tooltip" data-placement="bottom"
                                                                                  title="Management Approval : Sent to management approval and awaiting the reply from management"
                                                                                  style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Awaiting Manag. Approval</span>

                            }

                            }

                            }


                                                                @*<span class="badge badge-pill" style="font-size: 0.72rem;animation: blinker 1s linear infinite; background-color:lightblue;">@(a.Status == "COMPLETED" ? "Verification Pending" : a.Status)</span>*@

                                                                @*@if (a.Status == "APPROVAL PENDING")
                                                                    {
                                                                        <span class="badge badge-pill text-gray-500" style="font-size: 0.72rem;animation: blinker 1s linear infinite; background-color:gray;">Manag. Approval needed</span>
                                                                    }*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">

                                                            <div class="mt-1">

                                                                <span data-toggle="tooltip" class="font-weight-normal text-dark" data-placement="bottom" title="Category" style="font-size: 0.73rem;animation: blinker 1s linear infinite;">@(a.CategoryName)</span><span>&nbsp;>>&nbsp;</span>
                                                                <span data-toggle="tooltip" class="font-weight-normal text-dark" data-placement="bottom" title="Sub Category" style="font-size: 0.73rem;animation: blinker 1s linear infinite;">@(a.SubCategoryName)</span><br />
                                                                @if (a.BuildingName != "NA")
                            {
                                                                    <span data-toggle="tooltip" data-placement="bottom" title="Block" style="font-size: 0.73rem;animation: blinker 1s linear infinite;">@(a.BuildingName)</span>
                            }
                                                                @if (a.RoomName != "NA")
                            {
                                                                    <span>&nbsp;>>&nbsp;</span>
                                                                    <span data-toggle="tooltip" data-placement="bottom" title="Room" style="font-size: 0.73rem;animation: blinker 1s linear infinite;">@(a.RoomName)</span>
                            }

                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="mt-1">


                                                                <div class="btn-group" style="width: max-content;">

                                                                    @if (a.Status != "VERIFIED")
                            {


                                                                        @if (a.Management.Sent)
                            {



                                                                            @if (a.Management.Rejected)
                            {
                                                                                @if (a.Comment != null)
                            {
                                                                                    <span class="badge badge-danger text-uppercase"
                                                                                          data-toggle="tooltip" data-placement="bottom" title="Reason: @a.Comment"
                                                                                          style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Manag. Rejected</span>
                            }
                            else
                            {
                                                                                    <span class="badge badge-danger text-uppercase"
                                                                                          data-toggle="tooltip" data-placement="bottom" title="Management Rejected"
                                                                                          style="font-size: 0.72rem;animation: blinker 1s linear infinite; ">Manag. Rejected</span>
                            }
                            }
                            else
                            {
                                                                                @if (a.Management.Approved)
                            {
                                                                                    <select asp-for="StatusID" class="form-control  ddl_@a.ID" onchange="Call_Controller(@a.ID);" title="@a.Status">
                                                                                        <option value=""> Select Status</option>

                                                                                        <option class="" value="1" selected="@(a.StatusID == 1)">PENDING </option>

                                                                                        <option class="" value="2" selected="@(a.StatusID == 2)"> COMPLETED </option>

                                                                                        <option class="" value="3" selected="@(a.StatusID == 3)"> IN-PROGRESS </option>

                                                                                        <option class="" value="4" selected="@(a.StatusID == 4)"> ON-HOLD </option>
                                                                                        <option class="" value="5" selected="@(a.StatusID == 5)"> REJECT </option>




                                                                                    </select><br />
                            }
                            else
                            {
                                                                                    <select asp-for="StatusID" class="form-control ddl_@a.ID" disabled> <option value="">@a.Status</option></select>

                            }
                            }



                            }
                            else
                            {
                                                                            <select asp-for="StatusID" class="form-control  ddl_@a.ID" onchange="Call_Controller(@a.ID);" title="@a.Status">
                                                                                <option value=""> Select Status</option>

                                                                                <option class="" value="1" selected="@(a.StatusID == 1)">PENDING </option>

                                                                                <option class="" value="2" selected="@(a.StatusID == 2)"> COMPLETED </option>

                                                                                <option class="" value="3" selected="@(a.StatusID == 3)"> IN-PROGRESS </option>

                                                                                <option class="" value="4" selected="@(a.StatusID == 4)"> ON-HOLD </option>
                                                                                <option class="" value="5" selected="@(a.StatusID == 5)"> REJECT </option>




                                                                            </select><br />
                            }




                            }
                            else
                            {
                                                                        <select asp-for="StatusID" class="form-control ddl_@a.ID" disabled> <option value="">@a.Status</option></select>
                            }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 text-right">

                                                            @*<a onclick=""><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>*@

                                                            @*<a><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a>*@
                                                            <a title="View" asp-action="ViewSupportResolveDetails" asp-route-id="@a.ID"><img src="~/websiteimages/EYE.svg" style="width: 1.85rem;" /></a>&nbsp;

                                                            @*<a title="Edit" asp-action="CreateOrEditSupportResolve" asp-route-id="@a.ID"><img src="~/websiteimages/EDIT.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>*@

                                                            <a title="Comment" href='@Url.Action("AllComments", "Support", new { requestId = @a.ID, requestType = "Resolve" })' role="button" aria-haspopup="true" aria-expanded="false">

                                                                <img src="~/websiteimages/CHAT.svg" style="width: 1.85rem;" />
                                                            </a>
                                                            @if (a.commentcount > 0)
                            {
                                                                <span class="bg-primary text-white p-1 px-2 position-absolute notificattionicon">@a.commentcount</span>
                            }
                                                            @if (a.StatusID == 1 || a.StatusID == 4)
                            {

                                                                @if (a.Management.Sent)
                            {


                                                                    @if (a.Management.Approved)
                            {



                            }
                            else
                            {
                                                                        @if (a.Management.Rejected)
                            {



                            }
                            else
                            {
                                                                            <a title="No Approval Needed" asp-action="EditFromManagement" asp-route-id="@a.ID" onclick="return confirm('Are you sure you dont need approval?');"><img src="~/websiteimages/wrong .svg" style="width: 1.85rem;" /></a>



                            }
                            }


                            }
                            else
                            {
                                                                    <a title="Send to Management for Approval" asp-action="ApprovalFromManagement" asp-route-id="@a.ID"><img src="~/websiteimages/riight.svg" style="width: 1.85rem;" /></a>

                            }


                            }

                                                            @*@if (a.SentApproval == true && a.Status == "APPROVED")
                                                                {
                                                                    <a class="text-gray-500"><img src="~/websiteimages/riight.svg" style="width: 1.85rem;background-color: currentColor;" /></a>
                                                                }*@

                                                        </div>

                                                    </div>
                                                    <div class="row bg-gray-200 p-1" style="font-size:0.73rem;height:30%;">
                                                        <div class="col-md-4">
                                                            <div>
                                                                Raised by <span class="text-danger font-weight-bold" style="color:red;">@(a.emp_Name)</span> on
                                                                <span class="text-danger font-weight-bold">
                                                                    @(a.InsertedDateTime.Date)
                                                                    @*<p class="text-danger d-inline-block text-center justify-content-center">&#9679;&nbsp;</p>@(a.InsertedDateTime.Time)*@
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 font-weight-bold text-uppercase" style="color:red;font-family:muli;">
                                                            @a.OrgGroupName

                                                        </div>
                                                        <div class="col-md-3">
                                                            Req. Compltn Dt:&nbsp;<span class="font-weight-bold text-danger" style="color:black;">@a.RequestedCompletionDate</span>
                                                        </div>
                                                        <div class="col-md-2 text-right">

                                                            @if (a.DueDate != "NA")
                            {
                                                                <label style="color:darkblue;">
                                                                    <b>Deadline: @(a.DueDate)</b>
                                                                </label>
                            }
                            else if (a.Status == "REJECTED")
                            {
                                                                <label class="text-danger">No Need</label>
                            }
                            else
                            {
                                                                <a onclick="assigndeadline(@a.ID)"><span class="font-weight-bold" style="color:black;">+</span><span class="font-weight-bold" style="color:red;">Assign DeadlineDate</span></a>
                            }


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td style="visibility:hidden;width:2%;">@a.ID</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
               
            </div>


    </div>
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reject Support Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                        <input type="hidden" id="srid1" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Reason</label>
                            <textarea id="rejectionreason" class="form-control"></textarea>
                            <span id="spanrejectionreason" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-1">
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <button id="btnreject" class="btn btn-primary"> Reject</button>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="onholdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>On-Hold Support Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                        <input type="hidden" id="srid2" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Reason</label>
                            <textarea id="onholdreason" class="form-control"></textarea>
                            <span id="spanonholdreason" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-1">
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <button id="btnonhold" class="btn btn-primary"> On-Hold</button>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="assignedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Assign Deadline Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                        <input type="hidden" id="srid" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Deadline Date</label>
                            <input id="DueDate" class="form-control" type="date" />
                            <span id="spanduedate" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-1">
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <button id="btnassigned" class="btn btn-primary"> Assign Deadline</button>
                </div>

            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .popup {
        display: block;
    }

        .popup button {
            font-weight: bold;
        }


    .badge-pill {
        border-radius: 0px !important;
    }

    .bg-warning {
        background-color: #e26014 !important;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>

<script>
    function onholdrequest(id) {
        $('#divloader').hide();
        $('#srid2').val(id);
        $("#onholdModal").modal('show');
    }
    function rejectrequest(id) {
        $('#divloader').hide();
        $('#srid1').val(id);
        $("#rejectModal").modal('show');

    }
    function assigndeadline(id) {
        $('#srid').val(id);
        $("#assignedModal").modal('show');
    }
    $(document).ready(function () {
        //$('#divloader').show();

         $('#orgDiv').hide();


        $('#dataTable').DataTable({
            "order": [[0, "desc"]]
        });

        checkType();
        function checkType() {



            $('#OrgId').empty();
            $('#DeptId').empty();
            $('#SuppotyTypeId').empty();

        }




        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;


        $('#DueDate').attr('min', maxDate);

        $('#btnonhold').click(function () {
            $('#divloader').show();
            if ($("#onholdreason").val() == "") {
                $('#divloader').hide();
                $("#spanonholdreason").html('Write Reason');
                return false;
            }
            else {
                $("#spanonholdreason").html('');
                // return true;
            }
            //$.get('/Support/statuschangetoonhold', {

            //    reason: $("#onholdreason").val(),
            //    id: $('#srid2').val()
            //},
            $.ajax({
                url: '/Support/Support/statuschangetoonhold',
                type: 'POST',
                data: { reason: $("#onholdreason").val(), id: $('#srid2').val() },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $('#divloader').hide();
                    if (data == 1) {
                        $("#onholdModal").modal('hide');
                        $('.modal-content').hide();
                        window.location.reload();
                    }
                    else {
                        $('#spanonholdreason').html(data);
                    }
                }
            });

        })
        $('#btnreject').click(function () {
            $('#divloader').show();
            if ($("#rejectionreason").val() == "") {
                $('#divloader').hide();
                $("#spanrejectionreason").html('Write Reason');
                return false;
            }
            else {
                $("#spanrejectionreason").html('');
                // return true;
            }
            $.get('/Support/Support/statuschangetoreject', {

                reason: $("#rejectionreason").val(),
                id: $('#srid1').val()
            },
                function (data) {
                    $('#divloader').hide();
                    if (data == 1) {
                        $("#rejectModal").modal('hide');
                        $('.modal-content').hide();
                        window.location.reload();
                    }
                    else {
                        $('#spanrejectionreason').html(data);
                    }

                });

        })
        $("#btnassigned").click(function () {

            $('#divloader').show();
            if ($("#DueDate").val() == "") {
                $('#divloader').hide();
                $("#spanduedate").html('Select Date');
                return false;
            }
            else {
                $("#spanduedate").html('');
                // return true;
            }

            $.get('/Support/Support/AssignDeadlineDate', {

                dueDate: $("#DueDate").val(),
                id: $('#srid').val()
            },
                function (data) {
                    $('#divloader').hide();
                    if (data == 1) {
                        $("#assignedModal").modal('hide');
                        $('.modal-content').hide();
                        window.location.reload();
                    }
                    else {
                        $('#spanduedate').html(data);
                    }

                });
        });



        var typeval = '@Model.Type';
        if (typeval != '') {
            if (typeval == "OrganizationType") {
                $('#orgDiv').show();
            }
            else {
                 $('#orgDiv').hide();
            }
            GetAllDepartment(typeval);
            // $('#Type').val(typeval);
        }
         var orgval = @(Newtonsoft.Json.JsonConvert.SerializeObject((Model.OrgId)));
        if (orgval.length>0) {
            GetAllDepartmentByOrganisation(orgval);
            $('#OrgId').val(orgval);
        }
         var deptval =@(Newtonsoft.Json.JsonConvert.SerializeObject((Model.DeptId)));
        if (deptval.length>0) {
            GetAllSupportTypeByDepartmentId(deptval);
            $('#DeptId').val(deptval);
        }
        var supporttypeval =@(Newtonsoft.Json.JsonConvert.SerializeObject((Model.SupportTypeId)));
        if (supporttypeval.length>0) {
            $('#SupportTypeId').val(deptval);
        }
        function GetAllDepartment(type) {
             if (type != '' && type == 'OrganizationType') {
                //checkType();
                $.get('/Support/Support/GetAllOrganization', {}, function (data) {
                    console.log(data);
                    $('#OrgId').empty();
                    $('#DeptId').empty();
                    $('#SuppotyTypeId').empty();

                    if (data.length > 0) {
                        //  alert("yes");
                        //$("#orgs").append('<option value="0">All Organizations</option>');
                        $.each(data, function (i, item) {
                            $("#OrgId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#OrgId').empty();
                    }
                     if (orgval.length>0) {
            $('#OrgId').val(orgval).trigger('change');
                }
                })
            } else {
                $('#OrgId').empty();
                $('#DeptId').empty();
                $('#SuppotyTypeId').empty();
                var model = {

                    type: type,
                    GrpIds: [1]
                }
                $.post('/Support/Support/GetAllDepartmentById', model, function (data) {

                    $('#DeptId').empty();
                    if (data != null && data.length > 0) {
                        $('#DeptId').show();

                        $.each(data, function (i, item) {
                            $("#DeptId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#DeptId').empty();
                    }
                     if (deptval.length>0) {
            $('#DeptId').val(deptval).trigger('change');
        }
                })
            }
        }
        function GetAllDepartmentByOrganisation(org) {
              $('#DeptId').empty();
            $('#SuppotyTypeId').empty();

            var ids = org;
            //   alert(ids);
            var idString = ids + "";
            var splitids = idString.split(",");
            var idArray = [];
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);
            }

            var model = {

                type: $("#Type").val(),
                OrgIds: idArray
            }
            $.post('/Support/Support/GetAllDepartmentById', model, function (data) {
                //   console.log(data);
                $('#DeptId').empty();
                if (data != null && data.length > 0) {
                    $('#DeptId').show();

                    $.each(data, function (i, item) {
                        $("#DeptId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#DeptId').empty();
                }

                if (deptval.length>0) {
            $('#DeptId').val(deptval).trigger('change');
        }
            })

        }

        function GetAllSupportTypeByDepartmentId(dept) {
             $('#SupportTypeId').empty();


            var ids = dept;
            //   alert(ids);
            var idString = ids + "";
            var splitids = idString.split(",");
            var idArray = [];
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);
            }

            var model = {

                type: $("#Type").val(),
                DeptIds: idArray
            }
            $.post('/Support/Support/GetAllSupportTypeByDepartmentId', model, function (data) {
                //   console.log(data);
                $('#SupportTypeId').empty();
                if (data != null && data.length > 0) {
                    $('#SupportTypeId').show();

                    $.each(data, function (i, item) {
                        $("#SupportTypeId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#SupportTypeId').empty();
                }
                 if (supporttypeval.length>0) {
            $('#SupportTypeId').val(supporttypeval).trigger('change');
        }
            })

        }


        $("#Type").change(function () {
            if ($("#Type").val() == "OrganizationType") {
                $('#orgDiv').show();
            }
            else {
                 $('#orgDiv').hide();
            }
            GetAllDepartment($("#Type").val());
        });

        $("#OrgId").change(function () {
            GetAllDepartmentByOrganisation($("#OrgId").select2('val'));
        });

        $("#DeptId").change(function () {
            GetAllSupportTypeByDepartmentId($("#DeptId").select2('val'));
        });
          if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
        $('.nav-pills a').click(function (e) {
       $(this).tab('show');
       if($('html').scrollTop()){
           var scrollmem = $('html').scrollTop(); // get scrollbar position (firefox)
       }else{
           var scrollmem = $('body').scrollTop(); // get scrollbar position (chrome)
       }
       window.location.hash = this.hash;
       $('html,body').scrollTop(scrollmem); // set scrollbar position
        });
        $('#dataTable1').dataTable();
        $('#dataTable2').dataTable();
        $('#dataTable3').dataTable();
        $('#dataTable4').dataTable();
        $('#dataTable5').dataTable();
         $('#dataTable6').dataTable();
        $('#dataTable7').dataTable();
    });


    function Call_Controller(Row_Id) {
        $('#divloader').show();
        var RowId = Row_Id;
        var ddl_Value = $(".ddl_" + Row_Id).val();

        if (ddl_Value == 4) {
            onholdrequest(RowId);

        }
        else if (ddl_Value == 5) {
            rejectrequest(RowId);
        }
        else {
            $.get('/Support/Support/StatusUpdateGrid', {

                id: RowId,
                statusid: ddl_Value
            },
                function (data) {
                    $('#divloader').hide();
                    if (data == 1) {

                        window.location.reload();

                    }
                    else {
                        window.location.href = '/Support/Support/SupportResolve';

                    }
                });

        }

    }


</script>
