﻿@{
    ViewData["Title"] = "SupportApproveReject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Support.Models.SupportModelList
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Support Approve Reject</h1>
    <div>
        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadCountry" asp-controller="Master"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>
            <a href="/Support/CreateOrEditSupport" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>*@

    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="StatusID" class="control-label">Status</label>
                                    <select asp-for="StatusID" class="form-control">
                                        <option value="">Select Status</option>
                                        @if (Model.statuses != null)
                                        {
                                            foreach (var a in Model.statuses)
                                            {
                                                <option value="@a.ID">@a.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="StatusID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>

                                    <input type="date" asp-for="t_Date" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="PriorityID" class="control-label">Priority</label>
                                    <select asp-for="PriorityID" class="form-control">
                                        <option value="">Select Priority</option>
                                        @if (Model.priorities != null)
                                        {
                                            foreach (var a in Model.priorities)
                                            {
                                                <option value="@a.ID">@a.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="PriorityID" class="text-danger"></span>
                                </div>
                            </div>

                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="clearfix" style="margin-bottom:25px;"></div>
                        <a class="btn btn-primary" asp-action="SupportApproveReject"><i class="fa fa-undo"></i>&nbsp;Reset</a>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="table-responsive">
                    <table class="table table-bordered Grid" id="" width="100%" cellspacing="0">
                        <thead>

                            <tr style="display:none;">

                                <th colspan="2">
                                    <div>
                                        <div class="form-group">
                                            <label asp-for="StatusID" class="control-label">Status</label>
                                            <select asp-for="StatusID" class="form-control">
                                                <option value="">Select Status</option>
                                                @if (Model.statuses != null)
                                                {
                                                    foreach (var a in Model.statuses)
                                                    {
                                                        <option value="@a.ID">@a.Name</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="StatusID" class="text-danger"></span>
                                        </div>
                                    </div>

                                </th>
                                <th colspan="2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Date</label>

                                                <input type="date" asp-for="t_Date" class="form-control" style="width: 170px;" />
                                            </div>
                                        </div>

                                        <span class="text-danger"></span>
                                    </div>


                                </th>
                                <th colspan="2">
                                    <div>
                                        <div class="form-group">
                                            <label asp-for="PriorityID" class="control-label">Priority</label>
                                            <select asp-for="PriorityID" class="form-control">
                                                <option value="">Select Priority</option>
                                                @if (Model.priorities != null)
                                                {
                                                    foreach (var a in Model.priorities)
                                                    {
                                                        <option value="@a.ID">@a.Name</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="PriorityID" class="text-danger"></span>
                                        </div>
                                    </div>

                                </th>

                            </tr>

                            <tr>
                                <th>Name</th>
                                <th>Mobile No.</th>
                                <th>Support Type</th>
                                <th>Category</th>
                                <th>Sub-Category</th>
                                <th>Building</th>
                                <th>Room</th>
                                <th>Priority</th>
                                <th>Completion Status</th>
                                <th>Approved On</th>
                                <th>Rejected On</th>
                                <th>Approved/Rejected By Head</th>
                                <th>Deadline Date</th>
                                @*<th>Action</th>*@
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody id="tbData">
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#divloader').show();

        $.get('/Support/Support/SupportListApproveReject', {
            dateid: $('#t_Date').val(),
            statusid: $('#StatusID option:selected').val(),
            priorityid: $('#PriorityID option:selected').val()
        },

            function (data) {
                //console.log(data.data);
                $('#divloader').hide();

                $('#tbData').empty();
                $.each(data.data, function (i, item) {

                    // $("#dataTable").DataTable().clear();
                    console.log(item);
                    // $("#dataTable").DataTable().draw();


                    var rows = "<tr id=" + item.id + ">" +
                        //" <td>" + (++i) + "</td>" +
                        " <td>" + item.emp_Name + "</td>" +
                        " <td>" + item.emp_Phone + "</td>" +
                        " <td>" + item.supportTypeName + "</td>" +
                        " <td>" + item.categoryName + "</td>" +
                        " <td>" + item.subCategoryName + "</td>" +
                        " <td>" + (item.buildingName) + "</td>" +

                        " <td>" + item.roomName + "</td>" +
                        " <td>" + item.priorityName + "</td>" +
                        " <td>" + item.status + "</td>" +
                        " <td>" + item.approveDate + "</td>" +
                        " <td>" + item.rejectDate + "</td>" +
                        " <td>" + item.approveReject + "</td>" +
                        " <td>" + item.dueDate + "</td>" +
                        "</tr>";


                    var viewLink = $("<a></a>");
                    viewLink.attr("href", "/Support/Support/CreateOrEditSupportApproveReject?id=" + item.id);
                    viewLink.attr("asp-route-id", item.id);
                    viewLink.html("View");

                    var tdlink = $("<td></td>");
                    tdlink.append(viewLink);

                    $('#tbData').append(rows);

                    $('#' + item.id).append(tdlink);


                });
            });



        $("#StatusID").change(function () {
            $('#divloader').show();

            $.get('/Support/Support/SupportListApproveReject', {

                dateid: $('#t_Date').val(),
                statusid: $('#StatusID option:selected').val(),
                priorityid: $('#PriorityID option:selected').val()
            },

                function (data) {

                    //console.log(data.data);
                    $('#divloader').hide();

                    $('#tbData').empty();
                    $.each(data.data, function (i, item) {

                        var rows = "<tr id=" + item.id + ">" +
                            //" <td>" + (++i) + "</td>" +
                            " <td>" + item.emp_Name + "</td>" +
                            " <td>" + item.emp_Phone + "</td>" +
                            " <td>" + item.supportTypeName + "</td>" +
                            " <td>" + item.categoryName + "</td>" +
                            " <td>" + item.subCategoryName + "</td>" +
                            " <td>" + (item.buildingName) + "</td>" +

                            " <td>" + item.roomName + "</td>" +
                            " <td>" + item.priorityName + "</td>" +
                            " <td>" + item.status + "</td>" +
                            " <td>" + item.approveDate + "</td>" +
                            " <td>" + item.rejectDate + "</td>" +
                            " <td>" + item.approveReject + "</td>" +
                            " <td>" + item.dueDate + "</td>" +
                            "</tr>";




                        var viewLink = $("<a></a>");
                        viewLink.attr("href", "/Support/Support/CreateOrEditSupportApproveReject?id=" + item.id);
                        viewLink.attr("asp-route-id", item.id);
                        viewLink.html("View");

                        var tdlink = $("<td></td>");
                        tdlink.append(viewLink);

                        $('#tbData').append(rows);

                        $('#' + item.id).append(tdlink);

                    });
                });


        });


        $("#t_Date").change(function () {
            $('#divloader').show();
            $.get('/Support/Support/SupportListApproveReject', {
                dateid: $('#t_Date').val(),
                statusid: $('#StatusID option:selected').val(),
                priorityid: $('#PriorityID option:selected').val()
            },

                function (data) {

                    //console.log(data.data);
                    $('#divloader').hide();

                    $('#tbData').empty();
                    $.each(data.data, function (i, item) {

                        var rows = "<tr id=" + item.id + ">" +
                            //" <td>" + (++i) + "</td>" +
                            " <td>" + item.emp_Name + "</td>" +
                            " <td>" + item.emp_Phone + "</td>" +
                            " <td>" + item.supportTypeName + "</td>" +
                            " <td>" + item.categoryName + "</td>" +
                            " <td>" + item.subCategoryName + "</td>" +
                            " <td>" + (item.buildingName) + "</td>" +

                            " <td>" + item.roomName + "</td>" +
                            " <td>" + item.priorityName + "</td>" +
                            " <td>" + item.status + "</td>" +
                            " <td>" + item.approveDate + "</td>" +
                            " <td>" + item.rejectDate + "</td>" +
                            " <td>" + item.approveReject + "</td>" +
                            " <td>" + item.dueDate + "</td>" +

                            "</tr>";


                        var viewLink = $("<a></a>");
                        viewLink.attr("href", "/Support/Support/CreateOrEditSupportApproveReject?id=" + item.id);
                        viewLink.attr("asp-route-id", item.id);
                        viewLink.html("View");

                        var tdlink = $("<td></td>");
                        tdlink.append(viewLink);

                        $('#tbData').append(rows);

                        $('#' + item.id).append(tdlink);

                    });
                });

        });


        $("#PriorityID").change(function () {
            $('#divloader').show();

            $.get('/Support/Support/SupportListApproveReject', {

                dateid: $('#t_Date').val(),
                statusid: $('#StatusID option:selected').val(),
                priorityid: $('#PriorityID option:selected').val()
            },

                function (data) {

                    //console.log(data.data);
                    $('#divloader').hide();

                    $('#tbData').empty();
                    $.each(data.data, function (i, item) {

                        var rows = "<tr id=" + item.id + ">" +
                            //" <td>" + (++i) + "</td>" +
                            " <td>" + item.emp_Name + "</td>" +
                            " <td>" + item.emp_Phone + "</td>" +
                            " <td>" + item.supportTypeName + "</td>" +
                            " <td>" + item.categoryName + "</td>" +
                            " <td>" + item.subCategoryName + "</td>" +
                            " <td>" + (item.buildingName) + "</td>" +

                            " <td>" + item.roomName + "</td>" +
                            " <td>" + item.priorityName + "</td>" +
                            " <td>" + item.status + "</td>" +
                            " <td>" + item.approveDate + "</td>" +
                            " <td>" + item.rejectDate + "</td>" +
                            " <td>" + item.approveReject + "</td>" +
                            " <td>" + item.dueDate + "</td>" +
                            "</tr>";


                        var viewLink = $("<a></a>");
                        viewLink.attr("href", "/Support/Support/CreateOrEditSupportApproveReject?id=" + item.id);
                        viewLink.attr("asp-route-id", item.id);
                        viewLink.html("View");

                        var tdlink = $("<td></td>");
                        tdlink.append(viewLink);

                        $('#tbData').append(rows);
                        $('#' + item.id).append(tdlink);

                    });
                });


        });

    });

</script>