﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Support.Models.SupportTabularReportCls>



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
        <li class="breadcrumb-item active" aria-current="page">Report</li>
    </ol>
</nav>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Report</h1>
</div>
<div class="form-group">

    <form asp-action="SupportTabularReport">
        <div class="row">

            <div class="col-md-2">
                @if (ViewBag.supportType != null)
                {
                    <select class="form-control" id="supporttype_ddl" name="supporttype_ddl" style="width:100%;">
                        <option value="0" selected="@(ViewBag.supporttypeid==0?true:false)">Select Support Type</option>
                        @if (ViewBag.supportType != null)
                        {
                            foreach (var a in ViewBag.supportType)
                            {
                                <option value="@a.ID" selected="@(ViewBag.supporttypeid==a.ID?true:false)">@a.Name</option>
                            }
                        }
                    </select>
                }
            </div>

            <div class="col-md-2">
                @if (ViewBag.groups == true)
                {
                    @if (ViewBag.supportType != null)
                    {
                        <div class="form-group">
                            <select id="OrganizationID" name="OrganizationID" class="form-control">
                                <option value="">Select Organization</option>
                                @if (ViewBag.organizations != null)
                                {
                                    foreach (var a in ViewBag.organizations)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                }
            </div>

            <div class="col-md-2 form-group">
                <select name="datetype" id="datetype" class="form-control">
                    <option value="" selected="@(ViewBag.datetypeid==null)">ALL</option>
                    <option value="1" selected="@(ViewBag.datetypeid==1)">Datewise</option>
                    <option value="2" selected="@(ViewBag.datetypeid==2)">Monthwise</option>
                </select>
            </div>
            <div class="col-md-2 form-group divdatewise">
                <input type="date" id="f_date" name="f_date" class="form-control" value="@ViewBag.fdt" />
            </div>
            <div class="col-md-2 form-group divdatewise">
                <input type="date" id="t_date" name="t_date" class="form-control" value="@ViewBag.tdt" />
            </div>
            <div class="col-md-3 form-group divmonthwise">
                <input type="month" id="m_date" name="m_date" class="form-control" value="@ViewBag.mdt" />
            </div>

            @*<div class="col-md-3">
                    <input type="date" class="form-control" id="f_Date" name="f_Date" value="@ViewBag.vfdt" />
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="t_Date" name="t_Date" value="@ViewBag.vtdt" />
                </div>*@
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <span class="text-danger">@ViewBag.messg</span>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-1">

            </div>
        </div>
    </form>
    <div class="clearfix" style="margin-bottom:10px;"></div>

    <div class="row p-3">
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 p-4 text-center d-flex align-items-center justify-content-center" style="background-color: #fd7e148c;">
                    <ul class="list-unstyled">
                        <li>
                            <div class="font-weight-bold text-white" style="font-size:7rem;">
                                @(ViewBag.raised.ToString() == "0" ? "0" : ViewBag.raised.ToString("00"))
                            </div>
                        </li>
                        <li>
                            <div class="text-primary" style="font-size:3.5rem;">
                                Total Request
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 bg-gray-200">
                    <div class="row">
                        <div class="col-md-4 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#0094ff;">
                                        @(ViewBag.pending.ToString() == "0" ? "0" : ViewBag.pending.ToString("00"))
                                    </div>
                                </div>
                                <div class="card-footer" style="background-color:#0094ff;">
                                    <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                        @(ViewBag.pendingP)% | <b>Pending</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff0000;">
                                        @(ViewBag.onhold.ToString() == "0" ? "0" : ViewBag.onhold.ToString("00"))
                                    </div>
                                </div>
                                <div class="card-footer" style="background-color:#ff0000;">
                                    <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                        @(ViewBag.onholdP)% | <b>On-Hold</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff6a00;">
                                        @(ViewBag.inprogress.ToString() == "0" ? "0" : ViewBag.inprogress.ToString("00"))
                                    </div>
                                </div>
                                <div class="card-footer" style="background-color:#ff6a00;">
                                    <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                        @(ViewBag.inprogressP)% | <b>Progress</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#7ab743;">
                                        @(ViewBag.complete.ToString() == "0" ? "0" : ViewBag.complete.ToString("00"))
                                    </div>
                                </div>
                                <div class="card-footer" style="background-color:#7ab743;">
                                    <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                        @(ViewBag.completeP)% | <b>Completed</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#46781a;">
                                        @(ViewBag.verified.ToString() == "0" ? "0" : ViewBag.verified.ToString("00"))
                                    </div>
                                </div>
                                <div class="card-footer" style="background-color:#46781a;">
                                    <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                        @(ViewBag.verifiedP)% | <b>Verified</b>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#7ab743;">
                                        @(ViewBag.SendApproval.ToString() == "0" ? "0" : ViewBag.SendApproval.ToString("00"))
                                    </div>
                                </div>

                                <div style="font-size:1.81rem;color:black;" class="text-center text-uppercase">
                                    Management Approval
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="card bg-transparent">
                                <div class="card-body">
                                    <div class="font-weight-bold" style="font-size:2rem;color:#4988bd;">
                                        Pending &nbsp;&nbsp;&nbsp;
                                        <a class="font-weight-bold text-right" style="font-size:2rem;color:#4988bd;">
                                            @(ViewBag.approvalpending.ToString() == "0" ? "0" : ViewBag.approvalpending.ToString("00"))
                                        </a>

                                    </div>
                                    <div class="font-weight-bold" style="font-size:2rem;color:#46781a;">
                                        Approved&nbsp;
                                        <a class="font-weight-bold text-right" style="font-size:2rem;color:#46781a;">
                                            @(ViewBag.approved.ToString() == "0" ? "0" : ViewBag.approved.ToString("00"))
                                        </a>

                                    </div>
                                    <div class="font-weight-bold" style="font-size:2rem;color:#000000;">
                                        Rejected &nbsp;&nbsp;
                                        <a class="font-weight-bold text-right" style="font-size:2rem;color:red;">
                                            @(ViewBag.mgtreject.ToString() == "0" ? "0" : ViewBag.mgtreject.ToString("00"))
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="row">
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-dark p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.raised)</h2></div>
                    <div class="text-md-left text-white"><h3>Total Request</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-success p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.pending)</h2></div>
                    <div class="text-md-left text-white"><h3>Pending</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-info p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.onhold)</h2></div>
                    <div class="text-md-left text-white"><h3>On-Hold</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-danger p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.rejected)</h2></div>
                    <div class="text-md-left text-white"><h3>Reject</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-danger p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.inprogress)</h2></div>
                    <div class="text-md-left text-white"><h3>In-Progress</h3></div>
                </div>
            </div>

            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-warning p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.complete)</h2></div>
                    <div class="text-md-left text-white"><h3>Completed</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-warning p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.verified)</h2></div>
                    <div class="text-md-left text-white"><h3>Verified</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-warning p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.approved)</h2></div>
                    <div class="text-md-left text-white"><h3>Approved</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-warning p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.approvalpending)</h2></div>
                    <div class="text-md-left text-white"><h3>Approval Pending</h3></div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="card shadow-lg bg-gradient-warning p-3">
                    <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.mgtreject)</h2></div>
                    <div class="text-md-left text-white"><h3>Management Reject</h3></div>
                </div>
            </div>
        </div>*@

    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>
                    <colgroup span="2"></colgroup>

                    <thead>
                        <tr>
                            <td rowspan="2">Department</td>
                            <th colspan="2" scope="colgroup">Raised</th>
                            <th colspan="2" scope="colgroup">Resolved</th>
                            <th colspan="2" scope="colgroup">Pending</th>
                            <th colspan="2" scope="colgroup">Verified Pending</th>
                            <th colspan="2" scope="colgroup">In-Progress</th>
                            <th colspan="2" scope="colgroup">On-Hold</th>
                            <th colspan="2" scope="colgroup">Rejected</th>
                            <th colspan="2" scope="colgroup">Approved</th>
                            <th colspan="2" scope="colgroup">Approval Pending</th>
                            <th colspan="2" scope="colgroup">Management Rejected</th>

                        </tr>
                        <tr>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                            <th scope="col">Percent</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.DepartmentName</th>
                                    <td>@item.RaiseP%</td>
                                    <td>@item.Raise</td>
                                    <td>@item.ResolveP%</td>
                                    <td>@item.Resolve</td>
                                    <td>@item.PendingP%</td>
                                    <td>@item.Pending</td>
                                    <td>@item.VerifyP%</td>
                                    <td>@item.Verify</td>
                                    <td>@item.InprogressP%</td>
                                    <td>@item.Inprogress</td>
                                    <td>@item.OnholdP%</td>
                                    <td>@item.Onhold</td>
                                    <td>@item.RejectP%</td>
                                    <td>@item.Reject</td>
                                    <td>@item.ApproveP%</td>
                                    <td>@item.Approve</td>
                                    <td>@item.ApprovalPendingP%</td>
                                    <td>@item.ApprovalPending</td>
                                    <td>@item.MgtRejectP%</td>
                                    <td>@item.MgtReject</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.datetypeid' == '1') {
            $('.divdatewise').show();
            $('.divmonthwise').hide();
        }
        else if ('@ViewBag.datetypeid' == '2') {
            $('.divdatewise').hide();
            $('.divmonthwise').show();

        }
        else {
            $('.divdatewise').hide();
            $('.divmonthwise').hide();

        }
        $('#datetype').change(function () {
            if ($('#datetype').val() == 1) {
                $('.divdatewise').show();
                $('.divmonthwise').hide();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
            else if ($('#datetype').val() == 2) {
                $('.divdatewise').hide();
                $('.divmonthwise').show();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
            else {
                $('.divdatewise').hide();
                $('.divmonthwise').hide();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
        })

        $("#supporttype_ddl").change(function () {
            if ($("#supporttype_ddl").val() != '') {

                $.get('/Support/Support/GetOrganizationId', { id: $('#supporttype_ddl').val() }, function (data) {

                    $('#OrganizationID').empty();
                    if (data.org.length > 0) {
                        $("#OrganizationID").append('<option value="">  Select Organization </option>');
                        $.each(data.org, function (i, item) {
                            $("#OrganizationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $("#OrganizationID").append('<option value="">  No Organization </option>');
                    }
                })
            }
            else {
                $('#OrganizationID').empty();
                $("#OrganizationID").append('<option value="">  Select Organization </option>');
            }
        });

    });
</script>

