﻿@{
    ViewData["Title"] = "SupportTimeLine";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<OdmErp.Web.Areas.Support.Models.SupportTimeLineCls>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a asp-action="Support" asp-controller="Layout">Support</a></li>
            <li class="breadcrumb-item active" aria-current="page">Support TimeLine</li>
        </ol>
    </nav>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Support TimeLine</h1>
    <div>
        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadSupport" asp-controller="Support"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>
        <a href="/Support/CreateOrEditSupport" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>*@

    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Status</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.EmployeeName
                                        </td>
                                        <td>
                                            @item.SupportStatus
                                        </td>
                                        <td>
                                            @item.InsertedDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        
                                       
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadSupport" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Support/downloadSupportSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>*@

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
