﻿
@{
    ViewData["Title"] = "SupportDynamicReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Support.Models.SupportReportViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item">
                <a class="h6 mb-0 text-info font-weight-bold"
                   asp-action="SupportMaster" asp-controller="Layout">Support</a>
            </li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Reports</li>
        </ol>
    </nav>
</div>
@if (Model.FilterShow)
{
    <div class="row">

        <div class="card col-12" id="accordion">

            <div class="card-header bg-white">

                <div class="row ">
                    <div class="col-3">
                        <span class="font-weight-bold"
                              style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                            <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                        </span>

                    </div>
                    <div class="col-9" style="text-align-last:right">


                        <a id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                            <i class="fas fa-search"></i>&nbsp; Search
                        </a>

                        <a id="btnRefresh" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                            <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                        </a>
                        <a data-toggle="collapse" data-target="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne"
                           class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                            <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                        </a>
                    </div>

                </div>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white">


                    <div class="row">
                        @if (Model.Types.Count > 1)
                        {

                            <div class="col-3 form-group">
                                <label class="form-label">Department Type</label>
                                <select id="type" class="form-control">
                                    @if (Model.Types != null)
                                    {

                                        @foreach (var a in Model.Types)
                                        {
                                            <option value="@a.Name">@a.Status</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-3 form-group" id="orgDiv">
                                <label class="form-label">Organization</label>
                                <select multiple id="orgs" class="form-control" style="width:100%;">
                                    @if (Model.Organizations != null)
                                    {
                                        @foreach (var a in Model.Organizations)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>

                            </div>

                        }


                        <div class="col-3 form-group">
                            <label class="form-label">Department</label>
                            <select multiple id="depts" class="form-control">
                                @if (Model.Departments != null)
                                {
                                    @foreach (var a in Model.Departments)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>

                        </div>


                        <div class="col-3 form-group">
                            <label class="form-label">SupportType</label>
                            <select multiple id="stypes" class="form-control">
                                @if (Model.SupportTypes != null)
                                {
                                    @foreach (var a in Model.SupportTypes)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>

                        </div>

                        <div class="col-3 form-group">
                            <label class="form-label">Employee</label>
                            <select id="deptemp" class="form-control">
                                @if (ViewBag.Employees != null)
                                {
                                    <option value="">Select Employee</option>
                                    @foreach (var a in ViewBag.Employees)
                                    {
                                        <option value="@a.ID">@a.FullName</option>
                                    }
                                }
                            </select>

                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
}
else
{

    <div class="row">
        <form method="get" action="SupportRequest" class="col-12 ">
            <div id="accordion">
                <div class="card row">
                    <div class="card-header bg-white col-12">

                        <div class="row ">
                            <div class="col-3">
                                <span class="font-weight-bold"
                                      style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                    <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                                </span>

                            </div>
                            <div class="col-9" style="text-align-last:right">


                                <button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-search"></i>&nbsp; Search
                                </button>

                                <a asp-action="SupportRequest" style="margin-right:2rem;"
                                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                                </a>

                                <a data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne"
                                   class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                    <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                                </a>

                            </div>

                        </div>

                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body bg-white">
                            <div class="row col-12">
                                <div class="col-3 form-group">

                                    <label class="form-label">Employee</label>

                                    <select id="dEmployee" class="form-control">
                                        @if (ViewBag.DeptEmployees != null)
                                        {
                                            <option value="">Select Employee</option>
                                            @foreach (var a in ViewBag.DeptEmployees)
                                            {
                                                <option value="@a.ID">@a.EmpName</option>
                                            }
                                        }
                                    </select>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
<div class="row" style="margin-top:.1rem;margin-bottom:4rem;">

    <div class="card bg-white col-12">
        <div class="card-header bg-white">
            <span class="h6 text-dark font-weight-bold text-secondary">
                Total Requests
                &nbsp;<span id="countSpan" class="badge badge-info "></span>
            </span>

        </div>

    </div>
    <div class="card bg-white col-12">
        <div class="card-body">
            <div class="row ">
                <div class="col-6">
                    <div class="justify-content-center  text-center">
                        <span class="font-weight-bold"
                              style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                            Status Wise Count
                        </span>
                    </div>

                    <div id="columnChart">

                    </div>
                </div>

                <div class="col-6 ">
                    <div class="justify-content-center  text-center">
                        <span class="font-weight-bold"
                              style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                            Status Wise Percentage
                        </span>
                    </div>
                    <div id="donutChart">

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="row" hidden style="margin-top:2rem;margin-bottom:4rem;">



</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#orgDiv').hide();

        checkType();

        function checkType() {



            $('#orgs').empty();
            $('#depts').empty();
            $('#stypes').empty();

        }




        $('#btnSearch').click(function () {

            // alert($('#type').select2('val'));

            $("#donutChart").empty();
            $("#columnChart").empty();
            $('#countSpan').html(0);

            loadReports()

        })

        $('#btnRefresh').click(function () {

            // alert($('#type').select2('val'));

            $("#donutChart").empty();
            $("#columnChart").empty();
            $('#countSpan').html(0);
            $('#orgs').empty();
            $('#depts').empty();
            $('#stypes').empty();
            $('#type').val("All");
            loadReports()

        })


        loadReports();

        function loadReports() {

            var ids = $("#orgs").val();

            var idString = ids + "";
            var splitids = idString.split(",");
            var idArray = [];
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);
            }

            var idsDept = $("#depts").val();

            var idStringDept = idsDept + "";
            var splitidsDept = idStringDept.split(",");
            var idArrayDept = [];
            for (var i = 0; i < splitidsDept.length; i++) {
                idArrayDept[i] = parseInt(splitidsDept[i]);
            }


            var idsType = $("#stypes").val();;

            var idStringType = idsType + "";
            var splitidsType = idStringType.split(",");
            var idArrayType = [];
            for (var i = 0; i < splitidsType.length; i++) {
                idArrayType[i] = parseInt(splitidsType[i]);
            }

            var emp = null;
            debugger;
            if ($('#deptemp').val() != null) {
                emp = $('#deptemp').val();
            }
            else {
                emp = null;
            }

            var emp1 = null;
            debugger;
            if ($('#dEmployee').val() != null) {
                emp1 = $('#dEmployee').val();
            }
            else {
                emp1 = null;
            }

            var model = {
                type: $('#type').val(),
                GrpIds: [1],
                OrgIds: idArray,
                DeptIds: idArrayDept,
                SupportTypeIds: idArrayType,
                DeptEmp: emp,
                DEmp: emp1
            };
            $('#divloader').show();
            $.post('/Support/Support/PrepareReportData', data = model,
                function (data) {
                    $('#divloader').hide();
                    console.log(data);
                    if (data != null) {
                        if (data.max > 0) {
                            $('#countSpan').html(data.max);
                            RenderBarChart(data);
                            RenderDonutChart(data);
                            //RenderStackedColumnChart(data);
                        }
                        else {

                        }

                    }
                    else {
                        alert("error")
                    }

                });
        }
        function RenderDonutChart(data) {
            var options = {
                colors: ['#F9CE1D', '#008FFB', '#4CAF50', '#546E7A', '#D7263D', '#F86624', '#F9CE1D', '#D7263D'],

                series: data.series,
                chart: {
                    //width: 400,
                    type: 'donut',
                    toolbar: {
                        show: true,
                        tools: {
                            download: true,

                        },

                    },
                    events: {
                        dataPointSelection: function (event, chartContext, config) {
                            var ids = $("#orgs").val();

                            var idString = ids + "";
                            var splitids = idString.split(",");
                            var idArray = [];
                            for (var i = 0; i < splitids.length; i++) {
                                idArray[i] = parseInt(splitids[i]);
                            }

                            var idsDept = $("#depts").val();

                            var idStringDept = idsDept + "";
                            var splitidsDept = idStringDept.split(",");
                            var idArrayDept = [];
                            for (var i = 0; i < splitidsDept.length; i++) {
                                idArrayDept[i] = parseInt(splitidsDept[i]);
                            }


                            var idsType = $("#stypes").val();;

                            var idStringType = idsType + "";
                            var splitidsType = idStringType.split(",");
                            var idArrayType = [];
                            for (var i = 0; i < splitidsType.length; i++) {
                                idArrayType[i] = parseInt(splitidsType[i]);
                            }
                            var type = "";
                            if ($('#type').val() == undefined) {
                                type = "All";
                            }
                            else {
                                type = $('#type').val();
                            }
                            window.location.href = '/Support/Support/SupportDetailsReport?Type=' + type + '&OrgId=' + idArray + '&DeptId=' + idArrayDept + '&SupportTypeId=' + idArrayType + '&Status=' + config.dataPointIndex + '';



                            //console.log(event);
                            //console.log(chartContext);
                            //console.log(config.dataPointIndex);
                        }
                    }
                },

                labels: data.labels,
                legend: {
                    position: 'bottom',
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        //chart: {
                        //    width: 400
                        //},
                        legend: {
                            position: 'bottom',


                        }
                    }
                }]
            };



            var chart = new ApexCharts(document.querySelector("#donutChart"), options);
            chart.render();

        }
        function RenderBarChart(data) {
            var optionsBarChart = {
                series: [{
                    data: data.series
                }],
                chart: {
                    type: 'bar',
                    height: 380,
                    events: {
                        dataPointSelection: function (event, chartContext, config) {
                            var ids = $("#orgs").val();

                            var idString = ids + "";
                            var splitids = idString.split(",");
                            var idArray = [];
                            for (var i = 0; i < splitids.length; i++) {
                                idArray[i] = parseInt(splitids[i]);
                            }

                            var idsDept = $("#depts").val();

                            var idStringDept = idsDept + "";
                            var splitidsDept = idStringDept.split(",");
                            var idArrayDept = [];
                            for (var i = 0; i < splitidsDept.length; i++) {
                                idArrayDept[i] = parseInt(splitidsDept[i]);
                            }


                            var idsType = $("#stypes").val();;

                            var idStringType = idsType + "";
                            var splitidsType = idStringType.split(",");
                            var idArrayType = [];
                            for (var i = 0; i < splitidsType.length; i++) {
                                idArrayType[i] = parseInt(splitidsType[i]);
                            }
                            var type = "";
                            if ($('#type').val() == undefined) {
                                type = "All";
                            }
                            else {
                                type = $('#type').val();
                            }
                            window.location.href = '/Support/Support/SupportDetailsReport?Type=' + type + '&OrgId=' + idArray + '&DeptId=' + idArrayDept + '&SupportTypeId=' + idArrayType + '&Status=' + config.dataPointIndex + '';



                            //console.log(event);
                            //console.log(chartContext);
                            //console.log(config.dataPointIndex);
                        }
                    }
                },

                plotOptions: {
                    bar: {
                        barHeight: '100%',
                        distributed: true,
                        horizontal: true,
                        dataLabels: {
                            position: 'bottom'
                        },
                    }
                },
                //colors: ['#FDD835', '#0D47A1', '#1B5E20', '#B71C1C', '#B71C1C', '#E65100', '#FDD835', '#B71C1C'],

                colors: ['#F9CE1D', '#008FFB', '#4CAF50', '#546E7A', '#D7263D', '#F86624', '#F9CE1D', '#D7263D'],
                dataLabels: {
                    enabled: true,
                    textAnchor: 'start',
                    style: {
                        colors: ['#']
                    },
                    formatter: function (val, opt) {
                        return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                    },

                    offsetX: 0,
                    dropShadow: {
                        enabled: false
                    }
                },
                legend: {
                    show: false
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                xaxis: {
                    categories: data.labels,
                    decimalsInFloat: 0,
                    labels: {
                        show: false
                    },
                },
                yaxis: {
                    show: false,

                    showAlways: false,


                    labels: {
                        show: false
                    },


                },

                tooltip: {
                    theme: 'dark',
                    x: {
                        show: false
                    },
                    y: {
                        title: {
                            formatter: function () {
                                return ''
                            }
                        }
                    }
                }
            };


            var chart = new ApexCharts(document.querySelector("#columnChart"), optionsBarChart);
            chart.render();
        }
        function RenderStackedColumnChart(data) {
            var options = {
                series: [{
                    name: 'PRODUCT A',
                    data: [44, 55, 41, 67, 22, 43]
                }, {
                    name: 'PRODUCT B',
                    data: [13, 23, 20, 8, 13, 27]
                }, {
                    name: 'PRODUCT C',
                    data: [11, 17, 15, 15, 21, 14]
                }, {
                    name: 'PRODUCT D',
                    data: [21, 7, 25, 13, 22, 8]
                }],
                chart: {
                    type: 'bar',
                    height: 350,
                    stacked: true,
                    toolbar: {
                        show: true
                    },
                    zoom: {
                        enabled: true
                    },
                    events: {
                        dataPointSelection: function (event, chartContext, config) {
                            var ids = $("#orgs").val();

                            var idString = ids + "";
                            var splitids = idString.split(",");
                            var idArray = [];
                            for (var i = 0; i < splitids.length; i++) {
                                idArray[i] = parseInt(splitids[i]);
                            }

                            var idsDept = $("#depts").val();

                            var idStringDept = idsDept + "";
                            var splitidsDept = idStringDept.split(",");
                            var idArrayDept = [];
                            for (var i = 0; i < splitidsDept.length; i++) {
                                idArrayDept[i] = parseInt(splitidsDept[i]);
                            }


                            var idsType = $("#stypes").val();;

                            var idStringType = idsType + "";
                            var splitidsType = idStringType.split(",");
                            var idArrayType = [];
                            for (var i = 0; i < splitidsType.length; i++) {
                                idArrayType[i] = parseInt(splitidsType[i]);
                            }
                            var type = "";
                            if ($('#type').val() == undefined) {
                                type = "All";
                            }
                            else {
                                type = $('#type').val();
                            }
                            window.location.href = '/Support/Support/SupportDetailsReport?Type=' + type + '&OrgId=' + idArray + '&DeptId=' + idArrayDept + '&SupportTypeId=' + idArrayType + '&Status=' + config.dataPointIndex + '';



                            //console.log(event);
                            //console.log(chartContext);
                            //console.log(config.dataPointIndex);
                        }
                    }
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        legend: {
                            position: 'bottom',
                            offsetX: -10,
                            offsetY: 0
                        }
                    }
                }],
                plotOptions: {
                    bar: {
                        horizontal: false,
                    },
                },
                xaxis: {
                    type: 'datetime',
                    categories: ['01/01/2011 GMT', '01/02/2011 GMT', '01/03/2011 GMT', '01/04/2011 GMT',
                        '01/05/2011 GMT', '01/06/2011 GMT'
                    ],
                },
                legend: {
                    position: 'right',
                    offsetY: 40
                },
                fill: {
                    opacity: 1
                }
            };

            var chart = new ApexCharts(document.querySelector("#stackedColumnChart"), options);
            chart.render();

        }



        $("#type").change(function () {


            if ($("#type").val() != '' && $("#type").val() == 'OrganizationType') {
                $('#orgDiv').show();
                //checkType();
                $.get('/Support/Support/GetAllOrganization', {}, function (data) {
                    console.log(data);
                    $('#orgs').empty();
                    $('#depts').empty();
                    $('#stypes').empty();
                    if (data.length > 0) {
                        //  alert("yes");
                        //$("#orgs").append('<option value="0">All Organizations</option>');
                        $.each(data, function (i, item) {
                            $("#orgs").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#orgs').empty();
                    }
                })
            } else {
                $('#orgDiv').hide();
                $('#orgs').empty();
                $('#depts').empty();
                $('#stypes').empty();
                var model = {

                    type: $("#type").val(),
                    GrpIds: [1]
                }
                $.post('/Support/Support/GetAllDepartmentById', model, function (data) {

                    $('#depts').empty();
                    if (data != null && data.length > 0) {
                        $('#depts').show();

                        $.each(data, function (i, item) {
                            $("#depts").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#depts').empty();
                    }
                })
            }


        });

        $("#orgs").change(function () {


            $('#depts').empty();
            $('#stypes').empty();

            var ids = $("#orgs").select2('val');
            //   alert(ids);
            var idString = ids + "";
            var splitids = idString.split(",");
            var idArray = [];
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);
            }

            var model = {

                type: $("#type").val(),
                OrgIds: idArray
            }
            $.post('/Support/Support/GetAllDepartmentById', model, function (data) {
                //   console.log(data);
                $('#depts').empty();
                if (data != null && data.length > 0) {
                    $('#depts').show();

                    $.each(data, function (i, item) {
                        $("#depts").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#depts').empty();
                }
            })



        });

        $("#depts").change(function () {

            $('#stypes').empty();


            var ids = $("#depts").select2('val');
            //   alert(ids);
            var idString = ids + "";
            var splitids = idString.split(",");
            var idArray = [];
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);
            }

            var model = {

                type: $("#type").val(),
                DeptIds: idArray
            }
            $.post('/Support/Support/GetAllSupportTypeByDepartmentId', model, function (data) {
                //   console.log(data);
                $('#stypes').empty();
                if (data != null && data.length > 0) {
                    $('#stypes').show();

                    $.each(data, function (i, item) {
                        $("#stypes").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#stypes').empty();
                }
            })



        });






    });

</script>


