﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Support.Models.SupportTabularReportCls
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Report List</h1>

</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">


        <form asp-action="SupportTabularReport1" asp-controller="Support" asp-area="Support" method="get">

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="DepartmentID" class="control-label">Departments</label>
                                <select asp-for="DepartmentID" class="form-control">
                                    <option value="">Select Department</option>
                                    @if (Model.departments != null)
                                    {
                                        foreach (var a in Model.departments)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DepartmentID" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">From Date</label>

                                <input type="date" id="f_Date" name="f_Date" value="@ViewBag.vfdt" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">To Date</label>

                                <input type="date" id="t_Date" name="t_Date" value="@ViewBag.vtdt" class="form-control" />
                            </div>
                        </div>

                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group">
                            <span class="text-danger">@ViewBag.messg</span>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="clearfix" style="margin-bottom:23px;"></div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                <a class="btn btn-primary" asp-action="SupportTabularReport1"><i class="fa fa-undo"></i></a>

                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>

        </form>

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>

                        <thead>
                            <tr>
                                <td rowspan="2">Department</td>
                                <th colspan="2" scope="colgroup">Raised</th>
                                <th colspan="2" scope="colgroup">Resolved</th>
                                <th colspan="2" scope="colgroup">Pending</th>
                                <th colspan="2" scope="colgroup">Verified Pending</th>
                                <th colspan="2" scope="colgroup">In-Progress</th>
                                <th colspan="2" scope="colgroup">On-Hold</th>
                                <th colspan="2" scope="colgroup">Rejected</th>

                            </tr>
                            <tr>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                                <th scope="col">Percent</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.supportTabularReportClsLists != null)
                            {
                                foreach (var item in Model.supportTabularReportClsLists)
                                {
                                    <tr>
                                        <th scope="row">@item.DepartmentName</th>
                                        <td>@item.RaiseP%</td>
                                        <td>@item.Raise</td>
                                        <td>@item.ResolveP%</td>
                                        <td>@item.Resolve</td>
                                        <td>@item.PendingP%</td>
                                        <td>@item.Pending</td>
                                        <td>@item.VerifyP%</td>
                                        <td>@item.Verify</td>
                                        <td>@item.InprogressP%</td>
                                        <td>@item.Inprogress</td>
                                        <td>@item.OnholdP%</td>
                                        <td>@item.Onhold</td>
                                        <td>@item.RejectP%</td>
                                        <td>@item.Reject</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        //$("#DepartmentID").change(function () {
        //    if ($("#DepartmentID").val() != '') {
        //        $.get('/Support/GetDepartmentID', {  }, function (data) {
        //            $('#DepartmentID').empty();
        //            if (data.length > 0) {
        //                $("#CategoryID").append('<option value="">  Select Category </option>');
        //                $.each(data, function (i, item) {
        //                    $("#CategoryID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //                });
        //            }
        //            else {
        //                $("#CategoryID").append('<option value="">  No Category </option>');
        //            }
        //        })
        //    }
        //    else {
        //        $('#CategoryID').empty();
        //        $("#CategoryID").append('<option value="">  Select Category </option>');
        //    }
        //});

    });
</script>