﻿@{
    ViewData["Title"] = "SupportReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="SupportMaster" asp-controller="Layout">Support</a></li>
        <li class="breadcrumb-item active" aria-current="page">DepartmentwiseReport</li>
    </ol>
</nav>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Departmentwise Report</h1>
</div>
<div class="form-group">

    <form asp-action="SupportReport">
        <div class="row">

            <div class="col-md-2">
                @*<select class="form-control" id="supporttype_ddl" name="supporttype_ddl" value="@ViewBag.supportType"></select>*@
                <select class="form-control" id="supporttype_ddl" name="supporttype_ddl" style="width:100%;">
                    <option value="0">Select Support Type</option>
                    @if (ViewBag.supportType != null)
                    {
                        foreach (var a in ViewBag.supportType)
                        {
                            <option value="@a.ID">@a.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="col-md-3">
                <input type="date" class="form-control" id="f_Date" name="f_Date" value="@ViewBag.vfdt" />
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" id="t_Date" name="t_Date" value="@ViewBag.vtdt" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-secondary" />
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <span class="text-danger">@ViewBag.messg</span>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </form>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-dark p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.raised)</h2></div>
                <div class="text-md-left text-white"><h3>Total Request</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-success p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.pending)</h2></div>
                <div class="text-md-left text-white"><h3>Pending</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-info p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.onhold)</h2></div>
                <div class="text-md-left text-white"><h3>On-Hold</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-danger p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.rejected)</h2></div>
                <div class="text-md-left text-white"><h3>Reject</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-danger p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.inprogress)</h2></div>
                <div class="text-md-left text-white"><h3>In-Progress</h3></div>
            </div>
        </div>

        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-warning p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.complete)</h2></div>
                <div class="text-md-left text-white"><h3>Completed</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-warning p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.verified)</h2></div>
                <div class="text-md-left text-white"><h3>Verified</h3></div>
            </div>
        </div>
        <div class="col-md-3 form-group">
            <div class="card shadow-lg bg-gradient-info p-3">
                <div class="text-md-right text-white"><h2 class="font-weight-bolder">@(ViewBag.approved)</h2></div>
                <div class="text-md-left text-white"><h3>Approved</h3></div>
            </div>
        </div>
    </div>
</div>


