﻿@{
    ViewData["Title"] = "ParentPaymentSummaryShow";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="">
            <div style="border-style:initial;border-color:#035ef6;border-radius:10px;" class="row">
                <div class="col-md-8"></div>
                <div style="padding:10px;" class="col-md-4 card card-5">Total Amount : &#x20B9;<span id="spn_sumamt"></span>  <button type="button" style="margin-left:25px;" onclick="Payment()" class="button-three btn_pay">Click to Pay</button> </div>
                @*  <div class="col-md-3 card card-5">Due Amount : &#x20B9;  0.00</div>*@

            </div>
        </div>
        <div style="border-radius:10px;margin-top: 12px;" class="row card1 card-5">
            <div class="col-md-2">
                <img style="border-radius: 67px; border-color: #035ef6; margin-top: 36px; margin-left: 29px;" src="~/images/user_profile.png" id="img_profile" width="50" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">Name : <span id="lbl_name"></span></div>
                    <div class="col-md-4">Student Code : <span id="lbl_stdcode"></span></div>
                    <div class="col-md-4">Academic Year : <span id="lbl_academicyear"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Organization :<span id="lbl_organization"></span></div>
                    <div class="col-md-4">Wing :<span id="lbl_wing"></span></div>
                    <div class="col-md-4">Board :<span id="lbl_board"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Class :<span id="lbl_class"></span></div>
                    <div class="col-md-4">Section :<span id="lbl_section"></span></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div id="div_feesdata">
                    <div style='border-radius:10px;margin-top:05px;font-size: 14px;' class='row card3 card-5 col-md-12'>
                        <div id="dv_feestype" style='margin-top:10px;' class="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="divInstallmentdata">
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" id="hdn_collectionid" />

    @*<div class="col-md-6 card-5">
            <div id="div_feesdata">
                <div style='border-radius:10px;margin-top:05px;font-size: 14px;' class='row card3 card-5 col-md-12'>
                    <div id="" class="row">
                        <div class="col-md-6">Parent Data</div>
                        <div class="col-md-6"></div>
                    </div>
                    <div id="dv_feestype" style='margin-top:10px;' class="row">
                        <div id="" class="row">
                            <div class="col-md-6">child 1</div>
                            <div class="col-md-6">2000</div>
                        </div>
                        <div id="" class="row">
                            <div class="col-md-6">child 2</div>
                            <div class="col-md-6">2500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:700px;height:auto;">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Checkout</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">Installment : <br /><span id="spn_paymentname"></span></div>
                        <div class="col-md-2">Amount : <br /> &#x20B9; <span id="spn_amount"></span></div>
                        <div class="col-md-2">From Date: <br /><span id="spn_fromdate"></span></div>
                        <div class="col-md-2">To Date : <br /><span id="spn_todate"></span></div>
                        <div class="col-md-3">Deadline Date : <br /><span id="spn_deadline"></span></div>
                    </div>

                    <hr />

                    <div class="row">
                        <input type="hidden" />
                        <div class="form-group col-md-4" id="divcardtype">
                            <label class="control-label">Payment Type *</label>
                            <select class="form-control" id="ddl_paymentype" style="width:100%" ;>
                                <option value="0">Select PaymentType </option>
                            </select>
                            <span class="text-danger ddl_session_validation"></span>
                        </div>

                        <div class="form-group col-md-4" id="divCardDetails">
                            <label class="control-label">Name On Card *</label>
                            <input type="text" id="txt_nameoncard" class="form-control" />
                            <span class="text-danger nameoncard_validation"></span>
                        </div>
                        <div class="form-group col-md-4" id="divcardnumber">
                            <label class="control-label">Card Number *</label>
                            <input type="text" id="txt_CardNumber" class="form-control" />
                            <span class="text-danger CardNumber_validation"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class='form-group date col-md-4' id='div_validation'>
                            <label class="control-label ">Valid On *</label>
                            <input type='date' class="form-control txt_validon" id="txt_validon" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <span class="text-danger txt_validon_validation"></span>
                        </div>
                        <div class='form-group date col-md-4' id='div_cvvcode'>
                            <label class="control-label ">CVV Code *</label>
                            <input type='password' class="form-control txt_cvvcode" id="txt_cvvcode" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class='form-group date col-md-4' id='div_cvvcode'>
                            <label class="control-label ">Amount *</label>
                            <input type='number' class="form-control txt_amount" id="txt_amount" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @*<div class="form-group" id="chkmandatory">
                            <label class="control-label"></label>
                            <input type="checkbox" id="chk_mandatory" class="chk_mandatory" />
                            <span class="text-danger"></span>
                        </div>*@
                    <div class="row">

                        <div class="form-group modal-footer col-md-12">
                            <button type="button" id="btn_saveupdate" style="width: 100%;" onclick="PayInstallment()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Proceed &nbsp;&nbsp;</button>
                        </div>
                        @*</form>*@
                    </div>
                </div>
                <input type="hidden" id="hdn_collectionid" />
                <input type="hidden" id="hdn_collectionid1" />
                <input type="hidden" id="hdn_collectionid2" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->



}

<script src="~/js/jquery-3.5.1.min.js"></script>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://unpkg.com/simplebar@latest/dist/simplebar.css' rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />



<style>
    .card {
        background: #fff;
        border-radius: 5px;
        display: inline-block;
        height: 50px;
        margin: 0px;
        position: relative;
        width: 100px;
        padding: 9px;
    }

    .card1 {
        background: #fff;
        border-radius: 5px;
        height: 120px;
        position: relative;
        line-height: 35px;
    }

    .card2 {
        /*  background: #fff;
            border-radius: 5px;
            display: inline-block;
            height: auto;
            margin: 0px;
            position: relative;
            width: 600px;
            padding: 9px;*/
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 160px;
        margin: 13px;
        position: relative;
        width: 520px;
        line-height: 24px;
    }

    .card3 {
        /*  background: #fff;
            border-radius: 5px;
            display: inline-block;
            height: auto;
            margin: 0px;
            position: relative;
            width: 600px;
            padding: 9px;*/
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: auto;
        min-height: 150px;
        margin: -13px;
        position: relative;
        width: 520px;
        line-height: 24px;
    }

    .card-5 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .button-three {
        position: relative;
        background-color: #ff6a00;
        color: #fff;
        border: none;
        padding: 5px;
        width: 100px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        border-radius: 05px;
    }

        .button-three:hover {
            background: #fff;
            box-shadow: 0px 2px 10px 5px #97B1BF;
            color: #000;
        }

        .button-three:after {
            content: "";
            background: #f1c40f;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }

        .button-three:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }

    .checkbox {
        width: 30px; /*Desired width*/
        height: 30px; /*Desired height*/
        cursor: pointer;
        -webkit-appearance: none;
    }

    .blink {
        animation: blinker 1s linear infinite;
    }
</style>
<script>

    $(document).ready(function () {
        // debugger;

        var studentid = $('#ddlstudentid').val();
        $.ajax({
            type: 'GET',
            url: '/PaymentSummary/ParentPaymentSummaryView',
            data: { 'studentid': studentid },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                // debugger;
                $.each(data, function (index, items) {
                    //debugger;
                    $('#lbl_name').text($('#ddlstudentid').text());
                    $('#spn_sumamt').text(parseFloat(items.sumAmount).toFixed(2));
                    $('#lbl_academicyear').text(items.sessionname);
                    $('#lbl_organization').text(items.organisationName);
                    $('#lbl_wing').text(items.wingname);
                    $('#lbl_board').text(items.boardname);
                    $('#lbl_class').text(items.standardname);
                    $('#lbl_section').text(items.sectionname);
                    $('#lbl_stdcode').text(items.rollNo);
                    var imageurl = items.image.split('~')[1];
                    $('#img_profile').attr('src', imageurl);
                });

            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });

        var Installmentdata = ''; var Installmentdata1 = '';
        $('#divInstallmentdata').empty();





        var feesdata = '';
        $.ajax({
            type: 'GET',
            url: '/PaymentSummary/ParentPaymentSummaryFeesTypedata',
            data: { 'studentid': studentid },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
               // debugger;
                $.each(data, function (index, items) {

                    if (items.parentFeesType == null) {
                        items.parentFeesType = "N A";
                    }

                    var mandatory = items.mandatory;
                    var star = ''; var addyn = '';
                    if (mandatory == true) {
                        star = '*';
                        addyn = '';
                    }
                    else {
                        star = '';
                        addyn = "<button type='button' style='border:none;background-color: #fff;' aria-hidden='true'><i class='fa fa-plus-circle' aria-hidden='true'></i></button>";
                    }

                    feesdata += "<div class='card' style='border: 1px solid #36b9cc;width:100%;margin:05px;height:50px;padding:13px;' >" +
                        "<label> <input class='chkFee' paymentCId=" + items.paymentCId + " type='checkbox'> " + items.feesTypeName + "  &#x20B9;  " + parseFloat(items.price).toFixed(2) + "  </label>" +
                        "</div > ";
                    //feesdata += "<div class='card' ><ul  data-role='treeview'>" +   " + items.parentFeesType + "  -->
                    //    "<li>" +
                    //    "<label>" + items.parentFeesType + "</label>" +
                    //    "<ul>" +
                    //    "<li>" + items.feesTypeName + " " + "<span style='color:red;font-weight: bold;'>" + star + "</span>" + "  -->    &#x20B9;  " + parseFloat(items.price).toFixed(2) + " " + addyn + "</li>" +
                    //    "</ul>" +
                    //    "</li>" +
                    //    "</ul></div>";
                })
                $('#dv_feestype').append(feesdata);
            },
            error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
            }
        });


        $.get('/PaymentSummary/GetPaymentType', function (data) {
            $("#ddl_paymentype").empty();
            if (data.length > 0) {

                $("#ddl_paymentype").append('<option value="0">Select PaymentType </option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_paymentype").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });


        $(document).on('change', '.chkFee', function () {
            debugger;
            $('#divInstallmentdata').empty();
            if (this.checked == true) {
                paymentCId = $(this).attr('paymentCId');

                $.ajax({
                    type: 'GET',
                    url: '/PaymentSummary/ParentPaymentSummaryViewData',
                    data: { 'studentid': studentid, 'paymentCId': paymentCId },
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                       // debugger;
                        $.each(data, function (index, items) {
                           // debugger;

                            if (items.paystatus == null) {
                                items.paystatus = "Due";
                            }

                            $('#divInstallmentdata').empty();
                            $('#hdn_collectionid').val(items.paymentCollectionId);


                            var deadlinedate = items.deadlinedate;
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();
                            today = dd + '-' + mm + '-' + yyyy;

                            today = today.split('-');
                            deadlinedate = deadlinedate.split('-');

                            var new_today = new Date(today[2], today[0], today[1]);
                            var new_deadlinedate = new Date(deadlinedate[2], deadlinedate[0], deadlinedate[1]);
                            if (new_today > new_deadlinedate) {

                                Installmentdata +=
                                    "<div style='border-radius:10px;margin-top:05px;font-size: 14px;background-color:#ffffff4a;' class='row card2 card-5 col-md-11'>" +

                                    "<div class='col-sm-12'>" +
                                    "<div class='row' style='margin-top:10px;'>" +
                                    "<div class='col-md-1'><input class='chk_installment' data=" + parseFloat(items.amount).toFixed(2) + " type='checkbox'></div> " +
                                    "<div class='col-md-6'>Installment: <span id='lbl_installment'>" + items.paymentname + "</span></div>" +
                                    "<div class='col-md-5'>From Date: <span id='lbl_fromdate'>" + items.fromdate + "</span></div>" +
                                    "</div>" +

                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div class='col-md-6'>Amount :&#x20B9; <span id='lbl_amount'>" + parseFloat(items.amount).toFixed(2) + "</span></div>" +
                                    "<div class='col-md-5'>To Date : <span id='lbl_todate'> </span>" + items.todate + "</div>" +
                                    "</div>" +

                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div style='color:red;' class='col-md-6'>Deadline : <span id='lbl_deadlinedate'>" + items.deadlinedate + "</span></div>" +
                                    "<div class='col-md-5'>Paid On : <span id='lbl_paidon'></span></div>" +
                                    "</div>" +
                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div class='col-md-6'>Paid By : <span id='lbl_paidby'></span></div>";

                                if (items.paystatus == 'Due') {
                                    Installmentdata += "<div class='col-md-5 btns'><button type='button' style='display:none;' data-toggle='modal' data-target='#myModal2' paymentname='" + items.paymentname + "' fromdate='" + items.fromdate + "' todate='" + items.todate + "' amount='" + items.amount + "' deadlinedate='" + items.deadlinedate + "'  collectionid='" + items.paymentCollectionId + "' class='button-three btnmodalpay'>Click To Pay</button></div>" +
                                        "</div>" +
                                        "<div class='row'>" +
                                        "<div class='col-md-1'></div> " +
                                        "<div class='col-md-6'>";
                                }
                                else {
                                    Installmentdata += "<div class='col-md-5 btns' paymentname='" + items.paymentname + "' fromdate='" + items.fromdate + "' todate='" + items.todate + "' amount='" + items.amount + "' deadlinedate='" + items.deadlinedate + "'  collectionid='" + items.paymentCollectionId + "' ><span id='lbl_status' title='Paid' ><i class='far fa-thumbs-up' style='font-size:24px;color:green;margin-top: 5px;'></i></span></div>" +
                                        "</div>" +
                                        "<div class='row'>" +
                                        "<div class='col-md-1'></div> " +
                                        "<div class='col-md-6'>";
                                }

                                if (items.paystatus == 'Due') {
                                    Installmentdata += "Payment Status : <span id='lbl_status' style='color:red'>" + items.paystatus + "</span> <span title='Overdue' class='blink' style='color:red;'><i class='fa fa-bell' aria-hidden='true'></i></span>";
                                    $(this).attr('disabled', '');
                                }
                                else {
                                    Installmentdata += "Payment Status : <span id='lbl_status' style='color:green'>" + items.paystatus + "</span>";
                                    $(this).attr('disabled', true);
                                }
                                Installmentdata +=
                                    "</div>" +
                                    "<div class='col-md-6'></div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>";
                            }
                            else {
                                Installmentdata +=
                                    "<div style='border-radius:10px;margin-top:05px;font-size: 14px;' class='row card2 card-5 col-md-11'>" +

                                    "<div class='col-sm-12'>" +
                                    "<div class='row' style='margin-top:10px;'>" +
                                    "<div class='col-md-1'><input class='chk_installment' data=" + parseFloat(items.amount).toFixed(2) + " type='checkbox'></div> " +
                                    "<div class='col-md-6'>Installment: <span id='lbl_installment'>" + items.paymentname + "</span></div>" +
                                    "<div class='col-md-5'>From Date: <span id='lbl_fromdate'>" + items.fromdate + "</span></div>" +
                                    "</div>" +

                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div class='col-md-6'>Amount :&#x20B9; <span id='lbl_amount'>" + parseFloat(items.amount).toFixed(2) + "</span></div>" +
                                    "<div class='col-md-5'>To Date : <span id='lbl_todate'> </span>" + items.todate + "</div>" +
                                    "</div>" +

                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div class='col-md-6'>Deadline : <span id='lbl_deadlinedate'>" + items.deadlinedate + "</span></div>" +
                                    "<div class='col-md-5'>Paid On : <span id='lbl_paidon'></span></div>" +
                                    "</div>" +
                                    "<div class='row'>" +
                                    "<div class='col-md-1'></div> " +
                                    "<div class='col-md-6'>Paid By : <span id='lbl_paidby'></span></div>";

                                if (items.paystatus == 'Due') {
                                    Installmentdata += "<div class='col-md-5 btns'><button style='display:none;' type='button' data-toggle='modal' data-target='#myModal2' paymentname='" + items.paymentname + "' fromdate='" + items.fromdate + "' todate='" + items.todate + "' amount='" + items.amount + "' deadlinedate='" + items.deadlinedate + "'  collectionid='" + items.paymentCollectionId + "' class='button-three btnmodalpay'>Click To Pay</button></div>" +
                                        "</div>" +
                                        "<div class='row'>" +
                                        "<div class='col-md-1'></div> " +
                                        "<div class='col-md-6'>";
                                }
                                else {
                                    Installmentdata += "<div class='col-md-5 btns' paymentname='" + items.paymentname + "' fromdate='" + items.fromdate + "' todate='" + items.todate + "' amount='" + items.amount + "' deadlinedate='" + items.deadlinedate + "'  collectionid='" + items.paymentCollectionId + "' ><span id='lbl_status' title='Paid' ><i class='far fa-thumbs-up' style='font-size:24px;color:green;margin-top: 5px;'></i></span></div>" +
                                        "</div>" +
                                        "<div class='row'>" +
                                        "<div class='col-md-6'>";
                                }

                                if (items.paystatus == 'Due') {
                                    Installmentdata += "Payment Status : <span id='lbl_status' style='color:red'>" + items.paystatus + "</span>";
                                    $(this).attr('disabled', '');
                                }
                                else {
                                    Installmentdata += "Payment Status : <span id='lbl_status' style='color:green'>" + items.paystatus + "</span>";
                                    $(this).attr('disabled', true);
                                }
                                Installmentdata +=
                                    "</div>" +
                                    "<div class='col-md-6'></div>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>";
                            }
                        });

                        $('#divInstallmentdata').append(Installmentdata);
                    },
                    error: function (e) {
                        console.log("There was an error with your request...");
                        console.log("error: " + JSON.stringify(e));
                    }
                });



            }
            else {
                //$('#divInstallmentdata').empty();
                Installmentdata = '';
                $('#spn_sumamt').text('0.00');
            }
        });
      
       

        $(function () {
            function getTotal(isInit) {
                var total = 0;
                var selector = isInit ? ".chk_installment" : ".chk_installment:checked";
                $(selector).each(function () {
                    total += parseFloat($(this).attr('data'));
                });
                //$("#tot_amount").val(sum.toFixed(3));

                if (total == 0) {
                    $('#spn_sumamt').text('0.00');
                } else {
                    $('#spn_sumamt').text(parseFloat(total).toFixed(2));
                }
            }

            $(document).on('change', '.chk_installment', function (event) {
                //debugger;
                getTotal();
            });
            getTotal(true);

        });












    });

    $('body').on("click", ".btnmodalpay", function () {
        var collectionid = $(this).attr('collectionid');
        var paymentname = $(this).attr('paymentname');
        var fromdate = $(this).attr('fromdate');
        var todate = $(this).attr('todate');
        var amount = $(this).attr('amount');
        var deadlinedate = $(this).attr('deadlinedate');

        $('#spn_paymentname').text(paymentname);
        $('#spn_amount').text(parseFloat(amount).toFixed(2));
        $('#spn_fromdate').text(fromdate);
        $('#spn_todate').text(todate);
        $('#spn_deadline').text(deadlinedate);
        $('#hdn_collectionid').val(collectionid);


        // alert(collectionid);
    });


    function PayInstallment() {
       // debugger;
        var studentpayment = {
            Active: 'true',
            PaymentCollectionId: $('#hdn_collectionid').val(),
            AmountPaid: $('#spn_amount').text(),
            ID: '0',
            StudentId: $('#ddlstudentid').val(),
            PaymentTypeId: $('#ddl_paymentype option:selected').val(),
            Status: 'Active',
            PaymentStatus: 'Paid',
            TransactionId: '1234567890',

        };
        $.ajax({
            url: "../PaymentSummary/PayStudentInstallment",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: { 'studentpayment': studentpayment },
            dataType: 'json',
            success: function (response) {
               // debugger;
                swal({ title: "", text: response, type: "success" },
                    function () {
                        location.reload();
                    }
                );
                $('#myModal2').hide();
            },
            failure: function (xhr, ajaxOptions, thrownError) {

                swal({ title: "", text: response, type: "error" },
                    function () {
                        location.reload();
                    }
                );
            }
        });
    }

    function blink() {
        $(".blink").fadeTo(100, 0.1).fadeTo(200, 1.0);
    }
    setInterval(function () { blink() }, 500);
</script>

<script>
    function Payment() {
        var amt = parseFloat($('#spn_sumamt').text()).toFixed(2);
        if (amt > 0) {
            //alert('Pay');
            window.location.href = "https://uat.billdesk.com/pgidsk/PGIMerchantPayment";
        }
        else {
            alert('Select an Intsallment to Pay !!!')
        }
       
    }
</script>
