﻿@{
    ViewData["Title"] = "PaymentSummary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">PaymentSummary</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                @*<div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">PaymentSummary</h1>*@

                @*<div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    </div>*@

                @*</div>*@
                <div class="justify-content-between card-header bg-white">
                    <div class="row" style="">
                        <div class="col-md-2 form-group">
                            <label class="control-label font-weight-bold">Session *</label>
                            <select class="form-control" id="ddl_session">
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label">Organization</label>
                            <select class="form-control" id="ddl_Organization">
                                @*<option value="0">Select Organization</option>*@
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">Wing</label><br />
                            <select class="form-control" id="ddl_wing">
                                @*<option value="0">Select Wing</option>*@
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">Board</label><br />
                            <select class="form-control" id="ddl_board">
                                <option value="0">Select Board</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label class="control-label">Class</label><br />
                            <select class="form-control" id="ddl_class" style="width:100%" ;>
                                <option value="0">Select Class</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="justify-content-between card-header bg-white">
                    <div class="row" style="">
                        <div class="col-md-2" style="background-color:#bb8a1d;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Total Due (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                        <div class="col-md-2" style="background-color:#ec5f5f;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Total Collected (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                        <div class="col-md-2" style="background-color:#6f5050;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Pending (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                        <div class="col-md-2" style="background-color:#767d20;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Defaulted (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                        <div class="col-md-2" style="background-color:#55aedb;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Scholarship (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                        <div class="col-md-2" style="background-color:#bc50ea;border:1px solid #000000;height:60px;">
                            <span style="color:white;"> Fine & Others (INR)</span><br />
                            <span style="color:white;text-align:center;">20,300.00</span>
                        </div>
                    </div>
                </div>
                <div class="justify-content-between card-header bg-white" style="margin-left:20%;">
                    <a class="btn btn-primary add_lnk" data-toggle="modal" data-target="#myModal3" style="color: white;" onclick="addApproveScholarship()">Apply Scholarship</a>
                </div>


                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                <label class="container" style="width: 0px;margin-left: 46%;">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span><span>Select All</span>
                                                </label>
                                            </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Photo</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Total Amount</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Payment Type</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Scolarship</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Payment summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                    <input type="hidden" id="hdn_id" />
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/FeesTypePrice/downloadFeesTypePriceSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles()" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document" style="width:1000px;max-width:none;font-size:medium;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Payment Summary View</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                    <div class="">
                        <div style="border-style:initial;border-color:#035ef6;border-radius:10px;" class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-3">Total Amount : &#x20B9;  <span id="spn_sumamt"></span></div>
                            <div class="col-md-3">Due Amount : &#x20B9;  12000.00</div>
                        </div>
                    </div>


                    <div style="border-style:solid;border-color:#035ef6;border-radius:10px;" class="row">
                        <div class="col-md-2">
                            <img style="border-radius:67px;border-color:#035ef6" id="img_profile" width="50" />
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">Name : <span id="lbl_name"></span></div>
                                <div class="col-md-4">Student Code : <span id="lbl_stdcode"></span></div>
                                <div class="col-md-4">Academic Year : <span id="lbl_academicyear"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Organization :<span id="lbl_organization"></span></div>
                                <div class="col-md-4">Wing :<span id="lbl_wing"></span></div>
                                <div class="col-md-4">Board :<span id="lbl_board"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Class :<span id="lbl_class"></span></div>
                                <div class="col-md-4">Section :<span id="lbl_section"></span></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                    <div id="divdata">

                    </div>


                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!--Modal-->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document" style="width: 68%; max-width: none;">
            <div class="modal-content" style=" margin-top: -26px;">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel3">Apply Scholarship</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body" style="font-size:15px;">
                    <div class="row">
                        <div style="border-style:solid;border-color:#827c7c;border-radius:3px;" class="col-md-7">

                            <div class="col-md-12" style="margin-bottom: 8px;">Academic Year : <span id="lbl_academicyear1"></span></div>
                            <div class="col-md-12" style="margin-bottom: 8px;">Organization :<span id="lbl_organization1"></span></div>
                            <div class="col-md-12" style="margin-bottom: 8px;">Wing :<span id="lbl_wing1"></span></div>
                            <div class="col-md-12" style="margin-bottom: 8px;">Board :<span id="lbl_board1"></span></div>
                            <div class="col-md-12" style="margin-bottom: 8px;">Class :<span id="lbl_class1"></span></div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-11 scrollbar1" id="BindMenuData2" style="border-style:solid;border-color:#827c7c;border-radius:3px;">
                            <div class="force-overflow1" id="BindStudentData">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuD" style="font-size:13px; border:3px solid #827c7c;">
                            <div class="force-overflow" id="BindDiscountData" style="">
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuData1" style="font-size: 12px;border: 3px solid #827c7c;  ">
                            <div class="force-overflow" id="BindFeeTypeData" style="">
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-11 scrollbar" id="BindMenuData2" style="font-size: 12px;border: 3px solid #827c7c; ">
                            <div class="force-overflow" id="BindOrgData" style="">
                                <div class="row hiderowdata">
                                    <div class="col-md-12" style="text-align: center; font-size: 20px;">
                                        Total Amount :
                                    </div>
                                    <div class="col-md-12" id="totalAmt" style="text-align: center; font-size: 17px;color: red;font-weight: 600;" id="totalAmt">

                                    </div>
                                </div>
                                <div class="row hiderowdata">
                                    <div class="col-md-12" style="text-align: center; font-size: 20px;">
                                        Discount Amount
                                    </div>
                                    <div class="col-md-12" id="discountAmt" style="text-align: center; font-size: 17px;color: red;font-weight: 600;">

                                    </div>
                                </div>
                                <div class="row hiderowdata">
                                    <div class="col-md-12" style="text-align: center; font-size: 20px;">
                                        Amount to be Paid
                                    </div>
                                    <div class="col-md-12" id="amountTobePaid" style="text-align: center; font-size: 17px;color: red;font-weight: 600;">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div>

                    </div>
                    <input type="hidden" id="hdnStudentid" value="" />
                    <input type="hidden" id="hdnEditId" value="0" />
                    <input type="hidden" id="hdnEditSessionScholarship" value="0" />
                </div><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <div class="modal fade" id="myModal_photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:700px;max-width:none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5><span id="stdname"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <img id="imgepopup" style="height:auto;width:auto;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/sweetalert.min.js"></script>
<link href="~/js/sweet-alert.css" rel="stylesheet" />
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>*@
<script src="~/js/jquery-3.5.1.min.js"></script>

<style>
    #BindMenuD::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuD::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuD::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }

    #BindMenuData1::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData1::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData1::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }

    #BindMenuData2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData2::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #BindMenuData2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #858796;
    }

    .scrollbar {
        /*  margin-left: 30px;*/
        float: left;
        max-height: 450px;
        width: 100%;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 25px;
    }

    .scrollbar1 {
        /* margin-left: 30px; */
        float: left;
        max-height: 200px;
        width: 100%;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 0px;
    }

    .force-overflow {
        min-height: 440px;
    }

    .force-overflow1 {
        min-height: 200px;
    }

    .feeTypeDiv {
        border: 2px solid;
        cursor: pointer;
        width: 100%;
        height: 60px;
        padding: 2%;
        margin: 3px 3px 0px 0px;
        background-color: #827c7c;
        color: white;
        font-weight: 600;
    }

    .studentphoto1 {
        width: 50px;
        border-radius: 10px;
    }

        .studentphoto1:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            width: auto;
        }

    .modal.fade:not(.in).right .modal-dialog {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
      /*  font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #aaa;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>


<script>
    var AllIds = [];
    $(document).on('change', '.chk_checkbox', function () {
        debugger;
        var id = this.value;
        var value = $(this).data("active");

        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        //$('.count_selectedrows').text(count + ' Selected');

        if (this.checked == true) {
            AllIds.push(value);

        }
        else {

            AllIds.splice($.inArray(value, AllIds), 1);
        }
        if (count == 1) {
            if (AllIds[0] == "Inactive") {
                $("#hdnStatus").val(id);
                $('.add_lnk').removeClass('disabled');
            }
            else {
                $("#hdnStatus").val(id);
                $('.add_lnk').addClass('disabled');
            }
        }
        else if (count > 1) {

            var FirstVal = AllIds[0];
            for (var j = 0; j < AllIds.length; j++) {

                if (AllIds[j] == FirstVal) {
                    if (FirstVal == "Inactive") {

                        $('.add_lnk').removeClass('disabled');
                    }
                    else {
                        $('.add_lnk').addClass('disabled');
                    }

                }
                else {
                    FirstVal = "";
                    $('.add_lnk').addClass('disabled');

                }
            }

        }
        else {
            $('.add_lnk').addClass('disabled');

        }
    });

    $('#ckbCheckAll').click(function () {
        debugger;
        AllIds = [];
        if ($(this).prop("checked")) {
            $(".chk_checkbox").prop("checked", true);
            $("input:checkbox[name=tableCheck]:checked").each(function () {
                var id = this.value;
                var count = $('#dataTable').find(".chk_checkbox:checked").length;

                var value = $(this).data("active");
                AllIds.push(value);

                var FirstVal = AllIds[0];
                for (var j = 0; j < AllIds.length; j++) {

                    if (AllIds[j] == FirstVal) {
                        if (FirstVal == "Inactive") {
                            $('.add_lnk').removeClass('disabled');
                        }
                        else {
                            $('.add_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.add_lnk').addClass('disabled');
                    }
                }

            });
        } else {
            $(".chk_checkbox").prop("checked", false);
            $('.add_lnk').addClass('disabled');
        }
    });


    var Ids = [];
    var Names = [];
    var Photos = [];

    function addApproveScholarship() {
        debugger;
        Ids = [];
        $("#BindStudentData").html("");
        $("#hdnEditId").val("0");
        var id = "";
        $("#divName").html("Student List :  ")
        $('input[name="tableCheck"]:checked').each(function () {
            id = $(this).val();

            var name = $(this).data("name");
            var photo = $(this).data("url");
            Ids.push(id);
            Photos.push(photo);
            // Names.push(name);
            $("#divName").append(name + ",  ");
            $("#BindStudentData").append('<div class="row" style="margin-bottom: 20px;"><div class="col-md-2"><img style = "width: 50px;border-radius: 10px;" class="studentphoto" src = "' + photo + '" ></div><div class="col-md-6" style="margin-top: 15px;">' + name + '</div></div>');
        });
        $("#hdnStudentid").val(Ids);
        var row = $("#dataTable tr:nth-child(2)").find("a")[1];
        // var count = $('#dataTable').find("#dataTable tr td a");
        $("#lbl_academicyear1").text(row.attributes[1].nodeValue);
        //var academicsessionid = row.attr('academicsessionid');
        $("#lbl_organization1").text(row.attributes[3].nodeValue);
        //var organizationid = $(this).attr('organizationid');
        $("#lbl_wing1").text(row.attributes[5].nodeValue);
        $("#lbl_board1").text(row.attributes[8].nodeValue);
        $("#lbl_class1").text(row.attributes[9].nodeValue);
        var classid = row.attributes[10].nodeValue;

        $("#BindDiscountData").html("");
        var sessionid = $('#ddl_session').val();
        CascardingList(classid, sessionid);
    }
    function CascardingList(classid, sessionid) {
        $(".hiderowdata").hide();
        $("#hdnEditSessionScholarship").val("0");
        $.get('/Scholarship/GetScholarshipDeailsByClass', { 'classId': classid, 'SessionId': sessionid, 'studentId': $("#hdnEditId").val() }, function (data) {
            // debugger;
            if (data.sessionData.length > 0) {
                for (var i = 0; i < data.sessionData.length; i++) {

                    //$("#BindDiscountData").append('<div style="border-top: 1px solid black;float:left;"></div><a style="text-decoration:none;height: 60px;padding: 15px;margin-left: 15px;" id=id_' + data[i].id + '  href=#menu_' + data[i].id + ' class="list-group-item collapsed ancherTag " data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"> <span style="white-space:break-spaces;float: left;width:60%;" id=span_' + data[i].id + ' class="hidden-sm-down">' + data[i].scholarshipName + '</span><div style="text-align: end;"><i style="padding-right: 10%; margin-left: 13px;" class="fa fa-angle-down"></i> <i style="padding-right: 3%; margin-left: 13px;" data-toggle="modal" data-target="#myModal2" class="fa fa-plus" onclick=AddSessionScholarshipDiscount(' + data[i].id + ') ></i> <i style="padding-left: 0%;" id="1" onclick=deletemenu(' + data[i].id + ') class="fa fa-trash"></i></div> </a>');
                    $("#BindDiscountData").append('<div data-id="' + data.sessionData[i].id + '" id=row_' + data.sessionData[i].id + ' onclick=ViewFeeTypeMenu(' + data.sessionData[i].id + ')  class= "row feeTypeDiv submenucss row_' + data.sessionData[i].id + '"  ><div class="col-md-7">' + data.sessionData[i].name + '</div></div >')

                }
                if (data.isRedirect != null) {
                    $("div[data-id='" + data.isRedirect.id + "']").css("background-color", "rgb(0, 200, 89)");
                    countFee = [];
                }
                else {
                    $("div[data-id='" + data.sessionData[0].id + "']").css("background-color", "rgb(0, 200, 89)");
                    data.isRedirect = data.sessionData[0].id;
                }
                $.get('/Scholarship/GetScholarshipDiscountDetailsWithDefault', { SessionScholarshipId: data.isRedirect.id, SessionId: $('#ddl_session').val(), 'studentId': $("#hdnEditId").val() }, function (data) {
                    debugger;

                    if (data.scholarshipDiscountData.length > 0) {
                        //  $("#bindMenuData1").show();
                        $("#BindFeeTypeData").html("");
                        for (var i = 0; i < data.scholarshipDiscountData.length; i++) {
                            var aTagId = "";
                            if (data.isRedirect != null) {
                                if (data.isRedirect.sessionScholarshipDiscountId == data.scholarshipDiscountData[i].sessionScholarshipDiscountId) {
                                    aTagId = '<div style="color:#ac0000;float:right;margin-right: 22px;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' >Applied</div>';
                                    //var cssVal = ".ApplyCss_" + data.scholarshipDiscountData[i].sessionScholarshipDiscountId;
                                    //$(cssVal).addClass("disabled");
                                    $("#hdnEditSessionScholarship").val(data.scholarshipDiscountData[i].sessionScholarshipDiscountId);
                                }
                                else {
                                    aTagId = '<a style="color:#ac0000;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' data-toggle="modal" data-target="#myModal3" onclick=ApplyScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ') >Apply</a>';

                                }
                            }
                            else {
                                aTagId = '<a style="color:#ac0000;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' data-toggle="modal" data-target="#myModal3" onclick=ApplyScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ') >Apply</a>';
                            }
                            countFee.push(data.scholarshipDiscountData[i].sessionScholarshipDiscountId);
                            $("#BindFeeTypeData").append('<div id=row1_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' onclick=getRowData()   class= "row feeTypeDiv row_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + '"  ><div class="col-md-6">' + data.scholarshipDiscountData[i].name + '</div><div class="col-md-6"><a style="color:#c8fc84;" onclick=PreviewScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ')>Preview</a> &nbsp;&nbsp;' + aTagId + '</div></div >')

                            var fddf = countFee;
                            if (data.isRedirect != null) {
                                var submenuVal = ".row1_" + data.scholarshipDiscountData[i].sessionScholarshipDiscountId;
                                $(submenuVal).css("background-color", "#827c7c");
                            }

                        }
                        if (data.isRedirect != null) {
                            var submenuId = "#row1_" + data.isRedirect.sessionScholarshipDiscountId;
                            $(submenuId).css("background-color", "rgb(0, 200, 89)");
                        }

                        // var feetypeid = data.scholarshipDiscountData[0].sessionScholarshipDiscountId;
                    }
                    else {

                        $("#BindFeeTypeData").html("");
                        $("#BindFeeTypeData").append('<div class= "row feeTypeDiv" >There is no fee type for this session scholarship discount</div>');
                        $("#BindOrgData").html("");
                        $("#BindOrgData").append('<div class= "row feeTypeDiv" >There is no classes added for this session scholarship discount price.</div>');

                    }
                });
            }
            else {
                $("#BindDiscountData").html("");
                $("#BindDiscountData").append('<div class= "row feeTypeDiv" >There is no session scholarship discount</div>');

                $("#BindFeeTypeData").html("");
                $("#BindFeeTypeData").append('<div class= "row feeTypeDiv" >There is no fee type for this session scholarship discount</div>');
            }

        });
    }


    function ViewFeeTypeMenu(id) {
        $(".hiderowdata").hide();
        $("#hdnEditSessionScholarship").val("0");
        $(".submenucss").css("background-color", "#a29e9e")
        $("div[data-id='" + id + "']").css("background-color", "#00c859");
        countFee = [];
        $.get('/Scholarship/GetScholarshipDiscountDetailsWithDefault', { SessionScholarshipId: id, SessionId: $('#ddl_session').val(), 'studentId': $("#hdnEditId").val() }, function (data) {
            debugger;

            if (data.scholarshipDiscountData.length > 0) {
                //  $("#bindMenuData1").show();
                $("#BindFeeTypeData").html("");
                for (var i = 0; i < data.scholarshipDiscountData.length; i++) {
                    var aTagId = "";
                    if (data.isRedirect != null) {

                        if (data.isRedirect.sessionScholarshipDiscountId == data.scholarshipDiscountData[i].sessionScholarshipDiscountId) {
                            aTagId = '<a style="color:#ac0000;float:right;margin-right: 22px;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' >Applied</a>';
                            // var cssVal = ".ApplyCss_" + data.scholarshipDiscountData[i].sessionScholarshipDiscountId;
                            // $(cssVal).addClass("disabled");
                            $("#hdnEditSessionScholarship").val(data.scholarshipDiscountData[i].sessionScholarshipDiscountId);
                        }
                        else {
                            aTagId = '<a style="color:#ac0000;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' data-toggle="modal" data-target="#myModal3" onclick=ApplyScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ') >Apply</a>';

                        }
                    }
                    else {
                        aTagId = '<a style="color:#ac0000;" id=ApplyId_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' class=ApplyCss_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ' data-toggle="modal" data-target="#myModal3" onclick=ApplyScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ') >Apply</a>';
                    }


                    countFee.push(data.scholarshipDiscountData[i].sessionScholarshipDiscountId);
                    $("#BindFeeTypeData").append('<div id=row1_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + '   class= "row feeTypeDiv row_' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + '"  ><div class="col-md-6">' + data.scholarshipDiscountData[i].name + '</div><div class="col-md-6"><a style="color:#c8fc84;" onclick=PreviewScholarship(' + data.scholarshipDiscountData[i].sessionScholarshipDiscountId + ')>Preview</a> &nbsp;&nbsp;' + aTagId + '</div></div >')

                    var fddf = countFee;
                    var submenuVal = ".row1_" + data.scholarshipDiscountData[i].sessionScholarshipDiscountId;
                    $(submenuVal).css("background-color", "#827c7c");
                }
                if (data.isRedirect != null) {
                    var submenuId = "#row1_" + data.isRedirect.sessionScholarshipDiscountId;
                    $(submenuId).css("background-color", "rgb(0, 200, 89)");
                }
            }
            else {

                $("#BindFeeTypeData").html("");
                $("#BindFeeTypeData").append('<div class= "row feeTypeDiv" >There is no fee type for this session scholarship discount</div>');
                $("#BindOrgData").html("");
                $("#BindOrgData").append('<div class= "row feeTypeDiv" >There is no classes added for this session scholarship discount price.</div>');

            }
        });
    }
    var countFee = [];
    //function ViewSubSubMenu(id) {
    //    debugger;
    //    var fddf = countFee;
    //    var menuVal = "#row1_" + id;
    //    for (var j = 0; j < countFee.length; j++) {
    //        var getdiv = countFee[j];
    //        if (getdiv == id) {
    //            $(menuVal).css("background-color", "rgb(0, 200, 89)");
    //        }
    //        else {
    //            var otherdiv = "#row1_" + countFee[j];
    //            $(otherdiv).css("background-color", "rgb(130, 124, 124)");
    //        }
    //    }
    //}


    function getRowData() {
       // $(".hiderowdata").show();
    }
    function PreviewScholarship(id) {
        debugger;
        $(".hiderowdata").show();
        var classid = $("#ddl_class").val();


        $.get('/Scholarship/GetPaymentCollectionTypeByClass', { 'classId': classid, 'SessionId': $('#ddl_session').val(), 'sessionScholarshipDiscountId': id }, function (data) {
            debugger;
            var discountAmount = data.discountAmount;
            var total = data.totalAmount;
            var toBePaidAmount = data.toBepaidAmount
            $("#totalAmt").text(total);
            $("#discountAmt").text(discountAmount);
            $("#amountTobePaid").text(toBePaidAmount);
        });
    }


    function ApplyScholarship(id) {
        debugger;
        var studentIds = $("#hdnStudentid").val();
        var dfdf = $("#hdnEditSessionScholarship").val();
        if (dfdf != "0" && studentIds != null) {
            $.ajax({
                url: "../Scholarship/UpdateScholarshipApply",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'scholarshipDiscountId': dfdf, 'StudentIds': Ids, 'SessionId': $('#ddl_session').val() },
                dataType: 'json',
                // async: false,


                success: function (response) {
                    debugger;
                    $.ajax({
                        url: "../Scholarship/SaveScholarshipApply",
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        data: { 'scholarshipDiscountId': id, 'StudentIds': Ids, 'SessionId': $('#ddl_session').val() },
                        dataType: 'json',
                        success: function (response) {
                            debugger;

                            $('#mclose').click();
                            if (response.returnMsg == response.name + " already Exists !!!") {
                                swal({
                                    text: response.returnMsg,
                                    icon: 'failure',
                                    title: 'Scholarship Apply'
                                });
                            }
                            else {
                                swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                                    function () {
                                        location.reload();
                                    }
                                );
                            }


                            Reset();
                            // Refresh();
                        },
                        failure: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status == 404) {
                                swal({
                                    text: "Page not Found",
                                    icon: 'failure',
                                    title: 'Scholarship'
                                });
                            }
                            else {
                                swal({
                                    text: "Some Error occure.",
                                    icon: 'failure',
                                    title: 'Scholarship'
                                });
                            }
                        }
                    });


                    Reset();
                    // Refresh();
                },
                failure: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        swal({
                            text: "Page not Found",
                            icon: 'failure',
                            title: 'Scholarship'
                        });
                    }
                    else {
                        swal({
                            text: "Some Error occure.",
                            icon: 'failure',
                            title: 'Scholarship'
                        });
                    }
                }
            });
        }
        if (studentIds != null && dfdf == "0") {
            $.ajax({
                url: "../Scholarship/SaveScholarshipApply",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'scholarshipDiscountId': id, 'StudentIds': Ids, 'SessionId': $('#ddl_session').val() },
                dataType: 'json',
                success: function (response) {
                    debugger;

                    $('#mclose').click();
                    if (response.returnMsg == response.name + " already Exists !!!") {
                        swal({
                            text: response.returnMsg,
                            icon: 'failure',
                            title: 'Scholarship Apply'
                        });
                    }
                    else {
                        swal({ title: "Scholarship", text: response.returnMsg, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    }


                    Reset();
                    // Refresh();
                },
                failure: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        swal({
                            text: "Page not Found",
                            icon: 'failure',
                            title: 'Scholarship'
                        });
                    }
                    else {
                        swal({
                            text: "Some Error occure.",
                            icon: 'failure',
                            title: 'Scholarship'
                        });
                    }
                }
            });
        }

    }


    //var Ids = [];
    //$(document).on('change', '.chk_checkbox', function () {
    //    debugger;
    //    var id = this.value;
    //    var value = $(this).data("active");

    //    var count = $('#dataTable').find(".chk_checkbox:checked").length;
    //    $('.count_selectedrows').text(count + ' Selected');

    //    if (this.checked == true) {
    //        Ids.push(value);

    //    }
    //    else {

    //        Ids.splice($.inArray(value, Ids), 1);

    //    }
    //    if (count == 1) {
    //        if (Ids[0] == "ACTIVE") {
    //            $("#hdnStatus").val(id);


    //            $('.Acitve_lnk').addClass('disabled');
    //            $('.Deacitve_lnk').removeClass('disabled');
    //        }
    //        else {
    //            $("#hdnStatus").val(id);
    //            $('.Deacitve_lnk').addClass('disabled');
    //            $('.Acitve_lnk').removeClass('disabled');
    //        }
    //        $('.edit_lnk').removeClass('disabled');

    //    }
    //    else if (count > 1) {
    //        $('.edit_lnk').addClass('disabled');
    //        var FirstVal = Ids[0];
    //        for (var j = 0; j < Ids.length; j++) {

    //            if (Ids[j] == FirstVal) {
    //                if (FirstVal == "ACTIVE") {
    //                    $('.Acitve_lnk').addClass('disabled');
    //                    $('.Deacitve_lnk').removeClass('disabled');
    //                }
    //                else {
    //                    $('.Acitve_lnk').removeClass('disabled');
    //                    $('.Deacitve_lnk').addClass('disabled');
    //                }

    //            }
    //            else {
    //                FirstVal = "";
    //                $('.Deacitve_lnk').addClass('disabled');
    //                $('.Acitve_lnk').addClass('disabled');
    //            }
    //        }

    //    }
    //    else {
    //        $('.edit_lnk').addClass('disabled');
    //        $('.Deacitve_lnk').addClass('disabled');
    //        $('.Acitve_lnk').addClass('disabled');

    //    }
    //});



    $(document).ready(function () {
        //debugger;
        $('.add_lnk').addClass('disabled');
        $.get('/FeesTypePrice/AcademicSession', function (data) {
            if (data.length > 0) {
                $("#ddl_session").append('<option value="0">Select Session</option>');
                $("#ddl_Organization").append('<option value="0">  Select Oraganisation </option>');
                $("#ddl_wing").append('<option value="0">Select Wing</option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_session").append('<option value="' + item.id + '"> ' + item.displayName + ' </option>');
                });
            }
        });

        $.get('/FeesTypePrice/GetBoardData', function (data) {
            $("#ddl_board").empty();
            if (data.length > 0) {
                // $("#ddl_board").append('<option value=" ">Select Session</option>');
                $("#ddl_board").append('<option value="0">Select Board </option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_board").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });



        $('#ddl_session').change(function () {
            var AcademicSessionId = $(this).val();
            $('#ddl_Organization').empty();
            $('#ddl_wing').empty();
            //$('#AcademicStandardId').empty();
            $.get('/PaymentCollectionType/GetOrganisationByAcademicSession', { AcademicSessionId: AcademicSessionId }, function (data) {
                if (data.length > 0) {
                    $("#ddl_Organization").append('<option value="0">  Select Oraganization </option>');
                    $.each(data, function (i, item) {
                        $("#ddl_Organization").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

        $('#ddl_Organization').change(function () {
            //debugger;
            var id = $('#ddl_session option:selected').val();
            var type = 'Organization';
            $('#ddl_wing').empty();
            $('#dataTable tbody').empty();
            // $('#AcademicStandardId').empty();
            $.get('/PaymentCollectionType/GetWingBySchoolWing', { OraganisationAcademicId: id }, function (data) {
                if (data.length > 0) {
                    $("#ddl_wing").append('<option value="0">Select Wing</option>');
                    $.each(data, function (i, item) {
                        $("#ddl_wing").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
            //do here
            if ($('#ddl_Organization option:selected').val() != '0') {
                $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
                    //  debugger;
                    if (data > 0) {
                        var amt = parseFloat($('#hdn_Amount').val());
                        amt += data;
                        $('#hdn_Amount').val(amt);

                    }
                });
            }

        });

        $('#ddl_wing').change(function () {
            // debugger;
            var id = $(this).val();
            var type = 'Wing';
            if ($('#ddl_wing option:selected').val() != '0') {
                $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
                    if (data > 0) {
                        var amt = parseFloat($('#hdn_Amount').val());
                        amt += data;
                        $('#hdn_Amount').val(amt);
                    }
                });
            }
        });

        $('#ddl_board').change(function () {
            //sum = 0;
            $('#ddl_class').empty();
            $.get('/PaymentCollectionType/GetClassByBoard', { BoardId: $('#ddl_board').val(), OrganizationAcademicId: $('#ddl_session').val(), schoolwingId: $('#ddl_wing').val() }, function (data) {
                if (data.length > 0) {
                    $("#ddl_class").append('<option value="0">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#ddl_class").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });

        });

        $('#ddl_class').change(function () {
            // debugger;
            var AcademicStandardId = $(this).val();
            var AcademicStandardStreamId = 0;


            $("#dataTable").DataTable();
            $.ajax({
                type: 'GET',
                url: '/PaymentCollectionType/GetAllStudentsByAcademicStandard',
                data: { 'AcademicStandardId': AcademicStandardId, 'AcademicStandardStreamId': AcademicStandardStreamId },
                contentType: "text/plain",
                dataType: 'json',
                success: function (data) {
                    //debugger;
                    myJsonData = data;
                    populateDataTable(myJsonData);
                },
                error: function (e) {
                    console.log("There was an error with your request...");
                    console.log("error: " + JSON.stringify(e));
                }
            });


            // populate the data table with JSON data
            function populateDataTable(data) {
                // debugger;
                // console.log("populating data table...");
                // clear the table before populating it with more data
                $("#dataTable").DataTable().clear();
                // var length = Object.keys(data).length;
                $.each(data, function (i, item) {
                    debugger;
                    var demophoto = item.photo.split('~');
                    var realphoto = demophoto[1];
                    var itemStatus = "";
                    var scholarshipView = "";
                    if (item.studentWithScholarship != null) {
                        // debugger;
                        itemStatus = "Active";
                        scholarshipView = "<a data-toggle='modal' data-target='#myModal3' style='color:#037025;' onclick=EditScholarshipSingle(" + item.studentWithScholarship.studentId + ") >Edit</a>";
                    }
                    else {
                        // debugger;
                        itemStatus = "Inactive";
                        scholarshipView = "<a data-toggle='modal' style data-target='#myModal3' style='color:#8d0101;' onclick=ApplyApproveScholarshipSingle(" + item.studentid + ") >Apply</a>";
                    }

                    $('#dataTable').dataTable().fnAddData([
                        //item.id,
                        //{
                        //    "render": function (data, type, full, meta) { return '  <label class="container" style="width:0px!important"><input type="checkbox" name="tableCheck" data-active="' + item.id + '" value="' + item.id + '" class="chk_checkbox"><span class="checkmark"></span></label>'; }, "orderable": false, "targets": 0
                        //},


                        '<label class="container" style="width:0px!important"><input type="checkbox" name="tableCheck" id=id_' + item.studentid + ' data-active="' + itemStatus + '" value="' + item.studentid + '" data-name="' + item.name + '" data-url="' + realphoto + '" class="chk_checkbox"><span class="checkmark"></span></label>',
                        "<img title='Click to View' style=' width: 50px;border-radius: 10px;' class='studentphoto' src='" + realphoto + "'/>",
                        item.name,
                        item.inr,
                        item.standard,
                        item.payTypeName,
                        scholarshipView,
                        "<a  studentid='" + item.studentid + "' academicsession='" + item.academicSession +
                        "' academicsessionid='" + item.academicSessionId + "' organization='" + item.organization +
                        "' organizationid='" + item.organizationid + "' wing='" + item.wing + "' wingid='" + item.wingid +
                        "' boardid='" + item.boardid + "' board='" + item.board + "' classname='" + item.classname +
                        "' classid='" + item.classid + "' section='" + item.section + "' sumamount='" + item.sumamount +
                        "' studentcode='" + item.studentcode + "' href='#' id='viewId'>View</a>"
                    ]);
                });
            }
        });


    });

    $(document).on('click', '#dataTable tr td img', function () {
        var imageurl = $(this).closest('tr').find('img').attr("src");
        var name = $(this).closest('tr').find('td:eq(1)').text();
        $('#stdname').text(name);
        $('#myModal_photo').modal('show');
        $('#imgepopup').attr('src', imageurl);
    });



    function EditScholarshipSingle(id) {
        debugger;
        Ids = [];
        $("#myModalLabel3").html("Edit Apply Scholarship ");
        $("#BindStudentData").html("");
        $("#hdnEditId").val(id);
        // var id1 = "";
        $("#divName").html("Student Name :  ")
        //$('input[name="tableCheck"]:checked').each(function () {
        //    id = $(this).val();
        //    var idval = "#id_" + id;
        //    var name = $(idval).data("name");
        //    var photo = $(idval).data("url");
        //    Ids.push(id);
        //    Photos.push(photo);
        //    // Names.push(name);
        //    $("#divName").append(name + ",  ");
        //    $("#BindStudentData").append('<div class="row" style="margin-bottom: 20px;"><div class="col-md-2"><img style = "width: 50px;border-radius: 10px;" class="studentphoto" src = "' + photo + '" ></div><div class="col-md-6" style="margin-top: 15px;">' + name + '</div></div>');
        //});
        var idval = "#id_" + id;
        var name = $(idval).data("name");
        var photo = $(idval).data("url");
        Ids.push(id);
        Photos.push(photo);
        // Names.push(name);
        $("#divName").append(name + ",  ");
        $("#BindStudentData").append('<div class="row" style="margin-bottom: 20px;"><div class="col-md-2"><img style = "width: 50px;border-radius: 10px;" class="studentphoto" src = "' + photo + '" ></div><div class="col-md-6" style="margin-top: 15px;">' + name + '</div></div>');





        $("#hdnStudentid").val(Ids);
        var row = $("#dataTable tr:nth-child(2)").find("a")[1];
        // var count = $('#dataTable').find("#dataTable tr td a");
        $("#lbl_academicyear1").text(row.attributes[1].nodeValue);
        //var academicsessionid = row.attr('academicsessionid');
        $("#lbl_organization1").text(row.attributes[3].nodeValue);
        //var organizationid = $(this).attr('organizationid');
        $("#lbl_wing1").text(row.attributes[5].nodeValue);
        $("#lbl_board1").text(row.attributes[8].nodeValue);
        $("#lbl_class1").text(row.attributes[9].nodeValue);
        var classid = row.attributes[10].nodeValue;

        $("#BindDiscountData").html("");
        var sessionid = $('#ddl_session').val();
        CascardingList(classid, sessionid);
    }
    function ApplyApproveScholarshipSingle(id) {
        debugger;
        Ids = [];
        Photos = [];
        $("#divName").html("");
        $("#hdnEditId").val("0");
        $("#myModalLabel3").html("Apply Scholarship ");
        $("#BindStudentData").html("");
        // var id1 = "";
        $("#divName").html("Student Name :  ")
        //$('input[name="tableCheck"]:checked').each(function () {
        //    id = $(this).val();
        //    var idval = "#id_" + id;
        //    var name = $(idval).data("name");
        //    var photo = $(idval).data("url");
        //    Ids.push(id);
        //    Photos.push(photo);
        //    // Names.push(name);
        //    $("#divName").append(name + ",  ");
        //    $("#BindStudentData").append('<div class="row" style="margin-bottom: 20px;"><div class="col-md-2"><img style = "width: 50px;border-radius: 10px;" class="studentphoto" src = "' + photo + '" ></div><div class="col-md-6" style="margin-top: 15px;">' + name + '</div></div>');
        //});
        var idval = "#id_" + id;
        var name = $(idval).data("name");
        var photo = $(idval).data("url");
        Ids.push(id);
        Photos.push(photo);
        // Names.push(name);
        $("#divName").append(name + ",  ");
        $("#BindStudentData").append('<div class="row" style="margin-bottom: 20px;"><div class="col-md-2"><img style = "width: 50px;border-radius: 10px;" class="studentphoto" src = "' + photo + '" ></div><div class="col-md-6" style="margin-top: 15px;">' + name + '</div></div>');





        $("#hdnStudentid").val(Ids);
        var row = $("#dataTable tr:nth-child(2)").find("a")[1];
        // var count = $('#dataTable').find("#dataTable tr td a");
        $("#lbl_academicyear1").text(row.attributes[1].nodeValue);
        //var academicsessionid = row.attr('academicsessionid');
        $("#lbl_organization1").text(row.attributes[3].nodeValue);
        //var organizationid = $(this).attr('organizationid');
        $("#lbl_wing1").text(row.attributes[5].nodeValue);
        $("#lbl_board1").text(row.attributes[8].nodeValue);
        $("#lbl_class1").text(row.attributes[9].nodeValue);
        var classid = row.attributes[10].nodeValue;

        $("#BindDiscountData").html("");
        var sessionid = $('#ddl_session').val();
        CascardingList(classid, sessionid);
    }

    $(document).on('click', '#dataTable tr td a#viewId', function () {
        debugger;
        var studentId = $(this).attr('studentid');
        var imageurl = $(this).closest('tr').find('img').attr("src");
        var name = $(this).closest('tr').find('td:eq(2)').text();
        $('#lbl_name').text(name);
        $('#myModal2').modal('show');
        $('#img_profile').attr('src', imageurl);

        var academicsession = $(this).attr('academicsession');
        var academicsessionid = $(this).attr('academicsessionid');
        var organization = $(this).attr('organization');
        var organizationid = $(this).attr('organizationid');
        var wing = $(this).attr('wing');
        var wingid = $(this).attr('wingid');
        var boardid = $(this).attr('boardid');
        var board = $(this).attr('board');
        var classname = $(this).attr('classname');
        var classid = $(this).attr('classid');
        var sumamount = $(this).attr('sumamount');
        var section = $(this).attr('section');
        var studentcode = $(this).attr('studentcode');


        $('#spn_sumamt').text(sumamount);
        $('#lbl_academicyear').text(academicsession);
        $('#lbl_organization').text(organization);
        $('#lbl_wing').text(wing);
        $('#lbl_board').text(board);
        $('#lbl_class').text(classname);
        $('#lbl_section').text(section);
        $('#lbl_stdcode').text(studentcode);



        //long AcademicYearId,long organizationId,long wingId,long boardId, long AcademicStandardId
        var Installmentdata = '';
        $('#divdata').empty();
        $.ajax({
            url: '../PaymentCollectionType/GetAllStudentsData/',
            type: "GET",
            data: { 'AcademicYearId': academicsessionid, 'organizationId': organizationid, 'wingid': wingid, 'boardId': boardid, 'AcademicStandardId': classid, 'studentid': studentId },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                debugger;
                $.each(data, function (index, items) {
                    debugger;
                    if (items.paystatus == null) {
                        items.paystatus = "Due";
                    }
                    

                    Installmentdata += "<div style='border-style:solid;border-color:#035ef6;border-radius:10px;margin-top:05px;font-size: 14px;height:85px;' class='row'>" +
                        "<div class='col-md-1'>" +
                        "<span id='lbl_name'>Installment</span ></br>" +
                        "<span id='lbl_installment'>" + items.paymentname + "</span >" +
                        "</div>" +
                        "<div class='col-md-10'>" +
                        "<div class='row'>" +
                        "<div class='col-md-3'>From Date: <span id='lbl_fromdate'>" + items.fromdate + "</span></div>" +
                        "<div class='col-md-3'>To Date : <span id='lbl_todate'>" + items.todate + "</span></div>" +
                        "<div class='col-md-3'>Deadline Date : <span id='lbl_deadlinedate'>" + items.deadlinedate + "</span></div>" +
                        "<div class='col-md-3'>Amount :&#x20B9; <span id='lbl_amount'>" + parseFloat(items.amount).toFixed(2) + "</span></div>" +
                        "</div>" +
                        "<div class='row'>" +
                        "<div class='col-md-3'>Paid On : <span id='lbl_paidon'></span></div>" +
                        "<div class='col-md-3'>Paid By : <span id='lbl_paidby'></span></div>" +
                        "<div class='col-md-3'></div>" +
                        "<div class='col-md-3'></div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='col-md-1'>";

                    if (items.paystatus == 'Due') {
                        Installmentdata += "<span id='lbl_status' style='color:red'>   " + items.paystatus + "</span >";
                    }
                    else {
                        Installmentdata += "<span id='lbl_status' style='color:green'>  " + items.paystatus + "</span >";
                    }
                    Installmentdata += "</div>" +
                        " </div>";
                });
                $('#divdata').append(Installmentdata);
            }
        });
    });

</script>