﻿
@{
    ViewData["Title"] = "AdmissionCampusTourDate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
}

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmissionCampusTourDateModel>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Campus Tour Date</li>

        </ol>
    </nav>
</div>

<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Campus Tour Date</h1>
                <div>                  
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Tour Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Add Slot</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AcademicSessionName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TourDatestring
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.SlotCount &nbsp;|&nbsp;
                                    <a title="Add Slot" asp-area="Admission" asp-controller="ECMaster" asp-action="AdmissionCampusTourSlot" asp-route-AdmissionCampusTourDateID="@item.ID">
                                        <i class="fas fa-plus-circle text-success"></i>
                                        Add
                                    </a>
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                    <a title="Delete" asp-action="DeleteAdmissionCampusTourDate" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Date..?');"><i class="fas fa-trash"></i></a>

                                    <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update Admission Campus Date</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveOrUpdateAdmissionCampusTourDate" method="post">
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <input type="text" name="ID" value="@item.ID" class="form-control" />
                                                                Session Name
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select class="form-control" style="width:100%" name="AcdemicSessionId">
                                                                    @if (ViewBag.SessionList != null)
                                                                    {
                                                                        @foreach (var a in ViewBag.SessionList)
                                                                        {
                                                                            if (item.AcademicSessionName == a.DisplayName)
                                                                            {
                                                                                <option value="@a.ID" selected>@a.DisplayName</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@a.ID">@a.DisplayName</option>
                                                                            }

                                                                        }
                                                                    }

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Campus Tour Date
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="date" required name="TourDate" value="@item.TourDate.ToString("yyyy-MM-dd")" class="form-control" />
                                                            </div>
                                                        </div>

                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <input type="submit" class="btn btn-primary" value="Update" />
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Admission Campus Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateAdmissionCampusTourDate" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                         
                            Session Name
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" style="width:100%" name="AcdemicSessionId">
                                @if (ViewBag.SessionList != null)
                                {
                                    @foreach (var a in ViewBag.SessionList)
                                    {
                                        <option value="@a.ID">@a.DisplayName</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Campus Tour Date
                        </div>
                        <div class="col-md-8">
                            <input type="date" required name="TourDate"  class="form-control" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
