﻿
@{
    ViewData["Title"] = "ViewStudentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Controllers.CounsellerController.studentcounsellorcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Counseller" asp-area="Admission">Student List</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">View Student Details</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="form-group text-center">
        <img style="width:120px;height:120px;" src="/ODMImages/AdmissionDocuments/@Model.view_Student_.ProfileImage" />
    </div>
    <div class="form-group text-center">
        <h3><strong>@Model.view_Student_.StudentName</strong></h3>
        <h5><strong>Form No. :</strong>@Model.view_Student_.FormNumber</h5>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-3">
                        <strong>Applied On :</strong>
                    </div>
                    <div class="col-md-4">
                        @Model.view_Student_.InsertedDate.ToString("dd-MM-yyyy")
                    </div>
                    <strong>Session :</strong>
                </div>
                <div class="col-md-4">
                    @Model.view_Student_.SessionName
                </div>


            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Organisation :</strong>
                </div>
                <div class="col-md-4">
                    @Model.view_Student_.OrganisationName
                </div>
                <div class="col-md-3">
                    <strong>Board :</strong>
                </div>
                <div class="col-md-4">
                    @Model.view_Student_.BoardName
                </div>

            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Standard :</strong>
                </div>
                <div class="col-md-4">
                    @Model.view_Student_.StandardName
                </div>
                <div class="col-md-3">
                    <strong>Wing :</strong>
                </div>
                <div class="col-md-4">
                    @Model.view_Student_.WingName
                </div>

            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="clearfix" style="margin-bottom:20px;"></div>
    <div class="row">
        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold"> Exam Details </h1>

            <div>
                <a onclick="openassignexam(@(Model.standardExam==null?0:Model.standardExam.ID),'@(Model.standardExam==null?"":Model.standardExam.ExamDate.Value.ToString("yyyy-MM-dd"))');" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus "></i>@(Model.standardExam==null?"Assign Date":"Change Date")</a>
               
            </div>
        </div>

    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Exam Date :</strong></div>
        <div class="col-md-3">@Model.standardExam.ExamDate.Value.ToString("dd-MM-yyyy")</div>
        <div class="col-md-3"><strong>Reach Time :</strong></div>
        <div class="col-md-3">@Model.standardExam.ReachTime</div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Exam Time :</strong></div>
        <div class="col-md-3">@Model.standardExam.ExamTimeDisplayName</div>
    </div>
    <div class="clearfix" style="margin-bottom:20px;"></div>
    <div class="row">
        <div class="form-group">
            <h3><strong>PI Details :</strong></h3>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Exam Date :</strong></div>
        <div class="col-md-3">@Model.examcounseller.interviewAssign.PIDate.Value.ToString("dd-MM-yyyy")</div>
        <div class="col-md-3"><strong>Exam Time :</strong></div>
        <div class="col-md-3">@(Model.examcounseller.interviewAssign.PITime)</div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Counseller Name :</strong></div>
        <div class="col-md-3">@Model.examcounseller.AssignedCounselorName</div>
        <div class="col-md-3"><strong>Taken By :</strong></div>
        <div class="col-md-3">@Model.examcounseller.EmployeeName</div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Appeared Date :</strong></div>
        <div class="col-md-3">@Model.examcounseller.interviewAssign.AppearedDateTime.Value.ToString("dd-MM-yyyy")</div>
        <div class="col-md-3"><strong>Is Appeared :</strong></div>
        <div class="col-md-3">@(Model.examcounseller.interviewAssign.IsAppeared==true?"Yes":"No")</div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Is Qualified :</strong></div>
        <div class="col-md-3">@(Model.examcounseller.interviewAssign.IsQualified==true?"Yes":"No")</div>
    </div>
    <div class="clearfix" style="margin-bottom:20px;"></div>
    <div class="row">
        <div class="form-group">
            <h3><strong>Document Verification Details :</strong></h3>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Exam Date :</strong></div>
        <div class="col-md-3">@Model.verificationAssign.verificationAssign.AppearedDateTime.Value.ToString("dd-MM-yyyy")</div>
        <div class="col-md-3"><strong>Assigned By :</strong></div>
        <div class="col-md-3">@(Model.verificationAssign.AssignedCounselorName)</div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Taken By :</strong></div>
        <div class="col-md-3">@(Model.verificationAssign.EmployeeName)</div>
        <div class="col-md-3"><strong>Is Appeared :</strong></div>
        <div class="col-md-3">@(Model.verificationAssign.verificationAssign.IsAppeared==true?"Yes":"No")</div>

    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        <div class="col-md-3"><strong>Is Qualified :</strong></div>
        <div class="col-md-3">@(Model.verificationAssign.verificationAssign.IsQualified==true?"Yes":"No")</div>
        <div class="col-md-3"><strong>Verification Date &amp; Time :</strong></div>
        <div class="col-md-3">@(Model.verificationAssign.verificationAssign.VerificationDate.Value.ToString("dd-MM-yyyy")+" "+ Model.verificationAssign.verificationAssign.VerificationTime)</div>
    </div>
    <div class="clearfix" style="margin-bottom:20px;"></div>
    <div class="row">
        <div class="form-group">
            <h3><strong>Submitted Document Details :</strong></h3>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="row">
        @foreach (var a in Model.documentscls)
        {
            <div>

            </div>
        }
    </div>
</div>
<div class="modal fade" id="AssignExamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Assign Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="statuschangetoverify" enctype="multipart/form-data" method="post" id="validation-form">
                    <input type="hidden" id="hdnassignexamid" name="hdnassignexamid" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            Exam Date
                        </div>
                        <div class="col-md-8">
                            <select id="txtdate" name="txtdate" class="form-control">
                                <option value="0">Select Date</option>
                            </select>  
                            <span class="text-danger" id="ValidateDate"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit Date" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function openassignexam(id,date) {
        $('#txtdate').val(date);
        $('#hdnassignexamid').val(id);
        $('#AssignExamModal').modal('show');
    }
    $(document).ready(function () {
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#txtdate').val() == '') {
                $('#ValidateDate').html('Select Date');
                $('#divloader').fadeOut(300);
                return false;
            }
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admission/Counseller/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Admission/Counseller/ViewStudentDetails?id=' + resp.id;
                    }
                    
                    else if (resp.sts == 0) {
                        var message = "Some Error Occured";
                        alert(message);
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admission/Counseller/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Admission/Counseller/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 3) {
                        // Do something useful with the data:
                        var message = "School Code Already Exists";
                        alert(message);
                        return false;
                    }
                    else if (resp.sts == 0) {
                        var message = "Some Error Occured";
                        alert(message);
                        return false;
                    }
                }

            })
        })
    })
</script>