
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800|Oswald:200,300,400,500,600,700|Roboto:400,500,700,900&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*-------------General Style---------------------------------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 13px;
	height: 100%;
	color: #000;
	font-family: 'Lato', sans-serif;
}

@-o-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

a {
	text-decoration: none;
}


/*--------------General--------------------------------------*/
#main {
	height: 100%;
	width: 100%;
	z-index: 2;
}

#wrapper {
	position: absolute;
	top: 90px;
	left: 90px;
	right: 0;
	bottom: 0;
	z-index: 3;
	background-size: contain;
}

.content-holder {
	width: 96%;
	margin-left: 30px;
	margin-top: 30px;
}

.overlay {
	width: 100%;
	height: 100%;
	/* background: rgba(45,45,50,0.51);*/
	z-index: 3;
}

.dark-bg {
	background: #2A2A2E;
}
/* ------header------------------------------------------------------------ */
header.main-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 20;
	background: url(../images/header-bg.png) #445867;
	padding: 0 0 0 90px;
}

	header.main-header:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 90px;
		height: 1px;
		right: 0;
		background: rgba(255, 255, 255, 0.08);
	}

	header.main-header:before {
		content: '';
		position: absolute;
		left: 30%;
		right: 150px;
		height: 100%;
		z-index: -1;
		background: rgba(255, 255, 255, 0.08);
	}

.left-panel {
	position: fixed;
	top: 90px;
	left: 0;
	width: 90px;
	bottom: 0;
	z-index: 19;
	background: url(../images/left-panel.png) repeat #445867;
	-webkit-transform: translate3d(0,0,0);
	border-right: 1px solid rgba(255, 255, 255, 0.03);
}

.left-panel_social {
	position: absolute;
	bottom: 110px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
}

	.left-panel_social li {
		width: 40px;
		height: 40px;
		line-height: 40px;
		box-sizing: border-box;
		display: inline-table;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-top: none;
		position: relative;
		text-align: center;
	}

		.left-panel_social li:before, .nav-social li:before {
			content: '';
			position: absolute;
			left: 0;
			width: 0;
			height: 100%;
			top: 0;
			background: rgba(255, 255, 255, 0.08);
			z-index: 1;
			-webkit-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
		}

		.left-panel_social li:hover:before, .nav-social li:hover:before {
			width: 100%;
		}

		.left-panel_social li:first-child {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
		}

		.left-panel_social li a {
			position: relative;
			z-index: 2;
			color: #bdbdbd;
		}

.horizonral-subtitle {
	position: absolute;
	left: 40px;
	top: 150px;
}

	.horizonral-subtitle span {
		position: absolute;
		left: -170px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 10px;
		letter-spacing: 4px;
		padding: 10px 0;
		width: 350px;
		top: 0;
		text-align: center;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		color: rgba(255, 255, 255, 0.31);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

		.horizonral-subtitle span strong {
			position: relative;
			display: block;
			color: #fff;
			font-weight: 600;
		}

		.horizonral-subtitle span:before {
			content: '';
			position: absolute;
			width: 190px;
			right: -40px;
			height: 100%;
			top: 0;
			background: rgba(255, 255, 255, 0.2);
		}

.header-logo {
	float: left;
	position: relative;
	top: 5px;
}

	.header-logo img {
		float: left;
		width: auto;
		height: 75px;
	}

.nav-button-wrap {
	right: 0;
	width: 200px;
	position: absolute;
	top:40px;
}

i.fa.fa-home, i.fa.fa-sign-out {
	color: #f34949;
}
	

.nav-button {
	left: 0px;
	width: 200px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	text-align: center;
}

	.nav-button span {
		width: 100%;
		float: left;
		margin-bottom: 6px;
		height: 2px;
		background: #fff;
		position: relative;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.nav-button .ncs {
		width: 70%;
	}

	.nav-button .nbs,
	.nav-button.cmenu:hover .nbs {
		width: 0;
	}

	.nav-button:hover .ncs,
	.nav-button:hover .nbs {
		width: 100%;
	}

	.nav-button.cmenu .nos {
		-webkit-transform: rotate(-45deg) scale(0.8);
		transform: rotate(-45deg) scale(0.8);
		margin-bottom: 0;
		top: 8px;
	}

	.nav-button.cmenu .ncs {
		-webkit-transform: rotate(45deg) scale(0.8);
		transform: rotate(45deg) scale(0.8);
		margin-bottom: 0;
		top: 6px;
		width: 100%;
	}

	.nav-button:hover .menu-button-text {
		color: #fff;
	}

.menu-button-text {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-button.cmenu .menu-button-text {
	margin-top: 16px;
}

.header-contacts {
	float: right;
	position: relative;
	top: 24px;
	padding-right: 70px;
	right: 150px;
}

	.header-contacts ul {
		float: right;
	}

	.header-contacts li {
		list-style: none;
		float: left;
		margin-right: 40px;
		top: 14px;
		position: relative;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 10px;
		color: rgba(255, 255, 255, 0.51);
		letter-spacing: 2px;
	}

		.header-contacts li:before {
			content: '';
			position: absolute;
			left: -30px;
			width: 15px;
			top: 50%;
			height: 2px;
			margin-top: -2px;
		}

		.header-contacts li a {
			color: #fff;
			font-size: 13px;
		}

	.header-contacts span {
		font-size: 13px;
	}


@media only screen and (max-width: 1064px) {
	.right-sticky-img {
		display: none !important;
	}
	#wrapper {
		left: 0;
	}

	.left-panel, .share-button:before, .share-button:after, .header-contacts, .progress-bar-wrap, .scroll-nav-wrap, .height-emulator, .flat-project_title_dec, .tabs-counter, .hor-mob-filter:before, .hor-mob-filter:after {
		display: none;
	}

	.hor-mob-filter {
		left: 0;
	}

	header.main-header {
		padding-left: 30px;
	}

	.share-button {
		top: 0;
		width: 90px;
		left: 190px;
		height: 90px;
		-webkit-transform: translate3d(0,0,0);
	}

		.share-button span {
			display: inline-table;
			top: 30px;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}

			.share-button span:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -4px;
				height: 1px;
			}

	.share-wrapper {
		bottom: inherit;
		top: 90px;
	}

	.hero-start-link.hero-start-link_mlt, .fixed-column-wrap, .column-wrap, .fixed-column-wrap-content, .hero-start-link, section.hero-section:before {
		width: 100%;
	}

	.page-load, .share-wrapper {
		left: 0px;
	}

	.hero-start-link {
		z-index: 50;
		background: #2A2A2E;
	}

	.hero-bg {
		right: 0;
		left: 0;
	}

	section.hero-section:before {
		background: #323236;
	}

	section.hero-section {
		padding: 100px 0 75px;
	}

	.multi-slideshow-wrap_1, .multi-slideshow-wrap_2 {
		bottom: 70px;
	}

	.hero-title {
		top: 25%;
	}
}

@media only screen and (max-width: 768px) {

	.start-btn {
		width: 140px;
	}
}

@media only screen and (max-width: 640px) {
	.right-sticky-img {
		display: none !important;
	}
}

@media only screen and (max-width: 560px) {
	.nav-holder {
		width: 300px;
	}

	.nav-scroll-bar-wrap {
		padding: 50px 10px 100px 30px;
	}

	.nav-social_title {
		display: none;
	}

	.share-button {
		left: 160px;
	}

	header.main-header {
		padding: 0 0 0 20px;
	}

	.tabcontent {
		width: 100% !important;

	}
	.right-sticky-img {
		display: none !important;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.bg {
		background-attachment: scroll !important;
		-webkit-background-size: cover;
		background-position: center;
	}
}


h5.bec-txt {
	font-size: 20px;
	color: #fff;
	line-height: 24px;
	padding: 14px 0;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}


/*-------------------------------------------------------------------*/
/* === Landing screens === */
/* Auth */
.auth .login-half-bg {
	background: url("../images/login-4.jpg");
	background-size: cover;
}

.auth .register-half-bg {
	background: url("../images/register-bg.jpg");
	background-size: cover;
}

.auth.lock-full-bg {
	background: url("../images/lockscreen-bg.jpg");
	background-size: cover;
}

.auth .lock-profile-img {
	width: 90px;
	height: 90px;
	border-radius: 100%;
}

.auth .auth-form-light {
	background: #ffffff;
}

	.auth .auth-form-light select {
		color: #c9c8c8;
	}

	.auth .auth-form-light .input-group .form-control:focus, .auth .auth-form-light .asColorPicker-wrap .form-control:focus, .auth .auth-form-light .input-group .asColorPicker-input:focus, .auth .auth-form-light .asColorPicker-wrap .asColorPicker-input:focus, .auth .auth-form-light .input-group .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-light .input-group select:focus, .auth .auth-form-light .asColorPicker-wrap .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-light .asColorPicker-wrap select:focus, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input:focus[type=text], .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input:focus[type=text],
	.auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group select:focus,
	.auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap select:focus, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input:focus[type=number], .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input:focus[type=number], .auth .auth-form-light .input-group .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-light .input-group .select2-selection--single:focus, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-light .asColorPicker-wrap .select2-selection--single:focus, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-light .input-group .select2-search__field:focus, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-light .asColorPicker-wrap .select2-search__field:focus, .auth .auth-form-light .input-group .typeahead:focus, .auth .auth-form-light .asColorPicker-wrap .typeahead:focus,
	.auth .auth-form-light .input-group .tt-query:focus,
	.auth .auth-form-light .asColorPicker-wrap .tt-query:focus,
	.auth .auth-form-light .input-group .tt-hint:focus,
	.auth .auth-form-light .asColorPicker-wrap .tt-hint:focus, .auth .auth-form-light .input-group .form-control:active, .auth .auth-form-light .asColorPicker-wrap .form-control:active, .auth .auth-form-light .input-group .asColorPicker-input:active, .auth .auth-form-light .asColorPicker-wrap .asColorPicker-input:active, .auth .auth-form-light .input-group .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-light .input-group select:active, .auth .auth-form-light .asColorPicker-wrap .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-light .asColorPicker-wrap select:active, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input:active[type=text], .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input:active[type=text],
	.auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group select:active,
	.auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap select:active, .auth .auth-form-light .input-group .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .input-group input:active[type=number], .auth .auth-form-light .asColorPicker-wrap .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-light .asColorPicker-wrap input:active[type=number], .auth .auth-form-light .input-group .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-light .input-group .select2-selection--single:active, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-light .asColorPicker-wrap .select2-selection--single:active, .auth .auth-form-light .input-group .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-light .input-group .select2-search__field:active, .auth .auth-form-light .asColorPicker-wrap .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-light .asColorPicker-wrap .select2-search__field:active, .auth .auth-form-light .input-group .typeahead:active, .auth .auth-form-light .asColorPicker-wrap .typeahead:active,
	.auth .auth-form-light .input-group .tt-query:active,
	.auth .auth-form-light .asColorPicker-wrap .tt-query:active,
	.auth .auth-form-light .input-group .tt-hint:active,
	.auth .auth-form-light .asColorPicker-wrap .tt-hint:active {
		border-color: #f3f3f3;
	}

.auth .auth-form-transparent {
	background: transparent;
}

	.auth .auth-form-transparent .form-control, .auth .auth-form-transparent .asColorPicker-input, .auth .auth-form-transparent .dataTables_wrapper select, .dataTables_wrapper .auth .auth-form-transparent select, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=text],
	.auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input[type=number], .auth .auth-form-transparent .select2-container--default .select2-selection--single, .select2-container--default .auth .auth-form-transparent .select2-selection--single, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field, .auth .auth-form-transparent .typeahead,
	.auth .auth-form-transparent .tt-query,
	.auth .auth-form-transparent .tt-hint,
	.auth .auth-form-transparent .input-group-text {
		border-color: #a3a4a5;
	}

		.auth .auth-form-transparent .form-control:focus, .auth .auth-form-transparent .asColorPicker-input:focus, .auth .auth-form-transparent .dataTables_wrapper select:focus, .dataTables_wrapper .auth .auth-form-transparent select:focus, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input:focus[type=text],
		.auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select:focus, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input:focus[type=number], .auth .auth-form-transparent .select2-container--default .select2-selection--single:focus, .select2-container--default .auth .auth-form-transparent .select2-selection--single:focus, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field:focus, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field:focus, .auth .auth-form-transparent .typeahead:focus,
		.auth .auth-form-transparent .tt-query:focus,
		.auth .auth-form-transparent .tt-hint:focus, .auth .auth-form-transparent .form-control:active, .auth .auth-form-transparent .asColorPicker-input:active, .auth .auth-form-transparent .dataTables_wrapper select:active, .dataTables_wrapper .auth .auth-form-transparent select:active, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input:active[type=text],
		.auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row select:active, .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent select:active, .auth .auth-form-transparent .jsgrid .jsgrid-table .jsgrid-filter-row input:active[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth .auth-form-transparent input:active[type=number], .auth .auth-form-transparent .select2-container--default .select2-selection--single:active, .select2-container--default .auth .auth-form-transparent .select2-selection--single:active, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field:active, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field:active, .auth .auth-form-transparent .typeahead:active,
		.auth .auth-form-transparent .tt-query:active,
		.auth .auth-form-transparent .tt-hint:active,
		.auth .auth-form-transparent .input-group-text:focus,
		.auth .auth-form-transparent .input-group-text:active {
			border-color: #a3a4a5;
		}

	.auth .auth-form-transparent select {
		outline-color: #a3a4a5;
	}

.auth.auth-img-bg {
	padding: 0;
}

@media (min-width: 768px) {
	.auth.auth-img-bg .auth-form-transparent {
		width: 95%;
		margin: auto;
	}
}

.auth .brand-logo {
	margin-bottom: 1rem;
	border: 1px solid #0164a81a;
	padding: 8px;
	border-radius: 5px;
}

	.auth .brand-logo img {
		width: 100%;
	}

.auth form .form-group {
	margin-bottom: 1.5rem;
}

	.auth form .form-group label {
		font-size: 16px;
	}

	.auth form .form-group .form-control, .auth form .form-group .asColorPicker-input, .auth form .form-group .dataTables_wrapper select, .dataTables_wrapper .auth form .form-group select, .auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group input[type=text],
	.auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group select, .auth form .form-group .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .jsgrid .jsgrid-table .jsgrid-filter-row .auth form .form-group input[type=number], .auth form .form-group .select2-container--default .select2-selection--single, .select2-container--default .auth form .form-group .select2-selection--single, .auth form .form-group .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth form .form-group .select2-search__field, .auth form .form-group .typeahead,
	.auth form .form-group .tt-query,
	.auth form .form-group .tt-hint {
		background: transparent;
		border-radius: 0;
		font-size: .9375rem;
	}

.auth form .auth-form-btn {
	height: 40px;
	line-height: 24px;
	font-size: 14px;
}

.auth form .auth-link {
	font-size: 0.875rem;
}

	.auth form .auth-link:hover {
		color: initial;
	}

.flex-grow {
	flex-grow: 1;
}

.page-body-wrapper.full-page-wrapper .content-wrapper {
	width: 100%;
	height: 100vh;
	max-width: none;
}

.btn-primary {
	color: #fff;
	background-color: #ec1d25 !important;
	border-color: #f2f7fa !important;
	border-radius: 0px !important;
	float:right;
}

.col-lg-4.d-flex.align-items-center.justify-content-center {
	background: #f4f7f8;
}

.container-wrapper {
	width: 1300px;
	margin: 10px auto;
	margin-bottom: 40px;
	height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 10px;
}

	.container-wrapper::-webkit-scrollbar {
		width: 5px;
	}

	.container-wrapper::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	.container-wrapper::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}


.userbtn {
	margin: 12px 0;
	width: 37px;
}

	.userbtn a {
		color: #0264a8;
		padding: 6px 12px;
		background: #fff;
		font-size: 20px;
		border-radius: 50%;
		/* height: 50px; */
		/* width: 84px; */
		border: 1px solid #0264a8;
	}

		.userbtn a:hover {
			text-decoration: none;
		}
/* end menu */


.userdetails {
	width: 300px;
	/* height: 400px; */
	margin: 7px;
	text-align: center;
	padding: 22px 0;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	display: none;
	position: absolute;
	right: 0;
	z-index: 9;
	background: #fff;
}

.userprofile {
	padding: 0px;
	background: #0264a8;
	font-size: 80px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	line-height: 100px;
	color: #fff;
}

.username {
	padding: 8px 0 0 0;
}

.useremail {
	color: #ada9a9;
}

.user-control {
	margin: 20px 0 0 0;
}

	.user-control ul {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

		.user-control ul li {
			border-bottom: 1px solid #eae5e5;
			padding: 10px 0;
		}
/*form*/
.form-style-5 {
	width: 98%;
	padding: 5px 10px;
	margin: 10px 10px;
	background: #f4f7f8;
	border-radius: 8px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}

input, select {
	font-family: 'Lato', sans-serif;
}

.form-style-5 fieldset {
	border: none;
}

.form-style-5 legend {
	font-size: 16px;
	margin-bottom: 5px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 2px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 13px;
	margin: 0;
	outline: 0;
	padding: 6px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #c5c5c5;
	color: #494c4e;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 5px;
	font-family: 'Lato', sans-serif;
}
/*	.form-style-5 select {
    background: url(../images/downarrow.png) #e8eeef no-repeat 341px 12px;
}*/
.form-style-5 select {
	-webkit-appearance: menulist-button;
	padding: 6px 0;
}

	.form-style-5 input[type="text"]:focus,
	.form-style-5 input[type="date"]:focus,
	.form-style-5 input[type="datetime"]:focus,
	.form-style-5 input[type="email"]:focus,
	.form-style-5 input[type="number"]:focus,
	.form-style-5 input[type="search"]:focus,
	.form-style-5 input[type="time"]:focus,
	.form-style-5 input[type="url"]:focus,
	.form-style-5 textarea:focus,
	.form-style-5 select:focus {
		background: #d2d9dd;
	}

.form-style-5 .number {
	background: #e8545a;
	color: #fff;
	height: 20px;
	width: 20px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 0px 15px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

	.form-style-5 input[type="submit"]:hover,
	.form-style-5 input[type="button"]:hover {
		background: #109177;
	}

input#file-1 {
	width: 91%;
	border: 1px solid #e1e7e8;
	background: #e8eeef;
	padding: 2px;
}

button.btn.badge-lblue {
	background: #c5d9f1;
}

button.btn.badge-recall {
	background: #dad08b;
}

.btn.btn-seek {
	background: #ffc000;
}

.btn:hover {
	color: #717575 !important;
	text-decoration: none;
}

.row.approval-row {
	margin-bottom: 8px;
	border-bottom: 1px solid #d6d2d2;
	padding: 5px 0;
}

input.addad {
	width: 93% !important;
	height: 37px;
}

.aduser a {
	color: #dc3545;
}


ul.upload-list {
	list-style: none;
}

input.filehidden {
	position: absolute;
	z-index: 9999;
	height: 44px;
	outline: 0px;
	border: 0px;
	opacity: 0;
	height: 44px;
	width: 100%;
}

.fileuploader-input {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 1px solid transparent;
	border-radius: 30px;
	cursor: pointer;
}

.fileuploader-input-caption {
	position: relative;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-item-align: start;
	align-self: flex-start;
	padding: 5px 20px;
	margin-right: 16px;
	background: #e8eeef;
	border: 1px solid #e1e7e8;
	border-radius: 4px;
	color: #6c757d;
	box-shadow: 0 4px 18px rgba(0,0,0,.01);
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}

.fileuploader-input-button {
	background: #0c69ac;
	background-size: 140% auto;
	background-position: center;
	color: #fff;
	box-shadow: 0 4px 18px rgba(0,0,0,.04);
}

.fileuploader-input-button {
	display: inline-block;
	margin: 0;
	padding: 7px 9px;
	border: none;
	border-radius: 3px;
	outline: 0;
	/* font-weight: 700; */
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	font-size: 13px;
}

tbody#fileapp1 tr td, #fileapp2 tr td, #fileapp3 tr td, #fileapp4 tr td {
	text-align: center;
}

.removeFile {
	color: red;
}

td.w-10 {
	width: 20%;
}

.aduser .fa-download {
	color: #28a745;
}

h2.header-title {
	padding: 2px 10px;
	background: url(../images/black-mamba.png) repeat-x #f4f7f8;
	text-align: center;
	margin: 4px 0;
	color: #788c90;
	border: 1px solid #e8eeef;
	border-radius: 6px;
	font-size: 18px;
}

.w-10 input[type="text"] {
	padding: 2px;
	margin-bottom: 0px;
}

.w-10 select {
	-webkit-appearance: menulist-button;
	padding: 3px 1px;
	margin-bottom: 0;
}
/*form end*/

/*user page*/
.user-row {
	padding: 12px 0;
	border-bottom: 1px solid #d8d8d8;
	color: #929090;
	font-size: 14px;
}

.btn:hover {
	color: #000 !important;
	text-decoration: none;
}

.user-page {
	width: 80%;
	padding: 10px 20px;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #d8d8d8;
}

.row.user-row:hover {
	background: #efefef;
}

tr.approved {
	background: #97c57b;
}

tr.seek {
	background: #f7e6b5;
}

tr.denied {
	background: #e499a1;
}

.denied {
	background: #e499a1;
	color: #fff;
}

td.denied a {
	color: #fff !important;
}

.seek {
	background: #f7e6b5;
}

td.seek a {
	color: #0264a8 !important;
}

.badge-success {
	color: #fff;
	background-color: #28a745;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}

.text-editor a.btn {
	padding: 5px 8px;
}

.mt-20 {
	margin-top: 8px;
}

.mt-1 {
	margin-top: 10px;
}

.padding-0 {
	padding: 0px !important;
}

.margin-0 {
	margin: 0px !important;
}

.border-right {
	border-right: 1px solid #ddd;
	width: 15.5%;
}

.tat .border-right {
	border-right: 1px solid #ddd;
	width: 10px;
}


.logi-info {
	font-size: 12px;
	background: #333;
	color: #fff;
	padding: 8px;
}

	.logi-info .fa {
		color: #40c195;
		font-size: 15px;
		margin-right: 5px;
	}

th {
	text-align: center !important;
}

.aduser th {
	text-align: left !important;
}

.approval-th {
	background: #458bc4;
	color: #fff;
	font-size: 12px;
	font-weight: 400 !important;
}

tr.approval-th th {
	vertical-align: middle !important;
	font-weight: 400 !important;
}

table#sum_table th {
	font-size: 12px;
	font-weight: 600;
}

table#sum_table td {
	font-size: 12px;
}

.user-details {
	float: left;
	margin-left: 10px;
	line-height: 30px;
	font-size: 13px;
}

ul.user-txt {
	list-style: none;
}

	ul.user-txt li {
		padding: 9px 0;
		/* float: none; */
		display: flex;
	}

.uaser-pic .fa {
	color: #0264a8;
}

.user-details. border {
	border-bottom: 1px solid #b3acac;
}

tr.border {
	border-bottom: 1px solid #a79d9d;
	padding-top: 5px !important;
}

span.m-1 {
	padding-left: 20px;
}

.dates .col-md-1 {
	width: 5%;
	margin: 0px !important;
	padding-right: 0px;
}

.dates .form-control {
	height: 28px;
}

.dates label {
	line-height: 27px;
}




/*new add NFA category*/

ul.action-btn {
	margin: 3px 0;
	padding: 0px;
	list-style: none;
}

	ul.action-btn li {
		display: inline;
		padding: 5px 10px;
		font-size: 14px;
		border: 1px solid #e2e1e1;
		background: #f4f7f8;
		margin: 5px 0 !important;
	}

		ul.action-btn li a {
			color: #928c8c;
		}

			ul.action-btn li a:hover {
				color: #458bc4;
			}

.modal-dialog2 {
	widows: 900px !important;
	margin: 50px auto !important;
}















.aduser tr.heading-2 {
	background: rgb(12,105,172);
	background: linear-gradient(180deg, rgba(12,105,172,1) 0%, rgba(12,105,172,1) 0%, rgba(5,101,169,0.6502976190476191) 72%, rgba(2,100,168,0.4654236694677871) 100%);
	color: #fff;
}

ul.comments li {
	display: inline;
	padding: 6px;
}

ul.comments {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.uaser-pic {
	font-size: 20px;
}

.header-contacts li:before {
	content: '';
	position: absolute;
	left: -30px;
	width: 15px;
	top: 50%;
	height: 2px;
	margin-top: -2px;
}

.color-bg, .nav-holder nav li a:before, .hero-slider_control:before, .half-hero-wrap h1:before, .nav-button span, .header-contacts li:before, .lang-links:before, .loader span:after, .hs_init .swiper-scrollbar-drag, .list-folio_nav:before, .list-folio_nav:after, .fc_button:hover, .footer_text:before, .share-icon:after, .share-button:before, .share-button:after, .accordion a.toggle span:before, .accordion a.toggle span:after, .grid-det_link:before, .scroller, .hero-start-link:after, .hero-section .section-title h2:before, .hero-bg:before, .team-social:before, .inline-facts-wrap h6:before, .piechart-holder h4:before, .split-sceen-content_title:before, .order-wrap_inner h3:before, .progress-bar, .scroll-link:before, .inline-facts-wrap h6:before, .tc-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .ss-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .fixed-column-wrap_title h2:before, .pagination a.current-page, .serv-text:before, .order-wrap h4:before, .hero-title .section-title h2:before, .nav-button-wrap:before, .folio-counter div.all-album:before, .inline-filter-panel .gallery-filters a.gallery-filter-active:after, .order-wrap a:hover, .round-counter div.all-album:before, .swiper-counter div#total:before, .ajaxPageSwitchBacklink:before, .error-wrap form .search-submit, .fixed-filter-panel.fw-panel:after, .share-button span:before, .custom-skillbar {
	background: #ec1d25;
}

.sliding-menu a.act-link, .lang-links a:hover, .gallery-filters a.gallery-filter-active, .fw_cb, .content-nav li a.ln i, .content-nav li a.rn i, .box-media-zoom, .footer-header span, .footer-contacts li a:hover, .subcribe-form .subscribe-button i, .pr-list li a, .pr-tags ul li a, .share-icon:hover, .close-share-btn i, .tabs-menu li.selectedLava a, .video-box-btn, .pr-view i, .fixed-column-top, .to-top-btn:hover, .subcribe-form .subscribe-button:hover, .flat-project_title_link:hover, .grid-det_link i, .grid-det_category a, .team-social li a, .text-carousel .swiper-slide-active .text-carousel-item:before, .text-carousel .swiper-slide-active .text-carousel-item:after, .column-wrap-media_btn:hover i, .leaflet-container a.leaflet-popup-close-button, .leaflet-touch .leaflet-bar a, .cont-det-wrap li a, .parallax-header span, .parallax-header a:hover, .post-opt i, .serv-price-wrap span, .fet_pr-carousel-box-media-zoom, .section-title_category a:hover, .hero-start-link a:hover i, .ms_title-start i, .hero-title .section-title h2 span, .section-title_category span, #submit_btn:hover, .show-info:hover span, .half-hero-wrap_link i, .half-hero-wrap h1 span, .carousel-title-wrap h2 a i, .error-wrap .err-btn i, .pr-list.pr-list-color li {
	color: #ec1d25;
}



.horizonral-subtitle span, .tabs-menu li.backLava {
	border-color: #ec1d25;
}

.menu-button-text {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav-button a {
	color: #fff;
	margin: 0 10px;
}

/*radio*/


.radiobtn [type="radio"]:checked,
.radiobtn [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

	.radiobtn [type="radio"]:checked + label,
	.radiobtn [type="radio"]:not(:checked) + label {
		position: relative;
		padding-left: 28px;
		cursor: pointer;
		line-height: 20px;
		display: inline-block;
		color: #666;
	}

		.radiobtn [type="radio"]:checked + label:before,
		.radiobtn [type="radio"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			border: 2px solid #aba0a0;
			border-radius: 100%;
			background: #fff;
		}

		.radiobtn [type="radio"]:checked + label:after,
		.radiobtn [type="radio"]:not(:checked) + label:after {
			content: '';
			width: 12px;
			height: 12px;
			background: #737171;
			position: absolute;
			top: 6px;
			left: 6px;
			border-radius: 100%;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}

		.radiobtn [type="radio"]:not(:checked) + label:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
		}

		.radiobtn [type="radio"]:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

ul.radiobtn label {
	font-weight: 400;
	color: #000 !important;
}

.h-radio {
	padding: 0;
	margin: 0px;
	list-style: none;
}

	.h-radio li {
		display: inline;
		margin-right: 40px;
	}

.v-radio {
	padding: 0;
	margin: 0px;
	list-style: none;
}

	.v-radio li {
		display: block;
		margin-top: 10px;
	}

.v-radio {
	padding: 0;
	margin: 0px;
	list-style: none;
}

ul.v-checkbox {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.checkbox-btn .styled-checkbox {
	position: absolute;
	opacity: 0;
}

	.checkbox-btn .styled-checkbox + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

		.checkbox-btn .styled-checkbox + label:before {
			content: '';
			margin-right: 10px;
			display: inline-block;
			vertical-align: text-top;
			width: 16px;
			height: 16px;
			background: white;
			border: 2px solid #aba0a0;
			border-radius: 3px;
		}

	.checkbox-btn .styled-checkbox:hover + label:before {
		background: #737171;
	}

	.checkbox-btn .styled-checkbox:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	.checkbox-btn .styled-checkbox:checked + label:before {
		background: #737171;
		border: 2px solid #737171;
	}

	.checkbox-btn .styled-checkbox:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

		.checkbox-btn .styled-checkbox:disabled + label:before {
			box-shadow: none;
			background: #ddd;
		}

	.checkbox-btn .styled-checkbox:checked + label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 9px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

.tabs {
	width: 100%;
	margin: 1px 0;
	display: inline-block;
}

button.tablinks {
	width: 100%;
	padding: 5px 0;
	margin: 2px 0;
	font-size: 16px;
	border: 1px solid #000;
}

.tabs button {
	padding: 0 85px 0 15px;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	height: 44px;
	line-height: 44px;
	float: left;
	position: relative;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0px 0 7px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	
}

	.tabs button i {
		position: absolute;
		right: 0;
		width: 44px;
		height: 44px;
		line-height: 44px;
		background: #737171;
		top: 0;
		text-align: center;
	}

button.float-btn.flat-btn.colorlred.active {
	background: #2a2a2e;
}

.tabs button.active i {
	position: absolute;
	right: 0;
	width: 44px;
	height: 44px;
	line-height: 44px;
	background: #ec1d25;
	top: 0;
	text-align: center;
}

.colorlred {
	background: #e8545a;
}

@media only screen and (max-width: 500px) {
	.tabs button {
		padding: 0 5px 0 5px;
		width: 32%;
		outline: none;
		border: none;
		cursor: pointer;
		-webkit-appearance: none;
		height: 35px;
		line-height: 35px;
		float: left;
		position: relative;
		color: #fff;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0px 2px 7px;
		text-align: left;
		font-family: 'Lato', sans-serif;
	}

		.tabs button i {
			display: none;
		}

	.nav-button {
		left: 40px;
		top: -10px;
		width: 28px;
		height: 50px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		text-align: center;
	}

	.content-holder {
		width: 100%;
		margin-left: 16px;
		margin-top: 20px;
	}

	.custom-form {
		float: left;
		width: 92% !important;
		position: relative;
	}

	.main-footer {
		position: absolute;
		left: 0px !important;
		background: #2A2A2E;
		z-index: 2;
		width: 100%;
	}

	.custom-form button {
		width: 100%;
	}
	header.main-header {
		position: static !important;
	}

	.main-footer {
		position: static !important;
	}

	#wrapper {
		position: static !important;
	}

	#main {
		height: auto !important;
		width: 100%;
		z-index: 2;
		margin-bottom: 60px !important;
		clear: both !important;
		display: inline-block !important;
	}
}


.custom-form {
	float: left;
	width: 100%;
	position: relative;
}


.custom-form .selectbox {
	float: left;
	width: 100%;
	color: #292929;
	margin-bottom: 20px;
	z-index: 100;
	border: 1px solid #bfbebe;
	background: #fff;
	color: #888DA0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
}

.custom-form .sel-dec .selectbox .select:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f142';
	position: absolute;
	top: 50px;
	left: 10px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	z-index: 22;
	font-size: 16px;
	font-weight: 300;
	color: #ccc;
}

.custom-form .selectbox .trigger .arrow {
	border-top: 5px solid #666;
	right: 20px;
}

.custom-form textarea,
.custom-form input[type="text"],
.custom-form input[type=email],
.custom-form input[type=password], .custom-form input[type="number"], .custom-form input[type="date"] {
	float: left;
	border: none;
	border: 1px solid #bfbebe !important;
	background: #fff;
	width: 100%;
	padding: 10px 20px !important;
	color: #666 !important;
	font-size: 14px !important;
	-webkit-appearance: none;
	border-radius: 0px !important;
	min-height: 40px;
	font-family: inherit;
}

.custom-form select {
	float: left;
	border: none;
	border: 1px solid #bfbebe !important;
	background: #fff;
	width: 100%;
	padding: 10px 20px !important;
	color: #666 !important;
	font-size: 12px !important;
	-webkit-appearance: none;
	border-radius: 0px !important;
	color: #000 !important;
	min-height: 40px;
}

label {
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 12px;
	margin-top: 7px;
}
	.custom-form input::-webkit-input-placeholder,
	.custom-form textarea::-webkit-input-placeholder {
		color: #888DA0;
		font-weight: 600;
		font-size: 12px;
		position: relative;
	}

	.custom-form input:-moz-placeholder,
	.custom-form textarea:-moz-placeholder {
		color: #888DA0;
		font-weight: 600;
		font-size: 13px
	}

.custom-form textarea {
	resize: none;
	padding: 25px 30px;
	-webkit-appearance: none;
	border: 1px solid #eee;
}

.custom-form input {
	margin-bottom: 10px;
}

a.btn.float-btn.flat-btn.color-bg {
	border-radius: 0px !important;
	padding: 5px 10px !important;
	color: #fff;
	font-size: 13px;
	margin-bottom: 3px;
}

.custom-form button {
	padding: 0 85px 0 45px;
	outline: none;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	height: 44px;
	line-height: 44px;
	float: left;
	position: relative;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin: 25px 0 15px;
}

	.custom-form button i {
		position: absolute;
		right: 0;
		width: 44px;
		height: 44px;
		line-height: 44px;
		background: #2A2A2E;
		top: 0;
	}

#message {
	text-align: left;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	color: #000;
}

	#message h1 {
		font-size: 16px;
		padding-bottom: 10px;
	}

	#message p strong {
		font-weight: 800px;
		color: #000;
	}

.verify-text {
	margin: 30px 0 30px;
	text-align: left;
	color: #666;
	font-size: 13px;
	float: left;
	font-weight: 600;
}

.custom-form .verify-wrap .selectbox {
	float: left;
	width: inherit;
	margin: 10px 0 0 20px;
	line-height: 10px;
}

	.custom-form .verify-wrap .selectbox .text {
		top: 0px;
	}

.verify-wrap {
	float: left;
}

	.verify-wrap label {
		width: inherit;
		position: relative;
		margin-right: 30px;
	}

fieldset {
	border: none;
}


/*------Footer------------------------------------------------*/
.height-emulator {
	z-index: 1;
}

.main-footer {
	right: 0;
	background: url(../images/footer-bg.png) no-repeat bottom center #2A2A2E;
	z-index: 2;
}

.subfooter {
	background: #2D2D32;
	height: 90px;
	z-index: 3;
}

.policy-box {
	float: left;
	color: rgba(255, 255, 255, 0.41);
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 90px;
}

.footer-inner {
	padding: 90px 0 220px;
}

.footer-logo {
	float: left;
	height: 30px;
}

.footer-box {
	text-align: left;
	margin-top: 40px;
}

	.footer-box p {
		font-family: 'Roboto', sans-serif;
		color: rgba(255, 255, 255, 0.41);
	}

.footer_text {
	padding-right: 50px;
	margin-top: 50px;
}

	.footer_text:before {
		content: '';
		position: absolute;
		bottom: -40px;
		left: 0;
		width: 50px;
		height: 1px;
	}

.footer-contacts span {
	padding-right: 30px;
	min-width: 100px;
	float: left;
}

.footer-contacts li {
	text-align: left;
	color: rgba(255, 255, 255, 0.41);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

	.footer-contacts li a {
		color: rgb(255 255 255 / 42%);
	}

.footer-logo img {
	height: 100%;
	width: auto;
	float: left;
}

.footer-header {
	text-align: left;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 10px;
	font-weight: bold;
	margin-bottom: 15px;
	background: #2A2A2E;
	color: rgba(255, 255, 255, 0.41);
}

	.footer-header span {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 16px;
	}

.footer-contacts ul {
	margin: 20px 0px;
	padding: 0px;
	list-style: none;
}

.subcribe-form {
	margin-top: 15px;
}

	.subcribe-form input.enteremail {
		float: left;
		width: 100%;
		border: none;
		background: bottom;
		padding: 15px 100px 15px 0;
		position: relative;
		z-index: 1;
		color: #fff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.21);
	}


select.chosen-select.sel-dec {
	padding: 13px;
	width: 100%;
	border: 1px solid #b1aeae;
}

.right-sticky-img {
	width: 100%;
}

	.right-sticky-img img {
		width: 100%;
	}

.container {
	max-width: 1224px;
	width: 85%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}

.footer-contacts li {
	text-align: left;
	color: rgba(255, 255, 255, 0.41);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

	.footer-contacts li a {
		color: rgb(255 255 255 / 42%);
	}

.main-footer {
	position: absolute;
	left: 90px;
	background: url(../images/footer-bg.png) no-repeat bottom center #2A2A2E;
	z-index: 2;
	width: 100%;
}

h3.register {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-header:before {
	content: "";
	position: absolute;
	top: 18px;
	left: 100px;
	right: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.21);
	width: 70%;
}

.footer-header span {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
}

.subcribe-form .subscribe-button {
	position: absolute;
	top: 15px;
	right: 0;
	width: 100px;
	z-index: 2;
	color: #fff;
	background: none;
	border: none;
	cursor: pointer;
	text-align: right;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
}

.tabcontent {
	float: left;
	padding: 0px 12px;
	border: none !important;
	width: 80%;
	border-left: none;
}
.card{
	padding: 10px;
}

.card-header {
	color: #da1313;
	text-align: left !important;
}

.tabcontent {
	width: 97% !important;
}


col-md-6.mt-3 {
	margin-top: 35px;
}
img.img-fluid {
	width: 465px;
}
.card-body.text-center {
	text-align: center;
}
table, th, td {
	border: 1px solid #cac9c9 !important;
	border-collapse: collapse;
}
table {
	width:100%;
}
th, td {
	padding: 8px;
	text-align: left !important;
	font-weight: 500 !important;
}
.dashboard-tab {
	padding: 8px 17px;
	background: url(/Admission/images/BackGroundGradiant.png) repeat-x #d1d4d5 !important;
	text-align: center;
	margin: 4px 0;
	color: #494a4a;
	border: 1px solid #e8eeef;
	border-radius: 6px;
	font-size: 18px;
}
.tab-section {
	background: #eeeeee;
}
.admin-card {
	background: #23b41a !important;
}


.custom-form textarea,
.custom-form input[type="text"],
.custom-form input[type=email],
.custom-form input[type=password], .custom-form input[type="number"], .custom-form input[type="date"] {
	float: none !important;
	padding: 5px 5px !important;
}