﻿
@{
    ViewData["Title"] = "StudentViewDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
 
@model OdmErp.Web.Areas.Student.Models.StudentModelClass


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Accounts" asp-controller="Dashboard">Setup</a></li> 
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@Model.FirstName</li>
        </ol>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 text-center bg-white">
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="form-group">
                <img id="profileimage" src="@(ViewBag.Profileimage!=null?ViewBag.Profileimage:"http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height: 136px;width: 136px;" />
            </div>
            <div>
                <label>Student Code : @Model.StudentCode</label>
            </div>
            <div class="form-group">
                <a href="/Student/Student/CreateOrEditStudent/@Model.ID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye fa-sm text-white-50"></i> Edit Profile</a>
            </div>
            <hr />
            <div class="form-group text-left">
                <div>
                    <i class="fas fa-user fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.FirstName + " " + (Model.MiddleName == "" ? "" : (Model.MiddleName + " ")) + Model.LastName)</label>
                </div>

                <div>
                    @if (Model.Gender == "Male")
                    {
                        <i class="fas fa-male fa-sm text-red-50"></i><label>&nbsp;&nbsp; Male</label>
                    }
                    else
                    {
                        <i class="fas fa-female fa-sm text-red-50"></i><label>&nbsp;&nbsp; Female</label>
                    }
                </div>
                <div>
                    <i class="fas fa-tint fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.BloodGroupName)</label>
                </div>
                <div>
                    <i class="fas fa-male fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.CategoryName)</label>
                </div>
                <div>
                    <i class="fas fa-calendar fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.DateOfBirth.ToString("dd MMM yyyy"))</label>
                </div>
                <div>
                    <i class="fas fa-pray fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.ReligionName)</label>
                </div>
                <div>
                    <i class="fas fa-flag fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.NatiobalityName)</label>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Address Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentAddressDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.studentAdresses != null)
                        {
                            if (Model.studentAdresses.ToList().Count > 0)
                            {
                                foreach (var a in Model.studentAdresses)
                                {
                                    <div class="form-group">
                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li><i class="fas fa-map-marker fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                            <li>
                                                <div>
                                                    <span><span style="color: #ea3637;font-weight: bold;"> @a.AddressTypeName -</span>  @a.AddressLine1</span>
                                                    @if (a.AddressLine2 != "")
                                                    {
                                                        <span>, @a.AddressLine2</span>
                                                    }
                                                    @if (a.CityName != "")
                                                    {
                                                        <span>, @a.CityName</span>
                                                    }
                                                    @if (a.StateName != "")
                                                    {
                                                        <span>, @a.StateName</span>
                                                    }
                                                    @if (a.CountryName != "")
                                                    {
                                                        <span>, @a.CountryName</span>
                                                    }
                                                    @if (a.PostalCode != "")
                                                    {
                                                        <span>, @a.PostalCode</span>
                                                    }
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                            else
                            {

                                <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                    <h5>No Address Details Uploaded</h5>
                                </div>
                            }
                        }

                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                </div>
                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Parents Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentParentsDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.studentParentsCls != null)
                        {
                            if (Model.studentParentsCls.ToList().Count > 0)
                            {
                                foreach (var a in Model.studentParentsCls)
                                {
                                    <div class="form-group">

                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li>
                                                <img src="@(a.Imagepath!=null?a.Imagepath: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height:60px;width:60px;">
                                            </li>
                                            <li style="margin-left:10px;">
                                                <div>
                                                    <span style="font-weight: 600;">@(a.FirstName + " " + (a.MiddleName != "" ? (a.MiddleName + " ") : a.LastName))</span>
                                                </div>
                                                @if (a.EmailId != "")
                                                {
                                                    <div>
                                                        <i class="fas fa-envelope fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(a.EmailId)</span>
                                                    </div>
                                                }
                                                @if (a.PrimaryMobile != "")
                                                {
                                                    <div>
                                                        <i class="fas fa-mobile fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(a.PrimaryMobile)</span>
                                                    </div>
                                                }
                                                @if (a.AlternativeMobile != null)
                                                {
                                                    <div>
                                                        <i class="fas fa-mobile fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(a.AlternativeMobile)</span>
                                                    </div>
                                                }
                                                @if (a.LandlineNumber != null)
                                                {
                                                    <div>
                                                        <i class="fas fa-phone fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(a.LandlineNumber)</span>
                                                    </div>
                                                }
                                                @if (a.ProfessionTypeID != 0)
                                                {
                                                    <div>
                                                        <span style="font-weight: 600;">Profession Type : </span><span> @a.ProfessionTypeName</span>
                                                    </div>
                                                }
                                                @if (a.ParentRelationshipID != 0)
                                                {
                                                    <div>
                                                        <span style="font-weight: 600;">Relationship : </span><span> @a.ParentRelationshipName</span>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                }
                            }
                            else
                            {

                                <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                    <h5>No Parent Details Uploaded</h5>
                                </div>
                            }
                        }

                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                </div>

                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Current Standard Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentAcademicStandardDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-plus fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.studentClassDetails != null)
                        {
                            <div class="form-group">

                                <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                    <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                    <li>

                                        <div>
                                            @if (Model.studentClassDetails.StandardId != 0)
                                            {
                                                <div><strong>Standard : </strong>&nbsp; @Model.studentClassDetails.StandardName</div>
                                            }
                                            @if (Model.studentClassDetails.optionalSubject != null)
                                            {
                                                <div><strong>Optional : </strong>&nbsp; @Model.studentClassDetails.optionalSubject</div>
                                            }
                                            @if (Model.studentClassDetails.BoardId != 0)
                                            {
                                                <div><strong>Board : </strong>&nbsp; @Model.studentClassDetails.BoardName</div>
                                            }
                                            @if (Model.studentClassDetails.SectionID != 0)
                                            {
                                                <div><strong>Section : </strong>&nbsp; @Model.studentClassDetails.SectionName</div>
                                            }
                                            @if (Model.studentClassDetails.WingID != 0)
                                            {
                                                <div><strong>Wing : </strong>&nbsp; @Model.studentClassDetails.WingName</div>
                                            }
                                            @if (Model.studentClassDetails.AcademicSubjectCombinationId != 0)
                                            {
                                                <div><strong>Subject Group : </strong>&nbsp; @Model.studentClassDetails.SubjectGroupName</div>
                                            }
                                            @if (Model.studentClassDetails.AcademicSessionId != 0)
                                            {
                                                <div><strong>Session : </strong>&nbsp; @Model.studentClassDetails.SessionName</div>
                                            }
                                            @if (Model.studentClassDetails.OraganisationAcademicId != 0)
                                            {
                                                <div><strong>Organization : </strong>&nbsp; @Model.studentClassDetails.OraganisationName</div>
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        }
                        else
                        {

                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                <h5>No Standard Details Uploaded</h5>
                            </div>
                        }


                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                </div>
                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Log In Access Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentloginaccessDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.accesscls != null)
                        {
                            foreach (var a in Model.accesscls)
                            {
                                <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                    <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                    <li>

                                        <div>
                                            <span style="font-weight: 600;">Role : </span> <span>&nbsp; @a.RoleName</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Username : </span> <span>&nbsp; @a.Username</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Modified On : </span> <span>&nbsp; @a.ModifiedDate.ToString("dd-MMM-yyyy")</span>
                                        </div>
                                    </li>
                                </ul>
                            }

                        }
                        else
                        {
                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                <h5>No Login Access Provided</h5>
                            </div>
                        }



                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Emergency Contact Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentEmergencyContactDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.emergencyContact != null)
                        {

                            <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                <li>

                                    <div>
                                        <span style="font-weight: 600;">Person Name : </span> <span>&nbsp; @Model.emergencyContact.ContactPersonName</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: 600;">Mobile : </span> <span>&nbsp; @Model.emergencyContact.Mobile</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: 600;">Email ID : </span> <span>&nbsp; @Model.emergencyContact.EmailId</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: 600;">Modified On : </span> <span>&nbsp; @Model.emergencyContact.ModifiedDate.ToString("dd-MMM-yyyy")</span>
                                    </div>
                                </li>
                            </ul>


                        }
                        else
                        {
                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                <h5>No Emergency Contact Details Provided</h5>
                            </div>
                        }



                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Transportation Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentTransportationDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>
                        @if (Model.transport != null)
                        {

                            <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                @if (Model.transport.IsTransport == true)
                                {
                                    <li>

                                        <div>
                                            <span style="font-weight: 600;">City : </span> <span>&nbsp; @Model.transport.CityName</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Location : </span> <span>&nbsp; @Model.transport.LocationName</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Distance : </span> <span>&nbsp; @Model.transport.Distance</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Vehicle Type : </span> <span>&nbsp; @Model.transport.VehicleType</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Vehicle Number : </span> <span>&nbsp; @Model.transport.VehicleNumber</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Departure Time : </span> <span>&nbsp; @Model.transport.departureName</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: 600;">Modified On : </span> <span>&nbsp; @Model.transport.ModifiedDate.ToString("dd-MMM-yyyy")</span>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>

                                        <div>
                                            <span style="font-weight: 600;">Not Required</span>
                                        </div>
                                    </li>
                                }
                            </ul>


                        }
                        else
                        {
                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                <h5>No Transportation Details Provided</h5>
                            </div>
                        }



                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Last Educational Details</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentAcademicDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>

                        <div class="row">
                            @if (Model.StudentAcademicAccess != null)
                            {
                                if (Model.StudentAcademicAccess.ToList().Count > 0)
                                {
                                    int j = 0;
                                    foreach (var a in Model.StudentAcademicAccess)
                                    {
                                        <div class="col-md-6 mb-2">
                                            <div class="card shadow">
                                                <a asp-action="CreateOrEditStudentAcademic" asp-controller="Student" asp-route-id="@a.ID" asp-route-sid="@Model.ID" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                                <div class="row m-1">
                                                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 d-flex align-items-center justify-content-center p-2 bg-primary" style="font-size: 1.2rem; color: white;">
                                                        @(j = j + 1)
                                                    </div>
                                                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 p-2">
                                                        @if (a.OrganizationName != "")
                                                        {
                                                            <div> <span style="font-weight: 600;">Organisation :</span> @a.OrganizationName</div>
                                                        }
                                                        @if (a.ClassName != "")
                                                        {
                                                            <div> <span style="font-weight: 600;">Class :</span> @a.ClassName</div>
                                                        }
                                                        @if (a.FromDate.ToString() != "")
                                                        {
                                                            <div> <span style="font-weight: 600;">FromDate :</span> @a.FromDate.ToString("dd MMM yyyy")</div>
                                                        }
                                                        @if (a.ToDate.ToString() != "")
                                                        {
                                                            <div> <span style="font-weight: 600;">ToDate :</span> @a.ToDate.ToString("dd MMM yyyy")</div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {

                                    <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;padding-left: 20px;">
                                        <h5>No Last Educational Details Uploaded</h5>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Educational Document</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentDocumentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>

                        @*<ul style="list-style: none; display: inline-flex; padding-left: 0px;">*@
                        <div class="p-2">
                            @if (Model.StudentDocumentAccess != null)
                            {
                                if (Model.StudentDocumentAccess.ToList().Count > 0)
                                {
                                    foreach (var a in Model.StudentDocumentAccess)
                                    {
                                        <div class="row">
                                            <div class="col-md-2" style="text-align:right">
                                                <span style="font-weight: 600;">@a.BoardName</span> |
                                            </div>
                                            <div class="col-md-2">
                                                <span style="font-weight: 600;">@a.ClassName</span> |
                                            </div>
                                            <div class="col-md-4">
                                                <b>@a.DocumentSubTypeName</b>
                                            </div>
                                            <div class="col-md-4">
                                                <a asp-action="CreateOrEditStudentDocumentDetails" asp-route-id="@a.ID"><i class="fa fa-plus"></i> Upload</a> |
                                                @if (a.IsVerified == true)
                                                {
                                                    <label>Verified</label>
                                                }
                                                else
                                                { <label>Not Verified</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix mb-1"></div>

                                    }
                                }
                            }



                        </div>
                        @*</ul>*@



                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>


                <div class="col-md-12">
                    <div class="form-group bg-white" style="padding:10px;">
                        <div class="form-group" style="border-bottom: 1px solid;">
                            <label style="font-size: 17px;">Personal Document</label>
                            <a style="right: 30px;position: absolute;" asp-action="StudentDocumentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                        </div>

                        @*<ul style="list-style: none; display: inline-flex; padding-left: 0px;">*@
                        <div class="p-2">
                            @if (Model.StudentPersonalDocumentAccess != null)
                            {
                                if (Model.StudentPersonalDocumentAccess.ToList().Count > 0)
                                {
                                    foreach (var a in Model.StudentPersonalDocumentAccess)
                                    {
                                        <div class="row">
                                            <div class="col-md-7">
                                                <b>@a.DocumentSubTypeName</b>
                                            </div>
                                            <div class="col-md-5">
                                                <a asp-action="CreateOrEditStudentDocumentDetails" asp-route-id="@a.ID"><i class="fa fa-plus"></i> Upload</a> |
                                                @if (a.IsVerified == true)
                                                {
                                                    <label>Verified</label>
                                                }
                                                else
                                                { <label>Not Verified</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix mb-1"></div>

                                    }
                                }
                            }
                        </div>
                        @*</ul>*@



                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>

            </div>
        </div>
    </div>
</div>

