﻿@{
    ViewData["Title"] = "Fee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.FeesType>


@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Fee</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Fee</h1>

                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    </div>

                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="resetmsg()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk btn-outline-success mr-4" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                    <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk btn-outline-success mr-4" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>
                    @*<a href="#" id="delete_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk btn-outline-success mr-4" onclick="Delete()"><i class="fas fa-trash"></i>&nbsp;Delete</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4" onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    @*  <button type="button" id="btn_Print" onclick="PrintData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Print&nbsp;&nbsp;</button>*@

                    <span style="color:#1cc88a" class="count_selectedrows"></span>
                </div>

                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                <label class="container">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Select All
                                                </label>
                                            </th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Slno</th>*@
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Parent Fee</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Description</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr id="@item.ID">
                                                    <td>
                                                        <label class="container">
                                                            <input type="checkbox" value="@item.ID" class="chk_checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <input type="hidden" id="@item.ID" />
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ParentFeeTypeName
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Name
                                                    </td>

                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Description
                                                    </td>

                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Status
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/StudentPayment/downloadFeesTypeSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles();" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Fee</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" />
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Name <span style="color:red;">*</span></label>
                        <input class="form-control txt_name" id="txt_name" />
                        <span class="text-danger txt_name_validation"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Description</label>
                        <textarea class="form-control txt_name" id="txt_description"></textarea>
                    </div>

                    <div class="form-group" id="divSubType">
                        <label class="control-label font-weight-bold">SubType</label>
                        <input id="chk_IsSubType" type="checkbox" style="width: 40px; height: 25px;" ; />

                    </div>
                    <div class="form-group" id="divfeestypeprice">
                        <label class="control-label">Parent Fee</label>
                        <select class="form-control" id="ddl_feestype" style="width:100%" ;>
                            <option value="0">Select Parent Fee</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group" id="divSubType">
                        <label class="control-label font-weight-bold">Have Installment</label>
                        <input id="chk_haveinstallment" type="checkbox" style="width: 40px; height: 25px;" ; />

                    </div>

                    <div class="card" id="divlatefee">
                        <label class="control-label font-weight-bold">Late Fee Type</label>
                        <div class="card-body row">
                            <label class="control-label">Percentage</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="rbd_Percentage" style="width:30px;height:30px;" name="latefee" />
                            &nbsp;&nbsp;&nbsp;
                            <label class="control-label">Amount</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="rbd_Amount" style="width:30px;height:30px;" name="latefee" />
                        </div>


                    </div>


                    <div class="form-group modal-footer">
                        <button type="button" id="btn_cancel" onclick="Close_Popup()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-close"></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>
                        <button type="button" id="btn_saveupdate" onclick="SaveData()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  SAVE&nbsp;&nbsp;</button>
                    </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 80px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
        /* font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #1cc88a;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>



<script src="~/js/jquery-3.5.1.min.js"></script>
<link href="~/js/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/js/datetimepicker/bootstrap-datetimepicker.js"></script>

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://unpkg.com/simplebar@latest/dist/simplebar.css' rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

<script>

    function resetmsg() {
        $('.txt_name_validation').text('');
    }

    //$("input[type='checkbox']").on("change", function () {
    $(document).on('change', '.chk_checkbox', function () {
        debugger;
        var id = this.value;
        var value = $(this).data("active");
        //if ($(this).is(':checked')) {
        // var id = $(this).closest('tr').prop('id');
        // var count = $('#dataTable').find("input[type='checkbox']:checked").length;
        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        $('.count_selectedrows').text(count + ' Selected')

        var totalrows = $('#dataTable tbody tr').length;

        if (totalrows != count) {
            $('#ckbCheckAll').prop('checked', false);
        }
        else if (totalrows = count) {
            $('#ckbCheckAll').prop('checked', true);
        }

        if (count == 1) {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
            $('.count_selectedrows').show();
        }
        else if (count > 1) {
            $('.edit_lnk').addClass('disabled');
            // $('.delete_lnk').addClass('disabled');
            $('.count_selectedrows').show();
        }
        else {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
            $('.count_selectedrows').hide();
        }

        EditData(id);
        $('#btn_saveupdate').text('UPDATE');
        $('#hdn_id').val(id);


    });

    function SaveData() {
        debugger;
        var havechildyn = false; var latepaymentypepercentage = ''; var latepaymentAmount = '';
        var havechild = $('#chk_IsSubType').is(':checked');
        if (havechild == true) {
            havechildyn = true;
            $('#chk_haveinstallment').prop('disabled', 'disabled');
            var id = $('#ddl_feestype option:selected').val();
            $.ajax({
                url: "../StudentPayment/UpdateFeesTypeParent",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'id': id, 'HaveChild': havechildyn },
                dataType: 'json',
                // async: false,
                success: function (response) {
                    debugger;
                },
                failure: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
        else {
            havechildyn = false;
            $('#chk_haveinstallment').prop('disabled', '');
        }

        var ischkpaytypePercentage = $('#rbd_Percentage').is(':checked');
        var ischkpaytypeAmount = $('#rbd_Amount').is(':checked');
        if (ischkpaytypePercentage == true) {
            latepaymentypepercentage = 'Percentage';
        }
        else if (ischkpaytypeAmount == true) {
            latepaymentAmount = 'Amount';
        }
        var ParentFeeTypeName = '';
        var feetype = $('#ddl_feestype option:selected').val();
        if (feetype == '0' || feetype == "") {
            ParentFeeTypeName = '';
        }
        else {
            ParentFeeTypeName = $('#ddl_feestype option:selected').text();
        }
        var feesType = {
            Active: 'true',
            Name: $('#txt_name').val(),
            Description: $('#txt_description').val(),
            IsSubType: $('#chk_IsSubType').is(':checked'),
            ParentFeeTypeID: $('#ddl_feestype option:selected').val(),
            ParentFeeTypeName: ParentFeeTypeName,
            HaveChild: havechildyn,
            HaveInstallment: $('#chk_haveinstallment').is(':checked'),
            ID: '0',
            InsertedDate: '01-01-2020',
            InsertedId: '1',
            IsAvailable: 'true',
            ModifiedDate: '01-01-2020',
            ModifiedId: '1',
            Status: 'Active',
            LateFeePercentageType: latepaymentypepercentage,
            LateFeeAmountType: latepaymentAmount
        };





        if ($('#btn_saveupdate').text() == 'SAVE') {
            var Name = $('#txt_name').val();
            if (Name == '') {
                $('.txt_name_validation').text('Please Enter Name');
                $('#txt_name').focus();
            }
            else {



                $.ajax({
                    url: "../StudentPayment/SaveOrUpdateFeesType",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'feesType': feesType },
                    dataType: 'json',
                    success: function (response) {
                        debugger;
                        if (response == 'Records already Exists !!!') {
                            swal({ title: "Fee", text: response, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        else {
                            swal({ title: "Fee", text: response, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        $('#mclose').click();
                        Reset();
                    },
                    failure: function (response) {
                        swal({ title: "Fee", text: response, type: "error" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                });
            }

        }
        else {




            var feesType = {
                Active: 'true',
                Name: $('#txt_name').val(),
                Description: $('#txt_description').val(),
                IsSubType: $('#chk_IsSubType').is(':checked'),
                ParentFeeTypeID: $('#ddl_feestype option:selected').val(),
                ParentFeeTypeName: ParentFeeTypeName,
                HaveChild: havechildyn,
                HaveInstallment: $('#chk_haveinstallment').is(':checked'),
                ID: $('#hdn_id').val(),
                InsertedDate: '01-01-2020',
                InsertedId: '1',
                IsAvailable: 'true',
                ModifiedDate: '01-01-2020',
                ModifiedId: '1',
                Status: 'Active',
                LateFeePercentageType: latepaymentypepercentage,
                LateFeeAmountType: latepaymentAmount
            };



            $.ajax({
                url: "../StudentPayment/UpdateFeesType",
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: { 'feesType': feesType },
                dataType: 'json',
                success: function (response) {
                    debugger;
                    if (response == 'Records already Exists !!!') {
                        swal({ title: "Fee", text: response, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                    else {
                        swal({ title: "Fee", text: response, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                    $('#mclose').click();
                    Reset();
                },
                failure: function (response) {
                    swal({ title: "Fee", text: response, type: "error" },
                        function () {
                            location.reload();
                        }
                    );
                }
            });
        }

    }


    function CreateData() {
        $('#myModalLabel2').text('Add Fee');
        $('#btn_saveupdate').text('SAVE');
        $('#txt_name').val('');
        $('#txt_description').val('');
        $('#chk_IsSubType').prop('checked', false);
        $('#ddl_feestype option:selected').val('');
    }

    function EditData(id) {
        //debugger;



        $('#myModalLabel2').text('Edit Fee');
        var Name = $('#txt_name').val();
        if (Name == '') {
            $('.txt_name_validation').text('Please Enter Name');

        }
        else {
            $('.txt_name_validation').text('');
        }
        $.ajax({
            url: '../StudentPayment/CreateOrEditFeeType/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                debugger;

                $('#txt_name').val(data.name);

                $('#txt_description').val(data.description);
                $('#divfeestypeprice').find($('#ddl_feestype [value=' + data.parentFeeTypeID + ']').attr('selected', 'true'));
                var optionText2 = $("#ddl_feestype option:selected").text();
                $('#select2-ddl_feestype-container').text(optionText2);

                if (data.isSubType == true) {
                    $('#chk_IsSubType').prop('checked', true);
                    $("#ddl_feestype").attr("enabled", "enabled");
                    $('#chk_haveinstallment').attr('disabled', 'disabled');
                }
                else {
                    $('#chk_IsSubType').prop('checked', false);
                    $('#chk_haveinstallment').removeAttr("disabled");
                }

                if (data.haveInstallment == true) {
                    $('#chk_haveinstallment').prop('checked', true);
                }
                else {
                    $('#chk_haveinstallment').prop('checked', false);
                }
                if (data.lateFeePercentageType == 'Percentage') {
                    $('#rbd_Percentage').attr('checked', true);
                }
                else {
                    $('#rbd_Percentage').attr('checked', false);
                }
                if (data.lateFeeAmountType == 'Amount') {
                    $('#rbd_Amount').attr('checked', true);
                }
                else {
                    $('#rbd_Amount').attr('checked', false);
                }


                ParentFeeTypeName: $('#txt_description').val(),
                    $('#hdn_id').val(data.id);

            }
        });
    }
    function Delete() {
        debugger;
        var count = $('#dataTable').find("input[type='checkbox']:checked").length;
        if (count == 1) {

            var id = $('#hdn_id').val();
            $.ajax({
                url: '../StudentPayment/DeleteFeesType/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    Refresh();
                }
            });
        }
        else {

            var Ids = [];
            $('#dataTable').find("input[type='checkbox']:checked").each(function () {
                Ids.push($(this).val());
            });

            $.each(Ids, function (index, id) {
                //debugger;
                $.ajax({
                    url: '../StudentPayment/DeleteFeesType/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        Refresh();
                    }
                });
            });

        }
    }

    function Refresh() {
        window.location.reload();
    }
    function ActiveLink() {
        debugger;
        var ids = [];
        var status = "ACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../StudentPayment/ActiveDeactiveFeesType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "Fee", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }
    function DeactiveLink() {
        debugger;
        var ids = [];
        var status = "DEACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../StudentPayment/ActiveDeactiveFeesType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "Fee", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }

</script>


<script type="text/javascript">

    function truncateDate(date) {
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    }
</script>

<script>
    $(document).ready(function () {
        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');
        $("#ddl_feestype").attr("disabled", "disabled");

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $('.count_selectedrows').show();
            } else {
                $(".chk_checkbox").prop("checked", false);
                $('.count_selectedrows').hide();
            }

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected')
            if (count == 1) {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').show();
            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                // $('.delete_lnk').addClass('disabled');
                $('.count_selectedrows').show();
            }
            else {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').hide();
            }


        });

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $("input:checkbox[name=tableCheck]:checked").each(function () {
                    var id = this.value;
                    var count = $('#dataTable').find(".chk_checkbox:checked").length;
                    $('.count_selectedrows').text(count + ' Selected');
                    var value = $(this).data("active");
                    Ids.push(value);
                    $('.edit_lnk').addClass('disabled');
                    var FirstVal = Ids[0];
                    for (var j = 0; j < Ids.length; j++) {

                        if (Ids[j] == FirstVal) {
                            if (FirstVal == "ACTIVE") {
                                $('.Acitve_lnk').addClass('disabled');
                                $('.Deacitve_lnk').removeClass('disabled');
                            }
                            else {
                                $('.Acitve_lnk').removeClass('disabled');
                                $('.Deacitve_lnk').addClass('disabled');
                            }

                        }
                        else {
                            FirstVal = "";
                            $('.Deacitve_lnk').addClass('disabled');
                            $('.Acitve_lnk').addClass('disabled');
                        }
                    }

                });
            } else {
                $(".chk_checkbox").prop("checked", false);
                var count = $('#dataTable').find(".chk_checkbox:checked").length;
                $('.count_selectedrows').text(count + ' Selected');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');
                $('.edit_lnk').addClass('disabled');
            }
        });

        //  debugger;
        //$.ajax({
        //    url: '../StudentPayment/Get_FeesTypeApplicable',
        //    type: "GET",
        //    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        //    dataType: "json",
        //    success: function (data) {
        //        $.each(data, function (index, item) {
        //            //  debugger;
        //            $('#ddl_feestypeApplicable').append(
        //                $('<option></option>').val(item.id).html(item.name)
        //            );

        //            $('#ddl_FeeApplicableTypeData').append(
        //                $('<option></option>').val(item.id).html(item.name)
        //            );
        //        });
        //    }
        //});


        $.ajax({
            url: '../StudentPayment/Get_FeesType',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    //debugger;
                    $('#ddl_feestype').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );


                });
            }
        });


        //$("#dataTable").DataTable({
        //    "processing": true, // for show progress bar
        //    "serverSide": true, // for process server side
        //    "filter": true, // this is for disable filter (search box)
        //    "orderMulti": false, // for disable multiple column at once
        //    "ordering": true,
        //    "ajax": {
        //        "url": "/StudentPayment/LoadDataFeesType",
        //        "type": "POST",
        //        "datatype": "json",
        //    },
        //    "columns": [

        //        {
        //            "render": function (data, type, full, meta) { return '  <label class="container" style="width:0px!important"><input type="checkbox" name="tableCheck" data-active="' + full.status + '" value="' + full.id + '" class="chk_checkbox"><span class="checkmark"></span></label>'; }, "orderable": false, "targets": 0
        //        },
        //        {
        //            data: 'parentFeeTypeName'
        //        },
        //        {
        //            data: 'name'
        //        },
        //        {
        //            data: 'description'
        //        },
        //        { data: 'status' },
        //    ]
        //});



        var Ids = [];
        $(document).on('change', '.chk_checkbox', function () {
            debugger;
            var id = this.value;
            var value = $(this).data("active");

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');

            if (this.checked == true) {
                Ids.push(value);

            }
            else {

                Ids.splice($.inArray(value, Ids), 1);

            }
            if (count == 1) {
                if (Ids[0] == "ACTIVE") {
                    $("#hdnStatus").val(id);


                    $('.Acitve_lnk').addClass('disabled');
                    $('.Deacitve_lnk').removeClass('disabled');
                }
                else {
                    $("#hdnStatus").val(id);
                    $('.Deacitve_lnk').addClass('disabled');
                    $('.Acitve_lnk').removeClass('disabled');
                }
                $('.edit_lnk').removeClass('disabled');

            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                var FirstVal = Ids[0];
                for (var j = 0; j < Ids.length; j++) {

                    if (Ids[j] == FirstVal) {
                        if (FirstVal == "ACTIVE") {
                            $('.Acitve_lnk').addClass('disabled');
                            $('.Deacitve_lnk').removeClass('disabled');
                        }
                        else {
                            $('.Acitve_lnk').removeClass('disabled');
                            $('.Deacitve_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.Deacitve_lnk').addClass('disabled');
                        $('.Acitve_lnk').addClass('disabled');
                    }
                }

            }
            else {
                $('.edit_lnk').addClass('disabled');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');

            }
        });





    });
</script>
<script type="text/javascript">
    $(function () {

        $("#chk_IsSubType").click(function () {
            if ($(this).is(":checked")) {
                $("#ddl_feestype").removeAttr("disabled");
                $("#ddl_feestype").focus();
                $('#chk_haveinstallment').attr('disabled', 'disabled');
            } else {
                $("#ddl_feestype").attr("disabled", "disabled");
                $('#chk_haveinstallment').removeAttr("disabled");
            }
        });
    });






</script>


<script type="text/javascript">
    function check() {
        //alert(document.getElementById("chk").checked);
        if (document.getElementById("chk").checked == true) {
            window.location.reload();
        }

    }

    function Close_Popup() {
        $('#mclose').click();
        $('#mclose').modal('hide');
        $('#txt_name').val('');
        $('#txt_description').val('');
        location.reload();
    }

</script>

<script>
    function uploadFiles() {
        //debugger;
        var formData = new FormData();
        var totalFiles = document.getElementById("file").files.length;
        var file = document.getElementById("file").files[0];
        formData.append("file", file);

        $.ajax(
            {
                url: "../StudentPayment/UploadFeesType",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    // debugger;
                    if (data == "Excel upload successfully") {
                        swal({ title: "Bulk Upload", text: data, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                    else {
                        swal({ title: "Bulk Upload", text: data, type: "error" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                }
            });
    }


</script>