﻿

@{
    ViewData["Title"] = "MessageContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.MessagesContent>


@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">MessageContent</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Message Content</h1>


                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="#" id="crt_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk" data-toggle="modal" data-target="#myModal2" onclick="resetmsg()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    <a href="#" id="delete_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="Delete()"><i class="fas fa-trash"></i>&nbsp;Delete</a>
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm " onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span class="count_selectedrows"></span>
                </div>

                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                @*<label class="container">
                                                    <input type="checkbox" id="checkBoxAll" class="chk_checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>*@
                                            </th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold"><i class="fa fa-check-circle-o"></i></th>*@
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Type</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Category</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr id="@item.ID">
                                                    <td>
                                                        <label class="container">
                                                            <input type="checkbox" value="@item.ID" class="chk_checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <input type="hidden" id="@item.ID" />
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Type
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Category
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                            &nbsp;&nbsp;
                                                            <a title="Edit" asp-action="CreateOrEditFeeTypeApplicable" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                                            <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                            <a class="one-time-add" title="Delete" asp-action="DeleteFeesTypeApplicable" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this FeesTypeApplicable?');"><i class="fas fa-trash"></i></a>

                                                        </td>*@
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="UploadBloodGroup" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/Master/downloadBloodGroupSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Message Content</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    @*<form asp-action="SaveOrUpdateFeesTypeApplicable">*@
                    <input type="hidden" />
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group" id="divfeestypeprice">
                        <label class="control-label font-weight-bold">Type *</label>
                        @*< <input class="form-control txt_Type" id="txt_Type" />
            <span class="text-danger txt_Type_validation"></span>*@
                        <select class="form-control" id="txt_Type" style="width:100%" ;>
                            <option value="-1">--Select--</option>
                            <option value="SMS">SMS</option>
                            <option value="EMAIL">EMAIL</option>
                            <option value="NOTIFICATION">NOTIFICATION</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Category</label>
                        <textarea class="form-control txt_Category" style="height:40px;" id="txt_Category"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">SubCategory</label>
                        <textarea class="form-control txt_SubCategory" style="height:50px;" id="txt_SubCategory"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Title</label>
                        <textarea class="form-control txt_Title" style="height:60px;" id="txt_Title"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Body</label>
                        <textarea class="form-control txt_Body" style="height:60px;" id="txt_Body"></textarea>
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Template</label>
                        <textarea class="form-control txt_Template" style="height:60px;" id="txt_Template"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <button type="button" id="btn_saveupdate" onclick="SaveData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        /* height: 90%;*/
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        /*height: 99%;*/
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 300px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #aaa;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/sweetalert.min.js"></script>
<link href="~/js/sweet-alert.css" rel="stylesheet" />
<script>

    function resetmsg() {
        $('.txt_Type_validation').text('');
    }

    //$("input[type='checkbox']").on("change", function () {
    $("input[type='checkbox']").change(function () {
        //if ($(this).is(':checked')) {
        var id = $(this).closest('tr').prop('id');
        var count = $('#dataTable').find("input[type='checkbox']:checked").length;
        $('.count_selectedrows').text(count + ' Selected')
        if (count == 1) {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
        }
        else if (count > 1) {
            $('.edit_lnk').addClass('disabled');
            // $('.delete_lnk').addClass('disabled');
        }
        else {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
        }
        // alert(count);
        //$('input[type="checkbox"]').not(this).prop('checked', false);
        //$('#myModal2').modal('toggle');
        EditData(id);
        $('#btn_saveupdate').text('Update');
        $('#hdn_id').val(id);
        // }

        //else {
        //    alert('Please selet any one Record');
        //}

    });

    function SaveData() {
        debugger;
        if ($('#btn_saveupdate').text() == 'Save') {
            var Name = $('#txt_Type').val();
            if (Name == '') {
                $('.txt_Type_validation').text('Please Enter Name');
                $('#txt_Type').focus();
            }
            else {
                debugger;
                var messagesContent = {
                    Active: '1',
                    Type: $('#txt_Type option:selected').val(),
                    Category: $('#txt_Category').val(),
                    SubCategory: $('#txt_SubCategory').val(),

                    Title: $('#txt_Title').val(),
                    Body: $('#txt_Body').val(),
                    Template: $('#txt_Template').val(),


                    ID: '1',
                    InsertedDate: '01-01-2020',
                    InsertedId: '1',
                    IsAvailable: '1',
                    ModifiedDate: '01-01-2020',
                    ModifiedId: '1',
                  
                    ReturnMsg: 'msg',
                    Status: 'Active'

                };


                $.ajax({
                    url: "../StudentPayment/SaveOrUpdateMessagesContent",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'messagesContent': messagesContent },
                    dataType: 'json',
                  
                    success: function (response) {
                        // debugger;
                         //alert(response.returnMsg);
                       //Subrat
                        if (response.returnMsg == 'Records already Exists !!!') {
                          swal({
                             text: response.returnMsg,
                             icon: 'failure',
                         });
                       } else {
                           swal({
                               text: response.returnMsg,
                              icon: 'success',
                          });
                        }
                        //Subrat
                       // $('#mclose').click();
                        Refresh();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: response.returnMsg,
                                icon: 'failure',
                            });
                        }
                        ////Subrat//
                        //swal({
                        //    text: response.returnMsg,
                        //    icon: 'failure',
                        //});
                        // //Subrat//
                    }
                });
            }
        }
        else {
            var Name = $('#txt_Type').val();
            if (Name == '') {
                $('.txt_Type_validation').text('Please Enter Type');
                $('#txt_name').focus();
            }
            else {
                var messagesContent = {
                    Active: '1',
                    Type: $('#txt_Type option:selected').val(),

                    Category: $('#txt_Category').val(),
                    SubCategory: $('#txt_SubCategory').val(),
                   
                    Title: $('#txt_Title').val(),
                    Body: $('#txt_Body').val(),
                    Template: $('#txt_Template').val(),

                    ID: $('#hdn_id').val(),
                    InsertedDate: '01-01-2020',
                    InsertedId: '1',
                    IsAvailable: '1',
                    ModifiedDate: '01-01-2020',
                    ModifiedId: '1',
                   
                    ReturnMsg: 'msg',
                    Status: 'Active'

                };


                $.ajax({
                    url: "../StudentPayment/UpdateMessagesContent",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'messagesContent': messagesContent },
                    dataType: 'json',
                    // async: false,


                    success: function (response) {
                        // debugger;
                        // alert(response.returnMsg);
                        swal({
                            text: response.returnMsg,
                            icon: 'success',
                        });
                        $('#mclose').click();
                        Reset();
                        //Subrat//
                       // Refresh();
                          //Subrat//
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                             //Subrat//
                            //alert(response.returnMsg);
                             //Subrat//
                            swal({
                                text: response.returnMsg,
                                icon: 'failure',
                            });
                        }
                        //Subrat//
                        //alert(response.returnMsg);
                        //Subrat//
                    }
                });
            }
        }
      //  Refresh();
        //swal({
        //    text: response.returnMsg,
        //    icon: 'success',
        //});
        function Reset() {
            $('#txt_description').val('');
            $('#txt_name').val('');
       }

    }
    function CreateData() {
        $('#myModalLabel2').text('Add Message Content');
        $('#btn_saveupdate').text('Save');
    }

    function EditData(id) {
        debugger;
        $('#myModalLabel2').text('Edit Message Content');
        var Type = $('#txt_Type').val();
        if (Type == '') {
            $('.txt_Type_validation').text('Please Enter Type');
            $('#txt_Type').focus();

        }
        else {
            $('.txt_Type_validation').text('');
        }
        $.ajax({
            url: '../StudentPayment/CreateOrEditMessagesContent/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                //debugger;

               // $('#txt_Type').val(data.type);
             
                //$("#txt_Type option:selected").text(data.type);


                $('#divfeestypeprice').find($('#txt_Type [value=' + data.type + ']').attr('selected', 'true'));
                var optionText2 = $("#txt_Type option:selected").text();
                $('#select2-txt_Type-container').text(optionText2);
               
                $('#txt_Category').val(data.category);
                $('#txt_SubCategory').val(data.subCategory);
                $('#txt_Title').val(data.title);
                $('#txt_Body').val(data.body);
                $('#txt_Template').val(data.template);

                $('#hdn_id').val(data.id);

            }
        });
    }
    function Delete() {
        debugger;
        var count = $('#dataTable').find("input[type='checkbox']:checked").length;
        if (count == 1) {

            var id = $('#hdn_id').val();
            $.ajax({
                url: '../StudentPayment/DeleteMessagesContent/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    Refresh();
                }
            });
        }
        else {
            var Ids = [];
            $('#dataTable').find("input[type='checkbox']:checked").each(function () {
                Ids.push($(this).val());
            });
            $.each(Ids, function (index, id) {
                //debugger;
                $.ajax({
                    url: '../StudentPayment/DeleteMessagesContent/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        Refresh();
                    }
                });
            });

        }
    }
    function Refresh() {
        window.location.reload();
    }
</script>


<script>
    $(document).ready(function () {
        //debugger;



        $('.dataTables_paginate paging_simple_numbers').hide();
        $('.pagination-container').hide();

    });



</script>
