﻿
@{
    ViewData["Title"] = "PaymentResponse";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.PaymentResponseViewModel




@{

    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon" href="~/Admission/images/favicon.png">
<link rel="shortcut icon" href="~/Admission/images/favicon.png">
<link type="text/css" rel="stylesheet" href="~/Admission/css/plugins.css">
<link type="text/css" rel="stylesheet" href="~/Admission/css/form-style.css">
<style>
    .text-danger {
        color: red;
    }
</style>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }
    a.btn.float-btn.flat-btn.color-bg {
        border-radius: 0px !important;
        padding: 10px 12px !important;
        color: #fff;
        font-size: 13px;
        margin-bottom: 3px;
    }
</style>
<div id="main">
    <header class="main-header">
        <a href="https://www.odmps.org/" class="header-logo"><img src="~/Admission/images/logo.png" alt=""></a>

        <div class="header-contacts">
            <ul>
                <li><span> Call </span> <a href="#">1800-120-2316</a></li>
                <li><span> Write </span> <a href="mailto:theside@domain.com">info@odmps.org</a></li>
            </ul>
        </div>
    </header>
    <div class="left-panel">
        <div class="horizonral-subtitle"><span></span></div>
        <div class="left-panel_social">
            <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="content-holder">

            <div class="row">

                <div class="col-md-6" id="registrationCard">
                    <h3 class="register">Payment Status</h3>
                    <div id="contact-form">


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="custom-form">
                                    <div class="card-body">


                                        <table class="table table-bordered">
                                            <tr>

                                                <th>Student Name:</th>
                                                <td>@Model.Name</td>

                                                

                                            </tr>
                                            @*<tr>
                                                <th>Parent Name:</th>
                                                <td>@Model.ParnetName</td>
                                            </tr>*@
                                            <tr>
                                                <th>Mobile:</th>
                                                <td>@Model.Mobile</td>
                                            </tr>

                                        </table>



                                        @*@if (Model.UniqueTxnID != null)
                            {
                                <a asp-action="Profile" asp-area="Admission" asp-controller="Registration" id="redButton"
                                   asp-route-id="@Model.LeadReferenceId" class="btn float-btn flat-btn color-bg">GO TO PROFILE</a>
                            }*@
                                    </div>
                                </div>

                                <div class="custom-form" style="margin-top:20px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th width="50%">Transction Status:</th>
                                                        <td>@Model.Status</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Transaction Id:</th>
                                                        <td>@Model.UniqueTxnID</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Amount:</th>
                                                        <td>@Model.Amount</td>
                                                    </tr>
                                                    <tr>
                                            @*<th>Receipt:</th>
                                            <td>
                                                <a asp-action="DownloadReceipt" asp-area="Admission" asp-controller="Student" id="redButton"
                                                   asp-route-id="@Model.LeadReferenceId" class="btn float-btn flat-btn color-bg">Download</a>

                                            </td>*@
                                        </tr>
                                                </table>



                                                @*@if (Model.UniqueTxnID != null)
                                    {
                                        <a asp-action="Profile" asp-area="Admission" asp-controller="Registration" id="redButton"
                                           asp-route-id="@Model.LeadReferenceId" class="btn float-btn flat-btn color-bg">GO TO PROFILE</a>
                                    }*@

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>

                    </div>

                    <div class="custom-form" style="margin-top:20px;">
                        <a asp-action="Profile" asp-area="Admission" asp-controller="Registration" id="redButton"
                           asp-route-id="@Model.LeadReferenceId" class="btn float-btn flat-btn color-bg"><i class="fas fa-user-tie"></i> GO TO PROFILE</a>
                        <a asp-action="DownloadReceipt" asp-area="Admission" asp-controller="Student" id="redButton"
                           asp-route-id="@Model.LeadReferenceId" class="btn float-btn flat-btn color-bg"><i class="fas fa-file-pdf"></i> Download</a>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" style="text-align: center; font-weight: 700; font-size: 25px;padding-top:20px;">
                            Your payment has been accepted!
                        </div>
                        <div class="card-body" style="font-size: 14px;padding-top:10px;">
                            <div class="row">
                                <div class="column" style=" float: left; width: 100%; padding: 0 10px;">
                                    <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);color:white; padding: 16px;text-align: center; background-color: #89c040;">
                                        <p> <b>Note:</b> &nbsp; Click on <b>Go To Profile</b>, and Complete the application form. Only after the complete application 
                                        form is submitted, the admission team will be processing your application.
                                        </p>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    </div>
                </div>

                @*<div class="col-md-7" id="LoginCard" style="display:none;">
            <h3 class="register">Login</h3>
            <div id="contact-form">


                <div class="custom-form" action="#" name="contactform">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="MobileNo" id="txtLoginMobile" placeholder="Enter Mobile *" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="" />
                                <span class="text-danger txtLoginMobile_validation"></span>
                                <span class="text-danger"></span>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <button onclick="LoginUser()" class="btn float-btn flat-btn color-bg">Login <i class="fal fa-long-arrow-right"></i></button>
                        <div class="clearfix"></div>
                        <div class="row" style="justify-content: center;font-weight:500;font-size:16px;">
                            <div class="col-md-12">
                                New user? <a href="#" onclick="RegistrationOpen()">Create an account</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>



        <div class="col-md-7" id="MobileValidCard" style="display:none;">
            <h3 class="register">MOBILE VALIDATION</h3>
            <div id="contact-form">


                <div class="custom-form" action="#" name="contactform">
                    <form action="/Admission/BasicRegistration/ValidOtpFromStudentLogin"
                           method="post">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <input hidden id="otpId"  name="otpId" />
                                    <input type="text" name="OTP" placeholder="Enter OTP *"
                                           id="txtMobileValidation" style="" />

                                    <span class="text-danger txtMobileValidate_validation"></span>
                                    <span class="text-danger"></span>

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <button onclick="LoginWithOtp()"  type="submit"
                                    class="btn float-btn flat-btn color-bg">MOBILE VALIDATE
                            <i class="fal fa-long-arrow-right"></i></button>
                            <div class="clearfix"></div>
                            <div class="row" style="justify-content: center;font-weight:500;font-size:16px;">
                                <div class="col-md-12">
                                    New user? <a href="#" onclick="RegistrationOpen()">Create an account</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>*@
               

                <div class="col-md-6">

                </div>
               
            </div>


        </div>
    </div>

</div>


<footer class="main-footer">

    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="about-us.php">About Us </a></li>
                                <li><a href="our-story.php">Our Story  </a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                <li><a href="#">Disclaimer</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- footer contacts end -->

                <div class="col-md-4 footer-contacts ">
                    <div class="footer-header fl-wrap"> Quick Link</div>
                    <!-- footer-contacts-->
                    <div class="row">


                        <div class="col-md-12">
                            <ul>
                                <li><a href="plan-campus-visit.php">Plan Campus Visit</a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download our App</a></li>
                                <li><a href="#">School Anthem</a></li>
                                <li><a href="#">School Calendar</a></li>
                                <li><a href="#">Downloads</a></li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="footer-header fl-wrap"> Contacts</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>Call:</span><a href="#">1800-120-2316</a></li>
                            <li><span>Write  :</span><a href="#">info@odmps.org</a></li>
                            <li><span>Find us : </span><a href="#">SISHUVIHAR, INFOCITY ROAD, PATIA, BHUBANESWAR-24, KHORDHA ODISHA, INDIA</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->

                </div>


            </div>



        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; ODM PUBLIC SCHOOL 2020  /  All rights reserved. </span>
            </div>
            <!-- policy-box end-->

        </div>
    </div>

</footer>



<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/js/demo/datatables-demo.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/select2/js/select2.min.js"></script>

<script src="~/treant/vendor/raphael.js"></script>
<script src="~/treant/Treant.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>

<script type="text/javascript">

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };
</script>
<script>
   
   

    $(document).ready(function () {
      
        $("#my-spinner").hide();
        $('#ddlClass').empty();


        $.get('/Admission/BasicRegistration/GetClassListBySession', {}, function (data) {
            if (data.length > 0) {
                $("#ddlClass").append('<option value="0">Select Class</option>');
                $.each(data, function (i, item) {
                    $("#ddlClass").append('<option value="' + item.boardStandardId + '"> ' + item.boardClass + ' </option>');
                });
            }
        });
    });
    $('#ddlClass').change(function () {
        $('#ddlSchool').empty();
        if ($("#ddlClass").val != "0") {
            $.get('/Admission/BasicRegistration/GetSchoolWingByBoardStandard', {
                BoardStandardId: $('#ddlClass').val(),
                //SessionId: $('#AcademicSessionId').val()
            }, function (data) {
                if (data.length > 0) {
                    $("#ddlSchool").append('<option value="0">Select School & Wing</option>');
                    $.each(data, function (i, item) {
                        $("#ddlSchool").append('<option value="' + item.academicStandardWindId + '"> ' + item.name + ' </option>');
                    });
                }
            });
        }

    });

    function sendOtp(data) {

        $.get('/Admission/BasicRegistration/SaveOtpAndSendMessage', {
            admId: data,
            //SessionId: $('#AcademicSessionId').val()
        }, function (data) {
            console.log(data);
            $("#otpId").val(data);

        });
    }
    //function LoginOpen() {
    //    $("#LoginCard").show();
    //    $("#registrationCard").hide();
    //}
    //function RegistrationOpen() {
    //    $("#LoginCard").hide();
    //    $("#MobileValidCard").hide();
    //    $("#registrationCard").show();
    //    $("#txtFirstName").val("");
    //    $("#txtLastName").val("");
    //    $("#txtContactName").val("");
    //    $("#txtContactMobile").val("");
    //    $("#txtEmailId").val("");
    //    $("#ddlClass").val("0");
    //    $('#ddlSchool').val("0");
    //}
    //function LoginUser() {
    //    if ($("#txtLoginMobile").val().trim() == "") {
    //        $(".txtLoginMobile_validation").text("Please Enter Mobile Number.");
    //    }
    //    else {
    //        if ($("#txtLoginMobile").val().length != 10) {
    //            $(".txtLoginMobile_validation").text("Please Enter Correct Mobile Number.");
    //        }
    //        else {

    //            $(".txtLoginMobile_validation").html("");
    //            $.ajax({
    //                url: "/Admission/Student/ValidMobileNoLogin",
    //                type: "POST",
    //                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    //                data: { 'mobileno': $("#txtLoginMobile").val().trim() },
    //                dataType: 'json',
    //                // async: false,
    //                success: function (response) {

    //                    if (response == 1) {
    //                        $("#LoginCard").hide();
    //                        // $("#MobileValidCard").hide();
    //                        $("#MobileValidCard").show();
    //                        // $("#LoginCard").show();
    //                        //$("#registrationCard").hide();
    //                        //$("#hdnAddressPermanentId").val(response);
    //                    }
    //                    else {
    //                        $(".txtMobileValidate_validation").text(response);
    //                    }
    //                }

    //            });
    //        }


    //    }
    //    $("#LoginCard").hide();
    //    $("#MobileValidCard").show();

    //}
    function RegisterUser() {

        //txtFirstName txtLastName txtContactName txtContactMobile txtEmailId ddlClass ddlSchool
        if ($("#txtFirstName").val().trim() == "") {
            $(".txtFirstName_validation").text("Please Enter First Name.")
            return false;
        }
        else {
            $(".txtFirstName_validation").html("");


        }
        if ($("#txtLastName").val().trim() == "") {
            $(".txtLastName_validation").text("Please Enter Last Name.")
            return false;
        }
        else {
            $(".txtLastName_validation").html("");


        }
        if ($("#txtContactName").val().trim() == "") {
            $(".txtContactName_validation").text("Please Enter Contact Name.");
            return false;
        }
        else {
            $(".txtContactName_validation").html("");

        }
        //var sdsd = $("#txtContactMobile").val().length;
        //var lee = $("#txtContactMobile").val().trim();
        if ($("#txtContactMobile").val().trim() == "") {
            $(".txtContactMobile_validation").text("Please Enter Mobile Number.");
            return false;
        }
        else {
            if ($("#txtContactMobile").val().length != 10) {
                $(".txtContactMobile_validation").text("Please Enter Correct Mobile Number.");
                return false;
            }
            else {
                $(".txtContactMobile_validation").html("");
            }


        }
        if ($("#txtEmailId").val().trim() == "") {
            $(".txtEmailId_validation").text("Please Enter Email Id");
            return false;
        }
        else {
            if (!validateEmail($("#txtEmailId").val().trim())) {
                $(".txtEmailId_validation").text("Please Enter valid Email Id");
                return false;
            }
            else {
                $(".txtEmailId_validation").html("");
            }
        }
        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test($email);
        }
        var hh = $('#ddlClass').val();
        if ($('#ddlClass').val() == "0") {
            $(".ddlClass_validation").text("Please Select a Class.")
            return false;
        }
        else {
            $(".ddlClass_validation").html("")
        }
        if ($('#ddlSchool').val() == "0") {
            $(".ddlSchool_validation").text("Please Select School.")
            return false;
        }
        else {
            $(".ddlSchool_validation").html("")
        }

        return true;
        var fdf = $("#txtFirstName").val().trim();
        var rert = $("#txtLastName").val().trim();
        var ytyu = $("#txtContactName").val().trim();
        var tyuyi = $("#txtContactMobile").val().length;
        var tytgbd = $("#txtEmailId").val().trim();
        var uiui = $('#ddlClass').val();
        var weq = $('#ddlSchool').val();

        //$('#divloader').fadeIn();

        //if ($("#txtFirstName").val().trim() != "" && $("#txtLastName").val().trim() != "" && $("#txtContactName").val().trim() != "" && $("#txtContactMobile").val().length == 10 && $("#txtEmailId").val().trim() != "" && $('#ddlClass').val() != "0" && $('#ddlSchool').val() != "0") {
        //// $("#redButton").disableSelection();
        // $("#my-spinner").show();
        // $.ajax({
        //     url: "/Admission/BasicRegistration/AdmissionSave",
        //     type: "POST",
        //     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        //     data: {
        //         'FirstName': $("#txtFirstName").val().trim(), 'LastName': $("#txtLastName").val().trim(),
        //         'ContactName': $("#txtContactName").val().trim(),
        //         'ContactMobile': $("#txtContactMobile").val(),
        //         'EmailId': $("#txtEmailId").val(),
        //         'ClassId': $('#ddlClass').val(),
        //         'AcademicStandardWindId': $('#ddlSchool').val(),
        //         'sourceId': 3
        //     },
        //     dataType: 'json',
        //     // async: false,
        //     success: function (data) {
        //        // console.log(data);
        //        // $("#redButton").enableSelection();
        //         // $('#divloader').fadeOut();
        //           $("#my-spinner").hide();
        //         if (data != null && data > 0) {
        //              $("#admId").val(data);
        //               $("#registrationCard").hide();
        //             $("#MobileValidCard").show();
        //             sendOtp(data);
        //             // $("#LoginCard").show();


        //         }
        //     },
        //     error: function ()
        //     {
        //      //   $("#redButton").enableSelection();
        //            $("#my-spinner").hide();
        //     }


        // });
        //  }
    }

    //checkmobileLogin

    function checkmobile() {

        var mobileno = $('#txtContactMobile').val()
        $.get('/Admission/BasicRegistration/MobileValidationBySession', { Mobile: mobileno }, function (data) {
            if (data == 1) {
                $(".txtContactMobile_validation").text("Mobile Number Is Duplicate.Please Enter Another Mobile Number");
                // alert("Mobile Number Is Duplicate.Please Enter Another Mobile Number");
                $('#txtContactMobile').focus();
                $('#txtContactMobile').val();
                return false;
            }
            else {
                $(".txtContactMobile_validation").html("");
            }
        });
    }



    //function LoginWithOtp() {
    //    if ($("#txtMobileValidation").val().trim() == "") {
    //        $(".txtMobileValidate_validation").text("Please Enter OTP.")
    //    }
    //    else {
    //        $(".txtMobileValidate_validation").html("");
    //        $.ajax({
    //            url: "/Admission/BasicRegistration/ValidOtpFromStudentLogin",
    //            type: "POST",
    //            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    //            data: { otpId: $("#otpId").val().trim(),OTP: $("#txtMobileValidation").val().trim() },
    //            dataType: 'json',
    //            // async: false,
    //            success: function (response) {

    //                if (response == 1) {
    //                    $("#LoginCard").show();
    //                    $("#MobileValidCard").hide();

    //                }
    //                else {
    //                    $(".txtMobileValidate_validation").text(response);
    //                }
    //            }

    //        });

    //    }
    //}
</script>


