﻿
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center" style="margin-top:40px;">
    <img src="~/images/authenticationfailed.png" class="rounded mx-auto d-block" style="height:330px;" />
    <h2>Access Denied</h2>
    <h4>You don't have access to view this page. Please contact your Administrator for further query.</h4>
</div>
