﻿
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            @*<li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Accounts" asp-controller="Dashboard">Setup</a></li>*@
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Change Password</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Password Change</span>

            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveChangePassword">
                    <div class="form-group">
                        <label class="control-label">Old Password</label>
                        <input name="oldpassword" id="oldpassword" type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input name="password" id="password" type="password" class="form-control" />
                    </div>
                    <br />
                    @*<div class="form-group">
                            <label class="control-label text-danger">@ViewBag.ErrorMessage</label>
                        </div>*@
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Change Password</button>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label text-success">@ViewBag.Message</label>
                        </div>*@
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


