﻿
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center pt-4 pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4">
    <span class="mb-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-md-4 text-primary loginheadertext"><b>Forgot</b> Your Password?</span>
</div>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
<div class="text-center">

    <p>We get it, stuff happens. Just enter your user name below and we'll send you a link to reset your password!</p>
</div>
<form asp-action="ParentOTPSend" class="user pb-xl-5 pb-lg-5 pb-md-5 pb-lg-5 pb-xl-5 pb-sm-5 pb-5 pr-lg-1 pr-xl-1 pr-md-1 pr-sm-1 pr-1 pl-lg-1 pl-xl-1 pl-md-1 pl-sm-1 pl-1">
    <div class="pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        <input type="text" class="form-control logintextbox" name="username" id="username" aria-describedby="emailHelp" placeholder="Mobile Number">
    </div>
    <div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
    <div class="pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4 pt-4 text-center">
        <input type="submit" value="Reset Password" class="btn loginbtn py-xl-3 py-lg-3 py-md-3 py-3 px-5 py-sm-3 px-xl-5 px-lg-5 px-md-5 px-sm-5" />
    </div>
</form>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
<div class="form-group text-right">
    <a asp-action="ParentLogin" asp-controller="Accounts"><span class="text-primary font-weight-500 loginlink">Already have an account? Login!</span></a>
</div>

