﻿
@{
    ViewData["Title"] = "StudentCreatePassword";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@model OdmErp.Web.Models.logincls
<div class="text-center pt-4 pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4">
    <span class="mb-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-md-4 text-primary loginheadertext"><b>Create</b> Password</span>
</div>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>

<form class="user pb-xl-5 pb-lg-5 pb-md-5 pb-lg-5 pb-xl-5 pb-sm-5 pb-5 pr-lg-1 pr-xl-1 pr-md-1 pr-sm-1 pr-1 pl-lg-1 pl-xl-1 pl-md-1 pl-sm-1 pl-1" asp-action="StudentSavePassword">
    <input type="hidden" asp-for="accessid" />
    <input type="hidden" asp-for="mobilelist" />
    <input type="hidden" asp-for="userId" />
    <input type="hidden" asp-for="userName" />

    <div class="pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        Entered Student Code:
        <input type="text" readonly class="form-control logintextbox" asp-for="userName" aria-describedby="emailHelp" placeholder="Student Code">
    </div>

    <div class="form-group pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1" style="margin-bottom:10px;">
        New Password:
        <input type="password" class="form-control logintextbox" asp-for="newPassword" />
    </div>
    <div class="form-group pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        Confirm Password:
        <input type="password" class="form-control logintextbox" asp-for="confirmpassword" />
    </div>

    <div class="text-center">
        <label class="text-danger">@ViewBag.ErrorMessage</label>
    </div>
    <div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
    <div class="pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4 pt-4 text-center">
        <input type="submit" value="Create Password" class="btn loginbtn py-xl-3 py-lg-3 py-md-3 py-3 px-5 py-sm-3 px-xl-5 px-lg-5 px-md-5 px-sm-5" />
    </div>

</form>


