﻿
@{
    ViewData["Title"] = "StudentLogin";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


@model OdmErp.Web.Models.logincls
<div class="text-center pt-4 pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4">
    <span class="mb-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-md-4 text-primary loginheadertext"><b>Student</b> Login</span>
</div>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
<form class="user pb-xl-5 pb-lg-5 pb-md-5 pb-lg-5 pb-xl-5 pb-sm-5 pb-5 pr-lg-1 pr-xl-1 pr-md-1 pr-sm-1 pr-1 pl-lg-1 pl-xl-1 pl-md-1 pl-sm-1 pl-1" asp-action="checkStudentusername">
    <input type="hidden" asp-for="accessid" />
    <input type="hidden" asp-for="mobile" />
    <input type="hidden" asp-for="userId" />
    <input type="hidden" asp-for="isExist" />
    <div class="pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        <input type="text" class="form-control logintextbox" asp-for="userName" aria-describedby="emailHelp" placeholder="Student Code">
    </div>
    @if (Model.isExist == true)
    {
        <div class="pt-lg-2 pt-xl-2 pt-md-2 pt-sm-2 pt-2 pb-lg-3 pb-xl-3 pb-md-3 pb-sm-3 pb-3">
            <input type="password" class="form-control logintextbox" asp-for="Password" placeholder="Password">
            <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" style="position: absolute;right: 50px;top: 32%;"></span>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="customCheck" asp-for="isRemember">
                <label class="custom-control-label" for="customCheck">Remember Me</label>
            </div>
        </div>
    }

    @*<div class="text-center">
            <label class="text-danger">@ViewBag.ErrorMessage</label>
        </div>*@
    <div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
    <div class="pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4 pt-4 text-center">
        <input type="submit" value="Login" class="btn loginbtn py-xl-3 py-lg-3 py-md-3 py-3 px-5 py-sm-3 px-xl-5 px-lg-5 px-md-5 px-sm-5" />
    </div>

</form>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
<div class="form-group text-right">
    <a asp-action="StudentForgotPassword" asp-controller="Accounts"><span class="text-primary font-weight-500 loginlink">Forgot Password?</span></a>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).on('click', '.toggle-password', function () {

        $(this).toggleClass("fa-eye fa-eye-slash");

        var input = $("#Password");
        input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
    });
</script>