﻿
@{
    ViewData["Title"] = "StudentOTPValidation";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@model OdmErp.Web.Models.logincls
<div class="text-center pt-4 pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4">
    <span class="mb-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-md-4 text-primary loginheadertext"><b>OTP</b> Verification</span>
</div>
<div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>

<form class="user pb-xl-5 pb-lg-5 pb-md-5 pb-lg-5 pb-xl-5 pb-sm-5 pb-5 pr-lg-1 pr-xl-1 pr-md-1 pr-sm-1 pr-1 pl-lg-1 pl-xl-1 pl-md-1 pl-sm-1 pl-1" asp-action="CheckStudentOTPValidation">
    <input type="hidden" asp-for="accessid" />
    <input type="hidden" asp-for="mobilelist" />
    <input type="hidden" asp-for="userId" />
    <input type="hidden" asp-for="userName" />
    <div>
        Entered Student Code:
    </div>
    <div class="pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        <input type="text" readonly class="form-control logintextbox" asp-for="userName" aria-describedby="emailHelp" placeholder="Student Code">
    </div>
    <div class="form-group" style="margin-bottom:10px;">
        A 6-digit OTP has been sent to your mobile number for verification.
    </div>
    <div class="">
        <label><b>ENTER OTP</b></label>
    </div>
    <div class="pt-lg-3 pt-xl-3 pt-md-3 pt-sm-3 pt-3 pb-lg-1 pb-xl-1 pb-md-1 pb-sm-1 pb-1">
        <input type="text" class="form-control logintextbox" asp-for="otp" aria-describedby="emailHelp" placeholder="OTP">
    </div>
    <div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
    <div class="text-right">
        <a onclick="resendotp('@Model.mobilelist')" class="text-primary" style="cursor:pointer;">Resend OTP</a>
    </div>
    <div class="text-center">
        <label class="text-danger">@ViewBag.ErrorMessage</label>
    </div>
    <div class="clearfix mb-md-4 mb-lg-4 mb-xl-4 mb-sm-4 mb-4"></div>
    <div class="pt-lg-4 pt-xl-4 pt-md-4 pt-sm-4 pt-4 text-center">
        <input type="submit" value="OTP Verify" class="btn loginbtn py-xl-3 py-lg-3 py-md-3 py-3 px-5 py-sm-3 px-xl-5 px-lg-5 px-md-5 px-sm-5" />
    </div>

</form>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function resendotp(mobilelist) {
        $.get('/Accounts/StudentResendOTP', { mobile: mobilelist }, function (data) {
            if (data == 1) {
                alert('OTP Send Successfully');
            }
        })
    }
</script>
