﻿
@{
    ViewData["Title"] = "ModuleView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Master</a></li>
        <li class="breadcrumb-item active" aria-current="page">Common</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Country</h5>

                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">State</h5>

                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">City</h5>

                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admission</h5>

                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
    </div>
</div>