﻿
@{
    ViewData["Title"] = "ModuleView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h5>Master</h5></li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Common</h5>
             
                <a asp-action="CommonModuleView" asp-controller="ModuleSubModule" class="btn btn-primary">open</a>
            </div>
        </div>
        </div>
  
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Support</h5>

                <a href="#" class="btn btn-primary">open</a>
            </div>
        </div>
    </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HR</h5>

                    <a href="#" class="btn btn-primary">open</a>
                </div>
            </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Admission</h5>

                        <a href="#" class="btn btn-primary">open</a>
                    </div>
                </div>
            </div>
        </div>