﻿
@model OdmErp.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Login" asp-controller="Layout">Login</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Login">LoginList</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h3>Login</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>


<div class="card">
    <div class="card-header">
        <h6>Login Details</h6>
    </div>
    <div class="card-body">
        <form asp-action="CreateLogin" method="post">

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-sm-15">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AccessID" class="control-label"></label>
                        <select asp-for="AccessID" class="form-control" asp-items="@ViewBag.Logins"></select>
                    </div>

                    <div class="col-sm-15">
                        <label asp-for="FCMID" class="control-label"></label>
                        <input asp-for="FCMID" class="form-control" />
                        <span asp-validation-for="FCMID" class="text-danger"></span>
                    </div>

                    <div class="col-sm-15">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" class="form-control" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>




                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@
                    <br />



                    <div class="form-group text-center">
                        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" value="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Create</button>
                    </div>
                </div>

                <div class="col-md-3 "></div>
            </div>
        </form>
    </div>
</div>