﻿@model OdmErp.ApplicationCore.Entities.Login

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Login" asp-controller="Layout">Login</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Login">LoginList</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<h3>Bug</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>

<div class="card">
    <div class="card-header">
        <h6>Bugs Details</h6>
    </div>
   
                <div class="card-body">
                    <div class="table-responsive">
                        <p> Type : @Model.Type </p>
                        <p> Access : @Model.AccessID </p>
                        <p> Fcm : @Model.FCMID </p>
                        <p> Data : @Model.Data </p>
                    </div>
                </div>         

</div>

