﻿@model IEnumerable<OdmErp.ApplicationCore.Entities.Login>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Login" asp-controller="Layout">Login</a></li>

            <li class="breadcrumb-item active" aria-current="page">LoginList</li>
        </ol>
    </nav>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Login List</h1>
    <div>
        <a asp-action="Create" asp-controller="Login" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>AccessID</th>
                                <th>FCM</th>
                                <th>Data</th>                               
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Type</td>
                                        <td>@item.AccessID</td>
                                        <td>@item.FCMID</td>
                                        <td>@item.Data</td> 
                                        <td>
                                           @* <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a>&nbsp;*@
                                            <a asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i>View</a>&nbsp;
                                            <a asp-action="Delete" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this student?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

