﻿

@{
    ViewData["Title"] = "Fee Price";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.FeesTypeViewModel>

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Fee Price</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Fee Price</h1>

                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    </div>

                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4 " data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4 edit_lnk" data-toggle="modal" data-target="#myModal2" onclick="resetmsg()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    @*<a href="#" id="delete_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4 delete_lnk" onclick="Delete()"><i class="fas fa-trash"></i>&nbsp;Delete</a>*@
                    <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk btn-outline-success mr-4" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                    <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk btn-outline-success mr-4" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4 btn_refresh" onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span style="color:#1cc88a" class="count_selectedrows"></span>
                </div>

                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                <label class="container">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span><br /><span>Select All</span>
                                                </label>
                                            </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Academic Session</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Fee</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Parent Fee</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Price Applies To</th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold">ApplicableData</th>*@
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Amount (INR)</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                        <tr id="@item.ID">
                                            @*id="@item.ID"*@
                                            <td>
                                                <label class="container">
                                                    <input type="checkbox" name="tableCheck" data-active="@item.Status" value="@item.ID" class="chk_checkbox">
                                                    <span class="checkmark"></span>
                                                </label>

                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.SessionName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.FeesTypeName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ParentFeesType
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ApplicableTo
                                            </td>
                                            @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a href="#">@item.ApplicableData</a>
                                            </td>*@
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Price
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                            @*<td class="h6 mb-0 text-gray-800 font-weight-normal">ToString(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN")) *@
                                        </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                    <input type="hidden" id="hdn_id" />
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/FeesTypePrice/downloadFeesTypePriceSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles()" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document" style="width:780px;max-width:none;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Fee Price</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    @*<form asp-action="SaveOrUpdateFeesTypeApplicable">*@
                    <input type="hidden" />
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <table class="table table-responsive">
                        <tr style="border:none;">
                            <td>
                                <div class="form-group" id="divSession">
                                    <label class="control-label font-weight-bold">Academic Session <span style="color:red;">*</span></label>
                                    @*<input class="form-control txt_name" id="txt_name" />*@
                                    <select class="form-control" id="ddl_session" style="width:100%" ;>
                                        <option value="0">Select Session </option>
                                    </select>
                                    <span class="text-danger txt_session_validation"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" id="divfeestypeprice">
                                    <label class="control-label">Fee <span style="color:red;">*</span></label>
                                    <select class="form-control" id="ddl_feestype" style="width:100%" ;>
                                        <option value="0">Select Fee</option>
                                    </select>
                                    <span class="text-danger txt_feestype_validation"></span>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="form-group" id="divapplicabledata">
                                    <label class="control-label">Applies To <span style="color:red;">*</span></label>
                                    <select multiple class="form-control" id="ddl_applicabledata" style="width:100%" ;>
                                        @*<option value="0">Select Applicable Data</option>*@
                                    </select>
                                    <span class="text-danger txt_applicable_validation"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class="control-label font-weight-bold">Amount(INR) <span style="color:red;">*</span></label>
                                    <input type="number" class="form-control txt_price" id="txt_price" />
                                    <span class="text-danger txt_price_validation"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" id="btn_add" onclick="Add_Update_Sub()" style="float:right;width:70px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">ADD</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="height:260px;overflow: scroll;">
                                    <table class="table table-bordered" id="tbl_list" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>SLNo</th>
                                                <th>Acadenic Session</th>
                                                <th>Parent Fee</th>
                                                <th>Fee</th>
                                                <th>Applies To</th>
                                                <th>Amount (INR)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-striped"> </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>


                    <div class="form-group modal-footer">
                        <button type="button" id="btn_cancel" onclick="Close_Popup()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-close"></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>
                        <button type="button" id="btn_saveupdate" onclick="SaveUpdate()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  SAVE&nbsp;&nbsp;</button>
                    </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
                <input type="hidden" id="sessionid" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 60%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 1px;
        margin-left: 05px;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 30px;
        cursor: pointer;
       /* font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #1cc88a;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<style type="text/css">
    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>


@*<script src="~/js/sweetalert.min.js"></script>
    <link href="~/js/sweet-alert.css" rel="stylesheet" />*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>*@
<script src="~/js/jquery-3.5.1.min.js"></script>
<link href="~/js/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/js/datetimepicker/bootstrap-datetimepicker.js"></script>






<script>

    function resetmsg() {
                    $('.txt_name_validation').text('');
                };

    $('.chk_checkbox').change(function () {

                    var id = $('.chk_checkbox:checked').closest('tr').prop('id');
                    var count = $('#dataTable').find(".chk_checkbox:checked").length;
                    $('.count_selectedrows').text(count + ' Selected')
                    var totalrows = $('#dataTable tbody tr').length;

                    if (totalrows != count) {
                        $('#ckbCheckAll').prop('checked', false);
                    }
                    else if (totalrows = count) {
                        $('#ckbCheckAll').prop('checked', true);
                    }
                    if (count == 1) {
                        $('.edit_lnk').removeClass('disabled');
                        $('.delete_lnk').removeClass('disabled');
                        $('.count_selectedrows').show();
                    }
                    else if (count > 1) {
                        $('.edit_lnk').addClass('disabled');
                        // $('.delete_lnk').addClass('disabled');
                        $('.count_selectedrows').show();
                    }
                    else {
                        $('.edit_lnk').removeClass('disabled');
                        $('.delete_lnk').removeClass('disabled');
                        $('.count_selectedrows').hide();
                    }
                    EditData(id);
                    $('#btn_saveupdate').text('UPDATE');
                    $('#hdn_id').val(id);
                });

    

    function SaveUpdate() {
        if ($('#btn_saveupdate').text() == 'SAVE') {
            SaveData();
        }
        else {
            UpdateData();
        }
    }

    function SaveData() {
       //  debugger;

        var rows = $("#tbl_list tbody tr").length;
        if (rows == 0) {
            swal("Fee Price", "Data Not Added Yet !!!",'warning');
        }
        else {
            if ($('#btn_saveupdate').text() == 'SAVE') {

                var FeeTypePriceApplicableData = [];
                FeeTypePriceApplicableData.length = 0;
                $.each($("#tbl_list tbody tr"), function () {

                    FeeTypePriceApplicableData.push({
                        ID: "0",
                        ApplicabledataId: $(this).attr('data-applicationdataid'),
                        Price: $(this).attr('data-price'),
                        FeesTypePriceDataID: "0",
                        Session: $(this).attr('data-session'),
                        FeesType: $(this).attr('data-feestype'),
                        Applicationdata: $(this).attr('data-applicationdata'),
                        ApplicableToId: $(this).attr('data-applicableToId'),
                        FeesTypePriceId: $(this).attr('data-feestypeid')
                    });
                });


                var feesTypePrice = {
                    ID: "0",
                    AcademicSessionId: $('#ddl_session option:selected').val(),
                    FeesTypePriceId: $('#ddl_feestype option:selected').val(),
                    sessionFeesTypePriceApplicableData: FeeTypePriceApplicableData,
                    ReturnMsg: '',
                };

                $.ajax({
                    url: "../feesTypePrice/SaveOrUpdateFeesTypePrice",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'feesTypePrice': feesTypePrice },
                    dataType: 'json',
                    // async: false,
                    success: function (response) {
                        swal({
                            title: "Fee Price", text: response.returnMsg, type: "success"
                        },
                            function () {
                                location.reload();
                            });
                        $('#mclose').click();

                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: response.returnMsg,
                                icon: 'failure',
                            });
                        }
                        swal({
                            text: response.returnMsg,
                            icon: 'failure',
                        });
                    }
                });
            }
        }

    }
    function UpdateData() {

        // debugger;


        var FeeTypePriceApplicableData = [];
        FeeTypePriceApplicableData.length = 0;
        $.each($("#tbl_list tbody tr"), function () {

            FeeTypePriceApplicableData.push({
                ID: $(this).attr('data-id'),
                ApplicabledataId: $(this).attr('data-applicationdataid'),
                Price: $(this).attr('data-price'),
                FeesTypePriceDataID: "0",
                Session: $(this).attr('data-session'),
                FeesType: $(this).attr('data-feestype'),
                Applicationdata: $(this).attr('data-applicationdata'),
                ApplicableToId: $(this).attr('data-applicableToId'),
                FeesTypePriceId: $(this).attr('data-feestypeid')

            });
        });



        var feesTypePrice = {
            ID: $('#hdn_id').val(),
            AcademicSessionId: $('#ddl_session option:selected').val(),
            FeesTypePriceId: $('#ddl_feestype option:selected').val(),
            sessionFeesTypePriceApplicableData: FeeTypePriceApplicableData,
            ReturnMsg: '',
        };


        $.ajax({
            url: "../FeesTypePrice/Update",
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: { 'feesTypePrice': feesTypePrice },
            dataType: 'json',

            success: function (response) {
                swal({
                    title: "FeesTypePrice", text: response.returnMsg, type: "success"
                },
                    function () {
                        location.reload();
                    });
                $('#mclose').click();


                //swal({ title: "SessionScholarshipDiscounts", text: response, type: "success" },
                //    function () {
                //        location.reload();
                //    }
                //);

                // Reset();
                // Refresh();
            },
            failure: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    swal({
                        text: response.returnMsg,
                        icon: 'failur',
                    });
                }
                swal({
                    text: response.returnMsg,
                    icon: 'failur',
                });
            }
        });
    }

    function ActiveLink() {
        debugger;
        var ids = [];
        var status = "ACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../FeesTypePrice/ActiveDeactiveFeesTypePrice',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "FeesTypePrice", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }
    function DeactiveLink() {
        debugger;
        var ids = [];
        var status = "DEACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../FeesTypePrice/ActiveDeactiveFeesTypePrice',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    swal({ title: "FeesTypePrice", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }


    function CreateData() {
        $('#myModalLabel2').text('Add Fee Price');
        $('#btn_saveupdate').text('SAVE');
        $('#ddl_feestype').attr('disabled', false);
    }

    function EditData(id) {
        debugger;
        $('#myModalLabel2').text('Edit Fee Price');
        $('#btn_add').text('ADD');
        $.ajax({
            url: '../FeesTypePrice/EditFeeTypePrice/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                // debugger;
                $('#divfeestypeprice').find($('#ddl_feestype [value=' + data.feesTypePriceId + ']').attr('selected', 'true'));
                var optionText = $("#ddl_feestype option:selected").text();
                $('#select2-ddl_feestype-container').text(optionText);

                //$('#ddl_feestype').attr('disabled', true);
                $('#hdn_id').val(data.id);
                $("#tbl_list tbody").empty();
                $.each(data.sessionFeesTypePriceApplicableData, function (index, res) {
                    $("#tbl_list tbody").append(
                        "<tr data-id='" + res.id + "' data-sessionid='" + data.academicSessionId + "'  data-feestypeid='" + data.feesTypePriceId + "' data-applicationdataid='" + res.applicabledataId + "' data-price='" + res.price + "'>" +
                        "<td class='counterCell'></td>" +
                        "<td>" + res.sessionName + "</td><td>" + res.parentFeesType + "</td>" +
                        "<td>" + res.feesTypeName + "</td><td>" + res.applicabledata + "</td>" +
                        "<td>" + res.price.toFixed(2) + "</td>" +
                        "<td style='white-space:nowrap;'><a class='remove_row_proff' onclick='Delete_Sub(" + res.id + ");' val=" + res.applicabledataId + " title='Delete' ><i class='fa fa-trash btn-danger'></i></a></td></tr>");
                });


                if ($('#ddl_feestype option:selected').val() > '0') {

                    var id = $("#ddl_feestype option:selected").val();
                    $('#ddl_applicabledata').empty();
                    $.ajax({
                        url: '../FeesTypePrice/Get_SessionApplicable_Edit/' + id,
                        type: "GET",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        dataType: "json",
                        success: function (data) {
                            // debugger;
                            var appl_id = data.applicableId;
                            var appl_to = data.applicableTo;
                            var AcademicSessionId = data.sessionId;
                            if (appl_to == 'Organization' || appl_to == 'Organizations') {

                                $.ajax({
                                    url: '../FeesTypePrice/GetOrganizationData',
                                    type: "GET",
                                    data: { 'id': AcademicSessionId },
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    dataType: "json",
                                    success: function (data) {
                                        $('#ddl_applicabledata').empty();
                                        //$('#ddl_applicabledata').append(
                                        //    $('<option/>')
                                        //        .attr('value', "0")
                                        //        .text("Select Applicable Data")
                                        //);

                                        $.each(data, function (index, item) {
                                            // debugger;
                                            $('#ddl_applicabledata').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                            $('#edit_ddl_applicable').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                        });
                                    }
                                });

                            }
                            else if (appl_to == 'Board' || appl_to == 'Boards') {
                                $.ajax({
                                    url: '../FeesTypePrice/GetBoardData',
                                    type: "GET",
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    dataType: "json",
                                    success: function (data) {
                                        $('#ddl_applicabledata').empty();
                                        //$('#ddl_applicabledata').append(
                                        //    $('<option/>')
                                        //        .attr('value', "0")
                                        //        .text("Select Applicable Data")
                                        //);

                                        $.each(data, function (index, item) {
                                            // debugger;
                                            $('#ddl_applicabledata').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                            $('#edit_ddl_applicable').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                        });
                                    }
                                });
                            }
                            else if (appl_to == 'Class' || appl_to == 'Classs') {
                                $.ajax({
                                    url: '../FeesTypePrice/GetClassData',
                                    type: "GET",
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    dataType: "json",
                                    success: function (data) {

                                        $('#ddl_applicabledata').empty();
                                        //$('#ddl_applicabledata').append(
                                        //    $('<option/>')
                                        //        .attr('value', "0")
                                        //        .text("Select Applicable Data")
                                        //);

                                        $.each(data, function (index, item) {
                                            //debugger;
                                            $('#ddl_applicabledata').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                            $('#edit_ddl_applicable').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                        });
                                    }
                                });
                            }
                            else if (appl_to == 'Wing' || appl_to == 'Wings') {
                                $.ajax({
                                    url: '../FeesTypePrice/GetWingData',
                                    type: "GET",
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    dataType: "json",
                                    success: function (data) {
                                        $('#ddl_applicabledata').empty();
                                        //$('#ddl_applicabledata').append(
                                        //    $('<option/>')
                                        //        .attr('value', "0")
                                        //        .text("Select Applicable Data")
                                        //);
                                        $.each(data, function (index, item) {
                                            // debugger;
                                            $('#ddl_applicabledata').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                            $('#edit_ddl_applicable').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                        });
                                    }
                                });
                            }
                            else if (appl_to == 'Student' || appl_to == 'Students') {
                                $.ajax({
                                    url: '../FeesTypePrice/GetStudentData',
                                    type: "GET",
                                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    dataType: "json",
                                    success: function (data) {
                                        $('#ddl_applicabledata').empty();
                                        //$('#ddl_applicabledata').append(
                                        //    $('<option/>')
                                        //        .attr('value', "0")
                                        //        .text("Select Applicable Data")
                                        //);
                                        $.each(data, function (index, item) {
                                            //  debugger;
                                            $('#ddl_applicabledata').append(
                                                $('<option></option>').val(item.id).html(item.firstName)
                                            );
                                            $('#edit_ddl_applicable').append(
                                                $('<option></option>').val(item.id).html(item.name)
                                            );
                                        });
                                    }
                                });
                            }

                        }
                    });
                }

            }
        });
    }
    function Delete() {
        debugger;
        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        if (count == 1) {

            var id = $('#hdn_id').val();
            $.ajax({
                url: '../FeesTypePrice/DeleteFeesTypePrice/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    swal({
                        title: "Fee Price", text: data, type:
                            "success"
                    }).then(function () {
                        location.reload();
                    }
                    );

                }

            });
            //Refresh();
        }
        else {

            var Ids = [];
            $('#dataTable').find(".chk_checkbox:checked").each(function () {
                Ids.push($(this).val());
            });

            $.each(Ids, function (index, id) {
                // debugger;
                $.ajax({
                    url: '../FeesTypePrice/DeleteFeesTypePrice/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        swal({
                            title: "Fee Price", text: data.returnMsg, type:
                                "success"
                        }).then(function () {
                            location.reload();
                        }
                        );
                    }
                });
            });

        }
    }

    function Refresh() {
        window.location.reload();
    }

    function SplitDate(str) {
        const parts = str.split("T")[0];
        const obj = parts.split("-");
        str = obj[2] + '/' + obj[1] + '/' + obj[0];
        return str;
    }

    function RemoveRow(obj) {
        $(obj).closest('tr').remove();
    }

    function editsubdata11(val) {
        // debugger;
        var Id = $(val).closest('tr').attr('data-id'); // $(this).find().attr('data-id');
        var Price = $(val).closest('tr').attr('data-price');
        var Applicabledataid = $(val).closest('tr').attr('data-applicationdataid');
        $('#ddl_applicabledata option[value="' + Applicabledataid + '"]').attr("selected", "selected");
        var optionText = $("#ddl_applicabledata option:selected").text();
        // $('.select2-selection__rendered').text(optionText);
        $('.select2-selection--multiple').text(optionText);


        //var texts = $("#ddl_applicabledata").select2('data');
        //texts.forEach(function (item) {
        //    $('.select2-container--default').text(item.text);
        //});


        $('#txt_price').val(Price);
        $('#btn_add').text("Update");


    }


    

    function Add_Data() {
       // debugger;
       // $("#tbl_list tbody").empty();
        var txtArray = [];
        var texts = $("#ddl_applicabledata").select2('data');
        texts.forEach(function (item) {
            txtArray.push(item.text);
        });


        var Session = $("#divSession option:selected").text();
        var SessionId = $('#ddl_session option:selected').val();
        var Objval = $('#ddl_feestype option:selected').text();
        var arr = Objval.split('-->');
        var FeesType = null; 
        var ParentType = null; 
        if (arr.length == 1) {
            FeesType = arr[0];
            ParentType = 'N A';
        }
        else {
            FeesType = arr[1];
            ParentType = arr[0];
        }
        
        var FeesTypeId = $('#ddl_feestype option:selected').val();
        var ApplicationData = $('#ddl_applicabledata option:selected').text();
        var ApplicationDataId = $('#ddl_applicabledata option:selected').val();
        var Price = $('#txt_price').val();
        var applicableId = $("#ddl_feestype option:selected").attr("applicableid"); // $('option:selected', this).attr('applicableid');

        var ids = $("#ddl_applicabledata").select2('val');
        var idString = ids + "";
        var splitids = idString.split(",");
        var idArray = [];

        if (SessionId == '0') {
            $('.txt_session_validation').text('Select Academic Session');
        }
        else if (FeesTypeId == '0') {
            $('.txt_feestype_validation').text('Select Fee');
        }
        else if (ids == '0') {
            $('.txt_applicable_validation').text('Enter Applies To');
        }
        else if (Price == '' || Price==0) {
            $('.txt_price_validation').text('Enter Amount(INR)');
        }
        else {
            for (var i = 0; i < splitids.length; i++) {
                idArray[i] = parseInt(splitids[i]);

                $("#tbl_list tbody").append(
                    "<tr data-id='0' data-sessionid='" + SessionId + "' data-feestypeid='" + FeesTypeId + "' data-applicableToId='" + applicableId + "'  data-applicationdataid='" + idArray[i] + "' data-price='" + Price + "'>" +
                    "<td class='counterCell'></td>" +
                    "<td>" + Session + "</td><td>" + ParentType + "</td>" +
                    "<td>" + FeesType + "</td><td>" + txtArray[i] + "</td>" +
                    "<td>" + Price + "</td>" +
                    "<td><a class='remove_row_proff' onclick='RemoveRow(this);' title='Delete' ><i class='fa fa-trash btn-danger'></i></a></td></tr>");


            }
        }

        //$('#ddl_feestype option:selected').val('0');
        //$('#ddl_applicabledata option:selected').val('0');
        //$('#select2-ddl_applicabledata-container').text('Select Applicable Data');
        //$('#select2-ddl_feestype-container').text('Select FeesType');
        $('#txt_price').val('');
        //$('#ddl_feestype option:selected').val('0');
        //$("#ddl_feestype").select2("val", "0");
        $('#ddl_applicabledata').text('');
    };

    function Update_Data() {
        // debugger;
        var txtArray = [];
        var texts = $("#ddl_applicabledata").select2('data');
        texts.forEach(function (item) {
            txtArray.push(item.text);
        });


        var Session = $("#divSession option:selected").text();
        var SessionId = $('#ddl_session option:selected').val();
        var Objval = $('#ddl_feestype option:selected').text();
        var arr = Objval.split('-->');
        var ParentType = arr[0];
        var FeesType = arr[1];
        var FeesTypeId = $('#ddl_feestype option:selected').val();
        var ApplicationData = $('#ddl_applicabledata option:selected').text();
        var ApplicationDataId = $('#ddl_applicabledata option:selected').val();
        var Price = $('#txt_price').val();
        var applicableId = $('#ddl_feestype').find('option:selected').attr('applicableid');

        var array1 = new Array();
        var data_id = '';
        $('#tbl_list tbody tr').each(function (row, tr) {
            if ($(tr).attr('data-id') != null && $(tr).attr('data-id') != 'undefined') {
                array1.push($(tr).attr('data-id'));
            }
            else {
                array1.push('0');
            }
            //var Tableid = Tableid +$(tr).attr('data-id'); + ','
            // data_id = Tableid.split(",");
        });
        // var str1 = array1.join(',');

        var ids = $("#ddl_applicabledata").select2('val');
        var idString = ids + "";
        var splitids = idString.split(",");
        var idArray = [];
        $("#tbl_list tbody").empty();
        for (var i = 0; i < splitids.length; i++) {
            idArray[i] = parseInt(splitids[i]);

            $("#tbl_list tbody").append(
                "<tr data-id='" + array1[i] + "' ata-sessionid='" + SessionId + "' data-feestypeid='" + FeesTypeId + "' data-applicableToId='" + applicableId + "' data-applicationdataid='" + idArray[i] + "' data-price='" + Price + "'>" +
                "<td class='counterCell'></td>" +
                "<td>" + Session + "</td><td>" + ParentType + "</td>" +
                "<td>" + FeesType + "</td><td>" + txtArray[i] + "</td>" +
                "<td>" + Price + "</td>" +
                "<td><a class='remove_row_proff' onclick='RemoveRow(this);' title='Delete' ><i class='fa fa-trash btn-danger'></i></a></td></tr>");


        }

        //$('.select2-selection__rendered').html('');
        $('#txt_price').val('');
    }

    function Delete_Sub(id) {
        debugger;
        $.ajax({
            url: '../FeesTypePrice/DeleteSub/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $(this).closest('tr').remove();
                swal({
                    title: "Fee Price", text: data, type:
                        "success"
                }).then(function () {
                    location.reload();
                }
                );
            }
        });

    }


    function Add_Update_Sub() {

        if ($('#btn_add').text() == "ADD") {
            Add_Data();
        }
        else {
            Update_Data();
        }
    }

    function Close_Popup() {
        $('#mclose').click();
        $('#mclose').modal('hide');
        $('#ddl_feestype option:selected').val('0');
        $('#ddl_Applicableto option:selected').val('0');
        location.reload();
    }


</script>


<script type="text/javascript">

    $('.txt_startdate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });

    $('.txt_enddate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });

    function truncateDate(date) {
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    }
</script>

<script>
    $(document).ready(function () {
         debugger;
        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');

        $.ajax({
            url: '../FeesTypePrice/AcademicSession',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    // debugger;
                    $('#ddl_session').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    if (item.isAvailable == true) {
                        $('#divSession').find($('#ddl_session [value=' + item.id + ']').attr('selected', 'true'));
                        var optionText = $("#divSession option:selected").text();
                        var id = $("#divSession option:selected").val();
                        $('#select2-ddl_session-container').text(optionText);
                        $('#ddl_session').attr('disabled', true);
                        //$('#sessionid').val(optionVal);

                        $.ajax({
                            url: '../FeesTypePrice/Get_SessionFeesType/' + id,
                            type: "GET",
                            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            dataType: "json",
                            success: function (data) {
                                $.each(data, function (index, item) {
                                    //debugger;

                                    if (item.parentFeesType != null) {
                                        $('#ddl_feestype').append(
                                            $('<option applicableid="' + item.applicableId + '" ></option>').val(item.id).html(item.parentFeesType + '-->' + item.feesTypeName)
                                        );
                                    }
                                    else {
                                        $('#ddl_feestype').append(
                                            $('<option applicableid="' + item.applicableId + '" ></option>').val(item.id).html(item.feesTypeName)
                                        );
                                    }

                                });
                            }
                        });
                    }

                });
            }
        });


        $('#ddl_feestype').on('change', function () {
            // debugger;
            if ($('#ddl_feestype option:selected').val() > '0') {

                var id = $("#ddl_feestype option:selected").val();
                $('#ddl_applicabledata').empty();
                $.ajax({
                    url: '../FeesTypePrice/Get_SessionApplicable/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        var appl_id = data.applicableId;
                        var appl_to = data.applicableTo;
                        var AcademicSessionId = data.sessionId;

                        if (appl_to == 'Organization' || appl_to == 'Organizations') {

                            $.ajax({
                                url: '../FeesTypePrice/GetOrganizationData',
                                type: "GET",
                                data: { 'id': AcademicSessionId },
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                dataType: "json",
                                success: function (datas) {
                                    $('#ddl_applicabledata').empty();
                                    //$('#ddl_applicabledata').append(
                                    //    $('<option/>')
                                    //        .attr('value', "0")
                                    //        .text("Select Applicable Data")
                                    //);

                                    $.each(datas, function (index, items) {
                                        //  debugger; //edit_ddl_applicable
                                        $('#ddl_applicabledata').append(
                                            $('<option></option>').val(items.id).html(items.name)
                                        );
                                        $('#edit_ddl_applicable').append(
                                            $('<option></option>').val(items.id).html(items.name)
                                        );
                                    });
                                }
                            });

                        }
                        else if (appl_to == 'Board' || appl_to == 'Boards') {
                            $.ajax({
                                url: '../FeesTypePrice/GetBoardData',
                                type: "GET",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                dataType: "json",
                                success: function (data) {
                                    $('#ddl_applicabledata').empty();
                                    //$('#ddl_applicabledata').append(
                                    //    $('<option/>')
                                    //        .attr('value', "0")
                                    //        .text("Select Applicable Data")
                                    //);

                                    $.each(data, function (index, item) {
                                        // debugger;
                                        $('#ddl_applicabledata').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );

                                        $('#edit_ddl_applicable').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );
                                    });
                                }
                            });
                        }
                        else if (appl_to == 'Class' || appl_to == 'Classs') {
                            $.ajax({
                                url: '../FeesTypePrice/GetClassData',
                                type: "GET",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                dataType: "json",
                                success: function (data) {

                                    $('#ddl_applicabledata').empty();
                                    //$('#ddl_applicabledata').append(
                                    //    $('<option/>')
                                    //        .attr('value', "0")
                                    //        .text("Select Applicable Data")
                                    //);

                                    $.each(data, function (index, item) {
                                        //debugger;
                                        $('#ddl_applicabledata').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );

                                        $('#edit_ddl_applicable').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );
                                    });
                                }
                            });
                        }
                        else if (appl_to == 'Wing' || appl_to == 'Wings') {
                            $.ajax({
                                url: '../FeesTypePrice/GetWingData',
                                type: "GET",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                dataType: "json",
                                success: function (data) {
                                    $('#ddl_applicabledata').empty();
                                    //$('#ddl_applicabledata').append(
                                    //    $('<option/>')
                                    //        .attr('value', "0")
                                    //        .text("Select Applicable Data")
                                    //);
                                    $.each(data, function (index, item) {
                                        // debugger;
                                        $('#ddl_applicabledata').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );

                                        $('#edit_ddl_applicable').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );

                                    });
                                }
                            });
                        }
                        else if (appl_to == 'Student' || appl_to == 'Students') {
                            $.ajax({
                                url: '../FeesTypePrice/GetStudentData',
                                type: "GET",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                dataType: "json",
                                success: function (data) {
                                    $('#ddl_applicabledata').empty();
                                    //$('#ddl_applicabledata').append(
                                    //    $('<option/>')
                                    //        .attr('value', "0")
                                    //        .text("Select Applicable Data")
                                    //);
                                    $.each(data, function (index, item) {
                                        //  debugger;
                                        $('#ddl_applicabledata').append(
                                            $('<option></option>').val(item.id).html(item.firstName)
                                        );

                                        $('#edit_ddl_applicable').append(
                                            $('<option></option>').val(item.id).html(item.name)
                                        );
                                    });
                                }
                            });
                        }

                    }
                });
            }
        });


        var d = new Date();
        var day = ('0' + d.getDate()).slice(-2);
        var month = ('0' + (d.getMonth() + 1)).slice(-2);
        var year = d.getFullYear();
        var n = day + '/' + month + '/' + year;
        $(".txt_startdate").val(n);
        $(".txt_enddate").val(n);

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
            } else {
                $(".chk_checkbox").prop("checked", false);
            }

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');
            var totalrows = $('#dataTable tbody tr').length;

            if (totalrows != count) {
                $('#ckbCheckAll').prop('checked', false);
            }
            else if (totalrows = count) {
                $('#ckbCheckAll').prop('checked', true);
            }
            if (count == 1) {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').show();
            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                // $('.delete_lnk').addClass('disabled');
                $('.count_selectedrows').show();
            }
            else {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').hide();
            }





        });

        $('.dataTables_paginate paging_simple_numbers').hide();
        $('.pagination-container').hide();

        $('#ckbCheckAll').click(function () {
            debugger;
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $("input:checkbox[name=tableCheck]:checked").each(function () {
                    var id = this.value;
                    var count = $('#dataTable').find(".chk_checkbox:checked").length;
                    $('.count_selectedrows').text(count + ' Selected');
                    var totalrows = $('#dataTable tbody tr').length;

                    if (totalrows != count) {
                        $('#ckbCheckAll').prop('checked', false);
                    }
                    else if (totalrows = count) {
                        $('#ckbCheckAll').prop('checked', true);
                    }
                    var value = $(this).data("active");
                    Ids.push(value);
                    $('.edit_lnk').addClass('disabled');
                    var FirstVal = Ids[0];
                    for (var j = 0; j < Ids.length; j++) {

                        if (Ids[j] == FirstVal) {
                            if (FirstVal == "ACTIVE") {
                                $('.Acitve_lnk').addClass('disabled');
                                $('.Deacitve_lnk').removeClass('disabled');
                            }
                            else {
                                $('.Acitve_lnk').removeClass('disabled');
                                $('.Deacitve_lnk').addClass('disabled');
                            }

                        }
                        else {
                            FirstVal = "";
                            $('.Deacitve_lnk').addClass('disabled');
                            $('.Acitve_lnk').addClass('disabled');
                        }
                    }

                });
            } else {
                $(".chk_checkbox").prop("checked", false);
                var count = $('#dataTable').find(".chk_checkbox:checked").length;
                $('.count_selectedrows').text(count + ' Selected');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');
                $('.edit_lnk').addClass('disabled');
            }
        });




        var Ids = [];
        $(document).on('change', '.chk_checkbox', function () {
            debugger;
            var id = this.value;
            var value = $(this).data("active");

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');
            var totalrows = $('#dataTable tbody tr').length;

            if (totalrows != count) {
                $('#ckbCheckAll').prop('checked', false);
            }
            else if (totalrows = count) {
                $('#ckbCheckAll').prop('checked', true);
            }
            if (this.checked == true) {
                Ids.push(value);

            }
            else {

                Ids.splice($.inArray(value, Ids), 1);

            }
            if (count == 1) {
                if (Ids[0] == "ACTIVE") {
                    $("#hdnStatus").val(id);


                    $('.Acitve_lnk').addClass('disabled');
                    $('.Deacitve_lnk').removeClass('disabled');
                }
                else {
                    $("#hdnStatus").val(id);
                    $('.Deacitve_lnk').addClass('disabled');
                    $('.Acitve_lnk').removeClass('disabled');
                }
                $('.edit_lnk').removeClass('disabled');

            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                var FirstVal = Ids[0];
                for (var j = 0; j < Ids.length; j++) {

                    if (Ids[j] == FirstVal) {
                        if (FirstVal == "ACTIVE") {
                            $('.Acitve_lnk').addClass('disabled');
                            $('.Deacitve_lnk').removeClass('disabled');
                        }
                        else {
                            $('.Acitve_lnk').removeClass('disabled');
                            $('.Deacitve_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.Deacitve_lnk').addClass('disabled');
                        $('.Acitve_lnk').addClass('disabled');
                    }
                }

            }
            else {
                $('.edit_lnk').addClass('disabled');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');

            }
        });




    });


</script>

<script>
    function uploadFiles() {
        //debugger;
        var formData = new FormData();
        var totalFiles = document.getElementById("file").files.length;
        var file = document.getElementById("file").files[0];
        formData.append("file", file);

        $.ajax(
            {
                url: "../FeesTypePrice/UploadFeesTypePrice",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    // debugger;
                    if (data == "Excel uploaded successfully") {
                        //swal({
                        //    title: "Bulk Upload",
                        //    text: data,
                        //    icon: "success"
                        //})
                        swal({
                            title: "Bulk Upload", text: data, type: "success"
                        },
                            function () {
                                location.reload();
                            });
                    }
                    else {
                        swal({
                            title: "Bulk Upload", text: data, type: "error"
                        },
                            function () {
                                location.reload();
                            });
                    }
                }
            });
    }


</script>