﻿
@{
    ViewData["Title"] = "AllAttachments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Tasks.Models.allattachmentcls
<div class="card shadow">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Attachments Of  @(Model.todoName == null ? "" : Model.todoName.Length > 20 ? (Model.todoName.ToString().Substring(0, 19) + "...") : Model.todoName)</h6>
            <div>
               @* <a asp-action="@ViewBag.act" asp-route-id="@Model.todoID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Back To Task</a>*@
                <a onclick="javascript: window.history.back();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Back To Task</a>
                <a id="btnaddattachment" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <input type="hidden" value="@Model.todoID" id="todoid" name="todoid" />
            @if (Model.todo != null)
            {
                foreach (var a in Model.todo)
                {
        <div class="row bg-white border mb-2 mt-2">
            <div class="col-md-1 py-0 pr-0 pl-4 h-auto">
                <div class="card border-0 h-100">
                    <div class="card-body p-1 pl-2 font-weight-bold text-white h-50 d-flex justify-content-center align-content-center " style="background-color:dimgrey;font-size:1rem;">
                    </div>
                </div>
            </div>
            <div class="col-md-11 p-0 text-dark">
                <div class="card border-0">
                    <div class="card-body p-1 py-2 pl-2">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-black-50 pl-2 pr-2" style="font-size: 1rem;font-weight: 800;"><a href="/ODMImages/ToDoAttachments/@a.Attachmenturl" target="_blank"><b>@a.AttachmentName</b></a></span>
                            </div>

                            <div class="col-md-6 text-right" style="font-size: 0.8rem;color:black;padding-right: 18px;">
                                @if (Context.Session.GetInt32("userId").Value == a.employeeid)
                                {
                                    <a asp-action="RemoveAttachments" asp-route-id="@a.id" asp-route-act="AllAttachments"><i class="fa fa-trash"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-1 pl-2" style="background-color: #e4e0e0;">
                        <div class="row" style="font-size:0.73rem;">
                            <div class="col-md-6">
                                <div>
                                    <b>Uploaded By</b> <span class="text-info font-weight-bolder">@a.employeeName</span>
                                </div>
                            </div>

                            <div class="col-md-6 text-right">
                                Uploaded On <span class="font-weight-bold" style="color:black;">@a.insertedOn.ToString("dd-MM-yyyy")</span> | Modified On <span class="font-weight-bold" style="color:black;">@a.modifiedOn.ToString("dd-MM-yyyy")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                  
                }
            }
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="todoid" name="todoid" value="@Model.todoID" />
                <div class="row">
                    <div class="col-md-4">
                        Name
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtattachmentname" name="txtattachmentname" />
                        <span class="text-danger" id="spanattachmentname"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        Choose File
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        <span class="text-danger" id="spanattachmentfile"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <input type="button" id="btnuploadattachment" class="btn btn-primary" value="Upload Attachment" />
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnaddattachment').click(function () {
            $('#txtattachmentname').val('');
            $("#file").val('');
            $('#ModalAttachment').modal('show');
        })
        $('#btnuploadattachment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtattachmentname').val() == '') {
                $('#spanattachmentname').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanattachmentname').html('');
            }

            var data = new FormData();
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length > 0) {
                data.append("file", files[0]);
            }
            else {
                $('#spanattachmentfile').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            data.append("todoid", $('#todoid').val());

            data.append("attachmentname", $('#txtattachmentname').val());
            $.ajax({
                url: '/Tasks/Todo/savetodoattachments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalAttachment').modal('hide');
                    }
                    window.location.reload();
                }
            })
        })
    })
</script>