﻿
@{
    ViewData["Title"] = "AllComments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Tasks.Models.allcommentscls


<div class="card shadow">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Comments Of  @(Model.todoName == null ? "" : Model.todoName.Length > 20 ? (Model.todoName.ToString().Substring(0, 19) + "...") : Model.todoName)</h6>
            <div>
               @* <a asp-action="@ViewBag.act" asp-route-id="@Model.todoID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To Task</a>*@
                <a onclick="javascript: window.history.back();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To Task</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <input id="todoidd" type="hidden" value="@Model.todoID" />
            <section class="comments">
                @if (Model.todo.Count() > 0)
                {
                    foreach (var a in Model.todo)
                    {
                        <article class="comment">
                            <a class="comment-img" href="#non">
                                <img src="@(a.profile!=null?"/ODMImages/EmployeeProfile/"+a.profile:"/images/user profile.png")" alt="@a.EmployeeName" width="50" height="50">
                            </a>
                            <div class="comment-body">
                                <div class="text">
                                    <p>@a.Description</p>
                                </div>
                                <p class="attribution">by <a href="#non">@a.EmployeeName</a> at @a.postedON</p>
                            </div>
                            @if (Context.Session.GetInt32("userId").Value == a.EmployeeID)
                            {
                                <a class="closecomment" asp-action="RemoveComment" asp-route-id="@a.id"><i class="fa fa-times"></i></a>
                            }
                        </article>
                    }
                }
                <article>
                    <a class="comment-img" href="#non">
                        <img src="@Context.Session.GetString("profile")" alt="odm" width="50" height="50">
                    </a>
                    <div class="comment-body">
                        <div class="text">
                            <textarea class="form-control" id="txtcomment" name="txtcomment" placeholder="Write Comment Here..."></textarea>
                            <span class="text-danger" id="spantxtcomment"></span>
                        </div>
                        <input type="button" value="Submit" id="btnuploadcomment" class="btn btn-primary float-right mt-3" />
                    </div>

                </article>
            </section>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btnuploadcomment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtcomment').val() == '') {
                $('#spantxtcomment').html('Enter Comment');
                //  $('#ModalComment').modal('show');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spantxtcomment').html('');
            }
            var data = new FormData();
            data.append("comments", $('#txtcomment').val());
            data.append("todoidd", $('#todoidd').val());
            $.ajax({
                url: '/Tasks/Todo/savetodocomments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    //if (data == 0) {
                    //    $('#ModalComment').modal('hide');
                    //}
                    window.location.reload();
                }
            })
        })
    })

</script>
