﻿
@{
    ViewData["Title"] = "CreateOrEditMyTodo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Tasks.Models.TodoModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="TaskMaster" asp-controller="Layout">Task</a></li>
        <li class="breadcrumb-item"><a asp-action="MyTasks" asp-controller="Todo" asp-area="Tasks">MyTask</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<div class="card shadow">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Task</h6>
            <div>
                <a onclick="javascript: window.history.back();" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="SaveOrUpdateMyTodo">
            <input type="hidden" asp-for="ID" />
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group" id="divname">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="divpriorityid">
                        <label asp-for="TodoPriorityID" class="control-label">Priority</label>
                        <select asp-for="TodoPriorityID" class="form-control">
                            <option value="">Select Priority</option>
                            @if (Model.Priorities != null)
                            {
                                foreach (var item in Model.Priorities)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="TodoPriorityID" class="text-danger"></span>
                    </div>


                    <div class="form-group" id="divduedate">
                        <label asp-for="DueDate" class="control-label"></label>
                        <input asp-for="DueDate" class="form-control" type="date" />
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" id="divdescription">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @if (Model.ID != 0)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select asp-for="TodoStatusName" class="form-control">
                                <option value="PENDING">PENDING</option>
                                <option value="ON-HOLD">ON-HOLD</option>
                                <option value="IN-PROGRESS">IN-PROGRESS</option>
                                <option value="COMPLETED">COMPLETED</option>
                                @*@if (Model.ID != 0)
                                    {
                                        if (Model.AssignedEmployeeID == Context.Session.GetInt32("userId").Value)
                                        {
                                            <option value="VERIFY">VERIFY</option>
                                        }
                                    }*@
                            </select>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix" style="margin-bottom:20px;"></div>
            <div class="row">

            </div>
            <div class="clearfix" style="margin-bottom:20px;"></div>
            <div class="form-group text-center">

                <button type="submit" name="submitbuttonvalue" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" value="S"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                <button type="submit" name="submitbuttonvalue" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" value="N"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.statusnew</button>
                @if (Model.TodoStatusName == "COMPLETED" && Model.AssignedEmployeeID == Context.Session.GetInt32("userId").Value)
                {
                    <a asp-action="statuschangetoverify" asp-route-act="CreateOrEditTodo" asp-route-id="@Model.ID" onclick="return confirm('Are you sure to change all subtask status to verified?');" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="font-size: 0.72rem;animation: blinker 1s linear infinite;">Verify</a>
                }
            </div>
        </form>
    </div>
</div>

<div class="clearfix" style="margin-bottom:30px;"></div>
@if (Model.ID != 0)
{
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="text-white font-weight-bolder">Attachments</h6>
                        <div>
                            <input type="button" id="btnaddattachment" class="btn btn-primary float-right" value="+" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group text-right">
                        <a asp-action="AllAttachments" asp-controller="Todo" asp-area="Tasks" asp-route-id="@Model.ID">View More</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    S.No
                                </th>
                                <th>
                                    Attachment
                                </th>
                                <th>
                                    Uploaded By
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.todoattachments.Count() > 0)
                            {
                                int i = 0;
                                foreach (var a in Model.todoattachments)
                                {
                                    <tr>
                                        <td>
                                            @(++i)
                                        </td>
                                        <td>
                                            <a href="/ODMImages/ToDoAttachments/@a.Attachmenturl" target="_blank">@a.AttachmentName</a>
                                        </td>
                                        <td>
                                            <b>
                                                @a.employeeName
                                            </b>
                                        </td>
                                        <td>
                                            @if (Context.Session.GetInt32("userId").Value == a.employeeid)
                                            {
                                                <a asp-action="RemoveAttachmentsByTask" asp-route-id="@a.id" asp-route-act="CreateOrEditMyTodo"><i class="fa fa-trash"></i></a>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="clearfix" style="margin-bottom:30px;"></div>

    @if (Model.ParentID == 0)
    {
        <div class="card shadow">
            <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="text-white font-weight-bolder">Sub Tasks</h6>
                    <div>
                        <input type="button" id="btnaddsubtask" class="btn btn-primary float-right" value="+" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                S.No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Assigned By
                            </th>
                            <th>
                                Assigned To
                            </th>
                            <th>Assigned On</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.subtasklist_Cls != null)
                        {
                            int i = 0;
                            foreach (var a in Model.subtasklist_Cls)
                            {
                                <tr>
                                    <td>
                                        @(++i)
                                    </td>
                                    <td>
                                        @a.todoname
                                    </td>
                                    <td>
                                        @a.priority
                                    </td>
                                    <td>@a.assignedby</td>
                                    <td>@a.assignedto</td>
                                    <td>@a.AssignedDate</td>
                                    <td>@a.DueDate</td>
                                    <td>@a.status</td>
                                    <td><a asp-action="CreateOrEditTodo" asp-area="Tasks" asp-controller="Todo" asp-route-id="@a.todoid">Edit</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}


<div class="modal fade" id="ModalAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="todoid" name="todoid" value="@Model.ID" />
                <div class="row">
                    <div class="col-md-4">
                        Name
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="txtattachmentname" name="txtattachmentname" />
                        <span class="text-danger" id="spanattachmentname"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        Choose File
                    </div>
                    <div class="col-md-8">
                        <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        <span class="text-danger" id="spanattachmentfile"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <input type="button" id="btnuploadattachment" class="btn btn-primary" value="Upload Attachment" />
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalSubtask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px;">
            <div class="modal-header">
                <h5>Sub-Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @* <form asp-action="savetodoattachments" method="post" onsubmit="return isattachmentvalidate();">*@
                <input type="hidden" id="todoid2" name="todoid2" value="@Model.ID" />
                <input type="hidden" id="subtodoid" name="subtodoid" />
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input id="txtsubtaskname" class="form-control" type="text" />
                            <span id="spantxtsubtaskname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Priority</label>
                            <select id="ddlsubtaskpriority" class="form-control" style="width:100%;">
                                <option value="">Select Priority</option>
                                @if (Model.Priorities != null)
                                {
                                    foreach (var item in Model.Priorities)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanddlsubtaskpriority" class="text-danger"></span>
                        </div>

                        <div class="form-group" id="dueDate">
                            <label class="control-label">Deadline Date</label>
                            <input id="txtduedate" class="form-control" type="date" />
                            <span id="spantxtduedate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea id="txtdescription" class="form-control" rows="14"></textarea>
                            <span id="spantxtdescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <a id="btnbacktask" asp-action="MyTasks" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back</a>
                    <button type="button" id="btncreatetask" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Create Task</button>
                </div>
                @* </form>*@
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        divdisable();
        function divdisable() {
            if (@Model.AssignedEmployeeID== @Context.Session.GetInt32("userId").Value) {
                $('#divassignbydeptid').children().attr('readonly', false);
                $('#divname').children().attr('readonly', false);
                $('#divpriorityid').children().attr('readonly', false);
                $('#divassignemployeeid').children().attr('readonly', false);
                $('#divdepartmentid').children().attr('readonly', false);
                $('#divdescription').children().attr('readonly', false);
            }
            else {
                 $('#divassignbydeptid').children().attr('readonly', true);
                $('#divname').children().attr('readonly', true);
                $('#divpriorityid').children().attr('readonly', true);
                $('#divassignemployeeid').children().attr('readonly', true);
                $('#divdepartmentid').children().attr('readonly', true);
                $('#divdescription').children().attr('readonly', true);
            }
        }
        $('#AssignedId').change(function () {
            $.get('/Tasks/Todo/GetDepartmentsByEmployeeID', { id: $('#AssignedId').val() }, function (data) {
                $('#DepartmentID').empty();
                if (data.length > 0) {
                    $("#DepartmentID").append('<option value="0">Select Department</option>');
                    $.each(data, function (i, item) {
                        $("#DepartmentID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $("#DepartmentID").append('<option value="0">No Department</option>');
                }
            })
        });
        $('#btnaddattachment').click(function () {
            $('#txtattachmentname').val('');
            $("#file").val('');
            $('#ModalAttachment').modal('show');
        })
        $('#btnaddsubtask').click(function () {
            $('#txtsubtaskname').val('');
            $('#ddlsubtaskpriority').val('');
            $('#ddlassignedid').val('');
            $('#ddldepartmentid').val('');
            $('#txtdescription').val('');
            $('#txtduedate').val('');
            $('#subtodoid').val('0');

            $('#ModalSubtask').modal('show');
        })
        $('#btnbacktask').click(function () {

            $('#ModalSubtask').modal('hide');
        })
        $('#btnaddcomments').click(function () {
            $('#txtcomment').val('');
            $('#ModalComment').modal('show');
        })
        $('#btnuploadattachment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtattachmentname').val() == '') {
                $('#spanattachmentname').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanattachmentname').html('');
            }

            var data = new FormData();
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length > 0) {
                data.append("file", files[0]);
            }
            else {
                if$('#spanattachmentfile').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            data.append("todoid", $('#todoid').val());

            data.append("attachmentname", $('#txtattachmentname').val());
            $.ajax({
                url: '/Tasks/Todo/savetodoattachments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalAttachment').modal('hide');
                    }
                    window.location.reload();
                }
            })
        })
        $('#btnuploadcomment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtcomment').val() == '') {
                $('#spantxtcomment').html('Enter Comment');
                //  $('#ModalComment').modal('show');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spantxtcomment').html('');
            }
            var data = new FormData();
            data.append("comments", $('#txtcomment').val());
            data.append("todoidd", $('#todoidd').val());
            $.ajax({
                url: '/Tasks/Todo/savetodocomments',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalComment').modal('hide');
                    }
                    window.location.reload();
                }
            })
        })
        $('#btncreatetask').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtsubtaskname').val() == '') {
                $('#spantxtsubtaskname').html('Enter Task Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spantxtsubtaskname').html('');
            }
            if ($('#ddlsubtaskpriority').val() == '') {
                $('#spanddlsubtaskpriority').html('Select Task Priority');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanddlsubtaskpriority').html('');
            }

            //if ($('#txtdescription').val() == '') {
            //    $('#spantxtdescription').html('Enter Task Description');
            //    $('#divloader').fadeOut();
            //    return false;
            //}
            //else {
            //    $('#spantxtdescription').html('');
            //}
            if ($('#txtduedate').val() != '' && $('#DueDate').val() != '') {
                var subdue = new Date($('#txtduedate').val());
                 var due = new Date($('#DueDate').val());
                if (subdue > due) {
                     $('#spantxtduedate').html('Deadline of Sub Task can not be greater than Main Task');
                    $('#divloader').fadeOut();
                return false;
                }
                else {
                $('#spantxtduedate').html('');
            }

            }


            var data = new FormData();
            data.append("name", $('#txtsubtaskname').val());
            data.append("priority", $('#ddlsubtaskpriority').val());
            data.append("employeeid", @Context.Session.GetInt32("userId").Value);
            data.append("deptid", 0);
            data.append("desc", $('#txtdescription').val());
            data.append("parentid", $('#todoid2').val());
            data.append("duedate", $('#txtduedate').val());
            data.append("subtaskid", $('#subtodoid').val());
            $.ajax({
                url: '/Tasks/Todo/SaveOrUpdateSubTodo',
                type: 'POST',
                data: data,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    if (data == 0) {
                        $('#ModalSubtask').modal('hide');
                    }
                    window.location.reload();
                }
            })
        })
        $('#ddlassignedid').change(function () {
            $.get('/Tasks/Todo/GetDepartmentsByEmployeeID', { id: $('#ddlassignedid').val() }, function (data) {
                $('#ddldepartmentid').empty();
                if (data.length > 0) {
                    $("#ddldepartmentid").append('<option value="0">Select Department</option>');
                    $.each(data, function (i, item) {
                        $("#ddldepartmentid").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $("#ddldepartmentid").append('<option value="0">No Department</option>');
                }
            })
        })

    });


</script>


