﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Tasks.Models.TaskDashboardcls

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="TaskMaster" asp-controller="Layout">Task</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<div class="card shadow">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Task Dashboard</h6>
        </div>
    </div>



    <div class="card-body" style="color:black;">
       
        <hr />
        <form asp-action="Index">
            <div class="row">
                <div class="col-md-1 d-flex align-content-center justify-content-center">
                    <h5 style="color:black;"><b>Filter :</b></h5>
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="fromdate" name="fromdate" value="@ViewBag.fromdate" />
                </div>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="todate" name="todate" value="@ViewBag.todate" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-search"></i></button>
                    <a class="btn btn-warning" asp-action="Index"><i class="fa fa-undo"></i></a>
                </div>
               
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <span class="text-danger">@ViewBag.Msg</span>
                </div>
                <div class="col-md-3">

                </div>
               
            </div>
        </form>
        <hr />
        <div class="clearfix" style="margin-bottom:20px;"></div>
        <div class="row pl-3">
            <h3 class="font-weight-bolder">My Tasks</h3>
        </div>
        <hr />
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row p-3">
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 p-4 text-center d-flex align-items-center justify-content-center" style="background-color: #fd7e148c;">
                        <ul class="list-unstyled">
                            <li>
                                <div class="font-weight-bold text-white" style="font-size:4rem;">
                                    @(Model.TotalMyTasks)
                                </div>
                            </li>
                            <li>
                                <div class="text-primary" style="font-size:1.5rem;">
                                    Total Tasks
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 bg-gray-200">
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#0094ff;">
                                            @(Model.PendingMyTasks)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#0094ff;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalMyTasks == 0 ? 0 : ((Model.PendingMyTasks * 100) / Model.TotalMyTasks)) % | <b>Pending</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff0000;">
                                            @(Model.onholdMyTasks)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff0000;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalMyTasks == 0 ? 0 : ((Model.onholdMyTasks * 100) / Model.TotalMyTasks)) % | <b>On-Hold</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff6a00;">
                                            @(Model.inprogressMyTasks)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff6a00;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalMyTasks == 0 ? 0 : ((Model.inprogressMyTasks * 100) / Model.TotalMyTasks))% | <b>Progress</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#7ab743;">
                                            @(Model.CompletedMyTasks)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#7ab743;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalMyTasks == 0 ? 0 : ((Model.CompletedMyTasks * 100) / Model.TotalMyTasks)) % | <b>Completed</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#46781a;">
                                            @(Model.VerifiedMyTasks)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#46781a;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalMyTasks == 0 ? 0 : ((Model.VerifiedMyTasks * 100) / Model.TotalMyTasks)) % | <b>Verified</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" style="margin-bottom:20px;"></div>
        <div class="row pl-3">
            <h3 class="font-weight-bolder">Assign By Me</h3>
        </div>
        <hr />
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row p-3">
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 p-4 text-center d-flex align-items-center justify-content-center" style="background-color: #fd7e148c;">
                        <ul class="list-unstyled">
                            <li>
                                <div class="font-weight-bold text-white" style="font-size:4rem;">
                                    @(Model.TotalTaskother)
                                </div>
                            </li>
                            <li>
                                <div class="text-primary" style="font-size:1.5rem;">
                                    Total Tasks
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 bg-gray-200">
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#0094ff;">
                                            @(Model.PendingTaskother)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#0094ff;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTaskother == 0 ? 0 : ((Model.PendingTaskother * 100) / Model.TotalTaskother)) % | <b>Pending</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff0000;">
                                            @(Model.onholdTaskother)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff0000;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTaskother == 0 ? 0 : ((Model.onholdTaskother * 100) / Model.TotalTaskother)) % | <b>On-Hold</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff6a00;">
                                            @(Model.inprogressTaskother)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff6a00;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTaskother == 0 ? 0 : ((Model.inprogressTaskother * 100) / Model.TotalTaskother)) % | <b>Progress</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#7ab743;">
                                            @(Model.CompletedTaskother)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#7ab743;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTaskother == 0 ? 0 : ((Model.CompletedTaskother * 100) / Model.TotalTaskother)) % | <b>Completed</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#46781a;">
                                            @(Model.VerifiedTaskother)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#46781a;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTaskother == 0 ? 0 : ((Model.VerifiedTaskother * 100) / Model.TotalTaskother)) % | <b>Verified</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" style="margin-bottom:20px;"></div>
        <div class="row pl-3">
            <h3 class="font-weight-bolder">Assign To Me</h3>
        </div>
        <hr />
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row p-3">
            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 p-4 text-center d-flex align-items-center justify-content-center" style="background-color: #fd7e148c;">
                        <ul class="list-unstyled">
                            <li>
                                <div class="font-weight-bold text-white" style="font-size:4rem;">
                                    @(Model.TotalTasktome)
                                </div>
                            </li>
                            <li>
                                <div class="text-primary" style="font-size:1.5rem;">
                                    Total Tasks
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 bg-gray-200">
                        <div class="row">
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#0094ff;">
                                            @(Model.PendingTasktome)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#0094ff;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTasktome == 0 ? 0 : ((Model.PendingTasktome * 100) / Model.TotalTasktome)) % | <b>Pending</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff0000;">
                                            @(Model.onholdTasktome)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff0000;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTasktome == 0 ? 0 : ((Model.onholdTasktome * 100) / Model.TotalTasktome)) % | <b>On-Hold</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#ff6a00;">
                                            @(Model.inprogressTasktome)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#ff6a00;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTasktome == 0 ? 0 : ((Model.inprogressTasktome * 100) / Model.TotalTasktome)) % | <b>Progress</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#7ab743;">
                                            @(Model.CompletedTasktome)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#7ab743;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTasktome == 0 ? 0 : ((Model.CompletedTasktome * 100) / Model.TotalTasktome)) % | <b>Completed</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-0">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-center font-weight-bold" style="font-size:4rem;color:#46781a;">
                                            @(Model.VerifiedTasktome)
                                        </div>
                                    </div>
                                    <div class="card-footer" style="background-color:#46781a;">
                                        <div style="font-size:0.81rem;color:white;" class="text-right text-uppercase">
                                            @(Model.TotalTasktome == 0 ? 0 : ((Model.VerifiedTasktome * 100) / Model.TotalTasktome)) % | <b>Verified</b>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom:20px;"></div>

    </div>

</div>
<div class="clearfix" style="margin-bottom:20px;"></div>