﻿@{
    ViewData["Title"] = "Todo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .divheader {
        background-color: white;
        box-shadow: 4px 8px 11px 0px grey;
        padding: 10px 5px;
    }
</style>
@model List<OdmErp.Web.Areas.Tasks.Models.DatewiseTasks>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Tasks</h1>
    <div>
        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
            <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadToDo" asp-controller="Todo"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>*@
        <a href="/Tasks/Todo/CreateOrEditTodo" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>

    </div>
</div>
<!-- Content Row -->
@if (Model != null)
{
    int i = 1;
    <div style="padding: 10px;  color: black;"></div>
    @foreach (var a in Model)
    {

        <div class="form-group collapsed divheader" data-toggle="collapse" data-target="#divassign_@i">
            <span style="font-size:1.3rem;font-weight:600;"><i class="fa fa-angle-right"></i>&nbsp;@a.AssignDate</span>
        </div>
        <div class="row collapse @(i==1?"show":"")" style="color:black !important;padding:10px 20px;" id="divassign_@i">
            <div class="col-md-3" ondrop="drop(event,'divassign_@i')" ondragover="allowDrop(event,'divassign_@i')" id="divpending_@i">
                <div class="form-group border-bottom-primary">
                    <h5>Pending</h5>
                </div>
                @if (a.Pendinglist.Count() > 0)
                {
                    foreach (var p in a.Pendinglist)
                    {
                        <div class="form-group border-left-primary" draggable="true" ondragstart="drag(event,'divassign_@i')" id="dragassign_@p.todoid">
                            <div class="card card-body shadow">
                                <div><span style="font-size:1rem;font-weight: 600;">@p.todoname</span><a class="float-right"><i class="fa fa-pen" style="color:black !important;"></i></a></div>
                                <div><span class="badge badge-pill badge-dark" style="font-size: 0.7rem;">@p.priority</span></div>
                                <div class="pt-3">
                                    <img src="~/ODMImages/EmployeeProfile/@p.profile" alt="@p.assignedto" style="border-radius:50%;width:30px;height:34px;" />
                                    <label class="float-right pt-1" style="font-size: 1rem;">
                                        <i class="fa fa-clock"></i> @p.assigntime
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-3" ondrop="drop(event,'divassign_@i')" ondragover="allowDrop(event,'divassign_@i')" id="divprogress_@i">
                <div class="form-group border-bottom-secondary">
                    <h5>In-Progress</h5>
                </div>
                @if (a.inprogresslist.Count() > 0)
                {
                    foreach (var p in a.inprogresslist)
                    {
                        <div class="form-group border-left-secondary" ondragstart="drag(event,'divassign_@i')" id="dragprogress_@p.todoid">
                            <div class="card card-body shadow">

                                <div><span style="font-size:1rem;font-weight: 600;">@p.todoname</span><a class="float-right"><i class="fa fa-pen" style="color:black !important;"></i></a></div>
                                <div><span class="badge badge-pill badge-dark" style="font-size: 0.7rem;">@p.priority</span></div>
                                <div class="pt-3">
                                    <img src="~/ODMImages/EmployeeProfile/@p.profile" alt="@p.assignedto" style="border-radius:50%;width:30px;height:34px;" />
                                    <label class="float-right pt-1" style="font-size: 1rem;">
                                        <i class="fa fa-clock"></i> @p.assigntime
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @*<div class="col-md-2">
                    <div class="form-group">
                        <h5>On-Hold</h5>
                    </div>
                    <div class="form-group">

                    </div>
                </div>*@
            <div class="col-md-3" ondrop="drop(event,'divassign_@i')" ondragover="allowDrop(event,'divassign_@i')" id="divcomplete_@i">
                <div class="form-group border-bottom-success">
                    <h5>Completed</h5>
                </div>
                @if (a.Completedlist.Count() > 0)
                {
                    foreach (var p in a.Completedlist)
                    {
                        <div class="form-group border-left-success" ondragstart="drag(event,'divassign_@i')" id="dragcomplete_@p.todoid">
                            <div class="card card-body shadow">

                                <div><span style="font-size:1rem;font-weight: 600;">@p.todoname</span><a class="float-right"><i class="fa fa-pen" style="color:black !important;"></i></a></div>
                                <div><span class="badge badge-pill badge-dark" style="font-size: 0.7rem;">@p.priority</span></div>
                                <div class="pt-3">
                                    <img src="~/ODMImages/EmployeeProfile/@p.profile" alt="@p.assignedto" style="border-radius:50%;width:30px;height:34px;" />
                                    <label class="float-right pt-1" style="font-size: 1rem;">
                                        <i class="fa fa-clock"></i> @p.assigntime
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-3" ondrop="drop(event,'divassign_@i')" ondragover="allowDrop(event,'divassign_@i')" id="divverify_@i">
                <div class="form-group border-bottom-info">
                    <h5>Verified</h5>
                </div>
                @if (a.Verifiedlist.Count() > 0)
                {
                    foreach (var p in a.Verifiedlist)
                    {
                        <div class="form-group  border-left-info" ondragstart="drag(event,'divassign_@i')" id="dragverify_@p.todoid">
                            <div class="card card-body shadow">

                                <div><span style="font-size:1rem;font-weight: 600;">@p.todoname</span><a class="float-right"><i class="fa fa-pen" style="color:black !important;"></i></a></div>
                                <div><span class="badge badge-pill badge-dark" style="font-size: 0.7rem;">@p.priority</span></div>
                                <div class="pt-3">
                                    <img src="~/ODMImages/EmployeeProfile/@p.profile" alt="@p.assignedto" style="border-radius:50%;width:30px;height:34px;" />
                                    <label class="float-right pt-1" style="font-size: 1rem;">
                                        <i class="fa fa-clock"></i> @p.assigntime
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <!-- /.container-fluid -->
        </div>
        <span style="display:none;">@(i = i + 1)</span>
    }
}

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    /*.table tbody tr.has-history span.collapse-icon:before {
        content: "+";
    }

    .table tbody tr.has-history.open span.collapse-icon {
        background: #eee;
        color: #000;
        border: 1px solid #ccc;
    }

        .table tbody tr.has-history.open span.collapse-icon:before {
            content: "-";
        }*/
</style>
@*<style>
        .table tbody tr.has-history > td:first-child {
            position: relative;
        }

        .table tbody tr.has-history span.collapse-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            color: white;
            text-align: center;
            font-weight: bold;
            position: absolute;
            left: -20px;
            background: #f09d18;
            border-radius: 5px 0 0 5px;
            cursor: pointer;
            font-size: 1.5em;
            line-height: 1em;
        }

            .table tbody tr.has-history span.collapse-icon:before {
                content: "+";
            }

        .table tbody tr.has-history.open span.collapse-icon {
            background: #eee;
            color: #000;
            border: 1px solid #ccc;
        }

            .table tbody tr.has-history.open span.collapse-icon:before {
                content: "-";
            }

        .table {
            MARGIN-LEFT: 40px;
        }
    </style>*@
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    var mid = '';
    var divpanelid = '';
    function allowDrop(ev, divid) {
        ev.preventDefault();

    }

    function drag(ev, divid) {
        ev.dataTransfer.setData("text", ev.target.id);
        mid = divid;

    }

    function drop(ev, divid) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        if (mid == divid) {
            var s = ev.target.id;
            // divpanelid = data.target.id.split('_')[0];
            if (s.split('_')[0] == 'divpending') {
                var ele = document.getElementById(data);
                ele.removeAttribute('class');
                ele.setAttribute('class', 'form-group border-left-primary');
            }
            else if (s.split('_')[0] == 'divprogress') {
                var ele = document.getElementById(data);
                ele.removeAttribute('class');
                ele.setAttribute('class', 'form-group border-left-secondary');
            }
            else if (s.split('_')[0] == 'divcomplete') {
                var ele = document.getElementById(data);
                ele.removeAttribute('class');
                ele.setAttribute('class', 'form-group border-left-success');
            }
            else if (s.split('_')[0] == 'divverify') {
                var ele = document.getElementById(data);
                ele.removeAttribute('class');
                ele.setAttribute('class', 'form-group border-left-info');
            }
            ev.target.appendChild(document.getElementById(data));
        }
    }
</script>
<script>
    $(document).ready(function () {
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function () {
            $(this).prev(".divheader").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).prev(".divheader").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
        }).on('hide.bs.collapse', function () {
            $(this).prev(".divheader").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
        });
    });
</script>
<script>

    function openchilds(id) {

        $(id).slideToggle("slow");
    }
//$(document).ready(function () {
// //   $('.todocollapse').slideUp();
//    $(".table tbody tr.has-history td:first-child").append('<span class="collapse-icon"></span>');
//});

//$(document).on("click", ".collapse-icon", function () {
//    $(this).parents(".has-history").next().slideToggle();
//    $(this).parents(".has-history").toggleClass("open");
//});
</script>
