﻿@{
    ViewData["Title"] = "Todo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Tasks.Models.AllTaskModel>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">My Tasks</h1>
    <div>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadToDo" asp-controller="Todo"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>
        <a href="/Tasks/Todo/CreateOrEditTodo" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>

    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                
                <div class="table-responsive">
                    
                    <form>
                        <div class="form-group col-md-12">
                           

                           
                        </div>
                    </form>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Name</th>
                                <th>Employee</th>
                                @*<th>Priority</th>*@
                                <th>Status</th>
                                <th>Description</th>
                                @*<th>AssignedOn</th>
                                <th>CompletionDate</th>
                                <th>DueDate</th>*@

                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @(++i)
                                </td>

                                <td>@item.toDoModel.Name</td>

                                <td>@item.toDoModel.EmployeeName</td>
                                @*<td>@item.toDoModel.PriorityName</td>*@
                                <td>@item.toDoModel.TodoStatusName</td>
                                <td>@item.toDoModel.Description</td>
                                @*<td>@item.toDoModel.AssignedEmployeeName</td>
                                <td>@item.toDoModel.AssignedOn</td>
                                <td>@item.toDoModel.CompletionDate</td>
                                <td>@item.toDoModel.DueDate</td>*@


                                <td>
                                    <a asp-action="CreateOrEditTodo" asp-route-id="@item.Id"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                    <a asp-action="DeleteTodo" asp-route-id="@item.Id" onclick="return confirm('Are you sure you wish to delete this My Task?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>
                                    @*@Html.ActionLink("DeleteCountry", "Master", new { id = item.ID },
            new { onclick = "return confirm('Are you sure you wish to delete this country?');" })*@
                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadGrievanceStatus" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Grievance/downloadGrievanceStatusSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () { });

    function aa() {
        $.get('/Tasks/Todo/GetAllTodo', {}, function (data) {
          
            if (data.name = "pending") {
                              
                $("#assign").show();
            }
            else
                $("#assign").hide();

        })


    }
</script>