﻿@{
    ViewData["Title"] = "TodoPriority";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.TodoAggregate.TodoPriority>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Task" asp-controller="Layout">Task</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Priority</li>
        </ol>
    </nav>
</div>
    <!-- Content Row -->
    <div class="row">
        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Task Priority</h1>
                    <div>
                        <a href="/Tasks/Todo/CreateOrEditTodoPriority" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>

                    </div>
                </div>


                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="row">
                    <div class="container-fluid">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form>
                                    <div class="form-group col-md-12">
                                        @*<div class="form-group col-md-4" style="width: 200px;">
                                        <label class="control-label"></label>
                                        <select class="form-control">
                                            <option value="null">Select Type</option>
                                            @if (ViewBag.Todo != null)
                                            {
                                                foreach (var a in ViewBag.Todo)
                                                {
                                                    <option value="@a.ID">@a.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group col-md-4" style="width: 200px;">
                                        <label for="GrievanceStatus" class="control-label"></label>
                                        <select class="form-control" onchange="return aa();">
                                            <option value="null">Select Status</option>
                                            @if (ViewBag.TodoStatus != null)
                                            {
                                                foreach (var a in ViewBag.TodoStatus)
                                                {
                                                    <option value="@a.ID">@a.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>*@


                                    </div>
                                </form>

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Sl no.</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            int i = 0;
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @(++i)
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.Name</td>

                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        <a title="Edit" asp-action="CreateOrEditTodoPriority" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                        <a title="Delete" asp-action="DeleteTodoPriority" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this ToDoStatus?');"><i class="fas fa-trash"></i></a>
                                                        @*@Html.ActionLink("DeleteCountry", "Master", new { id = item.ID },
                                                    new { onclick = "return confirm('Are you sure you wish to delete this country?');" })*@
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- /.container-fluid -->
            </div>







<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () { });

    function aa() {
        $.get('/Tasks/Todo/GetAllTodo', {}, function (data) {

            if (data.name = "pending") {

                $("#assign").show();
            }
            else
                $("#assign").hide();

        })


    }
</script>
