﻿
@{
    ViewData["Title"] = "ViewTaskDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Tasks.Models.viewtaskclass
<div class="form-group text-right">
    @*<a asp-action="@ViewBag.act" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
    <a onclick="javascript: window.history.back();" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
</div>
<div class="card shadow mb-3">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Task Details</h6>
            <div>
                @if (Model.task.status != "VERIFY")
                {
                    <a asp-action="CreateOrEditTodo" asp-route-id="@Model.task.todoid" asp-route-act="@ViewBag.act"><i class="fa fa-pen text-white"></i></a><span>&nbsp;</span>
                }
            </div>
        </div>
    </div>
    <div class="card-body" style="color: black;">
        <div class="row clearfix mb-1 col-md-12">
            <h5><b>@Model.task.todoname</b></h5>
        </div>





        @*<div class="row">
                <div class="col-md-2">
                    <label class="control-label">Task Name :</label>
                </div>
                <div class="col-md-10">
                    <label class="control-label">@Model.task.todoname</label>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Priority :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.priority</label></div>
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Status :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.status</label></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Assign By :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.assignedby</label></div>
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Assign To :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.assignedto</label></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Department :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.AssignByDepartmentName</label></div>
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Department :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.department</label></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Assign On :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.AssignedDate </label></div>
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Completed On :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.completionDt </label></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Due Date :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.DueDate </label></div>
            <div class="col-md-3 text-right" style="font-weight:500;"><label class="control-label">Verify Date :</label></div>
            <div class="col-md-3"><label class="control-label">@Model.task.VerifyDt </label></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 clearfix" style="font-weight:500;">
                <label class="control-label">Description</label>
            </div>
            <div class="col-md-12 clearfix">
                <label class="control-label">@Model.task.tododescription </label>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-3">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">Attachments</h6>
            <div>
                @if (Model.task.status != "VERIFY")
                {
                    <a asp-action="AllAttachments" asp-route-id="@Model.task.todoid" asp-route-act="ViewTaskDetails"><i class="fa fa-paperclip text-white"></i></a><span>&nbsp;</span>
                }
            </div>
        </div>
    </div>
    <div class="card-body" style="color: black;">

        <div class="row">
            <table class="table table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            Attachment
                        </th>
                        <th>
                            Uploaded By
                        </th>
                        <th>Uploaded On</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.todoattachments.Count() > 0)
                    {
                        int i = 0;
                        foreach (var a in Model.todoattachments)
                        {
                            <tr>
                                <td>
                                    @(++i)
                                </td>
                                <td>
                                    <a href="/ODMImages/ToDoAttachments/@a.Attachmenturl" target="_blank">@a.AttachmentName</a>
                                </td>
                                <td>
                                    <b>
                                        @a.employeeName
                                    </b>
                                </td>
                                <td>
                                    @a.insertedOn.ToString("dd-MMM-yyyy")
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-3">
            <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="text-white font-weight-bolder">Timeline</h6>
                </div>
            </div>
            <div class="card-body" style="color: black;">
                <div class="form-group" style="overflow-y:scroll;max-height:500px;">
                    <section class="comments">
                        @if (Model.todoTimelines.Count() > 0)
                        {
                            foreach (var a in Model.todoTimelines)
                            {
                                <article class="comment">
                                    <a class="comment-img" href="#non">
                                        <img src="~/images/Clock-Transparent.png" style="height:50px;width:50px;color:black !important;" />
                                    </a>
                                    <div class="comment-body">
                                        <div class="text">
                                            <p>
                                                @a.TodoStatus
                                                @if (a.RelatedId != 0)
                                                {
                                                    <span> To @a.RelatedName</span>
                                                }
                                                else if (a.RelatedDate != null)
                                                {
                                                    <span> On @a.RelatedDate.Value.ToString("dd-MMM-yyyy") </span>
                                                }
                                            </p>
                                        </div>
                                        <p class="attribution">by <a href="#non">@a.insertedBy</a> at @a.InsertedDate.ToString("dd-MMM-yyyy")</p>
                                    </div>
                                </article>
                            }
                        }

                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-3">
            <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="text-white font-weight-bolder">Comments</h6>
                    <div>
                        @if (Model.task.status != "VERIFY")
                        {
                            <a asp-action="AllComments" asp-route-id="@Model.task.todoid" asp-route-act="ViewTaskDetails"><i class="fa fa-comment text-white"></i></a><span>&nbsp;</span>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body" style="color: black;">
                <div class="form-group" style="overflow-y:scroll;max-height:500px;">
                    <section class="comments">
                        @if (Model.todocomments.Count() > 0)
                        {
                            foreach (var a in Model.todocomments)
                            {
                                <article class="comment">
                                    <a class="comment-img" href="#non">
                                        <img src="@(a.profile!=null?"/ODMImages/EmployeeProfile/"+a.profile:"/images/user profile.png")" alt="@a.EmployeeName" width="50" height="50">
                                    </a>
                                    <div class="comment-body">
                                        <div class="text">
                                            <p>@a.Description</p>
                                        </div>
                                        <p class="attribution">by <a href="#non">@a.EmployeeName</a> at @a.postedON</p>
                                    </div>
                                </article>
                            }
                        }

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix" style="margin-bottom:30px;"></div>

@if (Model.subtasklist_Cls != null)
{
    <div class="card shadow mb-3">
        <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h6 class="text-white font-weight-bolder">Sub-Task</h6>

            </div>
        </div>
        <div class="card-body" style="color: black;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            S.No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Assigned By
                        </th>
                        <th>
                            Assigned To
                        </th>
                        <th>Assigned On</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.subtasklist_Cls != null)
                    {
                        int i = 0;
                        foreach (var a in Model.subtasklist_Cls)
                        {
                            <tr>
                                <td>
                                    @(++i)
                                </td>
                                <td>
                                    @a.todoname
                                </td>
                                <td>
                                    @a.priority
                                </td>
                                <td>@a.assignedby</td>
                                <td>@a.assignedto</td>
                                <td>@a.AssignedDate</td>
                                <td>@a.DueDate</td>
                                <td>@a.status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

}


