﻿
@{
    ViewData["Title"] = "ViewTaskList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNetCore.Http;
@model OdmErp.Web.Areas.Tasks.Models.taskviewmodelcls


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="TaskMaster" asp-controller="Layout">Task</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Organisational Task</li>
    </ol>
</nav>


<!-- Page Heading -->
@*<style>
        table tr td {
            padding: 0.65rem !important;
        }
    </style>*@
<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #151313 !important;
    }
</style>
<div class="card shadow">
    <div class="card-header p-2 pl-3" style="background-color: #3e0b3aeb;">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="text-white font-weight-bolder">View Organisational Task</h6>
            <div>
                <a asp-action="DownloadTaskDetailsReport" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Download Excel</a>
                @*<a onclick="viewtasks()" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back</a>*@
            </div>
        </div>
    </div>
    <div class="card-body">
      
        <div class="container-fluid">
          
            <hr />
            <div class="clearfix" style="margin-bottom:20px;"></div>
            <div class="form-group">
                
                    <table class="table table-borderless" id="dataTable1" style="width:100%;" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th class="sorting_desc_disabled sorting_asc_disabled"></th>
                                <th style="font-size: 13px;width:2% !important;">Sort</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.alltask.subtasklist_Cls != null)
                            {
                                foreach (var a in Model.alltask.subtasklist_Cls)
                                {
                                    <tr>
                                        <td style="padding:0px;">
                                            <div class="row bg-white border mb-2 mt-2 divheader" data-toggle="collapse" data-target="#divsubtasks_@a.todoid">
                                                <div class="col-md-1 py-0 pr-0 pl-4 h-auto">
                                                    <div class="card border-0 h-100">
                                                        <div class="card-body p-1 pl-2 font-weight-bold text-white h-50 d-flex justify-content-center align-content-center " style="background-color:orange;font-size:1rem;">
                                                            @if (DateTime.Now.Date.Subtract(a.AssignDate.Value).Add(TimeSpan.FromHours(24)).TotalHours <= 24 && a.status != "COMPLETED" && a.status != "VERIFY")
                                                            {
                                                                <span>NEW</span>
                                                            }
                                                            else
                                                            {

                                                            }
                                                        </div>
                                                        <div class="card-footer p-1 pl-2 h-50" style="background-color: #858796; color: white;">
                                                            @if (a.subtasks != null)
                                                            {
                                                                if (a.subtasks.Count > 0)
                                                                {
                                                                    <ul style="padding: 0px; list-style: none; display: block; text-align:center; font-size: 1rem; margin: 0px;">
                                                                        <li style="font-size:1rem;line-height:1rem;">
                                                                            <i class="fa fa-angle-right"></i>
                                                                        </li>
                                                                        <li style="font-size:1rem;line-height:1rem;">@a.subtasks.Count</li>
                                                                    </ul>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-11 pl-0 text-dark pt-1">
                                                    <div class="card border-0">
                                                        <div class="card-body p-1 pl-2">
                                                            <div class="row">
                                                                <div class="col-md-5">
                                                                    <div style="font-size: 1.3rem; font-weight: 600;line-height:1.35rem;" title="@a.todoname">
                                                                        @(a.todoname == null ? "" : a.todoname.Length > 30 ? (a.todoname.ToString().Substring(0, 29) + "...") : a.todoname)
                                                                    </div>
                                                                    <div style="font-size: 1rem; font-weight: 100;line-height:1.1rem;">
                                                                        @(a.tododescription == null ? "" : a.tododescription.Length > 30 ? (a.tododescription.ToString().Substring(0, 29) + "...") : a.tododescription)

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 text-center">

                                                                    <div class="">
                                                                        @if (a.status != "VERIFY")
                                                                        {
                                                                            string st = a.status == "PENDING" ? "background-color: #D3D3D3;color: white;" : (a.status == "ON-HOLD" ? "background-color:#ff0000;color: white;" : (a.status == "IN-PROGRESS" ? "background-color:#ff6a00;color: white;" : (a.status == "COMPLETED" ? "background-color:#7ab743;color: white;" : "")));
                                                                            <div class="btn-group">
                                                                                <button type="button" class="statuschangebtn" style="@st">
                                                                                    @a.status
                                                                                </button>
                                                                                @if (a.AssignToID == Context.Session.GetInt32("userId").Value)
                                                                                {
                                                                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                                                                                    </button>

                                                                                    <div class="dropdown-menu">
                                                                                        <a class="dropdown-item" asp-action="statuschangetoonhold" asp-route-act="ViewTaskList" asp-route-id="@a.todoid" onclick="return confirm('Are you sure to change all subtask status to on-hold?');">ON-HOLD</a>
                                                                                        <a class="dropdown-item" asp-action="statuschangetoinprogress" asp-route-act="ViewTaskList" asp-route-id="@a.todoid" onclick="return confirm('Are you sure to change all subtask status to in-progress?');">IN-PROGRESS</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a class="dropdown-item" asp-action="statuschangetocomplete" asp-route-act="ViewTaskList" asp-route-id="@a.todoid" onclick="return confirm('Are you sure to change all subtask status to completed?');">COMPLETED</a>
                                                                                        @*@if (a.AssignByID == Context.Session.GetInt32("userId").Value)
                                                                                            {
                                                                                                <a class="dropdown-item" asp-action="statuschangetoverify" asp-route-act="ViewTaskList" asp-route-id="@a.todoid" onclick="return confirm('Are you sure to change all subtask status to verified?');">VERIFY</a>
                                                                                            }*@
                                                                                    </div>
                                                                                }
                                                                            </div>

                                                                        }

                                                                        else if (a.status == "VERIFY")
                                                                        {
                                                                            <span class="badge badge-pill badge-success" style="font-size: 0.72rem;animation: blinker 1s linear infinite; padding: 7px 37px;">Verified</span>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 text-right">
                                                                    @*@if (a.parentID == 0)
                                                                        {
                                                                            <a onclick="opensubtask(@a.todoid,'@a.DueDt')"><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>
                                                                        }*@
                                                                    @*<a><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a>*@
                                                                    <a asp-action="ViewTaskDetails" asp-route-act="ViewTaskList" asp-route-id="@a.todoid"><img src="~/websiteimages/EYE.svg" style="width: 1.85rem;" /></a>&nbsp;
                                                                    @if (a.status != "VERIFY")
                                                                    {
                                                                        <a asp-action="CreateOrEditTodo" asp-route-id="@a.todoid" asp-route-act="ViewTaskList"><img src="~/websiteimages/EDIT.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>
                                                                    }
                                                                    <a asp-action="AllComments" asp-route-id="@a.todoid" asp-route-act="ViewTaskList" role="button" aria-haspopup="true" aria-expanded="false">
                                                                        <img src="~/websiteimages/CHAT.svg" style="width: 1.85rem;" />
                                                                    </a>
                                                                    @if (a.commentcount > 0)
                                                                    {
                                                                        <span class="bg-primary text-white p-1 px-2 position-absolute notificattionicon">@a.commentcount</span>
                                                                    }
                                                                    @*<a asp-action="AllComments" asp-route-id="@a.todoid">
                                                                            <img src="~/websiteimages/CHAT.svg" style="width: 1.85rem;" />
                                                                            <span>@a.commentcount</span>
                                                                        </a>&nbsp;*@
                                                                    @if (a.AssignByID == Context.Session.GetInt32("userId").Value)
                                                                    {
                                                                        <a asp-action="DeleteTodo" asp-route-act="ViewTaskList" asp-route-id="@a.todoid"><img src="~/websiteimages/DELETE.svg" style="width: 1.85rem;" /></a>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer p-1 pl-2" style="background-color: #e4e0e0;">
                                                        <div class="row" style="font-size:0.73rem;">
                                                            <div class="col-md-5">
                                                                <div>
                                                                    Assigned To <span class="font-weight-bold" style="color:black;">@(a.assignedto)</span> by <span class="text-danger font-weight-bold">@(a.assignedby)</span> on <span>@(a.AssignedDate)</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-center font-weight-bold text-uppercase" style="color:black;">
                                                                <div>
                                                                    @if (a.DueDt == null)
                                                                    {
                                                                        <span class="text-primary">Due Date Not Assigned</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (a.status != "COMPLETED" && a.status != "VERIFY")
                                                                        {
                                                                            if ((a.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours <= 24 && a.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours >= 0))
                                                                            {

                                                                                <span class="text-primary">@(a.DueDt.Value.Subtract(DateTime.Now).Add(TimeSpan.FromHours(24)).Hours + " hrs Left")</span>
                                                                            }

                                                                            else if (a.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours < 0)
                                                                            {

                                                                                <span class="text-primary">Deadline Missed</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="text-primary">@(a.DueDt.Value.Subtract(DateTime.Now).Add(TimeSpan.FromDays(1)).Days + " days Left")</span>
                                                                            }
                                                                        }
                                                                    }
                                                                    @if (a.AssignByID == Context.Session.GetInt32("userId").Value && a.status == "COMPLETED")
                                                                    {
                                                                        <i class="fa fa-circle text-dark"></i> <a class="text-success font-weight-bold" onclick="verifyscorenodal(@a.todoid)">VERIFY NOW</a>
                                                                    }
                                                                    <span>
                                                                        <i class="fa fa-circle text-dark"></i>  @if (a.priority == "Low")
                                                                        {
                                                                            <span class="text-secondary">LOW</span>
                                                                        }
                                                                        else if (a.priority == "Medium")
                                                                        {
                                                                            <span class="text-warning">MEDIUM</span>
                                                                        }
                                                                        else if (a.priority == "High")
                                                                        {
                                                                            <span class="text-primary">HIGH</span>
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 text-right">
                                                                Read On <span class="font-weight-bold" style="color:black;">@a.AssignDate.Value.ToString("dd-MM-yyyy")</span> | Modified On <span class="font-weight-bold" style="color:black;">@a.ModifiedDate.Value.ToString("dd-MM-yyyy")</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div id="divsubtasks_@a.todoid" class="ml-3 mr-3 collapse">
                                                @if (a.subtasks != null)
                                                {
                                                    foreach (var m in a.subtasks)
                                                    {
                                                        <div class="row bg-white border mb-1">
                                                            <div class="col-md-1 py-0 pr-0 pl-4 h-auto">
                                                                <div class="card border-0 h-100">
                                                                    <div class="card-body p-1 pl-2 font-weight-bold text-white h-50 d-flex justify-content-center align-content-center " style="background-color:orange;font-size:1rem;">
                                                                        @if (DateTime.Now.Date.Subtract(m.AssignDate.Value).Add(TimeSpan.FromHours(24)).TotalHours <= 24 && m.status != "COMPLETED" && m.status != "VERIFY")
                                                                        {
                                                                            <span>NEW</span>
                                                                        }
                                                                        else
                                                                        {

                                                                        }
                                                                    </div>
                                                                    <div class="card-footer p-1 pl-2 h-50" style="background-color: #858796; color: white;">
                                                                        @if (m.subtasks != null)
                                                                        {
                                                                            if (m.subtasks.Count > 0)
                                                                            {
                                                                                <ul style="padding: 0px; list-style: none; display: block; text-align:center; font-size: 1rem; margin: 0px;">
                                                                                    <li style="font-size:1rem;line-height:1rem;">
                                                                                        <i class="fa fa-angle-right"></i>
                                                                                    </li>
                                                                                    <li style="font-size:1rem;line-height:1rem;">@m.subtasks.Count</li>
                                                                                </ul>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-11 pl-0 text-dark pt-1">
                                                                <div class="card border-0">
                                                                    <div class="card-body p-1 pl-2">
                                                                        <div class="row">
                                                                            <div class="col-md-5">
                                                                                <div style="font-size: 1rem; font-weight: 600;line-height:1.1rem;" title="@m.todoname">
                                                                                    @(m.todoname == null ? "" : m.todoname.Length > 30 ? (m.todoname.ToString().Substring(0, 29) + "...") : m.todoname)
                                                                                </div>
                                                                                <div style="font-size: 0.71rem; font-weight: 100;line-height:0.81rem;">
                                                                                    @(m.tododescription == null ? "" : m.tododescription.Length > 30 ? (m.tododescription.ToString().Substring(0, 29) + "...") : m.tododescription)

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3 text-center">

                                                                                <div class="">
                                                                                    @if (m.status != "VERIFY")
                                                                                    {
                                                                                        string st = m.status == "PENDING" ? "background-color: #D3D3D3;color: white;" : (m.status == "ON-HOLD" ? "background-color:#ff0000;color: white;" : (m.status == "IN-PROGRESS" ? "background-color:#ff6a00;color: white;" : (m.status == "COMPLETED" ? "background-color:#7ab743;color: white;" : "")));
                                                                                        <div class="btn-group">
                                                                                            <button type="button" class="statuschangebtn" style="height:33px;@st">@m.status</button>
                                                                                            @if (m.AssignToID == Context.Session.GetInt32("userId").Value)
                                                                                            {
                                                                                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" style="height:33px;">
                                                                                                </button>

                                                                                                <div class="dropdown-menu">
                                                                                                    <a class="dropdown-item" asp-action="statuschangetoonhold" asp-route-act="ViewTaskList" asp-route-id="@m.todoid" onclick="return confirm('Are you sure to change subtask status to on-hold?');">ON-HOLD</a>
                                                                                                    <a class="dropdown-item" asp-action="statuschangetoinprogress" asp-route-act="ViewTaskList" asp-route-id="@m.todoid" onclick="return confirm('Are you sure to change subtask status to in-progress?');">IN-PROGRESS</a>
                                                                                                    <div class="dropdown-divider"></div>
                                                                                                    <a class="dropdown-item" asp-action="statuschangetocomplete" asp-route-act="ViewTaskList" asp-route-id="@m.todoid" onclick="return confirm('Are you sure to change subtask status to completed?');">COMPLETED</a>
                                                                                                    @*@if (m.AssignByID == Context.Session.GetInt32("userId").Value)
                                                                                                        {
                                                                                                            <a class="dropdown-item" asp-action="statuschangetoverify" asp-route-act="ViewTaskList" asp-route-id="@m.todoid" onclick="return confirm('Are you sure to change subtask status to verified?');">VERIFY</a>
                                                                                                        }*@
                                                                                                </div>
                                                                                            }
                                                                                        </div>

                                                                                    }

                                                                                    else if (m.status == "VERIFY")
                                                                                    {
                                                                                        <span class="badge badge-pill badge-success" style="font-size: 0.72rem;animation: blinker 1s linear infinite; padding: 7px 37px;">Verified</span>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 text-right">
                                                                                @*@if (m.parentID == 0)
                                                                                    {
                                                                                        <a onclick="opensubtask(@m.todoid,'@m.DueDt')"><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>
                                                                                    }*@
                                                                                @*<a><img src="~/websiteimages/ADD.svg" style="width: 1.85rem;" /></a>*@
                                                                                <a asp-action="ViewTaskDetails" asp-route-act="ViewTaskList" asp-route-id="@m.todoid"><img src="~/websiteimages/EYE.svg" style="width: 1.85rem;" /></a>&nbsp;
                                                                                @if (m.status != "VERIFY")
                                                                                {
                                                                                    <a asp-action="CreateOrEditTodo" asp-route-id="@m.todoid" asp-route-act="ViewTaskList"><img src="~/websiteimages/EDIT.svg" style="width: 1.85rem;" /></a><span>&nbsp;</span>
                                                                                }
                                                                                <a asp-action="AllComments" asp-route-id="@m.todoid" asp-route-act="ViewTaskList" role="button" aria-haspopup="true" aria-expanded="false">
                                                                                    <img src="~/websiteimages/CHAT.svg" style="width: 1.85rem;" />
                                                                                </a>
                                                                                @if (m.commentcount > 0)
                                                                                {
                                                                                    <span class="bg-primary text-white p-1 px-2 position-absolute notificattionicon">@m.commentcount</span>
                                                                                }
                                                                                @*<a asp-action="AllComments" asp-route-id="@m.todoid">
                                                                                        <img src="~/websiteimages/CHAT.svg" style="width: 1.85rem;" />
                                                                                        <span>@m.commentcount</span>
                                                                                    </a>&nbsp;*@
                                                                                @if (m.AssignByID == Context.Session.GetInt32("userId").Value)
                                                                                {
                                                                                    <a asp-action="DeleteTodo" asp-route-act="ViewTaskList" asp-route-id="@m.todoid"><img src="~/websiteimages/DELETE.svg" style="width: 1.85rem;" /></a>
                                                                                }

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer p-1 pl-2" style="background-color: #e4e0e0;">
                                                                    <div class="row" style="font-size:0.63rem;">
                                                                        <div class="col-md-5">
                                                                            <div>
                                                                                Assigned To <span class="font-weight-bold" style="color:black;">@(m.assignedto)</span> by <span class="text-danger font-weight-bold">@(m.assignedby)</span> on <span>@(m.AssignedDate)</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 text-center font-weight-bold text-uppercase" style="color:black;">
                                                                            <div>
                                                                                @if (m.DueDt == null)
                                                                                {
                                                                                    <span class="text-primary">Due Date Not Assigned</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (m.status != "COMPLETED" && m.status != "VERIFY")
                                                                                    {
                                                                                        if ((m.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours <= 24 && m.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours >= 0))
                                                                                        {

                                                                                            <span class="text-primary">@(m.DueDt.Value.Subtract(DateTime.Now).Add(TimeSpan.FromHours(24)).Hours + " hrs Left")</span>
                                                                                        }

                                                                                        else if (m.DueDt.Value.Subtract(DateTime.Now.Date).Add(TimeSpan.FromHours(24)).TotalHours < 0)
                                                                                        {

                                                                                            <span class="text-primary">Deadline Missed</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="text-primary">@(m.DueDt.Value.Subtract(DateTime.Now).Add(TimeSpan.FromDays(1)).Days + " days Left")</span>
                                                                                        }
                                                                                    }
                                                                                }
                                                                                @if (m.AssignByID == Context.Session.GetInt32("userId").Value && m.status == "COMPLETED")
                                                                                {
                                                                                    <i class="fa fa-circle text-dark"></i> <a class="text-success font-weight-bold" onclick="verifyscorenodal(@m.todoid)">VERIFY NOW</a>
                                                                                }
                                                                                <span>
                                                                                    <i class="fa fa-circle text-dark"></i>   @if (m.priority == "Low")
                                                                                    {
                                                                                        <span class="text-secondary">LOW</span>
                                                                                    }
                                                                                    else if (m.priority == "Medium")
                                                                                    {
                                                                                        <span class="text-warning">MEDIUM</span>
                                                                                    }
                                                                                    else if (m.priority == "High")
                                                                                    {
                                                                                        <span class="text-primary">HIGH</span>
                                                                                    }
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4 text-right">
                                                                            Read On <span class="font-weight-bold" style="color:black;">@m.AssignDate.Value.ToString("dd-MM-yyyy")</span> | Modified On <span class="font-weight-bold" style="color:black;">@m.ModifiedDate.Value.ToString("dd-MM-yyyy")</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td style="visibility:hidden;width:2%;">@a.todoid</td>
                                    </tr>






                                }
                            }

                        </tbody>
                    </table>
                
               
            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="myScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Give Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="statuschangetoverify" enctype="multipart/form-data" method="post" onsubmit="return validation();">
                    <input type="hidden" id="hdntodoid" name="hdntodoid" value="0" />
                    <input type="hidden" id="hdnact" name="hdnact" value="ViewTaskList" />
                    <div class="row">
                        <div class="col-md-4">
                            Score
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="txtscore" name="txtscore" class="form-control" max="10" onkeypress="return isNumberKey(event);" />
                            <label>(Out of 10)</label>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Verify Now" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myScoreModalp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Give Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="assignscore" enctype="multipart/form-data" method="post" onsubmit="return validation1();">
                    <input type="hidden" id="hdntodoid1" name="hdntodoid1" value="0" />
                    <input type="hidden" id="hdnact1" name="hdnact1" value="ViewTaskList" />
                    <div class="row">
                        <div class="col-md-4">
                            Score
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="txtscore1" name="txtscore1" class="form-control" max="10" onkeypress="return isNumberKey(event);" />
                            <label>(Out of 10)</label>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function isNumberKey(kbEvent) {
   var keyCode, keyChar;
    keyCode = kbEvent.keyCode;
    if (window.event)
        keyCode = kbEvent.keyCode;  // IE
    else
        keyCode = kbEvent.which;  //firefox
    if (keyCode === null) return true;
    // get character
    keyChar = String.fromCharCode(keyCode);
    var charSet = "0123456789.";
    // check valid chars
    if (charSet.indexOf(keyChar) !== -1) return true;
    // control keys
    if (keyCode === null || keyCode === 0 || keyCode === 8 || keyCode === 9 || keyCode === 13 || keyCode === 27) return true;
    return false;
    }
      function openscoremodal(id) {
        $('#txtscore1').val('');
        $('#hdntodoid1').val(id);
        $('#myScoreModalp').modal('show');
    }
    function validation1() {
        if ($('#txtscore1').val() == '') {
            $('#txtscore1').focus();
            alert('Please enter score');
            return false;
        }
        return true;
    }
      function verifyscorenodal(id) {
        $('#txtscore').val('');
        $('#hdntodoid').val(id);
        $('#myScoreModal').modal('show');
    }
    function validation() {
        if ($('#txtscore').val() == '') {
            $('#txtscore').focus();
            alert('Please enter score');
            return false;
        }
        return true;
    }
    function viewtasks() {
        var todostatus = '@Model.TodoStatusName';
        var status1 = [];
        for (var i = 0; i < todostatus.length; i++) {
            status1[i] = todostatus[i];
        }
        status1[0] = status;

        var priorityid = $("#TodoPriority").val();
        var idString = priorityid + "";
        var splitids = idString.split(",");
        var idPriority = [];
        for (var i = 0; i < splitids.length; i++) {
            idPriority[i] = parseInt(splitids[i]);
        }

        var employee = $("#employeeid").val();
        idString = employee + "";
        splitids = idString.split(",");
        var idemployee = [];
        for (var i = 0; i < splitids.length; i++) {
            idemployee[i] = parseInt(splitids[i]);
        }

        var department = $("#departmentid").val();
        idString = department + "";
        splitids = idString.split(",");
        var iddepartment = [];
        for (var i = 0; i < splitids.length; i++) {
            iddepartment[i] = parseInt(splitids[i]);
        }

        var datetype = $("#datetype").val();
        var fdate = $("#f_date").val();
        var tdate = $("#t_date").val();
        var mdate = $("#m_date").val();

        window.location.href = '/Tasks/Todo/ViewTaskReportList?TodoStatusName=' + status1 + '&TodoPriority=' + idPriority + '&employeeid=' + idemployee + '&departmentid=' + iddepartment + '&datetype=' + datetype + '&f_date=' + fdate + '&t_date=' + tdate + '&m_date=' + mdate + '';

    }
    $(document).ready(function () {
         $('#dataTable').DataTable({
                "order": [[0, "desc"]]
            });
        if ('@ViewBag.datetypeid'== '1') {
              $('.divdatewise').show();
                $('.divmonthwise').hide();
        }
      else if ('@ViewBag.datetypeid' == '2') {
                $('.divdatewise').hide();
                $('.divmonthwise').show();

            }
            else {
                $('.divdatewise').hide();
                $('.divmonthwise').hide();

            }
        $('#datetype').change(function () {
            if ($('#datetype').val() == 1) {
                $('.divdatewise').show();
                $('.divmonthwise').hide();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
            else if ($('#datetype').val() == 2) {
                $('.divdatewise').hide();
                $('.divmonthwise').show();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
            else {
                $('.divdatewise').hide();
                $('.divmonthwise').hide();
                $('#f_date').val('');
                $('#t_date').val('');
                $('#m_date').val('');
            }
        })
          if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
        $('.nav-pills a').click(function (e) {
       $(this).tab('show');
       if($('html').scrollTop()){
           var scrollmem = $('html').scrollTop(); // get scrollbar position (firefox)
       }else{
           var scrollmem = $('body').scrollTop(); // get scrollbar position (chrome)
       }
       window.location.hash = this.hash;
       $('html,body').scrollTop(scrollmem); // set scrollbar position
        });
        $('#dataTable1').dataTable();
        $('#dataTable2').dataTable();
        $('#dataTable3').dataTable();
        $('#dataTable4').dataTable();
        $('#dataTable5').dataTable();
    })
</script>
