﻿
@{
    ViewData["Title"] = "CreateOrEditPaymentGateway";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.ApplicationCore.Entities.PaymentGateway

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li> 
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterPaymentGateway" asp-controller="PaymentCollectionType">PaymentGateway</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Payment Gateway</span>
                }
                else
                {
            <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Payment Gateway</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateMasterPaymentGateway">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ProviderName" class="control-label font-weight-bold">Provider Name</label>
                        <input type="text" class=" form-control" asp-for="ProviderName" />
                        <span id="ProviderSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Host" class="control-label font-weight-bold">Host</label>
                        <input type="text" class=" form-control" asp-for="Host" />
                        <span id="HostSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HttpMethod" class="control-label font-weight-bold">HttpMethod</label>
                        <input type="text" class=" form-control" asp-for="HttpMethod" />
                        <span id="HttpSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestParameter" class="control-label font-weight-bold">Request Parameter</label>
                        <input type="text" class=" form-control" asp-for="RequestParameter" />
                        <span id="RequestParameterSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ResponseParameter" class="control-label font-weight-bold">Response Parameter</label>
                        <input type="text" class=" form-control" asp-for="ResponseParameter" />
                        <span id="ResponseParameterSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerToServerCallback" class="control-label font-weight-bold">ServerToServer Callback</label>
                        <input type="text" class=" form-control" asp-for="ServerToServerCallback" />
                        <span id="ServerToServerSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MerchantId" class="control-label font-weight-bold">MerchantId</label>
                        <input type="text" class=" form-control" asp-for="MerchantId" />
                        <span id="MerchantSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CheckSum" class="control-label font-weight-bold">CheckSum</label>
                        <input type="text" class=" form-control" asp-for="CheckSum" />
                        <span id="CheckSumSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeField" class="control-label font-weight-bold">Type Field</label>
                        <input type="text" class=" form-control" asp-for="TypeField" />
                        <span id="TypeFieldSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrencyType" class="control-label font-weight-bold">Currency Type</label>
                        <input type="text" class=" form-control" asp-for="CurrencyType" />
                        <span id="CurrencyTypeSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeFieldTwo" class="control-label font-weight-bold">Type FieldTwo</label>
                        <input type="text" class=" form-control" asp-for="TypeFieldTwo" />
                        <span id="TypeFieldTwoSpan" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">

                        <button type="submit" onclick="return validate()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  @ViewBag.status&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function validate() {
        debugger;
        if ($('#ProviderName').val() == "") {
            $('#ProviderSpan').html("Please Enter Provider Name");
            return false;
        }
        else {
            $('#ProviderSpan').html("");
        }

        if ($('#Host').val() == "") {
            $('#HostSpan').html("Please Enter Host");
            return false;
        }
        else {
            $('#HostSpan').html("");
        }

        if ($('#HttpMethod').val() == "") {
            $('#HttpSpan').html("Please Enter HttpMethod");
            return false;
        }
        else {
            $('#HttpSpan').html("");
        }

        if ($('#RequestParameter').val() == "") {
            $('#RequestParameterSpan').html("Please Enter RequestParameter");
            return false;
        }
        else {
            $('#RequestParameterSpan').html("");
        }

        if ($('#ResponseParameter').val() == "") {
            $('#ResponseParameterSpan').html("Please Enter Response Parameter");
            return false;
        }
        else {
            $('#ResponseParameterSpan').html("");
        }

        if ($('#ServerToServerCallback').val() == "") {
            $('#ServerToServerSpan').html("Please Enter ServerToServerCallback");
            return false;
        }
        else {
            $('#ServerToServerSpan').html("");
        }
        if ($('#MerchantId').val() == "") {
            $('#MerchantSpan').html("Please Enter MerchantId");
            return false;
        }
        else {
            $('#MerchantSpan').html("");
        }

        if ($('#CheckSum').val() == "") {
            $('#CheckSumSpan').html("Please Enter CheckSum");
            return false;
        }
        else {
            $('#CheckSumSpan').html("");
        }

        if ($('#TypeField').val() == "") {
            $('#TypeFieldSpan').html("Please Enter TypeField");
            return false;
        }
        else {
            $('#TypeFieldSpan').html("");
        }
        if ($('#CurrencyType').val() == "") {
            $('#CurrencyTypeSpan').html("Please Enter CurrencyType");
            return false;
        }
        else {
            $('#CurrencyTypeSpan').html("");
        }
        if ($('#TypeFieldTwo').val() == "") {
            $('#TypeFieldTwoSpan').html("Please Enter TypeFieldTwo");
            return false;
        }
        else {
            $('#TypeFieldTwoSpan').html("");
        }
    }
</script>