﻿
@{
    ViewData["Title"] = "CreateOrEditPaymentGatewayBTB";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.Web.Models.PaymentGatewayBTBModel

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="PaymentGatewayBTB" asp-controller="PaymentCollectionType">PaymentGatewayBTB</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New PaymentGatewayBTB</span>
                }
                else
                {
            <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit PaymentGatewayBTB</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdatePaymentGatewayBTB">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="PaymentGatewayId" class="control-label font-weight-bold">PaymentGateway</label>
                        <select class="form-control" asp-for="PaymentGatewayId" asp-items="@(new SelectList(ViewBag.GateWay,"ID","ProviderName"))">
                            <option value=" ">Select PaymentGateway</option>
                        </select>
                        <span id="PaymentSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BtbParam" class="control-label font-weight-bold">BtbParam</label>
                        <input type="text" class=" form-control" asp-for="BtbParam" />
                        <span id="BtbParamSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">

                        <button type="submit" onclick="return validate()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  @ViewBag.status&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function validate() {
        debugger;
        if ($('#BtbParam').val() == "") {
            $('#BtbParamSpan').html("Please Enter BtbParam");
            return false;
        }
        else {
            $('#BtbParamSpan').html("");
        }
        if ($('#PaymentGatewayId').val() == 0) {
            $('#PaymentSpan').html("Please Enter PaymentGateway");
            return false;
        }
        else {
            $('#PaymentSpan').html("");
        }
    }
</script>