﻿
@{
    ViewData["Title"] = "PaymentGateway";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model IEnumerable<OdmErp.ApplicationCore.Entities.PaymentGateway>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">PaymentGateway</li>

        </ol>
    </nav>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Payment Gateway</h1>
                <div>
                    <a href="CreateOrEditMasterPaymentGateway" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Provider Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Host</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">HttpMethod</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">RequestParameter</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">ResponseParameter</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">ServerToServerCallback</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">MerchantId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">CheckSum</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TypeField</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">CurrencyType</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TypeFieldTwo</th> 
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ProviderName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Host
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.HttpMethod
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.RequestParameter
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ResponseParameter
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ServerToServerCallback
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.MerchantId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.CheckSum
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TypeField
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.CurrencyType
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TypeFieldTwo
                                </td> 
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" asp-action="CreateOrEditMasterPaymentGateway" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                    @*<span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>*@
                                    @*<a class="one-time-add" title="Delete" asp-action="DeleteAdmitCardVenue" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Admitcard Venue?');"><i class="fas fa-trash"></i></a>*@
                                </td>

                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>

