﻿@{
    ViewData["Title"] = "PaymentCollectionType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
@model IEnumerable<OdmErp.Web.Models.PaymentCollectionTypeViewModel>
@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">PaymentCollectionType</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">PaymentCollection Type</h1>

                    @*<div>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                               data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        </div>*@

                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="Create()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="EditData()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    @*<a href="#" id="delete_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk" onclick="Delete()"><i class="fas fa-trash"></i>&nbsp;Delete</a>*@
                    <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk btn-outline-success mr-4" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                    <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk btn-outline-success mr-4" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn_refresh btn-outline-success mr-4" onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span class="count_selectedrows"></span>
                </div>

                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                <label class="container">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span><br /><span>Select All</span>
                                                </label>
                                            </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Academic Session</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Fee </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">TotalAmount(INR)</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">No Of Installment</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr id="@item.ID">
                                                    <td>
                                                        <label class="container">
                                                            <input type="checkbox" data-active="@item.Status" value="@item.ID" name="tableCheck" class="chk_checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>

                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.AcademicSession
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.FeeType
                                                    </td>

                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.SumAmount.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"))
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.NoOfInstallment
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Status
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                    <input type="hidden" id="hdn_id" />
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/FeesTypePrice/downloadFeesTypePriceSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles()" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document" style="width:1050px;max-width:none;">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Payment Collection Type</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    @*<form asp-action="SaveOrUpdateFeesTypeApplicable">*@
                    <input type="hidden" />
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="row card-body" style="margin-left:10px;">
                        <div class="col-md-3 form-group" id="divSession">
                            <label class="control-label font-weight-bold">Academic Session <span style="color:red;">*</span></label>
                            <select class="form-control" id="ddl_session" style="width:100%;height: 36px;">
                            </select>
                            <span class="text-danger txt_session_validation"></span>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="control-label font-weight-bold">Fee <span style="color:red;">*</span></label>
                            <select class="form-control" id="ddl_feetype" style="width:100%;height: 36px;"> </select>
                            <span class="text-danger txt_feetype_validation"></span>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="control-label font-weight-bold">Fee Amount</label>
                            <input type="text" class="form-control" disabled id="txt_amount" style="width:100%;" />
                            <span class="text-danger txt_amount_validation"></span>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="control-label font-weight-bold">No Of Installment<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" id="txt_no_ofintallment" style="width:100%;" />
                            <span class="text-danger txt_amount_validation"></span>
                        </div>



                    </div>


                    <div class="card-body" style="height:330px;overflow: scroll;">
                        <table class="table table-bordered" id="tbl_list" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style='white-space: nowrap;'>SL.No#</th>
                                    <th style='white-space: nowrap;'>Amount (INR)</th>
                                    <th style='white-space: nowrap;'>Payment Name</th>
                                    <th style='white-space: nowrap;'>From Date</th>
                                    <th style='white-space: nowrap;'>To Date</th>
                                    <th style='white-space: nowrap;'>Payment Deadline</th>
                                    <th style='white-space: nowrap;'>Late Fee</th>
                                </tr>
                            </thead>
                            <tbody class="table-striped"> </tbody>
                        </table>
                    </div>


                    <div class="form-group modal-footer">
                        <button type="button" id="btn_cancel" onclick="Close_Popup()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-close"></i>CANCEL</button>
                        <button type="button" id="btn_saveupdate" onclick="SaveUpdate()" style="width:100px;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>SAVE</button>
                    </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
                <input type="hidden" id="sessionid" />
                <input type="hidden" id="hdn_Amount" value="0" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->


}

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 60%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 1px;
        margin-left: 05px;
    }

    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 30px;
        cursor: pointer;
        /* font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #1cc88a;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<style type="text/css">
    table {
        counter-reset: tableCount;
        font-size: smaller;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }

    .table td {
        position: relative;
    }

    .has-error {
        border-style: solid;
        border-color: #ff0000;
    }

    sweet-alert
    {
        border-color:#2196F3;

    }
    sweet-overlay
    {
        background-color:#78909C;
    }
    .checkbox{
        width: 30px; /*Desired width*/
        height: 30px; /*Desired height*/
        cursor: pointer;
        -webkit-appearance: none;
    }
</style>





<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
<link href="~/js/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<script>
    $(document).ready(function () {
        //debugger;
        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');
        $('.count_selectedrows').hide();

        $.get('/FeesTypePrice/AcademicSession', function (data) {
            if (data.length > 0) {
                $("#ddl_session").append('<option value="0">Select Session</option>');
                $("#ddl_feetype").append('<option value="0">Select Fee</option>');
                $.each(data, function (i, item) {
                    // debugger;
                    $("#ddl_session").append('<option value="' + item.id + '"> ' + item.displayName + ' </option>');
                });
            }
        });

        $('#ddl_session').change(function () {
             debugger;
            var id = $(this).val();
            $.get('/PaymentCollectionType/Get_SessionFeesType', { id: id }, function (data) {
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        // debugger;
                        $("#ddl_feetype").append('<option value="' + item.id + '"> ' + item.feesTypeName + ' </option>');
                    });
                }
            });
        });

        $('#ddl_feetype').change(function () {
            // debugger;
            var id = $(this).val();
            $.get('/PaymentCollectionType/GetFeePriceData', { id: id }, function (data) {
                // debugger;
                if (data != null) {
                    $('#txt_amount').val(parseFloat(data).toFixed(2));
                    $('#txt_no_ofintallment').val('');
                }
                else {
                    $('#txt_amount').val('');
                    $('#txt_no_ofintallment').val('');
                }
            });

        });


        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $('.count_selectedrows').show();
            } else {
                $(".chk_checkbox").prop("checked", false);
                $('.count_selectedrows').hide();
            }

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected')
            if (count == 1) {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').show();
            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                // $('.delete_lnk').addClass('disabled');
                $('.count_selectedrows').show();
            }
            else {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
                $('.count_selectedrows').hide();
            }
        });

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $("input:checkbox[name=tableCheck]:checked").each(function () {
                    var id = this.value;
                    var count = $('#dataTable').find(".chk_checkbox:checked").length;
                    $('.count_selectedrows').text(count + ' Selected');
                    var value = $(this).data("active");
                    Ids.push(value);
                    $('.edit_lnk').addClass('disabled');
                    var FirstVal = Ids[0];
                    for (var j = 0; j < Ids.length; j++) {

                        if (Ids[j] == FirstVal) {
                            if (FirstVal == "ACTIVE") {
                                $('.Acitve_lnk').addClass('disabled');
                                $('.Deacitve_lnk').removeClass('disabled');
                            }
                            else {
                                $('.Acitve_lnk').removeClass('disabled');
                                $('.Deacitve_lnk').addClass('disabled');
                            }

                        }
                        else {
                            FirstVal = "";
                            $('.Deacitve_lnk').addClass('disabled');
                            $('.Acitve_lnk').addClass('disabled');
                        }
                    }

                });
            } else {
                $(".chk_checkbox").prop("checked", false);
                var count = $('#dataTable').find(".chk_checkbox:checked").length;
                $('.count_selectedrows').text(count + ' Selected');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');
                $('.edit_lnk').addClass('disabled');
            }
        });

        var Ids = [];
        $(document).on('change', '.chk_checkbox', function () {
            //debugger;
            var id = this.value;
            var value = $(this).data("active");

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');
            var totalrows = $('#dataTable tbody tr').length;

            if (totalrows != count) {
                $('#ckbCheckAll').prop('checked', false);
            }
            else if (totalrows = count) {
                $('#ckbCheckAll').prop('checked', true);
            }
            if (this.checked == true) {
                Ids.push(value);

            }
            else {

                Ids.splice($.inArray(value, Ids), 1);

            }
            if (count == 1) {
                if (Ids[0] == "ACTIVE") {
                    $("#hdnStatus").val(id);


                    $('.Acitve_lnk').addClass('disabled');
                    $('.Deacitve_lnk').removeClass('disabled');
                }
                else {
                    $("#hdnStatus").val(id);
                    $('.Deacitve_lnk').addClass('disabled');
                    $('.Acitve_lnk').removeClass('disabled');
                }
                $('.edit_lnk').removeClass('disabled');

            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                var FirstVal = Ids[0];
                for (var j = 0; j < Ids.length; j++) {

                    if (Ids[j] == FirstVal) {
                        if (FirstVal == "ACTIVE") {
                            $('.Acitve_lnk').addClass('disabled');
                            $('.Deacitve_lnk').removeClass('disabled');
                        }
                        else {
                            $('.Acitve_lnk').removeClass('disabled');
                            $('.Deacitve_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.Deacitve_lnk').addClass('disabled');
                        $('.Acitve_lnk').addClass('disabled');
                    }
                }

            }
            else {
                $('.edit_lnk').addClass('disabled');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');

            }
        });

    });


    $('#txt_no_ofintallment').blur(function () {
        // debugger;

        var array1 = new Array();
        var data_id = '';
        $('#tbl_list tbody tr').each(function (rows, tr) {
            if ($(tr).attr('data-id') != null && $(tr).attr('data-id') != 'undefined') {
                array1.push($(tr).attr('data-id'));
            }
            else {
                array1.push('0');
            }

        });

        $("#tbl_list tbody").empty();
        // var totalamt = $('#div_sumamt').html().split(':')[1].trim();
        var totalamt = $('#txt_amount').val();
        var noofinstallment = $('#txt_no_ofintallment').val();

        var number = totalamt;
        var n = noofinstallment;

        var values = [];
        while (number > 0 && n > 0) {
            var a = Math.floor(number / n / 5) * 5;
            number -= a;
            n--;
            values.push(a);
        }

        // var row = "";
        for (var i = 0; i < values.length; i++) {
            //debugger;
            var dsd = array1[i];
            if (array1[i] == undefined) {
                array1[i] = 0;
            }
            if ($('#txt_no_ofintallment').val() != '') {
                $("#tbl_list tbody").append(
                    "<tr data-id='" + array1[i] + "' data-education='' data-BoardUniversity='' data-Stream='' data-YearofPassed='' data-Percentage=''>" +
                    "<td class='counterCell'></td>" +
                    "<td>" + values[i].toFixed(2) + "</td>" +
                    "<td><input type='text' class='form-control' style='width:100%;' id='txt_paymentName' name='txt_paymentName'></td>" +
                    "<td><input type='Date' class='form-control txt_fromdate' style='width:85%;' id='txt_fromdate' name='txt_fromdate'></td>" +
                    "<td><input type='Date' class='form-control txt_todate' style='width:85%;' id='txt_todate'  name='txt_todate'></td>" +
                    "<td><input type='Date' class='form-control txt_deadlinedate' style='width:85%;' id='txt_deadlinedate' name='txt_deadlinedate'></td>" +
                    "<td><input type='text' name='txt_latepayemt_per' id='txt_latepayemt_per' class='form-control'/> </td></tr> "
                );
            }
            else {
                $("#tbl_list tbody").empty();
            }
        }

    })

    $('.chk_checkbox').change(function () {

        var id = $('.chk_checkbox:checked').closest('tr').prop('id');
        $('#hdn_id').val(id);
        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        $('.count_selectedrows').text(count + ' Selected')
        if (count == 1) {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
            $('.count_selectedrows').show();
        }
        else if (count > 1) {
            $('.edit_lnk').addClass('disabled');
            $('.count_selectedrows').show();
        }
        else {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
            $('.count_selectedrows').hide();
        }
    })



</script>

<script type="text/javascript">

    $('.txt_deadlinedate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });

    $('.txt_fromdate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });
    $('.txt_todate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });

    function truncateDate(date) {
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    }
</script>

<script>

    //$('#tbl_list').on('click', 'input[type="checkbox"]:checked', function () {
    //    debugger;
    //    var PaymentCollectionTypeData = [];
    //    PaymentCollectionTypeData.length = 0;
    //    var row = $(this).closest('tr');
    //    var Amount = row.find('td:eq(2)').text();
    //    var PaymentName = row.find('#txt_paymentName').val();
    //    var FromDate = row.find('#txt_fromdate').val();
    //    var ToDate = row.find('#txt_todate').val();
    //    var Deadline = row.find('#txt_deadlinedate').val();

    //    // $.each($("#tbl_list tbody tr"), function () {
    //    PaymentCollectionTypeData.push({
    //        ID: "0",
    //        Amount: Amount,
    //        PaymentName: PaymentName,
    //        Fromdate: FromDate,
    //        ToDate: ToDate,
    //        Deadline: Deadline
    //    });

    //    GetArrayData(PaymentCollectionTypeData);
    //});

    //function GetArrayData(dataarr) {
    //    return dataarr;
    //}


    function SaveUpdate() {
        debugger;
        if ($('#btn_saveupdate').text() == 'SAVE') {
            SaveData();
        }
        else {
            UpdateData();
        }
    }

    function SaveData() {
        debugger;
        if ($('#btn_saveupdate').text() == 'SAVE') {

            var validaYN = true;
            $('#tbl_list tbody tr').find("td input").each(function () {
                // debugger;
                var values = $(this).val();
                if (values == "") {
                    $(this).addClass("has-error");
                    validaYN = false;
                }
                else {
                    $(this).removeClass("has-error");
                    validaYN = true;
                }

            });


            var PaymentCollectionTypeData = [];
            PaymentCollectionTypeData.length = 0;
            var Unchkcount = 0;
            // $('#dataTable').find(".tableChecksub:checked").length;
            var rows = $('#tbl_list tbody tr').length;

            //$('#tbl_list').find($(".tableChecksub:checked")).each(function () {
            //    // debugger;
            //    Unchkcount = $('#tbl_list').find(".tableChecksub:checked").length;
            //});
            //if (rows == 0) {
            //    swal("Save PaymentCollection Type", "No Data to Save", "warning")
            //}
            //else if (Unchkcount == 0) {
            //    swal("Save PaymentCollection Type", "Select at-least one row(s) to Save", "warning")
            //}

            if (validaYN == false) {
                swal("Save PaymentCollection Type", "Fill data to highlighted field (s)", "warning");
            }
            else {
                $('#tbl_list tbody tr').each(function (row, index) {
                    debugger;
                    // var row = $(this).closest('tr');
                    var Amount = $(index).find('td:eq(1)').text();
                    var PaymentName = $(index).find('td:eq(2)').find('input').val();
                    var FromDate = $(index).find('td:eq(3)').find('input').val();
                    var ToDate = $(index).find('td:eq(4)').find('input').val();
                    var DeadLineDate = $(index).find('td:eq(5)').find('input').val();
                    var latefee = $(index).find('td:eq(6)').find('input').val();

                    //$(tr).find('td:eq(4)').find('input').val();


                    PaymentCollectionTypeData.push({
                        ID: "0",
                        Amount: Amount,
                        PaymentName: PaymentName,
                        Fromdate: FromDate,
                        ToDate: ToDate,
                        DeadLineDate: DeadLineDate,
                        LatefeePercentage: latefee
                    });
                });


                var SumAmount = $('#txt_amount').val();

                var paymentCollectionType = {
                    ID: "0",
                    AcademicSessionId: $('#ddl_session option:selected').val(),
                    OrganizationId: '0',
                    WingId: '0',
                    BoardId: '0',
                    ClassId: '0',
                    SumAmount: parseFloat(SumAmount).toFixed(2),
                    NoOfInstallment: $('#txt_no_ofintallment').val(),
                    FeeTypeId: $('#ddl_feetype option:selected').val(),
                    PaymentCollectionTypeData: PaymentCollectionTypeData
                };

                $.ajax({
                    url: "../PaymentCollectionType/SaveOrUpdatePaymentCollectionType",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'paymentCollectionType': paymentCollectionType },
                    dataType: 'json',
                    // async: false,
                    success: function (response) {
                        debugger;
                        //swal({
                        //    title: "PaymentCollectionType", text: response, type:
                        //        "success"
                        //}).then(function () {
                        //    location.reload();
                        //}
                        //);
                        //$('#mclose').click();
                        if (response == 'Records Saved Successfully.') {
                            swal({
                                title: "PaymentCollectionType", text: response, type: "success"
                            },
                                function () {
                                    location.reload();
                                });
                            $('#mclose').click();
                        }
                        else {
                            swal({
                                title: "PaymentCollectionType", text: response, type: "error"
                           
                                });
                        }

                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: response,
                                icon: 'failure',
                            });
                        }
                        swal({
                            text: response,
                            icon: 'failure',
                        });
                    }
                });
            }
        }

    }

    function EditData() {
        // debugger;
        $('#myModalLabel2').text('Edit PaymentCollection Type');
        $('#btn_saveupdate').text('UPDATE');
        var id = "";
        $('input[name="tableCheck"]:checked').each(function () {
            id = $(this).val();
        });
        $.ajax({
            url: '../PaymentCollectionType/GetPaymentCollectionTypeById/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
               // debugger;

                // $('#btn_getsum').attr('disabled', true);
                $('#ddl_session [value=' + data.academicSessionId + ']').attr('selected', 'true');
                var sessionText = $("#ddl_session option:selected").text();
                $('#select2-ddl_session-container').text(sessionText);
                $('#ddl_session').attr('disabled', true);



                $.get('/FeesTypePrice/Get_SessionFeesType', { id: data.academicSessionId }, function (data1) {
                    if (data1.length > 0) {
                        $.each(data1, function (i, items) {
                            //debugger;
                            $("#ddl_feetype").append('<option value="' + items.id + '"> ' + items.feesTypeName + ' </option>');
                        });
                    }

                    $('#ddl_feetype [value=' + data.feeTypeId + ']').attr('selected', 'true');
                    var feeText = $("#ddl_feetype option:selected").text();
                    $('#select2-ddl_feetype-container').text(feeText);
                    $('#ddl_feetype').attr('disabled', true);
                });

              
             

                $.get('/PaymentCollectionType/GetFeePriceData', { id: data.feeTypeId }, function (data) {
                    //debugger;
                    if (data != null) {
                        $('#txt_amount').val(parseFloat(data).toFixed(2));
                    }
                    else {
                        $('#txt_amount').val('');
                    }
                });




                $('#txt_amount').val(parseFloat(data.sumAmount).toFixed(2));
                $('#txt_no_ofintallment').val(data.noOfInstallment);

                $("#tbl_list tbody").empty();
                $.each(data.paymentCollectionTypeData, function (index, res) {
                    // debugger;
                    $("#tbl_list tbody").append(
                        "<tr data-id='" + res.id + "' data-amount='" + res.amount + "'  data-paymentname='" + res.paymentName + "' data-fromdate='" + res.fromDate.split('T')[0] + "' data-todate='" + res.toDate.split('T')[0] + "' data-todate='" + res.deadLineDate.split('T')[0] + "' >" +
                        "<td class='counterCell'></td>" +
                        "<td>" + parseFloat(res.amount).toFixed(2) + "</td>" +
                        "<td><input type='text' class='form-control' style='width:100%;' id='txt_paymentName' class='txt_paymentName' value=" + res.paymentName + " name='txt_paymentName'></td>" +
                        "<td><input type='Date' class='form-control txt_fromdate' style='width:85%;' id='txt_fromdate' value=" + res.fromDate.split('T')[0] + " name='txt_fromdate'></td>" +
                        "<td><input type='Date' class='form-control txt_todate' style='width:85%;' id='txt_todate' value=" + res.toDate.split('T')[0] + "  name='txt_todate'></td>" +
                        "<td><input type='Date' class='form-control txt_deadlinedate' style='width:85%;' id='txt_deadlinedate'  value=" + res.deadLineDate.split('T')[0] + "  name='txt_deadlinedate'></td>" +
                        "<td><input type='text' name='txt_latepayemt_per' id='txt_latepayemt_per' value=" + res.latefeePercentage + " class='form-control'> </td></tr>");
                });
            }
        });


    }

    function Delete() {
        //debugger;
        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        if (count == 1) {

            var id = $('#hdn_id').val();
            $.ajax({
                url: '../PaymentCollectionType/DeletePaymentCollectionType/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    // debugger;
                    swal({
                        title: "PaymentCollectionType", text: data, type:
                            "success"
                    }).then(function () {
                        location.reload();
                    }
                    );

                }

            });
            //Refresh();
        }
        else {

            var Ids = [];
            $('#dataTable').find(".chk_checkbox:checked").each(function () {
                Ids.push($(this).val());
            });

            $.each(Ids, function (index, id) {
                // debugger;
                $.ajax({
                    url: '../PaymentCollectionType/DeletePaymentCollectionType/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        swal({
                            title: "PaymentCollectionType", text: data, type:
                                "success"
                        }).then(function () {
                            location.reload();
                        }
                        );
                    }
                });
            });

        }
    }

    function UpdateData() {
        debugger;
        var PaymentCollectionTypeData = [];
        PaymentCollectionTypeData.length = 0;

        //var Unchkcount = 0;
        //$('#tbl_list').find($(".tableChecksub:checked")).each(function () {
        //    // debugger;
        //    Unchkcount = $('#tbl_list').find(".tableChecksub:checked").length;
        //});
        var validaYN = true;
        $('#tbl_list tbody tr').find("td input").each(function () {
            // debugger;
            var values = $(this).val();
            if (values == "") {
                $(this).addClass("has-error");
                validaYN = false;
            }
            else {
                $(this).removeClass("has-error");
                validaYN = true;
            }

        });

        if (validaYN == false) {
            swal("Save PaymentCollection Type", "Fill data to highlighted field (s)", "warning");
        }
        else {
            $('#tbl_list tbody tr').each(function (row, index) {
                debugger;
                var id = $(this).attr('data-id');
                var Amount = $(index).find('td:eq(1)').text();
                var PaymentName = $(index).find('td:eq(2)').find('input').val();
                var FromDate = $(index).find('td:eq(3)').find('input').val();
                var ToDate = $(index).find('td:eq(4)').find('input').val();
                var DeadLineDate = $(index).find('td:eq(5)').find('input').val();
                var latefee = $(index).find('td:eq(6)').find('input').val();

                //$(tr).find('td:eq(4)').find('input').val();


                PaymentCollectionTypeData.push({
                    ID: id,
                    Amount: Amount,
                    PaymentName: PaymentName,
                    Fromdate: FromDate,
                    ToDate: ToDate,
                    DeadLineDate: DeadLineDate,
                    LatefeePercentage: latefee
                });

            });

                var SumAmount = $('#txt_amount').val();

                var paymentCollectionType = {
                    ID: "0",
                    AcademicSessionId: $('#ddl_session option:selected').val(),
                    OrganizationId: '0',
                    WingId: '0',
                    BoardId: '0',
                    ClassId: '0',
                    SumAmount: parseFloat(SumAmount).toFixed(2),
                    NoOfInstallment: $('#txt_no_ofintallment').val(),
                    FeeTypeId: $('#ddl_feetype option:selected').val(),
                    PaymentCollectionTypeData: PaymentCollectionTypeData
                };

                $.ajax({
                    url: "../PaymentCollectionType/Update",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'paymentCollectionType': paymentCollectionType },
                    dataType: 'json',
                    // async: false,
                    success: function (response) {
                        swal({
                            title: "PaymentCollectionType", text: response, type: "success"
                        }
                            //function () {
                            //    location.reload();
                           // }
                    );
                        $('#mclose').click();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            swal({
                                text: response,
                                type: 'failure',
                            });
                        }
                        swal({
                            text: response,
                            type: 'failure',
                        });
                    }
                });
           
        }
    }

    function Create() {
        // debugger;
        $('#myModalLabel2').text('Add PaymentCollection Type');
        $('#ddl_session').attr('disabled', false);
        $('#ddl_Organization').attr('disabled', false);
        $('#ddl_board').attr('disabled', false);
        $('#ddl_wing').attr('disabled', false);
        $('#ddl_class').attr('disabled', false);
        $('#btn_saveupdate').text('SAVE');


        $('#select2-ddl_session-container').text('Select Session');
        $('#select2-ddl_Organization-container').text('Select Organization');
        $('#select2-ddl_board-container').text('Select Board');
        $('#select2-ddl_wing-container').text('Select Wing');
        $('#select2-ddl_class-container').text('Select Class');

        $('#ddl_session option:selected').val('0');
        $('#ddl_Organization option:selected').val('0');
        $('#ddl_board option:selected').val('0');
        $('#ddl_wing option:selected').val('0');
        $('#ddl_class option:selected').val('0');
        $("#tbl_list tbody").empty();
        $('#txt_noofInstallment').val('');
        $('#div_sumamt').html('');
        $('#btn_getsum').attr('disabled', false);
    }

    function ActiveLink() {
        debugger;
        var ids = [];
        var status = "ACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../PaymentCollectionType/ActiveDeactivePaymentCollectionType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    swal({ title: "PaymentCollectionType", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }

    function DeactiveLink() {
        debugger;
        var ids = [];
        var status = "DEACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../PaymentCollectionType/ActiveDeactivePaymentCollectionType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    swal({ title: "PaymentCollectionType", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }

    function Close_Popup() {
        $('#mclose').click();
        $('#mclose').modal('hide');
        location.reload();
    }

</script>










































<script>


 //$.get('/Student/GetOrganisationByAcademicSession', { AcademicSessionId: data.academicSessionId }, function (data1) {
                //    if (data1.length > 0) {
                //        //$("#ddl_Organization").empty();
                //       // $("#ddl_Organization").append('<option value="0">  Select Oraganization </option>');
                //        $.each(data1, function (i, item) {
                //            //   debugger;
                //            $("#ddl_Organization").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                //        });
                //        $('#ddl_Organization [value=' + data.organizationId + ']').attr('selected', 'true');
                //        var organizationText = $("#ddl_Organization option:selected").text();
                //        $('#select2-ddl_Organization-container').text(organizationText);
                //        $('#ddl_Organization').attr('disabled', true);
                //    }
                //});

                //$.get('/Student/GetWingBySchoolWing', { OraganisationAcademicId: data.academicSessionId }, function (data2) {
                //    if (data2.length > 0) {
                //        $("#ddl_wing").empty();
                //        $("#ddl_wing").append('<option value="0">Select Wing</option>');
                //        $.each(data2, function (i, item2) {
                //            // debugger;
                //            $("#ddl_wing").append('<option value="' + item2.id + '"> ' + item2.name + ' </option>');
                //        });

                //        $('#ddl_wing [value=' + data.wingId + ']').attr('selected', 'true');
                //        var wingText = $("#ddl_wing option:selected").text();
                //        $('#select2-ddl_Wing-container').text(wingText);
                //        $('#ddl_wing').attr('disabled', true);
                //    }
                //});



                //$('#ddl_board [value=' + data.boardid + ']').attr('selected', 'true');
                //var boardText = $("#ddl_board option:selected").text();
                //$('#select2-ddl_board-container').text(boardText);
                //$('#ddl_board').attr('disabled', true);


                //$.get('/Student/GetClassByBoard', { BoardId: data.boardid, OrganizationAcademicId: data.academicSessionId, schoolwingId: data.wingId }, function (data3) {
                //    if (data3.length > 0) {
                //        $("#ddl_class").empty();
                //        $("#ddl_class").append('<option value="0">Select Class</option>');
                //        $.each(data3, function (i, item3) {
                //            // debugger;
                //            $("#ddl_class").append('<option value="' + item3.id + '"> ' + item3.name + ' </option>');
                //        });
                //        $('#ddl_class [value=' + data.classId + ']').attr('selected', 'true');
                //        var classText = $("#ddl_class option:selected").text();
                //        $('#select2-ddl_class-container').text(classText);
                //        $('#ddl_class').attr('disabled', true);
                //    }
                //});



 //$.get('/FeesTypePrice/GetBoardData', function (data) {
        //    $("#ddl_board").empty();
        //    if (data.length > 0) {
        //        // $("#ddl_board").append('<option value=" ">Select Session</option>');
        //        $("#ddl_board").append('<option value="0">Select Board </option>');
        //        $.each(data, function (i, item) {
        //            // debugger;
        //            $("#ddl_board").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //        });
        //    }
        //});



        //$('#ddl_session').change(function () {
        //    var AcademicSessionId = $(this).val();
        //    $('#ddl_Organization').empty();
        //    $('#ddl_wing').empty();
        //    $('#hdn_Amount').val('0');
        //    $('#div_sumamt').text('');
        //    //$('#AcademicStandardId').empty();
        //    $.get('/PaymentCollectionType/GetOrganisationByAcademicSession', { AcademicSessionId: AcademicSessionId }, function (data) {
        //        if (data.length > 0) {
        //            $("#ddl_Organization").append('<option value="0">  Select Oraganization </option>');
        //            $.each(data, function (i, item) {
        //                $("#ddl_Organization").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //        }
        //    });
        //});

        //$('#ddl_Organization').change(function () {
        //    // debugger;
        //    var id = $('#ddl_session option:selected').val();
        //    var type = 'Organization';
        //    $('#ddl_wing').empty();
        //    $('#hdn_Amount').val('0');
        //    // $('#AcademicStandardId').empty();
        //    $.get('/PaymentCollectionType/GetWingBySchoolWing', { OraganisationAcademicId: id }, function (data) {
        //        if (data.length > 0) {
        //            $("#ddl_wing").append('<option value="0">Select Wing</option>');
        //            $.each(data, function (i, item) {
        //                $("#ddl_wing").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //        }
        //    });
        //    //do here
        //    if ($('#ddl_Organization option:selected').val() != '0') {

        //        $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
        //            debugger;
        //            var amt = $('#hdn_Amount').val();
        //            amt = parseFloat(amt) + parseFloat(data);
        //            $('#hdn_Amount').val(parseFloat(amt).toFixed(2));

        //        });
        //    }

        //});

        //$('#ddl_wing').change(function () {
        //    // debugger;
        //    // $('#hdn_Amount').val('0');
        //    var id = $(this).val();
        //    var type = 'Wing';
        //    if ($('#ddl_wing option:selected').val() != '0') {
        //        $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
        //            debugger;
        //            var amt = $('#hdn_Amount').val();
        //            amt = parseFloat(amt) + parseFloat(data);
        //            $('#hdn_Amount').val(parseFloat(amt).toFixed(2));

        //        });
        //    }
        //});

        //$('#ddl_board').change(function () {
        //    //sum = 0;
        //    // $('#hdn_Amount').val('0');
        //    $('#ddl_class').empty();
        //    $.get('/PaymentCollectionType/GetClassByBoard', { BoardId: $('#ddl_board').val(), OrganizationAcademicId: $('#ddl_session').val(), schoolwingId: $('#ddl_wing').val() }, function (data) {
        //        if (data.length > 0) {
        //            $("#ddl_class").append('<option value="0">Select Class</option>');
        //            $.each(data, function (i, item) {
        //                $("#ddl_class").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //        }
        //    });

        //    //do here
        //    var id = $(this).val();
        //    var type = 'Board';
        //    // $('#hdn_Amount').val('0');
        //    if ($('#ddl_board option:selected').val() != '0') {
        //        $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
        //            debugger;

        //            var amt = $('#hdn_Amount').val();
        //            amt = parseFloat(amt) + parseFloat(data);
        //            $('#hdn_Amount').val(parseFloat(amt).toFixed(2));

        //        });
        //    }

        //});

        //$('#ddl_class').change(function () {

        //    var id = $(this).val();
        //    var type = 'Class';
        //    // $('#hdn_Amount').val('0');
        //    if ($('#ddl_class option:selected').val() != '0') {
        //        $.get('/PaymentCollectionType/GetPriceData', { id: id, type: type }, function (data) {
        //            debugger;

        //            var amt = $('#hdn_Amount').val();
        //            amt = parseFloat(amt) + parseFloat(data);
        //            $('#hdn_Amount').val(parseFloat(amt).toFixed(2));

        //        });
        //    }

        //});
</script>