﻿
@{
    ViewData["Title"] = "Academic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Academic</li>
        </ol>
    </nav>
</div>


<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="SubjectGroupList" asp-controller="Master" asp-area="Student">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/student.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Subject Group</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="SubjectOptionalTypeDetailsList" asp-controller="Master" asp-area="Student">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/student.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Subject Optional Type</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="SubjectOptionalCategoryList" asp-controller="Master" asp-area="Student">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/student.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Subject Optional Category</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="VehicleTypeList" asp-controller="Master" asp-area="Student">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/student.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Vehicle Type</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="VehicleList" asp-controller="Master" asp-area="Student">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/student.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Vehicle</span></div>
        </a>
    </div>
</div>

