﻿
@{
    ViewData["Title"] = "AdmissionLayout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Admission</li>
        </ol>
    </nav>
</div>

<div class="row">


    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-area="Admission" asp-action="ViewStudentAdmissionDetails" asp-controller="BasicRegistration">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Registrations</span></div>
        </a>
    </div> 
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-area="Admission" asp-action="ViewAdmissionStudentECounseller" asp-controller="BasicRegistration">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>E-Counselling</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-area="Admission" asp-action="AdmissionSource" asp-controller="Master">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Reports</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" hidden>
        <a class="row" asp-area="Admission" asp-action="ViewStudentWiseCouncellorDetails" asp-controller="BasicRegistration">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Counsellor</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" hidden>
        <a class="row" asp-area="Admission" asp-action="ViewStudentWiseInterViewerDetails" asp-controller="BasicRegistration">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Interviewer</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" hidden>
        <a class="row" asp-area="Admission" asp-action="ViewStudentWiseDocumentVerifier" asp-controller="BasicRegistration">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Document Verifier</span></div>
        </a>
    </div>

</div>
