﻿
@{
    ViewData["Title"] = "Bugs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">ErpBugs</li>
    </ol>
</nav>


<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="Index" asp-controller="ErpBug">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/ERP BUG.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>ErpBugs</span></div>
        </a>
    </div>
</div>
    @*<div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="Create" asp-controller="ErpBug">ErpBugs</a></h5>
            </div>
        </div>*@
