﻿
@{
    ViewData["Title"] = "Grievance ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Grievance</li>
        </ol>
    </nav>
</div>
 

<div class="row">

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="GrievanceType" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Type</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="GrievanceSubType" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance SubType</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="GrievanceAccess" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Access</span></div>
        </a>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="GrievanceCategory" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Category</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="GrievancePriority" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Priority</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="GrievanceStatus" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Status</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="GrievanceType" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Type</span></div>
        </a>
    </div>

</div>

@*<div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="GrievanceCategory" asp-controller="Grievance">Grievance Category</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="GrievancePriority" asp-controller="Grievance">Grievance Priority</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="GrievanceStatus" asp-controller="Grievance">Grievance Status</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="GrievanceType" asp-controller="Grievance">Grievance Type</a></h5>
            </div>
        </div>
    </div>*@
