﻿
@{
    ViewData["Title"] = "GrievanceMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">


            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Grievance</li>
        </ol>
    </nav>
</div>


<div class="row">

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="AllGrievances" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Raise Grievance</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="ManageGrievance" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Manage Grievance</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="GetAllGrievance" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>All Grievance</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="AssignManageGrievances" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Grievance Report</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="AssignManageGrievances" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Assign & Verify Grievance</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn" style="display:none">
        <a class="row" asp-action="ManageGrievance" asp-controller="Grievance">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Grievance.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Manage Grievances</span></div>
        </a>
    </div>


</div>

@*<div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="AssignManageGrievances" asp-controller="Grievance">Assign & Verify Grievance</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ManageGrievance" asp-controller="Grievance">Manage Grievances</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="MyGrievances" asp-controller="Grievance">My Grievance</a></h5>
            </div>
        </div>
    </div>*@
