﻿
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">HR</li>
            </ol>
        </nav>
        </div>




    <div class="row">

        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="AccessType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/PROFILE.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Access Type</span></div>
            </a>
        </div>*@

        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="AddressType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Address Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Address Type</span></div>
            </a>
        </div>*@
        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="Authority" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/PROFILE.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Authority</span></div>
            </a>
        </div>*@
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="Bank" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Bank12.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Bank</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="BankType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/bank.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Bank Account Type</span></div>
            </a>
        </div>
        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="Board" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/board.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Board</span></div>
            </a>
        </div>*@
        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="Department" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/HR.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Department</span></div>
            </a>
        </div>*@
        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="Designation" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Designation.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Designation</span></div>
            </a>
        </div>*@

        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="DocumentSubType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Document Sub-Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Document Sub Type</span></div>
            </a>
        </div>*@
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="DocumentType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Document Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Document Type</span></div>
            </a>
        </div>

        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="EducationalQualification" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Educational Qualification.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Educational Qualification</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="EducationQualificationType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Educational Qualification Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Education Qualification Type</span></div>
            </a>
        </div>

        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="BankBranch" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/PROFILE.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Bank Branch</span></div>
            </a>
        </div>*@


        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="ProfessionType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Profession Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Profession Type</span></div>
            </a>
        </div>


        @*<div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="AuthorityType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/PROFILE.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Authority Type</span></div>
            </a>
        </div>*@
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="AddressType" asp-controller="Master">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/Profession Type.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Address Type</span></div>
            </a>
        </div>
    </div>


        @*<div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="AccessType" asp-controller="Master">Access Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Action" asp-controller="Master">Action</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="AddressType" asp-controller="Master">AddressType</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Authority" asp-controller="Master">Authority</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="AuthorityType" asp-controller="Master">Authority Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Bank" asp-controller="Master">Bank</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="BankType" asp-controller="Master">Bank Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="BankBranch" asp-controller="Master">BankBranch</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Board" asp-controller="Master">Board</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Department" asp-controller="Master">Department</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Designation" asp-controller="Master">Designation</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="DocumentType" asp-controller="Master">DocumentType</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="DocumentSubType" asp-controller="Master">Document Sub Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="EducationalQualification" asp-controller="Master">Educational Qualification</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="EducationQualificationType" asp-controller="Master">Education Qualification Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Group" asp-controller="Master">Group</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Module" asp-controller="Master">Module</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Organisation" asp-controller="Master">Organisation</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="OrganizationType" asp-controller="Master">Organization Type</a></h5>
                </div>
            </div>
        </div>*@
        @*<div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="DesignationLevel" asp-controller="Master">Designation Level</a></h5>
                </div>
            </div>
        </div>*@

        @*<div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ParentRelationshipType" asp-controller="Master">Parent Relationship Type</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ProfessionType" asp-controller="Master">Profession Type</a></h5>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="Role" asp-controller="Master">Role</a></h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="SubModule" asp-controller="Master">SubModule</a></h5>
                </div>
            </div>
        </div>*@



