﻿
@{
    ViewData["Title"] = "HRManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">HR Management</li>
        </ol>
    </nav>
</div>

 


<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="Index" asp-controller="Employee">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Employee.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Employee</span></div>
        </a>
    </div>
</div>

@*<div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="Index" asp-controller="Employee">Employee</a></h5>
            </div>
        </div>
    </div>*@

@*<div class="row">


        <div class="card col-3 h-25 w-25">

            <h5 class="card-title"><a asp-action="Index" asp-controller="Employee">Employee</a></h5>

        </div>
        <div class="card col-3 h-25 w-25">

                <h5 class="card-title"><a asp-action="DepartmentAuthority" asp-controller="Reporting"> Reporting Authority</a></h5>

            </div>

    </div>*@
