﻿
@{
    ViewData["Title"] = "MasterSchool";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row holder-breadcrumb">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">School</li>
            </ol>
        </nav>
    </div>



    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="MasterSchoolCommon" asp-controller="Layout">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/student.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Common</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="School" asp-controller="Layout">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/student.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Student</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="AdmissionLayout" asp-controller="Layout">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/student.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Admission</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">

            <a class="row" asp-action="StudentPayment" asp-controller="Layout">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/student.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Payment</span></div>
            </a>
        </div>

    </div>