﻿
@{
    ViewData["Title"] = "SchoolMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="School" asp-controller="Layout">Master</a></li>
        <li class="breadcrumb-item active" aria-current="page">School</li>
    </ol>
</nav>



<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="School" asp-controller="Master">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Common.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Board</span></div>
        </a>
    </div>
</div>

