﻿
@{
    ViewData["Title"] = "School";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">School</li>
    </ol>
</nav>


<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Board" asp-controller="Master">Board</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Chapter" asp-controller="School">Chapter</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Standard" asp-controller="Master">Class</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Concept" asp-controller="School">Concept</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Section" asp-controller="Master">Section</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Stream" asp-controller="Master">Stream</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Create" asp-controller="School">Subject</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="CreateBoardStandard" asp-controller="School">BoardStandard</a></h5>
        </div>
    </div>
</div>


