﻿@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Support</li>
        </ol>
    </nav>
</div>




                <div class="row" >
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="DepartmentSupport" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Department Support</span></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="SupportCategory" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Support Category</span></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="SupportPriority" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Support Priority</span></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="SupportStatus" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Support Status</span></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="SupportSubCategory" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Support Sub-Category</span></div>
                        </a>
                    </div>
           

                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
                        <a class="row" asp-action="SupportType" asp-controller="Support">
                            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                                <img src="~/websiteimages/Support.svg" />
                            </div>
                            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Support Type</span></div>
                        </a>
                    </div>
                </div>


