﻿
@{
    ViewData["Title"] = "SupportMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">


            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Support</li>
        </ol>
    </nav>
</div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-info">
                    <h5 class="card-title text-white font-weight-bold"><i class="fas fa-user-check"></i> &nbsp; &nbsp; &nbsp;&nbsp;Approvals</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Approve/reject requests</p>

                </div>
                <div class="card-header bg-light text-center text-justify">
                    <a asp-action="SupportManagementApproval" 
                       asp-controller="Support"  asp-area="Support" 
                    
                       class="text-center">Open <i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-primary">

                    <h5 class="card-title text-white font-weight-bold"><i class="fas fa-plus-circle"></i>  &nbsp; &nbsp; &nbsp;&nbsp;Raise</h5>
                </div>
                <div class="card-body ">

                    <p class="card-text">Raise new support request</p>

                </div>
                <div class="card-header bg-light text-center text-justify">
                    <a asp-action="SupportRequest" asp-controller="Support" asp-area="Support" class="text-center">Open <i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-success">
                    <h5 class="card-title text-white font-weight-bold"><i class="fas fa-wrench"></i> &nbsp; &nbsp; &nbsp;&nbsp;Resolve</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Manage support requests</p>

                </div>
                <div class="card-header bg-light text-center text-justify">
                    <a asp-action="SupportResolve" asp-controller="Support" asp-area="Support"
                     
                       class="text-center">Open <i class="fas fa-arrow-alt-circle-right">
                             </i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="card-header bg-warning">
                    <h5 class="card-title text-white font-weight-bold"> <i class="fas fa-chart-bar"></i> &nbsp; &nbsp; &nbsp;&nbsp;Reports</h5>
                </div>
                <div class="card-body">

                    <p class="card-text">Track department-wise reports</p>

                </div>
                <div class="card-header bg-light text-center text-justify">
                    <a asp-action="SupportDynamicReport" asp-controller="Support" asp-area="Support" class="text-center">Open <i class="fas fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


