﻿
@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Task</li>
        </ol>
    </nav>
    </div>


    <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="ToDoPriority" asp-controller="Todo">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/task.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Priority</span></div>
            </a>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
            <a class="row" asp-action="ToDoStatus" asp-controller="Todo">
                <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                    <img src="~/websiteimages/task.svg" />
                </div>
                <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Status</span></div>
            </a>
        </div>
    </div>

    @*<div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ToDoPriority" asp-controller="Todo">Priority</a></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"><a asp-action="ToDoStatus" asp-controller="Todo">Status</a></h5>
                </div>
            </div>
        </div>*@
