﻿
@{
    ViewData["Title"] = "TaskMaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Task</li>
        </ol>
    </nav>
</div>


 
<div class="row">

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="TaskAssignToMe" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Assigned by Others.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Assigned To Me</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="TaskAssignToOther" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Assigned to Others.svg" />    
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Assigned To Others</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="Index" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/Dashboard.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>Dashboard</span></div>
        </a>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="MyTasks" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/My Task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>My Task</span></div>
        </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="CreateOrEditTodo" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/new task.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>New Task</span></div>
        </a>
    </div>

    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-xs-6 submenubtn">
        <a class="row" asp-action="ViewTaskList" asp-controller="Todo" asp-area="Tasks">
            <div class="col-lg-3 col-xl-3 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3">
                <img src="~/websiteimages/VIEW ALL TASK.svg" />
            </div>
            <div class="col-lg-9 col-xl-9 col-sm-12 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-3"><span>View Organisational Task</span></div>
        </a>
    </div>

</div>

@*<div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="TaskAssignToMe" asp-controller="Todo">Assigned By Others</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="TaskAssignToOther" asp-controller="Todo">Assigned To Others</a></h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="Index" asp-controller="Todo">Dashboard</a></h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="MyTasks" asp-controller="Todo">MyTask</a></h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="CreateOrEditTodo" asp-controller="Todo">NewTask</a></h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ViewTaskList" asp-controller="Todo">View All Tasks</a></h5>
            </div>
        </div>
    </div>*@


