﻿
@{
    ViewData["Title"] = "CreateorEditSubjectGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Student.Models.subjectgroupcls
<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SubjectGroupList" asp-controller="Master" asp-area="Student">Subject Group</a></li>
            @if (Model.SubjectGroupID > 0)
            {
                <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.SubjectGroupID</li>
            }
            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (Model.SubjectGroupID == 0)
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Subject Group</span>
                }
                else
                {
            <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Subject Group</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrEditSubjectGroup" id="validation-form">
                    <input type="hidden" asp-for="SubjectGroupID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SubjectGroupName" class="control-label font-weight-bold">Name</label>
                        <input asp-for="SubjectGroupName" class="form-control" />
                        <span id="spanSubjectGroupName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Board</label>
                        <select asp-for="BoardID" class="form-control">
                            <option value="0">Select Board</option>
                            @foreach (var a in Model.boards)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        </select>
                        <span id="spanBoardID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Standard</label>
                        <select asp-for="BoardStandardId" class="form-control"></select>
                        <span id="spanBoardStandardId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Subject</label>
                        <select asp-for="subjectids" class="form-control" multiple></select>
                        <span id="spansubjectids" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var boardid = '@(Model.BoardID!=0?Model.BoardID:0)';
        var standardid = '@(Model.BoardStandardId!=0?Model.BoardStandardId: 0)';
        var subjectid = @Html.Raw(Json.Serialize(Model.subjectids));
        if (standardid != 0) {
            GetSubjects(standardid);
        }
        if (boardid != 0) {
            GetStandard(boardid);
        }
        $('#BoardStandardId').change(function () {
            GetSubjects($('#BoardStandardId').val());
        })
        $('#BoardID').change(function () {
            GetStandard($('#BoardID').val());
        });
        function GetStandard(id) {
            $('#BoardStandardId').empty();
            $.get('/Student/Master/GetStandards', { id:id }, function (data) {
                if (data.length > 0) {
                    $("#BoardStandardId").append('<option value="0">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#BoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                    if (standardid != 0) {
                        $("#BoardStandardId").val(standardid).trigger();
                    }
                }
            });
        }


        function GetSubjects(id) {
                $('#subjectids').empty();
                $.get('/Student/Master/GetSubjects', { id: id }, function (data) {
                    if (data.length > 0) {
                        $("#subjectids").append('<option value="0">Select Subject</option>');
                        $.each(data, function (i, item) {

                            $("#subjectids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (subjectid != 0) {
                            $("#subjectids").val(subjectid).trigger();
                        }
                    }
                });
        }

        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#SubjectGroupName').val() == '') {
                $('#spanSubjectGroupName').html('Enter Subject Group Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#BoardID').val() == '') {
                $('#spanBoardID').html('Select Board');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#BoardStandardId').val() == '') {
                $('#spanBoardStandardId').html('Select Standard');
                $('#divloader').fadeOut(300);
                return false;
            }
           
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Master/SubjectGroupList';
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Student/Master/SubjectGroupList';
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Group Name Already Exists";
                        alert(message);
                        return false;
                    }
                   
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Master/SubjectGroupList';
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Student/Master/SubjectGroupList';
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Group Name Already Exists";
                        alert(message);
                        return false;
                    }
                }

            })
        })
    });
</script>
