﻿
@{
    ViewData["Title"] = "DepartureTimesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.DepartureTimeDetcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="VehicleList" asp-controller="Master" asp-area="Student">Vehicles</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="VehicleLocationList" asp-route-id="@Model.VehicleLocationID" asp-controller="Master" asp-area="Student">Vehicle Location</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Vehicle Location</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Vehicle Location</h1>
                <div>
                    <a class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success" id="linkopenmodal" href="#"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Pick Up Time</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Arrive Time</th>

                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.timings)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Name
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.PickupTime
                                                </td>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.DropTime
                                                </td>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>


                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    <a title="Edit" onclick="openmodal(@item.ID, '@item.Name','@item.PickupTime','@item.DropTime');"><i class="far fa-edit text-success"></i></a>
                                                    <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                    <a class="one-time-add" title="Delete" asp-action="DeleteDepartureTimes" asp-route-id="@item.ID" asp-route-location="@Model.VehicleLocationID" onclick="return confirm('Are you sure you wish to delete this Departure Time?');"><i class="fas fa-trash"></i></a>
                                                    @*@Html.ActionLink("DeleteBank", "Master", new { id = item.ID },
                                                        new { onclick = "return confirm('Are you sure you wish to delete this Bank?');" })*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="SubjectGroupDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Departure Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrEditDepartureTimes" id="validation-form">
                    <div class="row">
                        <div class="col-md-4">
                            Name
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="LocationID" name="LocationID" value="@Model.VehicleLocationID" />
                            <input type="text" class="form-control" id="Name" name="Name" />
                            <span id="spanName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Pick-Up Time
                        </div>
                        <div class="col-md-8">
                            <input type="time" id="PickupTime" name="PickupTime" class="form-control" />
                            <span id="spanPickupTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Arrival Time
                        </div>
                        <div class="col-md-8">
                            <input type="time" id="DropTime" name="DropTime" class="form-control" />
                            <span id="spanDropTime" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    var city = 0;
    var state = 0;

    function openmodal(id, name, pickup, arrival) {
        $('#ID').val(id);
        $('#Name').val(name);

        $('#PickupTime').val(pickup);
        $('#DropTime').val(arrival);

        $('#SubjectGroupDetailsModal').modal('show');
    }
    $(document).ready(function () {

        $('#linkopenmodal').click(function () {
            $('#ID').val(0);
            $('#Name').val('');
            $('#PickupTime').val('');

            $('#DropTime').val('');
            $('#SubjectGroupDetailsModal').modal('show');
        })

       
       
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#Name').val() == '') {
                $('#spanName').val('Enter Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#PickupTime').val() == '') {
                $('#spanPickupTime').val('Enter Picku-p Time');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#DropTime').val() == '0') {
                $('#spanDropTime').val('Enter Arrival Time');
                $('#divloader').fadeOut(300);
                return false;
            }
           
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Departure Time Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }

                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Departure Time Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }
                }

            })
        })
    })
</script>
