﻿
@{
    ViewData["Title"] = "SubjectOptionalCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<OdmErp.ApplicationCore.Query.View_All_Subject_Optional_Category>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Subject Optional Category</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Subject Optional Category</h1>
                <div>
                    <a href="/Student/Master/CreateorEditSubjectOptionalCategory" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Type</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subjects</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SubjectOptionalTypeName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.BoardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.StandardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.WingName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SubjectGroupName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Subjects" asp-action="SubjectOptionalList" asp-route-id="@item.SubjectOptionalCategoryID">@item.NoOfSubject</a>
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @if (item.IsAvailable == true)
                                            {
                                                <a class="text-success" title="Active" asp-action="ActiveInActiveSubjectOptionalCategory" asp-route-id="@item.SubjectOptionalCategoryID" onclick="return confirm('Are you sure you wish to in-active this Subject Group?');">Active</a>
                                            }
                                            else
                                            {
                                                <a class="text-success" title="In-Active" asp-action="ActiveInActiveSubjectOptionalCategory" asp-route-id="@item.SubjectOptionalCategoryID" onclick="return confirm('Are you sure you wish to Active this Subject Group?');">In-Active</a>
                                            }
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            &nbsp;&nbsp;
                                            <a title="Edit" asp-action="CreateorEditSubjectOptionalCategory" asp-route-id="@item.SubjectOptionalCategoryID"><i class="far fa-edit text-success"></i></a>
                                            <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                            <a class="one-time-add" title="Delete" asp-action="DeleteSubjectOptionalCategory" asp-route-id="@item.SubjectOptionalCategoryID" onclick="return confirm('Are you sure you wish to delete this Subject Group?');"><i class="fas fa-trash"></i></a>
                                          
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

