﻿
@{
    ViewData["Title"] = "SubjectGroupList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<OdmErp.ApplicationCore.Query.View_All_Subject_Group>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Subject Group</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Subject Group</h1>
                <div>
                    <a href="/Student/Master/CreateorEditSubjectGroup" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subjects</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.SubjectGroupName
                                                </td> 
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.StandardName
                                                </td> 
                                               
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.NoOfSubject&nbsp;|&nbsp;
                                                    <a title="Add Subjects" asp-action="SubjectGroupDetailsList" asp-route-id="@item.SubjectGroupID">
                                                        <i class="fas fa-plus-circle text-success"></i>
                                                        Add
                                                    </a>
                                                </td> 
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @if (item.IsAvailable == true)
                                                    {
                                                        <a class="text-success" title="Active" asp-action="ActiveInActiveSubjectGroup" asp-route-id="@item.SubjectGroupID" onclick="return confirm('Are you sure you wish to in-active this Subject Group?');">Active</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="text-success" title="In-Active" asp-action="ActiveInActiveSubjectGroup" asp-route-id="@item.SubjectGroupID" onclick="return confirm('Are you sure you wish to Active this Subject Group?');">In-Active</a>
                                                    }
                                                </td>
                                                
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    &nbsp;&nbsp;
                                                    <a title="Edit" asp-action="CreateorEditSubjectGroup" asp-route-id="@item.SubjectGroupID"><i class="far fa-edit text-success"></i></a>
                                                    <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                    <a class="one-time-add" title="Delete" asp-action="DeleteSubjectGroup" asp-route-id="@item.SubjectGroupID" onclick="return confirm('Are you sure you wish to delete this Subject Group?');"><i class="fas fa-trash"></i></a>
                                                    @*@Html.ActionLink("DeleteBank", "Master", new { id = item.ID },
                                                        new { onclick = "return confirm('Are you sure you wish to delete this Bank?');" })*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
