﻿
@{
    ViewData["Title"] = "SubjectOptionalList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<OdmErp.Web.Areas.Student.Models.subjectgroupdetailsclass>
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SubjectOptionalCategoryList" asp-controller="Master" asp-area="Student" asp-route-id="@ViewBag.subjectgroupid">Subject Optional Category</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Subjects</li>
            </ol>
        </nav>
    </div>



    <!-- Content Row -->
    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Subjects</h1>
                    <div>
                        <a class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success" id="linkopenmodal" href="#"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                    </div>
                </div>


                <!-- Page Heading -->
                <!-- DataTales Example -->
                <div class="row">
                    <div class="container-fluid">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Code</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.SubjectCode
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.SubjectName
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.inserteddate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @if (item.IsAvailable == true)
                                                        {
                                                            <a class="text-success" title="Active" asp-action="ActiveInActiveSubjectOptional" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to in-active this Subject Group?');">Active</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="text-danger" title="In-Active" asp-action="ActiveInActiveSubjectOptional" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to Active this Subject Option?');">In-Active</a>
                                                        }
                                                    </td>

                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">

                                                        <a class="one-time-add" title="Delete" asp-action="DeleteSubjectOptional" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Subject Option?');"><i class="fas fa-trash"></i></a>
                                                        @*@Html.ActionLink("DeleteBank", "Master", new { id = item.ID },
                                                            new { onclick = "return confirm('Are you sure you wish to delete this Bank?');" })*@
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="modal fade" id="SubjectGroupDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Subject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="SaveOrEditSubjectOptional" id="validation-form">
                        <div class="row">
                            <div class="col-md-4">
                                Subject
                            </div>
                            <div class="col-md-8">
                                <input type="hidden" id="schoolgroupid" name="schoolgroupid" value="@ViewBag.subjectgroupid" />

                                <select id="subjectids" name="subjectids" class="form-control" multiple style="width:100%;"></select>
                                <span id="spansubjectids" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        GetSubjects();
        $('#linkopenmodal').click(function () {
            GetSubjects();
            $('#SubjectGroupDetailsModal').modal('show');
        })
        function GetSubjects() {
            $('#subjectids').empty();
            var id = '@ViewBag.subjectgroupid';
            $.get('/Student/Master/GetSubjectsBySchoolOptionalCategory', { id: id }, function (data) {
                if (data.length > 0) {
                    $("#subjectids").append('<option value="0">Select Subject</option>');
                    $.each(data, function (i, item) {
                        $("#subjectids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        }
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();

            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 0) {
                        // Do something useful with the data:
                        var message = "Select Subject";
                        alert(message);
                        return false;
                    }

                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }
                   
                    else if (resp == 0) {
                        // Do something useful with the data:
                        var message = "Select Subject";
                        alert(message);
                        return false;
                    }
                }

            })
        })
    })
    </script>
