﻿
@{
    ViewData["Title"] = "VehicleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.Web.Areas.Student.Models.vehiclelistdetcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Vehicle</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Vehicle Type</h1>
                <div>
                    <a class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success" id="linkopenmodal" href="#"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Number</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Vehicle Type</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Group</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Location</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Created On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.vehicledetcls)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Number
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.VehicleTypeName
                                                </td>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.GroupName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.OrganisationName
                                                </td> 
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Countlocation &nbsp;|&nbsp;
                                                    <a title="Add Wing" asp-controller="Master" asp-area="Student" asp-action="VehicleLocationList" asp-route-id="@item.ID">
                                                        <i class="fas fa-plus-circle text-success"></i>
                                                        Add
                                                    </a>
                                                </td>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.insertedDate.ToString("dd-MMM-yyyy")
                                                </td>


                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    <a title="Edit" onclick="openmodal(@item.ID,'@item.Number',@item.GroupID,@item.OrganisationID,@item.VehicleTypeID)"><i class="far fa-edit text-success"></i></a>
                                                    <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                    <a class="one-time-add" title="Delete" asp-action="DeleteVehicleTypeList" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Vehicle Type?');"><i class="fas fa-trash"></i></a>
                                                    @*@Html.ActionLink("DeleteBank", "Master", new { id = item.ID },
                                                        new { onclick = "return confirm('Are you sure you wish to delete this Bank?');" })*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="SubjectGroupDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Vehicle Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrEditVehicleList" id="validation-form">
                    <div class="row">
                        <div class="col-md-4">
                            Number
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" id="ID" name="ID" />
                            <input type="text" class="form-control" id="Number" name="Number" />
                            <span id="spanNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Vehicle Type
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="VehicleTypeID" name="VehicleTypeID" style="width:100%;">
                                <option value="0">Select Vehicle Type</option>
                                @foreach (var item in Model.GetVehicledetcls.vehicletypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                            <span id="spanVehicleTypeID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Group
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="GroupID" name="GroupID" style="width:100%;">
                                <option value="0">Select Group</option>
                                @foreach (var item in Model.GetVehicledetcls.groups)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                            <span id="spanGroupID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Organisation
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="OrganisationID" name="OrganisationID" style="width:100%;">
                            </select>
                            <span id="spanOrganisationID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function openmodal(id, number, groupid, orgid, vehicletypeid) {
        $('#ID').val(id);
        $('#Number').val(number);
        getorganisatin(groupid);
        $('#VehicleTypeID').val(vehicletypeid);
        $('#OrganisationID').val(orgid);

        $('#SubjectGroupDetailsModal').modal('show');
    }
    $(document).ready(function () {
        $('#linkopenmodal').click(function () {
            $('#ID').val(0);
            $('#Number').val('0');
            $('#VehicleTypeID').val('0');
            $('#OrganisationID').val('0');
            $('#SubjectGroupDetailsModal').modal('show');
        })
        $('#GroupID').change(function () {
            getorganisatin($('#GroupID').val());
        })
        function getorganisatin(id) {
            if (id != 0) {
                $.get('/Student/Master/GetOrganisationbygroupid', { id: id }, function (data) {
                    if (data.length > 0) {
                        $("#OrganisationID").append('<option value="0">Select Organisation</option>');
                        $.each(data, function (i, item) {

                            $("#OrganisationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                })
            }
        }
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#Number').val() == '') {
                $('#spanNumber').val('Enter Number');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#VehicleTypeID').val() == '0') {
                $('#spanVehicleTypeID').val('select Vehicle Type');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#GroupID').val() == '0') {
                $('#spanGroupID').val('select Group');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#OrganisationID').val() == '0') {
                $('#spanOrganisationID').val('select Organisation');
                $('#divloader').fadeOut(300);
                return false;
            }
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Vehicle Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }

                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Vehicle Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }
                }

            })
        })
    })
</script>
