﻿
@{
    ViewData["Title"] = "VehicleLocationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.vehiclelocationdetcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Academic" asp-controller="Layout">Academic</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="VehicleList" asp-controller="Master" asp-area="Student">Vehicles</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Vehicle Location</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Vehicle Location</h1>
                <div>
                    <a class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success" id="linkopenmodal" href="#"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">City</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">State</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Country</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Departure Times</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.vehiclelocation)
                                        {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Name
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CityName
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.StateName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CountryName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Counttimings &nbsp;|&nbsp;
                                            <a title="Add Wing" asp-controller="Master" asp-area="Student" asp-action="DepartureTimesList" asp-route-id="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                        </td>


                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" onclick="openmodal(@item.ID, '@item.Name',@item.CityID,@item.StateID,@item.CountryID);"><i class="far fa-edit text-success"></i></a>
                                            <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                            <a class="one-time-add" title="Delete" asp-action="DeleteVehicleLocationList" asp-route-id="@item.ID" asp-route-vehicleid="@Model.VehicleID" onclick="return confirm('Are you sure you wish to delete this Vehicle Location?');"><i class="fas fa-trash"></i></a>
                                            @*@Html.ActionLink("DeleteBank", "Master", new { id = item.ID },
            new { onclick = "return confirm('Are you sure you wish to delete this Bank?');" })*@
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="SubjectGroupDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Vehicle Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrEditVehicleLocationList" id="validation-form">
                    <div class="row">
                        <div class="col-md-4">
                            Name
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" id="ID" name="ID" />
                            <input type="hidden" id="VehicleID" name="VehicleID" value="@Model.VehicleID" />
                            <input type="text" class="form-control" id="Name" name="Name" />
                            <span id="spanName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Country
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="CountryID" name="CountryID" style="width:100%;">
                                <option value="0">Select Country</option>
                                @foreach (var item in Model.countries)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                            <span id="spanCountryID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            State
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="StateID" name="StateID" style="width:100%;">
                            </select>
                            <span id="spanStateID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:5px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            City
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="CityID" name="CityID" style="width:100%;">
                            </select>
                            <span id="spanCityID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    var city1 = 0;
    var state1 = 0;

    function openmodal(id, name, city, state, country) {
        $('#ID').val(id);
        $('#Name').val(name);
        
        $('#CountryID').val(country);
        //$('#VehicleID').val(vehicle);
        getstate(country);
        getcity(state);
        city1 = city;
        state1 = state;
        $('#SubjectGroupDetailsModal').modal('show');
    }
      function getstate(id) {
            if (id != 0) {
                debugger;
                $.get('/Student/Student/GetStateByCountryId', { id: id }, function (data) {
                    $('#StateID').empty();
                    if (data.length > 0) {
                        $("#StateID").append('<option value="0">Select State</option>');
                        $.each(data, function (i, item) {
                            $("#StateID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (state1 != 0) {
                            $("#StateID").val(state1);
                        }
                    }
                })
            }
    }
     function getcity(id) {
            if (id != 0) {
            
                debugger;
                $.get('/Student/Student/GetCityByStateId', { id: id }, function (data) {
                    $('#CityID').empty();
                    if (data.length > 0) {
                        $("#CityID").append('<option value="0">Select City</option>');
                        $.each(data, function (i, item) {
                            $("#CityID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                         if (city1 != 0) {
                            $("#CityID").val(city1);
                        }
                    }
                })
            
            }
        }
    $(document).ready(function () {

        $('#linkopenmodal').click(function () {
            $('#ID').val(0);
            $('#Name').val('');
        
        
        $('#CountryID').val('0');
            $('#SubjectGroupDetailsModal').modal('show');
        })
      
        $('#CountryID').change(function () {
            getstate($('#CountryID').val());
        })
      
        $('#StateID').change(function () {
            getcity($('#StateID').val());
        })
       
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#Name').val() == '') {
                $('#spanName').val('Enter Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#CountryID').val() == '0') {
                $('#spanCountryID').val('select Country');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#StateID').val() == '0') {
                $('#spanStateID').val('select State');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#CityID').val() == '0') {
                $('#spanCityID').val('select City');
                $('#divloader').fadeOut(300);
                return false;
            }
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        $('#SubjectGroupDetailsModal').modal('hide');
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Vehicle Location Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }

                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 3) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.reload();
                    }
                    else if (resp == 2) {
                        // Do something useful with the data:
                        var message = "Vehicle Location Already Exists";
                        $('#spanname').val(message);
                        return false;
                    }
                }

            })
        })
    })
</script>
