﻿
@model IEnumerable<OdmErp.ApplicationCore.Query.View_All_Academic_Standard>

@{
    ViewData["Title"] = "AcademicStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Academic Standard</li>
        </ol>
    </nav>
</div>


<!-- Page Heading -->


<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Academic Standard</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="/School/CreateAcademicStandard" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Oraganisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Nucleus</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.SessionName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.OraganisationName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.BoardName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.StandardName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@(item.Nucleus==null?"Not Assigned":(item.Nucleus.Value==true?"Yes":"No"))</td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CountAcademicWing&nbsp;|&nbsp;
                                            <a title="Add Wing" asp-controller="School" asp-action="AcademicStandardWing" asp-route-AcademicStandardId="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CountAcademicSection&nbsp;|&nbsp;
                                            <a title="Add Section" asp-controller="School" asp-action="AcademicSection" asp-route-AcademicStandardId="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td> 
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CountAcademicSubjectGroup &nbsp;|&nbsp;
                                            <a title="Add Section" asp-controller="School" asp-action="AcademicSubjectGroup" asp-route-AcademicStandardId="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>


                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.Status</td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0  font-weight-normal" style="color:red;">@item.Status</td>
                                        }
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.ModifiedDate.ToString("dd-MMM-yyyy")</td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" asp-action="EditAcademicStandard" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp; | &nbsp;
                                            <a title="Access" asp-action="AccessAcademicStandard" asp-route-standardid="@item.ID" asp-route-streamid="0"><i class="fa fa-key text-success"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>




