﻿
@{
    ViewData["Title"] = "AcademicSubjectOptional";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<OdmErp.Web.Models.academicsubjectoptionalcls>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Academic Subject Optional</li>
        </ol>
    </nav>
</div>


<!-- Page Heading -->


<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Academic Subject Optional</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="/School/CreateOrEditSubjectOptional" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Optional Type</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item._Subject_Optional_Category.SubjectOptionalTypeName</td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item._Subject_Optional_Category.BoardName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item._Subject_Optional_Category.StandardName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item._Subject_Optional_Category.SubjectGroupName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item._Subject_Optional_Category.WingName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.ModifiedDate.ToString("dd-MMM-yyyy")</td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" asp-action="CreateOrEditSubjectOptional" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp; | &nbsp;
                                    <a title="Delete" asp-action="DeleteAcademicSubjectOptional" asp-route-id="@item.ID"><i class="fa fa-trash text-danger"></i></a>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
