﻿
@{
    ViewData["Title"] = "AcademicChapter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.SchoolBelq.AcademicChapterViewModel>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSubject" asp-controller="School">Session-Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.SubjectName</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Session-Subject-Chapter</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Chapter</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadAcademicSession" asp-controller="School"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a asp-action="CreateOrEditAcademicChapter" asp-controller="School" asp-route-AcademicSubjectId="@ViewBag.AcademicSubjectId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Chapter</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Concept</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SubjectName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ChapterName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.CountAcademicConcept&nbsp;|&nbsp;
                                            <a title="Add Concept" asp-controller="School" asp-action="AcademicConcept" asp-route-AcademicSubjectId="@item.AcademicSubjectId" asp-route-AcademicChapterId="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>
                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                @item.Status
                                            </td>
                                        }

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            &nbsp;&nbsp;
                                            <a title="Edit" asp-action="CreateOrEditAcademicChapter" asp-route-id="@item.ID" asp-route-AcademicSubjectId="@ViewBag.AcademicSubjectId"><i class="far fa-edit text-success"></i></a>

                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>







