﻿
@{
    ViewData["Title"] = "AcademicStandardWing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<OdmErp.Web.Models.AcademicStandardWingcls>


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandard" asp-controller="School">AcademicStandard</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Wing</li>
        </ol>
    </nav>
</div>


<!-- Page Heading -->


<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Stream</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a asp-controller="School" asp-action="CreateOrEditAcademicStandardWing" asp-route-AcademicStandardId="@ViewBag.AcademicStandardId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Options</th>*@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.Name</td>

                                        @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            0 &nbsp;|&nbsp;
                                            <a title="Add Section" asp-controller="School" asp-action="AcademicSection" asp-route-AcademicStandardId="@item.AcademicStandardID" asp-route-AcademicStandardStreamId="@item.ID">
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>*@

                                    
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.ModifiedDate.ToString("dd-MMM-yyyy")</td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Delete" asp-action="DeleteAcademicStandardWing" asp-route-AcademicStandardId="@item.AcademicStandardID" asp-route-ID="@item.ID"><i class="fa fa-trash text-danger"></i></a> 
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
