﻿
@model IEnumerable<OdmErp.Web.Models.SchoolBelq.AcademicTeacherSubjectViewModel>
    @{
        ViewData["Title"] = "AcademicTearcherSubject";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Academic Teacher Subject</li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>

    <!-- Page Heading -->

    <div class="row">

        <div class="container-fluid">

            <div class="card  mb-4 bg-white">

                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Academic Teacher Subject</h1>
                    <div>                     
                        <a asp-controller="School" asp-action="CreateAcademicTearcherSubject" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Teacher</th>                                    
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                   <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                <tr>
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.TeacherName</td>
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.SectionName</td>
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.SubjectName</td>

                                    @if (item.Status == "ACTIVE")
                                    {
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                            @item.Status
                                        </td>
                                    }
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.ModifiedDate.ToString("dd-MMM-yyyy")</td>

                                   <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                      <a title="Edit" asp-action="EditAcademicTearcherSubject" asp-controller="School" asp-route-id="@item.ID" ><i class="far fa-edit text-success"></i></a>
                                     </td>
                                </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>






