﻿@model OdmErp.Web.Models.EmployeeModuleSubModuleAccess
@{
    ViewData["Title"] = "Academic Access";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="SaveOrUpdateAcademicModuleSubModuleDetails">
    <h3>Module And SubModule Access</h3>
    <hr />
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div class="card">

        <div class="card-body" id="divmodule">
            <div class="accordion" id="accordionExample">
                <input type="checkbox" id="chkselectall" name="chkselectall" />&nbsp;&nbsp; <label>Select All</label>
                @if (Model != null)
                {
                    <input type="hidden" asp-for="standardid" />
                    <input type="hidden" asp-for="standardstreamid" />
                    for (Int32 i = 0; i < Model.modules.Count(); i++)
                    {
                        <div class="card">
                            <div class="card-header" id="heading_@Model.modules[i].ModuleName" style="padding:0px;">
                                <div class="d-sm-flex align-items-center justify-content-between mb-1">
                                    <input type="hidden" asp-for="modules[i].ID" />
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@Model.modules[i].ModuleName" aria-expanded="true" aria-controls="@Model.modules[i].ModuleName">

                                        @Model.modules[i].ModuleName
                                    </button>
                                    <div class="mr-2">
                                        <input type="checkbox" id="chkt_@Model.modules[i].ID" name="chkt_@Model.modules[i].ID" onclick="checkedallmodule('@Model.modules[i].ModuleName','chkt_@Model.modules[i].ID')" />
                                    </div>
                                </div>
                                
                            </div>
                            <div id="@Model.modules[i].ModuleName" class="collapse" aria-labelledby="heading_@Model.modules[i].ModuleName" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        @for (Int32 j = 0; j < Model.modules[i].subModules.Count(); j++)
                                        {
                                            <div class="col-md-2">
                                                <div class="form-group" style="font-size:13px;">
                                                    <input type="hidden" asp-for="modules[i].subModules[j].ID" />
                                                    <strong>@Model.modules[i].subModules[j].SubModuleName</strong>
                                                </div>
                                            </div>
                                            <div class="col-md-8 row" id="divchk_@Model.modules[i].subModules[j].ID">
                                                @for (Int32 k = 0; k < Model.modules[i].subModules[j].actionSubModules.Count(); k++)
                                                {
                                                    <div class="col-md-3">
                                                        <div class="form-group" style="font-size:13px;">
                                                            <input type="hidden" asp-for="modules[i].subModules[j].actionSubModules[k].ID" />
                                                            <input type="hidden" asp-for="modules[i].subModules[j].actionSubModules[k].ActionAccessId" />
                                                            <input type="checkbox" asp-for="modules[i].subModules[j].actionSubModules[k].IsRequired" />
                                                            <strong>@Model.modules[i].subModules[j].actionSubModules[k].ActionName</strong>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group" style="font-size:13px;">
                                                    <input type="checkbox" id="chk_@Model.modules[i].subModules[j].ID" name="chk_@Model.modules[i].subModules[j].ID" onclick="checkedallselect('chk_@Model.modules[i].subModules[j].ID')" />&nbsp;&nbsp;Select All
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="clearfix" style="margin-bottom:20px;"></div>
            <div class="form-group text-center">
                <a onclick="javascript: window.history.back();"a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Add Access</button>
            </div>            
        </div>
    </div>

</form>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
     function checkedallmodule(name, id) {
        debugger;
        var res = $('#' + id).prop("checked");
        if (res == true) {
            $('#' + name + ' input:checkbox').attr('checked', true);
        }
        else {
            $('#' + name + ' input:checkbox').attr('checked', false);
        }
    }
    function checkedallselect(name) {
        debugger;
        var res = $('#' + name).prop("checked");
        if (res == true) {
            $('#div' + name + ' input:checkbox').attr('checked', true);
        }
        else {
            $('#div' + name + ' input:checkbox').attr('checked', false);
        }
    }
    $(document).ready(function () {
        $('#chkselectall').click(function () {
           var res = $('#chkselectall').prop("checked");
            if (res == true) {
                $('#divmodule input:checkbox').attr('checked', true);
            }
            else {
                $('#divmodule input:checkbox').attr('checked', false);
            }
        })
    })

</script>