﻿

@model IEnumerable<OdmErp.Web.ViewModels.NameStreamCountViewModel>

@{
    ViewData["Title"] = "BoardStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Class</li>
        </ol>
    </nav>
</div>




<!-- Page Heading -->

<div class="row">

    <div class="container-fluid">

        <div class="card  mb-4 bg-white">

            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Class</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a asp-controller="School" asp-action="CreateBoardStandard" asp-route-BoardID="@ViewBag.BoradId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Access</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.BoardName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.StandardName</td>
                               
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.StreamCount   |
                                        <a title="Add Wing" asp-controller="School" asp-action="BoardStandardWing" asp-route-BoardId="@item.BoardID" asp-route-BoardStnrdId="@item.ID">
                                            <i class="fas fa-plus-circle text-success"></i>
                                            Add
                                        </a>
                                    </td>
                             
                               
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.SubjectCount |
                                        <a title="Add Subject" asp-controller="School" asp-action="Subject" asp-route-BoardId="@item.BoardID" asp-route-BoardStnrdId="@item.ID" asp-route-Class="ClassSubject" asp-route-BoardStaandStreamId="0">
                                            <i class="fas fa-plus-circle text-success"></i>
                                            Add
                                        </a>
                                    </td>
                               

                                @if (item.Status == "ACTIVE")
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.Status
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                        @item.Status
                                    </td>
                                }
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">                                 
                                    <a title="Access" asp-action="ParentAccess" asp-controller="School" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Access</a>
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" asp-action="EditBoardStandard" asp-controller="School" asp-route-id="@item.ID" asp-route-BoardId="@item.BoardID"><i class="far fa-edit text-success"></i></a>
                                    @*<a title="Delete" asp-action="ViewStudentDetails" asp-route-id="@item.ID"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;*@
                                    
                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>



