﻿@model IEnumerable<OdmErp.Web.Models.SchoolBelq.BoardStandardViewModel>

@{
    ViewData["Title"] = "BoardStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
        <li class="breadcrumb-item"><a asp-action="Admission" asp-controller="Layout">School</a></li>
        <li class="breadcrumb-item active" aria-current="page">BoardStandard</li>
    </ol>
</nav>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">BoardStandard List</h1>
    <div>
        <a asp-action="CreateBoardStandard" asp-controller="School" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Board</th>
                                <th>Class</th>
                                @*<th>Stream</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.BoardName</td>
                                        <td>@item.StandardName</td>
                                        @*<td>@item.StreamName</td>*@
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a>&nbsp;
                                            <a asp-action="ViewStudentDetails" asp-route-id="@item.ID"><i class="fa fa-eye"></i>View</a>&nbsp;
                                            <a asp-action="DeleteStudent" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this student?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

