﻿


@{
    ViewData["Title"] = "Chapter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">

            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Calender</li>


        </ol>
    </nav>
</div>



<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Calender</h1>
                <div>

                    <a asp-controller="School" asp-action="CreateCalenderEngagement" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div id="evoCalendar"></div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


