﻿
@{
    ViewData["Title"] = "CreateAcademicTearcherSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicTeacherSubjectViewModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicTearcherSubject" asp-controller="School">AcademicTeacherSubject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Teacher Subject </span>

                </div>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="SaveAcademicTearcherSubject" method="post">

                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                        <select asp-for="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                        <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label font-weight-bold">Teacher</label>
                        <select asp-for="TeacherId" class="form-control" style="width:100%;">
                        </select>
                        <span asp-validation-for="TeacherId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                        <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="BoardId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                        <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                        <select asp-for="AcademicSectionId" class="form-control" style="width:100%;" multiple></select>
                        <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="ArrayAcademicSubjectId" class="control-label font-weight-bold">Subject</label>
                        <select asp-for="ArrayAcademicSubjectId" class="form-control" style="width:100%;" multiple></select>
                        <span asp-validation-for="ArrayAcademicSubjectId" class="text-danger"></span>
                    </div>



                </div>
                <div class="form-group text-center">
                    <button type="submit" id="btnSubmit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        $('#OraganisationAcademicId').change(function () {
            getteacherlist($('#OraganisationAcademicId').val());
        })

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        
                    }
                });
            }
        }
        function getteacherlist(id) {
            if (id != 0) {
                $('#TeacherId').empty();
                $.get('/School/GetTeacherList', { orgid: id }, function (data) {
                    if (data.length > 0) {
                        $("#TeacherId").append('<option value=" ">  Select Teacher </option>');
                        $.each(data, function (i, item) {

                            $("#TeacherId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }
        function GetSectionandsubject(id) {
            if (id != 0) {
                $("#AcademicSectionId").empty();
                $.get('/School/GetAcademicsection', { AcademicStandardId: id }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicSectionId").append('<option value="0">Select Section</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (sectionid != 0) {
                        //    $("#AcademicSectionId").val(sectionid);
                        //}
                    }
                });
                $('#ArrayAcademicSubjectId').empty();
                $.get('/School/GetSubjects', { academicstandardid: id }, function (data) {
                    if (data.length > 0) {
                        $("#ArrayAcademicSubjectId").append('<option value="0">Select Subject</option>');
                        $.each(data, function (i, item) {

                            $("#ArrayAcademicSubjectId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (sectionid != 0) {
                        //    $("#AcademicSectionId").val(sectionid);
                        //}
                    }
                });
            }
        }
        $('#AcademicStandardId').change(function () {
            GetSectionandsubject($('#AcademicStandardId').val());
        });
    });
</script>
@*<script>
    function CheckValidate() {
        var checked = $("#records_table input[type=checkbox]:checked").length;
        if (checked == 0) {
            alert("Please select At least One Checkbox");
            return false;
        }
        else {
            return true;
        }
    }
</script>*@
