﻿@{
    ViewData["Title"] = "CreateAcademicStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.SchoolBelq.AcademicStandardViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandard" asp-controller="School">AcademicStandard</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Session Class</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateAcademicStandard" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                            <select asp-for="AcademicSessionId" id="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control"></select>
                            <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                            <select asp-for="OraganisationAcademicId" class="form-control"></select>
                            <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                            <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control"></select>
                            <span asp-validation-for="BoardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MultiBoardStandardId" class="control-label font-weight-bold">Class</label>
                            <select asp-for="MultiBoardStandardId" multiple class="form-control"></select>
                            <span asp-validation-for="MultiBoardStandardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nucleus40" class="control-label font-weight-bold">Is Required Nucleus-40 </label>
                            <input type="checkbox" asp-for="Nucleus40" />
                            <span asp-validation-for="Nucleus40" class="text-danger"></span>
                        </div>



                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
             $('#OraganisationAcademicId').empty();
            $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        
    });
</script>



<script>
    $(document).ready(function () {
        $('#BoardId').change(function () {
            $('#MultiBoardStandardId').empty();
            $.get('/School/GetClassByBoard', { BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    //$("#BoardStandardId").append('<option value=" ">  Select Class </option>');
                    $.each(data, function (i, item) {

                        $("#MultiBoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
    });
</script>





