﻿@model OdmErp.ApplicationCore.Entities.BoardStandard

@{
    ViewData["Title"] = "CreateBoardStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@ViewBag.BoradId">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white">
        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Class</span>
    </div>
    <div class="card-body">
        <form asp-action="CreateBoardStandard" method="post">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group" style="display:none;">
                        <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                       <input asp-for="BoardId" id="txtBoardId"  class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label asp-for="StandardId" class="control-label font-weight-bold">Class</label>
                        <select asp-for="StandardId" multiple  class="form-control"></select>
                    </div>
                  

                    <div class="col-md-3"></div>

                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@
                    <br />

                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {      
        $("#div_stream").hide();
        var boardid = document.getElementById("txtBoardId").value;       

        $.get("/School/GetStandardByBoardType/?BoardId=" + boardid + "", function (data) {

            if (data.length > 0) {              
                $.each(data, function (i, item) {
                    $("#StandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });


       


        //Getting Stream By StandardID

        //$('#StandardId').change(function () {

        //    $('#StreamId').empty();

        //    var selectedActionID = $('#StandardId option:selected').text();
        //    if (selectedActionID == null || selectedActionID == '' ||
        //        selectedActionID == 0 || selectedActionID == '0') {
        //        $('#StreamId').prop('disabled', true);
        //    }
        //    else {
        //        $('#StreamId').prop('disabled', false);
        //        $.get('/School/GetStreamByStandardID', function (data) {

        //            debugger;
        //            //$('#ActionID').empty();
        //            if (data.length > 0) {
        //                $("#StreamId").append('<option value="">  Select Stream </option>');
        //                $.each(data, function (i, item) {
        //                    $("#StreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //                });
        //            }
        //            else {
        //                $("#StreamId").prop('disabled', true);
        //            }
        //        });
        //    }

        //})


    })
</script>
