﻿
@{
    ViewData["Title"] = "CreateOrEditAcademicSection";
}

@{
    ViewData["Title"] = "CreateAcademicStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.SchoolBelq.AcademicSectionViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandard" asp-controller="School">AcademicStandard</a></li>
            @if (ViewBag.AcademicStandardStreamId != 0 || Model.ID > 0)
            {
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandardStream" asp-controller="School" asp-route-AcademicStandardId="@ViewBag.AcademicStandardId">Stream</a></li>

            }
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSection" asp-controller="School" asp-route-AcademicStandardId="@ViewBag.AcademicStandardId" asp-route-AcademicStandardStreamId="@ViewBag.AcademicStandardStreamId">Section</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Status</li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.SessionName</li>

            }

        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    @if (ViewBag.Status == "Create")
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Section</span>
                    }
                    else
                    {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Section </span>
                    }

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateOrEditAcademicSection" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="AcademicStandardId" />
                            <input type="hidden" asp-for="AcademicStandardStreamId" />
                        </div>
                        @if (ViewBag.Status == "Create")
                        {
                            <div class="form-group">
                                <label asp-for="MultiSectionId" class="control-label font-weight-bold">Section</label>
                                <select asp-for="MultiSectionId" multiple asp-items="@ViewBag.Section" class="form-control"></select>
                                <span asp-validation-for="MultiSectionId" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="SectionId" class="control-label font-weight-bold">Class</label>
                                <input asp-for="SessionName" class="form-control" readonly />
                                <input type="hidden" asp-for="SectionId" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        }




                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>







