﻿
@model OdmErp.Web.Models.SchoolBelq.CoceptViewModel

@{
    ViewData["Title"] = "CreateOrEditConcept";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@ViewBag.BoardId">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ClassName</li>
            @if (ViewBag.BoardStaandStreamId > 0)
            {
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandardStream" asp-controller="School" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardId="@ViewBag.BoardId">Stream</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.StreamName</li>
            }
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Subject" asp-controller="School" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardId="@ViewBag.BoardId" asp-route-boardStaandStream="@ViewBag.BoardStaandStreamId">Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.SubjectName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Chapter" asp-controller="School" asp-route-BoardId="@ViewBag.BoardId" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-boardStaandStreamId="@ViewBag.BoardStaandStreamId" asp-route-SubjectId="@ViewBag.SubjectId">Chapter</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ChapterName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Concept" asp-controller="School" asp-route-BoardId="@ViewBag.BoardId" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-boardStaandStreamId="@ViewBag.BoardStaandStreamId" asp-route-SubjectId="@ViewBag.SubjectId" asp-route-ChapterId="@ViewBag.ChapterId">Concept</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Status</li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.Name</li>
            }


        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">
                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Concept</span>
                }
                else
                {
            <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Concept</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateConcept" method="post">
                    <input type="hidden" asp-for="ID" />

                    <input type="hidden" asp-for="BoardId" value="@ViewBag.BoardId" />
                    <input type="hidden" asp-for="BoardStandardId" value="@ViewBag.BoardStandardId" />
                    <input type="hidden" asp-for="BoardStandardStreamId" value="@ViewBag.BoardStaandStreamId" />
                    <input type="hidden" asp-for="SubjectId" value="@ViewBag.SubjectId" />
                    <input type="hidden" asp-for="ChapterId" value="@ViewBag.ChapterId" />


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control"  />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="div_ParentChapter">
                        <label asp-for="ParentConceptId" class="control-label font-weight-bold"></label>
                        <select class="form-control" asp-for="ParentConceptId" asp-items="@ViewBag.Concept"></select>
                        <span asp-validation-for="ParentConceptId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group" id="div_IsSubChapter_Checkbox">
                        <label asp-for="IsSubConcept" class="control-label font-weight-bold"></label>
                        <input type="checkbox" asp-for="IsSubConcept" />
                    </div>*@
                    @if (ViewBag.status == "Update")
                    {
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                            </select>
                        </div>
                    }




                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>





