﻿
@{
    ViewData["Title"] = "CreateOrEditSubjectOptional";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.academicssubjectoptiondetcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSubjectOptional" asp-controller="School">Subject Option</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Session Class</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateAcademicSubjectOptional" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                            <select asp-for="AcademicSessionId" id="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control"></select>
                            <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                            <select asp-for="OraganisationAcademicId" class="form-control"></select>
                            <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                            <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control"></select>
                            <span asp-validation-for="BoardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                            <select asp-for="AcademicStandardId" class="form-control"></select>
                            <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicSubjectWingId" class="control-label font-weight-bold">Wing</label>
                            <select asp-for="AcademicSubjectWingId" class="form-control"></select>
                            <span asp-validation-for="AcademicSubjectWingId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="AcademicSubjectGroupId" class="control-label font-weight-bold">Subject Group</label>
                            <select asp-for="AcademicSubjectGroupId" class="form-control"></select>
                            <span asp-validation-for="AcademicSubjectGroupId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="subjectcategoryids" class="control-label font-weight-bold">Option Type</label>
                            <select asp-for="subjectcategoryids" class="form-control"></select>
                            <span asp-validation-for="subjectcategoryids" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="subjectoptionids" class="control-label font-weight-bold">Options</label>
                            <select asp-for="subjectoptionids" multiple class="form-control"></select>
                            <span asp-validation-for="subjectoptionids" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var academic =JSON.parse('@Html.Raw(Json.Serialize(ViewBag.academic))');
        var org = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.org))');
        var boardid = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.boardid))');
        var catg = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.catg))');
        var catgdet = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.catgdet))');

        if (org != null) { $('#AcademicSessionId').val(org.academicSessionId); }
        if (org != null) {
            getorganisation(org.academicSessionId);
        }
        if (boardid != null) {
            $('#BoardId').val(boardid);
        }
        if (academic != null) {
            Getstandards(boardid,academic.organizationAcademicId,org.academicSessionId)
        }
        if (catg != null) {
            Getwingandsubjectgroup(catg.academicStandardID);
            subjectoptioncategory(catg.academicStandardID, catg.academicStandardWingID, catg.academicSubjectGroupID);
            Getoptionalsubjects(catg.subjectOptionalCategoryID);
        }
            $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (academic !=null) { $('#OraganisationAcademicId').val(academic.organizationAcademicId); }
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(),$('#OraganisationAcademicId').val(),$('#AcademicSessionId').val());
        });
        function Getstandards(id,orgid,sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId:sessionid  }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                         if (catg != null) {
                        $("#AcademicStandardId").val(catg.academicStandardID);
                    }
                    }
                });
            }
        }
        function Getwingandsubjectgroup(id) {
            if (id != 0) {
               $('#AcademicSubjectWingId').empty();
            $.get('/School/GetAcademicWing', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectWingId").append('<option value="0">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (catg != null) {
                        $("#AcademicSubjectWingId").val(catg.academicStandardWingID);
                    }
                }
            });
            $('#AcademicSubjectGroupId').empty();
            $.get('/School/GetAcademicSubjectGroup', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectGroupId").append('<option value="0">Select Subject Group</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectGroupId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (catg != null) {
                        $("#AcademicSubjectGroupId").val(catg.academicSubjectGroupID);
                    }
                }
            });
            subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
            }
        }
        $('#AcademicStandardId').change(function () {
            Getwingandsubjectgroup($('#AcademicStandardId').val());
        });
        $('#AcademicSubjectWingId').change(function () {
            subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        })
        $('#AcademicSubjectGroupId').change(function () {
            subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        })
        function subjectoptioncategory(AcademicStandardId, AcademicWingId, AcademicSubjectGroupId) {
            $('#subjectcategoryids').empty();
            $.get('/School/GetAcademicSubjectOption', { AcademicStandardId: AcademicStandardId, AcademicWingId: AcademicWingId, AcademicSubjectGroupId: AcademicSubjectGroupId }, function (data) {
                if (data.length > 0) {
                    $("#subjectcategoryids").append('<option value="0">Select Type</option>');
                    $.each(data, function (i, item) {

                        $("#subjectcategoryids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                    if (catg != null) {
                        $("#subjectcategoryids").val(catg.subjectOptionalCategoryID);
                    }
                }
            });
        }
        $("#subjectcategoryids").change(function () {
            Getoptionalsubjects($("#subjectcategoryids").val());
        })
          function Getoptionalsubjects(id) {
            if (id != 0) {
                $('#subjectoptionids').empty();
            $.get('/School/GetSubjectoptions', { subjectcategoryid: id }, function (data) {
                if (data.length > 0) {
                    $("#subjectoptionids").append('<option value="0">Select Option</option>');
                    $.each(data, function (i, item) {

                        $("#subjectoptionids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                     if (catgdet != null) {
                            $("#subjectoptionids").val(catgdet).trigger();
                        }
                }
            });
            }
        }
    });
</script>
