﻿
@{
    ViewData["Title"] = "CreateCalenderEngagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.CalenderViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">School</a></li>


            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Calender</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Filter</span>



                </div>
                @*<div class="col-6" style=" text-align-last:right;">
                        <a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                    </div>*@
            </div>
        </div>
        <div class="card-body">
            <div class="row">




                <div class="form-group col-4">
                    <label asp-for="AcademicSessionID" class="control-label">Session</label>
                    <select asp-for="AcademicSessionID" class="form-control" style="width:100%;" asp-items="@ViewBag.AcademicSession"></select>
                    <span asp-validation-for="AcademicSessionID" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="OrganizationID" class="control-label">Organization</label>
                    <select asp-for="OrganizationID" class="form-control" style="width:100%;" asp-items="@ViewBag.OrganizationID"></select>
                    <span asp-validation-for="OrganizationID" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="WingID" class="control-label">Wing</label>
                    <select asp-for="WingID" class="form-control" style="width:100%;" asp-items="@ViewBag.WingID"></select>
                    <span asp-validation-for="WingID" class="text-danger"></span>
                </div>


                <input id="Start" class="form-control" hidden />
                <input id="End" class="form-control" hidden />



            </div>


        </div>

    </div>
</div>

<div class="container-fluid" style="margin-top:.2rem;margin-bottom:2rem;" id="calenderDiv">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Calender</span>



                </div>

            </div>
        </div>
        <div class="card-body">

            <div id='calendar'></div>

        </div>





    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header col-lg">
                <h5>Add Calender Engagement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @*<form asp-action="UploadGrievanceStatus" enctype="multipart/form-data" method="post">*@
                <div class="row container">
                    <div class="row col-12">

                        <div class="form-group col-6">
                            <label class="control-label">Session</label>
                            <input id="SessionId" class="form-control" type="text" disabled />

                        </div>
                        <div class="form-group col-6">
                            <label class="control-label">Organization</label>
                            <input id="OrganizationId" class="form-control" type="text" disabled />

                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="form-group col-6">
                            <label class="control-label">Wing</label>
                            <input id="WingId" class="form-control" type="text" disabled />

                        </div>
                        <div class="form-group col-6">
                            <label class="control-label">Date(yyyy-MM-dd)</label>
                            <input id="tDate" class="form-control" type="text" disabled />

                        </div>
                    </div>

                    <div class="form-group col-12">

                        <label class="control-label" style="width:100%;">Board</label>
                        <select id="BoardID" style="width:100%;" class="form-control row" multiple></select>

                        <span id="BoardID" class="text-danger col-12"></span>

                    </div>

                    <div class="form-group col-12">

                        <label class="control-label" style="width:100%;">Standard</label>
                        <select id="StandardID" style="width:100%;" class="form-control row" multiple></select>

                        <span id="StandardID" class="text-danger col-12"></span>

                    </div>


                    <div class="form-group col-12">

                        <label class="control-label" style="width:100%;">Type</label>
                        <select id="TypeID" style="width:100%;" class="form-control row"></select>

                        <span id="TypeID" class="text-danger col-12"></span>

                    </div>


                    <div class="form-group col-12">
                        <label class="control-label">Name</label>
                        <input id="Name" class="form-control" type="text" />

                    </div>
                    <div class="form-group col-12 text-center">
                        <button type="button" class="btn-sm btn-success col-4" onclick="return setEngagementEvent()">ADD</button>
                    </div>
                    <input id="Id" class="form-control" hidden />
                </div>
                @*</form>*@
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<style>

    /*
    i wish this required CSS was better documented :(
    https://github.com/FezVrasta/popper.js/issues/674
    derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
    */

    .popper,
    .tooltip {
        position: absolute;
        z-index: 9999;
        background: #FFC107;
        color: black;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        padding: 10px;
        text-align: center;
    }

    .style5 .tooltip {
        background: #1E252B;
        color: #FFFFFF;
        max-width: 200px;
        width: auto;
        font-size: .8rem;
        padding: .5em 1em;
    }

    .popper .popper__arrow,
    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
    }

    .tooltip .tooltip-arrow,
    .popper .popper__arrow {
        border-color: #FFC107;
    }

    .style5 .tooltip .tooltip-arrow {
        border-color: #1E252B;
    }

    .popper[x-placement^="top"],
    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

        .popper[x-placement^="top"] .popper__arrow,
        .tooltip[x-placement^="top"] .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

    .popper[x-placement^="bottom"],
    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

        .tooltip[x-placement^="bottom"] .tooltip-arrow,
        .popper[x-placement^="bottom"] .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }

    .tooltip[x-placement^="right"],
    .popper[x-placement^="right"] {
        margin-left: 5px;
    }

        .popper[x-placement^="right"] .popper__arrow,
        .tooltip[x-placement^="right"] .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }

    .popper[x-placement^="left"],
    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

        .popper[x-placement^="left"] .popper__arrow,
        .tooltip[x-placement^="left"] .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
</style>


<script src="~/vendor/jquery/jquery.js"></script>

<script src='~/vendor/fullcalendar/packages/core/main.js'></script>
<script src='~/vendor/fullcalendar/packages/daygrid/main.js'></script>
<script src='~/vendor/fullcalendar/packages/timegrid/main.js'></script>
<script src='~/vendor/fullcalendar/packages/list/main.js'></script>
<script src='~/vendor/fullcalendar/packages/interaction/main.js'></script>

<script src='~/vendor/fullcalendar/packages/bootstrap/main.js'></script>
<script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
<script type="text/javascript">

    var calendar;
    var eventSource;
    function showCalenderCreateModal(info) {

        //alert(new Date(info.dateStr));


        var events = calendar.getEvents();
        //  console.log(events);
        $('#Name').val('');
        $('#Id').val('0');
        var typeId;
        if (events != null && events.length > 0) {

            $.each(events, function (i, item) {

                var eventDate = item._def.extendedProps.date;
                if (info.dateStr === eventDate) {
                    $('#Name').val(item._def.extendedProps.name);
                    $('#Id').val(item._def.groupId);
                    typeId = item._def.extendedProps.typeId;
                }

            });
        }



        $.get
            ('/School/GetCalenderEngagementTypes', { SelectedId: 0 }, function (data) {
                console.log(data);

                $('#TypeID').empty();

                if (data != null) {

                    if (data.types.length > 0) {

                        $('#TypeID').show();
                        $("#TypeID").append('<option value="0"> ' + 'Select Type' + ' </option>');
                        $.each(data.types, function (i, item) {

                            if (typeId != null && typeId == item.id)
                                $("#TypeID").append('<option selected value="' + item.id + '"> ' + item.name + ' </option>');
                            else
                                $("#TypeID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }

                    if (data.boards.length > 0) {

                        $('#BoardID').show();
                        $("#BoardID").append('<option value="0"> ' + 'Select Board' + ' </option>');
                        $.each(data.boards, function (i, item) {

                            if (typeId != null && typeId == item.id)
                                $("#BoardID").append('<option selected value="' + item.id + '"> ' + item.name + ' </option>');
                            else
                                $("#BoardID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }

                    if (data.standards.length > 0) {

                        $('#StandardID').show();
                        $("#StandardID").append('<option value="0"> ' + 'Select Standard' + ' </option>');
                        $.each(data.standards, function (i, item) {

                            if (typeId != null && typeId == item.id)
                                $("#StandardID").append('<option selected value="' + item.id + '"> ' + item.name + ' </option>');
                            else
                                $("#StandardID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                }
                else {
                    $('#TypeID').empty();
                    $('#BoardID').empty();
                    $('#StandardID').empty();


                }
            })


        if ($('#AcademicSessionID option:selected').val() == null || $('#AcademicSessionID option:selected').val() == '' ||
            $('#AcademicSessionID option:selected').val() == '0') {
            alert("Select Session");
            return;
        }
        else
            if ($('#OrganizationID option:selected').val() == null || $('#OrganizationID option:selected').val() == '' || $('#OrganizationID option:selected').val() == '0') {
                alert("Select Organization");
                return;
            }
            else
                if ($('#WingID option:selected').val() == null || $('#WingID option:selected').val() == '' || $('#WingID option:selected').val() == '0') {
                    alert("Select Wing");
                    return;
                }

        $('#tDate').val(info.dateStr);
        $('#SessionId').val($('#AcademicSessionID option:selected').text());
        $('#OrganizationId').val($('#OrganizationID option:selected').text());
        $('#WingId').val($('#WingID option:selected').text());


        $('#myModal').modal().show();
    };


    function setEngagementEvent() {


        if ($('#TypeID option:selected').val() == null || $('#TypeID option:selected').val() == '' ||
            $('#TypeID option:selected').val() == '0') {
            alert("Select Type");
            return;
        }
        else
            if ($('#Name').val() == null || $('#Name').val() == '' ||
                $('#Name').val() == '0') {
                alert("Enter name");
                return;

            }
            else {
                $('#myModal').modal().hide();
                //   $('myModal.modal-backdrop').hide();


                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

                var date = new Date($('#tDate').val());

                var ids = $("#BoardID").select2('val');
                //   alert(ids);
                var idString = ids + "";
                var splitids = idString.split(",");
                var idArray = [];
                for (var i = 0; i < splitids.length; i++) {
                    idArray[i] = parseInt(splitids[i]);
                }

                var ids2 = $("#StandardID").select2('val');
                //   alert(ids);
                var idString2 = ids2 + "";
                var splitids2 = idString2.split(",");
                var idArray2 = [];
                for (var i = 0; i < splitids2.length; i++) {
                    idArray2[i] = parseInt(splitids2[i]);
                }

                var calenderDateData = {

                    SessionID: parseInt($('#AcademicSessionID option:selected').val()),
                    OrganizationID: parseInt($('#OrganizationID option:selected').val()),
                    WingID: parseInt($('#WingID option:selected').val()),
                    CalenderEngagementTypeID: parseInt($('#TypeID option:selected').val()),
                    CalenderDate: $('#tDate').val(),
                    Name: $('#Name').val(),
                    Id: $('#Id').val(),
                    BoardID: idArray,
                    StandardID: idArray2,
                }


                $.post
                    ('/School/SaveCalenderEngagement', calenderDateData, function (data) {
                        //console.log(data);




                        if (data != null) {

                            alert("saved");
                            getEngagementEvent();
                        }
                        else {

                            alert("failed");

                        }
                    });



                //if (!isNaN(date.valueOf())) { // valid?
                //    calendar.addEvent({
                //             id:$('#tDate').val(),
                //             title: $('#Name').val()+":"+ $('#TypeID option:selected').text(),

                //             textColor:'#ffffffff',
                //           start: date,
                //           allDay: true
                //         });
                //      //   alert('Updated in calender');
                //}
                //else {
                //         alert('Invalid date.');
                //       }

                //$('#tDate').val('');
                $('#Name').val('');
                $('#TypeID').val('');
            }

    };

    function editEvent(event) {
        // console.log(event);
        $('#tDate').val(event.extendedProps.date);
        $('#SessionId').val($('#AcademicSessionID option:selected').text());
        $('#OrganizationId').val($('#OrganizationID option:selected').text());
        $('#WingId').val($('#WingID option:selected').text());
        $('#Name').val(event.extendedProps.name);
        $('#Id').val(event.groupId)

        $.get
            ('/School/GetCalenderEngagementTypes', { SelectedId: 0 }, function (data) {
                console.log(data);

                $('#TypeID').empty();

                if (data != null && data.length > 0) {
                    $('#TypeID').show();
                    $("#TypeID").append('<option value="0"> ' + 'Select Type' + ' </option>');
                    $.each(data, function (i, item) {
                        if (event.extendedProps.typeId == item.id)
                            $("#TypeID").append('<option selected value="' + item.id + '"> ' + item.name + ' </option>');
                        else
                            $("#TypeID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#TypeID').empty();


                }
            })


        //    $('#TypeID').prop("selectedIndex",event.extendedProps.typeId);

        $('#myModal').modal().show();
    }



    function getEngagementEvent() {


        if (eventSource != null) {
            var sources = calendar.getEventSources();
            // console.log(sources);
            if (sources != null && sources.length > 0)
                sources[0].remove();
        }

        var calenderDateData = {

            SessionID: parseInt($('#AcademicSessionID option:selected').val()),
            OrganizationID: parseInt($('#OrganizationID option:selected').val()),
            WingID: parseInt($('#WingID option:selected').val()),

        }


        $.ajax
            ({
                url: '/School/GetCalenderEngagementEvents', data: calenderDateData,
                type: "GET",
                success: function (data) {

                    console.log(data);

                    if (data != null && data.length > 0) {
                        eventSource = data;
                        calendar.addEventSource(eventSource);

                    }
                    else {
                        eventSource = null;

                    }
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }


            });

    }


    function RenderCalender() {
        if (calendar == null) {

            $('#calenderDiv').show();
            var calendarEl = document.getElementById('calendar');



            calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'interaction', 'list', 'timeGrids', 'bootstrap'],
                themeSystem: 'standard',
                header: {
                    right: 'prev,next today',
                    center: 'title',
                    left: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                weekNumbers: true,
                validRange: {
                    start: $("#Start").val(),
                    end: $("#End").val()
                },
                dayRender: function (info) {
                    // console.log(info.date.toISOString());

                },
                editable: false,
                selectable: true,
                eventStartEditable: false,
                eventResizableFromStart: false,
                eventDurationEditable: false,
                droppable: false,
                draggable: false,
                eventResourceEditable: false,
                disableDragging: true,

                eventAllow: function (dropLocation, draggedEvent) {

                    return false; // or return false to disallow

                },
                dateClick: function (info) {
                    showCalenderCreateModal(info);
                },

                eventClick: function (event) {

                    editEvent(event.event._def);
                },
                eventRender: function (info) {
                    var tooltip = new Tooltip(info.el, {
                        title: info.event.extendedProps.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                },
            });

            calendar.render();
        }
        getEngagementEvent();
    }

    $(document).ready(function () {


        $('#calenderDiv').hide();

        $("#AcademicSessionID").change(function () {

            $('#OrganizationID').empty();
            $('#WingID').empty();



            var ids = $("#AcademicSessionID").val();
            if (ids == null || ids == '' || ids == '0') {
                return;
            }

            $.get
                ('/School/GetOrganizationsBySessionID', { SessionId: ids }, function (data) {
                    //   console.log(data);
                    $('#OrganizationID').empty();
                    $('#WingID').empty();


                    if (data != null && data.data.length > 0) {
                        $('#OrganizationID').show();
                        $("#OrganizationID").append('<option value="0"> ' + 'Select Organization' + ' </option>');

                        $("#Start").val(data.start);
                        $("#End").val(data.end);

                        $.each(data.data, function (i, item) {
                            $("#OrganizationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#OrganizationID').empty();
                        $('#WingID').empty();

                    }
                })



        });

        $("#OrganizationID").change(function () {


            $('#WingID').empty();



            var ids = $("#OrganizationID").val();
            if (ids == null || ids == '' || ids == '0') {
                return;
            }

            $.get
                ('/School/GetWingsByOrganizationAcademicID', { OrganizationAcademicId: ids }, function (data) {
                    //   console.log(data);

                    $('#WingID').empty();


                    if (data != null && data.length > 0) {

                        $("#WingID").append('<option value="0"> ' + 'Select Wing' + ' </option>');
                        $.each(data, function (i, item) {
                            $("#WingID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {

                        $('#WingID').empty();

                    }
                })



        });

        $("#WingID").change(function () {





            var ids = $("#WingID").val();
            if (ids == null || ids == '' || ids == '0') {
                return;
            }
            RenderCalender();




        });


    });
</script>

