﻿

@{
    ViewData["Title"] = "CreateAcademicSession";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.OrganizationAcademicViewModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSession" asp-controller="School">Session</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.AcademicSessionName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="OraganizationAcademic" asp-controller="School" asp-route-SessionId="@ViewBag.SessionId">Organisation </a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Organisation </span>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateOrganizationAcademic" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="AcademicSessionID" value="@ViewBag.SessionId" />
                        </div>
                           
                            <div class="form-group" id="div_organisation">
                                <label asp-for="OrganisationID" class="control-label">Organization Name</label>
                                <select asp-for="OrganisationID" multiple class="form-control" style="width:100%;">
                                </select>
                                <span asp-validation-for="OrganisationID" class="text-danger"></span>
                            </div>

                            <div class="form-group text-center">
                                @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                            </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
     $(document).ready(function () {
        $.get('/School/GetOrganisationSelectedType', { SessionId: $('#AcademicSessionID').val() }, function (data) {

            if (data.length > 0) {               
                $("#OrganisationID").append('<option value="">  Select Organisation </option>');
                $.each(data, function (i, item) {
                   
                    $("#OrganisationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });
            }
        });
         })
</script>