﻿
@{
    ViewData["Title"] = "CreateOrEditAcademicConcept";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicConceptViewModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSubject" asp-controller="School">Session-Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.SubjectName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicChapter" asp-controller="School" asp-route-AcademicSubjectId="@ViewBag.AcademicSubjectId">Session-Subject-Chapter</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ChapterName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicConcept" asp-controller="School" asp-route-AcademicSubjectId="@ViewBag.AcademicSubjectId" asp-route-AcademicChapterId="@ViewBag.AcademicChapterId">Session-Subject-Chapter-Concept</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Status</li>
                                   
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    @if (ViewBag.Status == "Create")
                    {
                      <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Concept</span>

                    }
                    else
                    {
                     <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Concept</span>

                    }

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateOrEditAcademicConcept" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="AcademicSubjectId" />
                            <input type="hidden" asp-for="AcademicChapterId" />

                        </div>
                        @if (ViewBag.Status == "Create")
                        {
                            <div class="form-group">
                                <label class="control-label">Concept </label>
                                <select asp-for="ConceptArrayId" class="form-control" style="width:100%;" asp-items="@ViewBag.ConceptList"></select>
                                <span asp-validation-for="ConceptArrayId" class="text-danger"></span>

                            </div>
                        }
                        else
                        {
                            <div class="form-group">

                                <label class="control-label">Chapter </label>
                                <input type="hidden" asp-for="ConceptId" />
                                <input type="text" asp-for="ConceptName" class="form-control" readonly />
                            </div>
                        }
                        @if (ViewBag.Status == "Update")
                        {
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>

                        }



                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>





