﻿
@{
    ViewData["Title"] = "CreateOrEditBoardStandardWing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.Web.Models.SchoolBelq.BoardStandardStreamViewModel



<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@ViewBag.BoardId">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ClassName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandardWing" asp-controller="School" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardId="@ViewBag.BoardId">Wing</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Message</li>

        </ol>
    </nav>
</div>




<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    @if (ViewBag.Message == "Create")
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark"> New Board Class Wing </span>
                    }
                    else
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark"> Edit Board Class Wing </span>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateOrEditBoardStandardWing" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="BoardId" value="@ViewBag.BoardId" />
                            <input type="hidden" asp-for="BoardStandardId" value="@ViewBag.BoardStandardId" />
                        </div>
                        <div class="form-group">
                            <label asp-for="StreamId" class="control-label">Wing</label>
                            <select asp-for="StreamId" asp-items="@ViewBag.Streams" class="form-control" multiple style="width:100%;"></select>
                            <span asp-validation-for="StreamId" class="text-danger"></span>
                        </div>
                        @*@if (ViewBag.Message == "Update")
                        {*@
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        @* } *@



                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
