﻿
@{
    ViewData["Title"] = "CreateAcademicSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicSubjectViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSubject" asp-controller="School">Session-Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Subject</span>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateAcademicSubject" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AcademicSessionID" class="control-label">Academic Session</label>
                            <select asp-for="AcademicSessionID" id="AcademicSessionID"  class="form-control" style="width:100%;" asp-items="@ViewBag.AcademicSession"></select>
                            <span asp-validation-for="AcademicSessionID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="BoardID" class="control-label">Board</label>
                            <select asp-for="BoardID" class="form-control" style="width:100%;" asp-items="@ViewBag.BoardID"></select>
                            <span asp-validation-for="BoardID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ClassID" class="control-label">Class</label>
                            <select asp-for="ClassID" class="form-control" style="width:100%;" asp-items="@ViewBag.ClassID"></select>
                            <span asp-validation-for="ClassID" class="text-danger"></span>
                        </div>

                        
                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <label asp-for="SubjectIDArray" class="control-label">Subject</label>
                            <select asp-for="SubjectIDArray" id="SubjectIDArray" class="form-control" style="width:100%;" asp-items="@ViewBag.Subject" multiple></select>
                            <span asp-validation-for="SubjectID" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="MapAll" class="control-label font-weight-bold">Add All Subjects</label>
                            <input type="checkbox" asp-for="MapAll" />
                        </div>*@

                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" onclick="return BtnCheck()" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function BtnCheck() {       
        if (document.getElementById("AcademicSessionID").val == "0") {
            return false;
           
            alert("Please Select Session");
           
        }
        if ($("#SubjectIDArray") == "" && $("#SubjectIDArray") == "0") {
            alert("Please Select Subject");
            return false;
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#BoardID").change(function () {

            $('#ClassID').empty();
            $('#SubjectIDArray').empty();

            var ids = $("#BoardID").val();
            if (ids == null || ids == '' || ids == '0') {
                return;
            }
            var model = {


                BoardId: ids
            }
            $.get
                ('/School/GetAllClass', { BoardId: ids }, function (data) {
                    //   console.log(data);
                    $('#ClassID').empty();
                    if (data != null && data.length > 0) {
                        $('#ClassID').show();
                        $("#ClassID").append('<option value="0"> ' + 'Select Class' + ' </option>');
                        $.each(data, function (i, item) {
                            $("#ClassID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $('#ClassID').empty();
                    }
                })



        });

       
        $("#ClassID").change(function () {
            $('#SubjectIDArray').empty();
            var ids = $("#ClassID").val();
            var model = {
                BoardId: ids
            }
            $.get
                ('/School/GetAllStreamSubjectsList', { BoardStandardId: ids, BoardStandardStreamId: 0 }, function (data) {
                    //   console.log(data);
                    $('#SubjectIDArray').empty();                  
                    if (data != null && data.length > 0) {                      
                        $('#SubjectIDArray').show();
                        $("#SubjectIDArray").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                        $.each(data, function (i, item) {
                            $("#SubjectIDArray").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $("#SubjectIDArray").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                        $('#SubjectIDArray').empty();
                    }
                })



        });
    

    });
</script>

