﻿
@{
    ViewData["Title"] = "CreateOrEditAcademicStandardWing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.AcademicStandardWingcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandard" asp-controller="School">AcademicStandard</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandardWing" asp-controller="School" asp-route-AcademicStandardId="@ViewBag.AcademicStandardId">Wing</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Status</li>


        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    @if (ViewBag.Status == "Create")
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Wing</span>
                    }
                    else
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Wing </span>
                    }

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="CreateOrEditAcademicStandardWing" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input type="hidden" asp-for="AcademicStandardID" />
                        </div>

                        <div class="form-group">
                            <label asp-for="wingids" class="control-label font-weight-bold">Wing</label>
                            <select asp-for="wingids" multiple class="form-control">
                                <option value="0">Select Wing</option>
                                @if (Model.wings != null)
                                {
                                    foreach (var item in Model.wings)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="wingids" class="text-danger"></span>
                        </div>





                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>