﻿

@{
    ViewData["Title"] = "CreateAcademicSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicSubjectViewModel

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSubject" asp-controller="School">Acadamic Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Academic Student</span>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="EditAcademicSubject" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <label asp-for="SubjectID" class="control-label">Subject</label>
                            <select asp-for="SubjectID" class="form-control" style="width:100%;" asp-items="@ViewBag.Subject"></select>
                            <span asp-validation-for="SubjectID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicSessionID" class="control-label">Academic Session</label>
                            <select asp-for="AcademicSessionID" class="form-control" style="width:100%;" asp-items="@ViewBag.AcademicSession"></select>
                            <span asp-validation-for="AcademicSessionID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                            </select>
                        </div>

                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>







