﻿
@model OdmErp.Web.Models.SchoolBelq.TeacherModel
@{
    ViewData["Title"] = "CreateOrEditTeacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Teachers" asp-controller="School">Teacher</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Teacher</span>

            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="UpdateTeacher">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
            <label asp-for="EmpType" class="control-label font-weight-bold">EmployeeType</label>
            <select asp-for="EmpType" class="form-control" asp-items="@ViewBag.Types"></select>
            <span asp-validation-for="EmpType" class="text-danger"></span>
        </div>*@
                    <div class="form-group" id="divGroup">
                        <label asp-for="GroupId" class="control-label font-weight-bold">Group</label>
                        <select asp-for="GroupId" class="form-control" asp-items="@ViewBag.Groups"></select>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>
                    @*@if (Model.EmpType == 1)
        {*@
                    <div class="form-group" id="divOrg">
                        <label asp-for="OrganizationId" class="control-label font-weight-bold">Organization</label>
                        <select asp-for="OrganizationId" class="form-control" asp-items="@ViewBag.Organizations"></select>
                        <span asp-validation-for="OrganizationId" class="text-danger"></span>
                    </div>
                    @*}
        else
        {

        }*@
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Employee</label>
                        <input type="text" class="form-control" readonly name="emp" value="@ViewBag.EmployeeName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label font-weight-bold">Start Date</label>
                        <input type="date" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label font-weight-bold">End Date</label>
                        <input type="date" asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group text-center">

                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {
       // $('#divOrg').hide();
       
        $('#GroupId').change(function () {
            $.get('/School/Getorganisation', { id: $('#GroupId').val() }, function (data) {
                $("#OrganizationId").empty();
                $("#OrganizationId").append('<option value="0">  Select Organization </option>');
                $.each(data, function (i, item) {
                    $("#OrganizationId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                });

            })
        })

        //Getting Group Or Organization By Selected Type

        $('#EmpType').change(function () {

            var selectedEmpTypeID = $('#EmpType option:selected').val();
            if (selectedEmpTypeID == null || selectedEmpTypeID == '' ||
                selectedEmpTypeID == 0 || selectedEmpTypeID == '0') {

            }
            else {

                $.get('/School/GetGroupOrOrganizationBySelectedId', { id: $('#EmpType').val() }, function (data) {

                    if (data.length > 0) {
                        if (data.val == 1) {
                            $('#divOrg').show();
                            $("#OrganizationId").append('<option value="">  Select Organization </option>');
                            $.each(data, function (i, item) {
                                $("#OrganizationId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                        else {

                            $("#GroupId").append('<option value="">  Select Group </option>');
                            $.each(data, function (i, item) {
                                $("#GroupId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    }
                })
            }
        })

    });




</script>

