﻿
@model OdmErp.Web.Models.SchoolBelq.SubjectViewModel
@{
    ViewData["Title"] = "EditSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@ViewBag.BoardId">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ClassName</li>           
            @if (ViewBag.Subject == "StreamClassSubject")
            {
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandardStream" asp-controller="School" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardId="@ViewBag.BoardId">Stream</a></li>

                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.SteamName</li>
            }
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Subject" asp-controller="School" asp-route-BoardId="@ViewBag.BoardId" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-boardStaandStream="@ViewBag.BoardStaandStreamId" asp-route-Class="@ViewBag.Subject">Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>

        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white">

        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Subject</span>


    </div>
    <div class="card-body">
        <form asp-action="EditSubject" method="post">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="Subject" value="@ViewBag.Subject" />
                    <input type="hidden" asp-for="ID" />
                    <input type="hidden" asp-for="BoardId" />
                    <input type="hidden" asp-for="BoardStandardId" />
                    <input type="hidden" asp-for="BoardStandardStreamId" value="@ViewBag.BoardStaandStreamId" />


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubjectCode" class="control-label font-weight-bold"></label>
                        <input asp-for="SubjectCode" class="form-control" />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Status</label>
                        <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ParentSubjectId" class="control-label">Board</label>
                        <select asp-for="ParentSubjectId" class="form-control" style="width:100%;" asp-items="@ViewBag.ParentSubject"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsOptional" class="control-label font-weight-bold">Make This Subject Is Optional </label>
                        <input type="checkbox" asp-for="IsOptional" />
                    </div>
                    @*<div class="form-group">
            <label asp-for="BoardStandardId" class="control-label font-weight-bold">Board</label>
            <select asp-for="BoardStandardId" class="form-control" asp-items="@ViewBag.Boards"></select>
        </div>*@

                    @*<div class="form-group">
            <label asp-for="IsSubSubject" class="control-label">Is SubSubject</label>
            <input type="checkbox" asp-for="IsSubSubject" />
        </div>*@

                    <div class="col-md-3"></div>

                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@
                    <br />
                    <br /> <br />


                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>





