﻿@{
    ViewData["Title"] = "EditAcademicStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicStandardViewModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStandard" asp-controller="School">Session Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Session Class</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="EditAcademicStandard" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="OraganisationAcademicId" />
                            @*<input type="hidden" asp-for="SchoolWingId" />*@
                            <input type="hidden" asp-for="BoardStandardId" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OraganisationName" class="control-label">Oraganisation</label>
                            <input asp-for="OraganisationName" class="form-control" readonly />
                        </div>
                        @*<div class="form-group">
                                <label asp-for="WingName" class="control-label">Wing</label>
                                <input asp-for="WingName" class="form-control" readonly/>
                            </div>*@
                        <div class="form-group">
                            <label asp-for="StandardName" class="control-label">Class</label>
                            <input asp-for="StandardName" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Nucleus40" class="control-label font-weight-bold">Is Required Nucleus-40 </label>
                            <input type="checkbox" asp-for="Nucleus40" />
                            <span asp-validation-for="Nucleus40" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>









