﻿
@model OdmErp.Web.Models.SchoolBelq.BoardStandardViewModel
@{
    ViewData["Title"] = "EditBoardStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@Model.BoardID">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white">
        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Class</span>


    </div>
    <div class="card-body">
        <form asp-action="EditBoardStandard" method="post">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group" style="display:none;">
                        <label asp-for="BoardID" class="control-label font-weight-bold">Board</label>
                        @*<input asp-for="BoardId" asp-items="@ViewBag.Boards" id="txtBoardId" class="form-control" />*@
                        <select asp-for="BoardID" asp-items="@ViewBag.Boards" class="form-control"></select>

                    </div>

                    <div class="form-group" style="display:none;">
                        <label asp-for="StandardID" class="control-label font-weight-bold">Class</label>
                        <select asp-for="StandardID"  id="txtStandardID" asp-items="@ViewBag.Standards" class="form-control"></select>
                        

                    </div>
                    <div class="form-group" id="div_stream" style="display:none;">
                        <label asp-for="StreamID" class="control-label font-weight-bold">Stream</label>
                        <select asp-for="StreamID" class="form-control" style="width:100%;" asp-items="@ViewBag.Streams"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Status</label>
                        <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                        </select>
                    </div>

                    <div class="col-md-3"></div>

                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@
                    <br />

                    <div class="form-group text-center">
                        <button type="submit" onclick="btnchk()" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script>
   
</script>
<script src="~/vendor/jquery/jquery.min.js"></script>
@*<script>
        $(document).ready(function () {
            $("#div_stream").hide();
            var boardid = document.getElementById("txtBoardId").value;

            $.get("/School/GetStandardByBoardType/?BoardId=" + boardid + "", function (data) {

                if (data.length > 0) {
                    $("#StandardId").append('<option value="">  Select Class </option>');
                    $.each(data, function (i, item) {
                        $("#StandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });


            $('#StandardId').change(function () {
                $("#div_stream").hide();

                $.get('/School/GetStreamByStreamType', { id: $('#StandardId').val() }, function (data) {

                    if (data.length > 0) {
                        $("#div_stream").show();
                        $("#StreamId").append('<option value="">  Select Stream </option>');

                        $.each(data, function (i, item) {
                            $("#StreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {
                        $("#div_stream").hide();
                    }
                });

            })
        })
    </script>*@


