﻿
@{
    ViewData["Title"] = "EditAcademicTearcherSubject";
}


@{
    ViewData["Title"] = "CreateAcademicTearcherSubject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.SchoolBelq.AcademicTeacherSubjectViewModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicTearcherSubject" asp-controller="School">AcademicTeacherSubject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Update</li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Teacher Subject </span>

                </div>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="EditAcademicTearcherSubject" method="post">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" asp-for="ID"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                            
            </form>
        </div>
    </div>
</div>




