﻿@{
    ViewData["Title"] = "OraganizationAcademic";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.SchoolBelq.OrganizationAcademicViewModel>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSession" asp-controller="School">Session</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.AcademicSessionName</li>            
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Organisation</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Organisation</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadAcademicSession" asp-controller="School"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    
                    <a asp-action="CreateOrganizationAcademic" asp-controller="School" asp-route-SessionId="@ViewBag.SessionId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Session </th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                        @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>*@
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @ViewBag.AcademicSessionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.OrganisationName
                                        </td>
                                        @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
                                          @item.CountSchoolWing&nbsp;|&nbsp;
                                            <a title="Add Wing" asp-controller="Master" asp-action="SchoolWing" asp-route-AcademicSessionId="@item.AcademicSessionID"  asp-route-OrganizationAcademicID="@item.ID" >
                                                <i class="fas fa-plus-circle text-success"></i>
                                                Add
                                            </a>
                                        </td>*@
                                        @if (item.Status == "ACTIVE")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                @item.Status
                                            </td>
                                        }
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            &nbsp;&nbsp;
                                            <a title="Edit" asp-action="EditOrganizationAcademic" asp-route-id="@item.ID" asp-route-SessionId="@ViewBag.SessionId"><i class="far fa-edit text-success"></i></a>

                                            @*<a class="one-time-add" title="Delete" asp-action="DeleteOraganizationAcademic" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Organisation Academic ?');"><i class="fas fa-trash"></i></a>*@

                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAcademicSession" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="@Url.Action("downloadAcademicSessionSample","School")">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

