﻿@model IEnumerable<OdmErp.Web.Models.SchoolBelq.SubjectViewModel>


@*@model IEnumerable<OdmErp.ApplicationCore.Entities.Subject>*@

@{
    ViewData["Title"] = "BoardStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Board" asp-controller="Master">Board</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.BoardName</li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandard" asp-controller="School" asp-route-BoardID="@ViewBag.BoardId">Class</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.ClassName</li>
            @if (ViewBag.StreamClass == "StreamClassSubject")
            {
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="BoardStandardStream" asp-controller="School" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardId="@ViewBag.BoardId">Stream</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.SteamName</li>
            }

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Subject</li>
        </ol>
    </nav>
</div>



<!-- Page Heading -->

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Subject</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a asp-controller="School" asp-action="CreateSubject"  asp-route-BoardId="@ViewBag.BoardId" asp-route-BoardStandardID="@ViewBag.BoardStandardId" asp-route-BoardStaandStreamId="@ViewBag.BoardStaandStreamId"    class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>




            @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Subject List</h1>
                    <div>
                        <a asp-action="CreateSubject" asp-controller="School" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
                    </div>
                </div>

                <div class="row">

                    <div class="container-fluid">


                        <div class="card shadow mb-4">*@
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Code</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Add Chapter</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Is Optional</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">BoardStandard</th>*@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.Name</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.SubjectCode</td>
                                @*<td class="h6 mb-0 text-gray-800 font-weight-normal">@item.IsSubSubject</td>
        <td class="h6 mb-0 text-gray-800 font-weight-normal"> <a asp-action="BoardStandardByID" asp-route-id="@item.BoardStandardId"><i class="fa fa-eye"></i>View</a>&nbsp;</td>*@

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.CountChapter &nbsp; |  &nbsp;
                                    <a title="Add Chapter" asp-controller="School" asp-action="Chapter" asp-route-BoardId="@item.BoardId" asp-route-BoardStnrdId="@item.BoardStandardId" asp-route-SubjectId="@item.ID">
                                        <i class="fas fa-plus-circle text-success"></i>
                                        Add
                                    </a>
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.IsOptional</td>

                                @if (item.Status == "ACTIVE")
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.Status
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                        @item.Status
                                    </td>
                                }


                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" asp-action="EditSubject" asp-controller="School" asp-route-id="@item.ID" asp-route-BoardId="@item.BoardId" asp-route-BoardStandardId="@item.BoardStandardId"><i class="far fa-edit text-success"></i></a>

                                    @*<a asp-action="ViewStudentDetails" asp-route-id="@item.ID"><i class="fa fa-eye"></i>View</a>&nbsp;*@

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


