﻿
@{
    ViewData["Title"] = "Syallbus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.Syllabus>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Syllabus</li>
        </ol>
    </nav>
</div>



<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Syllabus</h1>
                <div>                   
                    <a asp-action="CreateOrEditSyallbus" asp-controller="School" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Titel</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Availability</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Title
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.IsAvailable
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    &nbsp;&nbsp;
                                                    <a title="Edit" asp-action="CreateOrEditSyallbus" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>




