﻿
@model OdmErp.ApplicationCore.Entities.SchoolAggregate.Teacher
@{
    ViewData["Title"] = "UpdateTeacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            @*<li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Action" asp-controller="Master">Action</a></li>*@
            @*@if (Model.ID > 0)
                {
                    <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
                }*@
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.Status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Teacher</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Teacher</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateTeacher">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                        <div class="form-group">
                            <label asp-for="EmployeeId" class="control-label font-weight-bold"></label>
                            <select asp-for="EmployeeId" class="form-control" asp-items="@ViewBag.Employees"></select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label">Status</label>
                            <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                            </select>
                        </div>
                    
                    <div class="form-group text-center">

                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

