﻿@model OdmErp.Web.Models.ErpBugModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Bugs" asp-controller="Layout">ErpBugs</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ErpBug">ErpBugList</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h3>Bug</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>


<div class="card">
    <div class="card-header">
        <h6>Create</h6>
    </div>
    <div class="card-body">
        <form asp-action="CreateErpBug" method="post">

            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ModuleID" class="control-label"></label>
                        <select asp-for="ModuleID" class="form-control" style="width:100%;" asp-items="@ViewBag.Modules"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubModuleID" class="control-label"></label>
                        <select asp-for="SubModuleID" class="form-control" asp-items="@ViewBag.SubModules"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionID" class="control-label"></label>
                        <select asp-for="ActionID" class="form-control" asp-items="@ViewBag.Actions"></select>
                    </div>

                    <div class="col-sm-15">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="col-sm-15">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="60" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    @*<input type="hidden" asp-for="AssignFromID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <input type="hidden" asp-for="AssignFromID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@


                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@
                    <br />



                    <div class="form-group text-center">
                        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" value="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Create</button>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>

        </form>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#SubModuleID').prop('disabled', true);
        $('#ActionID').prop('disabled', true);
        $('#SubModuleID').empty();
        $('#ActionID').empty();

        //Getting SubModule By Module ID

        $('#ModuleID').change(function () {
            $('#SubModuleID').empty();
            $('#ActionID').empty();
            var selectedModuleID = $('#ModuleID option:selected').val();
            if (selectedModuleID == null || selectedModuleID == '' ||
                selectedModuleID == 0 || selectedModuleID == '0') {
                $('#SubModuleID').prop('disabled', true);
                $('#ActionID').prop('disabled', true);

            }
            else {

                $('#SubModuleID').prop('disabled', false);
                $('#ActionID').prop('disabled', true);
                $.get('/Master/GetSubModulesByModuleId', { id: $('#ModuleID').val() }, function (data) {

                    if (data.length > 0) {
                        $("#SubModuleID").append('<option value="">  Select SubModule </option>');
                        $.each(data, function (i, item) {
                            $("#SubModuleID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            }
        })


        //Getting Actions By SubModule Id

        $('#SubModuleID').change(function () {
            $('#ActionID').empty();
            var selectedActionID = $('#SubModuleID option:selected').val();
            if (selectedActionID == null || selectedActionID == '' ||
                selectedActionID == 0 || selectedActionID == '0') {
                $('#ActionID').prop('disabled', true);
            }
            else {
                $('#ActionID').prop('disabled', false);
                $.get('/ErpBug/GetActionsBySubModule', { id: $('#SubModuleID').val() }, function (data) {
                    //$('#ActionID').empty();
                    if (data.length > 0) {
                        $("#SubModuleID").append('<option value="">  Select Action </option>');
                        $.each(data, function (i, item) {
                            $("#ActionID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            }
        })


    })
</script>