﻿@model OdmErp.Web.Models.ErpBugModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Bugs" asp-controller="Layout">ErpBugs</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ErpBug">ErpBugList</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<h3>Assign Bug To Other</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>


<div class="card">
    <div class="card-header">
        <h6>Bugs Details</h6>
    </div>
    <div class="card-body">
        <form asp-action="CreateErpBug" method="post">
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-6 ">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="ModuleID" class="control-label"></label>
                        <select asp-for="ModuleID" class="form-control" style="width:100%;" asp-items="@ViewBag.Modules"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="SubModuleID" class="control-label"></label>
                        <select asp-for="SubModuleID" class="form-control" asp-items="@ViewBag.SubModules"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionID" class="control-label"></label>
                        <select asp-for="ActionID" class="form-control" asp-items="@ViewBag.Actions"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" cols="60" rows="8"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>


                    <input type="hidden" asp-for="AssignFromID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <input type="hidden" asp-for="AssignFromID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @*<div class="form-group">
                        <h6><strong>Attachments</strong></h6><hr />
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="file" name="file" id="file" multiple="multiple" accept="image/*" />
                            <span id="spanfile" class="text-danger"></span>
                        </div>

                    </div>
                    <br />*@
                    <div class="form-group">
                        <label asp-for="AssignToID" class="control-label"></label>
                        <select asp-for="AssignToID" class="form-control" asp-items="@ViewBag.Employees"></select>
                    </div>

                    <br />
                    <br />   <br />   <br />

                    <div class="form-group text-center">
                        <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" value="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Update</button>
                    </div>

                    @* <div class="clearfix" style="margin-bottom:10px;"></div>*@



                </div>
                <div class="col-md-3 "></div>
            </div>

        </form>
    </div>
</div>

