﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeEducationCls
<h3>Educational Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <form asp-action="SaveOrUpdateEmployeeEducation">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="EmployeeID" />
                        <input type="hidden" asp-for="EducationQualificationTypeID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group">
            <label asp-for="EducationQualificationTypeID" class="control-label"></label>
            <select asp-for="EducationQualificationTypeID" class="form-control">
                <option value="0">Select Educational Qualification Type</option>
                @if (Model.educationQualificationTypes != null)
                {
                    foreach (var item in Model.educationQualificationTypes)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="EducationQualificationTypeID" class="text-danger"></span>
        </div>*@
                                <div class="form-group">
                                    <label asp-for="EducationQualificationID" class="control-label"></label>
                                    <select asp-for="EducationQualificationID" class="form-control">
                                        <option value="0">Select Educational Qualification</option>
                                        @if (Model.educationQualifications != null)
                                        {
                                            foreach (var item in Model.educationQualifications)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="EducationQualificationID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="College" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="College" />
                                    <span asp-validation-for="College" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="University" class="control-label"></label>
                                    <input type="text" class="form-control" asp-for="University" />
                                    <span asp-validation-for="University" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FromYear" class="control-label"></label>
                                    <select asp-for="FromYear" class="form-control">
                                        <option value="">Select Year</option>
                                        @for(int i=1990; i<=DateTime.Now.Year;i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <span asp-validation-for="FromYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ToYear" class="control-label"></label>
                                    <select asp-for="ToYear" class="form-control">
                                        <option value="">Select Year</option>
                                        @for (int i = 1990; i <= DateTime.Now.Year; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ToYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div><h5>Required Documents</h5></div>
                                    <div class="row">
                                        @if (Model.documentTypesCls != null)
                                        {
                                            for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                            {
                                                <div class="col-md-4">

                                                    <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                                    <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                                    <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                                    <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeEducationDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#EducationQualificationTypeID').change(function () {
            debugger;
            $.get('/Employee/GetEducationalQualificationByTypeId', { id: $('#EducationQualificationTypeID').val() }, function (data) {
                $('#EducationQualificationID').empty();
                if (data.length > 0) {
                    $("#EducationQualificationID").append('<option value="0">Select Educational Qualification</option>');
                    $.each(data, function (i, item) {
                        $("#EducationQualificationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            })
        })

    })
</script>