﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeExperienceCls
<h3>Experience Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <form asp-action="SaveOrUpdateEmployeeExperience">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="EmployeeID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="OrganizationName" class="control-label"></label>
                                <input asp-for="OrganizationName" class="form-control" />
                                <span asp-validation-for="OrganizationName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Designation" class="control-label"></label>
                                <input asp-for="Designation" class="form-control" />
                                <span asp-validation-for="Designation" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="SalaryPerAnum" class="control-label"></label>
                                <input asp-for="SalaryPerAnum" class="form-control" />
                                <span asp-validation-for="SalaryPerAnum" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="FromDate" class="control-label"></label>
                                <input asp-for="FromDate" type="month" class="form-control" />
                                <span asp-validation-for="FromDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ToDate" class="control-label"></label>
                                <input asp-for="ToDate" type="month" class="form-control" />
                                <span asp-validation-for="ToDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                       
                        <div class="form-group">
                            <div><h5>Required Documents</h5></div>
                            <div class="row">
                                @if (Model.documentTypesCls != null)
                                {
                                    for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                    {
                                <div class="col-md-4">
                                    
                                    <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                    <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                    <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                    <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeExperienceDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

