﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeDocumentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeDocumentUploadCls
<h3>Upload Document</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            @*<span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>*@
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                    @*   <input type="hidden" asp-for="EmployeeID" />
                        <input type="hidden" asp-for="DocumentSubTypeID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <form asp-action="SaveOrUpdateEmployeeDocument" enctype="multipart/form-data">
                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="EmployeeID" />
                                <div class="form-group">
                                    <label class="control-label">Upload Document</label>
                                    <input type="file" class="form-control" id="files" name="files" multiple />
                                    <span id="spanfile" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                     <a asp-action="EmployeeDocumentDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Upload</button>
                                </div>
                            </form>
                            @if (Model.attachments != null)
                            {
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sl. No.</th>
                                                <th>File</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ftbody">
                                            @if (Model.attachments.Count > 0)
                                            {
                                                int i = 0;
                                                foreach (var a in Model.attachments)
                                                {
                                                    <tr>
                                                        <td>@(i = i + 1)</td>
                                                        <td><a target="_blank" href="~/ODMImages/EmployeeDocument/@a.DocumentPath">View</a></td>
                                                        <td><a asp-action="RemoveAttachments" asp-route-id="@a.ID" asp-route-did="@Model.ID">Remove</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }


                        </div>
                        <div class="col-md-3">

                        </div>


                    </div>



                </div>

            </div>
        </div>
    </div>
</div>