﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeDesignation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeDesignationCls
<h3>Designation Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body ">
           

              
                    <form asp-action="SaveOrUpdateEmployeeDesignation" >
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="EmployeeID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label asp-for="DepartmentType" class="control-label"></label>
                                <select asp-for="DepartmentType" class="form-control" style="width:100%;">
                                    <option value="0">Select Department Type</option>
                                    <option value="1">Group Type</option>
                                    <option value="2">Organization Type</option>
                                </select>
                                <span asp-validation-for="DepartmentType" class="text-danger"></span>
                            </div>


                            <div class="col-md-4 form-group" id="groupDiv">
                                <label asp-for="GroupID" class="control-label"></label>
                                <select asp-for="GroupID" class="form-control" style="width:100%;">
                                    <option value="0">Select Group</option>
                                    @if (Model.groups != null)
                                    {
                                        foreach (var item in Model.groups)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="GroupID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group" id="organizationDiv">
                                <label asp-for="OrganizationID" class="control-label"></label>
                                <select asp-for="OrganizationID" class="form-control" style="width:100%;">
                                    <option value="0">Select Organization</option>
                                    @if (Model.organizations != null)
                                    {
                                        foreach (var item in Model.organizations)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="OrganizationID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="DepartmentID" class="control-label"></label>
                                <select asp-for="DepartmentID" class="form-control" style="width:100%;">
                                    <option value="0">Select Department</option>
                                    @if (Model.departments != null)
                                    {
                                        foreach (var item in Model.departments)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DepartmentID" class="text-danger"></span>
                            </div>


                            <div class="col-md-4 form-group" hidden>
                                <label asp-for="DesignationLevelID" class="control-label"></label>
                                <select asp-for="DesignationLevelID" class="form-control" style="width:100%;">
                                    <option value="0">Select Designation Level</option>
                                    @if (Model.designationLevels != null)
                                    {
                                        foreach (var item in Model.designationLevels)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DepartmentID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="DesignationId" class="control-label"></label>
                                <select asp-for="DesignationId" class="form-control" style="width:100%;">
                                    <option value="0">Select Designation</option>
                                    @if (Model.designations != null)
                                    {
                                        foreach (var item in Model.designations)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="DesignationId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeDesignationDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Add</button>
                        </div>
                    </form>

                </div>

            </div>
  
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {      
       

        var value = $('#DepartmentType').val();
           if (value == null) {
                $('#groupDiv').hide();
                        $('#organizationDiv').hide();

        }
        else
            if (value == '1') {
                $('#groupDiv').show();
                $('#organizationDiv').hide();
            }
            else if (value == '2') {
                $('#groupDiv').hide();
                $('#organizationDiv').show();
            }
            else {
               
               
                        $('#groupDiv').hide();
                        $('#organizationDiv').hide();

                  
        }


         $('#OrganizationID').change(function () {
                if ($('#OrganizationID').val() != null)
                {
                    var value = $('#DepartmentType').val();
                    var id;
                    if (value == '1') {
                         id= $('#GroupID').val()
                    }
                    else
                        if (value == '2') {
                         id= $('#OrganizationID').val()
                    }

                    $.get('/Master/GetDepartmentByIdAndType', { id: id,type:value, deptId: "0" }, function (data) {
                        $('#DepartmentID').empty();
                        $('#DepartmentID').append('<option value=null>Select Department</option>');
                        if (data.length > 0) {
                            $.each(data, function (index, value) {
                                $('#DepartmentID').append('<option value="' + value.id + '">' + value.name + '</option>');
                            })
                        }
                    })
                }
         })

         $('#DepartmentID').change(function () {
                if ($('#DepartmentID').val() != null)
                {
                    

                    $.get('/Master/GetDesignationsByDepartmentId', {  deptId:$('#DepartmentID').val() }, function (data) {
                        $('#DesignationId').empty();
                        $('#DesignationId').append('<option value=null>Select Designation</option>');
                        if (data.length > 0) {
                            $.each(data, function (index, value) {
                                $('#DesignationId').append('<option value="' + value.id + '">' + value.name + '</option>');
                            })
                        }
                    })
                }
            })

            $('#GroupID').change(function () {
                if ($('#GroupID').val() != null)
                {
                    var value = $('#DepartmentType').val();
                    var id;
                    if (value == '1') {
                         id= $('#GroupID').val()
                    }
                    else
                        if (value == '2') {
                         id= $('#OrganizationID').val()
                        }

                    

                    $.get('/Master/GetDepartmentByIdAndType', { id: id,type:value,deptId: "0"}, function (data) {
                        $('#DepartmentID').empty();
                       
                        $('#DepartmentID').append('<option value=null>Select Department</option>');
                        if (data.length > 0) {
                            $.each(data, function (index, value) {
                                $('#DepartmentID').append('<option value="' + value.id + '">' + value.name + '</option>');
                            })
                        }
                    })
                }
            })

             $('#DepartmentType').change(function () {
                if ($('#DepartmentType').val() != null) {
                    var value = $('#DepartmentType').val();
                    if (value == '0') {
                        $('#groupDiv').hide();
                        $('#organizationDiv').hide();
                         $('#DepartmentID').empty();
                         $('#DesignationId').empty();
                    }
                    else
                          if (value == '1') {
                                $('#groupDiv').show();
                              $('#organizationDiv').hide();
                               $('#DepartmentID').empty();
                         $('#DesignationId').empty();
                          }
                          else  if (value == '2') {
                                $('#groupDiv').hide();
                              $('#organizationDiv').show();
                               $('#DepartmentID').empty();
                         $('#DesignationId').empty();
                    }
                }
            })
    })
</script>