﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeBank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeBankCls
<h3>Bank Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <form asp-action="SaveOrUpdateEmployeeBank">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="EmployeeID" />
                        <input type="hidden" asp-for="BankTypeID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="AccountHolderName" class="control-label"></label>
                                <input asp-for="AccountHolderName" class="form-control" />
                                <span asp-validation-for="AccountHolderName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="AccountNumber" class="control-label"></label>
                                <input asp-for="AccountNumber" class="form-control" />
                                <span asp-validation-for="AccountNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="BankNameID" class="control-label"></label>
                                <select asp-for="BankNameID" class="form-control">
                                    <option value="">Select Bank</option>
                                    @if (Model.banks != null)
                                    {
                                        foreach (var item in Model.banks)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="BankNameID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="BankBranchName" class="control-label"></label>
                                <input asp-for="BankBranchName" class="form-control" />
                                <span asp-validation-for="BankBranchName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IfscCode" class="control-label"></label>
                                <input asp-for="IfscCode" class="form-control" />
                                <span asp-validation-for="IfscCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group">
                            <div><h5>Required Documents</h5></div>
                            <div class="row">
                                @if (Model.documentTypesCls != null)
                                {
                                    for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                    {
                                        <div class="col-md-4">

                                            <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                            <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                            <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                            <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeBankDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

