﻿
@{
    ViewData["Title"] = "CreateOrEditEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.Web.Models.Employeecls

    <div class="row holder-breadcrumb">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Employee">Employee</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Create</li>
            </ol>
        </nav>

    </div>


<div class="card" style="margin-bottom:2rem">
    <div class="card-header bg-white " >

        <div class="d-sm-flex align-items-center justify-content-between bg-white">
            <h6 class="font-weight-bold text-secondary">Profile Details</h6>
            @*<button id="btnSupport" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                    style="margin-right:16px;">
                <i class="fas fa-check"></i>&nbsp;Create
            </button>*@
        </div>

       
          
     
        </div>
        <div class="card-body">
            <form asp-action="SaveOrUpdateEmployeeProfile" class="row" enctype="multipart/form-data">
                <div class="col-md-3">
                    <div class="text-center">
                        <img id="profileimage" src="@(ViewBag.Profileimage!=null?ViewBag.Profileimage: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%; width: 115px;  height: 120px;">
                        <h6>Profile Photo</h6>
                        <input type="file" id="file" name="Upload" class="text-center center-block file-upload" accept=".jpg,.jpeg,.png,.gif">
                    </div><hr /><br>
                </div>
                <div class="col-md-9">

                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="EmpCode" class="control-label font-weight-normal"></label>
                            <input asp-for="EmpCode" class="form-control" />
                            <span asp-validation-for="EmpCode" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="FirstName" class="control-label font-weight-normal"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="MiddleName" class="control-label font-weight-normal"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="LastName" class="control-label font-weight-normal"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="DateOfBirth" class="control-label font-weight-normal"></label>
                            <input asp-for="DateOfBirth" class="form-control" type="date" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="EmailId" class="control-label font-weight-normal"></label>
                            <input asp-for="EmailId" class="form-control" readonly="@(ViewBag.mailaccess==true?false:true)" />
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="PrimaryMobile" class="control-label font-weight-normal"></label>
                            <input asp-for="PrimaryMobile" class="form-control" maxlength="10" readonly="@(ViewBag.mobileaccess==true?false:true)" />
                            <span asp-validation-for="PrimaryMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="BloodGroupID" class="control-label font-weight-normal"></label>
                            <select asp-for="BloodGroupID" class="form-control" style="width:100%;">
                                <option value="">Select Blood Group</option>
                                @if (Model.bloodGroups != null)
                                {
                                    foreach (var item in Model.bloodGroups)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }

                            </select>
                            @*<span asp-validation-for="BloodGroupID" class="text-danger"></span>*@
                        </div>
                        <div class="col-md-4">
                            <label asp-for="NatiobalityID" class="control-label font-weight-normal"></label>
                            <select asp-for="NatiobalityID" class="form-control" style="width:100%;">
                                <option value="">Select Nationality</option>
                                @if (Model.nationalityTypes != null)
                                {
                                    foreach (var item in Model.nationalityTypes)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            @*<span asp-validation-for="NatiobalityID" class="text-danger"></span>*@
                        </div>
                        <div class="col-md-4">
                            <label asp-for="AlternativeMobile" class="control-label font-weight-normal"></label>
                            <input asp-for="AlternativeMobile" class="form-control" />
                            <span asp-validation-for="AlternativeMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Gender" class="control-label font-weight-normal"></label>
                            <select asp-for="Gender" class="form-control" style="width:100%;">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ReligionID" class="control-label font-weight-normal"></label>
                            <select asp-for="ReligionID" class="form-control" style="width:100%;">
                                <option value="">Select Religion</option>
                                @if (Model.religionTypes != null)
                                {
                                    foreach (var item in Model.religionTypes)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            @*<span asp-validation-for="ReligionID" class="text-danger"></span>*@
                        </div>
                        <div class="col-md-4">
                            <label asp-for="LandlineNumber" class="control-label font-weight-normal"></label>
                            <input asp-for="LandlineNumber" class="form-control" />
                            <span asp-validation-for="LandlineNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                    <div class="form-group">
                        <div><h5>Required Documents</h5></div>
                        <div class="row">
                            @if (Model.documentTypesCls != null)
                            {
                                for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                {
                                    <div class="col-md-4">

                                        <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                        <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                        <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                        <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group text-center">
                        @*<a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                        <button type="submit" id="btn_submit" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                    </div>


                </div>
            </form>
        </div>
    </div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>

    

    $(document).ready(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;


        $('#DateOfBirth').change(function () {
            // $('#divloader').show();
            if ($('#DateOfBirth').val() != '') {


                var dtToday = new Date();

                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                if (month < 10)
                    month = '0' + month.toString();
                if (day < 10)
                    day = '0' + day.toString();

                var maxDate = year + '-' + month + '-' + day;

                if ($('#DateOfBirth').val() >= maxDate) {
                    alert('Date should be less than todays date');
                    $('#DateOfBirth').val('');
                    return false;
                }

            }
            // $('#divloader').hide();
        })

        $('#PrimaryMobile').change(function () {
              $.get('/Employee/GetPrimaryMobile', { mob: $('#PrimaryMobile').val(),id:@Model.ID }, function (data) {
                if (data == true) {
                    alert('Mobile No. Already Exist');
                    $('#PrimaryMobile').val('');
                }
                else {
                }
            })
        })
        $('#EmpCode').change(function () {
             if ($('#EmpCode').val() != '') {
            $.get('/Employee/GetEmpCode', { code: $('#EmpCode').val(),id:@Model.ID }, function (data) {
                if (data == true) {
                    alert('Employee Code Already Exist');
                    $('#EmpCode').val('');
                }
                else {

                }
            })
        }
        })
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#file").change(function () {
            readURL1(this);
        });

    })
</script>

