﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeJoining";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.employeejoiningdatescls
<h3>Joining Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateEmployeeJoining">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="EmployeeId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                      
                            <div class="form-group">
                                <label asp-for="JoiningOn" class="control-label"></label>
                                <input asp-for="JoiningOn" class="form-control" type="date" />
                                <span asp-validation-for="JoiningOn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LeftOn" class="control-label"></label>
                                <input asp-for="LeftOn" class="form-control" type="date" />
                                <span asp-validation-for="LeftOn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    <input asp-for="IsPrimary" type="checkbox" />&nbsp; Is Current
                                </label>
                            </div>
                       
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeJoiningDetails" asp-controller="Employee" asp-route-id="@Model.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

