﻿
@{
    ViewData["Title"] = "EmployeeAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Experience Details</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form asp-action="">
                            <input type="hidden" value="@ViewBag.EmployeeID" name="ID" />
                            <div class="row">
                                <input type="radio" name="action" value="1" /><label>Department Wise</label>
                            </div>
                            <div class="row">
                                <input type="radio" name="action" value="2" /><label>Individual</label>
                            </div>
                            <div class="form-group text-center">
                                <a asp-action="ViewEmployeeDetails" asp-route-id="@ViewBag.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Submit</button>
                            </div>
                        </form>
                        
                    </div>
                    <div class="col-md-3"></div>
                </div>

            </div>

        </div>
    </div>
</div>

