﻿
@{
    ViewData["Title"] = "EmployeeEducationDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<OdmErp.Web.Models.EmployeeTypewithAddresscls>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Educational Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-md-4 form-group">
                        <div class="card shadow">

                            <div class="card-body">
                                <div class="form-group row" style="border-bottom: 1px solid;display:flow-root;">
                                    <label style="font-size: 17px; float:left;">@a.typeName</label>
                                    @if (a.employeeEducation != null)
                                    {
                                        <a style="float:right;" asp-action="DeleteEmployeeEducation" asp-route-id="@a.employeeEducation.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee Education?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                        <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeEducation" asp-route-id="@a.employeeEducation.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>
                                    }
                                    else
                                    {
                                        <a style="float:right;" asp-action="CreateOrEditEmployeeEducation" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-red-50"></i></a>
                                    }
                                </div>
                                @if (a.employeeEducation != null)
                                {
                                    <div class="form-group">
                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                            <li>
                                                <div>
                                                    <span><b>Qualification :</b> @a.employeeEducation.EducationQualificationName</span>
                                                </div>
                                                <div>
                                                    <span><b>College :</b> @a.employeeEducation.College</span>
                                                </div>
                                                <div>
                                                    <span><b>University :</b> @a.employeeEducation.University</span>
                                                </div>
                                                <div>
                                                    <span><b>From Year :</b> @(a.employeeEducation.FromYear) <b>To</b> @(a.employeeEducation.ToYear) </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            @if (a.employeeEducation != null)
                            {
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Created On : <b>@a.employeeEducation.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Modified On : <b>@a.employeeEducation.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <!-- Page Heading -->
        <!-- DataTales Example -->
        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Address Type</th>
                                    <th>Address Line 1</th>
                                    <th>Address Line 2</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.AddressTypeName
                                            </td>
                                            <td>
                                                @item.AddressLine1
                                            </td>
                                            <td>
                                                @item.AddressLine2
                                            </td>
                                            <td>
                                                @item.CountryName
                                            </td>
                                            <td>
                                                @item.StateName
                                            </td>
                                            <td>
                                                @item.CityName
                                            </td>
                                            <td>
                                                @item.PostalCode
                                            </td>
                                            <td>
                                                @item.ModifiedDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                <a asp-action="CreateOrEditEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                <a asp-action="DeleteEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee address?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>*@

    </div>
    <!-- /.container-fluid -->
</div>








































