﻿
@{
    ViewData["Title"] = "EmployeeDesignationDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.EmployeeDesignationCls>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Designation Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
        <a asp-action="CreateOrEditEmployeeDesignation" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Designation</th>
                                @*<th>Designation Level</th>*@
                                <th>Department</th>
                                <th>Organization</th>
                                <th>Group</th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @item.DesignationName
                                </td>
                                @*<td>
                                    @item.DesignationLevelName
                                </td>*@
                                <td>
                                    @item.DepartmentName
                                </td>
                                <td>
                                    @item.OrganizationName
                                </td>
                                <td>
                                    @item.GroupName
                                </td>                               
                                <td>
                                    @item.ModifiedDate.ToString("dd MMM yyyy")
                                </td>
                                <td>
                                    <a asp-action="CreateOrEditEmployeeDesignation" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                    <a asp-action="DeleteEmployeeDesignation" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee designation?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

