﻿@model IEnumerable<OdmErp.Web.Models.EmployeeRequiredDocumentCls>

@{
    ViewData["Title"] = "EmployeeDocumentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Document Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    Document Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Total Document
                                </th>
                                
                                <th>
                                    Verified
                                </th>
                                <th>
                                    Approved
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.relatedDetails)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentSubTypeName)
                                </td>
                               
                                <td>
                                    <span>@(item.totaldocument) Files</span><br />
                                    <a asp-action="CreateOrEditEmployeeDocumentDetails" asp-route-id="@item.ID">Upload File</a>
                                </td>
                                <td>
                                    @if (ViewBag.verifiedaccess == true  && item.IsReject == false)
                                    {
                                        if (item.IsVerified == true)
                                        {
                                            <a asp-action="verifyDocument" asp-route-id="@item.ID" asp-route-verify="false">Un-Verify</a>
                                        }
                                        else
                                        {
                                            <a asp-action="verifyDocument" asp-route-id="@item.ID" asp-route-verify="true">Verify</a>
                                        }
                                    }
                                    else
                                    {

                                        @if (item.IsVerified == true)
                                        {
                                            <label>Verified</label>
                                        }
                                        else
                                        { <label>Not Verified</label>
                                        }

                                    }
                                </td>
                                <td>
                                    @if (ViewBag.approveaccess == true && item.IsReject == false)
                                    {
                                        if (item.IsApproved == true)
                                        {
                                            <a asp-action="approveDocument" asp-route-id="@item.ID" asp-route-verify="false">Un-Approve</a>
                                        }
                                        else
                                        {
                                            <a asp-action="approveDocument" asp-route-id="@item.ID" asp-route-verify="true">Approve</a>
                                        }
                                    }
                                    else
                                    {

                                        @if (item.IsApproved == true)
                                        {
                                            <label>Approved</label>
                                        }
                                        else
                                        { <label>Not Approved</label>
                                        }

                                    }
                                </td>
                                <td>
                                    @if (ViewBag.rejectaccess == true)
                                    {
                                        if (item.IsReject == true)
                                        {
                                            <a asp-action="rejectDocument" asp-route-id="@item.ID" asp-route-verify="false">Un-Reject</a>
                                        }
                                        else
                                        {
                                            <a asp-action="rejectDocument" asp-route-id="@item.ID" asp-route-verify="true">Reject</a>
                                        }
                                    }
                                    else
                                    {

                                        @if (item.IsReject == true)
                                        {
                                            <label>Rejected</label>
                                        }
                                        else
                                        { <label>Not Rejected</label>
                                        }

                                    }
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<script>
    function verifydocument(id) {
        var verify =
    }
</script>