﻿
@{
    ViewData["Title"] = "EmployeeAddressDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.EmployeeTypewithAddresscls>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Employee">Employee</a></li>
        <li class="breadcrumb-item"><a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId">@ViewBag.EmployeeName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Address</li>
    </ol>
</nav>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Address Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-md-4 form-group">
                        <div class="card shadow">

                            <div class="card-body">
                                <div class="form-group row" style="border-bottom: 1px solid;display:flow-root;">
                                    <label style="font-size: 17px; float:left;">@a.typeName</label>
                                    @if (a.employeeAdress != null)
                                    {
                                        <a style="float:right;" asp-action="DeleteEmployeeAddress" asp-route-id="@a.employeeAdress.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee address?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                        <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeAddress" asp-route-id="@a.employeeAdress.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>
                                    }
                                    else
                                    {
                                        <a style="float:right;" asp-action="CreateOrEditEmployeeAddress" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-red-50"></i></a>
                                    }
                                </div>
                                @if (a.employeeAdress != null)
                                {
                                    <div class="form-group">
                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li><i class="fas fa-map-marker fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                            <li>
                                                <div>
                                                    <span><b>Address Line-1 :</b> @a.employeeAdress.AddressLine1</span>
                                                </div>
                                                @if (a.employeeAdress.AddressLine2 != "")
                                                {
                                                    <div>
                                                        <span><b>Address Line-2 :</b> @a.employeeAdress.AddressLine2</span>
                                                    </div>
                                                }
                                                @if (a.employeeAdress.CityName != "")
                                                {
                                                    <div>
                                                        <span><b>City :</b> @a.employeeAdress.CityName</span>
                                                    </div>
                                                }
                                                @if (a.employeeAdress.StateName != "")
                                                {
                                                    <div>
                                                        <span><b>State :</b> @a.employeeAdress.StateName</span>
                                                    </div>
                                                }
                                                @if (a.employeeAdress.CountryName != "")
                                                {
                                                    <div>
                                                        <span><b>Country :</b> @a.employeeAdress.CountryName</span>
                                                    </div>
                                                }
                                                @if (a.employeeAdress.PostalCode != "")
                                                {
                                                    <div>
                                                        <span><b>Postal Code :</b> @a.employeeAdress.PostalCode</span>
                                                    </div>
                                                }

                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            @if (a.employeeAdress != null)
                            {
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Created On : <b>@a.employeeAdress.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Modified On : <b>@a.employeeAdress.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <!-- Page Heading -->
        <!-- DataTales Example -->
        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Address Type</th>
                                    <th>Address Line 1</th>
                                    <th>Address Line 2</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Postal Code</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.AddressTypeName
                                            </td>
                                            <td>
                                                @item.AddressLine1
                                            </td>
                                            <td>
                                                @item.AddressLine2
                                            </td>
                                            <td>
                                                @item.CountryName
                                            </td>
                                            <td>
                                                @item.StateName
                                            </td>
                                            <td>
                                                @item.CityName
                                            </td>
                                            <td>
                                                @item.PostalCode
                                            </td>
                                            <td>
                                                @item.ModifiedDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                <a asp-action="CreateOrEditEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                <a asp-action="DeleteEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee address?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>*@

    </div>
    <!-- /.container-fluid -->
</div>

