﻿
@{
    ViewData["Title"] = "EmployeeBankDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.EmployeeTypewithAddresscls>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bank Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-md-4 form-group">
                        <div class="card shadow">

                            <div class="card-body">
                                <div class="form-group row" style="border-bottom: 1px solid;display:flow-root;">
                                    <label style="font-size: 17px; float:left;">@a.typeName</label>
                                    @if (a.bankCls != null)
                                    {
                                        <a style="float:right;" asp-action="DeleteEmployeeBank" asp-route-id="@a.bankCls.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee bank?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                        <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeBank" asp-route-id="@a.bankCls.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>
                                    }
                                    else
                                    {
                                        <a style="float:right;" asp-action="CreateOrEditEmployeeBank" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-red-50"></i></a>
                                    }
                                </div>
                                @if (a.bankCls != null)
                                {
                                    <div class="form-group">
                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li><i class="fas fa-map-marker fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                            <li>
                                                <div>
                                                    @if (a.bankCls.AccountHolderName != "")
                                                    {
                                                        <span style="font-weight: 600;">@a.bankCls.AccountHolderName </span>
                                                    }
                                                    @if (a.bankCls.AccountNumber != "")
                                                    {
                                                        <br /> <span style="font-weight: 600;">Account Number :</span><span> @a.bankCls.AccountNumber</span>
                                                    }
                                                    @if (a.bankCls.BankName != null)
                                                    {
                                                        <br /> <span style="font-weight: 600;">Bank Name : </span> <span> @a.bankCls.BankName</span>
                                                    }
                                                    @if (a.bankCls.BankBranchName != "")
                                                    {
                                                        <br /> <span style="font-weight: 600;">Branch Name : </span> <span> @a.bankCls.BankBranchName </span>
                                                    }
                                                    @if (a.bankCls.BankBranchName != "")
                                                    {
                                                        <br /> <span style="font-weight: 600;">IFSC Code : </span> <span> @a.bankCls.IfscCode </span>
                                                    }


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            @if (a.bankCls != null)
                            {
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Created On : <b>@a.bankCls.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Modified On : <b>@a.bankCls.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <!-- Page Heading -->
        <!-- DataTales Example -->
       

    </div>
    <!-- /.container-fluid -->
</div>


















