﻿
@{
    ViewData["Title"] = "EmployeeExperienceDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.EmployeeAggregate.EmployeeExperience>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Employee">Employee</a></li>
        @*<li class="breadcrumb-item"><a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId">@ViewBag.EmployeeName</a></li>*@
        <li class="breadcrumb-item active" aria-current="page">Address</li>
    </ol>
</nav>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Experience Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
        <a asp-action="CreateOrEditEmployeeExperience" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-md-4 form-group">
                        <div class="card shadow">

                            <div class="card-body">
                                <div class="form-group" style="border-bottom: 1px solid;display:flow-root;">
                                    <label style="font-size: 17px;float:left;">Experience Details</label>
                                    <a style="float:right;" asp-action="EmployeeExperienceDeleteConfirmed" asp-route-id="@a.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee experience?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                    <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeExperience" asp-route-id="@a.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>
                                </div>

                                <div class="form-group">

                                    <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                        <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                        <li>
                                            <div>
                                                @if (a.OrganizationName != "")
                                                {
                                                    <span style="font-weight: 600;">@a.OrganizationName </span>
                                                }
                                                @if (a.Designation != "")
                                                {
                                                    <br /> <span style="font-weight: 600;">Designation :</span><span> @a.Designation</span>
                                                }
                                                @if (a.FromDate != null)
                                                {
                                                    <br /> <span style="font-weight: 600;">From : </span> <span> @a.FromDate.ToString("MMM yyyy")</span>
                                                }
                                                @if (a.ToDate != null)
                                                {
                                                    <span style="font-weight: 600;">, To : </span> <span> @a.ToDate.ToString("MMM yyyy")</span>
                                                }

                                            </div>
                                        </li>
                                    </ul>




                                </div>


                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>Created On : <b>@a.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                    </div>
                                    <div class="col-md-6">
                                        <span>Modified On : <b>@a.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <!-- Page Heading -->
        <!-- DataTales Example -->
        @*<div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Organization</th>
                                    <th>Designation</th>
                                    <th>Salary Per Anum</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
<<<<<<< HEAD
                                    <tr>
                                        <td>
                                            @item.OrganizationName
                                        </td>
                                        <td>
                                            @item.Designation
                                        </td>
                                        <td>
                                            @item.SalaryPerAnum
                                        </td>
                                        <td>
                                            @item.FromDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            @item.ToDate.ToString("dd MMM yyyy")
                                        </td>

                                        <td>
                                            @item.ModifiedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="CreateOrEditEmployeeExperience" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                            <a asp-action="EmployeeExperienceDeleteConfirmed" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee experience?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
=======
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.OrganizationName
                                            </td>
                                            <td>
                                                @item.Designation
                                            </td>
                                            <td>
                                                @item.SalaryPerAnum
                                            </td>
                                            <td>
                                                @item.FromDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                @item.ToDate.ToString("dd MMM yyyy")
                                            </td>

                                            <td>
                                                @item.ModifiedDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                <a asp-action="CreateOrEditEmployeeExperience" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                <a asp-action="EmployeeExperienceDeleteConfirmed" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee experience?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                            </td>
                                        </tr>
                                    }
>>>>>>> e6c041efcffb2bcfc454636b939d0da2a548097a
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>*@

    </div>
    <!-- /.container-fluid -->
</div>

