﻿
@{
    ViewData["Title"] = "EmployeeAccessDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.EmployeeAccesscls
<h3>Access</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateEmployeeAccessDetails">

                        <input type="hidden" asp-for="AccessID" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="RoleID" class="control-label"></label>
                            <select asp-for="RoleID" class="form-control">
                                <option value="0">Select Role</option>
                                @if (Model.roles != null)
                                {
                                    foreach (var item in Model.roles)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="RoleID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span class="text-danger" id="checkuser"></span>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="EmployeeID" />
                        <div class="form-group text-center">
                            <a asp-action="ViewEmployeeDetails" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#checkuser').hide();
        $('#Username').change(function () {
            if ($('#Username').val() != '') {
                $.get("/Employee/CheckUserName", { userName: $('#Username').val() }, function (data) {
                    if (data == true) {
                        $('#checkuser').html('Already Exist... Please Try another Username');
                        $('#checkuser').show();
                    }
                    else {
                        $('#checkuser').html('');
                        $('#checkuser').hide();
                    }
                })
            }
            else {
                $('#checkuser').html('');
                $('#checkuser').hide();
            }
        })
    })
</script>
