﻿
@{
    ViewData["Title"] = "EmployeeJoiningDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.EmployeeAggregate.EmployeeTimeline>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Joining Details</h1>
    <div>
        <a asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
        <a asp-action="CreateOrEditEmployeeJoining" asp-controller="Employee" asp-route-eid="@ViewBag.EmployeeId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Join On</th>
                                @*<th>Designation Level</th>*@
                                <th>Leave On</th>
                                <th>Primary</th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(item.JoiningOn != null ? item.JoiningOn.Value.ToString("dd-MMM-yyyy") : "")
                                        </td>
                                        @*<td>
                                                @item.DesignationLevelName
                                            </td>*@
                                        <td>
                                            @(item.LeftOn != null ? item.LeftOn.Value.ToString("dd-MMM-yyyy") : "")
                                        </td>
                                        <td>
                                            @(item.IsPrimary == true ? "Yes" : "No")
                                        </td>
                                        <td>
                                            @item.ModifiedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="CreateOrEditEmployeeJoining" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                            <a asp-action="DeleteEmployeeJoining" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee joining?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


