﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.Employeecls>


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Employee</li>
        </ol>
    </nav>

    </div>

  
<div class="row">


    <div class="col-12">

        <div class="row">

            <form method="post" action="Index" class="col-12 ">

                <div class="card row" id="accordion">
                    <div class="card-header bg-white col-12">

                        <div class="row ">
                            <div class="col-3">
                                <span class="font-weight-bold"
                                      style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                    <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                                </span>

                            </div>
                            <div class="col-9" style="text-align-last:right">


                                <button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-search"></i>&nbsp; Search
                                </button>

                                <a asp-action="Index" style="margin-right:2rem;"
                                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                    <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                                </a>

                                <a data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne"
                                   class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                    <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                                </a>

                            </div>

                        </div>

                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body bg-white">


                            <div class="row col-12">


                                <div class="col-md-3 form-group">
                                    <select id="choosedepartmenttypes" name="choosedepartmenttypes" class="form-control">
                                        <option value="0" selected="@((ViewBag.ctypeid == null && ViewBag.ctypeid == 0) ? true : false)">All Types</option>
                                        <option value="1" selected="@((ViewBag.ctypeid == 1) ? true : false)">Groupwise</option>
                                        <option value="2" selected="@((ViewBag.ctypeid == 2) ? true : false)">Organisationwise</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="divgroup">
                                    <select id="organisation" name="organisation" class="form-control" style="width:100%;">
                                        <option value="0" selected="@((ViewBag.orgid == null && ViewBag.orgid == 0) ? true : false)">All Organisation</option>
                                        @if (ViewBag.organisations != null)
                                        {
                                            foreach (var a in ViewBag.organisations)
                                            {
                                                <option value="@a.ID" selected="@((ViewBag.orgid == a.ID) ? true : false)">@a.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <select id="departments" name="departments" class="form-control">
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <select name="types" id="types" class="form-control">
                                        <option value="0" selected="@((ViewBag.typeid == null && ViewBag.typeid == 0) ? true : false)">ALL</option>
                                        <option value="1" selected="@((ViewBag.typeid == 1) ? true : false)">Current</option>
                                        <option value="2" selected="@((ViewBag.typeid == 2) ? true : false)">Left</option>
                                    </select>
                                </div>


                            </div>


                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>

    @*<form asp-action="Index">
            <div class="row">

                <div class="col-md-2 form-group">
                    <input type="submit" value="Search" class="btn btn-secondary" />
                </div>

            </div>
        </form>*@
<div class="col-12">
    <div class="row">
      



            <div class="card bg-white col-12">
                <div class="d-sm-flex align-items-center justify-content-between mb-0 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Employees</h1>
                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           asp-action="DownloadEmployee" asp-controller="Employee"><i class="fas fa-arrow-circle-down"></i> &nbsp; Download Employee Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           asp-action="DownloadEmployeeBankDetails" asp-controller="Employee"><i class="fas fa-arrow-circle-down"></i> &nbsp; Download Bank Excel</a>*@
                        <a href="/Employee/CreateOrEditEmployee"
                           class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                            <i class="fas fa-plus-circle"></i>&nbsp; Create
                        </a>

                        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadEmployeeBankDetails" asp-controller="Employee"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Bank Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadEmployee" asp-controller="Employee"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Employee Excel</a>
                        <a asp-action="CreateOrEditEmployee" asp-controller="Employee" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>*@

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">Photo</th>
                                    <th class="font-weight-bold">Employee Code</th>
                                    <th class="font-weight-bold">Name</th>
                                    @*<th>DOB</th>*@
                                    <th class="font-weight-bold">Email</th>
                                    <th class="font-weight-bold">Mobile</th>
                                    @*<th>Blood Group</th>*@
                                    <th class="font-weight-bold">Is Left</th>
                                    <th class="font-weight-bold">Modified On</th>
                                    <th class="font-weight-bold">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img  id="myImg(@item.ID)" style="vertical-align: middle; width: 50px; 
  height: 50px;
  border-radius: 50%;
    
    cursor: pointer;
    transition: 0.3s;
    
    

  " src="@(item.profile != null ? "/ODMImages/EmployeeProfile/" + item.profile : "/images/user_profile.png")"
                                                     
                                                     onclick="image(this)"
                                                     
                                                     alt="@(item.FirstName)" width="50" height="50">
                                            </td>
                                            <td class="font-weight-bold">
                                                @item.EmpCode
                                            </td>
                                            <td class="font-weight-bold">
                                                @(item.FirstName + " " + (item.MiddleName == "" ? "" : (item.MiddleName + " ")) + item.LastName)
                                            </td>
                                            @*<td>
                                                    @(item.DateOfBirth != null ? item.DateOfBirth.Value.ToString("dd MMM yyyy") : "")
                                                </td>*@
                                            <td  class="font-weight-normal">
                                                @item.EmailId
                                            </td>
                                            <td  class="font-weight-normal">
                                                @item.PrimaryMobile
                                            </td>
                                            @*<td>
                                                    @item.BloodGroupName
                                                </td>*@
                                            <td  class="font-weight-normal">
                                                @if (item.IsLeft == true)
                                                {
                                                    <span>Left on @item.LeftDate.Value.ToString("dd-MMM-yyyy")</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }

                                            </td>
                                            <td  class="font-weight-normal">
                                                @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                            </td>

                                            <td  class="font-weight-normal">
                                                <a asp-action="ViewEmployeeDetails" asp-route-id="@item.ID" title="View" class="text-success">
                                                    <i class="far fa-eye "></i>
                                                </a> 
                                                @if (item.JoinDate != null)
                                                {
                                                
                                                @if(item.IsLeft == false)
                                                           {
                                            <a asp-action="LeftEmployee" asp-route-id="@item.ID" title="Left" onclick="return confirm('Are you sure this employee is left?');"> |
                                                <i class="fas fa-walking fa-lg"></i>
                                            </a>
                                                                }
                                                else
                                             {
                                            <a asp-action= "HasLeftEmployee" asp-route-id = "@item.ID" title = " Has Left" onclick = "return confirm('Are you sure this employee is not left?');" >


                                                             <i class="fas fa-walking fa-lg"></i>

                                               
                                            </a>
                                                }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

     
        <!-- /.container-fluid -->
    </div>
</div>
</div>
<div id="myModalImg" class="modal">

     The Close Button 
    <span class="close">&times;</span>

     Modal Content (The Image) 
    <img class="modal-content" id="img01">

     Modal Caption (Image Text) 
    <div id="caption"></div>
</div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="UploadEmployee" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                Download Employee Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/Employee/DownloadEmployee">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>

                    <form asp-action="UploadEmployeeBankDetails" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                Download Bank Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/Employee/DownloadEmployeeBankDetails">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
   
    <style>
       closeid.close {
            padding: 0.80rem 1.5rem !important;
            outline: none !important;
        }

    myModal.modal-header {
            height: 45px;
            padding: 10px 5px;
        }
        
/*#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }*/


myModalImg.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}


myModalImg.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

myModalImg.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}




myModalImg.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

  myModalImg  .close:hover,
   myModalImg .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    
  


    </style>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>

        function image(img) {
              var modal = document.getElementById("myModalImg");
//var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
            //alert(img.src);
    modal.style.display = "block";
  modalImg.src = img.src;
            captionText.innerHTML = img.alt;



            var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";

            }

//        }

        $(document).ready(function () {

          
//img.onclick = function(){
//  modal.style.display = "block";
//  modalImg.src = this.src;
//  captionText.innerHTML = this.alt;
//}

//// Get the <span> element that closes the modal

            


         $('#divgroup').hide();
        if ('@ViewBag.ctypeid'== 1) {
            $('#divgroup').hide();
          //  $('#organisation').val('');
            $.get('/Employee/GetDepartmentsByGroupWise', {}, function (data) {
                $('#departments').empty();
                $('#departments').append('<option value="">All Department</option>');
                $.each(data, function (index, value) {
                    $('#departments').append('<option value="' + value.id + '">' + value.name + '</option>');
                })
                $('#departments').val(@ViewBag.deptid);
            })
        }
        else if ('@ViewBag.ctypeid'== 2) {
              $('#divgroup').show();
             //   $('#organisation').val('');
                $.get('/Employee/GetDepartmentsByOrganisationWise', { id:0 }, function (data) {
                    $('#departments').empty();
                    $('#departments').append('<option value="">All Department</option>');
                    $.each(data, function (index, value) {
                        $('#departments').append('<option value="' + value.id + '">' + value.name + '</option>');
                    })
                     $('#departments').val(@ViewBag.deptid);
                })
        }
        $('#choosedepartmenttypes').change(function () {
            if ($('#choosedepartmenttypes').val() == 1) {
                $('#divgroup').hide();
                $('#organisation').val('');
                $.get('/Employee/GetDepartmentsByGroupWise', {}, function (data) {
                    $('#departments').empty();
                    $('#departments').append('<option value="">All Department</option>');
                    $.each(data, function (index, value) {
                        $('#departments').append('<option value="' + value.id + '">' + value.name + '</option>');
                    })
                })
            }
            else if ($('#choosedepartmenttypes').val() == 2){
                $('#divgroup').show();
                $('#organisation').val('');
                $.get('/Employee/GetDepartmentsByOrganisationWise', { id:0 }, function (data) {
                    $('#departments').empty();
                    $('#departments').append('<option value="">All Department</option>');
                    $.each(data, function (index, value) {
                        $('#departments').append('<option value="' + value.id + '">' + value.name + '</option>');
                    })
                })
            }

        })
        $('#organisation').change(function () {
            $.get('/Employee/GetDepartmentsByOrganisationWise', { id:$('#organisation').val() }, function (data) {
                $('#departments').empty();
                $('#departments').append('<option value="">All Department</option>');
                $.each(data, function (index, value) {
                    $('#departments').append('<option value="' + value.iD + '">' + value.name + '</option>');
                })
            })
        })
    })
    </script>
