﻿
@{
    ViewData["Title"] = "ViewEmployeeDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.Employeecls
@using Microsoft.AspNetCore.Http;

@if (Context.Session.GetInt32("roleId").Value == 1)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Employee">Employee</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.EmployeeName</li>
        </ol>
    </nav>
}

<div class="card shadow card-body">
    <div class="row">
        <div class="col-md-3 text-center bg-white">
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="form-group">
                <img id="profileimage" src="@(ViewBag.Profileimage!=null?ViewBag.Profileimage:"http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height: 120px;width: 120px;" />
            </div>
            <div class="clearfix"></div>
            <div>
                <label class="text-primary" style="font-size:1rem;"><b>Employee ID :</b> @Model.EmpCode</label>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <a href="/Employee/CreateOrEditEmployee/@Model.ID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="font-size:1rem;"><b>Edit</b> Profile</a>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width:@(ViewBag.count)%">@(ViewBag.count)%</div>
                </div>
            </div>
            <hr />

            <div class="clearfix"></div>
            <div class="form-group text-center" style="color:black;">
                <h5><b>Personal</b> Details</h5>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/UserProfile.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.FirstName + " " + (Model.MiddleName == "" ? "" : (Model.MiddleName + " ")) + Model.LastName)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>

            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/mail id.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.EmailId == null ? "NA" : Model.EmailId)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/call.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.PrimaryMobile)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/E Call.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.LandlineNumber == null ? "NA" : Model.LandlineNumber)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/gender.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.Gender == null ? "NA" : Model.Gender)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/blood Group .svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.BloodGroupName == "" ? "NA" : Model.BloodGroupName)</span></div>
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div>
                <div class="row">
                    <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                        <img src="~/websiteimages/Birthday.svg" style=" width: 2rem; height: 100%;" />
                    </div>
                    <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.DateOfBirth != null ? Model.DateOfBirth.Value.ToString("dd MMM yyyy") : "NA")</span></div>
                </div>
            </div>

            @*<div class="form-group text-left">
                    <div class="clearfix mb-1"></div>
                    <div>
                        <div class="row">
                            <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 ml-auto d-flex align-items-center justify-content-center p-1 bg-gray-500">
                                <img src="~/websiteimages/TAG.svg" style=" width: 2.25vw; height: 100%;" />
                            </div>
                            <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 ml-auto d-flex align-items-center justify-content-start p-1 bg-gray-200" style="font-size:0.81rem;"><span>@(Model.ReligionName)</span></div>
                        </div>
                    </div>



                    <div>
                        <i class="fas fa-flag fa-sm text-red-50"></i>&nbsp;&nbsp; <label>@(Model.NatiobalityName)</label>
                    </div>
                </div>*@
        </div>
        <div class="col-md-9 p-4" style="font-size:0.8rem;">
            <div class="row bg-primary shadow-sm">
                <div class="col-lg-10 col-xl-10 col-sm-10 col-xs-10 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                    <img src="~/websiteimages/Address.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Address</b>&nbsp;Details
                </div>
                <div class="col-lg-2 col-xl-2 col-sm-2 col-xs-2 d-flex align-items-center justify-content-end p-2" style="font-size: 1.2rem; color: white;">
                    <a asp-action="EmployeeAddressDetails" asp-controller="Employee" asp-route-id="@Model.ID"><i class="fa fa-plus"></i></a>
                </div>

                @*<div class="col-lg-11 col-xl-11 col-sm-10 col-xs-12 d-flex align-items-center justify-content-start p-1">

                    </div>*@
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                @if (Model.employeeadresslist != null)
                {
                    if (Model.employeeadresslist.ToList().Count > 0)
                    {
                        foreach (var a in Model.employeeadresslist)
                        {

                            <div class="col-md-6 mb-2">
                                <div class="card shadow">
                                    @*<div class="text-right">*@
                                    @if (a.employeeAdress == null)
                                    {
                                        <a asp-action="CreateOrEditEmployeeAddress" asp-controller="Employee" asp-route-eid="@Model.ID" asp-route-typeid="@a.typeId" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="CreateOrEditEmployeeAddress" asp-controller="Employee" asp-route-id="@a.employeeAdress.ID" asp-route-eid="@Model.ID" asp-route-typeid="@a.typeId" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                    }

                                    @*</div>*@
                                    <div class="card-body">
                                        <b>@a.typeName :</b>
                                        @if (a.employeeAdress != null)
                                        {
                                            <span>@a.employeeAdress.AddressLine1</span>
                                            @if (a.employeeAdress.AddressLine2 != "")
                                            {
                                                <span>, @a.employeeAdress.AddressLine2</span>
                                            }
                                            @if (a.employeeAdress.CityName != "")
                                            {
                                                <span>, @a.employeeAdress.CityName</span>
                                            }
                                            @if (a.employeeAdress.StateName != "")
                                            {
                                                <span>, @a.employeeAdress.StateName</span>
                                            }
                                            @if (a.employeeAdress.CountryName != "")
                                            {
                                                <span>, @a.employeeAdress.CountryName</span>
                                            }
                                            @if (a.employeeAdress.PostalCode != "")
                                            {
                                                <span>, @a.employeeAdress.PostalCode</span>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>


                        }
                    }
                    else
                    {

                        <div class="card shadow card-body text-center" style="padding-bottom:20px;padding-top:20px;">
                            <h5>No Address Details Uploaded</h5>
                        </div>
                    }
                }
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row bg-primary shadow-sm">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                    <img src="~/websiteimages/experiance.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Experience</b>&nbsp;Details
                </div>


                @*<div class="col-lg-11 col-xl-11 col-sm-10 col-xs-12 d-flex align-items-center justify-content-start p-1">

                    </div>*@
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                @if (Model.employeeExperiencelist != null)
                {
                    if (Model.employeeExperiencelist.ToList().Count > 0)
                    {
                        int j = 0;
                        foreach (var a in Model.employeeExperiencelist)
                        {
                            <div class="col-md-6 mb-2">
                                <div class="card shadow">
                                    <a asp-action="CreateOrEditEmployeeExperience" asp-controller="Employee" asp-route-id="@a.ID" asp-route-eid="@Model.ID" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                    <div class="row m-1">
                                        <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 d-flex align-items-center justify-content-center p-2 bg-primary" style="font-size: 1.2rem; color: white;">
                                            @(j = j + 1)
                                        </div>
                                        <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 p-2">
                                            @if (a.OrganizationName != "")
                                            {
                                                <div> <span style="font-weight: 600;">Organisation Name :</span> @a.OrganizationName</div>
                                            }
                                            @if (a.Designation != "")
                                            {
                                                <div> <span style="font-weight: 600;">Designation :</span> @a.Designation</div>
                                            }
                                            @if (a.FromDate != null)
                                            {
                                                <div> <span style="font-weight: 600;">From :</span> @a.FromDate.ToString("MMM yyyy")</div>
                                            }
                                            @if (a.ToDate != null)
                                            {
                                                <div> <span style="font-weight: 600;">To :</span> @a.ToDate.ToString("MMM yyyy")</div>
                                            }
                                        </div>
                                    </div>

                                </div>



                            </div>
                        }
                    }
                    else
                    {
                        <div class="card shadow card-body text-center" style="padding-bottom:20px;padding-top:20px;">
                            <h5>No Experience Details Uploaded</h5>
                        </div>

                    }
                }
            </div>
            <div class="clearfix"></div>
            <div class="text-right font-weight-bold">
                <a asp-action="EmployeeExperienceDetails" asp-controller="Employee" asp-route-id="@Model.ID"><i class="fa fa-plus"></i> Add Experience</a>
            </div>
            <div class="clearfix mb-3"></div>
            <div class="row bg-primary shadow-sm">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                    <img src="~/websiteimages/educational .svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Educational</b>&nbsp;Details
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                @if (Model.employeeEducationlist != null)
                {
                    if (Model.employeeEducationlist.ToList().Count > 0)
                    {
                        foreach (var a in Model.employeeEducationlist)
                        {
                            <div class="col-md-6 mb-2">
                                <div class="card shadow">
                                    <div class="m-1">
                                        <div class="bg-primary p-2" style="color: white; font-weight: 700;">
                                            <span class="pull-left">@a.typeName</span>
                                            @if (a.employeeEducation != null)
                                            {
                                                <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeEducation" asp-route-id="@a.employeeEducation.ID" asp-route-eid="@Model.ID" asp-route-typeid="@a.typeId"><i class="fas fa-pen fa-sm text-white"></i></a>
                                            }
                                            else
                                            {
                                                <a style="float:right;" asp-action="CreateOrEditEmployeeEducation" asp-route-eid="@Model.ID" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-white"></i></a>
                                            }
                                        </div>
                                        @if (a.employeeEducation != null)
                                        {
                                            <div class="p-2">
                                                <div><b>School/College :</b> @a.employeeEducation.College</div>
                                                <div><b>University :</b> @a.employeeEducation.University</div>
                                                <div><b>Time Period :</b> @(a.employeeEducation.FromYear + " - " + a.employeeEducation.ToYear)</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card shadow card-body text-center" style="padding-bottom:20px;padding-top:20px;">
                                                <h5>No Education Details Uploaded</h5>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="clearfix"></div>
            <div class="text-right font-weight-bold">
                <a asp-action="EmployeeEducationDetails" asp-controller="Employee" asp-route-id="@Model.ID"><i class="fa fa-plus"></i> Add Educational Degree</a>
            </div>
            <div class="clearfix mb-3"></div>
            <div class="row bg-primary shadow-sm">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                    <img src="~/websiteimages/bank.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Bank</b>&nbsp;Details
                </div>
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                @if (Model.employeeBanks != null)
                {
                    if (Model.employeeBanks.ToList().Count > 0)
                    {
                        foreach (var a in Model.employeeBanks)
                        {
                            <div class="col-md-6 mb-2">
                                <div class="card shadow">
                                    <div class="m-1">
                                        <div class="bg-primary p-2" style="color: white; font-weight: 700;">
                                            <span class="pull-left">@a.typeName</span>
                                            @if (a.bankCls != null)
                                            {
                                                <a style="float:right;" class="pr-1" asp-action="CreateOrEditEmployeeBank" asp-route-id="@a.bankCls.ID" asp-route-eid="@Model.ID"><i class="fas fa-pen fa-sm text-white"></i>Edit </a>
                                            }
                                            else
                                            {
                                                <a style="float:right;" asp-action="CreateOrEditEmployeeBank" asp-controller="Employee" asp-route-eid="@Model.ID" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-white"></i></a>
                                            }
                                        </div>
                                        @if (a.bankCls != null)
                                        {
                                            <div class="p-2">
                                                <div><b>Beneficiary Name :</b> @a.bankCls.AccountHolderName</div>
                                                <div><b>Bank Name :</b> @a.bankCls.BankName</div>
                                                <div><b>Account Number :</b> @a.bankCls.AccountNumber</div>
                                                <div><b>Branch Name :</b> @a.bankCls.BankBranchName</div>
                                                <div><b>IFSC Code :</b> @a.bankCls.IfscCode</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card shadow card-body text-center" style="padding-bottom:20px;padding-top:20px;">
                                                <h5>No Bank Details Uploaded</h5>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="clearfix mb-3"></div>
            <div class="row">
                <div class="col-md-6 pl-0 mb-2">
                    <div class="card shadow">
                        <div class="bg-primary shadow-sm">
                            <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                                <img src="~/websiteimages/Dacument.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Document</b>&nbsp;Details
                            </div>
                        </div>
                        <div class="clearfix mb-1"></div>
                        <div class="p-2">
                            @if (Model.requiredDocumentCls != null)
                            {
                                if (Model.requiredDocumentCls.ToList().Count > 0)
                                {
                                    foreach (var a in Model.requiredDocumentCls)
                                    {
                                        <div class="row">
                                            <div class="col-md-7">
                                                <b>@a.DocumentSubTypeName</b>
                                            </div>
                                            <div class="col-md-5">
                                                <a asp-action="CreateOrEditEmployeeDocumentDetails" asp-route-id="@a.ID"><i class="fa fa-plus"></i> Upload</a> |
                                                @if (a.IsVerified == true)
                                                {
                                                    <label>Verified</label>
                                                }
                                                else
                                                { <label>Not Verified</label>
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix mb-1"></div>

                                    }
                                }
                            }
                        </div>
                    </div>


                </div>
                <div class="col-md-6 pr-0 mb-2">
                    <div class="card shadow">
                        <div class="bg-primary shadow-sm">
                            <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                                <img src="~/websiteimages/Dacument.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Module</b>&nbsp;Access
                            </div>
                        </div>
                        <div class="clearfix mb-1"></div>
                        <div class="p-2">
                            @if (Model.employeeModuleSubModuleAccess != null)
                            {
                                if (Model.employeeModuleSubModuleAccess.ToList().Count > 0)
                                {
                                    foreach (var a in Model.employeeModuleSubModuleAccess)
                                    {
                                        <div class="row">
                                            <div class="col-md-7">
                                                <b>@a.ModuleName</b>
                                            </div>
                                            <div class="col-md-5">
                                                @a.SubModule
                                            </div>
                                        </div>
                                        <div class="clearfix mb-1"></div>

                                    }
                                }
                            }
                        </div>
                        <div class="clearfix mb-1"></div>
                        <div class="text-right font-weight-bold">
                            <a asp-action="ModuleSubModuleAccess" asp-controller="Employee" asp-route-id="@Model.employeeAccesscls.AccessID"><i class="fa fa-plus"></i> Add Module Access</a>
                        </div>
                        <div class="clearfix mb-1"></div>
                    </div>


                </div>
            </div>
            <div class="row bg-primary shadow-sm">
                <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                    <img src="~/websiteimages/Designation.svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Designation</b>&nbsp;Details
                </div>


                @*<div class="col-lg-11 col-xl-11 col-sm-10 col-xs-12 d-flex align-items-center justify-content-start p-1">

                    </div>*@
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                @if (Model.employeeDesignationlist != null)
                {
                    if (Model.employeeDesignationlist.ToList().Count > 0)
                    {
                        int j = 0;
                        foreach (var a in Model.employeeDesignationlist)
                        {
                            <div class="col-md-6 mb-2">
                                <div class="card shadow">
                                    <a asp-action="CreateOrEditEmployeeDesignation" asp-controller="Employee" asp-route-id="@a.ID" asp-route-eid="@Model.ID" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                    <div class="row m-1">
                                        <div class="col-lg-2 col-xl-2 col-sm-4 col-xs-12 d-flex align-items-center justify-content-center p-2 bg-primary" style="font-size: 1.2rem; color: white;">
                                            @(j = j + 1)
                                        </div>
                                        <div class="col-lg-10 col-xl-10 col-sm-8 col-xs-12 p-2">
                                            @if (a.OrganizationName != "")
                                            {
                                                <div> <span style="font-weight: 600;">Organisation Name :</span> @a.OrganizationName</div>
                                            }
                                            @if (a.DepartmentName != "")
                                            {
                                                <div> <span style="font-weight: 600;">Department :</span> @a.DepartmentName</div>
                                            }
                                            @if (a.DesignationName != "")
                                            {
                                                <div> <span style="font-weight: 600;">Designation :</span> @a.DesignationName</div>
                                            }

                                        </div>
                                    </div>

                                </div>



                            </div>
                        }
                    }
                    else
                    {

                        <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                            <h5>No Designation Details Uploaded</h5>
                        </div>
                    }
                }
            </div>
            <div class="clearfix mb-1"></div>
            <div class="text-right font-weight-bold">
                <a asp-action="EmployeeDesignationDetails" asp-controller="Employee" asp-route-id="@Model.ID"><i class="fa fa-plus"></i> Add Designation</a>
            </div>
            <div class="clearfix mb-1"></div>
            <div class="row">
                <div class="col-md-6 pl-0 mb-2">
                    <div class="card shadow">
                        <div class="bg-primary shadow-sm">
                            <div class="col-lg-12 col-xl-12 col-sm-12 col-xs-12 d-flex align-items-center justify-content-start p-2" style="font-size: 1.2rem; color: white;">
                                <img src="~/websiteimages/date of joining .svg" style=" width: 2.25vw; height: 100%;" />&nbsp;&nbsp;<b>Joining</b>&nbsp;Details
                            </div>
                        </div>
                        <div class="clearfix mb-1"></div>
                        <div class="p-2">
                            @if (Model.employeeTimelines != null)
                            {
                                if (Model.employeeTimelines.ToList().Count > 0)
                                {
                                    foreach (var a in Model.employeeTimelines)
                                    {
                                        <div class="form-group">
                                            <b>Current :</b>
                                        </div>
                                        <div class="clearfix mb-1"></div>
                                        <div class="row">
                                            <div class="col-md-5 form-group">
                                                <b>Date Of Joining</b>
                                            </div>
                                            <div class="col-md-7 form-group">
                                                @a.JoiningOn.Value.ToString("dd-MMM-yyyy")
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 form-group">
                                                <b>Date Of Leaving</b>
                                            </div>
                                            <div class="col-md-7 form-group">
                                                @(a.LeftOn == null ? "NA" : a.LeftOn.Value.ToString("dd-MMM-yyyy"))
                                            </div>
                                        </div>
                                        <div class="clearfix mb-1"></div>

                                    }
                                }
                            }
                            <div class="clearfix mb-1"></div>
                            <div class="text-right font-weight-bold">
                                <a asp-action="EmployeeJoiningDetails" asp-controller="Employee" asp-route-id="@Model.ID"><i class="fa fa-plus"></i> Add Joining Details</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix mb-4"></div>