﻿.tableedit {
    padding: 6px;
    background-color: gray;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.tabledelete {
    padding: 6px;
    background-color: red;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.modalButton {
    background-color: #eeb711 !important;
    border-radius: 40px;
    width: 180px;
    font-weight: bold;
    border: none;
    font-family: system-ui;
}
.no-drop {
    cursor: no-drop;
}

.timeclass {
    background-color: #125586;
    color: white;
    width: 440px;
    height: 34px;
    text-align: center;
    position: absolute;
    right: 2px;
    bottom: 122px;
    padding-top: 4px;
}
 
.cmtclass {
    background-color: #125586;
    color: white;
    width: 1075px;
    height: 34px;
    left: 0px;
    border-radius: 6px;
    bottom: 0px;
    text-align: center;
    position: absolute;
    padding-top: 4px;
    border-color: white;
    border-bottom-color: white;
}

.tblverify {
    padding: 6px;
    color: white;
    background-color: #34da34;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.tablereminder {
    padding: 6px;
    background-color: #ff6a00;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.tablerequeststudentdetails {
    padding: 6px;
    background-color: #32bde6;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.tablesolved {
    padding: 6px;
    background-color: #3ed23eeb;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.tablereject {
    padding: 6px;
    background-color: red;
    color: white;
    border-radius: 7px;
    box-shadow: 2px 1px 1px 0px #bcb4b4;
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification:hover {
        background: red;
    }

    .notification .badge {
        position: absolute;
        top: -8px;
        right: -6px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}


.PENDING {
    /*padding: 5px;
    background-color: #929292;*/
    color: gray;
    /*border-radius: 11px;*/
    font-weight: 700;
    /*box-shadow: 2px 0px 1px 1px #d8c6c6;*/
}

.text-holder {
    color: #aaaaaa;
    text-align: center;
    padding-top: 40px;
}

.button-holder {
    padding-top: 100px;
}

.ajax-button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -20px;
    text-align: center;
}

.submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 40px;
    background-color: #111111;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 17px;
    cursor: pointer !important;
    outline: none;
}

    .submit:hover {
        background-color: #222222;
    }

.loading {
    font-size: 0;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 0;
    border: 3px solid #FFFFFF;
    border-bottom: 3px solid rgba(255,255,255,0.0);
    border-left: 3px solid rgba(255,255,255,0.0);
    background-color: transparent !important;
    animation-name: rotateAnimation;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.notificattionicon {
    margin-left: -13px;
    font-size: 9px;
    border-radius: 50%;
    top: -5px;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wk-rotateAnimation {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/*.fa {
    color: #ffffff;
    font-size: 18px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -9px;
    -webkit-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
}*/

.finish {
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

.hide-loading {
    opacity: 0;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
}

/*Loader*/


.divloaders {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .divloaders img {
        height: 67px;
        margin-top: 20%;
        margin-left: 50%;
    }

@media all and (max-width:500px) {
    .divloaders img {
        margin-top: 70%;
        margin-left: 40%;
    }
}

/*@media (min-width: 1200px) {
    .container {
        width: 1222px;
    }
}*/
.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

    .comment-img img {
        display: block;
    }

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

    .comment .text p:last-child {
        margin: 0;
    }

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

    .comments:before,
    .comment:before,
    .comment .text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 65px;
    }

    .comments:before {
        width: 3px;
        top: -20px;
        bottom: -20px;
        background: rgba(0,0,0,0.1);
    }

    .comment:before {
        width: 9px;
        height: 9px;
        border: 3px solid #fff;
        border-radius: 100px;
        margin: 16px 0 0 -6px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
        background: #ccc;
    }

    .comment:hover:before {
        background: orange;
    }

    .comment .text:before {
        top: 18px;
        left: 78px;
        width: 9px;
        height: 9px;
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #e5e5e5;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

.closecomment {
    position: absolute;
    top: 1px;
    right: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 0.81rem;
}
/*Loader*/

.statuschangebtn {
    background-color: #e4e0e0;
    color: #1b1919;
    border: 0px;
    padding: 0.5rem 0.9rem;
    font-weight: 800;
    font-size: 0.71rem;
    width: 100%;
    text-align: left;
}

.btn-group {
    width: 100%;
}
/*sub menu design*/
.submenubtn {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
    /*.submenubtn > a > div > img {
        width: 2.25vw;
        padding: .6vw 0vw;
    }*/

    .submenubtn > a {
        background-color: #808080;
        border-radius: 6px;
        border: 1px solid #545050;
        text-decoration: none;
    }

        .submenubtn > a:hover {
            text-decoration: none;
        }

        .submenubtn > a > div:first-child {
            background-color: #333333;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .submenubtn > a > div > img {
            width: 2.25vw;
            height: 100%;
        }

        /*.submenubtn > a > div:nth-child(2) {
            color: white;
            font-size: 1.75vw;
            line-height: 1.8vw;
            padding-top: 1.3vw;
            padding-bottom: 0.75vw;
        }*/
        .submenubtn > a > div:nth-child(2) {
            color: white;
            font-size: 1.25vw;
            line-height: 1.25vw;
            text-align: center;
            /*padding-top: 0.7vw;*/
            /*padding-bottom: 0.75vw;*/
        }
/*sub menu design*/

/*Log in*/
.logintextbox {
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 0px;
    padding: 0px 2px;
    outline: none;
    font-size: 1.2rem;
}

    .logintextbox:focus {
        box-shadow: none;
        outline: none !important;
    }

.loginbtn {
    background-color: #333333;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 0px;
    color: white;
}

    .loginbtn:hover {
        background-color: #211f1f;
        color: white;
    }

.loginheadertext {
    font-size: 2rem;
}
.loginlink{
    font-size:1rem;
}
.loginleftheader {
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
}
.loginleftsubheader {
    font-size: 2.6rem;
    font-weight: 100;
    line-height: 2.7rem;
}
.loginfootertext{
    font-size:1.2rem;
}
@media screen (min-width: 1200px) {
    .loginleftheader {
        font-size: 9rem;
        line-height: 9rem;
    }
    .loginleftsubheader {
        font-size: 5.2rem;
        line-height: 5.2rem;
    }
    .loginheadertext {
        font-size: 3rem;
    }
    .logintextbox {
        font-size: 1.4rem;
    }
    .loginlink {
        font-size: 1.3rem;
    }
    .loginfootertext {
        font-size: 1.52rem;
    }
}
    @media all and (max-width: 1200px) { /* screen size until 1200px */
        .loginheadertext {
            font-size: 2rem;
        }

        .logintextbox {
            font-size: 1.2rem;
        }

        .loginbtn {
            font-size: 1.3rem;
        }

       

        .loginleftheader {
            font-size: 6rem;
            line-height: 6rem;
        }

        .loginleftsubheader {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
        .loginlink {
            font-size: 1.2rem;
        }
        .loginfootertext {
            font-size: 1.52rem;
        }
    }

    @media all and (max-width: 1000px) { /* screen size until 1000px */
        .loginheadertext {
            font-size: 1.6rem;
        }

        .logintextbox {
            font-size: 1.5rem;
        }

        .loginbtn {
            font-size: 1rem;
        }

        .loginlink {
            font-size: 1.3rem;
        }

        .loginleftheader {
            font-size: 4rem;
            line-height: 4rem;
        }

        .loginleftsubheader {
            font-size: 1.76rem;
            line-height: 2.76rem;
        }
        .loginfootertext {
            font-size: 1.12rem;
        }
    }

    @media all and (max-width: 500px) { /* screen size until 500px */
        .loginheadertext {
            font-size: 2rem;
        }

        .logintextbox {
            font-size: 1.3rem;
        }

        .loginbtn {
            font-size: 3vw;
        }

        .loginlink {
            font-size: 1rem;
        }

        .loginleftheader {
            font-size: 3rem;
            line-height: 3rem;
        }

        .loginleftsubheader {
            font-size: 1rem;
            line-height: 1rem;
        }
        .loginfootertext {
            font-size: 1.12rem;
        }
    }
    /*Log in*/
