﻿
@{
    ViewData["Title"] = "AcademicStudentTimeTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href='~/fullcalendar/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='~/fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='~/fullcalendar/list/main.css' rel='stylesheet' />
@model OdmErp.Web.Models.view_time_table_cls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentTimeTable" asp-controller="Student">Students Time Table</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create Students Time Table</li>
        </ol>
    </nav>
</div>


<div class="card mt-2">
    <div class="card-body">
        <div id='calendar'></div>

    </div>
</div>


@*</div>*@
<script src="~/vendor/jquery/jquery.js"></script>

<script src='~/fullcalendar/core/main.js'></script>
<script src='~/fullcalendar/daygrid/main.js'></script>
<script src='~/fullcalendar/timegrid/main.js'></script>
<script src='~/fullcalendar/list/main.js'></script>
<script src='~/fullcalendar/interaction/main.js'></script>

<script src='~/fullcalendar/bootstrap/main.js'></script>
<script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>


<script>
    $(document).ready(function () {
        //RenderCalender();
        var calendar;
        var eventSource;
        function showCalenderCreateModal(info) {
            //var events = calendar.getEvents();
            //var typeId = 0;
            //if (events != null && events.length > 0) {

            //    $.each(events, function (i, item) {

            //        var eventDate = item._def.extendedProps.date;
            //        if (info.dateStr === eventDate) {
            //            typeId = item._def.extendedProps.typeId;
            //        }

            //    });
            //}
            var calenderDateData = 'AcademicSectionId=@(Model.AcademicSectionId)&AcademicStandardId=@(Model.AcademicStandardId)&AcademicStandardStreamId=@(Model.AcademicStandardStreamId)&date=' + info.dateStr;

            window.location.href = '/Student/ViewAcademicStudentTimeTable?' + calenderDateData;
        }
       
        GetCalenderData();
        function GetCalenderData() {
            $('#divloader').show();
             var calenderDateData = {

                        AcademicSectionId: @Model.AcademicSectionId,
                        AcademicStandardId: @Model.AcademicStandardId,
                        AcademicStandardStreamId: @Model.AcademicStandardStreamId,

                    }
            $.get('/Student/GetCalenderEngagementEventsForAcademicTimeTable', calenderDateData, function (result) {
                console.log(result);
                var events = [];
                if (result != null && result.length > 0) {
                    //eventSource = data;
                    //calendar.addEventSource(eventSource);
                    $.each(result, function (i, data) {
                        events.push({ title: data.title, start: data.start, end: data.end,textColor:data.textColor,backgroundColor:data.backgroundColor });
                    })
                    //events.push(result);
                }
                else {
                    return null;
                }
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,listMonth'
                    },
                    editable: false,
                    selectable: true,
                    eventStartEditable: false,
                    eventResizableFromStart: false,
                    eventDurationEditable: false,
                    droppable: false,
                    draggable: false,
                    eventResourceEditable: false,
                    disableDragging: true,
                    events: events,
                    eventAllow: function (dropLocation, draggedEvent) {

                        return false; // or return false to disallow

                    },
                    dateClick: function (info) {
                        showCalenderCreateModal(info);
                    },
                    //dateClick: function (date, jsEvent, view) {
                    //    alert('Clicked on: ' + date.dateStr);
                    //},
                    eventClick: function (event) {
                        editEvent(event.event._def);
                    },
                    eventRender: function (info) {
                        var tooltip = new Tooltip(info.el, {
                            title: info.event.extendedProps.description,
                            placement: 'top',
                            trigger: 'hover',
                            container: 'body'
                        });
                    },
                });

                calendar.render();
                //getEngagementEvent();
                $('#divloader').hide();

            })
        }
    });
</script>
