﻿
@{
    ViewData["Title"] = "CreateDailyHomeWork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.SchoolBellQ.Models.HomeWorkModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewDailyHomeWork" asp-controller="TimeTable">HomeWork</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create HomeWork</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header bg-white ">
        <div class="row">
            <div class="col-6">
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Daily HomeWork</span>
            </div>
        </div>
    </div>
    <div class="card-body">
       
        <form action="SaveDailyHomeWork" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row bg-white">
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                    <select asp-for="AcademicSessionId" class="form-control" style="width:100%;">
                        <option value=" ">Select Session</option>
                        @if (Model.academicSessions != null)
                        {
                            foreach (var a in Model.academicSessions)
                            {
                                <option value="@a.ID">@a.DisplayName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                    <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label font-weight-bold">Teacher Emp</label>
                    <select asp-for="ddlteacher" class="form-control" style="width:100%;">
                    </select>
                    <span asp-validation-for="ddlteacher" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="SchoolWingId" class="control-label font-weight-bold">Wing</label>
                    <select asp-for="SchoolWingId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="SchoolWingId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                    <select asp-for="BoardId" class="form-control" style="width:100%;">
                        <option value="  ">Select Board</option>
                        @if (Model.boards != null)
                        {
                            foreach (var a in Model.boards)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="BoardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                    <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicStandardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group" id="divstream">
                    <label asp-for="AcademicStandardStreamId" class="control-label font-weight-bold">Stream</label>
                    <select asp-for="AcademicStandardStreamId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicStandardStreamId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                    <select asp-for="AcademicSectionId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicSectionId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSubjectId" class="control-label font-weight-bold">Subject</label>
                    <select asp-for="AcademicSubjectId" class="form-control" style="width:100%;"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicChapterId" class="control-label font-weight-bold">Chapter</label>
                    <select asp-for="AcademicChapterId" class="form-control" style="width:100%;"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="HomeWorkDate" class="control-label font-weight-bold">HomeWork Date</label>
                    <input type="date" asp-for="HomeWorkDate" min="@DateTime.Now.ToString("yyyy-MM-dd")"  class="form-control"/>
                    <span asp-validation-for="HomeWorkDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label font-weight-bold">Attachment</label>
                    <input type="file" asp-for="AttachmentFile" class="form-control" accept=".pdf" />
                    <span asp-validation-for="AttachmentFile" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label font-weight-bold">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label font-weight-bold">Description</label>
                    <textarea rows="4" asp-for="Description" class="form-control">
                                        </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>


            <div class="clearfix mb-2"></div>
            <div class="form-group text-center">
                @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                <button type="submit" id="btnsubmitchk" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp; <i class="fas fa-check"></i>&nbsp; Add HomeWork&nbsp; </button>
            </div>
        </form>
      


    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#btnsubmitchk').click(function () {
            if ($('#ddlclasstiming').val() == " " && $('#ddlclasstiming').val() == 0) {
                alert("Please Select ClassTiming");
                return false;
            }
            if ($('#AcademicSessionId').val() == " " && $('#AcademicSessionId').val() == 0) {
                alert("Please Select Session");
                return false;
            }
            if ($('#OraganisationAcademicId').val() == " " && $('#OraganisationAcademicId').val() == 0) {
                alert("Please Select Oraganisation");
                return false;
            }
            if ($('#ddlteacher').val() == " " && $('#ddlteacher').val() == 0) {
                alert("Please Select Teacher");
                return false;
            }
            if ($('#SchoolWingId').val() == " " && $('#SchoolWingId').val() == "0") {
                alert('1');
                alert("Please Select Wing");
                return false;
            }
            if ($('#BoardId').val() == " " && $('#BoardId').val() == "0") {
                alert("Please Select Board");
                return false;
            }
            if ($('#AcademicStandardId').val() == " " && $('#AcademicStandardId').val() == 0) {
                alert("Please Select Class");
                return false;
            }
            if ($('#AcademicSectionId').val() == " " && $('#AcademicSectionId').val() == 0) {
                alert("Please Select Section");
                return false;
            }
            if ($('#AcademicSubjectId').val() == " " && $('#AcademicSubjectId').val() == 0) {
                alert("Please Select Subjects");
                return false;
            }
            if ($('#AcademicChapterId').val() == " " && $('#AcademicChapterId').val() == 0) {
                alert("Please Select Chapter");
                return false;
            }
        });

    });
</script>


<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>
<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/SchoolBellQ/TimeTable/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/TimeTable/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }

            })
            $.get('/SchoolBellQ/TimeTable/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });


        });
        //Get Teacher
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetTeacherByOrganisationAcademicId', { AcademicSessionId: $('#AcademicSessionId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#ddlteacher").append('<option value=" ">  Select Teacher </option>');
                    $.each(data, function (i, item) {

                        $("#ddlteacher").append('<option value="' + item.id + '"> ' + item.name + '-' + item.lastname + ' </option>');
                    });
                }
            });
        });
        $('#AcademicSectionId').change(function () {
            $('#AcademicSubjectId').empty();
            $.get('/SchoolBellQ/TimeTable/GetAllSubjectById', { AcademicSessionId: $('#AcademicSessionId').val(), TeacherId: $('#ddlteacher').val(), AcademicSectiondId: $('#AcademicSectionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectId").append('<option value=" ">Select Subject</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectId").append('<option value="' + item.acdemicsubjectid + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

        $('#AcademicSubjectId').change(function () {
            $('#AcademicChapterId').empty();
            $.get('/SchoolBellQ/TimeTable/GetChapterByAcademicSubjectId', { AcademicSubjectId: $('#AcademicSubjectId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicChapterId").append('<option value=" ">Select Chapter</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicChapterId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
       
    });
</script>



