﻿
@{
    ViewData["Title"] = "StudentTimeTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href='~/fullcalendar/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/daygrid/main.css' rel='stylesheet' />
<link href='~/fullcalendar/timegrid/main.css' rel='stylesheet' />
<link href='~/fullcalendar/list/main.css' rel='stylesheet' />
@model OdmErp.Web.Areas.Student.Models.AcademicStudentcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentTimeTable" asp-controller="Student">Students Time Table</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create Students Time Table</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header bg-white ">
        <div class="row">
            <div class="col-6">
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Students Time Table</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            @* <div class="col-md-3"></div>*@
            @*   <div class="col-md-12">*@
            @*<form asp-action="UpdateAcademicStudentRollno" method="post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                    <select asp-for="AcademicSessionId" id="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control"></select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                    <select asp-for="OraganisationAcademicId" class="form-control"></select>
                    <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                    <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control"></select>
                    <span asp-validation-for="BoardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                    <select asp-for="AcademicStandardId" class="form-control"></select>
                    <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                    <select asp-for="AcademicSectionId" class="form-control"></select>
                    <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                </div>
               

            </div>
            <div class="clearfix mb-2"></div>
            <div class="form-group text-center">
                @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                <button id="btnsubmit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp; Search&nbsp;&nbsp; </button>
            </div>
            @*</form>*@
            @* <div class="row">*@
            @* </div> *@
            @*</div>
                <div class="col-md-3"></div>*@
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div id='calendar'></div>

    </div>
</div>


@*</div>*@
<script src="~/vendor/jquery/jquery.js"></script>

<script src='~/fullcalendar/core/main.js'></script>
<script src='~/fullcalendar/daygrid/main.js'></script>
<script src='~/fullcalendar/timegrid/main.js'></script>
<script src='~/fullcalendar/list/main.js'></script>
<script src='~/fullcalendar/interaction/main.js'></script>

<script src='~/fullcalendar/bootstrap/main.js'></script>
<script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>


<script>
    $(document).ready(function () {
        //RenderCalender();
        var calendar;
        var eventSource;
        function showCalenderCreateModal(info) {
            //var events = calendar.getEvents();
            //var typeId = 0;
            //if (events != null && events.length > 0) {

            //    $.each(events, function (i, item) {

            //        var eventDate = item._def.extendedProps.date;
            //        if (info.dateStr === eventDate) {
            //            typeId = item._def.extendedProps.typeId;
            //        }

            //    });
            //}
            var calenderDateData = 'AcademicSectionId=' + parseInt($('#AcademicSectionId').val()) + '&AcademicStandardId=' + parseInt($('#AcademicStandardId').val()) + '&date=' + info.dateStr;

            window.location.href = '/SchoolBellQ/TimeTable/ViewTimeTable?' + calenderDateData;
        }
        function getEngagementEvent() {


            if (eventSource != null) {
                var sources = calendar.getEventSources();
                // console.log(sources);
                if (sources != null && sources.length > 0)
                    sources[0].remove();
            }

            var calenderDateData = {

                AcademicSectionId: parseInt($('#AcademicSectionId').val()),
                AcademicStandardId: parseInt($('#AcademicStandardId').val())

            }
            $.get('/SchoolBellQ/TimeTable/GetCalenderEngagementEventsForTimeTable', calenderDateData, function (result) {
             //   console.log(result);

                if (result != null && result.length > 0) {
                    //eventSource = data;
                    //calendar.addEventSource(eventSource);
                    var events = [];

                    $.each(result, function (i, data) {
                        events.push(
                            {
                                title: data.title,
                                // description: data.Desc,
                                start: moment(data.start).format('YYYY-MM-DD'),
                                end: moment(data.end).format('YYYY-MM-DD'),
                                backgroundColor: data.backgroundColor,
                                borderColor: "#fc0101"
                            });
                    });
                }
                else {
                    eventSource = null;

                }
            })

            //$.ajax
            //    ({
            //        url: '/Student/GetCalenderEngagementEventsForTimeTable', data: calenderDateData,
            //        type: "GET",
            //        success: function (data) {

            //            console.log(data);

            //            if (data != null && data.length > 0) {
            //                eventSource = data;
            //                calendar.addEventSource(eventSource);

            //            }
            //            else {
            //                eventSource = null;

            //            }
            //        },

            //        error: function (XMLHttpRequest, textStatus, errorThrown) {
            //            alert("Status: " + textStatus); alert("Error: " + errorThrown);
            //        }


            //    });

        }
        function viewcalenders(sectionid,standardid) {
            $('#divloader').show();
            var calendarEl = document.getElementById('calendar');

         


            var calenderDateData = {

                AcademicSectionId: parseInt(sectionid),
                AcademicStandardId: parseInt(standardid)

            };
            $.get('/SchoolBellQ/TimeTable/GetCalenderEngagementEventsForTimeTable', calenderDateData, function (result) {
                //  console.log(result);
                var events = [];
                if (result.length > 0) {
                    //eventSource = data;
                    //calendar.addEventSource(eventSource);
                    $.each(result, function (i, data) {
                        events.push({ title: data.title, start: data.start, end: data.end, textColor: data.textColor, backgroundColor: data.backgroundColor });
                    })
                    //events.push(result);
                }
                //else {
                //    return null;
                //}
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,listMonth'
                    },
                    editable: false,
                    selectable: true,
                    eventStartEditable: false,
                    eventResizableFromStart: false,
                    eventDurationEditable: false,
                    droppable: false,
                    draggable: false,
                    eventResourceEditable: false,
                    disableDragging: true,
                    events: events,
                    eventAllow: function (dropLocation, draggedEvent) {

                        return false; // or return false to disallow

                    },
                    dateClick: function (info) {
                        showCalenderCreateModal(info);
                    },
                    //dateClick: function (date, jsEvent, view) {
                    //    alert('Clicked on: ' + date.dateStr);
                    //},
                    eventClick: function (event) {
                        editEvent(event.event._def);
                    },
                    eventRender: function (info) {
                        var tooltip = new Tooltip(info.el, {
                            title: info.event.extendedProps.description,
                            placement: 'top',
                            trigger: 'hover',
                            container: 'body'
                        });
                    },
                });

                calendar.render();
                //getEngagementEvent();
                $('#divloader').hide();

            })
        }
        $('#btnsubmit').click(function () {
            if ($('#AcademicStandardId').val() == '') {
                $('#spanAcademicStandardId').html('Select Standard');
                $('#divloader').hide();
                return false;
            }
            //if ($('#AcademicStandardStreamId option').length > 0) {
            //    if ($('#AcademicStandardStreamId').val() == '') {
            //        $('#spanAcademicStandardStreamId').html('Select Stream');
            //        $('#divloader').hide();
            //        return false;
            //    }
            //}
            if ($('#AcademicSectionId').val() == '') {
                $('#spanAcademicSectionId').html('Select Section');
                $('#divloader').hide();
                return false;
            }
            viewcalenders($('#AcademicSectionId').val(), $('#AcademicStandardId').val());
        })

        var sessionid = '@(ViewBag.section != null? ViewBag.section.AcademicSessionId: 0)';
        var sectionid = '@(ViewBag.section != null? ViewBag.section.ID: 0)';
        var standardid = '@(ViewBag.section != null? ViewBag.section.AcademicStandardId: 0)';
         var boardid = '@(ViewBag.section != null? ViewBag.section.BoardId: 0)';
        var orgacdid = '@(ViewBag.section != null? ViewBag.section.OrganizationAcademicId: 0)';

        if (sessionid != '0') { $('#AcademicSessionId').val(sessionid).trigger('change'); }
        if (sessionid != '0') {
            getorganisation(sessionid);
        }
        if (boardid != '') {
            $('#BoardId').val(boardid);

        }
        if (standardid != '0') {
            Getstandards(boardid, orgacdid, sessionid)
            Getwingandsubjectgroup(standardid);

        }
        if (sectionid != '0') {
            viewcalenders(sectionid, standardid);
        }


        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgacdid != 0) { $('#OraganisationAcademicId').val(orgacdid); }
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (standardid != 0) {
                            $("#AcademicStandardId").val(standardid);
                        }
                    }
                });
            }
        }
        function Getwingandsubjectgroup(id) {
            if (id != 0) {


                $('#AcademicSectionId').empty();
                $.get('/School/GetAcademicsection', { AcademicStandardId: id }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicSectionId").append('<option value="0">Select Section</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (sectionid != 0) {
                            $("#AcademicSectionId").val(sectionid);
                        }
                    }
                });
                //subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
            }
        }
        $('#AcademicStandardId').change(function () {
            Getwingandsubjectgroup($('#AcademicStandardId').val());
        });
    });
</script>

