﻿
@{
    ViewData["Title"] = "ViewTimeTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.SchoolBellQ.Models.view_time_table_cls

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="StudentTimeTable" asp-route-AcademicSectionId="@Model.AcademicSectionId" asp-area="SchoolBellQ" asp-controller="TimeTable">Student Time Table</a></li>
        <li class="breadcrumb-item active" aria-current="page">Time Table Details</li>
    </ol>
</nav>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="h3 mb-0 text-gray-800">Time Table Details</h3>
    <div>
        <button id="btncreatetimetable" class="btn btn-primary"><i class="fa fa-plus">Create Time Table</i></button>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Basic Details</h4>
        </div>
        <div class="card-body">
            <div class="row" style="font-size: 0.86rem;">
                <div class="col-md-2">
                    <b>Session :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Sessionname)</span>
                </div>
                <div class="col-md-2">
                    <b>Organisation :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Organisationname)</span>
                </div>
                <div class="col-md-2">
                    <b>Wing :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Wingname)</span>
                </div>
                <div class="col-md-2">
                    <b>Board :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Boardname)</span>
                </div>
                <div class="col-md-2">
                    <b>Class :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Standardname)</span>
                </div>
                <div class="col-md-2">
                    <b>Section :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Sectionname)</span>
                </div>
               
                <div class="col-md-2">
                    <b>Date :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model.date.ToString("dd-MM-yyyy"))</span>
                </div>
                <div class="col-md-2">
                    <b>Month :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model.date.ToString("MMMM"))</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="clearfix" style="margin-bottom:20px;"></div>
    @*<div class="container-fluid">*@
        
        @if (Model.timetable != null)
        {
        <div class="row">
           
            <div class="card shadow" style="width:100%;">
                <div class="card-header">
                    <h4>Time Table</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Teacher
                                </th>
                                <th>
                                    Start Time
                                </th>
                                <th>
                                    End Time
                                </th>
                                <th>
                                    Created On
                                </th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.timetable)
                            {
                                <tr>
                                    <td>@a.SubjectName</td>
                                    <td>@a.TeacherName</td>
                                    <td>
                                        @(DateTime.ParseExact(a.StartTime.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                                    </td>
                                    <td>
                                        @(DateTime.ParseExact(a.EndTime.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                                    </td>
                                    <td>
                                        @a.InsertedDate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @a.ModifiedDate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        <a asp-action="DeletestudentTimetable" asp-route-id="@a.ID" asp-route-AcademicSectionId="@Model.AcademicSectionId" asp-route-AcademicStandardId="@Model.AcademicStandardId" asp-route-AcademicStandardStreamId="@Model.AcademicStandardStreamId" asp-route-date="@Model.date" onclick="return confirm('Are you sure you wish to delete this timetable subject?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                        <a class="pr-1" onclick="openmodal(@a.ID,@a.ClassTimingId,@a.SubjectId,@a.TeacherId)"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>





                </div>

            </div>
        </div>
        }

    @*</div>*@



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Time Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateTimeTable" enctype="multipart/form-data" method="post">
                    <input type="hidden" asp-for="AcademicSectionId" />
                    <input type="hidden" asp-for="AcademicStandardId" />
                    <input type="hidden" asp-for="date" />
                    <input type="hidden" id="timetableid" name="timetableid" />
                    <div class="row">
                        <div class="col-md-4">
                            Class Timing
                        </div>
                        <div class="col-md-8">
                            <select name="ddlclasstiming" id="ddlclasstiming" class="form-control" style="width:100%;">
                                <option selected>Select Class Timing</option>
                                @if (Model.timingcls != null)
                                {
                                    foreach (var a in Model.timingcls)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Subject
                        </div>
                        <div class="col-md-8">
                            <select name="ddlsubjects" id="ddlsubjects" class="form-control" style="width:100%;">
                                <option selected>Select Subject</option>
                                @if (Model.subjects != null)
                                {
                                    foreach (var a in Model.subjects)
                                    {
                                        <option value="@a.AcademicSubjectsID">@a.Subjectname</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Teacher
                        </div>
                        <div class="col-md-8">
                            <select name="ddlteacher" id="ddlteacher" class="form-control" style="width:100%;">
                               
                            </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btncreatetimetable').click(function () {
            $('#myModal').modal('show');
            $('#ddlclasstiming').val('0').trigger('change');
            $('#ddlsubjects').val('').trigger('change');
            $('#ddlteacher').val('').trigger('change');
            $('#timetableid').val('0').trigger('change');
        })
        $('#ddlsubjects').change(function () {
            GetTeachers($('#AcademicSectionId').val(),$('#ddlsubjects').val());
        })
        function GetTeachers(sectionid, subjectid) {
            if (subjectid != 0) {
                $('#ddlteacher').empty();
                $.get('/SchoolBellQ/TimeTable/GetTeachers', { academicsectionid: sectionid, academicsubjectid: subjectid }, function (data) {
                    if (data.length > 0) {
                        $("#ddlteacher").append('<option selected>  Select Teacher </option>');
                        $.each(data, function (i, item) {

                            $("#ddlteacher").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (orgacdid != 0) { $('#OraganisationAcademicId').val(orgacdid); }
                    }
                })
            }
        }
    })
    function openmodal(id,classid,subid,teacherid) {
        $('#myModal').modal('show');
            $('#ddlclasstiming').val(classid).trigger('change');
            $('#ddlsubjects').val(subid).trigger('change');
            $('#ddlteacher').val(teacherid).trigger('change');
            $('#timetableid').val(id).trigger('change');
    }
</script>