﻿
@{
    ViewData["Title"] = "ViewDailyHomeWork";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .tabledelete {
        padding: 6px;
        background-color: red;
        color: white;
        border-radius: 7px;
        box-shadow: 2px 1px 1px 0px #bcb4b4;
    }
</style>
@model OdmErp.Web.Areas.SchoolBellQ.Models.ResponseHomeworkModel
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create HomeWork</li>
        </ol>
    </nav>
</div>


<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">

            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Daily Homework</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a asp-controller="TimeTable" asp-action="CreateDailyHomeWork" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <form action="ViewDailyHomeWork" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row bg-white">
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Academic Session</label>
                            <select id="AcademicSessionId" class="form-control" style="width:100%;">
                                <option value=" ">Select Session</option>
                                @if (Model.academicSessions != null)
                                {
                                    foreach (var a in Model.academicSessions)
                                    {
                                        <option value="@a.ID">@a.DisplayName</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Organisation</label>
                            <select id="OraganisationAcademicId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Teacher Emp</label>
                            <select id="ddlteacher" class="form-control" style="width:100%;">
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Wing</label>
                            <select id="SchoolWingId" class="form-control" style="width:100%;"></select>

                        </div>

                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Board</label>
                            <select id="BoardId" class="form-control" style="width:100%;">
                                <option value="  ">Select Board</option>
                                @if (Model.boards != null)
                                {
                                    foreach (var a in Model.boards)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Class</label>
                            <select id="AcademicStandardId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group" id="divstream">
                            <label class="control-label font-weight-bold">Stream</label>
                            <select id="AcademicStandardStreamId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Section</label>
                            <select id="AcademicSectionId" name="AcademicSectionId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Subject</label>
                            <select id="AcademicSubjectId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">Chapter</label>
                            <select id="AcademicChapterId" name="AcademicChapterId" class="form-control" style="width:100%;"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label font-weight-bold">HomeWork Date</label>
                            <input type="date" id="HomeWorkDate" name="HomeWorkDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>
                        <div class="col-md-2 form-group text-center" style="padding-top: 36px;">  
                         
                            <button type="submit" id="btnsubmitchk" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp; <i class="fas fa-search"></i>&nbsp;Search&nbsp; </button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Chapter</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Description</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">HomeWork Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.HomeWorklist)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.SessionName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.ChapterName</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.Name">@item.Name</td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.Description">@item.Description</td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.HomeWorkDate.ToString("dd-MMM-yyyy")</td>


                                @if (item.Status == "ACTIVE")
                                {
                                    <td class="h6 mb-0 text-gray-600 font-weight-normal" style="color:forestgreen;">
                                        @item.Status
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                        @item.Status
                                    </td>
                                }

                                <td class="h6 mb-0 text-gray-600 font-weight-normal">
                                    <a title="View HomeWork" id="@item.Attachment" class="pdfid" href="#"><i class="fas fa-file-pdf" style="color:forestgreen;"></i></a>

                                    @*<a title="Edit" asp-action="CreateOrEditChapter" asp-controller="School" asp-route-BoardId="@ViewBag.BoardId" asp-route-BoardStnrdId="@ViewBag.BoardStandardId" asp-route-BoardStaandStreamId="@ViewBag.BoardStaandStreamId" asp-route-SubjectId="@ViewBag.SubjectId" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>*@
                                    <a title="Delete" asp-action="DeleteDailyHomeWork"  asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Homework?');"><i class="fas fa-trash"></i></a>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div id="myModal2" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>HomeWork Details</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="pdfview"></div>
            </div>
        </div>
        @*<div class="modal-footer">
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>*@
    </div>

</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dataTable").on('click', '.pdfid', function (event) {
            debugger;
            // var href = "http://learn.odmps.org" + $(this).attr("id");
            var href = $(this).attr("id");

            //$('#pdfview').attr('data', href);
            $('#pdfview').html('<embed src="' + href + '" width="100%" height="500px" />');
            $('#myModal2').modal('show');

        })
    });
</script>


<script>
    
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                    
                }
            });
        });

    });
</script>
<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/SchoolBellQ/TimeTable/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/TimeTable/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }

            })
            $.get('/SchoolBellQ/TimeTable/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });


        });
        //Get Teacher
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/SchoolBellQ/TimeTable/GetTeacherByOrganisationAcademicId', { AcademicSessionId: $('#AcademicSessionId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#ddlteacher").append('<option value=" ">  Select Teacher </option>');
                    $.each(data, function (i, item) {

                        $("#ddlteacher").append('<option value="' + item.id + '"> ' + item.name + '-' + item.lastname + ' </option>');
                    });
                }
            });
        });
        $('#AcademicSectionId').change(function () {
            $('#AcademicSubjectId').empty();
            $.get('/SchoolBellQ/TimeTable/GetAllSubjectById', { AcademicSessionId: $('#AcademicSessionId').val(), TeacherId: $('#ddlteacher').val(), AcademicSectiondId: $('#AcademicSectionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectId").append('<option value=" ">Select Subject</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectId").append('<option value="' + item.acdemicsubjectid + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

        $('#AcademicSubjectId').change(function () {
            $('#AcademicChapterId').empty();
            $.get('/SchoolBellQ/TimeTable/GetChapterByAcademicSubjectId', { AcademicSubjectId: $('#AcademicSubjectId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicChapterId").append('<option value=" ">Select Chapter</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicChapterId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>


