﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc;

@{
    ViewData["Title"] = "Map To Session";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.SessionFeesTypeViewModel>
@*IEnumerable<OdmErp.Web.ViewModels.FeesTypeApplicableViewModel>*@
@*OdmErp.ApplicationCore.Entities.FeesTypeApplicable*@

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multiple/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="StudentPayment" asp-controller="Layout">StudentPayment</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Map To Session</li>
            </ol>
        </nav>
    </div>

    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Map To Session</h1>
                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                           data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    </div>

                </div>
                <div class="justify-content-between card-header bg-white">
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-outline-success mr-4 " data-toggle="modal" data-target="#myModal2" onclick="CreateData()"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    <a href="#" id="edit_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm edit_lnk btn-sm btn-outline-success mr-4" data-toggle="modal" data-target="#myModal2" onclick="resetmsg()"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                    @*<a href="#" id="delete_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm delete_lnk btn-sm btn-outline-success mr-4" onclick="Delete()"><i class="fas fa-trash"></i>&nbsp;Delete</a>*@
                    <a href="#" id="Acitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Acitve_lnk btn-outline-success mr-4" onclick="ActiveLink()"><i class="fas fa-check-circle"></i>&nbsp;Active</a>
                    <a href="#" id="Deacitve_lnk" class="d-none d-sm-inline-block font-weight-normal btn btn-sm Deacitve_lnk btn-outline-success mr-4" onclick="DeactiveLink()"><i class="fas fa-times-circle"></i>&nbsp;Deactive</a>
                    <a href="#" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-sm btn-outline-success mr-4" onclick="Refresh()"><i class="fas fa-sync-alt"></i>&nbsp;Refresh</a>
                    <span style="color:#1cc88a" class="count_selectedrows"></span>
                </div>

                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">
                                                <label class="container">
                                                    <input type="checkbox" id="ckbCheckAll" />
                                                    <span class="checkmark"></span><br /><span style="margin-left: 34px; white-space: nowrap; margin-top: 0px;">Select All</span>
                                                </label>
                                            </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Academic Session </th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Fee</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Parent Fee</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Mandatory</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Price Applies To</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Deadline Date</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                            @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr id="@item.ID">
                                                    <td>
                                                        <label class="container">
                                                            <input type="checkbox" name="tableCheck" data-active="@item.Status" value="@item.ID" class="chk_checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <input type="hidden" id="@item.ID" />
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.SessionName
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.FeesTypeName
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ParentFeesType
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Mandatory
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ApplicableTo
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.DeadlineDate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Status
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>

                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Upload Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-4">
                                Download Sample Excel
                            </div>
                            <div class="col-md-8">
                                <a href="/SessionFeesType/downloadSessionFeesTypeSample">Click Here</a>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="button" onclick="uploadFiles();" class="btn btn-primary" value="Upload Excel" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-titleNew" id="myModalLabel2">Add Map To Session</h4>
                    <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    @*<form asp-action="SaveOrUpdateFeesTypeApplicable">*@
                    <input type="hidden" />
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group" id="divSession">
                        <label class="control-label font-weight-bold">Academic Session <span style="color:red;">*</span></label>
                        @*<input class="form-control txt_name" id="txt_name" />*@
                        <select class="form-control" id="ddl_session" style="width:100%" ;>
                            <option value="0">Select Academic Session </option>
                        </select>
                        <span class="text-danger ddl_session_validation"></span>
                    </div>

                    <div class="form-group" id="divfeestypeprice">
                        <label class="control-label">Fee<span style="color:red;">*</span></label>
                        <select class="form-control" id="ddl_feestype" style="width:100%" ;>
                            <option value="0">Select Fee</option>
                        </select>
                        <span class="text-danger ddl_feestype_validation"></span>
                    </div>

                    <div class="form-group" id="divfeestypeApplicable">
                        <label class="control-label">Price Applies To <span style="color:red;">*</span></label>
                        <select class="form-control" id="ddl_Applicableto" style="width:100%" ;>
                            <option value="0">Select Price Applies To</option>
                        </select>
                        <span class="text-danger ddl_Applicableto_validation"></span>
                    </div>



                    <div class='form-group date' id='datetimepicker1'>
                        <label class="control-label ">DeadLine Date</label>
                        <input type='text' class="form-control txt_deadlinedate" id="txt_deadlinedate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="text-danger txt_deadlinedate_validation"></span>
                    </div>



                    <div class="form-group" id="chkmandatory">
                        <label class="control-label">Mandatory</label>
                        <input type="checkbox" id="chk_mandatory" class="chk_mandatory" />
                        <span class="text-danger"></span>
                    </div>





                    <div class="form-group modal-footer">

                        <button type="button" id="btn_cancel" style="width: 100px;" onclick="Close_Popup()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-close"></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>
                        <button type="button" id="btn_saveupdate" style="width: 100px;" onclick="SaveData()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  SAVE&nbsp;&nbsp;</button>
                    </div>
                    @*</form>*@
                </div>
                <input type="hidden" id="hdn_id" />
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 80px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 30px;
        cursor: pointer;
        /*font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 8px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #1cc88a;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>



<script src="~/js/jquery-3.5.1.min.js"></script>
@*<script src="~/js/sweetalert.min.js"></script>
    <link href="~/js/sweet-alert.css" rel="stylesheet" />*@
<link href="~/js/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/js/datetimepicker/bootstrap-datetimepicker.js"></script>

<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://unpkg.com/simplebar@latest/dist/simplebar.css' rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>


<script>

    function resetmsg() {
        $('.txt_name_validation').text('');
    }


    $('.chk_checkbox').change(function () {

        var id = $('.chk_checkbox:checked').closest('tr').prop('id');
        var count = $('#dataTable').find(".chk_checkbox:checked").length;
        $('.count_selectedrows').text(count + ' Selected')
        var totalrows = $('#dataTable tbody tr').length;

        if (totalrows != count) {
            $('#ckbCheckAll').prop('checked', false);
        }
        else if (totalrows = count) {
            $('#ckbCheckAll').prop('checked', true);
        }
        if (count == 1) {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
        }
        else if (count > 1) {
            $('.edit_lnk').addClass('disabled');
            // $('.delete_lnk').addClass('disabled');
        }
        else {
            $('.edit_lnk').removeClass('disabled');
            $('.delete_lnk').removeClass('disabled');
        }
        EditData(id);
        $('#btn_saveupdate').text('UPDATE');
        $('#hdn_id').val(id);
    })

    





    function SaveData() {
        debugger;

        var Session = $('#ddl_session option:selected').val();
        var FeesType = $('#ddl_feestype option:selected').val();
        var Applicableto = $('#ddl_Applicableto option:selected').val();

        if (Session == '0') {
            $('.ddl_session_validation').text('Select Academic Session');
            $('#ddl_session').focus();
        }
        else if (FeesType == '0') {
            $('.ddl_feestype_validation').text('Select Fee');
            $('#ddl_feestype').focus();
        }
        else if (Applicableto == '0') {
            $('.ddl_Applicableto_validation').text('Select  Price Applies To');
            $('#ddl_Applicableto').focus();
        }
        else {
            if ($('#btn_saveupdate').text() == 'SAVE') {
                var chk_YN = '';
                if ($("#chk_mandatory").is(':checked')) {
                    chk_YN = 'true';  // checked
                }
                else {
                    chk_YN = 'false';
                }
                var DeadLinedate = $('#txt_deadlinedate').val();

                var sessionFeesType = {
                    Active: '1',
                    SessionId: $('#ddl_session option:selected').val(),
                    FeesTypeId: $('#ddl_feestype option:selected').val(),
                    ApplicableId: $('#ddl_Applicableto option:selected').val(),
                    Deadlinedate: DeadLinedate,
                    IsMandatory: chk_YN,
                    ID: '0'


                };
                $.ajax({
                    url: "../SessionFeesType/SaveOrUpdateSessionFeesType",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'sessionFeesType': sessionFeesType },
                    dataType: 'json',
                    // async: false,


                    success: function (response) {
                        debugger;
                        if (response.returnMsg == 'Records already Exists !!!') {
                            //swal({
                            //    text: response.returnMsg,
                            //    icon: 'failure',
                            //});
                            swal({ title: "SessionFeesType", text: response.returnMsg, type: "error" },
                                function () {
                                    location.reload();
                                }
                            );
                        } else {
                            //swal({
                            //    text: response.returnMsg,
                            //    icon: 'success',
                            //});
                            swal({ title: "SessionFeesType", text: response.returnMsg, type: "success" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        $('#mclose').click();
                        Reset();
                        //Refresh();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            //swal({
                            //    text: response.returnMsg,
                            //    icon: 'failure',
                            //});
                            swal({ title: "SessionFeesType", text: response.returnMsg, type: "error" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        //swal({
                        //    text: response.returnMsg,
                        //    icon: 'failure',
                        //});
                        swal({ title: "SessionFeesType", text: response.returnMsg, type: "error" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                });

            }
            else {

                var chk_YN = '';
                if ($("#chk_mandatory").is(':checked')) {
                    chk_YN = 'true';  // checked
                }
                else {
                    chk_YN = 'false';
                }

                var UpdateSessionfeesTypePrice = {
                    Active: '1',
                    SessionId: $('#ddl_session option:selected').val(),
                    FeesTypeId: $('#ddl_feestype option:selected').val(),
                    ApplicableId: $('#ddl_Applicableto option:selected').val(),
                    Deadlinedate: $('#txt_deadlinedate').val(),
                    IsMandatory: chk_YN,
                    ID: $('#hdn_id').val()

                };
                $.ajax({
                    url: "../SessionFeesType/Update",
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: { 'UpdateSessionfeesTypePrice': UpdateSessionfeesTypePrice },
                    dataType: 'json',
                    // async: false,


                    success: function (response) {
                        // debugger;
                        //swal({
                        //    text: response.returnMsg,
                        //    icon: 'success',
                        //});
                        swal({ title: "SessionFeesType", text: response.returnMsg, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                        $('#mclose').click();
                        Reset();
                        // Refresh();
                    },
                    failure: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 404) {
                            //swal({
                            //    text: response.returnMsg,
                            //    icon: 'failur',
                            //});
                            swal({ title: "SessionFeesType", text: response.returnMsg, type: "error" },
                                function () {
                                    location.reload();
                                }
                            );
                        }
                        //swal({
                        //    text: response.returnMsg,
                        //    icon: 'failur',
                        //});
                        swal({ title: "SessionFeesType", text: response.returnMsg, type: "error" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                });
            }
        }
        function SplitDate11(str) {
            const parts = str.split("T")[0];
            const obj = parts.split("-");
            str = obj[2] + '/' + obj[1] + '/' + obj[0];
            return str;
        }
    }

    function Reset() {
        $('#ddl_feestype option:selected').val('0');
        $('#ddl_Applicableto option:selected').val('0');
    }

    function Close_Popup() {
        $('#mclose').click();
        $('#mclose').modal('hide');
        $('#ddl_feestype option:selected').val('0');
        $('#ddl_Applicableto option:selected').val('0');
        location.reload();
    }


    function CreateData() {
        $('#myModalLabel2').text('Add Map To Session');
        $('#btn_saveupdate').text('SAVE');
       // Reset();
        $('#chk_mandatory').prop('disabled', false);
        $('#select2-ddl_feestype-container').text('Select Fee');
        $('#select2-ddl_Applicableto-container').text('Select Price Applies To');
        $('#ddl_feestype option:selected').val('0');
        $('#ddl_Applicableto option:selected').val('0');
    }
    function EditData(id) {
        // debugger;
        $('#myModalLabel2').text('Edit Map To Session');
        var Name = $('#txt_name').val();
        if (Name == '') {
            $('.txt_name_validation').text('Please Enter Name');
            $('#txt_name').focus();
        }
        else {
            $('.txt_name_validation').text('');
        }
        $.ajax({
            url: '../SessionFeesType/CreateOrEditSessionFeeType/' + id,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
               // debugger;
                // $('#txt_price').val(data.price.toFixed(2));
                $('#hdn_id').val(data.id);

                $('#divSession').find($('#ddl_session [value=' + data.sessionId + ']').attr('selected', 'true'));
                var optionText = $("#divSession option:selected").text();
                $('#select2-ddl_session-container').text(optionText);


                $('#divfeestypeprice').find($('#ddl_feestype [value=' + data.feesTypeId + ']').attr('selected', 'true'));
                var optionText = $("#ddl_feestype option:selected").text();
                $('#select2-ddl_feestype-container').text(optionText);

                $('#divfeestypeApplicable').find($('#ddl_Applicableto [value=' + data.applicableId + ']').attr('selected', 'true'));
                var optionText = $("#ddl_Applicableto option:selected").text();
                $('#select2-ddl_Applicableto-container').text(optionText);

                $('#txt_deadlinedate').val(SplitDate(data.deadlinedate));

                var Chk_Mandatory = data.isMandatory;

                if (Chk_Mandatory == true) {
                    $('#chk_mandatory').prop('checked', 'checked');
                }
                else {
                    $('#chk_mandatory').prop('checked', '');
                }

                $('#chk_mandatory').prop('disabled', true);


            }
        });
    }
    function Delete() {
        debugger;
        var count = $('#dataTable').find("input[type='checkbox']:checked").length;
        if (count == 1) {

            var id = $('#hdn_id').val();
            $.ajax({
                url: '../SessionFeesType/DeleteSessionFeesType/' + id,
                type: "GET",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (data) {
                    //debugger;
                    Refresh();
                }
            });
        }
        else {

            var Ids = [];
            $('#dataTable').find("input[type='checkbox']:checked").each(function () {
                Ids.push($(this).val());
            });

            $.each(Ids, function (index, id) {
                //debugger;
                $.ajax({
                    url: '../SessionFeesType/DeleteSessionFeesType/' + id,
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    dataType: "json",
                    success: function (data) {
                        //debugger;
                        Refresh();
                    }
                });
            });

        }
    }
    function Refresh() {
        window.location.reload();
    }
    function SplitDate(str) {
        const parts = str.split("T")[0];
        const obj = parts.split("-");
        str = obj[2] + '/' + obj[1] + '/' + obj[0];
        return str;
    }
    function ActiveLink() {
        debugger;
        var ids = [];
        var status = "ACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../SessionFeesType/ActiveDeactiveSessionFeesType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    swal({ title: "Map To Session", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }
    function DeactiveLink() {
        debugger;
        var ids = [];
        var status = "DEACTIVE";
        $('input[name="tableCheck"]:checked').each(function () {
            ids.push($(this).val());
            $.ajax({
                url: '../SessionFeesType/ActiveDeactiveSessionFeesType',
                type: "GET",
                data: { 'id': $(this).val(), 'IsActive': status, },
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    swal({ title: "Map To Session", text: response.returnMsg, type: "success" },
                        function () {
                            location.reload();
                        }
                    );

                }
            });
        });

    }


</script>


<script type="text/javascript">

    $('.txt_deadlinedate').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: 'dd/mm/yyyy',
        startDate: truncateDate(new Date())
    });

    //$('.txt_enddate').datetimepicker({
    //    language: 'fr',
    //    weekStart: 1,
    //    todayBtn: 1,
    //    autoclose: 1,
    //    todayHighlight: 1,
    //    startView: 2,
    //    minView: 2,
    //    forceParse: 0,
    //    format: 'dd/mm/yyyy',
    //    startDate: truncateDate(new Date())
    //});

    function truncateDate(date) {
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
    }
</script>

<script>
    $(document).ready(function () {

        $('.edit_lnk').addClass('disabled');
        $('.Deacitve_lnk').addClass('disabled');
        $('.Acitve_lnk').addClass('disabled');
        debugger;
        $.ajax({
            url: '../SessionFeesType/Get_All_FeesType',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                     debugger;
                    if (item.parentFeeTypeName != null) {
                        $('#ddl_feestype').append(
                            $('<option></option>').val(item.id).html(item.parentFeeTypeName + '-->' + item.name)
                        );
                    }
                    else {
                        $('#ddl_feestype').append(
                            $('<option></option>').val(item.id).html(item.name)
                        );
                    }

                });
            }
        });

        $.ajax({
            url: '../FeesTypePrice/AcademicSession',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    // debugger;
                    $('#ddl_session').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    if (item.isAvailable == true) {
                        $('#divSession').find($('#ddl_session [value=' + item.id + ']').attr('selected', 'true'));
                        var optionText = $("#divSession option:selected").text();
                        $('#select2-ddl_session-container').text(optionText);
                        $('#ddl_session').attr('disabled', true);
                    }

                });
            }
        });


        $.ajax({
            url: '../SessionFeesType/Get_FeesTypeApplicable',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    debugger;
                    $('#ddl_Applicableto').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );

                    if (item.isAvailable == true) {
                        $('#divfeestypeApplicable').find($('#ddl_Applicableto [value=' + item.id + ']').attr('selected', 'true'));
                        var optionText = $("#divfeestypeApplicable option:selected").text();
                        $('#select2-ddl_Applicableto-container').text(optionText);
                    }

                });
            }
        });







        var d = new Date();
        var day = ('0' + d.getDate()).slice(-2);
        var month = ('0' + (d.getMonth() + 1)).slice(-2);
        var year = d.getFullYear();
        var n = day + '/' + month + '/' + year;
        $(".txt_deadlinedate").val(n);
        // $(".txt_enddate").val(n);

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
            } else {
                $(".chk_checkbox").prop("checked", false);
            }

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected')
            if (count == 1) {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                // $('.delete_lnk').addClass('disabled');
            }
            else {
                $('.edit_lnk').removeClass('disabled');
                $('.delete_lnk').removeClass('disabled');
            }
        });

        $('#ckbCheckAll').click(function () {
            if ($(this).prop("checked")) {
                $(".chk_checkbox").prop("checked", true);
                $("input:checkbox[name=tableCheck]:checked").each(function () {
                    var id = this.value;
                    var count = $('#dataTable').find(".chk_checkbox:checked").length;
                    $('.count_selectedrows').text(count + ' Selected');
                    var value = $(this).data("active");
                    Ids.push(value);
                    $('.edit_lnk').addClass('disabled');
                    var FirstVal = Ids[0];
                    for (var j = 0; j < Ids.length; j++) {

                        if (Ids[j] == FirstVal) {
                            if (FirstVal == "ACTIVE") {
                                $('.Acitve_lnk').addClass('disabled');
                                $('.Deacitve_lnk').removeClass('disabled');
                            }
                            else {
                                $('.Acitve_lnk').removeClass('disabled');
                                $('.Deacitve_lnk').addClass('disabled');
                            }

                        }
                        else {
                            FirstVal = "";
                            $('.Deacitve_lnk').addClass('disabled');
                            $('.Acitve_lnk').addClass('disabled');
                        }
                    }

                });
            } else {
                $(".chk_checkbox").prop("checked", false);
                var count = $('#dataTable').find(".chk_checkbox:checked").length;
                $('.count_selectedrows').text(count + ' Selected');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');
                $('.edit_lnk').addClass('disabled');
            }
        });

        $('.dataTables_paginate paging_simple_numbers').hide();
        $('.pagination-container').hide();


        //$("#dataTable").DataTable({
        //    "processing": true, // for show progress bar
        //    "serverSide": true, // for process server side
        //    "filter": true, // this is for disable filter (search box)
        //    "orderMulti": false, // for disable multiple column at once
        //    "ordering": true,
        //    "ajax": {
        //        "url": "/SessionFeesType/LoadDataSessionFeesType",
        //        "type": "POST",
        //        "datatype": "json",
        //    },
        //    "columns": [

        //        {
        //            "render": function (data, type, full, meta) { return '  <label class="container" style="width:0px!important"><input type="checkbox" name="tableCheck" data-active="' + full.status + '" value="' + full.id + '" class="chk_checkbox"><span class="checkmark"></span></label>'; }, "orderable": false, "targets": 0
        //        },
        //        {
        //            data: 'session'
        //        },
        //        {
        //            data: 'feesType'
        //        },
        //        {
        //            data: 'parentFeesType'
        //        },
        //        {
        //            data: 'mandatory'
        //        },
        //        {
        //            data: 'applicableTo'
        //        },
        //        {
        //            data: 'deadlineDate'
        //        },
        //        { data: 'status' },
        //    ]
        //});



        var Ids = [];
        $(document).on('change', '.chk_checkbox', function () {
            debugger;
            var id = this.value;
            var value = $(this).data("active");

            var count = $('#dataTable').find(".chk_checkbox:checked").length;
            $('.count_selectedrows').text(count + ' Selected');
            var totalrows = $('#dataTable tbody tr').length;

            if (totalrows != count) {
                $('#ckbCheckAll').prop('checked', false);
            }
            else if (totalrows = count) {
                $('#ckbCheckAll').prop('checked', true);
            }
            if (this.checked == true) {
                Ids.push(value);

            }
            else {

                Ids.splice($.inArray(value, Ids), 1);

            }
            if (count == 1) {
                if (Ids[0] == "ACTIVE") {
                    $("#hdnStatus").val(id);


                    $('.Acitve_lnk').addClass('disabled');
                    $('.Deacitve_lnk').removeClass('disabled');
                }
                else {
                    $("#hdnStatus").val(id);
                    $('.Deacitve_lnk').addClass('disabled');
                    $('.Acitve_lnk').removeClass('disabled');
                }
                $('.edit_lnk').removeClass('disabled');

            }
            else if (count > 1) {
                $('.edit_lnk').addClass('disabled');
                var FirstVal = Ids[0];
                for (var j = 0; j < Ids.length; j++) {

                    if (Ids[j] == FirstVal) {
                        if (FirstVal == "ACTIVE") {
                            $('.Acitve_lnk').addClass('disabled');
                            $('.Deacitve_lnk').removeClass('disabled');
                        }
                        else {
                            $('.Acitve_lnk').removeClass('disabled');
                            $('.Deacitve_lnk').addClass('disabled');
                        }

                    }
                    else {
                        FirstVal = "";
                        $('.Deacitve_lnk').addClass('disabled');
                        $('.Acitve_lnk').addClass('disabled');
                    }
                }

            }
            else {
                $('.edit_lnk').addClass('disabled');
                $('.Deacitve_lnk').addClass('disabled');
                $('.Acitve_lnk').addClass('disabled');

            }
        });





    });
</script>

<script>
    function uploadFiles() {
        //debugger;
        var formData = new FormData();
        var totalFiles = document.getElementById("file").files.length;
        var file = document.getElementById("file").files[0];
        formData.append("file", file);

        $.ajax(
            {
                url: "../SessionFeesType/UploadSessionFeesType",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {
                    // debugger;
                    if (data == "Excel uploaded successfully") {
                        //swal({
                        //    title: "Bulk Upload",
                        //    text: data,
                        //    icon: "success"
                        //})
                        swal({ title: "SessionFeesType", text: data, type: "success" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                    else {
                        //swal({
                        //    title: "Bulk Upload",
                        //    text: data,
                        //    icon: "error"
                        //})
                        swal({ title: "SessionFeesType", text: data, type: "error" },
                            function () {
                                location.reload();
                            }
                        );
                    }
                }
            });
    }


</script>
