﻿
@{
    ViewData["Title"] = "Authority";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.Authoritycls>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
        <li class="breadcrumb-item"><a asp-action="HR" asp-controller="Layout">HR</a></li>
        <li class="breadcrumb-item active" aria-current="page">Authority</li>
    </ol>
</nav>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Authority</h1>
    <a href="/Master/CreateOrEditAuthority" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Country</th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.AuthorityTypeName
                                    </td>
                                    <td>
                                        @item.ModifiedDate.ToString("dd MMM yyyy")
                                    </td>
                                    <td>
                                        <a asp-action="CreateOrEditAuthority" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                        <a asp-action="DeleteAuthority" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this State?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

