﻿
@{
    ViewData["Title"] = "BloodGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.BloodGroup>


    <div class="row holder-breadcrumb">
         
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white" >
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">BloodGroup</li>
            </ol>
        </nav>
    </div>

 

   
        <div class="row">

            <div class="container-fluid">
                <div class="card  mb-4 bg-white">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                        <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Blood Group</h1>

                        <div>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBloodGroup" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>
                            <a href="/Master/CreateOrEditBloodGroup" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                        </div>
                    </div>


                    <div class="row">

                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <!-- DataTales Example -->
                            @*<div class="card shadow mb-4">*@
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                            @item.Name
                                                        </td>
                                                        <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                            @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                        </td>
                                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                            &nbsp;&nbsp;
                                                            <a title="Edit" asp-action="CreateOrEditBloodGroup" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>  
                                                            <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                            <a class="one-time-add" title="Delete" asp-action="DeleteBloodGroup" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Blood Group?');"><i class="fas fa-trash"></i></a>
                                                            @*@Html.ActionLink("DeleteCountry", "Master", new { id = item.ID },
        new { onclick = "return confirm('Are you sure you wish to delete this country?');" })*@
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            @*</div>*@

                        </div>
                        <!-- /.container-fluid -->
                    </div>

                </div>
            </div>
        </div>
 
    

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Upload Excel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="UploadBloodGroup" enctype="multipart/form-data" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        Download Sample Excel
                                    </div>
                                    <div class="col-md-8">
                                        <a href="/Master/downloadBloodGroupSample">Click Here</a>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Upload Excel
                                    </div>
                                    <div class="col-md-8">
                                        <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="form-group text-center">
                                    <input type="submit" class="btn btn-primary" value="Upload Excel" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <style>
                .close {
                    padding: 0.80rem 1.5rem !important;
                    outline: none !important;
                }

                .modal-header {
                    height: 45px;
                    padding: 10px 5px;
                }
            </style>
