﻿
@{
    ViewData["Title"] = "ClassTiming";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using System.Globalization;
@model IEnumerable<OdmErp.Web.Models.ClassTimingcls>

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Class Timing</li>
        </ol>
    </nav>
</div>




<!-- Page Heading -->

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Class Timing</h1>

                <div>
                    <a href="/Master/CreateOrEditClassTiming" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>


            <!-- Content Row -->
            <div class="row">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    @*<div class="card shadow mb-4">*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Start Time</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">End Time</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Availability</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Name
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(DateTime.ParseExact(item.StartTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(DateTime.ParseExact(item.EndTime.ToString().Substring(0, 5), "HH:mm", CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.IsAvailable == true ? "Available" : "Not Available")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.Active == true ? "Active" : "InActive")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    &nbsp;&nbsp;
                                                    @if (item.Active == true)
                                                    {
                                                        <a title="Edit" asp-action="CreateOrEditClassTiming" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                                        <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                        <a class="one-time-add" title="Delete" asp-action="DeleteClassTiming" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Class Timing?');"><i class="fas fa-trash"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*</div>*@

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>

