﻿
@{
    ViewData["Title"] = "ContactType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Entities.MasterAggregate.ContactType>
    <!--Upload And Download Excel-->
    <div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Download Excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="UploadContactType" method="post" enctype="multipart/form-data">

                        <div class="row form-group">
                            <div class="col-md-4">
                                Download Sample
                            </div>
                            <div class="col-md-8">
                                <a href="/Master/DownloadContactTypeSample">Click Here</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4">
                                Upload Excel
                            </div>
                            <div class="col-md-8">
                                <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                            </div>
                        </div>

                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>

            </ol>
        </nav>
    </div>

    <!-- Page Heading -->
    <!-- Content Row -->

    <div class="row">
        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Contact Type</h1>
                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Name
                                            </td>

                                            @if (item.Status == "ACTIVE")
                                            {
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Status
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                                    @item.Status
                                                </td>
                                            }
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedDate.ToString("yyyy-MM-dd")
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                                <a title="Delete" asp-action="DeleteContactType" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Contact Type?');"><i class="fas fa-trash"></i></a>

                                                <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5>Create Contact Type</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form asp-action="SaveOrUpdateContactType" method="post">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            Name
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <input type="hidden" name="ID" value="@item.ID" class="form-control" />
                                                                            <input type="text" name="Name" value="@item.Name" maxlength="300" class="form-control" />
                                                                        </div>
                                                                    </div>

                                                                    <div class="clearfix" style="margin-bottom:10px;"></div>

                                                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                                                    <div class="form-group text-center">
                                                                        <input type="submit" class="btn btn-primary" value="Update" />
                                                                    </div>
                                                                </form>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Create Contact Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form asp-action="SaveOrUpdateContactType" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                Name
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="Name" maxlength="300" class="form-control" />
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>

                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <style>
        .close {
            padding: 0.80rem 1.5rem !important;
            outline: none !important;
        }

        .modal-header {
            height: 45px;
            padding: 10px 5px;
        }
    </style>


