﻿
@{
    ViewData["Title"] = "CreateOrEditState";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Statecls

    <div class="row holder-breadcrumb">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="State" asp-controller="Master">State</a></li>
                @if (Model.ID > 0)
                {
                    <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
                }
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
            </ol>
        </nav>
    </div>


 


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New State</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit State</span>
                }
            </div>
            @*<div class="col-6" style="text-align-last:right">



                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success" style="margin-right:6rem"><i class="fas fa-check"></i>&nbsp;@ViewBag.status</button>
                        <a asp-action="Country" class="d-none d-sm-inline-block btn btn-sm btn-success "><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                </div>*@
        </div>
    </div>
        
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateState">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label font-weight-bold"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryID" class="control-label font-weight-bold"></label>
                        <select asp-for="CountryID" class="form-control" asp-items="@(new SelectList(Model.countries,"ID","Name"))"></select>
                        <span asp-validation-for="CountryID" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div> 
