﻿
@{
    ViewData["Title"] = "CreateOrEditDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style-type: none;
        margin: 3px;
    }

        ul.checktree li:before {
            height: 1em;
            width: 12px;
            border-bottom: 1px dashed;
            content: "";
            display: inline-block;
            top: -0.3em;
        }

        ul.checktree li {
            border-left: 1px dashed;
        }

            ul.checktree li:last-child:before {
                border-left: 1px dashed;
            }

            ul.checktree li:last-child {
                border-left: none;
            }
</style>
@model OdmErp.Web.Models.Departmentcls
<h3>Department</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateDepartment">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="GroupID" />
                        <input type="hidden" asp-for="OrganizationID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name of the Department or Sub-Department" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
            <label asp-for="DepartmentType" class="control-label"></label>
            <select asp-for="DepartmentType" class="form-control">
                <option value="0">Select Department Type</option>
                <option value="1">Group Type</option>
                <option value="2">Organization Type</option>
            </select>
            <span asp-validation-for="DepartmentType" class="text-danger"></span>
        </div>
        <div class="form-group"  id="groupDiv">
            <label asp-for="GroupID" class="control-label">Group</label>
            <select asp-for="GroupID" class="form-control">
                <option value="null">Select Group</option>
                @if (Model.groups != null)
                {
                    foreach (var a in Model.groups)
                    {
                        <option value="@a.ID">@a.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="GroupID" class="text-danger"></span>
        </div>
        <div class="form-group"  id="organizationDiv">
            <label asp-for="OrganizationID" class="control-label">Organization</label>
            <select asp-for="OrganizationID" class="form-control">
                <option value="null">Select Organisation</option>
                @if (Model.organizations != null)
                {
                    foreach (var a in Model.organizations)
                    {
                        <option value="@a.ID">@a.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="OrganizationID" class="text-danger"></span>
        </div>*@

                        <div class="form-group" id="divdepartment">
                            <label asp-for="ParentID" class="control-label"></label>
                            <select asp-for="ParentID" class="form-control">
                                <option value="0">Select Department</option>
                                @if (Model.departments != null)
                                {
                                    foreach (var a in Model.departments)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="ParentID" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="Department" asp-route-id="@ViewBag.TypeId" asp-route-type="@ViewBag.Type" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>

        ////$(document).ready(function () {
        ////       var value = $('#DepartmentType').val();
        ////    if (value == '1') {
        ////        $('#groupDiv').show();
        ////        $('#organizationDiv').hide();
        ////    }
        ////    else if (value == '2') {
        ////        $('#groupDiv').hide();
        ////        $('#organizationDiv').show();
        ////    }
        ////    else {
               
        ////                $('#groupDiv').hide();
        ////                $('#organizationDiv').hide();

                  
        ////    }

        ////    $('#OrganizationID').change(function () {
        ////        if ($('#OrganizationID').val() != null)
        ////        {
        ////            var value = $('#DepartmentType').val();
        ////            var id;
        ////            if (value == '1') {
        ////                 id= $('#GroupID').val()
        ////            }
        ////            else
        ////                if (value == '2') {
        ////                 id= $('#OrganizationID').val()
        ////            }

        ////            $.get('/Master/GetDepartmentByIdAndType', { id: id,type:value,deptId: $('#ID').val() }, function (data) {
        ////                $('#ParentID').empty();
        ////                $('#ParentID').append('<option value=null>Select Department</option>');
        ////                if (data.length > 0) {
        ////                    $.each(data, function (index, value) {
        ////                        $('#ParentID').append('<option value="' + value.id + '">' + value.name + '</option>');
        ////                    })
        ////                }
        ////            })
        ////        }
        ////    })

        ////    $('#GroupID').change(function () {
        ////        if ($('#GroupID').val() != null)
        ////        {
        ////            var value = $('#DepartmentType').val();
        ////            var id;
        ////            if (value == '1') {
        ////                 id= $('#GroupID').val()
        ////            }
        ////            else
        ////                if (value == '2') {
        ////                 id= $('#OrganizationID').val()
        ////                }

                    

        ////            $.get('/Master/GetDepartmentByIdAndType', { id: id,type:value,deptId: $('#ID').val()}, function (data) {
        ////                $('#ParentID').empty();
        ////                $('#ParentID').append('<option value=null>Select Department</option>');
        ////                if (data.length > 0) {
        ////                    $.each(data, function (index, value) {
        ////                        $('#ParentID').append('<option value="' + value.id + '">' + value.name + '</option>');
        ////                    })
        ////                }
        ////            })
        ////        }
        ////    })

        ////     $('#DepartmentType').change(function () {
        ////        if ($('#DepartmentType').val() != null) {
        ////            var value = $('#DepartmentType').val();
        ////            if (value == '0') {
        ////                $('#groupDiv').hide();
        ////                $('#organizationDiv').hide();

        ////            }
        ////            else
        ////                  if (value == '1') {
        ////                        $('#groupDiv').show();
        ////                $('#organizationDiv').hide();
        ////                  }
        ////                  else  if (value == '2') {
        ////                        $('#groupDiv').hide();
        ////                $('#organizationDiv').show();
        ////            }
        ////        }
        ////    })
        ////})
    </script>