﻿
@{
    ViewData["Title"] = "CreateOrEditBank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.CommonMasterModel

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Bank" asp-controller="Master">Bank</a></li>
                @if (Model.ID > 0)
                {
                 <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
                }
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
            </ol>
        </nav>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-header bg-white ">
                    <div class="row">
                        <div class="col-6">
                            @if (@ViewBag.status == "Create")
                            {
                                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Bank</span>
                            }
                            else
                            {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Bank</span>
                            }
                        </div>                        
                    </div>
                 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <form asp-action="SaveOrUpdateBank">
                                <input type="hidden" asp-for="ID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label font-weight-bold"></label>
                                    <input asp-for="Name" class="form-control font-weight-normal" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>

