﻿
@{
    ViewData["Title"] = "CreateOrEditOrganisation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Organisationcls
@if (ViewBag.GroupId == 0)
{

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item"><a asp-action="Organisation" asp-controller="Master">Organization </a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
}
else
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item"><a asp-action="Group" asp-controller="Master">Group</a></li>
          
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Group</li>
            <li class="breadcrumb-item"><a asp-action="Organisation" asp-controller="Master" asp-route-id="@ViewBag.GroupId">Organization </a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
}


<h3>Organization</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateOrganisation">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="GroupID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="GroupID" class="control-label"></label>
                            <select asp-for="GroupID" class="form-control" asp-items="@(new SelectList(Model.groups,"ID","Name"))"></select>
                            <span asp-validation-for="GroupID" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <div class="row">
                                <label asp-for="OrganizationTypeID" class="control-label col-10"></label>
                                <a asp-action="CreateOrEditOrganizationType" asp-controller="Master" class="d-none d-sm-inline-block col-2"><i class="fas fa-add fa-sm text-white-50"></i>ADD</a>
                            </div>

                            <select asp-for="OrganizationTypeID" class="form-control" asp-items="@(new SelectList(Model.OrganizationTypes,"ID","Name"))"></select>
                            <span asp-validation-for="OrganizationTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="Organisation" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

