﻿
@{
    ViewData["Title"] = "CreateOrEditStream";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Streamcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Stream" asp-controller="Master">Stream</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

 
    <div class="card">
        <div class="card-header">

            @if (@ViewBag.status == "Create")
            {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Stream</span>
            }
            else
            {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Stream</span>
            }

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateStream">
                        @if (Model.ID > 0)
                        {
                            <input type="hidden" asp-for="ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label font-weight-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="status" class="control-label">Status</label>
                                <select asp-for="status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label font-weight-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        }
                        @*<div class="form-group">
            <label asp-for="StandardID" class="control-label"></label>
            <select asp-for="StandardID" class="form-control" asp-items="@(new SelectList(Model.Standards,"ID","Name"))"></select>
            <span asp-validation-for="StandardID" class="text-danger"></span>
        </div>*@
                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
 

