﻿
@{
    ViewData["Title"] = "CreateOrEditStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Standardcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>

            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Standard" asp-controller="Master">Standard</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

  
    <div class="card">
        <div class="card-header bg-white">

            @if (@ViewBag.status == "Create")
            {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Class</span>
            }
            else
            {
               <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Class</span>
            }

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateStandard" method="post">
                        @if (Model.ID > 0)
                        {
                            <input type="hidden" asp-for="ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label font-weight-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label asp-for="BoardID" class="control-label"></label>
                                <input asp-for="BoardID" value="" class="form-control" />
                                <span asp-validation-for="BoardID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label">Status</label>
                                <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="StreamType" class="control-label font-weight-bold">This Class Having Streams</label>&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" asp-for="StreamType" />
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="ID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label font-weight-bold"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label asp-for="BoardID" class="control-label"></label>
                                <input asp-for="BoardID" value="" class="form-control" />
                                <span asp-validation-for="BoardID" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="StreamType" class="control-label font-weight-bold">This Class Having Streams</label>&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" asp-for="StreamType" />&nbsp;&nbsp;&nbsp;
                                <span style="width:20%;" title="Please Select This Option Only If The Class Having Streams.Otherwise Don't Select."><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            </div>
                        }
                        <div class="form-group text-center">
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
 
