﻿
@{
    ViewData["Title"] = "CreateOrEditDesignation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Designationcls

@if (ViewBag.Type == "Group")
{

    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Department" asp-route-id="@ViewBag.GroupId" asp-route-type="@ViewBag.Type" asp-controller="Master">Department</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Dept</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Designation" asp-route-deptId="@ViewBag.DeptId" asp-route-type="@ViewBag.Type" asp-controller="Master">Designations</a></li>

                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
            </ol>
        </nav>
    </div>




}
else
{
    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>

                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" ria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Organisation" asp-controller="Master" asp-route-id="@ViewBag.GroupId">Organizations</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Organization</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Department" asp-route-id="@ViewBag.OrganizationId" asp-route-type="@ViewBag.Type" asp-controller="Master">Department</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Dept</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Designation" asp-route-deptId="@ViewBag.DeptId" asp-route-type="@ViewBag.Type" asp-controller="Master">Designations</a></li>

                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
            </ol>
        </nav>
    </div>



}

@*<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Designation" asp-controller="Master">Designation</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>*@
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    @if (@ViewBag.status == "Create")
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Designation</span>
                    }
                    else
                    {
                        <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Designation</span>
                    }
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateDesignation">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label font-weight-bold"></label>
                            <input asp-for="Name" class="form-control font-weight-normal" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="DepartmentID" />
                        @*<div class="form-group" hidden>
                            <label asp-for="DepartmentID" class="control-label font-weight-bold"></label>
                            <select asp-for="DepartmentID" class="form-control font-weight-normal" asp-items="@(new SelectList(Model.departments,"ID","Name"))"></select>
                            <span asp-validation-for="DepartmentID" class="text-danger"></span>
                        </div>*@
                        @*<div class="form-group" hidden>
                            <label asp-for="DesignationLevelID" class="control-label font-weight-bold"></label>
                            <select asp-for="DesignationLevelID" class="form-control font-weight-normal" asp-items="@(new SelectList(Model.designationLevels,"ID","Name"))"></select>
                            <span asp-validation-for="DesignationLevelID" class="text-danger"></span>
                        </div>*@
                        <div class="form-group text-center">
                            @*<a asp-action="Designation" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

