﻿
@{
    ViewData["Title"] = "CreateOrEditSchoolWing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Schoolwingcls

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSession" asp-controller="School">Session</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.AcademicSessionName</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="OraganizationAcademic" asp-controller="School" asp-route-SessionId="@ViewBag.AcademicSessionId">Organisation </a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.OrganisationName</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolWing" asp-controller="Master" asp-route-AcademicSessionId="@ViewBag.AcademicSessionId" asp-route-OrganizationAcademicID="@ViewBag.OrganizationAcademicId">SchoolWing</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
                @if (Model.ID > 0)
                {
                    <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@Model.ID</li>
                }
            </ol>
        </nav>
    </div>
 
 
    <div class="card">
        <div class="card-header bg-white">
            
                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New School Wing</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit School Wing</span>
                }
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateSchoolWing">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="AcademicSessionId" />
                        <input type="hidden" asp-for="OrganizationAcademicID" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        @if (ViewBag.status == "Create")
                        {
                            <div class="form-group">
                                <label asp-for="MultiWingID" class="control-label font-weight-bold">Wing</label>
                                <select asp-for="MultiWingID" class="form-control" asp-items="@(new SelectList(Model.wings,"ID","Name"))"></select>
                                <span asp-validation-for="MultiWingID" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" asp-for="WingID" />
                        }


                        @if (ViewBag.status == "Update")
                        {
                                    <div class="form-group">
                                       <label class="control-label">Wing</label>
                                        <input type="text" asp-for="wingName" readonly class="form-control"/>
                                        </div>

                                <div class="form-group">
                                    <label asp-for="Status" class="control-label">Status</label>
                                    <select asp-for="Status" asp-items="@ViewBag.ALLSTATUS" class="form-control" style="width:100%;">
                                    </select>
                                </div>

                                }
                                <div class="form-group text-center">
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                                </div>
                        </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
 

