﻿
@{
    ViewData["Title"] = "CreateOrEditDepartmentLead";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.DepartmentLeadcls

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="DepartmentLead" asp-controller="Master">DepartmentLead</a></li>
            @if (Model.ID > 0)
            {
                <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@Model.ID</li>
            }
            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Department Lead</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Department Lead</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateDepartmentLead">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DepartmentID" class="control-label font-weight-bold"></label>
                        <select asp-for="DepartmentID" class="form-control">
                            <option value="null">Select Department</option>
                            @if (Model.departments != null)
                            {
                                foreach (var a in Model.departments)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="DepartmentID" class="text-danger"></span>
                    </div>

                    <div class="form-group">

                        <label asp-for="EmployeeID" class="control-label font-weight-bold"></label>
                        <select asp-for="EmployeeID" class="form-control">
                            <option value="null">Select Employee</option>
                            @if (Model.employees != null)
                            {
                                foreach (var a in Model.employees)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="EmployeeID" class="text-danger"></span>

                    </div>

                    <div class="form-group">
                        <label asp-for="IsAvailable" class="control-label font-weight-bold"></label>
                        <input asp-for="IsAvailable" type="checkbox" />
                        <span asp-validation-for="IsAvailable" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  Save&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div> 

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$(":submit").on('click', function () {
        //    debugger
        //    var $this = $(this);
        //    $this.button('loading');
        //    setTimeout(function () {
        //        $this.button('reset');
        //    }, 8000);
        //});
        $('#DepartmentID').change(function () {

            $.get('/Master/GetEmpByDeptId', { id: $('#DepartmentID').val() }, function (data) {
                $('#EmployeeID').empty();
                if (data.length > 0) {
                    $.each(data, function (i, item) {

                        $("#EmployeeID").append('<option value="' + item.id + '"> ' + item.firstName + " " + item.lastName + ' </option>');
                    });
                }
            })
        })
    })
</script>
