﻿
@{
    ViewData["Title"] = "CreateOrEditBankBranchBranch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.Bankbranchcls

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item"><a asp-action="BankBranch" asp-controller="Master">BankBranch</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>

<h3>BankBranch</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateBankBranch">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IfscCode" class="control-label"></label>
                            <input asp-for="IfscCode" class="form-control" />
                            <span asp-validation-for="IfscCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BankID" class="control-label"></label>
                            <select asp-for="BankID" class="form-control" asp-items="@(new SelectList(Model.banks,"ID","Name"))"></select>
                            <span asp-validation-for="BankID" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="BankBranch" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

