﻿
@{
    ViewData["Title"] = "DepartmentLead";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.DepartmentLeadcls>


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white" >
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">DepartmentLead</li>
        </ol>
    </nav>
</div>


    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Department Lead</h1>

                    <div>
                        @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadCity" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                        <a href="/Master/CreateOrEditDepartmentLead" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->
                        @*<div class="card shadow mb-4">*@
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Department Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Employee Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">IsAvailability</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.DepartmentName
                                                    </td>
                                                    <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.EmployeeName
                                                    </td>
                                                    <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.IsAvailable
                                                    </td>
                                                    <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    <td  class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        <a title="Edit" asp-action="CreateOrEditDepartmentLead" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                        <a title="Delete" asp-action="DeleteDepartmentLead" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Department Lead?');"><i class="fas fa-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        @*</div>*@

                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div>
    </div>

 

