﻿
@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.Departmentcls>


@if (ViewBag.Type == "Group")
{

    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Departments</li>
            </ol>
        </nav>
    </div>




    @*<div class="row holder-breadcrumb">


            <nav aria-label="col-12 breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
                    <li class="breadcrumb-item"><a asp-action="Common" asp-controller="Layout">Common</a></li>
                    <li class="breadcrumb-item"><a asp-action="Group" asp-controller="Master">Group</a></li>
                    <li class="breadcrumb-item" aria-current="page">@ViewBag.Group</li>
                    <li class="breadcrumb-item active" aria-current="page">Departments</li>
                </ol>
            </nav>
        </div>*@
}
else
{
    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>

                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" ria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Organisation" asp-controller="Master" asp-route-id="@ViewBag.GroupId">Organizations</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Organization</li>
                <li class="breadcrumb-item active active  mb-0 text-dark font-weight-bold" aria-current="page">Departments</li>
            </ol>
        </nav>
    </div>





    @*<nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a asp-action="Group" asp-controller="Master">Group</a></li>

                <li class="breadcrumb-item" ria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a asp-action="Organisation" asp-controller="Master" asp-route-id="@ViewBag.GroupId">Organizations</a></li>
                <li class="breadcrumb-item" aria-current="page">@ViewBag.Organization</li>
                <li class="breadcrumb-item active" aria-current="page">Departments</li>
            </ol>
        </nav>*@
}

<!-- Page Heading -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Department</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadDepartment" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>
                    <a asp-action="CreateOrEditDepartment" asp-controller="Master" asp-route-tid="@ViewBag.TypeId" asp-route-type="@ViewBag.Type" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
 
                </div>
            </div>




            @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Department</h1>
                    <div>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadDepartment" asp-controller="Master"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>
                        <a asp-action="CreateOrEditDepartment" asp-controller="Master" asp-route-tid="@ViewBag.TypeId" asp-route-type="@ViewBag.Type" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
                    </div>
                </div>*@
            <!-- Content Row -->
            <div class="row">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                   
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                            @if (ViewBag.Type == "Group")
                                            {
                                                <th>Group</th>
                                            }
                                            else
                                            {
                                                <th>Group</th>
                                                <th>Organization</th>
                                            }

                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Parent</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Designations</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Name
                                            </td>
                                            @if (ViewBag.Type == "Group")
                                            {

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.GroupName
                                                </td>
                                            }
                                            else
                                            {

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.GroupName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.OrganizationName
                                                </td>
                                            }



                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ParentName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.DesignationCount |
                                                <a asp-action="Designation" asp-route-deptId="@item.ID" asp-route-type="@ViewBag.Type"><i class="fas fa-plus-circle text-success"></i>View</a>
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a title="Access" asp-action="DepartmentAccess" asp-route-id="@item.ID" asp-route-eid="@ViewBag.TypeId" asp-route-type="@ViewBag.Type"><i class="fas fa-lock text-info"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                <a title="Edit" asp-action="CreateOrEditDepartment" asp-route-id="@item.ID" asp-route-tid="@ViewBag.TypeId" asp-route-type="@ViewBag.Type"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                <a title="Delete" asp-action="DeleteDepartment" asp-route-id="@item.ID" asp-route-tid="@ViewBag.TypeId" asp-route-type="@ViewBag.Type" onclick="return confirm('Are you sure you wish to delete this Department?');"><i class="fas fa-trash"></i></a>

                                            </td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Upload Excel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="UploadDepartment" asp-controller="Master" enctype="multipart/form-data" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        Download Sample Excel
                                    </div>
                                    <div class="col-md-8">
                                        <a href="/Master/downloadDepartmentSample">Click Here</a>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Upload Excel
                                    </div>
                                    <div class="col-md-8">
                                        <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="form-group text-center">
                                    <input type="submit" class="btn btn-primary" value="Upload Excel" />
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <style>
                .close {
                    padding: 0.80rem 1.5rem !important;
                    outline: none !important;
                }

                .modal-header {
                    height: 45px;
                    padding: 10px 5px;
                }
            </style>
