﻿
@{
    ViewData["Title"] = "Designation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.Designationcls>

@if (ViewBag.Type == "Group")
{

    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Department" asp-route-id="@ViewBag.GroupId" asp-route-type="@ViewBag.Type" asp-controller="Master">Department</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Dept</li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Designations</li>
            </ol>
        </nav>
    </div>




}
else
{
    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>

                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" ria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Organisation" asp-controller="Master" asp-route-id="@ViewBag.GroupId">Organizations</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Organization</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Department" asp-route-id="@ViewBag.OrganizationId" asp-route-type="@ViewBag.Type" asp-controller="Master">Department</a></li>
                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.Dept</li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Designations</li>
            </ol>
        </nav>
    </div>



}

@*<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Designation</li>
        </ol>
    </nav>
</div>*@

@*<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Designation</li>
        </ol>
    </nav>
</div>*@



<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Designation</h1>
                <div>
                    <a asp-controller="Master" asp-action="CreateOrEditDesignation" asp-route-deptId="@ViewBag.deptId" asp-route-type="@ViewBag.Type"   class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>
            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Department</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Name
                                            </td>

                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.DepartmentName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                <a title="Edit" asp-action="CreateOrEditDesignation" asp-route-id="@item.ID"  asp-route-deptId="@ViewBag.deptId" asp-route-type="@ViewBag.Type"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                <a title="Delete" asp-action="DeleteDesignation" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Designation?');"><i class="fas fa-trash"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->
</div>


