﻿
@{
    ViewData["Title"] = "DocumentType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@model IEnumerable<OdmErp.ApplicationCore.Entities.DocumentAggregate.DocumentType>*@

@model IEnumerable<OdmErp.Web.ViewModels.NameIdCountViewModel>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">DocumentType</li>
        </ol>
    </nav>
</div>


<!-- Content Row -->

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Document Type</h1>
                <div>
                    <a href="/Master/CreateOrEditDocumentType" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                </div>
            </div>
            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">DocumentSubType</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified By</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Name
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.DocSubCount |
                                                <a asp-action="DocumentSubType" asp-controller="Master" asp-route-id="@item.ID"><i class="fas fa-plus-circle text-success"></i>View</a>
                                            </td>

                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @if (item.Active == true)
                                                {
                                                    <a title="Edit" asp-action="CreateOrEditDocumentType" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                                }
                                                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                @if (item.Status == "INACTIVE")
                                                {
                                                    <a title="Active" asp-action="ChangeDocumentTypeStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status to Active?');"> <i class="fas fa-trash"></i></a>
                                                }
                                                else
                                                {
                                                    <a title="InActive" asp-action="ChangeDocumentTypeStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status to InActive?');"><i class="fas fa-trash"></i></a>
                                                }

                                                @*@Html.ActionLink("DeleteCountry", "Master", new { id = item.ID },
                                                    new { onclick = "return confirm('Are you sure you wish to delete this country?');" })*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

