﻿
@{
    ViewData["Title"] = "DocumentSubType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.DocumentSubTypecls>

@if (ViewBag.GroupId == 0)
{
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">DocumentSubType</li>
            </ol>
        </nav>
    </div>
}
else
{
    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold"><a asp-action="DocumentType" asp-controller="Master">DocumentType</a></li>

            </ol>
        </nav>
    </div>
}




@*<div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Document SubType</h1>
    <a asp-action="CreateOrEditDocumentSubType" asp-route-doctypeId="@ViewBag.GroupId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
</div>*@

<!-- Content Row -->

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Document SubType</h1>
                <a asp-action="CreateOrEditDocumentSubType" asp-route-doctypeId="@ViewBag.GroupId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
            </div>
            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Document Type</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified By</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.DocumentTypeName
                                                </td>
                                                <td>
                                                    @item.ModifiedDate.ToString("dd MMM yyyy")
                                                </td>
                                                <td>
                                                    <a asp-action="CreateOrEditDocumentSubType" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                    <a asp-action="DeleteDocumentSubType" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Document Sub Type?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                                </td>
                                            </tr>
                                        }
                                    }*@
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Name
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.DocumentTypeName
                                            </td>

                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.ModifiedName
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @item.Status
                                            </td>
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">

                                                @if (item.Active == true)
                                                {


                                                    <a  title="Edit" href="@Url.Action("CreateOrEditDocumentSubType", new { id =item.ID, doctypeId =item.DocumentTypeID })" class="btn btn-default"><i class="far fa-edit text-success"></i></a>


                                                }
                                                |&nbsp;&nbsp;&nbsp;


                                                <a title="Delete" asp-action="DeleteDocumentSubType" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Document Sub Type?');">
                                                    <i class="fas fa-trash"></i>

                                                </a>



                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
            <!-- /.container-fluid -->
        </div>

