﻿
@{
    ViewData["Title"] = "Tree View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a asp-action="HR" asp-controller="Layout">HR</a></li>
            <li class="breadcrumb-item"><a asp-action="Group" asp-controller="Master">Group</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tree View</li>
        </ol>
    </nav>    <div id="tree-simple">
       

    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
$.ajax({
                url: '/Master/GetGroupwiseTreeData',
                type: 'GET',
                //data: { reason: $("#onholdreason").val(), id: $('#srid2').val() },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    //$('#divloader').hide();
                    console.log(data);
                   var my_chart = new Treant(data);
                }
            });
        

    });
</script>