﻿
@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.ViewModels.NameIdCountViewModel>

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white" >
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Group</li>
            </ol>
        </nav>
    </div> 
 
        <div class="row">
            <div class="container-fluid">
                 <div class="card  mb-4 bg-white">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                        <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Group</h1>

                        <div>

                            <a href="/Master/GroupTreeView" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i>Tree View</a>
                            @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadCity" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                            <a href="/Master/CreateOrEditGroup" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                        </div>
                    </div>

                    <!-- Page Heading -->
                    @*<div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Group</h1>
                        <a href="/Master/GroupTreeView" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i>Tree View</a>
                        <a href="/Master/CreateOrEditGroup" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
                    </div>*@
                    <!-- Content Row -->
                    <div class="row">
                        <div class="container-fluid">
                            <!-- Page Heading -->
                            <!-- DataTales Example -->
                            @*<div class="card shadow mb-4">*@
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organizations</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Departments</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified By</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Name
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.OrgCount |
                                                        <a asp-action="Organisation" asp-controller="Master" asp-route-id="@item.ID"><i class="fas fa-plus-circle text-success"></i>View</a>
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.DeptCount |
                                                        <a asp-action="Department" asp-route-id="@item.ID" asp-route-type="Group"><i class="fas fa-plus-circle text-success"></i>View</a>
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.ModifiedName
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.Status
                                                    </td>
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">

                                                        @if (item.Active == true)
                                                        {
                                                            <a title="Edit" asp-action="CreateOrEditGroup" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>

                                                        }


                                                        @if (item.Status == "INACTIVE")
                                                        {
                                                            <a title="Active" asp-action="ChangeGroupStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status of this group to Active?');"><i class="fas fa-trash"></i></a>
                                                        }
                                                        else
                                                        {
                                                    <a title="InActive" asp-action="ChangeGroupStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status of this group to InActive?');">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i></a>
                                                        }
                                                        @*<a asp-action="GroupTreeView" asp-controller="Master" ><i class="fas fa-pen fa-sm text-black-50"></i>Tree View</a>*@

                                                        @*@Html.ActionLink("DeleteCountry", "Master", new { id = item.ID },
        new { onclick = "return confirm('Are you sure you wish to delete this country?');" })*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            @*</div>*@

                        </div>
                        <!-- /.container-fluid -->
                    </div>

                    <div id="tree-simple">


                    </div>
                </div>
            </div>
        </div>
  


