﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="row" style="border-bottom:1px solid;">
            <h3>Common</h3>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Country</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">State</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">City</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Nationality</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Religion</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row" style="border-bottom:1px solid;">
            <h3>HR</h3>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Group</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Organisation Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Organisation</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Designation Level</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Designation</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Department</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Board</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Educational Qualification Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Educational Qualification</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Role</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Module</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Sub Module</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Address Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Bank</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Bank Branch</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Document Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Document Sub Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Action</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Access Type</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row" style="border-bottom:1px solid;">
            <h3>Admission</h3>
        </div>
        <div class="clearfix" style="margin-bottom:10px;"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Admission Type</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Board</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Standard</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Section</h6>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 style="color: #b32f30;"><strong>45</strong></h4>
                            <h6 style="font-weight: 500;color: black;">Stream</h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

