﻿
@{
    ViewData["Title"] = "Organisation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.Organisationcls>

@if (ViewBag.GroupId == 0)
{
    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Common" asp-controller="Layout">Common</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Organisation</li>
            </ol>
        </nav>
    </div>
}
else
{
    <div class="row holder-breadcrumb ">

        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="HR" asp-controller="Layout">HR</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Group" asp-controller="Master">Group</a></li>

                <li class="breadcrumb-item active  mb-0 text-dark font-weight-bold" ria-current="page">@ViewBag.Group</li>
                <li class="breadcrumb-item active active  mb-0 text-dark font-weight-bold" aria-current="page">Organization</li>
            </ol>
        </nav>
    </div>

}



<!-- Page Heading -->
<!-- Page Heading --> 
    <div class="row">

        <div class="container-fluid">
            <div class="card  mb-4 bg-white">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Organization</h1>
                    <div>
                        @if (ViewBag.GroupStatus == true)
                        {
                            <a asp-action="CreateOrEditOrganisation" asp-controller="Master" asp-route-GroupId="@ViewBag.GroupId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Create</a>

                        }
                    </div>
                </div>




                <!-- Content Row -->
                <div class="row">

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <!-- DataTales Example -->

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Departments</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Group</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Organization Type</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified By</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                            <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Name
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.DepartmentCount |
                                                    <a asp-action="Department" asp-route-id="@item.ID" asp-route-type="Organization"><i class="fas fa-plus-circle text-success"></i>View</a>
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.GroupName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.OrganizationTypeName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.Status
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">

                                                    @if (@ViewBag.GroupStatus == true)
                                                    {

                                                        @if (item.Active == true)
                                                        {
                                                            <a title="Edit" href="@Url.Action("CreateOrEditOrganisation", new { id = @item.ID, GroupId = @ViewBag.GroupId })" class="btn btn-default"><i class="far fa-edit text-success"></i></a>

                                                        }


                                                        @if (item.Status == "INACTIVE")
                                                        {
                                                            <a title="Active" asp-action="ChangeOrganizationStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status of this Organization to Active?');"><i class="fas fa-trash"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a title="InActive" asp-action="ChangeOrganizationStatus" asp-route-id="@item.ID" onclick="return confirm('Are you sure you want to change status of this Organization to InActive?');"><i class="fas fa-trash"></i></a>
                                                        }


                                                    }


                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>


                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div>
    </div>
 
