﻿
@{
    ViewData["Title"] = "OtpMessages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model IEnumerable<OdmErp.ApplicationCore.Entities.OtpMessage>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchoolCommon" asp-controller="Layout">Common</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">OtpMessage</li>

        </ol>
    </nav>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Otp Message</h1>
                @*<div>
                    <a href="CreateOrEditMasterPaymentGateway" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>*@
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Otp Type</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Mobile</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Sent OtpCode</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Received OtpCode</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">App Type</th>  
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.OtpType
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Mobile
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SentOtpCode
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.RecievedOtpCode
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.AppType
                                        </td>  

                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>


