﻿
@{
    ViewData["Title"] = "SchoolWing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<OdmErp.Web.Models.Schoolwingcls>

    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Admission" asp-controller="Layout">School</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicSession" asp-controller="School">Session</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.AcademicSessionName</li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="OraganizationAcademic" asp-controller="School" asp-route-SessionId="@ViewBag.AcademicSessionId">Organisation </a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.OrganisationName</li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">SchoolWing</li>
            </ol>
        </nav>
    </div>

 

<!-- Page Heading --> 

    <div class="row">

        <div class="container-fluid">

            <div class="card  mb-4 bg-white">

                <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                    <h1 class="h5 mb-0 text-gray-800 font-weight-bold">School Wing</h1>
                    <div>
                        @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                            <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                        <a  asp-controller="Master" asp-action="CreateOrEditSchoolWing" asp-route-OrganisationAcademicID="@ViewBag.OrganizationAcademicId" asp-route-AcademicSessionId="@ViewBag.AcademicSessionId" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                    </div>
                </div>




                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.OrganisationNameByAcademic</td>
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.wingName
                                    </td>
                                    @if (item.Status == "ACTIVE")
                                    {
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="h6 mb-0  font-weight-normal" style="color:red;">
                                            @item.Status
                                        </td>
                                    }

                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                    </td>


                                    <td>
                                        <a title="Edit" asp-action="CreateOrEditSchoolWing" asp-route-id="@item.ID" asp-route-OrganisationAcademicID="@ViewBag.OrganizationAcademicId" asp-route-AcademicSessionId="@ViewBag.AcademicSessionId"><i class="far fa-edit text-success"></i></a>
                                        @*<a title="Delete" asp-action="DeleteSchoolWing" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this School Wing?');"><i class="fas fa-trash"></i></a>*@

                                    </td>
                                </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
 

