﻿
@{
    ViewData["Title"] = "GrievancePublicForm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.GrievancePublicFormCls

<h3>Grievance Public Form</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <select id="ddl_Category" class="form-control" onchange="return Code();">
                            <option value="0">Select Category</option>
                            <option value="Employee">Employee</option>
                            <option value="Student">Student</option>
                            <option value="Parent">Parent</option>
                        </select>
                    </div>

                    <div class="form-group" id="lbl_Employee" style="display:none;">
                        <label asp-for="EmpCode" class="control-label">Employee Code</label>
                        <input type="text" asp-for="EmpCode" class="form-control" onchange="return Employee();" />
                        <span asp-validation-for="EmpCode" class="text-danger"></span>
                    </div>

                    <div class="form-group" id="lbl_Student" style="display:none;">
                        <label asp-for="StudentCode" class="control-label">Student Code</label>
                        <input type="text" asp-for="StudentCode" class="form-control" onchange="return Student();" />
                        <span asp-validation-for="StudentCode" class="text-danger"></span>
                    </div>

                    <div id="Employee" style="display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-weight:bold">Employee Name:</label>
                                    </div>

                                    <div class="col-md-6">
                                        <label id="emp_name"></label>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-weight:bold">Organisation:</label>
                                    </div>

                                    <div class="col-md-6">
                                        <label id="emp_organisation"></label>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-weight:bold">Department:</label>
                                    </div>

                                    <div class="col-md-6">
                                        <label id="emp_department"></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Student" style="display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-weight:bold">Student Name:</label>
                                    </div>

                                    <div class="col-md-6">
                                        <label id="stud_name"></label>

                                    </div>
                                </div>
                            </div>

                        
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h6><strong>Attachments</strong></h6><hr />
                    </div>
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <input type="text" name="txtattachment" id="txtattachment" class="form-control" />
                            <span id="spantxtattachment" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="file" name="file" id="file" />
                            <span id="spanfile" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="spanattach" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Name</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody id="tblattachments">
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group text-center">

                        <button id="btngrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Submit</button>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btngrievance').click(function () {
            if ($('#ddl_Category').val() == '0') {
                $('#ddl_Category .text-danger').html('Select Category');
                return false;
            }
            if ($('#Description').val() == '') {
                $('#Description .text-danger').html('Enter Description');
                return false;
            }
            $.get('/Grievance/SavePublicGrievance', { type: $('#ddl_Category').val(), description: $('#Description').val() }, function (data) {
                debugger;
                if (data == 1) {
                    window.location.href = "/Grievance/SavePublicGrievance";
                }
            })
        })
        $('#btnattachment').click(function () {
            if ($('#txtattachment').val() == '') {
                $('#spantxtattachment').html('Enter File Name');
                return false;
            }
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile').html('Select file');
                return false;
            }

            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }
            $.ajax({
                url: '/Grievance/SaveGrievanceAttachment',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    debugger;
                    var res = data;
                    if (data.length > 0) {
                        $('#tblattachments').html('');
                        var s = "";
                        jQuery.each(data, function (key, value) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                            s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        })
                        $('#tblattachments').html(s);
                        $('#txtattachment').val('');
                        $("#file").val('');
                    }
                }
            })
        })

    })
    function removeattachment(id) {
        $.get('/Grievance/RemoveGrievanceAttachment', { id: id }, function (data) {
            debugger;
            var res = data;
            if (data.length > 0) {
                $('#tblattachments').html('');
                var s = "";
                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (++key) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                    s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments').html(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
        })
    }

    

    function Code() {

        if ($("#ddl_Category option:selected").val() == "Employee") {

            $("#lbl_Employee").show();
            $("#lbl_Student").hide();
            $("#Employee").hide();
        }

        else if ($("#ddl_Category option:selected").val() == "Student") {
            $("#lbl_Student").show();
            $("#lbl_Employee").hide();
            $("#Employee").hide();
        }

    }

    function Employee() {

        if ($('#EmpCode').val() != "") {
            $("#Employee").show();

            $.get('/Grievance/GetEmployee', { id: $('#EmpCode').val() }, function (data) {
                $("#emp_department").html(data.department);
                $("#emp_organisation").html(data.organisation);
                $("#emp_name").html(data.employeeName);

            })
        }

    }

     function Student() {

        if ($('#StudentCode').val() != "") {
            $("#Student").show();

            $.get('/Grievance/GetStudent', { id: $('#StudentCode').val() }, function (data) {
                debugger;
                $("#stud_name").html(data.studentName);

            })
        }

    }

</script>
