﻿
@{
    ViewData["Title"] = "RaiseGrievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@model IEnumerable<OdmErp.Web.Models.MyGrievanceClass>


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">RaiseGrievance</li>
        </ol>
    </nav>
</div>


<div class="row">
    <form method="get" action="AllGrievances" class="col-12 ">
        <div id="accordion">
            <div class="card row">
                <div class="card-header bg-white col-12">

                    <div class="row ">
                        <div class="col-3">
                            <span class="font-weight-bold"
                                  style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                            </span>

                        </div>
                        <div class="col-9" style="text-align-last:right">


                            <button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-search"></i>&nbsp; Search
                            </button>

                            <a asp-action="SupportRequest" style="margin-right:2rem;"
                               class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                            </a>

                            <a data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne"
                               class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                            </a>

                        </div>

                    </div>

                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <div class="row col-12">
                            <div class="col-4 form-group">

                                <label class="form-label">Type</label>

                                <select name="typeid" id="typeId" class="form-control">
                                    @if (ViewBag.Type != null)
                                    {
                                        <option>Select Type</option>
                                        @foreach (var a in ViewBag.Type)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-4 form-group">

                                <label class="form-label">Sub Type</label>

                                <select name="subtypeid" id="subtypeId" class="form-control">
                                    @if (ViewBag.SubType != null)
                                    {
                                        <option>Select SubType</option>
                                        @*@foreach (var a in ViewBag.SubType)
                                            {
                                                <option value="@a.ID">@a.Name</option>
                                            }*@
                                    }
                                </select>

                            </div>
                            <div class="col-4 form-group">

                                <label class="form-label">Status</label>

                                <select name="statusid" class="form-control">
                                    @if (ViewBag.Status != null)
                                    {
                                        <option>Select Status</option>
                                        @foreach (var a in ViewBag.Status)
                                        {
                                            <option value="@a.ID">@a.StatusName</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label">FromDate</label>
                                <input type="date" name="fromdate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label">ToDate</label>
                                <input type="date" name="todate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-top:.5rem;">


    <div class="card bg-white col-12" style="margin-bottom:.5rem;">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Raised Grievance</h1>
            <div>
                @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                   data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                   asp-action="DownloadSupport" asp-controller="Support" asp-area="Support"><i class="fas fa-arrow-circle-down"></i> &nbsp; Download Excel</a>*@
                <a href="/Grievance/CreateOrEditGrievance" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-plus-circle"></i>&nbsp; Create
                </a>

            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered text-sm" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @*<th>Sl.No</th>*@
                        <th>Code</th>
                        <th>Type</th>
                        <th>SubType</th>
                        <th width="25%">Description</th>
                        <th>Posted On</th>
                        <th>Status</th>
                        <th>Modified Date</th>
                        <th width="12%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model.OrderByDescending(a => a.ID))
                        {
                    <tr>
                        @*<td>@(++i)</td>*@
                        <td>
                            <a asp-action="ViewMyGrievance" asp-route-id="@item.ID"> @item.Code</a>
                        </td>
                        <td>
                            @item.GrievanceTypeName
                        </td>
                        <td>
                            @item.GrievanceSubTypeName
                        </td>
                        <td>
                            <div title="@item.Description">
                                @(item.Description.Length > 50 ? item.Description.Substring(0, 50) + " ........" : item.Description)
                            </div>
                        </td>
                        <td>
                            @item.InsertedDate.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @if (item.GrievanceStatusID == 1 || item.GrievanceStatusID == 2 || item.GrievanceStatusID == 3)  //if the deadline is missed
                            {
                                var validDate = item.InsertedDate.Date.AddDays(2);
                                if (validDate > DateTime.Now.Date)
                                {
                                    @item.Grivstatus.StatusName
                                }
                                else
                                {
                                    <div style="color:red;">
                                        @(item.Grivstatus.StatusName = "Deadline Missed")
                                    </div>
                                }
                            }
                            else
                            {
                                @item.Grivstatus.StatusName
                            }
                        </td>
                        <td>
                            @item.ProgressDate.Value.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            <div class="notification">
                                <a asp-action="ViewMyGrievance" asp-route-id="@item.ID" title="View" class="tableedit" style="text-decoration: none !important;"><i class="fas fa-eye fa-sm"></i></a>
                                @if (item.UnreadCommentCount > 0)
                                {
                                    <span class="badge">@item.UnreadCommentCount</span>
                                }
                            </div>&nbsp;
                           
                            @if (item.Grivstatus.StatusName == "COMPLETED")
                            {
                                <a title="Verify" onclick="verifyscorenodal(@item.ID)" id="verify" class="tblverify" style="text-decoration: none !important; color:white;"><i class="fas fa-check fa-sm"></i></a>
                            }
                            @if (item.Grivstatus.ID == 1)
                            {
                                <a asp-action="DeleteGrievance" asp-route-id="@item.ID" title="Delete" class="tabledelete" style="text-decoration: none !important;" onclick="return confirm('Are you sure you wish to delete this Grievance?');"><i class="fas fa-trash fa-sm"></i></a>

                            }
                            else
                            {
                                if (item.Grivstatus.ID == 6)
                                {
                                    <a title="Delete Denide" class="tabledelete" style="text-decoration: none !important;cursor: not-allowed;"><i class="fas fa-trash fa-sm"></i></a>
                                }
                            }
                            @if (item.Grivstatus.ID != 4 && item.Grivstatus.ID != 6)
                            {
                                if (item.Grivstatus.ID != 5)
                                {
                                <a asp-action="ReminderFromParent" asp-route-grivid="@item.ID" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
                                }

                            }
                        </td>
                    </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>


<div class="modal fade" id="myScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Give Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="VerifyGrievance" enctype="multipart/form-data" method="post">
                    <input type="hidden" id="hdnid" name="hdnid" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            Score
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="txtscore" name="txtscore" class="form-control" min="0" max="10" required title="Please specify a score" onkeypress="return isNumberKey(event);" />
                            <label>(Out of 10)</label>
                        </div>
                        <div class="col-md-4">
                            Remark
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="txtremark" name="remark" class="form-control" /> 
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Verify Now" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div id="success_tic" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">

                <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                </h1>
                <div class="modal-body text-center" style="font-family: 'Varela Round', sans-serif;">
                    <h4 style="color: #000000bf; font-weight: bold;">Great!</h4>
                    <p>Your account has been created successfully.</p>
                    <button class="btn btn-success modalButton" data-dismiss="modal"><span>Start Exploring</span>&nbsp; <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    body {
        background-color: #e6e6e6;
        width: 100%;
        height: 100%;
    }

    #success_tic .page-body {
        max-width: 300px;
        background-color: #FFFFFF;
        margin: 10% auto;
    }

        #success_tic .page-body .head {
            text-align: center;
        }
    /* #success_tic .tic{
          font-size:186px;
        } */
    #success_tic .close {
        opacity: 1;
        position: absolute;
        right: 0px;
        font-size: 30px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    #success_tic .checkmark-circle {
        width: 150px;
        height: 150px;
        position: relative;
        display: inline-block;
        vertical-align: top;
    }

    .checkmark-circle .background {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #1ab394;
        position: absolute;
    }

    #success_tic .checkmark-circle .checkmark {
        border-radius: 5px;
    }

        #success_tic .checkmark-circle .checkmark.draw:after {
            -webkit-animation-delay: 300ms;
            -moz-animation-delay: 300ms;
            animation-delay: 300ms;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-timing-function: ease;
            -moz-animation-timing-function: ease;
            animation-timing-function: ease;
            -webkit-animation-name: checkmark;
            -moz-animation-name: checkmark;
            animation-name: checkmark;
            -webkit-transform: scaleX(-1) rotate(135deg);
            -moz-transform: scaleX(-1) rotate(135deg);
            -ms-transform: scaleX(-1) rotate(135deg);
            -o-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

        #success_tic .checkmark-circle .checkmark:after {
            opacity: 1;
            height: 75px;
            width: 37.5px;
            -webkit-transform-origin: left top;
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -o-transform-origin: left top;
            transform-origin: left top;
            border-right: 15px solid #fff;
            border-top: 15px solid #fff;
            border-radius: 2.5px !important;
            content: '';
            left: 35px;
            top: 80px;
            position: absolute;
        }
</style>



<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function isNumberKey(kbEvent) {
        var keyCode, keyChar;
        keyCode = kbEvent.keyCode;
        if (window.event)
            keyCode = kbEvent.keyCode;  // IE
        else
            keyCode = kbEvent.which;  //firefox
        if (keyCode === null) return true;
        // get character
        keyChar = String.fromCharCode(keyCode);
        var charSet = "0123456789.";
        // check valid chars
        if (charSet.indexOf(keyChar) !== -1) return true;
        // control keys
        if (keyCode === null || keyCode === 0 || keyCode === 8 || keyCode === 9 || keyCode === 13 || keyCode === 27) return true;
        return false;
    }

    function verifyscorenodal(id) {
        $('#txtscore').val('');
        $('#hdnid').val(id);
        $('#myScoreModal').modal('show');
    }

    $(document).ready(function () {

        $("#typeId").change(function () {
            if ($("#typeId").val() != '') {
                $.get('/Grievance/GetSubTypeByTypeId', { id: $('#typeId').val() }, function (data) {
                    $('#subtypeId').empty();
                    if (data.length > 0) {
                        $("#subtypeId").append('<option value="">  Select SubType </option>');
                        $.each(data, function (i, item) {
                            $("#subtypeId").append('<option value="' + item.id + '"> ' + item.statusName + ' </option>');
                        });
                    }
                    else {
                        $('#subtypeId').empty();
                        $("#subtypeId").append('<option value=""> No SubType </option>');
                    }
                })
            }
            else {
                $('#subtypeId').empty();
                $("#subtypeId").append('<option value="">  Select SubType </option>');
            }
        });


        //$('#verify').click(function () {
        //    $('#myScoreModal').modal('show');
        //});

    })

</script>
