﻿
@{
    ViewData["Title"] = "AssignManageGrievances";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.GrievanceViewClass>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>       
        <li class="breadcrumb-item active" aria-current="page">AssignAndVerifyGrievance</li>
    </ol>
</nav>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Assign &amp; Verify Grievances</h1>
    <div>
        <a id="linkassign" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Assigned To</a>

    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <label class="font-weight-bold"><input type="checkbox" id="chkselectall" />&nbsp;&nbsp; Select All</label>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="3%"></th>
                                <th width="10%">Code</th>
                                <th width="5%">Category</th>
                                <th width="7%">Type</th>
                                <th width="30%">Description</th>
                                <th width="5%">Status</th>
                                <th width="10%">Posted On</th>
                                <th width="15%">Assigned To</th>
                                <th width="15%"> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (item.grievanceempcls == null)
                                            {
                                                <input type="checkbox" value="@item.ID" name="selectforindex">
                                            }
                                            else { }
                                        </td>
                                        <th>
                                            <a asp-action="VerifyGrievance" asp-route-id="@item.ID">@item.Code</a>

                                        </th>
                                        <td>@item.GrievanceCategoryName</td>
                                        <td>
                                            @item.GrievanceTypeName
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.GrievanceStatusName
                                        </td>
                                        <td>
                                            @item.CreatedDate.Value.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            @(item.grievanceempcls == null ? "Unassigned" : item.grievanceempcls.AssignedToName)
                                        </td>
                                        <td>
                                            @if (item.GrievanceStatusID == 2)
                                            {
                                                <a asp-action="unassignedGrievance" asp-route-id="@item.ID" class="tabledelete" style="text-decoration:none;" onclick="return confirm('Are you sure you wish to unassigned this Grievance?');"><i class="fas fa-pen fa-sm text-black-50"></i>Unassign</a>
                                            }
                                            else if (item.GrievanceStatusID == 1)
                                            {
                                                <label class="text-gray-400">Un-Assigned</label>
                                            }
                                            else if (item.GrievanceStatusID == 3)
                                            {
                                                <label class="text-gray-400">In Progress</label>
                                            }
                                            else if (item.GrievanceStatusID == 4)
                                            {
                                                <a asp-action="VerifyGrievance" asp-route-id="@item.ID" class="tableedit" style="text-decoration:none;"><i class="fas fa-pen fa-sm text-black-50"></i>Verify</a>
                                            }
                                            else if (item.GrievanceStatusID == 5)
                                            {
                                                <label class="text-success">Verified</label>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

<div class="modal fade" id="assignedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Assigned Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="control-label">Select Employee</label>
                            <select class="form-control" id="ddlemployee" name="ddlemployee" style="width:100%;">
                                <option value="0">Select Employee</option>
                                @if (ViewBag.employees != null)
                                {
                                    foreach (var a in ViewBag.employees)
                                    {
                                        <option value="@a.Id">@a.Name &nbsp;(EmpCode:&nbsp; @a.Code)</option>
                                    }
                                }
                            </select>
                            <span id="spanemployee" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Comment</label>
                            <textarea id="txtcomment" class="form-control" rows="6"></textarea>
                            <span id="spandescription" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-1">
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="form-group text-center">
                    <button id="btnassigned" class="btn btn-primary"> Assign Grievance</button>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>



<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chkselectall').click(function () {
            var res = $('#chkselectall').prop("checked");
            if (res == true) {
                $('#dataTable input:checkbox').attr('checked', true);
            }
            else {
                $('#dataTable input:checkbox').attr('checked', false);
            }
        })
        $('#linkassign').click(function () {

            var s = $('#dataTable input:checkbox:checked').length;
            if (s == 0) {
                alert('Select Grievance');
                return false;
            }
            $('#assignedModal').modal({
                'show': true
            });
        })
        $('#btnassigned').click(function () {
            $('#divloader').show();
            if ($('#ddlemployee').val() == '0') {
                $('#spanemployee').html('Select Employee');
                $('#divloader').hide();
                return false;
            }
            var selectforindex = [];
            $.each($("input[name='selectforindex']:checked"), function () {
                debugger;
                selectforindex.push($(this).val());
            });

            debugger;
            $.get('/Grievance/AssignGrievanceToEmployee', { gid: selectforindex.join(','), empid: $('#ddlemployee').val(), desc: $('#txtcomment').val() }, function (data) {
                debugger;
                $('#divloader').hide();
                if (data == 1) {
                    $('#assignedModal').modal({
                        'show': false
                    });
                    window.location.reload();
                }
                else if (data == 2) {
                    window.location.href = "/Accounts/AuthenticationFailed";
                }
                else {
                    $('#spanemployee').html(data);
                }

            })


        })

    })

</script>