﻿
@{
    ViewData["Title"] = "EmployeeGrievanceCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.EmpGrievancecls

<h3>EmployeeGrievance</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateEmployeeGrievance">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GrievanceTypeID" class="control-label"></label>

                            <select asp-for="GrievanceTypeID" class="form-control" asp-items="@(new SelectList(Model.grievanceType,"ID","Name"))"> <option value="">-- Select  --</option></select>
                            <span asp-validation-for="GrievanceTypeID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="EmployeeID" class="control-label">Employee</label>

                            <select asp-for="EmployeeID" class="form-control" asp-items="@(new SelectList(Model.employees,"ID","Name"))"> <option value="">-- Select  --</option></select>
                            <span asp-validation-for="EmployeeID" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="EmployeeGrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>


                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>


        </div>
    </div>
</div>
