﻿
@{
    ViewData["Title"] = "GrievanceSubTypeCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.GrievanceTypeClass

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Grievance" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="GrievanceSubType" asp-controller="Grievance">GrievanceSubType</a></li>
            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Grievance SubType</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Grievance SubType</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateGrievanceSubType">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">GrievanceType</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Types,"ID","Name"))">
                            <option value="">Select GrievanceType</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="RoleID" class="control-label"></label>
                            <select asp-for="RoleID" class="form-control" asp-items="@(new SelectList(Model.roles,"ID","Name"))"></select>
                            <span asp-validation-for="RoleID" class="text-danger"></span>
                        </div>*@
                    <div class="form-group text-center">
                        <a asp-action="GrievanceSubType" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>



<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$("button").click(function () {
        //    debugger;
        //    if ($("#CategoryId").val() == '') {
        //        $('#CategoryId .text-danger').html('Select Type');
        //    }
        //})
         
    })
</script>