﻿
@{
    ViewData["Title"] = "GrievancePriorityCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.CommonMasterModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Master" asp-controller="Layout">Master</a></li>
        <li class="breadcrumb-item"><a asp-action="Grievance" asp-controller="Layout">Grievance</a></li>
        <li class="breadcrumb-item"><a asp-action="GrievancePriority" asp-controller="Grievance">GrievancePriority</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.status</li>
    </ol>
</nav>


<h3>Grievance Priority</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateGrievancePriority">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="GrievancePriority" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
