﻿
@{
    ViewData["Title"] = "CreatOrEditGrievanceAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.GrievanceAccessModelClass

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Grievance" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="GrievanceAccess" asp-controller="Grievance">GrievanceAccess</a></li>
            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Grievance Access</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Grievance Access</span>
                }
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateGrievanceAccess">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="GrievanceCategoryId" class="control-label">Grievance Type</label>
                        <select asp-for="GrievanceCategoryId" class="form-control" asp-items="@(new SelectList(Model.GrievType,"ID","Name"))">
                            <option value="">Select Type</option>
                        </select>
                        <span asp-validation-for="GrievanceCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GrievanceTypeId" class="control-label">Grievance SubType (Optional)</label>
                        <select asp-for="GrievanceTypeId" class="form-control" >
                            <option>Select SubType</option>
                        </select>
                        <span asp-validation-for="GrievanceTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label">Employee</label>
                        <select asp-for="EmployeeId" class="form-control" asp-items="@(new SelectList(ViewBag.Employees,"ID","Name"))">
                            <option value="">Select Employee</option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <a asp-action="GrievanceAccess" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#GrievanceCategoryId").change(function () {
            if ($("#GrievanceCategoryId").val() == 0) {
                $("GrievanceTypeId").hide();
            }
            else {
                $("GrievanceTypeId").show();
            }
        });

        //$("button").click(function () {
        //    if ($('#GrievanceCategoryId').val() == "") {
        //        $('#GrievanceCategoryId').empty();
        //        $("#GrievanceCategoryId").append('<option value=""> Please Select Type </option>');
        //    }
        //})

        $("#GrievanceCategoryId").change(function () {
            if ($("#GrievanceCategoryId").val() != '') {
                $.get('/Grievance/GetSubTypeByTypeId', { id: $('#GrievanceCategoryId').val() }, function (data) {
                    $('#GrievanceTypeId').empty();
                    if (data.length > 0) {
                        $("#GrievanceTypeId").append('<option value="0">  Select SubType </option>');
                        $.each(data, function (i, item) {
                            $("#GrievanceTypeId").append('<option value="' + item.id + '"> ' + item.statusName + ' </option>');
                        });
                    }
                    else {
                        $('#GrievanceTypeId').empty();
                        $("#GrievanceTypeId").append('<option value="0"> No SubType </option>');
                    }
                })
            }
            else {
                $('#GrievanceTypeId').empty();
                $("#GrievanceTypeId").append('<option value="0">  Select SubType </option>');
            }
        });

    })

</script>