﻿
@{
    ViewData["Title"] = "GrievanceCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.MyGrievanceClass


    <div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AllGrievances" asp-controller="Grievance">RaiseGrievance</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>
 
    <div class="row" style="margin-top:.3rem;margin-bottom:.5rem;">


        <div class="card bg-white col-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Create Grievance</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GrievanceTypeID" class="control-label"></label>
                            <select asp-for="GrievanceTypeID" class="form-control">
                                <option value="">Select Grievance Type</option>
                                @if (Model.GrivType != null)
                                {
                                    foreach (var a in Model.GrivType)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="GrievanceTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GrievanceSubTypeID" class="control-label"></label>
                            <select asp-for="GrievanceSubTypeID" class="form-control">
                                <option value="">Select Grievance SubType</option>
                                @*@if (Model.GrivSubTypes != null)
                                {
                                    foreach (var a in Model.GrivSubTypes)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }*@
                            </select>
                            <span asp-validation-for="GrievanceSubTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <h6><strong>Attachments</strong></h6><hr />
                        </div>
                        <div class="row">
                            @*<div class="col-md-5 form-group">
                                <input type="text" name="txtattachment" id="txtattachment" class="form-control" />
                                <span id="spantxtattachment" class="text-danger"></span>
                            </div>*@
                            <div class="col-md-5 form-group">
                                <input type="file" name="file" id="file" />
                                <span id="spanfile" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 form-group">
                                <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <span id="spanattach" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Sl. No.</td>
                                        <td>Name</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody id="tblattachments">
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="AllGrievances" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button id="btngrievance" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>

        //function Validate() {
        //    debugger;
        //    if ($('#GrievanceTypeID').val() == 0) {
        //        $('#GrievanceTypeID').html("Please Select Grievance Type");
        //    }
        //    else {
        //        $('#GrievanceTypeID').html("");
        //    }

        //    if ($('#GrievanceTypeID').val() == 0) {
        //        $('#GrievanceTypeID').html("Please Select Grievance Type");
        //    }
        //    else {
        //        $('#GrievanceTypeID').html("");
        //    }
        //}

        $(document).ready(function () {
            $("#GrievanceTypeID").change(function () {
                if ($("#GrievanceTypeID").val() != '') {
                    $.get('/Grievance/GetSubTypeByTypeId', { id: $('#GrievanceTypeID').val() }, function (data) {
                        $('#GrievanceSubTypeID').empty();
                        if (data.length > 0) {
                            $("#GrievanceSubTypeID").append('<option value="">  Select SubType </option>');
                            $.each(data, function (i, item) {
                                $("#GrievanceSubTypeID").append('<option value="' + item.id + '"> ' + item.statusName + ' </option>');
                            });
                        }
                        else {
                            $('#GrievanceSubTypeID').empty();
                            $("#GrievanceSubTypeID").append('<option value=""> No SubType </option>');
                        }
                    })
                }
                else {
                    $('#GrievanceSubTypeID').empty();
                    $("#GrievanceSubTypeID").append('<option value="">  Select SubType </option>');
                }
            });

            $('#btngrievance').click(function () {
                $('#divloader').fadeIn();
                if ($('#GrievanceTypeID').val() == '') {
                    $('#GrievanceTypeID .text-danger').html('Select Type');
                    $('#divloader').fadeOut();
                    return false;
                }
                //if ($('#GrievanceSubTypeID').val() == '') {
                //    $('#GrievanceSubTypeID .text-danger').html('Select SubType');
                //    $('#divloader').fadeOut();
                //    return false;
                //}
                if ($('#Description').val() == '') {
                    $('#Description .text-danger').html('Enter Description');
                    return false;
                }
                $.get('/Grievance/SaveGrievance', { type: $('#GrievanceTypeID').val(), subtype: $('#GrievanceSubTypeID').val(), description: $('#Description').val() }, function (data) {
                    $('#divloader').fadeOut();
                    if (data == 1) {
                        window.location.href = "/Grievance/AllGrievances";
                    }
                })
            })
            $('#btnattachment').click(function () {
                $('#divloader').fadeIn();
                if ($('#txtattachment').val() == '') {
                    $('#spantxtattachment').html('Enter File Name');
                    $('#divloader').fadeOut();
                    return false;
                }
                var files = $("#file").get(0).files;
                //Basic Info
                if (files.length == 0) {
                    $('#spanfile').html('Select file');
                    $('#divloader').fadeOut();
                    return false;
                }

                var formdata = new FormData();
                var aaa = files[0].name;
                debugger;
                formdata.append("Name", files[0].name);
                //Basic Info
                if (files.length > 0) {
                    formdata.append("file", files[0]);
                }
                $.ajax({
                    url: '/Grievance/SaveGrievanceAttachment',
                    type: 'POST',
                    data: formdata,
                    crossDomain: true,
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                    success: function (data) {
                        
                        $('#divloader').fadeOut();
                        var res = data;
                        if (data.length > 0) {
                            $('#tblattachments').html('');
                            var s = "";
                            jQuery.each(data, function (key, value) {
                                s += "<tr>";
                                s += "<td>" + (key + 1) + "</td>";
                                s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                                s += "<td><a onclick='removeattachment(" + value.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                                s += "</tr>";
                            })
                            $('#tblattachments').html(s);
                            $('#txtattachment').val('');
                            $("#file").val('');
                            //location.href = '/Grievance/AllGrievances';
                        }
                        //location.href = '/Grievance/AllGrievances';
                    }
                })
            })

        })
        function removeattachment(id) {
            $('#divloader').fadeIn();
            $.get('/Grievance/RemoveGrievanceAttachment', { id: id }, function (data) {
                debugger;
                $('#divloader').fadeOut();
                var res = data;
                $('#tblattachments').html('');
                if (data.length > 0) {                   
                    var s = "";
                   // alert("yes");
                    jQuery.each(data, function (key, value) {
                        s += "<tr>";
                        s += "<td>" + (key + 1) + "</td>";
                        s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                        s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                        s += "</tr>";
                    })
                    $('#tblattachments').html(s);
                    $('#txtattachment').val('');
                    $("#file").val('');
                }
            })
        }
    </script>