﻿
@{
    ViewData["Title"] = "GetAllGrievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model IEnumerable<OdmErp.Web.Models.MyGrievanceClass>


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">AllGrievance</li>
        </ol>
    </nav>
</div>


<div class="row">
    <form method="get" action="GetAllGrievance" class="col-12 ">
        <div id="accordion">
            <div class="card row">
                <div class="card-header bg-white col-12">

                    <div class="row ">
                        <div class="col-3">
                            <span class="font-weight-bold"
                                  style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                            </span>

                        </div>
                        <div class="col-9" style="text-align-last:right">


                            <button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-search"></i>&nbsp; Search
                            </button>

                            <a asp-action="SupportRequest" style="margin-right:2rem;"
                               class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-sync-alt"></i>&nbsp; Refresh
                            </a>

                            <a data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne"
                               class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                            </a>

                        </div>

                    </div>

                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <div class="row col-12">
                            <div class="col-4 form-group">

                                <label class="form-label">Category</label>

                                <select name="statusid" class="form-control">
                                    @if (ViewBag.Category != null)
                                    {
                                        <option>Select Category</option>
                                        @foreach (var a in ViewBag.Category)
                                        {
                                            <option value="@a.ID">@a.StatusName</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-4 form-group">

                                <label class="form-label">Type</label>

                                <select name="typeid" id="typeId" class="form-control">
                                    @if (ViewBag.Type != null)
                                    {
                                        <option>Select Type</option>
                                        @foreach (var a in ViewBag.Type)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-4 form-group">

                                <label class="form-label">Sub Type</label>

                                <select name="subtypeid" id="subtypeId" class="form-control">
                                    @if (ViewBag.SubType != null)
                                    {
                                        <option>Select SubType</option>
                                        @*@foreach (var a in ViewBag.SubType)
                                            {
                                                <option value="@a.ID">@a.Name</option>
                                            }*@
                                    }
                                </select>

                            </div>
                            <div class="col-4 form-group">

                                <label class="form-label">Status</label>

                                <select name="statusid" class="form-control">
                                    @if (ViewBag.Status != null)
                                    {
                                        <option>Select Status</option>
                                        @foreach (var a in ViewBag.Status)
                                        {
                                            <option value="@a.ID">@a.StatusName</option>
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label">FromDate</label>
                                <input type="date" name="fromdate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label">ToDate</label>
                                <input type="date" name="todate" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-top:.5rem;">


    <div class="card bg-white col-12" style="margin-bottom:.5rem;">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">All Grievance</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="3%">Sl.No</th>
                        <th width="10%">Code</th>
                        <th width="10%">Category</th>
                        <th width="12%">Type</th>
                        <th width="12%">Sub Type</th>
                        <th width="40%">Description</th>
                        <th width="10%">Posted On</th>
                        <th width="10%">Status</th>
                        <th width="10%">Progress Date</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>@(++i)</td>
                        <td>
                            <a asp-action="ViewMyGrievance" asp-route-id="@item.ID"> @item.Code</a>
                        </td>
                        <td>
                            @item.Category
                        </td>
                        <td>
                            @item.GrievanceTypeName
                        </td>
                        <td>
                            @item.GrievanceSubTypeName
                        </td>
                        <td>
                            <div title="@item.Description">
                                @(item.Description.Length > 40 ? item.Description.Substring(0,30) + " ........" : item.Description)
                            </div>
                        </td>
                        <td>
                            @item.InsertedDate.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            @if (item.GrievanceStatusID == 1 || item.GrievanceStatusID == 2 || item.GrievanceStatusID == 3)  //if the deadline is missed
                            {
                                var validDate = item.InsertedDate.Date.AddDays(2);
                                if (validDate > DateTime.Now.Date)
                                {
                                    @item.Grivstatus.StatusName
                                }
                                else
                                {
                                    <div style="color:red;">
                                        @(item.Grivstatus.StatusName = "Deadline Missed")
                                    </div>
                                }
                            }
                            else
                            {
                                @item.Grivstatus.StatusName
                            }
                        </td>
                        <td>
                            @item.ProgressDate.Value.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            <div class="notification">
                                <a asp-action="ViewAllGrievance" asp-route-id="@item.ID" title="View" class="tableedit" style="text-decoration: none !important;"><i class="fas fa-eye fa-sm"></i></a>
                                @if (item.UnreadCommentCount > 0)
                                {
                                    <span class="badge">@item.UnreadCommentCount</span>
                                }
                            </div>&nbsp;
                            @* <a asp-action="ViewAllGrievance" asp-route-id="@item.ID" title="View" class="tableedit" style="text-decoration: none !important;"><i class="fas fa-eye fa-sm"></i></a>*@
                            @* <a asp-action="DeleteGrievance" asp-route-id="@item.ID" title="Delete" class="tabledelete" style="text-decoration: none !important;" onclick="return confirm('Are you sure you wish to delete this Grievance?');"><i class="fas fa-trash fa-sm"></i></a>*@
                            @if (item.Grivstatus.ID != 5)        //if Grievance is not rejcted then notification icon will show
                            {
                                if ((item.Grivstatus.ID == 1 || item.Grivstatus.ID == 2 || item.Grivstatus.ID == 3))  // Show the reminder button
                                {

                                    <a asp-action="SendReminderToEmployeesForAllGrievance" asp-route-act="ManageGrievance" asp-route-grivid="@item.ID" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
                                }
                                @*if (item.Grivstatus.ID == 5)
            {

                <a asp-action="Sendremindertoparent" asp-route-act="ManageGrievance" asp-route-id="@item.ID" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
            }*@
                            }
                            @if (item.Grivstatus.ID == 4)   //Reminder for parent when the grievance is completed
                            {
                                <a asp-action="SendReminderToEmployeesForAllGrievance" asp-route-act="GetAllGrievance" asp-route-grivid="@item.ID" title="Send Reminder To Parent" class="tablereminder" style="text-decoration: none !important;background-color: #20d626;"><i class="fas fa-bell fa-sm"></i></a>
                            }
                            else if (item.Grivstatus.ID == 6)
                            {
                                <a title="Send Reminder" class="tablesolved no-drop" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
                            }
                        </td>
                    </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>



<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#typeId").change(function () {
            if ($("#typeId").val() != '') {
                $.get('/Grievance/GetSubTypeByTypeId', { id: $('#typeId').val() }, function (data) {
                    $('#subtypeId').empty();
                    if (data.length > 0) {
                        $("#subtypeId").append('<option value="">  Select SubType </option>');
                        $.each(data, function (i, item) {
                            $("#subtypeId").append('<option value="' + item.id + '"> ' + item.statusName + ' </option>');
                        });
                    }
                    else {
                        $('#subtypeId').empty();
                        $("#subtypeId").append('<option value=""> No SubType </option>');
                    }
                })
            }
            else {
                $('#subtypeId').empty();
                $("#subtypeId").append('<option value="">  Select SubType </option>');
            }
        });

    })

</script>
