﻿@{
    ViewData["Title"] = "GrievanceforEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.GrievanceViewClass
<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="form-group">
        <h4>Grievance Details</h4>
    </div>
    <hr />
    <div class="container-fluid">
        <input type="hidden" id="hdnId" value="@Model.ID" />
        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Grievance Type:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.GrievanceTypeName</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">@((Model.GrievanceCategoryID == 5 || Model.GrievanceCategoryID == 6) ? "Student Name :" : "Employee Name :")</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.GrievanceRelatedName</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">@((Model.GrievanceCategoryID == 5 || Model.GrievanceCategoryID == 6) ? "Student Code :" : "Employee Code :")</label>
                            </div>

                            <div class="col-md-6">
                                <label>@(Model.RelatedCode)</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Mobile No:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.RelatedMobile</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Raised Date Time:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@(Model.CreatedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Assigned Date Time:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@(Model.grievanceempcls.AssignedOn.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Assigned To:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.grievanceempcls.AssignedToName</label>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="row">

                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Assigned By:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.grievanceempcls.AssignedByName</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Status:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.GrievanceStatusName</label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Verified Date Time:</label>
                            </div>

                            <div class="col-md-6">
                                @if (Model.VerifiedId == 0)
                                {
                                    <label>Not Verified</label>
                                }
                                else
                                {
                                    <label>@(Model.VerificationDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                @*<div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Priority:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.GrievancePriorityName</label>

                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold">Description:</label><br />
                    <label>@Model.Description</label>
                </div>
                <hr />
                @if (Model.attachments.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label" style="font-weight:bold">Grievance Attached Files:</label><br />
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Slno.</th>
                                    <th>Attach File</th>
                                    <th>Created On</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.attachments)
                                    {
                                        <tr>
                                            <td>@(++i)</td>
                                            <td><a href="~/ODMImages/Grievance/@item.GrievanceID/@item.Path" target='_blank'>@item.Name</a></td>
                                            <td>@item.InsertedDate.ToString("dd MMM yyyy")</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                }
                @if (Model.grievancecommentscls.Count > 0)
                {
                    <div>
                        <h5>Comments</h5>
                    </div>
                    <hr />


                    @foreach (var a in Model.grievancecommentscls)
                    {
                        <div>
                            <strong>Posted By :</strong> @a.CommentBy<br />
                            <strong>Posted Date Time :</strong> @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")<br />
                           @* <strong>Status :</strong> @a.GrievanceStatusName*@
                        </div>

                        <div class="form-group">
                            <label class="control-label font-weight-bold">Comment</label>
                            <label class="control-label">@a.Comment</label>
                        </div>
                        <div class="form-group">
                            @if (a.CommentedAttachments.Count > 0)
                            {
                                <div class="form-group">
                                    <label class="control-label" style="font-weight:bold">Attached Files:</label><hr />
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Slno.</th>
                                                <th>Attach File</th>
                                                <th>Created On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (a.CommentedAttachments != null)
                                            {
                                                int i = 0;
                                                foreach (var item in a.CommentedAttachments)
                                                {
                                                    <tr>
                                                        <td>@(++i)</td>
                                                        <td><a href="~/ODMImages/GrievanceAttachment/@item.Path" target='_blank'>@item.Name</a></td>
                                                        <td>@item.InsertedDate.ToString("dd MMM yyyy")</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </div>

                            }
                        </div>
                    }
                }
            </div>
        </div>

        <div class="clearfix" style="margin-bottom:20px;"></div>
        @if (Model.GrievanceStatusID != 4 && Model.GrievanceStatusID != 5)
        {
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h4>Comment</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Comment</label>
                                <textarea id="txtcomment" class="form-control" rows="6"></textarea>
                                <span id="spandescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <h6><strong>Attachments</strong></h6><hr />
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <input type="text" name="txtattachment" id="txtattachment" class="form-control" />
                                    <span id="spantxtattachment" class="text-danger"></span>
                                </div>
                                <div class="col-md-5 form-group">
                                    <input type="file" name="file" id="file" />
                                    <span id="spanfile" class="text-danger"></span>
                                </div>
                                <div class="col-md-2 form-group">
                                    <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <span id="spanattach" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Sl. No.</td>
                                            <td>Name</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tblattachments">
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group text-center">
                                <a asp-action="ManageGrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                                <button id="btngrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Completed</button>
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

</div>
<!-- /.container-fluid -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btngrievance').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtcomment').val() == '') {
                $('#spandescription').html('Enter Comment');
                $('#divloader').fadeOut();
                return false;
            }
            $.get('/Grievance/Grievancecompleted', { desc: $('#txtcomment').val(), gid: $('#hdnId').val() }, function (data) {
                debugger;
                $('#divloader').fadeOut();
                if (data == 1) {
                    window.location.href = "/Grievance/ManageGrievance";
                }
            })
        })
        $('#btnattachment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtattachment').val() == '') {
                $('#spantxtattachment').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile').html('Select file');
                $('#divloader').fadeOut();
                return false;
            }

            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }
            $.ajax({
                url: '/Grievance/SaveGrievanceAttachment',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    debugger;
                    var res = data;
                    if (data.length > 0) {
                        $('#tblattachments').html('');
                        var s = "";
                        jQuery.each(data, function (key, value) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                            s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        })
                        $('#tblattachments').html(s);
                        $('#txtattachment').val('');
                        $("#file").val('');
                    }
                    $('#divloader').fadeOut();
                }
            })
        })

    })
    function removeattachment(id) {
        $('#divloader').fadeIn();
        $.get('/Grievance/RemoveGrievanceAttachment', { id: id }, function (data) {
            debugger;
            var res = data;
            if (data.length > 0) {
                $('#tblattachments').html('');
                var s = "";
                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (key + 1) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                    s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments').html(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
            $('#divloader').fadeOut();
        })
    }
</script>