﻿@{
    ViewData["Title"] = "GrievanceforStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.GrievanceViewClass
<!-- Page Heading -->
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Grievance Category:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.GrievanceCategoryName</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Name:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.GrievanceRelatedName</label>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Code:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.RelatedCode</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Phone No.:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.RelatedMobile</label>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Created on:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.CreatedDate</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Assigned on:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.grievanceempcls.AssignedOn</label>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Assigned To:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.grievanceempcls.AssignedToName</label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Assigned By:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.grievanceempcls.AssignedByName</label>

                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold">Priority:</label>
                                </div>

                                <div class="col-md-6">
                                    <label>@Model.GrievancePriorityName</label>

                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="form-group">
                        <label class="control-label" style="font-weight:bold">Description:</label><br />
                        <label>@Model.Description</label>

                    </div>
                    <div class="form-group">
                        <label class="control-label" style="font-weight:bold">Attached Files:</label><br />
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Slno.</th>
                                    <th>Attach File</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.attachments)
                                    {
                                        <tr>
                                            <td>
                                                @(++i)
                                            </td>


                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group text-center">

                </div>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadGrievanceStatus" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Grievance/downloadGrievanceStatusSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
