﻿
@{
    ViewData["Title"] = "AllComments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNetCore.Http;
@model IEnumerable<OdmErp.Web.Models.GrievanceCommentModel>
@*<div class="row holder-breadcrumb">
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb card-header bg-white">
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AllGrievances" asp-controller="Grievance">RaiseGrievance</a></li>
                <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewMyGrievance"  asp-controller="Grievance" asp-route-ID="@ViewBag.GrievanceId">View</a></li>
                <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Comment</li>
            </ol>
        </nav>
    </div>*@

<div class="card" style="margin-top:8px;margin-bottom:16px;">
    <div class="card-header alert alert-success h6 mb-0">


        <div class="row">
            <div class="col-6" style="padding:5px;">
                <span class="font-weight-bold text-secondary">Grievance Comments</span>
            </div>
            <div class="col-6 text-sm-right">
                <a id="btnaddattachment" class="d-none text-right d-sm-inline-block btn btn-sm btn-danger text-white font-weight-normal" onclick="goBack()">
                    <i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Go To Back
                </a>
            </div>
        </div>


        @*<span>   <i class="fas fa-info-circle"></i></span>*@

    </div>
    <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            @*<h1 class="h3 mb-0 text-gray-800">Comments </h1>*@

        </div>
        <div class="row">
            <div class="container-fluid">
                @*<input id="requestidd" type="hidden" value="@Model.SupportRequestID" />*@
                <section class="comments">
                    @if (Model.Count() > 0)
                    {
                        foreach (var a in Model)
                        {
                            <article class="comment">
                                <a class="comment-img" href="#non">
                                    <img src="@(a.Profile)" alt="@(a.CommentBy)" width="50" height="50">
                                </a>
                                <div class="comment-body">
                                    <div class="text">
                                        <p class="h5 mb-0 text-dark font-weight-normal">@a.Comment</p>
                                        @if (a.CommentedAttachments.Count > 0)
                                        {
                                            foreach (var m in a.CommentedAttachments)
                                            {
                                                <p class="h6 mb-0 text-dark font-weight-normal pb-1"><a href="/ODMImages/GrievanceAttachment/@m.Path" target="_blank" class="alert-primary"><i class="fa fa-paperclip"></i>@m.Name</a></p>
                                            }
                                        }
                                    </div>

                                    @if (a.EmpId == a.UserId)
                                    {
                                        <p class="attribution">
                                            by <a href="#non"><span class="text-success">me</span></a> at <span class="text-success">
                                                @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                            </span>
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="attribution">
                                            by <a href="#non">
                                                <span class="text-primary">
                                                    @a.CommentBy
                                                </span>
                                            </a> at <span class="text-primary">
                                                @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                            </span>
                                        </p>
                                    }

                                </div>
                                @if (a.EmpId == a.UserId)
                                {
                                    @*<a title="closecomment" asp-action="RemoveComment" asp-route-id="@a.ID" onclick="return confirm('Are you sure you wish to Denide access to this Employee?');"><i class="fa fa-user text-success" aria-hidden="true"></i></a>*@
                                    <a class="closecomment" onclick="deleteComment(@a.ID)"><i style="color:red;" class="fa fa-times"></i></a>
                                }
                            </article>
                        }
                    }
                    <div>
                        <form method="post" asp-action="SaveGrievanceComment" enctype="multipart/form-data">
                            <input id="grievanceid" name="grievanceid" type="hidden" value="@ViewBag.GrievanceId" />
                            <input id="grievancestatusid" name="grievancestatusid" type="hidden" value="@ViewBag.GrievanceStatusId" />
                            <a class="comment-img" href="#non">
                                <img src="@Context.Session.GetString("profile")" alt="odm" width="50" height="50">
                            </a>
                            <div class="comment-body">
                                <div class="text">
                                    <textarea class="form-control h5 mb-0 text-dark font-weight-normal" id="txtcomment" name="comment" rows="6" placeholder="Write Comment Here..."></textarea>
                                    <span class="text-danger" id="spantxtcomment"></span>
                                </div>
                                <div class="text">
                                    <input type="file" id="file" name="file1" multiple />
                                </div>
                                <input type="submit" value="Submit" id="btnuploadcomment" class="btn btn-primary float-right mt-3" />

                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="ModalCommentDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Grievance Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="RemoveComment" method="post" enctype="multipart/form-data">
                    @*@if (Model.Count() > 0)
                        {*@
                    <input type="hidden" id="grivids" name="grivids" />
                    @*}*@
                    <div class="row">

                    </div>
                    <label>Are sure you want Delete this Grievance comment?</label>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4" id="file_Name">
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-primary" value="Delete Comment" />
                            <span class="text-danger" id="spanattachmentfile"></span>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    function deleteComment(id) {
        $("#grivids").val(id);
        $('#ModalCommentDelete').modal('show');
        return false;
    }
    function goBack() {
        window.history.back();
    }

</script>