﻿
@{
    ViewData["Title"] = "GrievancePublicForm";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.GrievancePublicFormCls

    <h3>Grievance Public Form</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row" id="Employee">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <select class="form-control">
                            <option value="0">Select Category</option>
                            <otion value="Employee">Employee</otion>
                            <otion value="Student">Student</otion>
                            <otion value="Parent">Parent</otion>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h6><strong>Attachments</strong></h6><hr />
                    </div>
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <input type="text" name="txtattachment" id="txtattachment" class="form-control" />
                            <span id="spantxtattachment" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="file" name="file" id="file" />
                            <span id="spanfile" class="text-danger"></span>
                        </div>
                        <div class="col-md-2 form-group">
                            <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <span id="spanattach" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Sl. No.</td>
                                    <td>Name</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody id="tblattachments">
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group text-center">
                       
                        <button id="btngrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btngrievance').click(function () {
            if ($('#GrievanceTypeID').val() == '') {
                $('#GrievanceTypeID .text-danger').html('Select Type');
                return false;
            }
            if ($('#Description').val() == '') {
                $('#Description .text-danger').html('Enter Description');
                return false;
            }
            $.get('/Grievance/SaveGrievance', { type: $('#GrievanceTypeID').val(), description: $('#Description').val() }, function (data) {
                if (data == 1) {
                    window.location.href = "/Grievance/MyGrievances";
                }
            })
        })
        $('#btnattachment').click(function () {
            if ($('#txtattachment').val() == '') {
                $('#spantxtattachment').html('Enter File Name');
                return false;
            }
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile').html('Select file');
                return false;
            }

            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }
            $.ajax({
                url: '/Grievance/SaveGrievanceAttachment',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    debugger;
                    var res = data;
                    if (data.length > 0) {
                        $('#tblattachments').html('');
                        var s = "";
                        jQuery.each(data, function (key, value) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                            s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        })
                        $('#tblattachments').html(s);
                        $('#txtattachment').val('');
                        $("#file").val('');
                    }
                }
            })
        })

    })
    function removeattachment(id) {
        $.get('/Grievance/RemoveGrievanceAttachment', { id: id }, function (data) {
            debugger;
            var res = data;
            if (data.length > 0) {
                $('#tblattachments').html('');
                var s = "";
                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (++key) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                    s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments').html(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
        })
    }
</script>