﻿@{
    ViewData["Title"] = "Grievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*@model IEnumerable<OdmErp.ApplicationCore.Entities.GrievanceAggregate.Grievance>*@
@model IEnumerable<OdmErp.Web.Models.StudentGrievancecls>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Grievance</h1>
    <div>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal"><i class="fas fa-file-excel fa-sm text-white-50"></i> Upload Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" asp-action="DownloadGrievance" asp-controller="Grievance"><i class="fas fa-file-excel fa-sm text-white-50"></i> Download Excel</a>
        <a href="/Grievance/CreateOrEditGrievance" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>

    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                
                <div class="table-responsive">
                    
                    <form>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4" style="width: 200px;">
                                <label class="control-label"></label>
                                <select class="form-control">
                                    <option value="null">Select Type</option>
                                    @if (ViewBag.GrievanceTypes != null)
                                    {
                                        foreach (var a in ViewBag.GrievanceTypes)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-4" style="width: 200px;">
                                <label for="GrievanceStatus" class="control-label"></label>
                                <select class="form-control" onchange="return aa();">
                                    <option value="null">Select Status</option>
                                    @if (ViewBag.GrievanceStatus != null)
                                    {
                                        foreach (var a in ViewBag.GrievanceStatus)
                                        {
                                            <option value="@a.ID">@a.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group col-md-4" style="width: 200px;">
                                <label class="control-label"></label>
                                <select class="form-control">
                                    <option value="null">Select Employee</option>
                                    @if (ViewBag.employees != null)
                                    {
                                        foreach (var a in ViewBag.employees)
                                        {
                                            <option value="@a.ID">@a.FirstName @a.MiddleName @a.LastName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>
                            <tr>
                                <th>Sl no.</th>
                                <th>Grievance Type</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @(++i)
                                        </td>

                                        
                                        <td>@item.GrievanceTypeName</td>
                                        <td>@item.GrievanceStatusName</td>
                                        <td>@item.Description</td>
                                        <td>
                                            @item.ModifiedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="" asp-route-id="@item.ID" id="accept" style="display:none;"><i class="text-black-50"></i>Accept</a> 
                                            <a asp-action="" asp-route-id="@item.ID" id="assign" style="display:none;"><i class="text-black-50"></i>Assign</a>
                                            <a asp-action="" asp-route-id="@item.ID" id="update" style="display:none;"><i class="text-black-50"></i>Update</a>
                                     <div style="display:none;"> <a asp-action="" asp-route-id="@item.ID" id="verify"><i class="text-black-50"></i>Verify</a>| <a asp-action="CreateOrEditGrievance" asp-route-id="@item.ID" id="reassign"><i class="text-black-50"></i>ReAssign</a></div>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadGrievanceStatus" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Grievance/downloadGrievanceStatusSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () { });

    function aa() {
        $.get('/Grievance/GetAllStatus', {}, function (data) {
          
            if (data.name = "pending") {
                              
                $("#assign").show();
            }
            else
                $("#assign").hide();

        })


    }
</script>