﻿
@{
    ViewData["Title"] = "GrievanceAttachments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using OdmErp.ApplicationCore.Interfaces;
@model OdmErp.Web.Models.GrievanceAttachmentNewModel
@inject IGrievanceRepository grievaceRepository;

<div class="row">
    <div class="card col-12">
        <div class="card-header bg-white">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Grievance Attachments</h1>
                <div>
                    <a id="btnaddattachment" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                        <i class="fas fa-plus-circle"></i>&nbsp; Add
                    </a>
                    <a id="btnaddattachment" class="d-none d-sm-inline-block btn btn-sm btn-danger text-white font-weight-normal" onclick="goBack()">
                        <i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Go To Back
                    </a>

                </div>
            </div>
        </div>

        @if (Model.Attachments != null)
        {
            foreach (var a in Model.Attachments)
            {
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <span class="text-black-50 pl-2 pr-2" style="font-size: 1rem;font-weight: 800;"><a href="~/ODMImages/Grievance/@a.AttachmentPath" target="_blank"><b>@a.AttachmentPath</b></a></span>
                        </div>
                        <div class="col-md-6" style="font-size: 0.8rem;">
                            <b>Uploaded By</b> <span class="text-info font-weight-bolder">@a.PostedBy</span> <b>on</b> <span class="text-info font-weight-bolder">@(a.InsertedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</span>
                        </div>
                        @*<div class="col-md-3" style="font-size: 0.8rem;">
                                <b>Modified On</b> <span class="text-info font-weight-bolder">@(a.ModifiedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</span>
                            </div>*@
                        <div class="col-md-1 text-right" style="font-size: 0.8rem;color:black;">

                            <a asp-route-id="@a.ID"  onclick="return deleteAttachment(@a.ID)"><i class="fa fa-trash"></i></a>
                            @*  <a asp-action="DeleteGrievanceAttachments" asp-route-id="@a.ID" title="Delete" style="text-decoration: none !important;"><i class="fas fa-trash fa-sm"></i></a>*@
                        </div>

                    </div>



                </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="ModalAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="SaveGrievanceAttachments" method="post" enctype="multipart/form-data">
                    @*@if (Model.Count() > 0)
                        {*@
                    <input type="hidden" id="grivid" name="grivid" value="@Model.GrievanceId" />
                    @*}*@
                    <div class="row">
                        @*<div class="col-md-4">
                                Name
                            </div>*@
                        @*<div class="col-md-8">
                                <input type="text" class="form-control" id="txtattachmentname" name="txtattachmentname" />
                                <span class="text-danger" id="spanattachmentname"></span>
                            </div>*@
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Choose File
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="myfile" id="myfile" class="text-center center-block file-upload" />
                            <span class="text-danger" id="spanattachmentfile"></span>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnuploadattachment" class="btn btn-primary" value="Upload Attachment" />
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttachmentDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Grievance Attachment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="DeleteGrievanceAttachments" method="post" enctype="multipart/form-data">
                    @*@if (Model.Count() > 0)
                        {*@
                    <input type="hidden" id="grivids" name="grivids"/>
                    @*}*@
                    <div class="row">

                    </div>
                    <label>Are sure you want Delete this Grievance attachments?</label>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4" id="file_Name">
                        </div>
                        <div class="col-md-8">
                            <input type="submit" id="btnuploadattachment" class="btn btn-primary" value="Delete Attachment" />
                            <span class="text-danger" id="spanattachmentfile"></span>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    function deleteAttachment(id) {
        $("#grivids").val(id);
        $('#ModalAttachmentDelete').modal('show');
        return false;
    }
    function goBack() {
        window.history.back();
    }
    $(document).ready(function () { 
        $('#btnaddattachment').click(function () {
            $('#ModalAttachment').modal('show');
        })

    })
</script>