﻿
@{
    ViewData["Title"] = "GrievanceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        text-decoration: none;
    }

        .grievancepanel:hover {
            
            border:5px solid;
            border-color: orangered;
        }
        a:hover
    {
        text-decoration: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 grievancepanel" style="box-shadow: 2px 1px 5px 0px grey;">
                    <a asp-action="StudentGrievanceForm" asp-controller="Grievance">
                        <div class="form-group">
                            <img src="~/images/family.png" style="margin-top: 2rem;" />
                        </div>
                        <div class="form-group">
                            <h3>Student / Parent</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2"></div>

            </div>

        </div>
        <div class="col-md-6">

            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 grievancepanel" style="box-shadow: 2px 1px 5px 0px grey;" >
                    <a asp-action="StaffGrievanceForm" asp-controller="Grievance">
                        <div class="form-group">
                            <img src="~/images/staffs.png" style="margin-top: 2rem;height:128px;" />
                        </div>
                        <div class="form-group">
                            <h3>Staff</h3>
                        </div>
                    </a>
                </div>

                <div class="col-md-2"></div>
            </div>
            </a>
        </div>
    </div>
</div>