﻿
@{
    ViewData["Title"] = "GrievanceAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Microsoft.AspNetCore.Http;
@model IEnumerable<OdmErp.Web.Models.GrievanceAccessModelClass>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="Grievance" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">GrievanceAccess</li>
        </ol>
    </nav>
</div>


<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Grievance Access</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadGrievanceAccess" asp-controller="Grievance"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>
                    <a href="/Grievance/CreatOrEditGrievanceAccess" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>


            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Sl.No</th>*@
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Grievance Type</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Grievance SubType</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Authorized Person</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">AssignedOn</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">RemovedOn</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {

                                    <tr>
                                        @*<td>@(++i)</td>*@
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.GrievanceCategoryName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.GrievanceTypeName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.EmployeeName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.InsertedDate.Value.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @(item.EndDate != null ?  item.EndDate.Value.ToString("dd-MMM-yyyy") : "NA")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>
                                        @if (item.Active == false && item.Status == "DELETED")
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @*<a title="Edit" asp-action="CreatOrEditGrievanceAccess" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;*@
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a title="Enable Access" asp-action="GrievanceAccessStatusChange" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to Give access to this Employee?');"><i class="fa fa-user text-success" aria-hidden="true"></i></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                @*<a title="Edit" asp-action="CreatOrEditGrievanceAccess" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;*@
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a title="Remove Access" asp-action="GrievanceAccessStatusChange" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to Remove access to this Employee?');"><i class="fa fa-user-times" aria-hidden="true"></i></a>
                                            </td>
                                        }
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadGrievanceAccess" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Grievance/DownloadGrievanceAccessSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

