﻿
@{
    ViewData["Title"] = "RaiseGrievanceByStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model staffGrievanceDetails
<div class="container">
    <div class="form-group text-center">
        <span class="text-danger">@ViewBag.errormsg</span>
    </div>
    @*<form asp-action="RaiseGrievanceByStaff" method="get">*@
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label"><strong>Employee Code</strong></label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@Model.Empcode</label>
                        <input type="hidden" value="@Model.EmployeeId" id="hdnempid" name="EmployeeId" />
                        <input type="hidden" value="@Model.Empcode" id="hdnempcode" name="Empcode" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label"><strong>Employee Name</strong></label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">@Model.EmployeeName</label>
                    </div>
                </div>
                @foreach (var a in Model.employeeDesignations)
                {
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label"><strong>Organization Name</strong></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">@a.OrganizationName</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label"><strong>Department Name</strong></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">@a.DepartmentName</label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label"><strong>Designation Name</strong></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">@a.DesignationName</label>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                }
                <div class="form-group">
                    <label asp-for="GrievanceTypeID" class="control-label"></label>
                    <select asp-for="GrievanceTypeID" class="form-control">
                        <option value="">Select Grievance Type</option>
                        @if (Model.types != null)
                        {
                            foreach (var a in Model.types)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="GrievanceTypeID" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h6><strong>Attachments</strong></h6><hr />
                </div>
                <div class="row">
                    <div class="col-md-5 form-group">
                        <input type="text" name="txtattachment" id="txtattachment" class="form-control" />
                        <span id="spantxtattachment" class="text-danger"></span>
                    </div>
                    <div class="col-md-5 form-group">
                        <input type="file" name="file" id="file" />
                        <span id="spanfile" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 form-group">
                        <button id="btnattachment" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                    </div>
                </div>
                <div class="form-group">
                    <span id="spanattach" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Sl. No.</td>
                                <td>Name</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody id="tblattachments">
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-center">
                    <button id="btngrievance" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i>Submit</button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    @*</form>*@
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btngrievance').click(function () {
            $('#divloader').fadeIn();
            if ($('#GrievanceTypeID').val() == '') {
                $('#GrievanceTypeID .text-danger').html('Select Type');
                 $('#divloader').fadeOut();
                return false;
            }
            if ($('#Description').val() == '') {
                $('#Description .text-danger').html('Enter Description');
                return false;
            }
            $.get('/Grievance/SaveStaffGrievance', { type: $('#GrievanceTypeID').val(), description: $('#Description').val(),empid:$('#hdnempid').val() }, function (data) {
                $('#divloader').fadeOut();
                if (data == 1) {
                    window.location.href = "/Grievance/SuccessfullyRaised";
                }
            })
        })
        $('#btnattachment').click(function () {
            $('#divloader').fadeIn();
            if ($('#txtattachment').val() == '') {
                $('#spantxtattachment').html('Enter File Name');
                $('#divloader').fadeOut();
                return false;
            }
            var files = $("#file").get(0).files;
            //Basic Info
            if (files.length == 0) {
                $('#spanfile').html('Select file');
                $('#divloader').fadeOut();
                return false;
            }

            var formdata = new FormData();
            formdata.append("Name", $('#txtattachment').val());
            //Basic Info
            if (files.length > 0) {
                formdata.append("file", files[0]);
            }
            $.ajax({
                url: '/Grievance/SaveGrievanceAttachment',
                type: 'POST',
                data: formdata,
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    debugger;
                    $('#divloader').fadeOut();
                    var res = data;
                    if (data.length > 0) {
                        $('#tblattachments').html('');
                        var s = "";
                        jQuery.each(data, function (key, value) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                            s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        })
                        $('#tblattachments').html(s);
                        $('#txtattachment').val('');
                        $("#file").val('');
                    }
                }
            })
        })

    })
    function removeattachment(id) {
        $('#divloader').fadeIn();
        $.get('/Grievance/RemoveGrievanceAttachment', { id: id }, function (data) {
            debugger;
            $('#divloader').fadeOut();
            var res = data;
            if (data.length > 0) {
                $('#tblattachments').html('');
                var s = "";
                jQuery.each(data, function (key, value) {
                    s += "<tr>";
                    s += "<td>" + (key + 1) + "</td>";
                    s += "<td><a href='" + value.file + "' target='_blank'>" + value.name + "</a></td>";
                    s += "<td><a onclick='removeattachment(" + key + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments').html(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
        })
    }
</script>