﻿
@{
    ViewData["Title"] = "StudentGrievanceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model publicgrievancecls
<div class="container">
    <div class="form-group text-center">
        <span class="text-danger">@ViewBag.errormsg</span>
    </div>
    <form asp-action="RaiseGrievanceByStudent" method="get">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="studentname" class="control-label"></label>
                    <input asp-for="studentname" class="form-control" />
                    <span asp-for="studentname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="studentcode" class="control-label"></label>
                    <input asp-for="studentcode" class="form-control" />
                    <span asp-for="studentcode" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <a asp-action="GrievanceForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back </a>
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Submit</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </form>
</div>
