﻿
@{
    ViewData["Title"] = "SuccessfullyRaised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-group text-center p-5" style="color:green;">
    
  <h1><i class="fa fa-check"></i></h1>  
    <h2>Successfully Raised</h2>
    <a asp-action="GrievanceForm" asp-controller="Grievance">Go to Grievance Form</a>
</div>


