﻿
@{
    ViewData["Title"] = "ViewMyGrievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.GrievanceViewClass


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AllGrievances" asp-controller="Grievance">RaiseGrievance</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">View</li>
        </ol>
    </nav>
</div>

<style>
    .h:hover {
        color: red;
    }

    .content {
        text-align: right;
        margin-right: 02px;
        margin-bottom: 05px;
    }
</style>

<!--<div class="content">
    @if (Model.StatusId != 4 && Model.StatusId != 6)
    {
        <a asp-action="SendReminderfrmparents" asp-route-id="@Model.ID" asp-route-act="ViewMyGrievance" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>

    }-->
@*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-light" id="timeline" data-dismiss="modal" aria-hidden="true"><i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Extend Timeline</a>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-light" id="forward" data-dismiss="modal" aria-hidden="true"><i class="fa fa-forward" aria-hidden="true"></i> Forward Grievance</a>*@
<!--</div>-->

<div class="card ">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Details</span>
            </div>
            <div class="col-sm-6 text-right">
                @if (Model.StatusName == "COMPLETED")
                {
                    <a title="Verify" onclick="verifyscorenodal(@Model.ID)" id="verify" class="tblverify" style="text-decoration: none !important; color:white;"><i class="fas fa-check fa-sm"></i></a>
                }
            </div>
            @*<div class="col-4">
                    <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                </div>*@

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Grievance Code:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.Code</label>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Grievance Type:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.GrievanceTypeName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Grievance SubType:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.GrievanceStatusName</label>

                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">@((Model.RoleId == 5 || Model.RoleId == 6) ? "Student Code :" : "Employee Code :")</label>
                    </div>

                    <div class="col-md-6">
                        <label>@(Model.RelatedCode)</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">@((Model.RoleId == 5)?"Student Name":(Model.RoleId == 6) ? "Parent Name :" : "Employee Name :")</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.GrievanceRelatedName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Mobile No:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.RelatedMobile</label>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Raised Date Time:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@(Model.CreatedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>

                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Status:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.StatusName</label>

                    </div>

                </div>
            </div>

            @*<div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Authorized Person:</label>
                        </div>

                        <div class="col-md-6">
                            <label>@Model.AuthorizedPerson</label>

                        </div>
                    </div>
                </div>*@

        </div>

        <br />
        <div class="form-group">
            <label class="control-label" style="font-weight:bold">Description:</label><br />
            <label>@Model.Description</label>
        </div>
    </div>
</div>
<div class="card " style="margin-top:10px">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Authorized Person</span>
            </div>

        </div>
    </div>
    <div class="card-body">
        @if (Model.employeeattachments != null)
        {
            <div class="form-group">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Is Head</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int i = 0;

                            var names = Model.AuthorizedPerson.Split(new char[] { '-', ',' });
                            string df = names[0];
                            string[] arr = new string[names.Length];
                            for (int k = 0; k < names.Length; k++)
                            {
                                string dfs = names[k];
                                arr[k] = names[k];
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@arr[k]</td>
                                    <td>@(arr[k] == arr[0] ? "yes" : "No")</td>
                                    <td>@(arr[k] == arr[0] ? "No" : "Yes")</td>
                                </tr>
                            }


                        }

                    </tbody>
                </table>

            </div>

        }
        else
        {
            <span>No Attachments Found</span>
        }
    </div>
</div>
@if (Model.IsRejected == false)
{
    @if (Model.IsGrievanceForward == true)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Forward</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group">
                <table class="table" width="80%" cellspacing="0" style="margin-left:10px;">
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var a in Model.ForwardDetail)
                            {
                                <tr>
                                    <td>@a.ForwardToName</td>
                                    <td>@a.ForwardDate.Value.ToString("dd-MMM-yyyy")</td>
                                    <td>@a.ForwardDate.Value.ToString("hh:mm tt")</td>
                                    <td>@a.ForwardStatus</td>
                                    <td>@a.GrievanceStatus</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>

    }

    @if (Model.IsTimelineExtended == true)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Extended Timeline</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group" style="margin-left:20px;margin-top:20px;">
                @if (Model != null)
                {
                    foreach (var a in Model.ExtendedTimelineDetail)
                    {
                        <div>
                            <strong>Extended Timeline :</strong> @a.ExtendedDate.Value.ToString("dd-MMM-yyyy")<br />
                            <strong>Extended By :</strong> @a.ExtendedBy<br />
                            <strong>Extended Reason :</strong> @a.ExtendedReason<br />
                        </div><br />
                    }
                }
            </div>
        </div>

    }

    @if (Model.GrievaneSolvedDetails != null)
    {
        <div class="card " style="margin-top:10px;">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Solved</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group" style="margin-left:20px;margin-top:20px;">
                @if (Model != null)
                {
                    <div>
                        <strong>Grievance Solved By :</strong> @Model.GrievaneSolvedDetails.CompletionName
                        <div class="timeclass" style=" bottom: 122px;">@("Timetaken to solve the Grievance : " + (Model.GrievaneSolvedDetails.EstimateDate.Value.Days != 0 ? Model.GrievaneSolvedDetails.EstimateDate.Value.Days + "days" + " " + Model.GrievaneSolvedDetails.EstimateDate.Value.Hours + "hours" + " " + Model.GrievaneSolvedDetails.EstimateDate.Value.Minutes + "minutes" : Model.GrievaneSolvedDetails.EstimateDate.Value.Hours != 0 ? Model.GrievaneSolvedDetails.EstimateDate.Value.Hours + "hours" + " " + Model.GrievaneSolvedDetails.EstimateDate.Value.Minutes + "minutes" : Model.GrievaneSolvedDetails.EstimateDate.Value.Minutes + "minutes"))</div> <br />
                        <strong>Grievance Solved Date & Time :</strong> @Model.GrievaneSolvedDetails.CompletionDate.Value.ToString("dd-MMM-yyyy hh:mm tt")<br />
                    </div><br />
                    @if (Model.GrievaneSolvedDetails.VerifiedId != 0)
                    {
                        <strong>Grievance Verified By :</strong> @Model.GrievaneSolvedDetails.VerifiedName <br />
                        if (Model.GrievaneSolvedDetails.VerifyRemark != null)
                        {
                            <strong>Grievance Remark :</strong> @Model.GrievaneSolvedDetails.VerifyRemark <br />
                        }
                        <strong>Grievance Score :</strong> @Model.GrievaneSolvedDetails.Score
                    }
                }
            </div>
        </div>

    }

    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Attachments</span>
                </div>
                @*<div class="col-4">
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                    </div>*@
                <div class="col-6" style=" text-align-last:right;">

                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                    <a title="Attachments" asp-action="GrievanceAttachments" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fas fa-paperclip fa-lg" style="margin-right:24px;color:white;"></i></span></a>
                </div>

            </div>
        </div>
        <div class="card-body">
            @if (Model.employeeattachments != null)
            {
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold">Grievance Attached Files:</label><br />
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Attach File</th>
                                <th>Uploaded On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var a in Model.employeeattachments)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td><a href="~/ODMImages/Grievance/@a.Path" target='_blank'>@(a.Name == null ? a.Path : a.Name)</a></td>
                                        <td>@a.InsertedDate.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>

            }
            else
            {
                <span>No Attachments Found</span>
            }
        </div>
    </div>

    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Latest Comment</span>
                </div>
                @*<div class="col-4">
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                    </div>*@
                <div class="col-6" style=" text-align-last:right;">

                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                    <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>

                </div>

            </div>
        </div>

        <div class="card-body">
            @if (Model.grievancecommentscls.Count() > 0)
            {
                <div>
                    <h5>Comments</h5>
                </div>
                <hr />

                <div>
                    <div>
                        <strong>Posted By :</strong> @Model.grievancecommentscls.LastOrDefault().CommentBy<br />
                        <strong>Posted Date Time :</strong> @Model.grievancecommentscls.LastOrDefault().CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")<br />
                        @* <strong>Status :</strong> @Model.grievancecomments.GrievanceStatusName.StatusName*@
                    </div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Comment :</label>
                        <label class="control-label">
                            @Model.grievancecommentscls.LastOrDefault().Comment
                            <p class="h6 mb-0 text-dark font-weight-normal pb-1"><a href="/ODMImages/GrievanceAttachment/@Model.grievancecommentscls.LastOrDefault().CommentedAttachments.FirstOrDefault().Path" target="_blank" class="alert-primary"><i class="fa fa-paperclip"></i>@Model.grievancecommentscls.LastOrDefault().CommentedAttachments.FirstOrDefault().Name</a></p>
                        </label>
                        @*@if (Model.grievancecomments.CommentedAttachments.Count > 0)
                            {
                                foreach (var m in Model.grievancecomments.CommentedAttachments)
                                {
                                    <p class="h6 mb-0 text-dark font-weight-normal pb-1"><a href="/ODMImages/GrievanceAttachment/@m.Path" target="_blank" class="alert-primary"><i class="fa fa-paperclip"></i>@m.Name</a></p>
                                }
                            }*@
                    </div><br />
                    <div class="cmtclass">
                        <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray" style="margin-right:24px;color:white;text-decoration: none !important;">View Previous Comments</span></a>
                        @*<button class="cmtclass">View Previous Comments</button>*@
                    </div>

                </div>
                @*<div class="form-group">
                        @if (a.grievanceCommentAttachments.Count > 0)
                        {
                            <div class="form-group">
                                <label class="control-label" style="font-weight:bold">Attached Files:</label><hr />
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Slno.</th>
                                            <th>Attach File</th>
                                            <th>Created On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (a.grievanceCommentAttachments != null)
                                        {
                                            int i = 0;
                                            foreach (var item in a.grievanceCommentAttachments)
                                            {
                                                <tr>
                                                    <td>@(++i)</td>
                                                    <td><a href="~/ODMImages/Grievance/@Model.ID/@item.Path" target='_blank'>@item.Name</a></td>
                                                    <td>@item.InsertedDate.ToString("dd MMM yyyy")</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>

                        }
                    </div>*@

            }
            else
            {
                <span>No Comments Found</span>
            }
        </div>
    </div>

}
else
{
    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Rejected Reason</span>
                </div>
                <div class="col-6" style=" text-align-last:right;">
                    @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                </div>

            </div>
        </div>

        <div class="form-group" style="margin-left:20px;margin-top:20px;">
            @if (Model != null)
            {
                <div>
                    <strong>Is Rejected :</strong> @(Model.IsRejected == true ? "Yes" : "No") <br />
                    <strong>Rejected Reason :</strong> @Model.Reason  <br /><br />

                </div>
            }
        </div>
    </div>

}
<div class="card " style="margin-top:1.2rem;margin-bottom:1rem;">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold">Grievance Timeline</span>
            </div>
            <div class="col-6" style=" text-align-last:right;">



            </div>

        </div>
    </div>



    <div class="card-body">
        @if (Model.grievanceTimelines.Count() > 0)
        {

            @foreach (var a in Model.grievanceTimelines)
            {
                <div>
                    <label class="control-label font-weight-normal">Posted By :</label>
                    <span class="control-label font-weight-bold"> @a.PostedBy</span><br />
                    <label class="control-label font-weight-normal">Posted Date Time :</label>
                    <span class="control-label font-weight-bold">
                        @a.PostedDateTime.Value.ToString("dd-MMM-yyyy hh:mm tt")
                    </span><br />
                    @if (a.Status.StatusName == "Grievance is forwarded")
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@(a.Status.StatusName + " to " + a.Status.EmpName)</span><br />
                    }
                    else if (a.Status.StatusName == "Grievance Timeline is extended")
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@(a.Status.StatusName + " by " + a.Status.EmpName)</span><br />
                    }
                    else
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@a.Status.StatusName</span><br />
                    }

                </div>
                <br />
            }
        }
    </div>

    <div class="card-body">
        <div class="row ">
            <div class="col-12">


                <div id="timeLineChart">

                </div>
            </div>


        </div>


    </div>
</div>


<div class="modal fade" id="ModalForwardGrievance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Forward Grievance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveForwardGrievance" method="post">
                    <input type="hidden" id="grivid" name="grivid" value="@Model.ID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" style="margin-right:50px;margin-left:20px">To Employee</label>
                            <select id="fwdEmp" name="fwdEmpId" class="form-control" asp-items="@(new SelectList(ViewBag.Employee,"ID","FullName"))">
                                <option value="0">Select Employee</option>
                            </select>
                            @* <span asp-validation-for="GrievanceCategoryId" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnuploadattachment" class="btn btn-primary" value="Forward Grievance" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ModalExtendedTimeline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Extend Timeline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveForwardGrievance" method="post">
                    <input type="hidden" id="grivid" name="grivid" value="@Model.ID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row col-md-12">
                        <div class="form-group ">
                            <label class="control-label col-md-7" style="margin-right:50px;margin-left:20px">Select Date</label>
                            <input type="date" class="form-group col-md-5" id="extdDate" name="extdDate" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-7" style="margin-right:50px;margin-left:20px">select Time (Optional)</label>
                            <input type="time" class="form-group col-md-5" id="extdTime" name="extdTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" style="margin-right:50px;margin-left:20px">Reason</label>
                            <textarea maxlength="6" id="reason" name="reason"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label" style="margin-right:50px;margin-left:20px">Attachment</label>
                            <input type="file" id="file" name="file" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnuploadattachment" class="btn btn-primary" value="Extend Timeline" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Give Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="VerifyGrievance" enctype="multipart/form-data" method="post">
                    <input type="hidden" id="hdnid" name="hdnid" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            Score
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="txtscore" name="txtscore" class="form-control" min="0" max="10" required title="Please specify a score" onkeypress="return isNumberKey(event);" />
                            <label>(Out of 10)</label>
                        </div>
                        <div class="col-md-4">
                            Remark
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="txtremark" name="remark" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Verify Now" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

    function verifyscorenodal(id) {
        $('#txtscore').val('');
        $('#hdnid').val(id);
        $('#myScoreModal').modal('show');
    }
    $(document).ready(function () {
        $('#timeline').click(function () {
            $('#ModalExtendedTimeline').modal('show');
        });
        $('#forward').click(function () {
            $('#ModalForwardGrievance').modal('show');
        })
    })
</script>





