﻿
@{
    ViewData["Title"] = "ViewManageGrievance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Microsoft.AspNetCore.Http;

@model OdmErp.Web.Models.GrievanceViewClass


<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="GrievanceMaster" asp-controller="Layout">Grievance</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ManageGrievance" asp-controller="Grievance">ManageGrievance</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">View</li>
        </ol>
    </nav>
</div>

<style>
    .h:hover {
        color: red;
    }

    .content {
        text-align: right;
        margin-right: 02px;
        margin-bottom: 05px;
    }
</style>

@if (Model.StatusId == 1 || Model.StatusId == 2 || Model.StatusId == 3)
{
    <div class="content">
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-light" id="subassign" data-dismiss="modal" aria-hidden="true"><i class="fa fa-user-plus" aria-hidden="true"></i> Sub Assign</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-light" id="timeline" data-dismiss="modal" aria-hidden="true"><i class="fa fa-expand-arrows-alt" aria-hidden="true"></i> Extend Timeline</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm text-light" id="forward" data-dismiss="modal" aria-hidden="true"><i class="fa fa-forward" aria-hidden="true"></i> Forward Grievance</a>
    </div>
}

@*<div class="content">
        @if (Model.StatusId != 2 && Model.StatusId != 5 && Model.StatusId != 6)
        {

            <a asp-action="Sendremindertoemployee" asp-route-act="ViewManageGrievance" asp-route-id="@Model.ID" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
        }
        @if (Model.StatusId == 5)
        {

            <a asp-action="Sendremindertoparent" asp-route-act="ViewManageGrievance" asp-route-id="@Model.ID" title="Send Reminder" class="tablereminder" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
        }
    </div>*@

<div class="card ">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Details</span>
            </div>
            @*<div class="col-4">
                    <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                </div>*@

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">

            </div>

            <div class="col-md-3">
                <div class="btn-group">
                    <button type="button" class="statuschangebtn">@Model.StatusName</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="onholdgrievance(@Model.ID);">ON-HOLD</a>
                        <a class="dropdown-item" asp-action="inprogressGrievancestatusupdate" asp-route-id="@Model.ID" onclick="return confirm('Are you sure to change status to in-progress?');">IN-PROGRESS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="completedGrievancestatusupdate" asp-route-id="@Model.ID" onclick="return confirm('Are you sure to change status to completed?');">COMPLETED</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Grievance Type:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.GrievanceTypeName</label>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" style="font-weight:bold">Grievance SubType:</label>
                    </div>

                    <div class="col-md-6">
                        <label>@Model.GrievanceStatusName</label>

                    </div>
                </div>
            </div>

        </div>
        @if (Model.IsApprovedForStudentDetails == true)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">@((Model.GrievanceCategoryID == 5 || Model.GrievanceCategoryID == 6) ? "Student Code :" : "Parent Code :")</label>
                        </div>

                        <div class="col-md-6">
                            <label>@(Model.RelatedCode)</label>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">@((Model.GrievanceCategoryID == 5 || Model.GrievanceCategoryID == 6) ? "Student Name :" : "Parent Name :")</label>
                        </div>

                        <div class="col-md-6">
                            <label>@Model.GrievanceRelatedName</label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Mobile No:</label>
                        </div>

                        <div class="col-md-6">
                            <label>@Model.RelatedMobile</label>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Raised Date Time:</label>
                        </div>

                        <div class="col-md-6">
                            <label>@(Model.CreatedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Status:</label>
                            </div>
                            @if (Model.StatusId == 1)
                            {
                                <div class="col-md-6">
                                    <label>PENDING</label>

                                </div>
                            }
                        </div>
                    </div>*@
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Status:</label>
                        </div>
                        @*@if (Model.StatusId == 1)
                            {*@
                        <div class="col-md-6">
                            <label>@Model.StatusName</label>

                        </div>
                        @*}*@
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Authorized Person:</label>
                            </div>

                            <div class="col-md-6">
                                <label>@Model.AuthorizedPerson</label>

                            </div>
                        </div>
                    </div>*@
                @*<div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Assigned To:</label>
                            </div>

                            <div class="col-md-6">
                                @if (Model.grievanceempcls != null)
                                {
                                    <label>@(Model.grievanceempcls.AssignedToName)</label>
                                }
                                else
                                {
                                    <label>Not Assigned</label>
                                }
                            </div>
                        </div>
                    </div>*@

                @*<div class="col-md-6">

                        <div class="row">

                            <div class="col-md-6">
                                <label class="control-label" style="font-weight:bold">Assigned By:</label>
                            </div>

                            <div class="col-md-6">
                                @if (Model.grievanceempcls != null)
                                {
                                    <label>@(Model.grievanceempcls.AssignedByName)</label>
                                }
                                else
                                {
                                    <label>Not Assigned</label>
                                }

                            </div>
                        </div>
                    </div>*@
            </div>
        }
        else
        {

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Status:</label>
                        </div>
                        @*@if (Model.StatusId == 1)
                            {*@
                        <div class="col-md-6">
                            <label>@Model.StatusName</label>

                        </div>
                        @*}*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Raised Date Time:</label>
                        </div>

                        <div class="col-md-6">
                            <label>@(Model.CreatedDate.Value.ToString("dd-MMM-yyyy hh:mm tt"))</label>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" style="font-weight:bold">Authorized Person:</label>
                        </div>

                        <div class="col-md-6">
                            <label>@Model.AuthorizedPerson</label>

                        </div>
                    </div>
                </div>
            </div>*@

        }
        <br />
        <div class="form-group">
            <label class="control-label" style="font-weight:bold">Description:</label><br />
            <label>@Model.Description</label>
        </div>
    </div>
</div>

<div class="card " style="margin-top:10px">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Authorized Person</span>
            </div>

        </div>
    </div>
    <div class="card-body">
        @if (Model.employeeattachments != null)
        {
            <div class="form-group">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Name</th>
                            <th>Is Head</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int i = 0;

                            var names = Model.AuthorizedPerson.Split(new char[] { '-', ',' });
                            string df = names[0];
                            string[] arr = new string[names.Length];
                            for (int k = 0; k < names.Length; k++)
                            {
                                string dfs = names[k];
                                arr[k] = names[k];
                                <tr>
                                    <td>@(++i)</td>
                                    <td>@arr[k]</td>
                                    <td>@(arr[k] == arr[0] ? "yes" : "No")</td>
                                    <td>@(arr[k] == arr[0] ? "No" : "Yes")</td>
                                </tr>
                            }


                        }

                    </tbody>
                </table>

            </div>

        }
        else
        {
            <span>No Attachments Found</span>
        }
    </div>
</div>
@if (Model.IsRejected == false)
{

    @if (Model.IsRequestedForStudentDetails == true)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Requested For Grievance Raiser</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group" style="margin-left:20px;margin-top:20px;">
                @if (Model != null)
                {
                    <div>
                        <strong>Requested :</strong> @(Model.IsRequestedForStudentDetails == true ? "Yes" : "No") <br />
                        <strong>Requested By :</strong> @Model.RequestedName  <br /><br />
                        @if (Model.IsApprovedForStudentDetails == true)
                        {
                            <strong>Approved :</strong> @(Model.IsApprovedForStudentDetails == true ? "Yes" : "No") <br />
                            <strong>Approved By :</strong> @Model.ApprovedName
                        }
                        else if (Model.IsRejectedForStudentDetails == true)
                        {
                            <strong>Rejected :</strong> @(Model.IsRejectedForStudentDetails == true ? "Yes" : "No") <br />
                            <strong>Rejected By :</strong> @Model.ApprovedName
                        }
                        else
                        {

                        }
                    </div><br />
                }
            </div>
        </div>

    }

    @if (Model.IsGrievanceForward == true)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Forward &amp; Sub-Assigned</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group">
                <table class="table table-bordered" cellspacing="0" style="width:100%;">
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var a in Model.ForwardDetail)
                            {
                                <tr>
                                    <td>@a.ForwardByName</td>
                                    <td>@a.ForwardStatus</td>
                                    <td>@a.ForwardToName</td>
                                    <td>@a.ForwardDate.Value.ToString("dd MMM yyyy")</td>
                                    <td>@a.ForwardDate.Value.ToString("hh:mm tt")</td>

                                    <td>@a.GrievanceStatus</td>
                                    <td>
                                        @if (a.GrievanceStatus != "COMPLETED" && a.EmpId != a.LogedInUnserId)
                                        {
                                            <a asp-action="SendReminderToSingleEmployees" asp-route-id="@a.GrievanceId" asp-route-empid="@a.EmpId" title="Send Reminder" class="tablesolved" style="text-decoration: none !important;"><i class="fas fa-bell fa-sm"></i></a>
                                        }
                                        @if (a.ForwardStatus == "SUB-ASSIGNED" && a.EmpId != a.LogedInUnserId)
                                        {
                                            <a asp-action="RemoveSubAssigned" asp-route-subassignedid="@a.ID" title="Remove Sub-Assigned" class="tabledelete" style="text-decoration: none !important;" onclick="return confirm('Are you sure you wish to Remove this Sub-Assign?');"><i class="fas fa-user-times fa-sm"></i></a>
                                        }
                                        @if (a.ForwardStatus == "FORWARDED" && a.EmpId != a.LogedInUnserId)
                                        {
                                            <a asp-action="RemoveSubAssigned" asp-route-subassignedid="@a.ID" title="Remove Sub-Assigned" class="tabledelete" style="text-decoration: none !important;" onclick="return confirm('Are you sure you wish to Remove this forwarded grievance?');"><i class="fas fa-user-times fa-sm"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>

    }

    @if (Model.IsTimelineExtended == true)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance ExtendedTimeline</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group" style="margin-left:20px;margin-top:20px;">
                @if (Model != null)
                {
                    foreach (var a in Model.ExtendedTimelineDetail)
                    {
                        <div>
                            <strong>Extended Timeline :</strong> @(a.ExtendedDate.Value.ToString("dd MMM yyyy") @*+ " " + a.ExtendedTime != "" ? a.ExtendedTime : ""*@)<br />
                            <strong>Extended By :</strong> @a.ExtendedBy<br />
                            <strong>Extended Reason :</strong> @a.ExtendedReason<br />
                        </div><br />
                    }
                }
            </div>
        </div>

    }

    @if (Model.GrievaneSolvedDetails != null)
    {
        <div class="card " style="margin-top:10px">
            <div class="card-header bg-gradient-success">
                <div class="row">
                    <div class="col-6">
                        <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Solved &amp; Verified</span>
                    </div>
                    <div class="col-6" style=" text-align-last:right;">
                        @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                    </div>

                </div>
            </div>

            <div class="form-group" style="margin-left:20px;margin-top:20px;">
                @if (Model != null)
                {
                    <div>
                        <strong>Grievance Solved By :</strong> @Model.GrievaneSolvedDetails.CompletionName
                        @*<div class="timeclass"></div>*@ <br />
                        <strong>Grievance Solved Date & Time :</strong> @Model.GrievaneSolvedDetails.CompletionDate.Value.ToString("dd MMM yyyy hh:mm tt")<br /><br />
                        @if (Model.GrievaneSolvedDetails.VerifiedId != 0)
                        {
                            <strong>Grievance Verified By :</strong> @Model.GrievaneSolvedDetails.VerifiedName <br />
                            <strong>Grievance Score :</strong> @Model.GrievaneSolvedDetails.Score
                        }
                    </div><br />
                }
            </div>
        </div>

    }

    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Attachments</span>
                </div>
                @*<div class="col-4">
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                    </div>*@
                <div class="col-6" style=" text-align-last:right;">

                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                    <a title="Attachments" asp-action="GrievanceAttachments" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fas fa-paperclip fa-lg" style="margin-right:24px;color:white;"></i></span></a>
                </div>

            </div>
        </div>
        <div class="card-body">
            @if (Model.employeeattachments != null)
            {
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold">Grievance Attached Files:</label><br />
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Attach File</th>
                                <th>Uploaded On</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int i = 0;
                                foreach (var a in Model.employeeattachments)
                                {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td><a href="~/ODMImages/Grievance/@a.Path" target='_blank'>@(a.Name == null ? a.Path : a.Name)</a></td>
                                        <td>@a.InsertedDate.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>

            }
            else
            {
                <span>There is no Attachments</span>
            }
        </div>
    </div>

    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Comments</span>
                </div>
                @*<div class="col-4">
                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                    </div>*@
                <div class="col-6" style=" text-align-last:right;">

                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                    @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card " style="margin-top:10px">
                        <div class="card-header bg-gradient-success">
                            <div class="row">
                                <div class="col-6">
                                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Grievance Comments</span>
                                </div>
                                @*<div class="col-4">
                                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                                    </div>*@
                                <div class="col-6" style=" text-align-last:right;">

                                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                                    <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">



                            <div class="row">
                                <div class="container-fluid">
                                    @*<input id="requestidd" type="hidden" value="@Model.SupportRequestID" />*@
                                    <section class="comments">
                                        @if (Model.grievancecommentscls != null)
                                        {
                                            @if (Model.grievancecommentscls.Count() > 0)
                                            {
                                                foreach (var a in Model.grievancecommentscls)
                                                {
                                                    <article class="comment">
                                                        <a class="comment-img" href="#non">
                                                            <img src="@(a.Profile)" alt="@(a.CommentBy)" width="50" height="50">
                                                        </a>
                                                        <div class="comment-body">
                                                            <div class="text">
                                                                <p class="h5 mb-0 text-dark font-weight-normal">@a.Comment</p>
                                                                @if (a.CommentedAttachments.Count > 0)
                                                                {
                                                                    foreach (var m in a.CommentedAttachments)
                                                                    {
                                                                        <p class="h6 mb-0 text-dark font-weight-normal pb-1"><a href="/ODMImages/GrievanceAttachment/@m.Path" target="_blank" class="alert-primary"><i class="fa fa-paperclip"></i>@m.Name</a></p>
                                                                    }
                                                                }
                                                            </div>

                                                            @if (a.EmpId == a.UserId)
                                                            {
                                                                <p class="attribution">
                                                                    by <a href="#non"><span class="text-success">me</span></a> at <span class="text-success">
                                                                        @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                                                    </span>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="attribution">
                                                                    by <a href="#non">
                                                                        <span class="text-primary">
                                                                            @a.CommentBy
                                                                        </span>
                                                                    </a> at <span class="text-primary">
                                                                        @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                                                    </span>
                                                                </p>
                                                            }

                                                        </div>
                                                        @if (a.EmpId == a.UserId)
                                                        {
                                                            @*<a title="closecomment" asp-action="RemoveComment" asp-route-id="@a.ID" onclick="return confirm('Are you sure you wish to Denide access to this Employee?');"><i class="fa fa-user text-success" aria-hidden="true"></i></a>*@
                                                            @*<a class="closecomment" onclick="deleteComment(@a.ID)"><i class="fa fa-times"></i></a>*@
                                                        }
                                                    </article>
                                                }
                                            }
                                        }
                                        <div>
                                            <form method="post" asp-action="SaveViewGrievanceComment" enctype="multipart/form-data">
                                                <input id="grievanceid1" name="grievanceid1" type="hidden" value="@Model.ID" />
                                                <input id="grievancestatusid1" name="grievancestatusid1" type="hidden" value="@ViewBag.GrievanceStatusId" />
                                                <a class="comment-img" href="#non">
                                                    <img src="@Context.Session.GetString("profile")" alt="odm" width="50" height="50">
                                                </a>
                                                <div class="comment-body">
                                                    <div class="text">
                                                        <textarea class="form-control h5 mb-0 text-dark font-weight-normal" id="txtcomment1" name="comment1" rows="3" placeholder="Write Comment Here..."></textarea>
                                                        <span class="text-danger" id="spantxtcomment"></span>
                                                    </div>
                                                    <div class="text">
                                                        <input type="file" id="file1" name="file1" multiple />
                                                    </div>
                                                    <input type="submit" value="Submit" id="btnuploadcomment1" class="btn btn-primary float-right mt-3" />

                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card " style="margin-top:10px">
                        <div class="card-header bg-gradient-success">
                            <div class="row">
                                <div class="col-6">
                                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">In-House Comments</span>
                                </div>
                                @*<div class="col-4">
                                        <span class="h6 mb-0 text-dark font-weight-bold text-secondary">@Model.StatusName</span>
                                    </div>*@
                                <div class="col-6" style=" text-align-last:right;">

                                    @*<a asp-action="CreateOrEditSupportResolve" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-edit fa-lg" style="margin-right:24px;"></i></span></a>*@
                                    <a title="In House Comment" asp-action="GrievanceInHouseCommnets" asp-route-ID="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="container-fluid">
                                    @*<input id="requestidd" type="hidden" value="@Model.SupportRequestID" />*@
                                    <section class="comments">
                                        @if (Model.grievanceinhousecommentscls != null)
                                        {
                                            @if (Model.grievanceinhousecommentscls.Count() > 0)
                                            {
                                                foreach (var a in Model.grievanceinhousecommentscls)
                                                {
                                                    <article class="comment">
                                                        <a class="comment-img" href="#non">
                                                            <img src="@(a.Profile)" alt="@(a.CommentBy)" width="50" height="50">
                                                        </a>
                                                        <div class="comment-body">
                                                            <div class="text">
                                                                <p class="h5 mb-0 text-dark font-weight-normal">@a.Comment</p>
                                                                @if (a.InhouseCommentedAttachments.Count > 0)
                                                                {
                                                                    foreach (var m in a.InhouseCommentedAttachments)
                                                                    {
                                                                        <p class="h6 mb-0 text-dark font-weight-normal pb-1"><a href="/ODMImages/GrievanceInHouseAttachment/@m.Path" target="_blank" class="alert-primary"><i class="fa fa-paperclip"></i>@m.Name</a></p>
                                                                    }
                                                                }
                                                            </div>

                                                            @if (a.EmpId == a.UserId)
                                                            {
                                                                <p class="attribution">
                                                                    by <a href="#non"><span class="text-success">me</span></a> at <span class="text-success">
                                                                        @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                                                    </span>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="attribution">
                                                                    by <a href="#non">
                                                                        <span class="text-primary">
                                                                            @a.CommentBy
                                                                        </span>
                                                                    </a> at <span class="text-primary">
                                                                        @a.CommentedOn.Value.ToString("dd-MMM-yyyy hh:mm tt")
                                                                    </span>
                                                                </p>
                                                            }

                                                        </div>
                                                        @if (a.EmpId == a.UserId)
                                                        {
                                                            @*<a title="closecomment" asp-action="RemoveComment" asp-route-id="@a.ID" onclick="return confirm('Are you sure you wish to Denide access to this Employee?');"><i class="fa fa-user text-success" aria-hidden="true"></i></a>*@
                                                            @*<a class="closecomment" onclick="deleteComment(@a.ID)"><i class="fa fa-times"></i></a>*@
                                                        }
                                                    </article>
                                                }
                                            }
                                        }
                                        <div>
                                            <form method="post" asp-action="SaveViewGrievanceInHouseComment" enctype="multipart/form-data">
                                                <input id="grievanceid" name="grievanceid" type="hidden" value="@Model.ID" />
                                                <input id="grievancestatusid" name="grievancestatusid" type="hidden" value="@ViewBag.GrievanceStatusId" />
                                                <a class="comment-img" href="#non">
                                                    <img src="@Context.Session.GetString("profile")" alt="odm" width="50" height="50">
                                                </a>
                                                <div class="comment-body">
                                                    <div class="text">
                                                        <textarea class="form-control h5 mb-0 text-dark font-weight-normal" id="txtcomment" name="comment" rows="3" placeholder="Write Comment Here..."></textarea>
                                                        <span class="text-danger" id="spantxtcomment"></span>
                                                    </div>
                                                    <div class="text">
                                                        <input type="file" id="file" name="file" multiple />
                                                    </div>
                                                    <input type="submit" value="Submit" id="btnuploadcomment" class="btn btn-primary float-right mt-3" />

                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="card " style="margin-top:10px">
        <div class="card-header bg-gradient-success">
            <div class="row">
                <div class="col-6">
                    <span class="h6 mb-0 text-light font-weight-bold text-secondary">Rejected Reason</span>
                </div>
                <div class="col-6" style=" text-align-last:right;">
                    @* <a title="Comment" asp-action="GrievanceCommnets" asp-route-id="@Model.ID"><span class="text-gray"><i class="far fa-comment-dots fa-lg" style="margin-right:24px;color:white"></i></span></a>*@
                </div>

            </div>
        </div>

        <div class="form-group" style="margin-left:20px;margin-top:20px;">
            @if (Model != null)
            {
                <div>
                    <strong>Is Rejected :</strong> @(Model.IsRejected == true ? "Yes" : "No") <br />
                    <strong>Rejected Reason :</strong> @Model.Reason  <br /><br />

                </div>
            }
        </div>
    </div>

}

<div class="card " style="margin-top:1.2rem;margin-bottom:4rem;">
    <div class="card-header bg-gradient-success">
        <div class="row">
            <div class="col-6">
                <span class="h6 mb-0 text-light font-weight-bold">Grievance Timeline</span>
            </div>
            <div class="col-6" style=" text-align-last:right;">



            </div>

        </div>
    </div>



    <div class="card-body" style="margin-bottom:2rem;">
        @if (Model.grievanceTimelines.Count() > 0)
        {

            @foreach (var a in Model.grievanceTimelines)
            {
                <div>
                    @if (a.Status.RoleId == 5 || a.Status.RoleId == 6 && a.Status.ID != 6)
                    {
                        <label class="control-label font-weight-normal">Raised By :</label>
                    }
                    else
                    {
                        <label class="control-label font-weight-normal">Grievance Activity :</label>
                    }
                    <span class="control-label font-weight-bold"> @a.PostedBy</span><br />
                    <label class="control-label font-weight-normal">Posted Date Time :</label>
                    <span class="control-label font-weight-bold">
                        @a.PostedDateTime.Value.ToString("dd-MMM-yyyy hh:mm tt")
                    </span><br />
                    @if (a.Status.ID == 7)
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@(a.Status.StatusName + " to " + a.Status.EmpName)</span><br />
                    }
                    else if (a.Status.ID == 8)
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@(a.Status.StatusName + " by " + a.Status.EmpName)</span><br />
                    }
                    else if (a.Status.ID == 9)
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@(a.Status.StatusName + " by " + a.Status.EmpName + " To " + a.Status.SubAssignedToName)</span><br />
                    }
                    else
                    {
                        <label class="control-label font-weight-normal">Status :</label>
                        <span class="control-label font-weight-bold">@a.Status.StatusName</span><br />
                    }
                </div>
                <br />
            }
        }
    </div>

    <div class="card-body">
        <div class="row ">
            <div class="col-12">


                <div id="timeLineChart">

                </div>
            </div>


        </div>


    </div>
</div>

<div class="modal fade" id="ModalForwardGrievance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Forward Grievance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveForwardGrievance" method="post">
                    <input type="hidden" id="grivid" name="grivid" value="@Model.ID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="form-group">
                            @*<div style="font-weight:bold;margin-top:-10px;margin-bottom : 20px;margin-left:20px;">
                                    <input type="radio" id="toemp" name="forward" value="toEmp">
                                    <label for="male">To Employee</label>&nbsp;
                                    <input type="radio" id="todept" name="forward" value="toDept">
                                    <label for="female">To Department</label><br>
                                </div>*@
                            @*<div id="ToEmp">
                                    <label class="control-label" style="margin-right:50px;margin-left:20px">To Employee</label>
                                    <select id="fwdEmp" name="fwdEmpId" class="form-control" style="width:200px;" asp-items="@(new SelectList(ViewBag.Employee,"ID","FullName"))">
                                        <option value="0">Select Employee</option>
                                    </select><br />
                                    <span id="spanfwdEmp" class="text-danger" style="margin-left:183px;"></span>
                                </div>*@
                            <div class="row" id="ToDept">
                                <label class="control-label" style="margin-right:50px;margin-left:20px">To Department</label>
                                <select id="fwdDept" name="fwdDeptId" class="form-control" style="width:200px;" asp-items="@(new SelectList(ViewBag.Type,"ID","Name"))">
                                    <option value="0">Select Department</option>
                                </select><br />
                                <span id="spanfwdDept" class="text-danger" style="margin-left:183px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnuploadattachment" onclick="return ValidationFwd()" class="btn btn-primary" value="Forward Grievance" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalExtendedTimeline" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Extend Timeline</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveGrievanceExtendedTimeLine" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="grivid" name="grivid" value="@Model.ID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Select Date</label>
                        </div>
                        <div class="col-md-5">
                            <input type="date" class="form-control" id="extdDate" name="extdDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:145%;" />
                            <span id="spextdDate" class="text-danger"></span>
                        </div>

                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            <label>select Time (Optional)</label>
                        </div>
                        <div class="col-md-7">
                            <input type="time" class="form-control" id="extdTime" name="extdTime" style="width:100%;" />
                            <span class="text-danger"></span>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5">
                            <label>Reason</label>
                        </div>
                        <div class="col-md-7">
                            <textarea maxlength="300" class="form-control" id="reason" name="reason" rows="3" cols="23"></textarea><br />
                            <span id="spanreason" class="text-danger"></span>
                        </div>
                    </div><br />
                    @*<div class="row">
                            <div class="form-group">
                                <label class="control-label" style="margin-right:50px;margin-left:20px">Attachment</label>
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>*@
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnuploadattachment" onclick="return Validation()" class="btn btn-primary" value="Extend Timeline" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="Modalstatuschange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Status Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="onholdGrievancestatusupdate" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="grid" name="grid" value="@Model.ID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Remark</label>
                        </div>
                        <div class="col-md-5" margin-left: -35px;>
                            <textarea id="remark" name="remark" class="form-control" required></textarea>
                        </div>

                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnstatusupdate" class="btn btn-primary" value="Status Update" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="Modalsubassignchange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Sub-Assign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="subassigngrievance" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="said" name="said" value="@Model.ID" />
                    <input type="hidden" id="caid" name="caid" value="@Model.GrievanceCategoryID" />
                    <div class="row">
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Employee</label>
                        </div>
                        <div class="col-md-5" style="margin-left:-35px;">
                            <select id="fEmpId" name="fEmpId" class="form-control" style="width:200px;" asp-items="@(new SelectList(ViewBag.subAssignEmployee,"ID","FullName"))">
                                <option value="">Select Employee</option>
                            </select>
                            <span id="spanfEmpId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnstatusupdate" class="btn btn-primary" onclick="return ValidateSub()" value="Sub-Assigned" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ModalCommentDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Grievance Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <form asp-action="RemoveComment" method="post" enctype="multipart/form-data">
                    @*@if (Model.Count() > 0)
                        {*@
                    <input type="hidden" id="grivids" name="grivids" />
                    @*}*@
                    <div class="row">

                    </div>
                    <label>Are sure you want Delete this Grievance comment?</label>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4" id="file_Name">
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-primary" value="Delete Comment" />
                            <span class="text-danger" id="spanattachmentfile"></span>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    function deleteComment(id) {
        debugger;
        $("#grivids").val(id);
        $('#ModalCommentDelete').modal('show');
        return false;
    }
    function onholdgrievance(id) {
        $('#Modalstatuschange').modal('show');
    }

    function ValidateSub() {

        var re = $('#fEmpId').val();
        if ($('#fEmpId').val() == "") {
            $('#spanfEmpId').html('Please Select Employee');
            return false;
        }
        else {
            $('#spanfEmpId').html('');
        }
    }

    function ValidationFwd() {
        debugger;
        //if ($('#toemp').prop("checked", true)) {
        //     $("#spanfwdDept").empty();
        //}
        //if ($('#todept').prop("checked", true)) {
        //     $("#spanfwdEmp").empty();
        //}

        if ($("#fwdDept").val() == "0") {
            $("#spanfwdDept").html('Please Select Department');
            return false
        }
        else {
            $("#spanfwdDept").html('');
        }

        //if ($("#fwdEmp").val() == null) {
        //    $("#spanfwdEmp").html('Please Select Employee');
        //    return false
        //}
        //else {
        //     $("#spanfwdEmp").html('Please Select Employee');
        //}
    }

    function Validation() {

        if ($('#extdDate').val() == "") {
            $('#spextdDate').html('Please Select Date');
            return false;
        }
        else {
            $('#spextdDate').html('');
        }
        if ($('#reason').val() == "") {
            $('#spanreason').html('Please Enter Desctiption');
            return false;
        }
        else {
            $('#spanreason').html('');
        }
    }

    $(document).ready(function () {
        $('#fwdEmp').change(function () {
            $('#ToDept').show();
            $('#fwdDept').empty();
            $.get('/Grievance/GetGrievanceCategory', { empid: $('#fwdEmp').val() }, function (data) {
                if (data.length > 0) {
                    $("#fwdDept").append('<option value="">  Select Type </option>');
                    $.each(data, function (i, item) {
                        $("#fwdDept").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
                else {
                    $('#fwdDept').empty();
                    $("#fwdDept").append('<option value=""> No Type </option>');
                }
            })
        })
        debugger;
        $('#timeline').click(function () {
            $('#ModalExtendedTimeline').modal('show');
        });
        $('#subassign').click(function () {
            $('#Modalsubassignchange').modal('show');
        });

        $('#forward').click(function () {
            $('#ModalForwardGrievance').modal('show');
        })

        //$('#toemp').prop("checked", true);
        //$('#ToEmp').show();
        //$('#ToDept').hide();
        //$('#toemp').click(function () {
        //    $('#ToEmp').show();
        //    $('#ToDept').show();
        //    $('#fwdEmp').val('');
        //    $('#fwdDept').val('');
        //})
        //$('#todept').click(function () {
        //    $('#ToDept').show();
        //    $('#ToEmp').hide();
        //    $('#fwdEmp').val('');
        //    $('#fwdDept').val('');
        //})

    })

</script>





