﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/ODM TracQ4.jpg">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/commonStyleSheet.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary" style="background-image:url(/websiteimages/backgroundlogin.jpg)">
    <header>
        <nav class="navbar navbar-expand-lg static-top">
            <div class="container-fluid pl-xl-4 pl-lg-4 pl-md-4 pl-sm-4 pl-4">
                <a class="navbar-brand" href="#">
                    <img src="~/websiteimages/QT LOGO.svg" alt="ODM Tracq" style="width:6vw;">
                </a>

            </div>
        </nav>
    </header>

    <div class="container-fluid p-lg-4 p-xl-4 p-md-4 p-sm-4 p-4">
        <div class="row">
            <div class="card bg-transparent border-0 pb-3 pb-xl-3 pb-lg-3 pb-md-3 pb-sm-3" style="width:100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 col-sm-12 col-xs-12 text-sm-center text-lg-left text-xl-left text-center d-flex align-self-lg-center align-self-center align-self-xl-center align-self-sm-center justify-content-lg-start justify-content-xl-start justify-content-sm-center justify-content-center">
                            <ul class="list-unstyled text-white">
                                <li>
                                    <div class="loginleftheader">
                                        ODM TracQ
                                    </div>
                                </li>
                                <li>
                                    <div class="loginleftsubheader">
                                        Now, track all the updates <br />with just one click
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-12 col-xs-12">
                            <div class="bg-white px-xl-4 px-lg-4 px-sm-4 px-4 px-md-4 py-xl-2 py-lg-2 py-sm-2 py-2 py-md-2">
                                @Html.Partial("_StatusMessages")
                                @RenderBody()

                            </div>
                            <div class="form-group p-3 p-xl-3 p-lg-3 p-md-3 p-sm-3 loginfootertext" style="color:white;">
                                <i>* Any new registration credential will only be provided by the backend team</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="">
        <div class="container-fluid pl-5 pr-5 pr-lg-5 pl-lg-5">
            <div class="form-group justify-content-center">

                <div class="col-xl-12 col-lg-12 col-md-12">

                    <div class="card o-hidden border-0 mb-3 bg-transparent">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-7 col-xl-8 d-none d-lg-block text-left" style="color:white;padding-top: 5vw;">
                                    <div style="font-size: 5.5vw; font-weight: 700;line-height: 6vw;">
                                        ODM TracQ
                                    </div>
                                    <div style="font-size: 2.25vw; font-weight: 100;line-height:2.3vw;">
                                        Now, track all the updates <br />with just one click
                                    </div>

                                </div>
                                <div class="col-lg-5 col-xl-4">
                                    <div class="bg-white px-4 py-2">
                                        @RenderBody()
                                    </div>
                                    <div class="form-group p-1" style="color:white;">
                                        <i>* Any new registration credential will only be provided by the backend team</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>*@
    <footer class="container-fluid position-absolute px-lg-4 px-xl-4 px-4 px-md-4 px-sm-4 loginfootertext pt-3 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3" style="bottom:0px;">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left text-xl-left text-md-left text-sm-center pt-3 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3" style="color: white;">
                <label>An exclusive property of ODM Educational Group</label>
            </div>
            <div class="col-md-6 text-center text-lg-right text-xl-right text-md-right text-sm-center pt-3 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3" style="color: white; font-weight:600;">
                <label>info@odmegroup.org</label>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
</body>
</html>
