﻿@using Microsoft.AspNetCore.Http;
@using OdmErp.ApplicationCore.Interfaces;
@using OdmErp.ApplicationCore.Entities.EmployeeAggregate;

@inject IActionAccessRepository actionAccessRepository;
@inject IModuleRepository moduleRepository;
@inject ISubModuleRepository subModuleRepository;
@inject IRoleRepository roleRepository;
@inject IEmployeeDesignationRepository employeeDesignationRepository;
@inject IDesignationRepository designationRepository;
@inject IEmployeeRepository employeeRepository;
@inject IStudentRepository studentRepository;
@inject IStudentAggregateRepository studentAggregateRepository;
@inject IGrievanceRepository grievaceRepository;
@inject OdmErp.Web.Areas.Student.Models.StudentSqlQuery commonsql;
@{
    var accessId = 0;
    var userId = 0;
    var roleId = 0;
    var rolename = "";
    string name = "";
    if (Context.Session.GetInt32("accessId") == null)
    {
        Context.Response.Redirect("/Accounts/Index");
    }
    else
    {
        accessId = Context.Session.GetInt32("accessId").Value;
        roleId = Context.Session.GetInt32("roleId").Value;
        userId = Context.Session.GetInt32("userId").Value;
        rolename = roleRepository.GetRoleById(roleId).Name;
        if (roleId == 2 || roleId == 3 || roleId == 4)
        {
            var emp = employeeRepository.GetEmployeeById(userId);
            name = emp.FirstName + " " + emp.LastName;
            Context.Session.SetString("profile", emp.Image == null ? "/images/user_profile.png" : "/ODMImages/EmployeeProfile/" + (emp.Image) + "");
        }
        else if (roleId == 5)
        {
            var emp = studentAggregateRepository.GetStudentById(userId);
            name = emp.FirstName + " " + emp.LastName;
            Context.Session.SetString("profile", emp.Image == null ? "/images/user_profile.png" : "/ODMImages/StudentProfile/" + (emp.Image) + "");

        }
        else if (roleId == 6)
        {
            var emp = studentAggregateRepository.GetParentById(userId);
            name = emp.FirstName + " " + emp.LastName;
            Context.Session.SetString("profile", emp.Image == null ? "/images/user_profile.png" : "/ODMImages/ParentProfile/" + (emp.Image) + "");

        }
    }

}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/ODM TracQ4.jpg">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/css/sb-admin-2.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,900,700" rel="stylesheet">
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/commonStyleSheet.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/treant/Treant.css" type="text/css" />
    <link rel="stylesheet" href="~/css/breadcrumb_styles.css" type="text/css" />
    <link href="~/vendor/timeline/dist/jquery.roadmap.min.css" rel="stylesheet">
    @*<link href='~/vendor/fullcalendar/packages/core/main.css' rel='stylesheet' />
        <link href='~/vendor/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
        <link href='~/vendor/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />


    <style>
        .sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
            color: #0e0e0f4f;
        }

        a {
            cursor: pointer;
        }
    </style>
    <style>
        select {
            width: 100% !important;
        }
    </style>
</head>
<body id="page-top">
    <div id="divloader" class="divloaders" style="z-index:2999;">
        <img src="~/images/loader.gif" />
    </div>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user"></i>
                </div>
                <div class="sidebar-brand-text mx-3">@rolename</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!---Super Admin-->
            @if (roleId == 1)
            {
                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" -->
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item" id="accordionSidebar1">
                    @*<a class="collapse-item" asp-action="MasterModuleView" asp-controller="ModuleSubModule">Module Sub Module</a>*@
                    <a class="nav-link collapsed" asp-action="Master" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Master</span>
                    </a>


                </li>

                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="HRManagement" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>HR Management</span>
                    </a>
                    <div id="collapseHR" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">HR Pages:</h6>
                            <a class="collapse-item" asp-action="Index" asp-controller="Employee">Employee</a>
                            <a class="collapse-item" asp-action="DepartmentAuthority" asp-controller="Reporting">Reporting Authority</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="SchoolLayout" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>School</span>
                    </a>
                    <div id="collapseReporting" class="collapse" aria-labelledby="headingReporting" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="Index" asp-controller="Student">Student</a>

                        </div>
                    </div>
                </li>

                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="SupportMaster" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Support</span>
                    </a>
                    <div id="collapseSupportMain" class="collapse" aria-labelledby="collapseSupportMain" data-parent="#accordionSidebar1">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" asp-action="SupportRequest" asp-controller="Support">Raise</a>
                            <a class="collapse-item" asp-action="SupportResolve" asp-controller="Support">Resolve</a>
                            <a class="collapse-item" asp-action="SupportDynamicReport" asp-controller="Support">Report</a>
                            <a class="collapse-item" asp-action="SupportReport" asp-controller="Support">Departmentwise Report</a>
                            <a class="collapse-item" asp-action="SupportManagementApproval" asp-controller="Support">Management Approval</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="TaskMaster" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Task</span>
                    </a>


                </li>

                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="GrievanceMaster" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Grievance</span>
                    </a>

                </li>

                <li class="nav-item" id="accordionSidebar1">
                    <a class="nav-link collapsed" asp-action="AdmissionPageLayout" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Admission</span>
                    </a>

                </li>

                <li class="nav-item" id="accordionSidebar1" hidden>
                    <a class="nav-link collapsed" asp-action="Test" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Test</span>
                    </a>

                    <div id="collapseGrievance" class="collapse" aria-labelledby="headingReporting" data-parent="#accordionSidebar">

                    </div>
                </li>

                <li class="nav-item" id="accordionSidebar1" hidden>
                    <a class="nav-link collapsed" asp-action="Bugs" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Bugs</span>
                    </a>

                    <div id="collapseGrievance" class="collapse" aria-labelledby="headingReporting" data-parent="#accordionSidebar">

                    </div>
                </li>



                <li class="nav-item" id="accordionSidebar1" hidden>
                    <a class="nav-link collapsed" asp-action="Login" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Login</span>
                    </a>

                    <div id="collapseGrievance" class="collapse" aria-labelledby="headingReporting" data-parent="#accordionSidebar">

                    </div>
                </li>


            }

            <!---Super Admin-->
            <!---Super Admin-->
            @if (roleId != 1 && roleId != 0)
            {
                @if (roleId == 2 || roleId == 3 || roleId == 4)
                {                    
                    var actionAccesses = actionAccessRepository.GetAllActionAccess().Where(a => a.AccessID == accessId).ToList();
                    var empdesignation = employeeDesignationRepository.GetAllEmployeeDesignationsByEmployeeId(userId).ToList();
                    var designation = designationRepository.GetAllDesignation();
                    var departmentaccess = actionAccessRepository.GetAllActionDepartment();




                    var modules = moduleRepository.GetAllModule();
                    var subModules = subModuleRepository.GetAllSubModule();
                    var deptres = (from a in empdesignation
                                   join b in designation on a.DesignationID equals b.ID
                                   join c in departmentaccess on b.DepartmentID equals c.DepartmentID
                                   join d in modules on c.ModuleID equals d.ID
                                   select new
                                   {
                                       ID = d.ID,
                                       ModuleName = d.Name,
                                       Uri = d.Url
                                   }).ToList();
                    var indres = (from a in actionAccesses
                                  join b in modules on a.ModuleID equals b.ID
                                  select new
                                  {
                                      ID = b.ID,
                                      ModuleName = b.Name,
                                      Uri = b.Url
                                  }).ToList();
                    var res = deptres.Concat(indres).Distinct();
                    foreach (var a in res)
                    {
                        var deptsubmodule = (from e in empdesignation
                                             join b in designation on e.DesignationID equals b.ID
                                             join c in departmentaccess on b.DepartmentID equals c.DepartmentID
                                             join d in subModules on c.SubModuleID equals d.ID
                                             where c.ModuleID == a.ID
                                             select new
                                             {
                                                 ID = d.ID,
                                                 SubmoduleName = d.Name,
                                                 Url = d.Url
                                             }).ToList();

                        var indsubmodules = (from c in actionAccesses
                                             join d in subModules on c.SubModuleID equals d.ID
                                             where c.ModuleID == a.ID
                                             select new
                                             {
                                                 ID = d.ID,
                                                 SubmoduleName = d.Name,
                                                 Url = d.Url
                                             }).ToList();
                        var submodules = deptsubmodule.Concat(indsubmodules).Distinct();

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="@a.Uri" @*data-toggle="collapse" data-target="#collapse_@a.ID" aria-expanded="true"*@ aria-controls="collapse_@a.ID">
                                <i class="fas fa-fw fa-cog"></i>
                                <span>@a.ModuleName</span>
                            </a>
                            @*<div id="collapse_@a.ID" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded" style="overflow-y: scroll;max-height: 300px;">
                                <h6 class="collapse-header">@a.ModuleName Pages:</h6>
                                @if (submodules.Count() > 0)
                                {
                                    foreach (var b in submodules)
                                    {
                                        <a class="collapse-item" href="@b.Url">@b.SubmoduleName</a>
                                    }
                                }
                            </div>
                        </div>*@
                        </li>

                    }
                    <li class="nav-item" id="payment">
                    @*<a class="nav-link collapsed" asp-action="GrievanceMaster" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Grievance</span>
                    </a>*@

                </li>
                }
                @if (roleId == 6)
                {
                    // var actionAccesses = actionAccessRepository.GetAllActionAccess().Where(a => a.AccessID == accessId).ToList();
                    var parent = studentAggregateRepository.GetParentById(userId);
                    var students = (from a in studentAggregateRepository.GetAllParent().Where(a => a.PrimaryMobile == parent.PrimaryMobile).ToList()
                                    join b in studentAggregateRepository.GetAllStudent() on a.StudentID equals b.ID
                                    select new
                                    {
                                        a.StudentID,
                                        name = b.FirstName + " " + b.LastName
                                    }).ToList().Distinct();
                    long stdId = 0;
                    string stdvalue = Context.Session.GetString("ddlstudentid");
                    if (stdvalue == null)
                    {
                        stdId = students.FirstOrDefault().StudentID;
                        Context.Session.SetString("ddlstudentid", students.FirstOrDefault().StudentID.ToString());
                    }
                    else
                    {
                        stdId = Convert.ToInt64(stdvalue);
                    }
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            @*<i class="fas fa-fw fa-tachometer-alt"></i>*@
                            <span>Select Student</span>
                        </a>
                        <select id="ddlstudentid" class="form-control" style="width:100%;">
                            @foreach (var a in students)
                            {
                                <option value="@a.StudentID" selected="@(stdId==a.StudentID?true:false)">@a.name</option>
                            }
                        </select>
                    </li>
                    <li class="nav-item" id="account">
                        <a class="nav-link collapsed" asp-action="Accounts" asp-controller="Dashboard">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Account</span>
                        </a>

                    </li>
                    <li class="nav-item" id="payment">
                        <a class="nav-link collapsed" asp-action="ParentPaymentSummaryShow" asp-controller="PaymentSummary">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Payment</span>
                        </a>

                    </li>
                    @*<li class="nav-item" id="grievance">
                    <a class="nav-link collapsed" asp-action="GrievanceMaster" asp-controller="Layout">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Grievance</span>
                    </a>

                </li>*@ 
                    <!-- Divider -->
                    @*<br />*@
                    @*<hr class="sidebar-divider">*@



                    var studentclass = commonsql.Get_View_Academic_Student().Where(a => a.StudentId == stdId && a.IsAvailable == true).FirstOrDefault();
                    if (studentclass != null)
                    {

                        var roleaccess = actionAccessRepository.GetAllActionAcademic().Where(a => a.AcademicStandardID == studentclass.AcademicStandardId).ToList();

                        var modules = moduleRepository.GetAllModule();
                        var subModules = subModuleRepository.GetAllSubModule();
                        var res = (from a in roleaccess
                                   join d in modules on a.ModuleID equals d.ID
                                   select new
                                   {
                                       ID = d.ID,
                                       ModuleName = d.Name,
                                   }).ToList().Distinct();
                        <div id="divparentmodules">
                            @foreach (var a in res)
                            {
                                var submodules = (from e in roleaccess
                                                  join d in subModules on e.SubModuleID equals d.ID
                                                  where e.ModuleID == a.ID
                                                  select new
                                                  {
                                                      ID = d.ID,
                                                      SubmoduleName = d.Name,
                                                      Url = d.Url
                                                  }).ToList().Distinct();


                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_@a.ID" aria-expanded="true" aria-controls="collapse_@a.ID">
                                        <i class="fas fa-fw fa-cog"></i>
                                        <span>@a.ModuleName</span>
                                    </a>
                                    <div id="collapse_@a.ID" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded" style="overflow-y: scroll;max-height: 300px;">
                                            <h6 class="collapse-header">@a.ModuleName Pages:</h6>
                                            @if (submodules.Count() > 0)
                                            {
                                                foreach (var b in submodules)
                                                {
                                                    <a class="collapse-item" href="@b.Url">@b.SubmoduleName</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </li>

                            }
                        </div>
                    }
                }
                @if (roleId == 5)
                {
                    // var actionAccesses = actionAccessRepository.GetAllActionAccess().Where(a => a.AccessID == accessId).ToList();

                    var roleaccess = actionAccessRepository.GetAllActionStudent().Where(a => a.RoleID == 5 && a.StudentID == userId).ToList();

                    var modules = moduleRepository.GetAllModule();
                    var subModules = subModuleRepository.GetAllSubModule();
                    var res = (from a in roleaccess
                               join d in modules on a.ModuleID equals d.ID
                               select new
                               {
                                   ID = d.ID,
                                   ModuleName = d.Name,
                               }).ToList().Distinct();

                    foreach (var a in res)
                    {
                        var submodules = (from e in roleaccess
                                          join d in subModules on e.SubModuleID equals d.ID
                                          where e.ModuleID == a.ID
                                          select new
                                          {
                                              ID = d.ID,
                                              SubmoduleName = d.Name,
                                              Url = d.Url
                                          }).ToList().Distinct();

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_@a.ID" aria-expanded="true" aria-controls="collapse_@a.ID">
                                <i class="fas fa-fw fa-cog"></i>
                                <span>@a.ModuleName</span>
                            </a>
                            <div id="collapse_@a.ID" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded" style="overflow-y: scroll;max-height: 300px;">
                                    <h6 class="collapse-header">@a.ModuleName Pages:</h6>
                                    @if (submodules.Count() > 0)
                                    {
                                        foreach (var b in submodules)
                                        {
                                            <a class="collapse-item" href="@b.Url">@b.SubmoduleName</a>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                    }

                }
            }

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!---Super Admin-->
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column bg-gray-200">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        @* <li class="nav-item dropdown no-arrow mx-1">
                             <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <i class="fas fa-bell fa-fw"></i>
                                 <!-- Counter - Alerts -->
                                 <span class="badge badge-danger badge-counter">3+</span>
                             </a>
                             <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                     <h6 class="dropdown-header">
                                         Alerts Center
                                     </h6>
                                     <a class="dropdown-item d-flex align-items-center" href="#">
                                         <div class="mr-3">
                                             <div class="icon-circle bg-primary">
                                                 <i class="fas fa-file-alt text-white"></i>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="small text-gray-500">December 12, 2019</div>
                                             <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                         </div>
                                     </a>
                                     <a class="dropdown-item d-flex align-items-center" href="#">
                                         <div class="mr-3">
                                             <div class="icon-circle bg-success">
                                                 <i class="fas fa-donate text-white"></i>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="small text-gray-500">December 7, 2019</div>
                                             $290.29 has been deposited into your account!
                                         </div>
                                     </a>
                                     <a class="dropdown-item d-flex align-items-center" href="#">
                                         <div class="mr-3">
                                             <div class="icon-circle bg-warning">
                                                 <i class="fas fa-exclamation-triangle text-white"></i>
                                             </div>
                                         </div>
                                         <div>
                                             <div class="small text-gray-500">December 2, 2019</div>
                                             Spending Alert: We've noticed unusually high spending for your account.
                                         </div>
                                     </a>
                                     <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                 </div>
                                            </li>*@

                        <!-- Nav Item - Messages -->
                        @* <li class="nav-item dropdown no-arrow mx-1">
                                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-envelope fa-fw"></i>
                                                <!-- Counter - Messages -->
                                                <span class="badge badge-danger badge-counter">7</span>
                                            </a>
                                            <!-- Dropdown - Messages -->
                                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                                            </li>*@
                        <li class="nav-item no-arrow mx-1">
                            <a class="nav-link" id="messagesDropdown" style="color:black;">
                                For any issue, email- <strong>amanrouniyar@odmegroup.org</strong>

                            </a>

                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(name)</span>
                                <img class="img-profile rounded-circle" src="@Context.Session.GetString("profile")">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-action="ViewEmployeeDetails" asp-controller="Employee" asp-route-id="@userId">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Accounts">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                @*<a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Activity Log
                                    </a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @Html.Partial("_StatusMessages")
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ODM Educational Group @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-action="Logout" asp-controller="Accounts">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>

    <script src="~/treant/vendor/raphael.js"></script>
    <script src="~/treant/Treant.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>




    <script>
        function IsMobileNumber(txtMobId) {
            var mob = /[0-9]/;
           // var txtMobile = document.getElementById(txtMobId);
            if (mob.test(txtMobId) == false) {
                //alert("Please enter valid mobile number.");
               // txtMobile.focus();
                return false;
            }
            return true;
        }

        function isEmail(email) {
   var reg = /^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$/;
            if (reg.test(email)) {
                return true;
            }
            else {
                return false;
            }
}
        $(document).ready(function () {


            //$("#account").click(function () {
            //    alert("Please make sure your Child to whom You are going to see his/her profile or manage their password");
            //})


            $('#divloader').hide();
            $("select").select2();
            $('#ddlstudentid').change(function (data) {
                $.get('/Accounts/Getmodulesubmoduleaccess', { studentId: $('#ddlstudentid').val() }, function (data) {
                    $('#divloader').show();
                    $('#divparentmodules').empty();
                    var s = '';
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            s += '<li class="nav-item">';
                            s += '<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_' + item.id + '" aria-expanded="true" aria-controls="collapse_' + item.id + '">';
                            s += '<i class="fas fa-fw fa-cog"></i>';
                            s += '<span>' + item.moduleName + '</span>';
                            s += '</a>';
                            s += '<div id="collapse_' + item.id + '" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">';
                            s += '<div class="bg-white py-2 collapse-inner rounded" style="overflow-y: scroll;max-height: 300px;">';
                            if (item.submodules.length > 0) {

                                s += '<h6 class="collapse-header">' + item.moduleName + ' Pages:</h6>';
                                $.each(item.submodules, function (j, subitem) {
                                    s += '<a class="collapse-item" href="' + subitem.url + '">' + subitem.submoduleName + '</a>';
                                })

                            }
                            s += '</div>';
                            s += '</div>';
                            s += '</li>';

                        })
                    }
                    $('#divloader').hide();
                    $('#divparentmodules').html(s);
                })
            })
        });
        $('form').submit(function () {
            if ($(this).valid()) {  //<<< I was missing this check
                $('#divloader').show();
            }
        });



    </script>
    <script>
                                                                                        $(document).ready(function () {
                                                                                            $('#dataTable').DataTable();
                                                                                        });
    </script>

</body>
</html>
