﻿
@{
    ViewData["Title"] = "CreateOrEditDepartmentAuthority";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.DepartmentAuthoritycls


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>
        <li class="breadcrumb-item"><a asp-action="DepartmentAuthority" asp-controller="Reporting">ReportingAuthority</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Create </li>
    </ol>
</nav>


<h3>Reporting Authority</h3>
<hr />
<div class="clearfix" style="margin-bottom:40px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateDepartmentAuthority">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="EmployeeID" class="control-label"></label>
                            <select asp-for="EmployeeID" class="form-control">
                                <option value="null">Select Employee</option>
                                @if (Model.Employees != null)
                                {
                                    foreach (var a in Model.Employees)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="EmployeeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorityTypeID" class="control-label"></label>
                            <select asp-for="AuthorityTypeID" class="form-control">
                                <option value="null">Select Authority Type</option>
                                @if (Model.authorityTypes != null)
                                {
                                    foreach (var a in Model.authorityTypes)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="AuthorityTypeID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuthorityID" class="control-label"></label>
                            <select asp-for="AuthorityID" class="form-control">
                                <option value="null">Select Authority</option>
                                @if (Model.Authoritys != null)
                                {
                                    foreach (var a in Model.Authoritys)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="AuthorityID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OrganisationID" class="control-label"></label>
                            <select asp-for="OrganisationID" class="form-control">
                                <option value="null">Select Organisation</option>
                                @if (Model.Organisations != null)
                                {
                                    foreach (var a in Model.Organisations)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="OrganisationID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentID" class="control-label"></label>
                            <select asp-for="DepartmentID" class="form-control">
                                <option value="null">Select Department</option>
                                @if (Model.Departments != null)
                                {
                                    foreach (var a in Model.Departments)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="DepartmentID" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <a asp-action="DepartmentAuthority" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AuthorityTypeID').change(function () {
            $.get('/Reporting/GetAuthorityByTypeId', { id: $('#AuthorityTypeID').val() }, function (data) {
                $('#AuthorityID').empty();
                $('#AuthorityID').append('<option value="null">Select Authority</option>');
                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        $('#AuthorityID').append('<option value="' + value.id + '">' + value.name + '</option>');
                    })
                }
            })
        })
        $('#OrganisationID').change(function () {
            $.get('/Reporting/GetDepartmentByOrgId', { id: $('#OrganisationID').val() }, function (data) {
                $('#DepartmentID').empty();
                $('#DepartmentID').append('<option value="null">Select Department</option>');
                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        $('#DepartmentID').append('<option value="' + value.id + '">' + value.name + '</option>');
                    })
                }
            })
        })
    })
</script>