﻿
@{
    ViewData["Title"] = "DepartmentAuthority";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.DepartmentAuthoritycls>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="HRManagement" asp-controller="Layout">HRManagement</a></li>                   
            <li class="breadcrumb-item active" aria-current="page"> ReportingAuthority </li>
        </ol>
    </nav>


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reporting Authority</h1>
        <a href="/Reporting/CreateOrEditDepartmentAuthority" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
    </div>
    <!-- Content Row -->
    <div class="row">

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Authority</th>
                                    <th>Department</th>
                                    <th>Organisation</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @item.EmployeeName
                                        </td>
                                        <td>
                                            @item.AuthorityName
                                        </td>
                                        <td>
                                            @item.DepartmentName
                                        </td>
                                        <td>
                                            @item.OrganisationName
                                        </td>
                                        <td>
                                            @item.ModifiedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a asp-action="CreateOrEditDepartmentAuthority" asp-controller="Reporting" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                            <a asp-action="DeleteDepartmentAuthority" asp-controller="Reporting" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Designation?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
