﻿
@{
    ViewData["Title"] = "AcademicStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<OdmErp.ApplicationCore.Query.View_All_Academic_Student>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Academic Students</li>
        </ol>
    </nav>
</div>


<!-- Page Heading -->


<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Academic Students</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success font-weight-normal" style="margin-right:6px;" asp-action="DownloadBoard" asp-controller="Master"><i class="fas fa-arrow-circle-down"></i> &nbsp;Download Excel</a>*@
                    <a href="/Student/CreateOrEditAcademicStudent" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Code</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Oraganisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Stream</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 130px; overflow: hidden;text-overflow: ellipsis;" title="@item.studentcode">@item.studentcode</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 130px; overflow: hidden;text-overflow: ellipsis;" title="@item.studentname">@item.studentname</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.SessionName">@item.SessionName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal"style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.OraganisationName">@item.OraganisationName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.WingName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.BoardName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.StandardName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">@item.streamName</td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 80px; overflow: hidden;text-overflow: ellipsis;" title="@item.ModifiedDate.ToString("dd-MMM-yyyy")">@item.ModifiedDate.ToString("dd-MMM-yyyy")</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

