﻿
@{
    ViewData["Title"] = "AllotAcademicRollNo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.AcademicStudentcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStudentSection" asp-controller="Student">Academic Students Section</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Allot Academic Students Roll No</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header bg-white ">
        <div class="row">
            <div class="col-6">
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Allot Academic Students Roll No</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            @* <div class="col-md-3"></div>*@
            @*   <div class="col-md-12">*@
            <form asp-action="UpdateAcademicStudentRollno" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                        <select asp-for="AcademicSessionId" class="form-control" style="width:100%;">
                            <option value="">Select Session</option>
                            @if (Model.academicSessions != null)
                            {
                                foreach (var a in Model.academicSessions)
                                {
                                    <option value="@a.ID">@a.DisplayName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                        <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="SchoolWingId" class="control-label font-weight-bold">Wing</label>
                        <select asp-for="SchoolWingId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="SchoolWingId" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                        <select asp-for="BoardId" class="form-control" style="width:100%;">
                            <option value="">Select Board</option>
                            @if (Model.boards != null)
                            {
                                foreach (var a in Model.boards)
                                {
                                    <option value="@a.ID">@a.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="BoardId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                        <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group" id="divstream">
                        <label asp-for="AcademicStandardStreamId" class="control-label font-weight-bold">Stream</label>
                        <select asp-for="AcademicStandardStreamId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="AcademicStandardStreamId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                        <select asp-for="AcademicSectionId" class="form-control" style="width:100%;"></select>
                        <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix mb-2"></div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="studenttable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Code</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                    <th class="h6 mb-0 text-gray-800 font-weight-bold">Roll No</th>
                                    <th hidden>value</th>
                                </tr>
                            </thead>
                            <tbody id="tbodystudent" style="max-height:300px;overflow-y:auto;">
                            </tbody>

                        </table>
                    </div>
                </div>





                <div class="form-group text-center">
                    @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                </div>
            </form>
            @*</div>
                <div class="col-md-3"></div>*@
        </div>
    </div>
</div>
@*</div>*@
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
      
    });
</script>

<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/Student/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/Student/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/Student/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }
                else {
                    $('#divstream').hide();
                    $('#AcademicStandardStreamId').empty();
                   
                }
            })
            $.get('/Student/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            })
        })
        $('#AcademicSectionId').change(function () {
             $.get('/Student/GetAllStudentsByAcademicSection', {
                        AcademicSectionId: $('#AcademicSectionId').val(),
                        AcademicStandardStreamId: $('#AcademicStandardStreamId').val(),
                        AcademicStandardId: $('#AcademicStandardId').val()
                    }, function (data) {
                        $('#tbodystudent').empty();
                        var s = '';
                        $.each(data, function (i, item) {
                            s += '<tr>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal">' + item.code + '</td>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal">' + item.name + '</td>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal"><input type="text" name="RollNo" id="textbox'+(i+1)+'" class="form-control" value="'+item.code+'" /></td>';
                            s += '<td hidden><input type="hidden" name="AcademicStudentId" value="'+item.id+'" /></td>';
                            //s += '<td class="h6 mb-0 text-gray-800 font-weight-normal"><input type="checkbox" name="StudentId" value="' + item.id + '"></td>';
                            s += '</tr>';
                        })
                        $('#tbodystudent').html(s);
                    })
        })
        
    });
</script>


