﻿
@{
    ViewData["Title"] = "CreateOrEditStudentParents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.StudentParentsCls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li> 
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@Model.StudentID">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentParentsDetails" asp-controller="Student" asp-route-id="@Model.StudentID">ParentDetails</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">CreateParentDetails</li>
        </ol>
    </nav>
</div> 

@*<div class="card">
        <div class="card-header">
            <h6>Parent Details</h6>
        </div>

    </div>*@

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Parent Details</h1>

                <div>
                    <a asp-action="StudentParentsDetails" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                </div>
            </div>

            <div class="row">

                <div class="container-fluid">
                    <div class="card-body">
                        <form asp-action="SaveOrUpdateStudentParents" class="row" enctype="multipart/form-data">
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img id="profileimage" src="@(Model.Imagepath!=null?Model.Imagepath: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;">
                                    <h6>Upload Profile Photo...</h6>
                                    <input type="file" id="file" name="file" class="text-center center-block file-upload" accept=".jpg,.jpeg,.png,.gif">
                                </div></hr><br>
                            </div>
                            <div class="col-md-9">

                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="StudentID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="FirstName" class="control-label"></label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="MiddleName" class="control-label"></label>
                                        <input asp-for="MiddleName" class="form-control" />
                                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LastName" class="control-label"></label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="PrimaryMobile" class="control-label"></label>
                                        <input asp-for="PrimaryMobile" class="form-control" />
                                        <span asp-validation-for="PrimaryMobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="AlternativeMobile" class="control-label"></label>
                                        <input asp-for="AlternativeMobile" class="form-control" />
                                        <span asp-validation-for="AlternativeMobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LandlineNumber" class="control-label"></label>
                                        <input asp-for="LandlineNumber" class="form-control" />
                                        <span asp-validation-for="LandlineNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="EmailId" class="control-label"></label>
                                        <input asp-for="EmailId" class="form-control" />
                                        <span asp-validation-for="EmailId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ProfessionTypeID" class="control-label"></label>
                                        <select asp-for="ProfessionTypeID" class="form-control">
                                            <option value="">Select Profession Type</option>
                                            @if (Model.ProfessionTypes != null)
                                            {
                                                foreach (var item in Model.ProfessionTypes)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }

                                        </select>
                                        <span asp-validation-for="ProfessionTypeID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ParentOrganization" class="control-label">Organization</label>
                                        <input asp-for="ParentOrganization" class="form-control" />
                                        <span asp-validation-for="ParentOrganization" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ParentRelationshipID" class="control-label"></label>
                                        <select asp-for="ParentRelationshipID" class="form-control">
                                            <option value="">Select Parent Relationship</option>
                                            @if (Model.ParentRelationships != null)
                                            {
                                                foreach (var item in Model.ParentRelationships)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="ParentRelationshipID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>


                                @*<div class="form-group">
                                        <div><h5>Required Documents</h5></div>
                                        <div class="row">
                                            @if (Model.documentTypesCls != null)
                                            {
                                                for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                                {
                                                    <div class="col-md-4">

                                                        <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                                        <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>*@
                                <div class="form-group text-center">
                                   <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#file").change(function () {
            readURL1(this);
        });

    })
</script>
