﻿@{
    ViewData["Title"] = "CreateOrEditStudentTimeTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.AcademicStudentcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentTimeTable" asp-controller="Student">Students Time Table</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create Students Time Table</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header bg-white ">
        <div class="row">
            <div class="col-6">
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Students Time Table</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="">
            @* <div class="col-md-3"></div>*@
            @*   <div class="col-md-12">*@
           <form asp-action="SaveOrUpdateTimeTable" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4 form-group">
                    <input type="hidden" asp-for="ID" class="form-control" />
                    <label class="control-label font-weight-bold">Teacher Emp</label>
                    <select asp-for="ddlteacher" asp-items="@ViewBag.TeacherNameList" class="form-control" style="width:100%;">
                    </select>
                    <span asp-validation-for="ddlteacher" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label font-weight-bold">Class Timing</label>
                    <select asp-for="ddlclasstiming" class="form-control" style="width:100%;">
                        <option value="">Select Class Timing</option>
                        @if (Model.ClassTiming != null)
                        {
                            foreach (var a in Model.ClassTiming)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="ddlclasstiming" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                    <select asp-for="AcademicSessionId" class="form-control" style="width:100%;">
                        <option value="">Select Session</option>
                        @if (Model.academicSessions != null)
                        {
                            foreach (var a in Model.academicSessions)
                            {
                                <option value="@a.ID">@a.DisplayName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                    <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="SchoolWingId" class="control-label font-weight-bold">Wing</label>
                    <select asp-for="SchoolWingId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="SchoolWingId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                    <select asp-for="BoardId" class="form-control" style="width:100%;">
                        <option value="">Select Board</option>
                        @if (Model.boards != null)
                        {
                            foreach (var a in Model.boards)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="BoardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                    <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicStandardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group" id="divstream">
                    <label asp-for="AcademicStandardStreamId" class="control-label font-weight-bold">Stream</label>
                    <select asp-for="AcademicStandardStreamId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicStandardStreamId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                    <select asp-for="AcademicSectionId" class="form-control" style="width:100%;"></select>
                    <span id="spanAcademicSectionId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="ddlsubjects" class="control-label font-weight-bold">Subject</label>
                    <select asp-for="ddlsubjects" class="form-control" style="width:100%;"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="date" class="control-label font-weight-bold">Date</label>
                    <input type="date" asp-for="date" class="form-control"  />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                
            </div>
            <div class="clearfix mb-2"></div>
            <div class="form-group text-center">
                @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                <button id="btnsubmit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Add Timetable&nbsp;&nbsp; </button>
            </div>
            </form>            @* <div class="row">*@
            @* </div> *@
            @*</div>
        <div class="col-md-3"></div>*@
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
       
    });
</script>

<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/Student/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/Student/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/Student/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }

            })
            $.get('/Student/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });

          
        });

        $('#AcademicSectionId').change(function () {
            $('#ddlsubjects').empty();
            $.get('/School/GetSubjectByAcademicSectiondId', { AcademicSessionId: $('#AcademicSessionId').val(), TeacherId: $('#ddlteacher').val(), AcademicSectiondId: $('#AcademicSectionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#ddlsubjects").append('<option value=" ">Select Subject</option>');
                    $.each(data, function (i, item) {

                        $("#ddlsubjects").append('<option value="' + item.acdemicsubjectid + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
       
    });
</script>

