﻿
@{
    ViewData["Title"] = "CreateOrEditStudentDocumentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.StudentDocumentUploadCls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@Model.StudentID">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentDocumentDetails" asp-controller="Student" asp-route-id="@Model.StudentID">Document Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Upload Document</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h3>Upload Document</h3>
            <div>
                <a asp-action="StudentDocumentDetails" asp-controller="Student" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm "></i> Back To List</a>

            </div>
            @*<span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>*@
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                    @*   <input type="hidden" asp-for="EmployeeID" />
                    <input type="hidden" asp-for="DocumentSubTypeID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <form asp-action="SaveOrUpdateStudentDocument" enctype="multipart/form-data">
                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="StudentID" />
                                <div class="form-group">
                                    <label class="control-label">Upload Document</label>
                                    <input type="file" class="form-control" id="files" name="files" multiple />
                                    <span id="spanfile" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                  
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> Upload</button>
                                </div>
                            </form>
                            @if (Model.attachments != null)
                            {
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sl. No.</th>
                                                <th>File</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ftbody">
                                            @if (Model.attachments.Count > 0)
                                            {
                                                int i = 0;
                                                foreach (var a in Model.attachments)
                                                {
                                                    <tr>
                                                        <td>@(i = i + 1)</td>
                                                        <td><a target="_blank" href="~/ODMImages/StudentDocument/@a.DocumentPath">View</a></td>
                                                        <td><a asp-action="RemoveAttachments" asp-route-id="@a.ID" asp-route-did="@Model.ID" onclick="return confirm('Are You Sure Want To Remove This Attachment')">Remove</a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }


                        </div>
                        <div class="col-md-3">

                        </div>


                    </div>



                </div>

            </div>
        </div>
    </div>
</div>