﻿
@{
    ViewData["Title"] = "CreateOrEditEmployeeExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.StudentAcademicModelClass
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-route-id="@Model.StudentID" asp-controller="Student">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentAcademicDetails" asp-controller="Student" asp-route-id="@Model.StudentID">Academic Details</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="container">
    <div class="card">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
            <div>
                <a asp-action="StudentAcademicDetails" asp-controller="Student" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm "></i> Back To List</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">
                    <form asp-action="SaveOrUpdateStudentAcademic">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="StudentID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">

                            <div class="col-md-4">
                                <label asp-for="BoardID" class="control-label"></label>
                                <select asp-for="BoardID" class="form-control">
                                    <option value="">Select Board</option>
                                    @if (ViewBag.BoardList != null)
                                    {
                                        foreach (var item in ViewBag.BoardList)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="BoardID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ClassID" class="control-label"></label>
                                <select asp-for="ClassID" class="form-control">
                                    <option value="">Select Class</option>
                                    @if (ViewBag.ClassList != null)
                                    {
                                        foreach (var item in ViewBag.ClassList)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ClassID" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="OrganizationName" class="control-label"></label>
                                <input asp-for="OrganizationName" class="form-control" />
                                <span asp-validation-for="OrganizationName" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="FromDate" class="control-label"></label>
                                <input asp-for="FromDate" type="month" class="form-control" />
                                <span asp-validation-for="FromDate" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ToDate" class="control-label"></label>
                                <input asp-for="ToDate" type="month" class="form-control" />
                                <span asp-validation-for="ToDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>

                        <div class="form-group">
                            <div><h5>Required Documents</h5></div>
                            <div class="row">
                                @if (Model.documentTypesCls != null)
                                {
                                    for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                    {
                                        <div class="col-md-3">

                                            <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                            <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                            <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                            <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group text-center">
                         
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>

