﻿
@{
    ViewData["Title"] = "CreateOrEditStudentloginaccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.EmployeeAccesscls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Student" asp-controller="Layout">Student</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentloginaccessDetails" asp-controller="Student">LogInAccessDetails</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">CreateLogInDetails</li>
        </ol>
    </nav>
    </div>

    <h3>Create Log In Details</h3>
    <hr />
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <form asp-action="SaveOrUpdateStudentAccessDetails">
                            <input type="hidden" asp-for="AccessID" />
                            <input type="hidden" asp-for="EmployeeID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="RoleID" class="control-label"></label>
                                        <select asp-for="RoleID" class="form-control">
                                            <option value="0">Select Role</option>
                                            @if (Model.roles != null)
                                            {
                                                foreach (var item in Model.roles)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="RoleID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Username" class="control-label"></label>
                                        <input asp-for="Username" class="form-control" />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group text-center">
                                        <a asp-action="StudentloginaccessDetails" asp-route-id="@Model.EmployeeID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                                    </div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkuser').hide();
            $('#Username').change(function () {
                if ($('#Username').val() != '') {
                    $.get("/Student/CheckUserName", { userName: $('#Username').val() }, function (data) {
                        if (data == true) {
                            $('#checkuser').html('Already Exist... Please Try another Username');
                            $('#checkuser').show();
                        }
                        else {
                            $('#checkuser').html('');
                            $('#checkuser').hide();
                        }
                    })
                }
                else {
                    $('#checkuser').html('');
                    $('#checkuser').hide();
                }
            })
        })
    </script>

