﻿
@{
    ViewData["Title"] = "CreateSessionTimetable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <script>
        $(document).ready(function () {

            $('#BoardId').change(function () {
                $('#AcademicStandardId').empty();
                $.get('/Student/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            });
            $('#AcademicStandardId').change(function () {
                $.get('/Student/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                    if (data.isstream == 'True') {
                        $('#divstream').show();
                        $('#AcademicStandardStreamId').empty();
                        $.get('/Student/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                            if (data.length > 0) {
                                $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                                $.each(data, function (i, item) {
                                    $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                                });
                            }
                        });
                    }

                })
                $.get('/Student/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                    $("#AcademicSectionId").empty();
                    if (data.length > 0) {
                        $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            });
            $("#AcademicStandardId").change(function () {
                $('#AcademicSubjectId').empty();
                var ids = $("#AcademicStandardId").val();
                var ids2 = $("#AcademicStandardStreamId").val();
                var model = {
                    BoardId: ids
                }

                $.get
                    ('/Student/GetAllSubjectsList', { BoardStandardId: ids, BoardStandardStreamId: ids2 }, function (data) {
                        //   console.log(data);
                        $('#AcademicSubjectId').empty();
                        if (data != null && data.length > 0) {
                            $('#AcademicSubjectId').show();
                            $("#AcademicSubjectId").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                            $.each(data, function (i, item) {
                                $("#AcademicSubjectId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                        else {
                            $('#AcademicSubjectId').empty();
                        }
                    })
            });

            $("#AcademicStandardStreamId").change(function () {
                $('#AcademicSubjectId').empty();
                var ids = $("#AcademicStandardId").val();
                var ids2 = $("#AcademicStandardStreamId").val();
                var model = {
                    BoardId: ids
                }
                $.get
                    ('/Student/GetAllSubjectsList', { BoardStandardId: ids, BoardStandardStreamId: ids2 }, function (data) {
                        //   console.log(data);
                        $('#AcademicSubjectId').empty();
                        if (data != null && data.length > 0) {
                            $('#AcademicSubjectId').show();
                            $("#AcademicSubjectId").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                            $.each(data, function (i, item) {
                                $("#AcademicSubjectId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                        else {

                            $('#AcademicSubjectId').empty();
                        }
                    })
            });

        });
    </script>

@model OdmErp.Web.Models.SessionTimeTableModel
<div class="card">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStudentSection" asp-controller="Student">Session Timetable</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">Create</li>
        </ol>
    </nav>


    <div class="card-body">
        <div class="">
            @*<form asp-action="SaveSessionTimetable" method="post">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row bg-white" style="padding-top:10px;border: 2px solid #bfbbbb;">

                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Session Timetable</label>
                    <select asp-for="AcademicSessionId" class="form-control" style="width:100%;">
                        <option value="">Select Session</option>
                        @if (Model.academicSessions != null)
                        {
                            foreach (var a in Model.academicSessions)
                            {
                                <option value="@a.ID">@a.DisplayName</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                    <select asp-for="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="SchoolWingId" class="control-label font-weight-bold">Wing</label>
                    <select asp-for="SchoolWingId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="SchoolWingId" class="text-danger"></span>
                </div>

                <div class="col-md-4 form-group">
                    <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                    <select asp-for="BoardId" class="form-control" style="width:100%;">
                        <option value="">Select Board</option>
                        @if (Model.boards != null)
                        {
                            foreach (var a in Model.boards)
                            {
                                <option value="@a.ID">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="BoardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                    <select asp-for="AcademicStandardId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicStandardStreamId" class="control-label font-weight-bold">Stream</label>
                    <select asp-for="AcademicStandardStreamId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="AcademicStandardStreamId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                    <select asp-for="AcademicSectionId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                </div>
             

                <div class="col-md-4 form-group">
                    <label asp-for="StartDate" class="control-label font-weight-bold">Start Date</label>
                    <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EndDate" class="control-label font-weight-bold">End Date</label>
                    <input type="date"  min="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

            </div>

            <div class="row bg-white" style="padding-top:10px;border: 2px solid #bfbbbb;">
                <div class="col-md-4 form-group">
                    <label asp-for="AcademicSubjectId" class="control-label font-weight-bold">Subject</label>
                    <select asp-for="AcademicSubjectId" class="form-control" style="width:100%;"></select>
                    <span asp-validation-for="AcademicSubjectId" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="PeriodType" class="control-label font-weight-bold">Period Type</label>
                    <select asp-for="PeriodType" class="form-control" style="width:100%;">
                        <option value="">Select Period Type</option>
                        <option value="Period">Period</option>
                        <option value="Break">Break</option>
                        <option value="Game">Game</option>
                    </select>
                    <span asp-validation-for="PeriodType" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Name" class="control-label font-weight-bold">Name</label>
                    <input type="text" asp-for="Name" class="form-control input-sm" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="StartTime" class="control-label font-weight-bold">Start Time</label>
                    <input asp-for="StartTime" class="form-control" type="time" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="EndTime" class="control-label font-weight-bold">End Time</label>
                    <input asp-for="EndTime" class="form-control" type="time" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>


                <div class="col-md-2 form-group ">
                    <button type="submit" id="btnchkAdd" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp; <i class="fas fa-check"></i>&nbsp; Add &nbsp; </button>

                </div>
            </div>




            <div class="form-group">
                <table class="table table-bordered" id="tblattachments">
                    <thead>
                        <tr>
                            <td>S. No.</td>
                            <td>Period  Type</td>
                            <td>Name</td>
                            <td>Subject</td>
                            <td>start Time</td>
                            <td>End Time</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody id="tblattachmentsbody" style="line-height: 0.5;" >
                    </tbody>
                </table>
            </div>
            <div class="form-group text-center">
                <button type="submit" id="btnchk" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
            </div>
            @*</form>*@

        </div>
    </div>
</div>
@*</div>*@
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnchk').click(function () {           
            if ($('#AcademicSessionId').val() == "") {
                alert('Please Select Session.');
                return false;
            }
            if ($('#OraganisationAcademicId').val() == "") {
                alert('Please Select Oraganisation.');
                return false;
            }
            if ($('#SchoolWingId').val() == "") {
                alert('Please Select Wing.');
                return false;
            }
            if ($('#BoardId').val() == "") {
                alert('Please Select Wing.');
                return false;
            }
            if ($('#AcademicStandardId').val() == "") {
                alert('Please Select Class.');
                return false;
            }
            if ($('#AcademicSectionId').val() == "") {
                alert('Please Select Section.');
                return false;
            }
           

            var addRequest =
            {             
                AcademicSectionId: parseInt($('#AcademicSessionId').val()),
                AcademicStandardId: parseInt($('#AcademicStandardId').val()),
                SchoolWingId: parseInt($('#SchoolWingId').val()),               
                BoardId: parseInt($('#BoardId').val()),
                AcademicStandardId: parseInt($('#AcademicStandardId').val()),
                AcademicSectionId: parseInt($('#AcademicSectionId').val()),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val()
            };

            //console.log(addRequest);
            $.ajax({
                url: '/Student/SaveSessionTimetable',
                type: 'POST',
                data: addRequest,
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    //debugger;
                    //console.log(data);
                    $('#divloader').fadeOut();
                    if (data == 1) {
                        alert("Record Added Sucessfully.");
                        window.location.href = "/Student/CreateSessionTimetable";
                       
                    }
                    else {
                        window.location.href = "/Student/CreateSessionTimetable";
                    }
                },
                error: function () {

                }
            });

        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                    $.each(data, function (i, item) {

                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });       
    });
</script>

<script>
    $(document).ready(function (){
        $('#btnchkAdd').click(function () { 
            if ($('#PeriodType').val() == "") {
                alert('Please Select Period Type.');
                return false;
            }
            if ($('#Name').val() == "") {
                alert('Name Should Not Be Blank.');
                return false;
            }
            $('#divloader').fadeIn();
            
            var formdata = new FormData();
             formdata.append("PeriodType", $('#PeriodType').val());         
            formdata.append("Name", $('#Name').val()); 
            formdata.append("StartTime", $('#StartTime').val()); 
            formdata.append("EndTime", $('#EndTime').val()); 
            formdata.append("AcademicSubjectId", $('#AcademicSubjectId').val()); 
            $('#tblattachments tbody').html('');
            $.ajax({
                url: '/Student/SaveSessionTimetablePeriod',
                type: 'POST',
                data: formdata,
                dataType: 'json',
                crossDomain: true,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                // headers: { "Accept": "application/json", "Content-Type": "application/json" },
                success: function (data) {
                    $('#divloader').fadeOut();
                    //var res = data;
                    if (data.length > 0) {
                        console.log(data);
                        $('#tblattachments tbody').html('');
                        var s = '';
                        jQuery.each(data, function (key, item) {
                            s += "<tr>";
                            s += "<td>" + (key + 1) + "</td>";
                            s += "<td>" + item.periodTypeName + "</td>";
                            s += "<td>" + item.name + "</td>";
                            s += "<td>" + item.academicSubjectId + "</td>";
                            s += "<td>" + item.startTime + "</td>";
                            s += "<td>" + item.endTime + "</td>";
                            s += "<td><a  onclick='removeattachment(" + item.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                            s += "</tr>";
                        });
                        $('#tblattachmentsbody').append(s);                      
                        $("#Name").val('');
                    }
                    else {
                        $('#tblattachments tbody').html('');
                    }
                }
            })
        
        });
    });
    function removeattachment(id) {       
        $('#divloader').fadeIn();
        $('#tblattachments tbody').html('');
        $.get('/Student/RemoveTimetable', { id: id }, function (data) {
            $('#divloader').fadeOut();
            var res = data;
            if (data.length > 0) {
                $('#tblattachments tbody').html('');
                var s = '';
                jQuery.each(data, function (key, item) {
                    s += "<tr>";
                    s += "<td>" + (key + 1) + "</td>";
                    s += "<td>" + item.periodTypeName + "</td>";
                    s += "<td>" + item.name + "</td>";
                    s += "<td>" + item.academicSubjectId + "</td>";
                    s += "<td>" + item.startTime + "</td>";
                    s += "<td>" + item.endTime + "</td>";
                    s += "<td><a onclick='removeattachment(" + item.id + ")'><i class='fas fa-trash fa-sm text-black-50'></i>Delete</a></td>";
                    s += "</tr>";
                })
                $('#tblattachments tbody').append(s);
                $('#txtattachment').val('');
                $("#file").val('');
            }
        })
    }
</script>

<script>
    $(document).ready(function () {
        $('#OraganisationAcademicId').change(function () {
            $('#SchoolWingId').empty();
            $('#AcademicStandardId').empty();
            $.get('/Student/GetWingBySchoolWing', { OraganisationAcademicId: $('#OraganisationAcademicId').val() }, function (data) {
                if (data.length > 0) {
                    $("#SchoolWingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#SchoolWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function () {
        $('#divstream').hide();
        $('#BoardId').change(function () {
            $('#AcademicStandardId').empty();
            $.get('/Student/GetClassByBoard', { BoardId: $('#BoardId').val(), OrganizationAcademicId: $('#OraganisationAcademicId').val(), schoolwingId: $('#SchoolWingId').val() }, function (data) {
                if (data.length > 0) {
                    $("#AcademicStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#AcademicStandardId').change(function () {
            $.get('/Student/GetStreamAvailableByClass', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                if (data.isstream == 'True') {
                    $('#divstream').show();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/Student/GetStreamByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                        if (data.length > 0) {
                            $("#AcademicStandardStreamId").append('<option value=" ">Select Stream</option>');
                            $.each(data, function (i, item) {
                                $("#AcademicStandardStreamId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                            });
                        }
                    });
                }
                else {
                    $('#divstream').hide();
                    $('#AcademicStandardStreamId').empty();
                    $.get('/Student/GetAllStudentsByAcademicStandard', {
                        AcademicStandardStreamId: $('#AcademicStandardStreamId').val(),
                        AcademicStandardId: $('#AcademicStandardId').val()
                    }, function (data) {
                        $('#tbodystudent').empty();
                        var s = '';
                        $.each(data, function (i, item) {
                            s += '<tr>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal">' + item.code + '</td>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal">' + item.name + '</td>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal">' + item.section + '</td>';
                            //  s += '<td class="h6 mb-0 text-gray-800 font-weight-normal"><input type="text" name="RollNo" id="textbox'+(i+1)+'" class="form-control" /></td>';
                            s += '<td class="h6 mb-0 text-gray-800 font-weight-normal"><input type="checkbox" name="StudentId" value="' + item.id + '"></td>';
                            s += '</tr>';
                        })
                        $('#tbodystudent').html(s);
                    })
                }
            })
            $.get('/Student/GetSectionsByAcademicStandard', { AcademicStandardId: $('#AcademicStandardId').val() }, function (data) {
                $("#AcademicSectionId").empty();
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value=" ">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            })
        })
       
       
    });
</script>
<script>
    $(document).ready(function () {
        $("#AcademicStandardId").change(function () {
          
            $('#AcademicSubjectId').empty();
            var ids = $("#AcademicStandardId").val();
            var ids2 = $("#AcademicStandardStreamId").val();
            var model = {
                BoardId: ids
            }

            $.get
                ('/Student/GetAllSubjectsList', { BoardStandardId: ids, BoardStandardStreamId: ids2 }, function (data) {
                    //   console.log(data);
                    $('#AcademicSubjectId').empty();
                    if (data != null && data.length > 0) {
                        $('#AcademicSubjectId').show();
                        $("#AcademicSubjectId").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                        $.each(data, function (i, item) {
                            $("#AcademicSubjectId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {

                        $('#AcademicSubjectId').empty();
                    }
                })

        });


        $("#AcademicStandardStreamId").change(function () {
            $('#AcademicSubjectId').empty();
            var ids = $("#AcademicStandardId").val();
            var ids2 = $("#AcademicStandardStreamId").val();
            var model = {
                BoardId: ids
            }
            $.get
                ('/Student/GetAllSubjectsList', { BoardStandardId: ids, BoardStandardStreamId: ids2 }, function (data) {
                    //   console.log(data);
                    $('#AcademicSubjectId').empty();
                    if (data != null && data.length > 0) {
                        $('#AcademicSubjectId').show();
                        $("#AcademicSubjectId").append('<option value="0"> ' + 'Select Subject' + ' </option>');
                        $.each(data, function (i, item) {
                            $("#AcademicSubjectId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                    else {

                        $('#AcademicSubjectId').empty();
                    }
                })
        });
    });
</script>
