﻿
@{
    ViewData["Title"] = "CreateOrEditStudentAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.StudentAdressCls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@Model.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentAddressDetails" asp-controller="Student" asp-route-id="@Model.StudentId">Address</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
    </div>
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <form asp-action="SaveOrUpdateStudentAddress">

                            <input type="hidden" name="ID" value="@Model.ID" />
                            <input type="hidden" name="StudentAddressId" value="@Model.StudentAddressId" />
                            <input type="hidden" name="AddressTypeID" value="@Model.AddressTypeID" />
                            <input type="hidden" name="StudentId" value="@Model.StudentId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                @*<div class="col-md-4">
                                        <label asp-for="AddressTypeID" class="control-label"></label>
                                        <select asp-for="AddressTypeID" class="form-control">
                                            <option value="0">Select Address Type</option>
                                            @if (Model.addressTypes != null)
                                            {
                                                foreach (var item in Model.addressTypes)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="AddressTypeID" class="text-danger"></span>
                                    </div>*@
                                <div class="col-md-4">
                                    <label asp-for="AddressLine1" class="control-label"></label>
                                    <input asp-for="AddressLine1" class="form-control" />
                                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="AddressLine2" class="control-label"></label>
                                    <input asp-for="AddressLine2" class="form-control" />
                                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="CountryID" class="control-label"></label>
                                    <select asp-for="CountryID" class="form-control">
                                        <option value="0">Select Country</option>
                                        @if (Model.countries != null)
                                        {
                                            foreach (var item in Model.countries)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="CountryID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">

                                <div class="col-md-4">
                                    <label asp-for="StateID" class="control-label"></label>
                                    <select asp-for="StateID" class="form-control">
                                        <option value="0">Select State</option>
                                        @if (Model.states != null)
                                        {
                                            foreach (var item in Model.states)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="StateID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="CityID" class="control-label"></label>
                                    <select asp-for="CityID" class="form-control">
                                        <option value="0">Select City</option>
                                        @if (Model.cities != null)
                                        {
                                            foreach (var item in Model.cities)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="CityID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="PostalCode" class="control-label"></label>
                                    <input asp-for="PostalCode" class="form-control" />
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>

                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group text-center">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CountryID').change(function () {
                debugger;
                $.get('/Student/GetStateByCountryId', { id: $('#CountryID').val() }, function (data) {
                    $('#StateID').empty();
                    if (data.length > 0) {
                        $("#StateID").append('<option value="0">Select State</option>');
                        $.each(data, function (i, item) {
                            $("#StateID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            })

            $('#StateID').change(function () {
                debugger;
                $.get('/Student/GetCityByStateId', { id: $('#StateID').val() }, function (data) {
                    $('#CityID').empty();
                    if (data.length > 0) {
                        $("#CityID").append('<option value="0">Select City</option>');
                        $.each(data, function (i, item) {
                            $("#CityID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            })
        })
    </script>

