﻿
@{
    ViewData["Title"] = "CreateOrEditStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Models.StudentModelClass


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>



<div class="card">
    <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
        <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Student Profile</h1>
        @*<div>
            <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
               data-toggle="modal" data-target="#myModalParent"><i class="fas fa-arrow-circle-up"></i> &nbsp; Parent Upload Excel</a>
             </div>*@
    </div>
   
    <div class="card-body">
        <form asp-action="SaveOrUpdateEmployeeProfile" class="row" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="text-center">
                    <img id="profileimage" src="@(ViewBag.Profileimage!=null?ViewBag.Profileimage: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;">
                    <h6>Upload Profile Photo...</h6>
                    <input type="file" id="file" name="file" class="text-center center-block file-upload" accept=".jpg,.jpeg,.png,.gif">
                </div></hr><br>
            </div>
            <div class="col-md-9">

                <input type="hidden" asp-for="ID" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="StudentCode" class="control-label"></label>
                        <input asp-for="StudentCode" readonly class="form-control" />
                        <span asp-validation-for="StudentCode" class="text-danger"></span>
                    </div>
                </div>


                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input type="date" asp-for="DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="BloodGroupID" class="control-label"></label>
                        <select asp-for="BloodGroupID" class="form-control">
                            <option value="">Select Blood Group</option>
                            @if (Model.bloodGroups != null)
                            {
                                foreach (var item in Model.bloodGroups)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="BloodGroupID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="CategoryID" class="control-label"></label>
                        <select asp-for="CategoryID" class="form-control">
                            <option value="">Select Category</option>
                            @if (Model.categoryTypes != null)
                            {
                                foreach (var item in Model.categoryTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="CategoryID" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>

                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="NatiobalityID" class="control-label"></label>
                        <select asp-for="NatiobalityID" class="form-control">
                            <option value="">Select Nationality</option>
                            @if (Model.nationalityTypes != null)
                            {
                                foreach (var item in Model.nationalityTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="NatiobalityID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ReligionID" class="control-label"></label>
                        <select asp-for="ReligionID" class="form-control">
                            <option value="">Select Religion</option>
                            @if (Model.religionTypes != null)
                            {
                                foreach (var item in Model.religionTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="ReligionID" class="text-danger"></span>
                    </div>

                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>


                <div class="form-group">
                    <div><h5>Required Documents</h5></div>
                    <div class="row">
                        @if (Model.documentTypesCls != null)
                        {
                            for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                            {
                                <div class="col-md-3">

                                    <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                    <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                    <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                    <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group text-center" style="margin-top:2rem;">
                    <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="fas fa-arrow-circle-left" style="margin-right:.2rem;"></i> Back To List</a>
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="fas fa-check-circle" style="margin-right:.2rem;"></i> @ViewBag.status</button>
                </div>


            </div>
        </form>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#file").change(function () {
            readURL1(this);
        });

        //$("#dateOfBirth").blur(function () {
        //    debugger;
        //    var currentDate = new Date();
        //    var selectedDate = $("#dateOfBirth").val;
        //    if (selectedDate > currentDate) {
        //        alert("Date of birth can not be grater then current date...., please select the ");
        //    }
        //});

    })
</script>

