﻿
@{
    ViewData["Title"] = "CreateOrEditStudentStandards";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.StudentClassDetails

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Student" asp-controller="Layout">Student</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@Model.StudentID">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentStandardDetails" asp-controller="Student"  asp-route-id="@Model.StudentID">StandardAddress</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Create StandardAddress</li>
        </ol>
    </nav>
    </div>

    <h3>Educational Details</h3>
    <hr />
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <form asp-action="SaveOrUpdateStudentStandards">
                            <input type="hidden" asp-for="ID" />
                            <input type="hidden" asp-for="StudentID" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="OrganizationID" class="control-label"></label>
                                    <select asp-for="OrganizationID" class="form-control">
                                        <option value="0">Select Organization</option>
                                        @if (Model.organizations != null)
                                        {
                                            foreach (var item in Model.organizations)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="OrganizationID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="WingID" class="control-label"></label>
                                    <select asp-for="WingID" class="form-control">
                                        <option value="0">Select Wing</option>
                                        @if (Model.wings != null)
                                        {
                                            foreach (var item in Model.wings)
                                            {
                                                <option value="@item.ID">@item.wingName</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="WingID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="BoardID" class="control-label"></label>
                                    <select asp-for="BoardID" class="form-control">
                                        <option value="0">Select Board</option>
                                        @if (Model.boards != null)
                                        {
                                            foreach (var item in Model.boards)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="BoardID" class="text-danger"></span>
                                </div>


                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="StandardID" class="control-label"></label>
                                    <select asp-for="StandardID" class="form-control">
                                        <option value="0">Select Standard</option>
                                        @if (Model.standards != null)
                                        {
                                            foreach (var item in Model.standards)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="StandardID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="SectionID" class="control-label"></label>
                                    <select asp-for="SectionID" class="form-control">
                                        <option value="0">Select Section</option>
                                        @if (Model.sections != null)
                                        {
                                            foreach (var item in Model.sections)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="SectionID" class="text-danger"></span>
                                </div>


                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group">
                                <label><input type="checkbox" asp-for="IsCurrent" />&nbsp;&nbsp; Current Standard</label>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group text-center">
                                <a asp-action="StudentStandardDetails" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#OrganizationID').change(function () {
                debugger;
                $.get('/Student/GetWingByOrganisationId', { id: $('#OrganizationID').val() }, function (data) {
                    $('#WingID').empty();
                    if (data.length > 0) {
                        $("#WingID").append('<option value="0">Select Wing</option>');
                        $.each(data, function (i, item) {
                            $("#WingID").append('<option value="' + item.id + '"> ' + item.wingName + ' </option>');
                        });
                    }
                })
            })

            $('#BoardID').change(function () {
                debugger;
                $.get('/Student/GetStandardByBoardId', { id: $('#BoardID').val() }, function (data) {
                    $('#StandardID').empty();
                    if (data.length > 0) {
                        $("#StandardID").append('<option value="0">Select Standard</option>');
                        $.each(data, function (i, item) {
                            $("#StandardID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            })
        })
    </script>

