﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <style>
        .close {
            padding: 0.80rem 1.5rem !important;
            outline: none !important;
        }

        .modal-header {
            height: 45px;
            padding: 10px 5px;
        }

        .modal-titleNew {
            text-align: left;
            background-color: #fff;
            color: #000000;
            font: bold;
            font-size: 18px;
            margin: 1px 10px 1px 12px;
        }

        .modal.left .modal-dialog,
        .modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            width: 48%;
            height: 90%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .modal.left .modal-content,
        .modal.right .modal-content {
            height: 99%;
            width: 100%;
            /*overflow-y: auto;*/
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .modal.left .modal-body,
        .modal.right .modal-body {
            padding: 15px 15px 80px;
        }

        /*Left*/
        .modal.left.fade .modal-dialog {
            left: 0px;
            -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
            -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
        }

        .modal.left.fade.in .modal-dialog {
            left: 0;
        }

        /*Right*/
        .modal.right.fade .modal-dialog {
            right: 0px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .modal.right.fade.in .modal-dialog {
            right: 0;
        }

        /* ----- MODAL STYLE ----- */
        .modal-content {
            border-radius: 0;
            border: none;
        }

        .modal-header {
            border-bottom-color: #EEEEEE;
            background-color: #FAFAFA;
        }

        .modal-footer {
            margin-top: 300px;
            margin-left: 120px;
        }
        /* ----- v CAN BE DELETED v ----- */
        body {
            background-color: #78909C;
        }

        .demo {
            padding-top: 60px;
            padding-bottom: 110px;
        }

        .btn-demo {
            margin: 15px;
            padding: 10px 15px;
            border-radius: 0;
            font-size: 16px;
            background-color: #FFFFFF;
        }

            .btn-demo:focus {
                outline: 0;
            }



        /*Rounded Checkbox*/

        .container {
            display: block;
            position: relative;
            padding-left: 5px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #aaa;
            border-radius: 15px;
            border-color: aqua;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
<style>
    table.display tbody tr:nth-child(even):hover td {
        background-color: #ffe6e6 !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: #ccffff !important;
    }
    .nav-tabs .nav-link.active {
        color: white;
        background-color: #1cc88a;
        border-color: #dddfeb #dddfeb #fff;
    }
    /*.modal.right.fade .modal-dialog {
        right: -280px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal.right .modal-content {
        min-height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }*/

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    a:hover {
        color: #2121bd;
    }
</style>
@*@model IEnumerable<OdmErp.Web.Models.StudentModelClass>*@
@model OdmErp.Web.Models.StudentModelClass

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Student</li>

        </ol>
    </nav>
</div>



<div class="row" style="margin-top:.5rem;">
    <div class="card bg-white col-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Student</h1>
            <div>
                <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                   data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> Upload Excel</a>
                <a href="/Student/DownloadStudent"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp; Download Excel
                </a>
                <a href="/Student/DownloadStudentParent"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp; Download Parent Excel
                </a>
                <a href="/Student/CreateOrEditStudent"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-plus-circle"></i>&nbsp; Create
                </a>


            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Student Code</th>
                            <th>Name</th>
                            <th>Session</th>
                            <th>Modified On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model.StudentList)
                            {
                                <tr>
                                    <td>
                                        @*<button type="button" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#modal-default1_@item.ID" style="border: 0px;padding: 4px 8px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;  margin-right: -1px;">
                                                <i class="fa fa-edit"></i>
                                            </button>*@
                                        <input type="checkbox" data-toggle="modal" data-target="#modal-default1_@item.ID" />

                                        <div class="modal right fade" id="modal-default1_@item.ID" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <form action="" method="post">
                                                    <div class="modal-content">
                                                        <!--Modal header-->
                                                        <div class="modal-header">
                                                            <h5>Student Details | <span style="color:forestgreen">@item.StudentCode</span></h5>
                                                            <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <!--Modal body-->
                                                        <div class="modal-body">
                                                            <div class="bootbox-body">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <nav>
                                                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                                                <a class="nav-item nav-link active" id="custom-nav-home-tab_@item.ID" data-toggle="tab" href="#custom-nav-home_@item.ID" role="tab" aria-controls="custom-nav-home"
                                                                                   aria-selected="true">Login</a>
                                                                                <a class="nav-item nav-link" id="custom-nav-profile-tab_@item.ID" data-toggle="tab" href="#custom-nav-profile_@item.ID" role="tab" aria-controls="custom-nav-profile"
                                                                                   aria-selected="false">Parent</a>
                                                                                <a class="nav-item nav-link" id="custom-nav-address-tab_@item.ID" data-toggle="tab" href="#custom-nav-address_@item.ID" role="tab" aria-controls="custom-nav-address"
                                                                                   aria-selected="false">Address</a>
                                                                                <a class="nav-item nav-link" id="custom-nav-standard-tab_@item.ID" data-toggle="tab" href="#custom-nav-standard_@item.ID" role="tab" aria-controls="custom-nav-standard"
                                                                                   aria-selected="false">Current Standard</a>
                                                                                <a class="nav-item nav-link" id="custom-nav-education-tab_@item.ID" data-toggle="tab" href="#custom-nav-education_@item.ID" role="tab" aria-controls="custom-nav-education"
                                                                                   aria-selected="false">Last Education</a>
                                                                                <a class="nav-item nav-link" id="custom-nav-document-tab_@item.ID" data-toggle="tab" href="#custom-nav-document_@item.ID" role="tab" aria-controls="custom-nav-document"
                                                                                   aria-selected="false">Document</a>
                                                                            </div>
                                                                        </nav>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="custom-tab">
                                                                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                                                <div class="tab-pane fade show active" id="custom-nav-home_@item.ID" role="tabpanel" aria-labelledby="custom-nav-home-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Login Details</label>
                                                                                            <input type="hidden" id="studentid" value="@item.ID"/>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentloginaccessDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>
                                                                                        @if (Model.accesscls != null)
                                                                                        {
                                                                                            foreach (var a in Model.accesscls.Where(b=>b.EmployeeID==item.ID))
                                                                                                                                                                {
                                                                                                <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                                                                    <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                                                                                    <li>

                                                                                                        <div>
                                                                                                            <span style="font-weight: 600;">Role : </span> <span>&nbsp; @a.RoleName</span>
                                                                                                        </div>
                                                                                                        <div>
                                                                                                            <span style="font-weight: 600;">Username : </span> <span>&nbsp; @a.Username</span>
                                                                                                        </div>
                                                                                                        <div>
                                                                                                            <span style="font-weight: 600;">Modified On : </span> <span>&nbsp; @a.ModifiedDate.ToString("dd-MMM-yyyy")</span>
                                                                                                        </div>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            }

                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                                                                                <h5>No Login Access Provided</h5>
                                                                                            </div>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                                <div class="tab-pane fade" id="custom-nav-profile_@item.ID" role="tabpanel" aria-labelledby="custom-nav-profile-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Parents Details</label>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentParentsDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>
                                                                                        @if (Model.studentParentsCls != null)
                                                                                        {
                                                                                            if (Model.studentParentsCls.ToList().Count > 0)
                                                                                            {
                                                                                                foreach (var parent in Model.studentParentsCls.Where(z=>z.StudentID==item.ID))
                                                                                                {
                                                                                                    <div class="form-group">

                                                                                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                                                                            <li>
                                                                                                                <img src="@(parent.Imagepath!=null?parent.Imagepath: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height:60px;">
                                                                                                            </li>
                                                                                                            <li style="margin-left:10px;">
                                                                                                                <div>
                                                                                                                    <span style="font-weight: 600;">@(parent.FirstName + " " + (parent.MiddleName != "" ? (parent.MiddleName + " ") : parent.LastName))</span>
                                                                                                                </div>
                                                                                                                @if (parent.EmailId != "")
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <i class="fas fa-envelope fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(parent.EmailId)</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                                @if (parent.PrimaryMobile != "")
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <i class="fas fa-mobile fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(parent.PrimaryMobile)</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                                @if (parent.AlternativeMobile != null)
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <i class="fas fa-mobile fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(parent.AlternativeMobile)</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                                @if (parent.LandlineNumber != null)
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <i class="fas fa-phone fa-sm text-red-50"></i>&nbsp;&nbsp; <span>@(parent.LandlineNumber)</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                                @if (parent.ProfessionTypeID != 0)
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <span style="font-weight: 600;">Profession Type : </span><span> @parent.ProfessionTypeName</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                                @if (parent.ParentRelationshipID != 0)
                                                                                                                {
                                                                                                                    <div>
                                                                                                                        <span style="font-weight: 600;">Relationship : </span><span> @parent.ParentRelationshipName</span>
                                                                                                                    </div>
                                                                                                                }
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {

                                                                                                <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                                                                                    <h5>No Parent Details Uploaded</h5>
                                                                                                </div>
                                                                                            }
                                                                                        }

                                                                                    </div>
                                                                                </div>
                                                                                <div class="tab-pane fade" id="custom-nav-address_@item.ID" role="tabpanel" aria-labelledby="custom-nav-address-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Address Details</label>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentAddressDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>
                                                                                        @if (Model.studentAdresses != null)
                                                                                        {
                                                                                            if (Model.studentAdresses.ToList().Count > 0)
                                                                                            {
                                                                                                foreach (var address in Model.studentAdresses.Where(z=>z.StudentId==item.ID))
                                                                                                {
                                                                                                    <div class="form-group">
                                                                                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                                                                            <li><i class="fas fa-map-marker fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                                                                                            <li>
                                                                                                                <div>
                                                                                                                    <span><span style="color: #ea3637;font-weight: bold;"> @address.AddressTypeName -</span>  @address.AddressLine1</span>
                                                                                                                    @if (address.AddressLine2 != "")
                                                                                                                    {
                                                                                                                        <span>, @address.AddressLine2</span>
                                                                                                                    }
                                                                                                                    @if (address.CityName != "")
                                                                                                                    {
                                                                                                                        <span>, @address.CityName</span>
                                                                                                                    }
                                                                                                                    @if (address.StateName != "")
                                                                                                                    {
                                                                                                                        <span>, @address.StateName</span>
                                                                                                                    }
                                                                                                                    @if (address.CountryName != "")
                                                                                                                    {
                                                                                                                        <span>, @address.CountryName</span>
                                                                                                                    }
                                                                                                                    @if (address.PostalCode != "")
                                                                                                                    {
                                                                                                                        <span>, @address.PostalCode</span>
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {

                                                                                                <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                                                                                    <h5>No Address Details Uploaded</h5>
                                                                                                </div>
                                                                                            }
                                                                                        }

                                                                                    </div>
                                                                                </div>
                                                                                <div class="tab-pane fade" id="custom-nav-standard_@item.ID" role="tabpanel" aria-labelledby="custom-nav-standard-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Current Standard Details</label>
                                                                                            @*<a style="right: 30px;position: absolute;" asp-action="StudentStandardDetails" asp-controller="Student" asp-route-id="@Model.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>*@
                                                                                        </div>
                                                                                        @if (Model.studentClassDetails != null)
                                                                                        {
                                                                                            <div class="form-group">

                                                                                                <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                                                                    <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                                                                                    <li>

                                                                                                        <div>
                                                                                                            @if (Model.studentClassDetails.StandardID != 0)
                                                                                                            {
                                                                                                                <div><strong>Standard : </strong>&nbsp; @Model.studentClassDetails.StandardName</div>
                                                                                                            }
                                                                                                            @if (Model.studentClassDetails.BoardID != 0)
                                                                                                            {
                                                                                                                <div><strong>Board : </strong>&nbsp; @Model.studentClassDetails.BoardName</div>
                                                                                                            }
                                                                                                            @if (Model.studentClassDetails.SectionID != 0)
                                                                                                            {
                                                                                                                <div><strong>Section : </strong>&nbsp; @Model.studentClassDetails.SectionName</div>
                                                                                                            }
                                                                                                            @if (Model.studentClassDetails.WingID != 0)
                                                                                                            {
                                                                                                                <div><strong>Wing : </strong>&nbsp; @Model.studentClassDetails.WingName</div>
                                                                                                            }
                                                                                                            @if (Model.studentClassDetails.SessionID != 0)
                                                                                                            {
                                                                                                                <div><strong>Session : </strong>&nbsp; @Model.studentClassDetails.SessionName</div>
                                                                                                            }
                                                                                                            @if (Model.studentClassDetails.OrganizationID != 0)
                                                                                                            {
                                                                                                                <div><strong>Organization : </strong>&nbsp; @Model.studentClassDetails.OrganizationName</div>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </div>

                                                                                        }
                                                                                        else
                                                                                        {

                                                                                            <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;">
                                                                                                <h5>No Standard Details Uploaded</h5>
                                                                                            </div>
                                                                                        }


                                                                                    </div>
                                                                                </div>
                                                                                <div class="tab-pane fade" id="custom-nav-education_@item.ID" role="tabpanel" aria-labelledby="custom-nav-education-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Last Educational Details</label>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentAcademicDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            @if (Model.StudentAcademicAccess != null)
                                                                                            {
                                                                                                if (Model.StudentAcademicAccess.ToList().Count > 0)
                                                                                                {
                                                                                                    int j = 0;
                                                                                                    foreach (var academic in Model.StudentAcademicAccess.Where(z => z.StudentID == item.ID))
                                                                                                    {
                                                                                                        <div class="col-md-6 mb-2">
                                                                                                            <div class="card shadow">
                                                                                                                <a asp-action="CreateOrEditStudentAcademic" asp-controller="Student" asp-route-id="@academic.ID" asp-route-sid="@academic.StudentID" style="position: absolute; right: 3px;"><i class="fa fa-edit"></i></a>
                                                                                                                <div class="form-group">
                                                                                                                  
                                                                                                                    <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                                                                                        <li style="margin-left:10px;">
                                                                                                                            @if (academic.OrganizationName != "")
                                                                                                                            {
                                                                                                                                <div> <span style="font-weight: 600;">Organisation :</span> @academic.OrganizationName</div>
                                                                                                                            }
                                                                                                                            @if (academic.BoardName != "")
                                                                                                                            {
                                                                                                                                <div> <span style="font-weight: 600;">Board :</span> @academic.BoardName</div>
                                                                                                                            }
                                                                                                                            @if (academic.ClassName != "")
                                                                                                                            {
                                                                                                                                <div> <span style="font-weight: 600;">Class :</span> @academic.ClassName</div>
                                                                                                                            }
                                                                                                                            @if (academic.FromDate.ToString() != "")
                                                                                                                            {
                                                                                                                                <div> <span style="font-weight: 600;">FromDate :</span> @academic.FromDate.ToString("dd MMM yyyy")</div>
                                                                                                                            }
                                                                                                                            @if (academic.ToDate.ToString() != "")
                                                                                                                            {
                                                                                                                                <div> <span style="font-weight: 600;">ToDate :</span> @academic.ToDate.ToString("dd MMM yyyy")</div>
                                                                                                                            }

                                                                                                                        </li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                                else
                                                                                                {

                                                                                                    <div class="form-group text-center" style="padding-bottom:20px;padding-top:20px;padding-left: 20px;">
                                                                                                        <h5>No Last Educational Details Uploaded</h5>
                                                                                                    </div>
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="tab-pane fade" id="custom-nav-document_@item.ID" role="tabpanel" aria-labelledby="custom-nav-document-tab_@item.ID">
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Educational Document</label>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentDocumentDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>

                                                                                        @*<ul style="list-style: none; display: inline-flex; padding-left: 0px;">*@
                                                                                        <div class="p-2">
                                                                                            @if (Model.StudentDocumentAccess != null)
                                                                                            {
                                                                                                if (Model.StudentDocumentAccess.ToList().Count > 0)
                                                                                                {
                                                                                                    foreach (var sdoc in Model.StudentDocumentAccess.Where(z=>z.StudentID==item.ID))
                                                                                                    {
                                                                                                        <div class="row">
                                                                                                            <div class="col-md-2" style="text-align:right">
                                                                                                                <span style="font-weight: 600;">@sdoc.BoardName</span> |
                                                                                                            </div>
                                                                                                            <div class="col-md-2">
                                                                                                                <span style="font-weight: 600;">@sdoc.ClassName</span> |
                                                                                                            </div>
                                                                                                            <div class="col-md-4">
                                                                                                                <b>@sdoc.DocumentSubTypeName</b>
                                                                                                            </div>
                                                                                                            <div class="col-md-4">
                                                                                                                <a asp-action="CreateOrEditStudentDocumentDetails" asp-route-id="@sdoc.ID"><i class="fa fa-plus"></i> Upload</a> |
                                                                                                                @if (sdoc.IsVerified == true)
                                                                                                                {
                                                                                                                    <label>Verified</label>
                                                                                                                }
                                                                                                                else
                                                                                                                { <label>Not Verified</label>
                                                                                                                }
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="clearfix mb-1"></div>

                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                        @*</ul>*@
                                                                                    </div>
                                                                                    <div class="form-group bg-white" style="padding:10px;">
                                                                                        <div class="form-group" style="border-bottom: 1px solid;">
                                                                                            <label style="font-size: 17px;">Personal Document</label>
                                                                                            <a style="right: 30px;position: absolute;" asp-action="StudentDocumentDetails" asp-controller="Student" asp-route-id="@item.ID"><i class="fas fa-pen fa-sm text-red-50"></i></a>
                                                                                        </div>

                                                                                        @*<ul style="list-style: none; display: inline-flex; padding-left: 0px;">*@
                                                                                        <div class="p-2">
                                                                                            @if (Model.StudentPersonalDocumentAccess != null)
                                                                                            {
                                                                                                if (Model.StudentPersonalDocumentAccess.ToList().Count > 0)
                                                                                                {
                                                                                                    foreach (var pdoc in Model.StudentPersonalDocumentAccess.Where(z => z.StudentID == item.ID))
                                                                                                    {
                                                                                                        <div class="row">
                                                                                                            <div class="col-md-7">
                                                                                                                <b>@pdoc.DocumentSubTypeName</b>
                                                                                                            </div>
                                                                                                            <div class="col-md-5">
                                                                                                                <a asp-action="CreateOrEditStudentDocumentDetails" asp-route-id="@pdoc.ID"><i class="fa fa-plus"></i> Upload</a> |
                                                                                                                @if (pdoc.IsVerified == true)
                                                                                                                {
                                                                                                                    <label>Verified</label>
                                                                                                                }
                                                                                                                else
                                                                                                                { <label>Not Verified</label>
                                                                                                                }
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="clearfix mb-1"></div>

                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
                                                                                        @*</ul>*@



                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Modal footer-->
                                                        <div class="modal-footer">
                                                            <input type="hidden" name="txtmode" id="txtmode" value="M" />
                                                            <input type="hidden" name="txtcode" id="txtcodeid_@item.ID" value="@item.ID" />
                                                            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                                            <button class="btn btn-primary" onclick="Duplicate_WorkName_update('@item.ID')">Update</button>
                                                        </div>
                                                    </div>
                                                </form>


                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.StudentCode
                                    </td>
                                    <td style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@(item.FirstName + " " + (item.MiddleName == "" ? "" : (item.MiddleName + " ")) + item.LastName)">
                                        @(item.FirstName + " " + (item.MiddleName == "" ? "" : (item.MiddleName + " ")) + item.LastName)
                                    </td>
                                    <td>
                                        @item.DateOfBirth.ToString("dd MMM yyyy")
                                    </td>

                                    <td>
                                        @item.ModifiedDate.ToString("dd MMM yyyy")
                                    </td>

                                    <td>
                                        <a title="Edit" asp-action="ViewStudentDetails" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                        <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>

                                        <a class="one-time-add" title="Delete" asp-action="DeleteStudent" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this student?');"><i class="fas fa-trash"></i></a>

                                    </td>
                                </tr>

                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadStudent" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            Download Student Sample Excel
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/DownloadStudentSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            Upload Student Excel
                        </div>
                        <div class="col-md-6">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>
                <form asp-action="UploadStudentParent" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            Download Parent Sample Excel
                        </div>
                        <div class="col-md-6">
                            <a href="/Student/DownloadStudentParentSample">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-6">
                            Upload Parent Excel
                        </div>
                        <div class="col-md-6">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>



