﻿
@{
    ViewData["Title"] = "StudentloginaccessDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.EmployeeAccesscls>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Student" asp-controller="Layout">Student</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">LogInAccessDetails</li>
        </ol>
    </nav>
</div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Log In Details</h1>
        <div>
            <a asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
            <a asp-action="CreateOrEditStudentloginaccess" asp-controller="Student" asp-route-eid="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>User Name</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @(item.RoleName)
                                            </td>
                                            <td>
                                                @item.Username
                                            </td>

                                            <td>
                                                @item.ModifiedDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                <a asp-action="CreateOrEditStudentloginaccess" asp-route-id="@item.AccessID" asp-route-eid="@item.EmployeeID"><i class="far fa-edit text-success"></i></a>  <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                <a asp-action="StudentloginaccessDeleteConfirmed" asp-route-id="@item.AccessID" asp-route-eid="@item.EmployeeID" onclick="return confirm('Are you sure you wish to delete this student Login?');">
                                                    <i class="fas fa-trash"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
