﻿
@{
    ViewData["Title"] = "StudentAddressDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.StudentTypewithAddresscls>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Address</li>
        </ol>
    </nav>
    </div>

    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h4 mb-0 text-gray-600"></h1>
        <div>
            <a asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-undo"></i> Back To List</a>
            @*<a asp-action="CreateOrEditStudentAddress" asp-controller="Student" asp-route-eid="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>*@
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="container-fluid">
            @if (Model != null)
            {
                <div class="row">
                    @foreach (var a in Model)
                    {
                        <div class="col-md-6 form-group">
                            <div class="card shadow">

                                <div class="card-body">
                                    <div class="form-group row" style="border-bottom: 1px solid;display:flow-root;">
                                        <label style="font-size: 17px; float:left;">@a.typeName</label>
                                        @if (a.studentAdress != null)
                                        {
                                            <a style="float:right;" asp-action="DeletestudentAddress" asp-route-id="@a.studentAdress.ID" asp-route-eid="@ViewBag.StudentId" onclick="return confirm('Are you sure you wish to delete this student address?');"><i class="fas fa-trash"></i></a>

                                            <span style="float:right;" class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                            <a style="float:right;" class="pr-1" asp-action="CreateOrEditStudentAddress" asp-route-id="@a.studentAdress.ID" asp-route-eid="@ViewBag.StudentId" asp-route-typeid="@a.typeId"><i class="far fa-edit text-success"></i></a>

                                        }
                                        else
                                        {
                                            <a style="float:right;" asp-action="CreateOrEditStudentAddress" asp-controller="Student" asp-route-eid="@ViewBag.StudentId" asp-route-typeid="@a.typeId"><i class="fas fa-plus fa-sm text-red-50"></i></a>
                                        }
                                    </div>
                                    @if (a.studentAdress != null)
                                    {
                                        <div class="form-group">
                                            <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                                <li><i class="fas fa-map-marker fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                                <li>
                                                    <div>
                                                        <span><b>Address Line-1 :</b> @a.studentAdress.AddressLine1</span>
                                                    </div>
                                                    @if (a.studentAdress.AddressLine2 != "")
                                                    {
                                                        <div>
                                                            <span><b>Address Line-2 :</b> @a.studentAdress.AddressLine2</span>
                                                        </div>
                                                    }
                                                    @if (a.studentAdress.CityName != "")
                                                    {
                                                        <div>
                                                            <span><b>City :</b> @a.studentAdress.CityName</span>
                                                        </div>
                                                    }
                                                    @if (a.studentAdress.StateName != "")
                                                    {
                                                        <div>
                                                            <span><b>State :</b> @a.studentAdress.StateName</span>
                                                        </div>
                                                    }
                                                    @if (a.studentAdress.CountryName != "")
                                                    {
                                                        <div>
                                                            <span><b>Country :</b> @a.studentAdress.CountryName</span>
                                                        </div>
                                                    }
                                                    @if (a.studentAdress.PostalCode != "")
                                                    {
                                                        <div>
                                                            <span><b>Postal Code :</b> @a.studentAdress.PostalCode</span>
                                                        </div>
                                                    }

                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                                @if (a.studentAdress != null)
                                {
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span style="font-size:13px;">Created On : <b>@a.studentAdress.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                            </div>
                                            <div class="col-md-6">
                                                <span style="font-size:13px;">Modified On : <b>@a.studentAdress.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            <!-- Page Heading -->
            <!-- DataTales Example -->
            @*<div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Address Type</th>
                                        <th>Address Line 1</th>
                                        <th>Address Line 2</th>
                                        <th>Country</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>Postal Code</th>
                                        <th>Modified On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.AddressTypeName
                                                </td>
                                                <td>
                                                    @item.AddressLine1
                                                </td>
                                                <td>
                                                    @item.AddressLine2
                                                </td>
                                                <td>
                                                    @item.CountryName
                                                </td>
                                                <td>
                                                    @item.StateName
                                                </td>
                                                <td>
                                                    @item.CityName
                                                </td>
                                                <td>
                                                    @item.PostalCode
                                                </td>
                                                <td>
                                                    @item.ModifiedDate.ToString("dd MMM yyyy")
                                                </td>
                                                <td>
                                                    <a asp-action="CreateOrEditEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                    <a asp-action="DeleteEmployeeAddress" asp-route-id="@item.ID" asp-route-eid="@ViewBag.EmployeeId" onclick="return confirm('Are you sure you wish to delete this employee address?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>*@

        </div>

        <!-- /.container-fluid -->
    </div>

