﻿
@{
    ViewData["Title"] = "StudentStandardDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Models.StudentClassDetails>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Student" asp-controller="Layout">Student</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a  class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">StandardAddress</li>
        </ol>
    </nav>
    </div>


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Standard Details</h1>
        <div>
            <a asp-action="ViewStudentDetails" asp-controller="Student" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>
            <a asp-action="CreateOrEditStudentStandards" asp-controller="Student" asp-route-eid="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create</a>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Current Standard
                                    </th>
                                    <th>Standard</th>
                                    <th>Section</th>
                                    <th>Board</th>
                                    <th>Wing</th>
                                    <th>Organisation</th>

                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @((item.IsCurrent==true)?"Yes":"No")
                                            </td>
                                            <td>
                                                @(item.StandardName)
                                            </td>
                                            <td>
                                                @item.SectionName
                                            </td>
                                            <td>
                                                @item.BoardName
                                            </td>
                                            <td>
                                                @item.WingName
                                            </td>
                                            <td>
                                                @item.OrganizationName
                                            </td>
                                            <td>
                                                @item.ModifiedDate.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                <a asp-action="CreateOrEditStudentStandards" asp-route-id="@item.ID" asp-route-eid="@ViewBag.StudentId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                                <a asp-action="DeletestudentStandard" asp-route-id="@item.ID" asp-route-eid="@ViewBag.StudentId" onclick="return confirm('Are you sure you wish to delete this student class?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>

