﻿
@{
    ViewData["Title"] = "ViewAcademicStudentTimeTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Models.view_time_table_cls
    <link href="~/css/Rating.css" rel="stylesheet" />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Student" asp-controller="StudentTimeTable">Student Time Table</a></li>
        <li class="breadcrumb-item active" aria-current="page">Time Table Details</li>
    </ol>
</nav>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="h3 mb-0 text-gray-800">Time Table Details</h3>

</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Basic Details</h4>
        </div>
        <div class="card-body">
            <div class="row" style="font-size: 0.86rem;">
                <div class="col-md-2">
                    <b>Session :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Sessionname)</span>
                </div>
                <div class="col-md-2">
                    <b>Organisation :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Organisationname)</span>
                </div>
                <div class="col-md-2">
                    <b>Wing :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Wingname)</span>
                </div>
                <div class="col-md-2">
                    <b>Board :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Boardname)</span>
                </div>
                <div class="col-md-2">
                    <b>Class :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Standardname)</span>
                </div>
                <div class="col-md-2">
                    <b>Section :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model._Academic_Standard_With_Stream.Sectionname)</span>
                </div>
              
                <div class="col-md-2">
                    <b>Date :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model.date.ToString("dd-MM-yyyy"))</span>
                </div>
                <div class="col-md-2">
                    <b>Month :</b>
                </div>
                <div class="col-md-2">
                    <span>@(Model.date.ToString("MMMM"))</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="clearfix" style="margin-bottom:20px;"></div>
@*<div class="container-fluid">*@

@if (Model.timetable != null)
{
    <div class="row">

        <div class="card shadow" style="width:100%;">
            <div class="card-header">
                <h4>Time Table</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Subject
                            </th>
                            <th>
                                Teacher
                            </th>
                            <th>
                                Class Timing
                            </th>
                            <th>
                                Forwarded By
                            </th>
                            <th>
                                Syllabus Status
                            </th>

                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.timetable)
                        {
                            <tr>
                                <td>@a.SubjectName</td>
                                <td>@a.TeacherName</td>
                                <td>
                                    @a.classtime
                                </td>
                                <td>@a.ForwardedBy</td>
                                <td>
                                    @if (a.PeriodEmployeeStatusId != null)
                                    {
                                        <span class="text-gray-400">@(a.syllabusname + ", " + a.conceptname + ", " + a.chaptername)</span>
                                        @*<a class="pr-1" onclick="editchaptermodal(@a.PeriodEmployeeID,@a.SubjectId,@Model._Academic_Standard_With_Stream.AcademicSessionId,@a.AcademicChapterId,@a.AcademicConceptId,@a.AcademicSyllabusId,@a.Reason,@a.PeriodEmployeeStatusId)"><i class="fas fa-pen fa-sm text-red-50"></i>Update</a>*@
                                    }
                                    else if (a.AssignDate.Date <= DateTime.Now.Date)
                                    {
                                        <span>Not Updated</span>
                                    }
                                </td>
                                <td>
                                    <a class="pr-1" onclick="openmodal(@a.PeriodEmployeeID,@a.SubjectId,@Model._Academic_Standard_With_Stream.AcademicSessionId)"><i class="fas fa-pen fa-sm text-red-50"></i>Update</a>                                
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>





            </div>

        </div>
    </div>
}

@*</div>*@





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Time Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateTimeTable" enctype="multipart/form-data" method="post">
                    <input type="hidden" asp-for="AcademicSectionId" />
                    <input type="hidden" asp-for="AcademicStandardId" />
                    <input type="hidden" asp-for="AcademicStandardStreamId" />
                    <input type="hidden" asp-for="date" />
                    <input type="hidden" id="timetableid" name="timetableid" />


                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Rating
                        </div>
                        <div class="col-md-8">
                            <fieldset>
                                <span class="star-cb-group">
                                    <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                                    <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                                    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                                    <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                                    <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                                    <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                                </span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Feedback
                        </div>
                        <div class="col-md-8">
                            <textarea id="txtfeedback" name="txtfeedback" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$('#btncreatetimetable').click(function () {
        //    $('#myModal').modal('show');
        //    $('#ddlteacher').val('').trigger('change');
        //    $('#timetableid').val('0').trigger('change');
        //})

        $('#ddlchapter').change(function () {
            $.get('/Student/Getconcept', { academicchapterId: $('#ddlchapter').val() }, function (data) {
                $('#ddlconcept').empty();
                $('#ddlconcept').append('<option>Select Concept</option>');

                $.each(data, function (i, res) {
                    $('#ddlconcept').append('<option value="' + res.id + '">' + res.name + '</option>');
                })

            })
        })
        $('#ddlconcept').change(function () {
            $.get('/Student/GetSyllabus', { academicconceptId: $('#ddlconcept').val() }, function (data) {
                $('#ddlsyllabus').empty();
                $('#ddlsyllabus').append('<option>Select Syllabus</option>');

                $.each(data, function (i, res) {
                    $('#ddlsyllabus').append('<option value="' + res.id + '">' + res.name + '</option>');
                })

            })
        })
    })
    function checkvalidation() {
        if ($('#ddlchapter').val() == '') {
            $('#spanchapter').html('Select Chapter');
            return false;
        }
        else {
            $('#spanchapter').html('');
        }
        if ($('#ddlconcept').val() == '') {
            $('#spanconcept').html('Select Concept');
            return false;
        }
        else {
            $('#spanconcept').html('');
        }
        if ($('#ddlsyllabus').val() == '') {
            $('#spansyllabus').html('Select Syllabus');
            return false;
        }
        else {
            $('#spansyllabus').html('');
        }
        return true;
    }
    function openmodal(id, classid, subid, teacherid) {
        $('#myModal').modal('show');
        $('#ddlteacher').val(teacherid).trigger('change');
        $('#timetableid').val(id).trigger('change');
    }
    function openchaptermodal(PeriodEmployeeID, SubjectId, AcademicSessionId) {
        $('#mychapterModal').modal('show');
        $('#periodemployeeid').val(PeriodEmployeeID);
        $('#txtdesc').val('');
        $('#ddlchapter').val('').trigger('change');
        $('#ddlconcept').val('').trigger('change');
        $('#ddlsyllabus').val('').trigger('change');
        $.get('/Student/Getchapters', { subjectId: SubjectId, academicsessionId: AcademicSessionId }, function (data) {
            $('#ddlchapter').empty();
            $('#ddlchapter').append('<option>Select Chapter</option>');

            $.each(data, function (i, res) {
                $('#ddlchapter').append('<option value="' + res.id + '">' + res.name + '</option>');
            })

        })
    }
    function editchaptermodal(PeriodEmployeeID,SubjectId,AcademicSessionId,AcademicChapterId,AcademicConceptId,AcademicSyllabusId,Reason,PeriodEmployeeStatusId) {
         $('#mychapterModal').modal('show');
        $('#periodemployeeid').val(PeriodEmployeeID);
        $.get('/Student/Getchapters', { subjectId: SubjectId, academicsessionId: AcademicSessionId }, function (data) {
            $('#ddlchapter').empty();
            $('#ddlchapter').append('<option>Select Chapter</option>');

            $.each(data, function (i, res) {
                $('#ddlchapter').append('<option value="' + res.id + '">' + res.name + '</option>');
            })
            $('#ddlchapter').val(AcademicChapterId).trigger('change');
        })
         $.get('/Student/Getconcept', { academicchapterId: AcademicChapterId }, function (data) {
                $('#ddlconcept').empty();
                $('#ddlconcept').append('<option>Select Concept</option>');

                $.each(data, function (i, res) {
                    $('#ddlconcept').append('<option value="' + res.id + '">' + res.name + '</option>');
                })
             $('#ddlconcept').val(AcademicConceptId).trigger('change');
         })
        $.get('/Student/GetSyllabus', { academicconceptId: AcademicConceptId }, function (data) {
                $('#ddlsyllabus').empty();
                $('#ddlsyllabus').append('<option>Select Syllabus</option>');

                $.each(data, function (i, res) {
                    $('#ddlsyllabus').append('<option value="' + res.id + '">' + res.name + '</option>');
                })
             $('#ddlsyllabus').val(AcademicSyllabusId).trigger('change');
        })
        $('#txtdesc').val(Reason);
    }
</script>
