﻿
@{
    ViewData["Title"] = "AddOrEditSubjectOption";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.academicsubjectoptioncls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStudentOptionDetails" asp-controller="Student" asp-area="Student">Academic Student Optional Subject</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Optional Subject</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold"> Academic Student Details </h1>

            <div>
                <a id="btnpromoteto" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fa fa-forward"></i>&nbsp; Assign Optional Subject</a>


            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">

                    @for (var i = 0; i < Model.optioncategorycls.Count; i++)
                    {
                        <div class="form-group">
                            <label class="control-label font-weight-bold">@Model.optioncategorycls[i].Name</label>
                            <input type="hidden" asp-for="optioncategorycls[i].ID" />
                            <select id="@(Model.optioncategorycls[i].ID+"o")" class="form-control">
                                <option value="0">Select Option</option>
                                @if (Model.optioncategorycls[i].options.Count > 0)
                                {
                                    foreach (var item in Model.optioncategorycls[i].options)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="optioncategorycls[i].optionid" class="text-danger"></span>
                        </div>
                    }



                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <div class="row">
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    @*<div class="card shadow mb-4">*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table3" width="100%" cellspacing="0">
                                <thead>
                                    <tr>

                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Code</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Roll No</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Optional Subject</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Is Current</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.academicstudents != null)
                                    {
                                        foreach (var item in ViewBag.academicstudents)
                                        {
                                            <tr>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.studentcode)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.studentname)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.SessionName)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.RollNo)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.BoardName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.StandardName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.SectionName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.SubjectGroupName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.optionalSubject
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.IsAvailable == true ? "Yes" : "No")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*</div>*@

                </div>
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            @*<div class="form-group text-center">
                    <button type="button" id class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                </div>*@
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#btnpromoteto').click(function () {
            $('#divloader').fadeIn(300);
            var obj = JSON.parse('@Html.Raw(Json.Serialize(Model.optioncategorycls))');
            var students= JSON.parse('@Html.Raw(Json.Serialize(ViewBag.academicstudents))');
            for (j = 0; j < students.length; j++) {
                for (var i = 0; i < obj.length; i++) {
                    var academic = students[j].id;
                    var optioncategoryid = obj[i].id;
                    var optionid = $('#' + obj[i].id+'o').val();
                    $.post('/Student/Student/SaveorupdateAcademicStudentOptionalDetails', { academicstudentid: academic, academicoptionalid: optioncategoryid, academicoptionaldetailid: optionid }, function (data) {
                        if (data == 1) {}
                    })
                }
            }
            alert('Assigned Successfully');
            $('#divloader').fadeOut(300);
            window.location.href = '/Student/Student/AcademicStudentOptionDetails';
        })
    })
    </script>