﻿
@{
    ViewData["Title"] = "AddSubjectOption";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.academicsubjectoptioncls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentAcademicStandardDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Academic</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Optional Subject</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Academic Optional Subject</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveStudentOptionalDetails" method="post">
                        <input type="hidden" asp-for="AcademicStudentId" />
                        <input type="hidden" asp-for="StudentId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @for (var i = 0; i < Model.optioncategorycls.Count; i++)
                        {
                            <div class="form-group">
                                <label class="control-label font-weight-bold">@Model.optioncategorycls[i].Name</label>
                                <input type="hidden" asp-for="optioncategorycls[i].ID" />
                                <select asp-for="optioncategorycls[i].optionid" class="form-control">
                                    <option value="0">Select Option</option>
                                    @if (Model.optioncategorycls[i].options.Count > 0)
                                    {
                                        foreach (var item in Model.optioncategorycls[i].options)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="optioncategorycls[i].optionid" class="text-danger"></span>
                            </div>
                        }

                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
