﻿
@{
    ViewData["Title"] = "CreateOrEditAcademicStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.academicstudentmodelcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AcademicStudentDetails">Academic Student</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Student Details</li>
        </ol>
    </nav>
</div>


<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold"> Academic Student Details </h1>

                <div>
                    <a id="btnpromoteto" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fa fa-forward"></i>&nbsp; Promote</a>


                </div>
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label>
                                <select asp-for="AcademicSessionId" id="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control"></select>
                                <span asp-validation-for="AcademicSessionId" class="text-danger"></span>
                            </div>

                            <div class="col-md-4 form-group">
                                <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label>
                                <select asp-for="OraganisationAcademicId" class="form-control"></select>
                                <span asp-validation-for="OraganisationAcademicId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="BoardId" class="control-label font-weight-bold">Board</label>
                                <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control"></select>
                                <span asp-validation-for="BoardId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label>
                                <select asp-for="AcademicStandardId" class="form-control"></select>
                                <span asp-validation-for="AcademicStandardId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label>
                                <select asp-for="AcademicSectionId" class="form-control"></select>
                                <span asp-validation-for="AcademicSectionId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label asp-for="AcademicSubjectWingId" class="control-label font-weight-bold">Wing</label>
                                <select asp-for="AcademicSubjectWingId" class="form-control"></select>
                                <span asp-validation-for="AcademicSubjectWingId" class="text-danger"></span>
                            </div>

                            <div class="col-md-4 form-group">
                                <label asp-for="AcademicSubjectGroupId" class="control-label font-weight-bold">Subject Group</label>
                                <select asp-for="AcademicSubjectGroupId" class="form-control"></select>
                                <span asp-validation-for="AcademicSubjectGroupId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;">

                        </div>

                    </div>
                </div>
            </div>

            <!-- Content Row -->
            <div class="row">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    @*<div class="card shadow mb-4">*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table3" width="100%" cellspacing="0">
                                <thead>
                                    <tr>

                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Code</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Roll No</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Optional Subject</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Is Current</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.students != null)
                                    {
                                        foreach (var item in Model.students)
                                        {
                                            <tr>

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.studentcode)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.studentname)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.SessionName)
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    <input type="text" name="rollno" class="form-control" value="@(item.RollNo)" />
                                                    <input type="hidden" value="@item.StudentId" name="studentid" />
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.BoardName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.StandardName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.SectionName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.SubjectGroupName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.optionalSubject
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @(item.IsAvailable == true ? "Yes" : "No")
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*</div>*@

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
     
        $('#btnpromoteto').click(function () {
            $('#divloader').fadeIn(300);
            if ($('#AcademicSessionId').val() == '0') {
                alert('Select Session');
                $('#divloader').fadeOut(300);
                return false;
            }
              if ($('#OraganisationAcademicId').val() == '0') {
                alert('Select Organisation');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#AcademicStandardId').val() == '0') {
                alert('Select Standard');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#AcademicSectionId').val() == '0') {
                alert('Select Section');
                $('#divloader').fadeOut(300);
                return false;
            }
            if ($('#AcademicSubjectWingId').val() == '0') {
                alert('Select Wing');
                $('#divloader').fadeOut(300);
                return false;
            }
             $('#table3 tr').each(function() {
                 var rollno = $(this).find("input[type=text]").val();
                 var studentid = $(this).find("input[type=hidden]").val();
                 var obj = {
                     AcademicSessionId: $('#AcademicSessionId').val(),
                     OraganisationAcademicId : $('#OraganisationAcademicId').val(),
                     BoardId : $('#BoardId').val(),
                     AcademicStandardId : $('#AcademicStandardId').val(),
                     AcademicSectionId : $('#AcademicSectionId').val(),
                     AcademicSubjectGroupId : $('#AcademicSubjectGroupId').val(),
                     AcademicSubjectWingId : $('#AcademicSubjectWingId').val(),
                     StudentId : studentid,
                     Studentcode : rollno
                 }
                 $.post('/Student/Student/SaveOrUpdateAcademicStudent', obj, function (data) {
                     if (data == 1) {

                     }
                 })
       
             });
            alert('Promote Successfully');
             $('#divloader').fadeOut(300);
            window.location.href = '/Student/Student/AcademicStudentDetails';
        })






        var sessionid = '@(Model.AcademicSessionId!=null?Model.AcademicSessionId:0)';
        var sectionid = '@(Model.AcademicSectionId!=null?Model.AcademicSectionId:0)';
        var standardid = '@(Model.AcademicStandardId!=null?Model.AcademicStandardId:0)';
        var subjectgroupid = '@(Model.AcademicSubjectGroupId!=null?Model.AcademicSubjectGroupId:0)';
        var standardwingid = '@(Model.AcademicSubjectWingId!=null?Model.AcademicSubjectWingId:0)';
        var boardid = '@(Model.BoardId!=null?Model.BoardId:0)';
        var orgacdid = '@(Model.OraganisationAcademicId!=null?Model.OraganisationAcademicId:0)';

        if (sessionid != '0') { $('#AcademicSessionId').val(sessionid); }
        if (sessionid != '0') {
            getorganisation(sessionid);
        }
        if (boardid != '') {
            $('#BoardId').val(boardid);
           
        }
        if (standardid != '0') {
            Getstandards(boardid, orgacdid, sessionid)
            Getwingandsubjectgroup(standardid);
        }
        //if (catg != '') {

            //subjectoptioncategory(catg.academicStandardID, catg.academicStandardWingID, catg.academicSubjectGroupID);
            //Getoptionalsubjects(catg.subjectOptionalCategoryID);
        //}
            $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgacdid != 0) { $('#OraganisationAcademicId').val(orgacdid); }
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(),$('#OraganisationAcademicId').val(),$('#AcademicSessionId').val());
        });
        function Getstandards(id,orgid,sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId:sessionid  }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                         if (standardid != 0) {
                        $("#AcademicStandardId").val(standardid);
                    }
                    }
                });
            }
        }
        function Getwingandsubjectgroup(id) {
            if (id != 0) {
               $('#AcademicSubjectWingId').empty();
            $.get('/School/GetAcademicWing', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectWingId").append('<option value="0">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (standardwingid != 0) {
                        $("#AcademicSubjectWingId").val(standardwingid);
                    }
                }
            });
            $('#AcademicSubjectGroupId').empty();
            $.get('/School/GetAcademicSubjectGroup', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectGroupId").append('<option value="0">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectGroupId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (subjectgroupid != 0) {
                        $("#AcademicSubjectGroupId").val(subjectgroupid);
                    }
                }
            });
                $('#AcademicSectionId').empty();
            $.get('/School/GetAcademicsection', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value="0">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (sectionid != 0) {
                        $("#AcademicSectionId").val(sectionid);
                    }
                }
            });
            //subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
            }
        }
        $('#AcademicStandardId').change(function () {
            Getwingandsubjectgroup($('#AcademicStandardId').val());
        });
        //$('#AcademicSubjectWingId').change(function () {
        //    subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        //})
        //$('#AcademicSubjectGroupId').change(function () {
        //    subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        //})
        //function subjectoptioncategory(AcademicStandardId, AcademicWingId, AcademicSubjectGroupId) {
        //    $('#subjectcategoryids').empty();
        //    $.get('/School/GetAcademicSubjectOption', { AcademicStandardId: AcademicStandardId, AcademicWingId: AcademicWingId, AcademicSubjectGroupId: AcademicSubjectGroupId }, function (data) {
        //        if (data.length > 0) {
        //            $("#subjectcategoryids").append('<option value="0">Select Type</option>');
        //            $.each(data, function (i, item) {

        //                $("#subjectcategoryids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //            if (catg != '') {
        //                $("#subjectcategoryids").val(catg.subjectOptionalCategoryID);
        //            }
        //        }
        //    });
        //}
        //$("#subjectcategoryids").change(function () {
        //    Getoptionalsubjects($("#subjectcategoryids").val());
        //})
        //  function Getoptionalsubjects(id) {
        //    if (id != 0) {
        //        $('#subjectoptionids').empty();
        //    $.get('/School/GetSubjectoptions', { subjectcategoryid: id }, function (data) {
        //        if (data.length > 0) {
        //            $("#subjectoptionids").append('<option value="0">Select Option</option>');
        //            $.each(data, function (i, item) {

        //                $("#subjectoptionids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //             if (catgdet != '') {
        //                    $("#subjectoptionids").val(catgdet).trigger();
        //                }
        //        }
        //    });
        //    }
        //}
    });
</script>
