﻿
@{
    ViewData["Title"] = "CreateOrEditStudentTransportation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Student.Models.studenttransportcls
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentID">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentTransportationDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentID">Transportation Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Transportation</li>
        </ol>
    </nav>
</div>

@*<div class="card">
        <div class="card-header">
            <h6>Parent Details</h6>
        </div>

    </div>*@

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Transportation Details</h1>

                <div>
                    <a asp-action="StudentTransportationDetails" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                </div>
            </div>

            <div class="row">

                <div class="container-fluid">
                    <div class="card-body">
                        <form asp-action="SaveOrUpdateStudentTransportation" class="row" enctype="multipart/form-data">

                            <div class="col-md-12">

                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="StudentID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="form-group">
                                        <input asp-for="IsTransport" type="checkbox" />
                                        <label asp-for="IsTransport" class="control-label">Is Transportation Required</label>

                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row" id="divtransport">

                                    <div class="col-md-4">
                                        <label asp-for="CountryID" class="control-label">Country</label>
                                        <select class="form-control" asp-for="CountryID">
                                            <option value="0">Select Country</option>
                                            @foreach (var item in ViewBag.countries)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </select>
                                        <span id="spanCountryID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="StateID" class="control-label">State</label>
                                        <select class="form-control" asp-for="StateID"></select>
                                        <span id="spanStateID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="CityID" class="control-label">City</label>
                                        <select class="form-control" asp-for="CityID"></select>
                                        <span id="spanCityID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LocationID" class="control-label">Location</label>
                                        <select class="form-control" asp-for="LocationID"></select>
                                        <span id="spanLocationID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Distance" class="control-label">Distance(In Km)</label>
                                        <input class="form-control" asp-for="Distance" />
                                        <span id="spanDistance" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="DepartureID" class="control-label">Departure</label>
                                        <select class="form-control" asp-for="DepartureID"></select>
                                        <span id="spanDepartureID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="form-group text-center">
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var country = '@(Model.CountryID==0?0:Model.CountryID)';
        var state = '@(Model.StateID==0?0:Model.StateID)';
        var city = '@(Model.CityID==0?0:Model.CityID)';
        var location = '@(Model.LocationID==0?0:Model.LocationID)';
        var departure = '@(Model.DepartureID==0?0:Model.DepartureID)';
        getstate(country);
        getcity(state);
        getlocation(city);
        getdeparture(location);
        var istransport = '@Model.IsTransport';
        if (istransport == 'True') {
              $('#divtransport *').prop("disabled", false);
              }
        else {
            $('#CountryID').val('0');
            $('#StateID').val('0');
            $('#CityID').val('0');
            $('#LocationID').val('0');
            $('#DepartureID').val('0');

                   $('#divtransport *').prop("disabled", true);
              }
          $('#IsTransport').change(function() {
              if (this.checked) {
                  $('#divtransport *').prop("disabled", false);
              }
              else {
                   $('#CountryID').val('0');
            $('#StateID').val('0');
            $('#CityID').val('0');
            $('#LocationID').val('0');
            $('#DepartureID').val('0');
                   $('#divtransport *').prop("disabled", true);
              }
    });


        $('#CountryID').change(function () {
            getstate($('#CountryID').val());
        })
        function getstate(id) {
            if (id != 0) {
                debugger;
                $.get('/Student/Student/GetStateByCountryId', { id: id }, function (data) {
                    $('#StateID').empty();
                    if (data.length > 0) {
                        $("#StateID").append('<option value="0">Select State</option>');
                        $.each(data, function (i, item) {
                            $("#StateID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (state != 0) {
                            $("#StateID").val(state);
                        }
                    }
                })
            }
        }
        $('#StateID').change(function () {
            getcity($('#StateID').val());
        })
        function getcity(id) {
            if (id != 0) {

                debugger;
                $.get('/Student/Student/GetCityByStateId', { id: id }, function (data) {
                    $('#CityID').empty();
                    if (data.length > 0) {
                        $("#CityID").append('<option value="0">Select City</option>');
                        $.each(data, function (i, item) {
                            $("#CityID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (city != 0) {
                            $("#CityID").val(city);
                        }
                    }
                })

            }
        }
        function getlocation(id) {
            if (id != 0) {

                debugger;
                $.get('/Student/Student/GetLocations', { cityid: id }, function (data) {
                    $('#LocationID').empty();
                    if (data.length > 0) {
                        $("#LocationID").append('<option value="0">Select Location</option>');
                        $.each(data, function (i, item) {
                            $("#LocationID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (location != 0) {
                            $("#LocationID").val(location);
                        }
                    }
                })

            }
        }
        $('#CityID').change(function () {
            getlocation($('#CityID').val());
        })
        $('#LocationID').change(function () {
            getdeparture($('#LocationID').val());
        })

        function getdeparture(id) {
            if (id != 0) {

                debugger;
                $.get('/Student/Student/GetDeparture', { locationid: id }, function (data) {
                    $('#DepartureID').empty();
                    if (data.length > 0) {
                        $("#DepartureID").append('<option value="0">Select Departure</option>');
                        $.each(data, function (i, item) {
                            $("#DepartureID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (departure != 0) {
                            $("#DepartureID").val(departure);
                        }
                    }
                })

            }
        }
    })
</script>
