﻿
@{
    ViewData["Title"] = "CreateOrEditStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OdmErp.Web.Areas.Student.Models.StudentModelClass


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>



<div class="card">
    <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
        <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Student Profile</h1>
        @*<div>
            <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
               data-toggle="modal" data-target="#myModalParent"><i class="fas fa-arrow-circle-up"></i> &nbsp; Parent Upload Excel</a>
             </div>*@
    </div>

    <div class="card-body">
        <form class="row" data_ajax="false" asp-action="SaveOrUpdateStudentProfile" enctype="multipart/form-data" id="validation-form">
            <div class="col-md-3">
                <div class="text-center">
                    <img id="profileimage" src="@(ViewBag.Profileimage!=null?ViewBag.Profileimage: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%; width: 120px; height: 120px;">
                    <h6>Upload Profile Photo...</h6>
                    <input type="file" id="file" name="file" class="text-center center-block file-upload" accept=".jpg,.jpeg,.png,.gif">
                </div></hr><br>
            </div>
            <div class="col-md-9">

                <input type="hidden" asp-for="ID" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="StudentCode" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="StudentCode" class="form-control" />
                        <span id="ValidateStudentCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="FirstName" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="FirstName" class="form-control" />
                        <span id="ValidateFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span id="ValidateMiddleName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="LastName" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="LastName" class="form-control" />
                        <span id="ValidateLastName" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label><span class="text-danger">*</span>
                        <input type="date" asp-for="DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        <span id="ValidateDateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="AadharNO" class="control-label"></label>
                        <input asp-for="AadharNO" class="form-control" maxlength="12"/>
                        <span id="ValidateAadharNO" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="PassportNO" class="control-label"></label>
                        <input asp-for="PassportNO" class="form-control" />
                        <span id="ValidatePassportNO" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="EmailID" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="EmailID" class="form-control" />
                        <span id="ValidateEmailID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="ZoomMailID" class="control-label"></label>
                        <input asp-for="ZoomMailID" class="form-control" />
                        <span id="ValidateZoomMailID" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="PrimaryMobile" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="PrimaryMobile" class="form-control" maxlength="10" />
                        <span id="ValidatePrimaryMobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="WhatsappMobile" class="control-label"></label><span class="text-danger">*</span>
                        <input asp-for="WhatsappMobile" class="form-control" maxlength="10" />
                        <span id="ValidateWhatsappMobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="MotherTongueID" class="control-label"></label>
                        <select asp-for="MotherTongueID" class="form-control">
                            <option value="0">Select Mother Tongue</option>
                            @if (Model.languages != null)
                            {
                                foreach (var item in Model.languages)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }

                        </select>
                        <span id="ValidateMotherTongueID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="languagesknown" class="control-label"></label>
                        <select asp-for="languagesknown" multiple class="form-control">
                            <option value="">Select Languages Known</option>
                            @if (Model.languages != null)
                            {
                                foreach (var item in Model.languages)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }

                        </select>
                        <span id="Validatelanguagesknown" class="text-danger"></span>
                    </div>


                    <div class="col-md-4 form-group">
                        <label asp-for="BloodGroupID" class="control-label"></label><span class="text-danger">*</span>
                        <select asp-for="BloodGroupID" class="form-control">
                            <option value="0">Select Blood Group</option>
                            @if (Model.bloodGroups != null)
                            {
                                foreach (var item in Model.bloodGroups)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }

                        </select>
                        <span id="ValidateBloodGroupID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="CategoryID" class="control-label"></label>
                        <select asp-for="CategoryID" class="form-control">
                            <option value="0">Select Category</option>
                            @if (Model.categoryTypes != null)
                            {
                                foreach (var item in Model.categoryTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span id="ValidateCategoryID" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="NatiobalityID" class="control-label"></label>
                        <select asp-for="NatiobalityID" class="form-control">
                            <option value="">Select Nationality</option>
                            @if (Model.nationalityTypes != null)
                            {
                                foreach (var item in Model.nationalityTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span id="ValidateNatiobalityID" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="Gender" class="control-label"></label><span class="text-danger">*</span>
                        <select asp-for="Gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span id="ValidateGender" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="ReligionID" class="control-label"></label>
                        <select asp-for="ReligionID" class="form-control">
                            <option value="">Select Religion</option>
                            @if (Model.religionTypes != null)
                            {
                                foreach (var item in Model.religionTypes)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                        <span id="ValidateReligionID" class="text-danger"></span>
                    </div>

                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>


                <div class="form-group">
                    <div><h5>Required Documents</h5></div>
                    <div class="row">
                        @if (Model.documentTypesCls != null)
                        {
                            for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                            {
                                <div class="col-md-3">

                                    <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                    <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                    <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                    <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="form-group text-center" style="margin-top:2rem;">
                    <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="fas fa-arrow-circle-left" style="margin-right:.2rem;"></i> Back To List</a>
                    <button type="submit" id="btnsubmit" class="d-none d-sm-inline-block btn btn-sm btn-success"><i class="fas fa-check-circle" style="margin-right:.2rem;"></i> @ViewBag.status</button>
                </div>


            </div>
        </form>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var dob = $('#DateOfBirth').val();
        if (dob == '0001-01-01') {
            $('#DateOfBirth').val('');
        }
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
       
        $("#file").change(function () {
            readURL1(this);
        });
        $('#AadharNO').change(function () {
            var res = IsMobileNumber($('#AadharNO').val());
            if (res == false) {
                $('#AadharNO').val('');
                $('#ValidateAadharNO').html('Enter Valid Aadhar Number');
            }
            else {
                $('#ValidateAadharNO').html('');
            }
        })
        $('#PrimaryMobile').change(function () {
            var res = IsMobileNumber($('#PrimaryMobile').val());
            if (res == false) {
                $('#PrimaryMobile').val('');
                $('#ValidatePrimaryMobile').html('Enter Valid Primary Mobile');
            }
            else {
                $('#ValidatePrimaryMobile').html('');
            }
        })
        $('#WhatsappMobile').change(function () {
            var res = IsMobileNumber($('#WhatsappMobile').val());
            if (res == false) {
                $('#WhatsappMobile').val('');
                $('#ValidateWhatsappMobile').html('Enter Valid Whatsapp Mobile');
            }
            else {
                $('#ValidateWhatsappMobile').html('');
            }
        })
        $('#ZoomMailID').change(function () {
            var res=isEmail($('#ZoomMailID').val());
            if (res == false) {
                $('#ZoomMailID').val('');
                $('#ValidateZoomMailID').html('Enter valid Mail ID');
            }
            else {
                $('#ValidateZoomMailID').html('');
            }
        })
        $('#EmailID').change(function () {
            var res = isEmail($('#EmailID').val());
            if (res == false) {
                $('#EmailID').val('');
                $('#ValidateEmailID').html('Enter valid Mail ID');
            }
            else {
                $('#ValidateEmailID').html('');
            }
        })

        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#StudentCode').val() == '') {
                $('#ValidateStudentCode').html('Enter Student Code');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateStudentCode').html('');
            }
            if ($('#FirstName').val() == '') {
                $('#ValidateFirstName').html('Enter First Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateFirstName').html('');
            }
            if ($('#LastName').val() == '') {
                $('#ValidateLastName').html('Enter Last Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateLastName').html('');
            }
            if ($('#DateOfBirth').val() == '') {
                $('#ValidateDateOfBirth').html('Enter Date Of Birth');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateDateOfBirth').html('');
            }
            if ($('#AadharNO').val() != '') {
                if ($('#AadharNO').val().length > 12) {
                    $('#ValidateAadharNO').html('Aadhar Number Must Be 12 digits');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateAadharNO').html('');
                }
            }
            //if ($('#PassportNO').val() == '') {
            //    $('#ValidatePassportNO').html('Enter Passport Number');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidatePassportNO').html('');
            //}
            if ($('#EmailID').val() == '') {
                $('#ValidateEmailID').html('Enter Email ID');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateEmailID').html('');
            }
            //if ($('#ZoomMailID').val() == '') {
            //    $('#ValidateZoomMailID').html('Enter Zoom Mail ID');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidateZoomMailID').html('');
            //}
            if ($('#PrimaryMobile').val() == '') {
                $('#ValidatePrimaryMobile').html('Enter Primary Mobile');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                if ($('#PrimaryMobile').val().length < 10) {
                    $('#ValidatePrimaryMobile').html('Enter a Valid Primary Mobile');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidatePrimaryMobile').html('');
                }
            }

            if ($('#WhatsappMobile').val() == '') {
                $('#ValidateWhatsappMobile').html('Enter Whatsapp Mobile Number');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                if ($('#WhatsappMobile').val().length < 10) {
                    $('#ValidateWhatsappMobile').html('Enter a Valid Whatsapp Mobile Number');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateWhatsappMobile').html('');
                }
            }
            //if ($('#MotherTongueID').val() == '0') {
            //    $('#ValidateMotherTongueID').html('Select Mother Tongue');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidateMotherTongueID').html('');
            //}
            if ($('#BloodGroupID').val() == '0') {
                $('#ValidateBloodGroupID').html('Select Blood Group');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateBloodGroupID').html('');
            }
            //if ($('#CategoryID').val() == '0') {
            //    $('#ValidateCategoryID').html('Select Category');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidateCategoryID').html('');
            //}
            //if ($('#NatiobalityID').val() == '0') {
            //    $('#ValidateNatiobalityID').html('Select Natiobality');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidateNatiobalityID').html('');
            //}
            if ($('#Gender').val() == '') {
                $('#ValidateGender').html('Select Gender');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateGender').html('');
            }
            //if ($('#ReligionID').val() == '') {
            //    $('#ValidateReligionID').html('Select Religion');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidateReligionID').html('');
            //}
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 3) {
                        // Do something useful with the data:
                        var message = "School Code Already Exists";
                        alert(message);
                        return false;
                    }
                    else if (resp.sts == 0) {
                        var message = "Some Error Occured";
                        alert(message);
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Updated Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/ViewStudentDetails?id=' + resp.id;
                    }
                    else if (resp.sts == 3) {
                        // Do something useful with the data:
                        var message = "School Code Already Exists";
                        alert(message);
                        return false;
                    }
                    else if (resp.sts == 0) {
                        var message = "Some Error Occured";
                        alert(message);
                        return false;
                    }
                }

            })
        })


    })
</script>

