﻿
@{
    ViewData["Title"] = "CreateOrEditStudentAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.StudentAdressCls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentAddressDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Address</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
    </div>
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <span style="font-size:1.20rem;font-weight:500;">@ViewBag.status</span>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <form asp-action="SaveOrUpdateStudentAddress" id="validation-form">

                            <input type="hidden" name="ID" value="@Model.ID" />
                            <input type="hidden" name="StudentAddressId" value="@Model.StudentAddressId" />
                            <input type="hidden" name="AddressTypeID" value="@Model.AddressTypeID" />
                            <input type="hidden" name="StudentId" value="@Model.StudentId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                           
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="CountryID" class="control-label"></label><span class="text-danger">*</span>
                                    <select asp-for="CountryID" class="form-control">
                                        <option value="0">Select Country</option>
                                        @if (Model.countries != null)
                                        {
                                            foreach (var item in Model.countries)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span id="ValidateCountryID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="StateID" class="control-label"></label><span class="text-danger">*</span>
                                    <select asp-for="StateID" class="form-control">
                                        <option value="0">Select State</option>
                                        @if (Model.states != null)
                                        {
                                            foreach (var item in Model.states)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span id="ValidateStateID" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="CityID" class="control-label"></label><span class="text-danger">*</span>
                                    <select asp-for="CityID" class="form-control">
                                        <option value="0">Select City</option>
                                        @if (Model.cities != null)
                                        {
                                            foreach (var item in Model.cities)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        }
                                    </select>
                                    <span id="ValidateCityID" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="PostalCode" class="control-label"></label><span class="text-danger">*</span>
                                    <input asp-for="PostalCode" class="form-control" maxlength="6" />
                                    <span id="ValidatePostalCode" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="AddressLine1" class="control-label"></label><span class="text-danger">*</span>
                                    <input asp-for="AddressLine1" class="form-control" />
                                    <span id="ValidateAddressLine1" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label asp-for="AddressLine2" class="control-label"></label><span class="text-danger">*</span>
                                    <input asp-for="AddressLine2" class="form-control" />
                                    <span id="ValidateAddressLine2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="clearfix" style="margin-bottom:10px;"></div>
                            <div class="form-group text-center">
                                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#CountryID').change(function () {
                debugger;
                $.get('/Student/Student/GetStateByCountryId', { id: $('#CountryID').val() }, function (data) {
                    $('#StateID').empty();
                    if (data.length > 0) {
                        $("#StateID").append('<option value="0">Select State</option>');
                        $.each(data, function (i, item) {
                            $("#StateID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            })

            $('#StateID').change(function () {
                debugger;
                $.get('/Student/Student/GetCityByStateId', { id: $('#StateID').val() }, function (data) {
                    $('#CityID').empty();
                    if (data.length > 0) {
                        $("#CityID").append('<option value="0">Select City</option>');
                        $.each(data, function (i, item) {
                            $("#CityID").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                })
            })

            $("#validation-form").on("submit", function (event) {
                $('#divloader').fadeIn(300);
                event.preventDefault();
                if ($('#CountryID').val() == '0') {
                    $('#ValidateCountryID').html('Select Country');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateCountryID').html('');
                }
                if ($('#StateID').val() == '0') {
                    $('#ValidateStateID').html('Select State');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateStateID').html('');
                }
                if ($('#CityID').val() == '') {
                    $('#ValidateCityID').html('Select City');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateCityID').html('');
                }
                if ($('#PostalCode').val() == '') {
                    $('#ValidatePostalCode').html('Enter Postal Code');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidatePostalCode').html('');
                }
                if ($('#PostalCode').val() != '') {
                    if ($('#PostalCode').val().length > 6) {
                        $('#ValidatePostalCode').html('Postal Code Must Be 6 digits');
                        $('#divloader').fadeOut(300);
                        return false;
                    }
                    else {
                        $('#ValidatePostalCode').html('');
                    }
                }
                //if ($('#PassportNO').val() == '') {
                //    $('#ValidatePassportNO').html('Enter Passport Number');
                //    $('#divloader').fadeOut(300);
                //    return false;
                //}
                //else {
                //    $('#ValidatePassportNO').html('');
                //}
                if ($('#AddressLine1').val() == '') {
                    $('#ValidateAddressLine1').html('Enter Address Line 1');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateAddressLine1').html('');
                }
                if ($('#AddressLine2').val() == '') {
                    $('#ValidateAddressLine2').html('Enter Address Line 2');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidateAddressLine2').html('');
                }


                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").fadeOut(300);
                        if (resp == 1) {
                            // Do something useful with the data:
                            var message = "Saved Successfully";
                            alert(message);
                            window.location.href = '/Student/Student/StudentAddressDetails?id=' + '@Model.StudentId';
                        }
                        else {
                            var message = "Not Saved";
                            alert(message);
                            return false;
                        }
                    },
                    error: function (resp) {

                        $("#divloader").fadeOut(300);
                        if (resp == 1) {
                            // Do something useful with the data:
                            var message = "Saved Successfully";
                            alert(message);
                            window.location.href = '/Student/Student/StudentAddressDetails?id=' + '@Model.StudentId';
                        }
                        else {
                            var message = "Not Saved";
                            alert(message);
                            return false;
                        }
                    }

                })
            })
        })
    </script>

