﻿
@{
    ViewData["Title"] = "CreateOrEditStudentEmergencyContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.ApplicationCore.Entities.StudentAggregate.StudentEmergencyContact
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentEmergencyContactDetails" asp-controller="Student" asp-area="Student" asp-route-id="@ViewBag.StudentId">Emergency Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">CreateEmergencyDetails</li>
        </ol>
    </nav>
</div>

@*<div class="card">
        <div class="card-header">
            <h6>Parent Details</h6>
        </div>

    </div>*@

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Emergency Contact Details</h1>

                <div>
                    <a asp-action="StudentEmergencyContactDetails" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                </div>
            </div>

            <div class="row">

                <div class="container-fluid">
                    <div class="card-body">
                        <form asp-action="SaveOrUpdateStudentEmergencyContact" class="row" enctype="multipart/form-data" id="validation-form">

                            <div class="col-md-12">

                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="StudentID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ContactPersonName" class="control-label">Person Name</label><span class="text-danger">*</span>
                                        <input asp-for="ContactPersonName" class="form-control" />
                                        <span id="ValidateContactPersonName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Mobile" class="control-label">Mobile</label><span class="text-danger">*</span>
                                        <input asp-for="Mobile" class="form-control" />
                                        <span id="ValidateMobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="EmailId" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="EmailId" class="form-control" />
                                        <span id="ValidateEmailId" class="text-danger"></span>
                                    </div>
                                </div>


                                @*<div class="form-group">
                                        <div><h5>Required Documents</h5></div>
                                        <div class="row">
                                            @if (Model.documentTypesCls != null)
                                            {
                                                for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                                {
                                                    <div class="col-md-4">

                                                        <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                                        <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>*@
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="form-group text-center">
                                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
       
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#ContactPersonName').val() == '') {
                $('#ValidateContactPersonName').html('Enter Contact Person Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateContactPersonName').html('');
            }
            if ($('#Mobile').val() == '') {
                $('#ValidateMobile').html('Enter Mobile');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateMobile').html('');
            }
            if ($('#EmailId').val() == '') {
                $('#ValidateEmailId').html('Enter EmailId');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateEmailId').html('');
            }
           
            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentEmergencyContactDetails?id=' + '@Model.StudentID';
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentEmergencyContactDetails?id=' + '@Model.StudentID';
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                }

            })
        })
    })
</script>