﻿
@{
    ViewData["Title"] = "CreateOrEditStudentParents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.StudentParentsCls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li> 
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">StudentList</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentID">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentParentsDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentID">ParentDetails</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">CreateParentDetails</li>
        </ol>
    </nav>
</div> 

@*<div class="card">
        <div class="card-header">
            <h6>Parent Details</h6>
        </div>

    </div>*@

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Parent Details</h1>

                <div>
                    <a asp-action="StudentParentsDetails" asp-route-id="@Model.StudentID" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>

                </div>
            </div>

            <div class="row">

                <div class="container-fluid">
                    <div class="card-body">
                        <form asp-action="SaveOrUpdateStudentParents" class="row" enctype="multipart/form-data" id="validation-form">
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img id="profileimage" src="@(Model.Imagepath!=null?Model.Imagepath: "http://ssl.gstatic.com/accounts/ui/avatar_2x.png")" class="img-circle img-thumbnail" alt="avatar" style="border-radius: 50%;height:120px;width:120px;">
                                    <h6>Upload Profile Photo...</h6>
                                    <input type="file" id="file" name="file" class="text-center center-block file-upload" accept=".jpg,.jpeg,.png,.gif">
                                </div></hr><br>
                            </div>
                            <div class="col-md-9">

                                <input type="hidden" asp-for="ID" />
                                <input type="hidden" asp-for="StudentID" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="FirstName" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span id="ValidateFirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="MiddleName" class="control-label"></label>
                                        <input asp-for="MiddleName" class="form-control" />
                                        <span id="ValidateMiddleName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LastName" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="LastName" class="form-control" />
                                        <span id="ValidateLastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="PrimaryMobile" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="PrimaryMobile" class="form-control" maxlength="10" />
                                        <span id="ValidatePrimaryMobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="AlternativeMobile" class="control-label"></label>
                                        <input asp-for="AlternativeMobile" class="form-control" maxlength="10" />
                                        <span id="ValidateAlternativeMobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="LandlineNumber" class="control-label"></label>
                                        <input asp-for="LandlineNumber" class="form-control" maxlength="16" />
                                        <span id="ValidateLandlineNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="EmailId" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="EmailId" class="form-control" />
                                        <span id="ValidateEmailId" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ProfessionTypeID" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="ProfessionTypeID" class="form-control">
                                            <option value="">Select Profession Type</option>
                                            @if (Model.ProfessionTypes != null)
                                            {
                                                foreach (var item in Model.ProfessionTypes)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }

                                        </select>
                                        <span id="ValidateProfessionTypeID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="ParentOrganization" class="control-label">Organization</label><span class="text-danger">*</span>
                                        <input asp-for="ParentOrganization" class="form-control" />
                                        <span id="ValidateParentOrganization" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="ParentRelationshipID" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="ParentRelationshipID" class="form-control">
                                            <option value="">Select Parent Relationship</option>
                                            @if (Model.ParentRelationships != null)
                                            {
                                                foreach (var item in Model.ParentRelationships)
                                                {
                                                    <option value="@item.ID">@item.Name</option>
                                                }
                                            }
                                        </select>
                                        <span id="ValidateParentRelationshipID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>


                                @*<div class="form-group">
                                        <div><h5>Required Documents</h5></div>
                                        <div class="row">
                                            @if (Model.documentTypesCls != null)
                                            {
                                                for (Int32 i = 0; i < Model.documentTypesCls.Count(); i++)
                                                {
                                                    <div class="col-md-4">

                                                        <label asp-for="documentTypesCls[i].ID"><input asp-for="documentTypesCls[i].IsRequired" type="checkbox" />&nbsp;&nbsp; @Model.documentTypesCls[i].Name</label>
                                                        <input asp-for="documentTypesCls[i].ID" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].Name" type="hidden" />
                                                        <input asp-for="documentTypesCls[i].TypeId" type="hidden" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>*@
                                <div class="form-group text-center">
                                   <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-save fa-sm text-white-50"></i> @ViewBag.status</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#profileimage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#file").change(function () {
            readURL1(this);
        });
        $('#PrimaryMobile').change(function () {
            var res = IsMobileNumber($('#PrimaryMobile').val());
            if (res == false) {
                $('#PrimaryMobile').val('');
                $('#ValidatePrimaryMobile').html('Enter Valid Primary Mobile');
            }
            else {
                $('#ValidatePrimaryMobile').html('');
            }
        })
        $('#AlternativeMobile').change(function () {
            var res = IsMobileNumber($('#AlternativeMobile').val());
            if (res == false) {
                $('#AlternativeMobile').val('');
                $('#ValidateAlternativeMobile').html('Enter Valid Alternative Mobile');
            }
            else {
                $('#ValidateAlternativeMobile').html('');
            }
        })
        $('#LandlineNumber').change(function () {
            var res = IsMobileNumber($('#LandlineNumber').val());
            if (res == false) {
                $('#LandlineNumber').val('');
                $('#ValidateLandlineNumber').html('Enter Valid Landline Mobile');
            }
            else {
                $('#ValidateLandlineNumber').html('');
            }
        })
        
        $('#EmailId').change(function () {
            var res = isEmail($('#EmailId').val());
            if (res == false) {
                $('#EmailId').val('');
                $('#ValidateEmailId').html('Enter valid EmailId');
            }
            else {
                $('#ValidateEmailId').html('');
            }
        })
        $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
            if ($('#FirstName').val() == '') {
                $('#ValidateFirstName').html('Enter First Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateFirstName').html('');
            }
            if ($('#LastName').val() == '') {
                $('#ValidateLastName').html('Enter Last Name');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateLastName').html('');
            }
            if ($('#PrimaryMobile').val() == '') {
                $('#ValidatePrimaryMobile').html('Enter Primary Mobile');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidatePrimaryMobile').html('');
            }
            if ($('#EmailId').val() == '') {
                $('#ValidateEmailId').html('Enter Email Id');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateEmailId').html('');
            }
            if ($('#ProfessionTypeID').val() == '') {
                $('#ValidateProfessionTypeID').html('Select Profession Type');
                    $('#divloader').fadeOut(300);
                    return false;
                }
                else {
                    $('#ValidatePostalCode').html('');
                }

            //if ($('#PassportNO').val() == '') {
            //    $('#ValidatePassportNO').html('Enter Passport Number');
            //    $('#divloader').fadeOut(300);
            //    return false;
            //}
            //else {
            //    $('#ValidatePassportNO').html('');
            //}
            if ($('#ParentOrganization').val() == '') {
                $('#ValidateParentOrganization').html('Enter Organization');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateParentOrganization').html('');
            }
            if ($('#ParentRelationshipID').val() == '0') {
                $('#ValidateParentRelationshipID').html('Select Parent Relationship');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                $('#ValidateParentRelationshipID').html('');
            }


            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentParentsDetails?id=' + '@Model.StudentID';
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentParentsDetails?id=' + '@Model.StudentID';
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                }

            })
        })
    })
</script>
