﻿
@{
    ViewData["Title"] = "CreateOrEditStudentAcademicStandard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Student.Models.studentacademicsstandarddetcls

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Details</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="StudentAcademicStandardDetails" asp-controller="Student" asp-area="Student" asp-route-id="@Model.StudentId">Academic</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Standard</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="card">
        <div class="card-header bg-white ">
            <div class="row">
                <div class="col-6">
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Academic Standard</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form asp-action="SaveOrUpdateStudentAcademicStandard" method="post" id="validation-form">
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="StudentId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AcademicSessionId" class="control-label font-weight-bold">Academic Session</label><span class="text-danger">*</span>
                            <select asp-for="AcademicSessionId" id="AcademicSessionId" asp-items="@ViewBag.AcademicSession" class="form-control"></select>
                            <span id="ValidateAcademicSessionId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OraganisationAcademicId" class="control-label font-weight-bold">Organisation</label><span class="text-danger">*</span>
                            <select asp-for="OraganisationAcademicId" class="form-control"></select>
                            <span id="ValidateOraganisationAcademicId" class="text-danger"></span>
                        </div>  
                        <div class="form-group">
                            <label asp-for="Studentcode" class="control-label font-weight-bold">Roll No</label>
                            <input asp-for="Studentcode" class="form-control" />
                            <span id="ValidateStudentcode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BoardId" class="control-label font-weight-bold">Board</label><span class="text-danger">*</span>
                            <select asp-for="BoardId" asp-items="@ViewBag.BoardName" class="form-control"></select>
                            <span id="ValidateBoardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicStandardId" class="control-label font-weight-bold">Class</label><span class="text-danger">*</span>
                            <select asp-for="AcademicStandardId" class="form-control"></select>
                            <span id="ValidateAcademicStandardId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicSectionId" class="control-label font-weight-bold">Section</label><span class="text-danger">*</span>
                            <select asp-for="AcademicSectionId" class="form-control"></select>
                            <span id="ValidateAcademicSectionId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicSubjectWingId" class="control-label font-weight-bold">Wing</label><span class="text-danger">*</span>
                            <select asp-for="AcademicSubjectWingId" class="form-control"></select>
                            <span id="ValidateAcademicSubjectWingId" class="text-danger"></span>
                        </div>

                        <div class="form-group" id="divgroup">
                            <label asp-for="AcademicSubjectGroupId" class="control-label font-weight-bold">Subject Group</label>
                            <select asp-for="AcademicSubjectGroupId" class="form-control" style="width:100%;"></select>
                            <span id="ValidateAcademicSubjectGroupId" class="text-danger"></span>
                        </div>
                        @*@if (Model.IsRequiredNucleus == true)
                        {*@
                            <div class="form-group" id="divnucleus">
                                <label class="control-label font-weight-bold">Is Nucleus-40</label><span class="text-danger">*</span>
                                <input type="checkbox" asp-for="Nucleus" />
                                <span id="ValidateNucleus" class="text-danger"></span>
                            </div>
                        @*}*@
                        <div class="form-group text-center">
                            @*<a asp-action="Bank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-undo fa-sm text-white-50"></i> Back To List</a>*@
                            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-success">&nbsp;&nbsp; <i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp; Save&nbsp;&nbsp; </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#divgroup').hide();
        var sessionid = '@(Model.AcademicSessionId!=0?Model.AcademicSessionId:0)';
        var sectionid = '@(Model.AcademicSectionId!=0?Model.AcademicSectionId:0)';
        var standardid = '@(Model.AcademicStandardId!=0?Model.AcademicStandardId:0)';
        var subjectgroupid = '@(Model.AcademicSubjectGroupId!=0?Model.AcademicSubjectGroupId:0)';
        var standardwingid = '@(Model.AcademicSubjectWingId!=0?Model.AcademicSubjectWingId:0)';
        var boardid = '@(Model.BoardId!=0?Model.BoardId:0)';
        var orgacdid = '@(Model.OraganisationAcademicId!=0?Model.OraganisationAcademicId:0)';
        var isrequired = '@(Model.IsRequiredNucleus)';

        if (isrequired == 'False') {
            $('#divnucleus').css('visibility', 'hidden');
            $('#Nucleus').prop('checked', false);

           
        }
        else {
            $('#divnucleus').css('visibility', 'visible');
            $('#Nucleus').prop('checked', false);
        }


        if (sessionid != '0') { $('#AcademicSessionId').val(sessionid); }
        if (sessionid != '0') {
            getorganisation(sessionid);
        }
        if (boardid != '') {
            $('#BoardId').val(boardid);
        }
        if (standardid != '0') {
            Getstandards(boardid, orgacdid, sessionid)
            Getwingandsubjectgroup(standardid);
        }
        //if (catg != '') {

            //subjectoptioncategory(catg.academicStandardID, catg.academicStandardWingID, catg.academicSubjectGroupID);
            //Getoptionalsubjects(catg.subjectOptionalCategoryID);
        //}
            $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/School/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgacdid != 0) { $('#OraganisationAcademicId').val(orgacdid); }
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val(),$('#OraganisationAcademicId').val(),$('#AcademicSessionId').val());
        });
        function Getstandards(id,orgid,sessionid) {
            if (id != 0) {
                $('#AcademicStandardId').empty();
                $.get('/School/GetAcademicStandard', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId:sessionid  }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                         if (standardid != 0) {
                        $("#AcademicStandardId").val(standardid);
                    }
                    }
                });
            }
        }
        function Getwingandsubjectgroup(id) {
            if (id != 0) {
                $.get('/Student/Student/GetNucleus', { id: id }, function (data) {
                    if (data == 1) {
                        $('#divnucleus').css('visibility','visible');
                        $('#Nucleus').prop('checked', false);
                    }
                    else {
                        $('#divnucleus').css('visibility', 'hidden');
                        $('#Nucleus').prop('checked', false);
                    }
                })
               $('#AcademicSubjectWingId').empty();
            $.get('/School/GetAcademicWing', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSubjectWingId").append('<option value="0">Select Wing</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSubjectWingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (standardwingid != 0) {
                        $("#AcademicSubjectWingId").val(standardwingid);
                    }
                }
            });
            $('#AcademicSubjectGroupId').empty();
                $.get('/School/GetAcademicSubjectGroup', { AcademicStandardId: id }, function (data) {

                    if (data.length > 0) {
                        $("#AcademicSubjectGroupId").append('<option value="0">Select Group</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicSubjectGroupId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (subjectgroupid != 0) {
                            $("#AcademicSubjectGroupId").val(subjectgroupid);
                        }
                        $('#divgroup').show();
                    }
                    else {
                        $('#divgroup').hide();
                    }
            });
                $('#AcademicSectionId').empty();
            $.get('/School/GetAcademicsection', { AcademicStandardId: id }, function (data) {
                if (data.length > 0) {
                    $("#AcademicSectionId").append('<option value="0">Select Section</option>');
                    $.each(data, function (i, item) {

                        $("#AcademicSectionId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                      if (sectionid != 0) {
                        $("#AcademicSectionId").val(sectionid);
                    }
                }
            });
            //subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());

                
            }

        }
        $('#AcademicStandardId').change(function () {
            Getwingandsubjectgroup($('#AcademicStandardId').val());
        });
         $("#validation-form").on("submit", function (event) {
            $('#divloader').fadeIn(300);
            event.preventDefault();
             if ($('#AcademicSessionId').val() == '0') {
                 $('#ValidateAcademicSessionId').html('Select Academic Session');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateAcademicSessionId').html('');
            }
             if ($('#OraganisationAcademicId').val() == '0') {
                 $('#ValidateOraganisationAcademicId').html('Select Oraganisation');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateOraganisationAcademicId').html('');
            }
             if ($('#BoardId').val() == '0') {
                 $('#ValidateBoardId').html('Select Board Id');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateBoardId').html('');
             }
             if ($('#AcademicStandardId').val() == '0') {
                 $('#ValidateAcademicStandardId').html('Select Standard');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateAcademicStandardId').html('');
             }
             if ($('#AcademicSectionId').val() == '0') {
                 $('#ValidateAcademicSectionId').html('Select Section');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateAcademicSectionId').html('');
             }
             if ($('#AcademicSubjectWingId').val() == '0') {
                 $('#ValidateAcademicSubjectWingId').html('Select Wing');
                $('#divloader').fadeOut(300);
                return false;
            }
            else {
                 $('#ValidateAcademicSubjectWingId').html('');
            }

            var url = $(this).attr("action");
            var formData = new FormData($("#validation-form")[0]);
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {

                    $("#divloader").fadeOut(300);
                    if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/AddSubjectOption?id=' + resp.id + '&studentid=' + resp.studentid;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentAcademicStandardDetails?id=' + resp.id;
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                },
                error: function (resp) {

                    $("#divloader").fadeOut(300);
                   if (resp.sts == 1) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/AddSubjectOption?id=' + resp.id + '&studentid=' + resp.studentid;
                    }
                    else if (resp.sts == 2) {
                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Student/Student/StudentAcademicStandardDetails?id=' + resp.id;
                    }
                    else {
                        var message = "Not Saved";
                        alert(message);
                        return false;
                    }
                }

            })
        })
        //$('#AcademicSubjectWingId').change(function () {
        //    subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        //})
        //$('#AcademicSubjectGroupId').change(function () {
        //    subjectoptioncategory($('#AcademicStandardId').val(), $('#AcademicSubjectWingId').val(), $('#AcademicSubjectGroupId').val());
        //})
        //function subjectoptioncategory(AcademicStandardId, AcademicWingId, AcademicSubjectGroupId) {
        //    $('#subjectcategoryids').empty();
        //    $.get('/School/GetAcademicSubjectOption', { AcademicStandardId: AcademicStandardId, AcademicWingId: AcademicWingId, AcademicSubjectGroupId: AcademicSubjectGroupId }, function (data) {
        //        if (data.length > 0) {
        //            $("#subjectcategoryids").append('<option value="0">Select Type</option>');
        //            $.each(data, function (i, item) {

        //                $("#subjectcategoryids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //            if (catg != '') {
        //                $("#subjectcategoryids").val(catg.subjectOptionalCategoryID);
        //            }
        //        }
        //    });
        //}
        //$("#subjectcategoryids").change(function () {
        //    Getoptionalsubjects($("#subjectcategoryids").val());
        //})
        //  function Getoptionalsubjects(id) {
        //    if (id != 0) {
        //        $('#subjectoptionids').empty();
        //    $.get('/School/GetSubjectoptions', { subjectcategoryid: id }, function (data) {
        //        if (data.length > 0) {
        //            $("#subjectoptionids").append('<option value="0">Select Option</option>');
        //            $.each(data, function (i, item) {

        //                $("#subjectoptionids").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
        //            });
        //             if (catgdet != '') {
        //                    $("#subjectoptionids").val(catgdet).trigger();
        //                }
        //        }
        //    });
        //    }
        //}
    });
</script>
