﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }

    .modal-titleNew {
        text-align: left;
        background-color: #fff;
        color: #000000;
        font: bold;
        font-size: 18px;
        margin: 1px 10px 1px 12px;
    }

    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 48%;
        height: 90%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 99%;
        width: 100%;
        /*overflow-y: auto;*/
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    /*Left*/
    .modal.left.fade .modal-dialog {
        left: 0px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
        transition: opacity 0.3s linear, left 0.3s ease-out;
    }

    .modal.left.fade.in .modal-dialog {
        left: 0;
    }

    /*Right*/
    .modal.right.fade .modal-dialog {
        right: 0px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
    }

    .modal-footer {
        margin-top: 300px;
        margin-left: 120px;
    }
    /* ----- v CAN BE DELETED v ----- */
    body {
        background-color: #78909C;
    }

    .demo {
        padding-top: 60px;
        padding-bottom: 110px;
    }

    .btn-demo {
        margin: 15px;
        padding: 10px 15px;
        border-radius: 0;
        font-size: 16px;
        background-color: #FFFFFF;
    }

        .btn-demo:focus {
            outline: 0;
        }



    /*Rounded Checkbox*/

    .container {
        display: block;
        position: relative;
        padding-left: 5px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #aaa;
        border-radius: 15px;
        border-color: aqua;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<style>
    table.display tbody tr:nth-child(even):hover td {
        background-color: #ffe6e6 !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: #ccffff !important;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: #1cc88a;
        border-color: #dddfeb #dddfeb #fff;
    }
    /*.modal.right.fade .modal-dialog {
        right: -280px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    .modal.right .modal-content {
        min-height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }*/

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    a:hover {
        color: #2121bd;
    }
</style>
@*@model IEnumerable<OdmErp.Web.Models.StudentModelClass>*@
@model OdmErp.Web.Areas.Student.Models.StudentModelClass

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Student</li>

        </ol>
    </nav>
</div>
<div class="row">
    <form method="get" asp-action="Index" class="col-12">
        <div id="accordion">
            <div class="card row">
                <div class="card-header bg-white col-12">

                    <div class="row ">
                        <div class="col-3">
                            <span class="font-weight-bold"
                                  style="font-family: Montserrat,Helvetica,Tahoma,Geneva,Arial,sans-serif;">
                                <i class="fas fa-filter"></i>&nbsp;&nbsp;Filter
                            </span>

                        </div>
                        <div class="col-9" style="text-align-last:right">


                            <button type="submit" id="btnSearch" style="margin-right:2rem;" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                                <i class="fas fa-search"></i>&nbsp; Search
                            </button>



                            <a data-toggle="collapse" data-target="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne"
                               class="d-none d-sm-inline-block btn btn-sm btn-secondary text-white font-weight-normal">
                                <i class="fas fa-arrows-alt-v"></i>&nbsp; Toggle
                            </a>

                        </div>

                    </div>

                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <div class="row col-12">
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsStudentCode" /> Student Code</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsFirstName" /> First Name</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsMiddleName" /> Middle Name</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsLastName" /> Last Name</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsAadharNO" />Aadhar No</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsBloodGroupID" />Blood Group</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsCategoryID" />Category</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsDateOfBirth" />Date Of Birth</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsEmailID" />Email ID</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsGender" />Gender</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsLanguagesKnowns" />Languages Known</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsMotherTongueID" />Mother Tongue</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsNatiobalityID" />Nationality</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsPassportNO" />Passport No</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsPrimaryMobile" />Primary Mobile</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsProfileImage" />Profile Image</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsReligionID" />Religion</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsWhatsappMobile" />Whatsapp Mobile</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsZoomMailID" />Zoom Mail-ID</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsemergencyContact" />Emergency Contact</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsStudentAcademicAccess" />Previous Academic</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsstudentAdresses" />Student Address</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsstudentClassDetails" />Current Standard</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.IsstudentParentsCls" />Parent</label>
                            </div>
                            <div class="col-2 form-group">
                                <label><input type="checkbox" asp-for="@Model.Istransport" />Transport</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row" style="margin-top:.5rem;">
    <div class="card bg-white col-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Student</h1>
            <div>
                <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"
                   data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> Upload Excel</a>
                <a asp-action="DownloadStudentList"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-arrow-circle-down"></i>&nbsp; Download Excel
                </a>
                @* <a href="/Student/DownloadStudentParent"
           class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
            <i class="fas fa-arrow-circle-down"></i>&nbsp; Download Parent Excel
        </a>*@
                <a href="/Student/Student/CreateOrEditStudent"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-plus-circle"></i>&nbsp; Create
                </a>


            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @if (Model.IsProfileImage == true)
                            {
                                <th>Profile Image</th>
                            }
                            else
                            {

                            }

                            @if (Model.IsStudentCode == true)
                            {
                                <th>Student Code</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsFirstName == true)
                            {
                                <th>First Name</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsMiddleName == true)
                            {
                                <th>Middle Name</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsLastName == true)
                            {
                                <th>Last Name</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsPrimaryMobile == true)
                            {
                                <th>Primary Mobile</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsEmailID == true)
                            {
                                <th>Email ID</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsWhatsappMobile == true)
                            {
                                <th>Whatsapp Mobile</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsZoomMailID == true)
                            {
                                <th>Zoom MailID</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsAadharNO == true)
                            {
                                <th>Aadhar No</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsBloodGroupID == true)
                            {
                                <th>Blood Group</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsCategoryID == true)
                            {
                                <th>Category</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsDateOfBirth == true)
                            {
                                <th>DOB</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsGender == true)
                            {
                                <th>Gender</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsMotherTongueID == true)
                            {
                                <th>Mother Tongue</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsLanguagesKnowns == true)
                            {
                                <th>Languages Known</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsNatiobalityID == true)
                            {
                                <th>Nationality</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsPassportNO == true)
                            {
                                <th>Passport No</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsReligionID == true)
                            {
                                <th>Religion</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsemergencyContact == true)
                            {
                                <th>Contact Person Name</th>
                                <th>Contact Person Mobile</th>
                                <th>Contact Person Email ID</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsstudentClassDetails == true)
                            {
                                <th>Session</th>
                                <th>Organisation</th>
                                <th>Board</th>
                                <th>Standard</th>
                                <th>Section</th>
                                <th>Wing</th>
                                <th>Subject Group</th>
                                <th>Optional Subject</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsstudentAdresses == true)
                            {
                                @if (Model.addressTypes.Count > 0)
                                {
                                    foreach (var a in Model.addressTypes)
                                    {
                                        <th>@a.Name</th>
                                    }
                                }
                            }
                            else
                            {

                            }
                            @if (Model.IsstudentParentsCls == true)
                            {
                                @if (Model.relationshipTypes.Count > 0)
                                {
                                    foreach (var a in Model.relationshipTypes)
                                    {
                                        <th>@a.Name</th>
                                    }
                                }
                            }
                            else
                            {

                            }
                            @if (Model.Istransport == true)
                            {
                                <th>Required Transport</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle No</th>
                                <th>City</th>
                                <th>Distance</th>
                                <th>Location</th>
                                <th>Departure Time</th>
                            }
                            else
                            {

                            }
                            @if (Model.IsStudentAcademicAccess == true)
                            {
                                <th>Organization Name</th>
                                <th>Board Name</th>
                                <th>Class Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                            }
                            else
                            {

                            }






                            <th>Modified On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.StudentList != null)
                        {

                            foreach (var item in Model.StudentList)
                            {
                                <tr>
                                    @if (Model.IsProfileImage == true)
                                    {
                                        <td><img style="border-radius:50%;width:100px;height:100px;" src="@item.ProfileImage" /></td>
                                    }
                                    @if (Model.IsStudentCode == true)
                                    {
                                        <td>@item.StudentCode</td>
                                    }
                                    @if (Model.IsFirstName == true)
                                    {
                                        <td>@item.FirstName</td>
                                    }
                                    @if (Model.IsMiddleName == true)
                                    {
                                        <td>@item.MiddleName</td>
                                    }
                                    @if (Model.IsLastName == true)
                                    {
                                        <td>@item.LastName</td>
                                    }
                                    @if (Model.IsPrimaryMobile == true)
                                    {
                                        <td>@item.PrimaryMobile</td>
                                    }
                                    @if (Model.IsEmailID == true)
                                    {
                                        <td>@item.EmailID</td>
                                    }
                                    @if (Model.IsWhatsappMobile == true)
                                    {
                                        <td>@item.WhatsappMobile</td>
                                    }
                                    @if (Model.IsZoomMailID == true)
                                    {
                                        <td>@item.ZoomMailID</td>
                                    }
                                    @if (Model.IsAadharNO == true)
                                    {
                                        <td>@item.AadharNO</td>
                                    }
                                    @if (Model.IsBloodGroupID == true)
                                    {
                                        <td>@item.BloodGroupName</td>
                                    }
                                    @if (Model.IsCategoryID == true)
                                    {
                                        <td>@item.CategoryName</td>
                                    }
                                    @if (Model.IsDateOfBirth == true)
                                    {
                                        <td>@(item.DateOfBirth==null?"":item.DateOfBirth.ToString("dd-MM-yyyy"))</td>
                                    }
                                    @if (Model.IsGender == true)
                                    {
                                        <td>@item.Gender</td>
                                    }
                                    @if (Model.IsMotherTongueID == true)
                                    {
                                        <td>@item.MotherTongue</td>
                                    }
                                    @if (Model.IsLanguagesKnowns == true)
                                    {
                                        <td>@item.LanguagesKnowns</td>
                                    }
                                    @if (Model.IsNatiobalityID == true)
                                    {
                                        <td>@item.NatiobalityName</td>
                                    }
                                    @if (Model.IsPassportNO == true)
                                    {
                                        <td>@item.PassportNO</td>
                                    }
                                    @if (Model.IsReligionID == true)
                                    {
                                        <td>@item.ReligionName</td>
                                    }
                                    @if (Model.IsemergencyContact == true)
                                    {
                                        @if (item.emergencyContact != null)
                                        {
                                            <td>@item.emergencyContact.ContactPersonName</td>
                                            <td>@item.emergencyContact.Mobile</td>
                                            <td>@item.emergencyContact.EmailId</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                    }
                                    @if (Model.IsstudentClassDetails == true)
                                    {
                                        @if (item.studentClassDetails != null)
                                        {
                                            <td>@item.studentClassDetails.SectionName</td>
                                            <td>@item.studentClassDetails.OraganisationName</td>
                                            <td>@item.studentClassDetails.BoardName</td>
                                            <td>@item.studentClassDetails.StandardName</td>
                                            <td>@item.studentClassDetails.SectionName</td>
                                            <td>@item.studentClassDetails.WingName</td>
                                            <td>@item.studentClassDetails.SubjectGroupName</td>
                                            <td>@item.studentClassDetails.optionalSubject</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                    }
                                    @if(Model.IsstudentAdresses==true)
                                    {
                                    @if (Model.addressTypes.Count > 0)
                                    {
                                        foreach (var a in Model.addressTypes)
                                        {
                                            if (item.studentAdresses != null)
                                            {
                                                var address = item.studentAdresses.Where(s => s.AddressTypeID == a.ID).FirstOrDefault();
                                                if (address != null)
                                                {
                                                    <td>@(address.AddressLine1 + "," + address.AddressLine2 + "," + address.CountryName + "," + address.StateName + "," + address.CityName + "," + address.PostalCode)</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                    }
                                    }
                                    @if(Model.IsstudentParentsCls==true)
                                    {
                                    @if (Model.relationshipTypes.Count > 0)
                                    {
                                        foreach (var a in Model.relationshipTypes)
                                        {
                                            if (item.studentParentsCls != null)
                                            {
                                                var parent = item.studentParentsCls.Where(s => s.ParentRelationshipID == a.ID).FirstOrDefault();
                                                if (parent != null)
                                                {
                                                    <td>
                                                        <span><strong>Name :</strong></span>@((parent.FirstName + " " + parent.LastName))
                                                        <br /><span><strong>Mobile :</strong></span>@parent.PrimaryMobile
                                                        <br /><span><strong>Email ID :</strong></span>@parent.EmailId
                                                        <br /><span><strong>Organization :</strong></span>@parent.ParentOrganization
                                                        <br /><span><strong>Profession Type :</strong></span>@parent.ProfessionTypeName
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        }
                                    }
                                    }
                                    @if(Model.Istransport==true)
                                    {
                                    @if (item.transport != null)
                                    {
                                        <td>@(item.transport.IsTransport==true?"Yes":"No")</td>
                                        <td>@item.transport.VehicleType</td>
                                        <td>@item.transport.VehicleNumber</td>
                                        <td>@item.transport.CityName</td>
                                        <td>@item.transport.Distance</td>
                                        <td>@item.transport.LocationName</td>
                                        <td>@item.transport.departureName</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    }
                                    }
                                    @if(Model.IsStudentAcademicAccess==true)
                                    {
                                    @if (item.StudentAcademicAccess.Count > 0)
                                    {
                                        <td>@item.StudentAcademicAccess.FirstOrDefault().OrganizationName</td>
                                        <td>@item.StudentAcademicAccess.FirstOrDefault().BoardName</td>
                                        <td>@item.StudentAcademicAccess.FirstOrDefault().ClassName</td>
                                        <td>@item.StudentAcademicAccess.FirstOrDefault().FromDate.ToString("dd-MM-yyyy")</td>
                                        <td>@item.StudentAcademicAccess.FirstOrDefault().ToDate.ToString("dd-MM-yyyy")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    }
                                    }
                                    <td>
                                        @item.ModifiedDate.ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        <a title="Edit" asp-action="ViewStudentDetails" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                        <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                        <a class="one-time-add" title="Delete" asp-action="DeleteStudent" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this student?');"><i class="fas fa-trash"></i></a>

                                    </td>
                                </tr>

                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" id="closeid" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadStudent" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            Excel Upload For
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="ddlexceltype" name="ddlexceltype" style="width:100%;">
                                <option value="">Select Type</option>
                                <option value="1">Personal</option>
                                <option value="2">Parent</option>
                                <option value="3">Emergency Contact</option>
                                <option value="4">Address</option>
                                <option value="5">Transport</option>
                                <option value="6">Previous Academic</option>
                                <option value="7">Current Academic</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                    <div class="row">
                        <div class="col-md-6">
                            Upload Student Excel
                        </div>
                        <div class="col-md-6">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                        <a onclick="downloadexcel()" class="btn btn-primary">Download Sample</a>
                    </div>
                </form>



            </div>

        </div>
    </div>
</div>
<script>
    function downloadexcel() {
        if ($('#ddlexceltype').val() == "") {

        }
        else {
            window.open('/Student/Student/DownloadStudentSample?type=' + $('#ddlexceltype').val());
        }
    }
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>



