﻿@model IEnumerable<OdmErp.Web.Areas.Student.Models.StudentDocumentModelClass>

@{
    ViewData["Title"] = "StudentDocumentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-route-id="@ViewBag.StudentId" asp-controller="Student">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Document</li>
        </ol>
    </nav>
</div>
<!-- Content Row -->
<div class="row">
    <div class="card bg-white col-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-1 card-header bg-white">
            <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Student Document</h1>
            @*<div>               
                <a href="/Student/CreateOrEditStudent"
                   class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal">
                    <i class="fas fa-plus-circle"></i>&nbsp; Create
                </a>

            </div>*@
        </div>
        
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>

                                    <th>
                                        Document 
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Total Document
                                    </th>

                                    <th>
                                        Verified
                                    </th>
                                    <th>
                                        Approved
                                    </th>
                                    <th>
                                        Reject
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentTypeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentSubTypeName)
                                        </td>

                                        <td>
                                            <span>@(item.totaldocument) Files</span><br />
                                            <a asp-action="CreateOrEditStudentDocumentDetails" asp-route-id="@item.ID">Upload File</a>
                                        </td>
                                        <td>
                                            @if (ViewBag.verifiedaccess == true && item.IsReject == false)
                                            {
                                                if (item.IsVerified == true)
                                                {
                                                    <a asp-action="verifyDocument" asp-route-id="@item.ID" asp-route-verify="false" onclick="return confirm('Are You Sure Want To Un Verify This Document')">Un-Verify</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="verifyDocument" asp-route-id="@item.ID" asp-route-verify="true" onclick="return confirm('Are You Sure Want To Verify This Document')">Verify</a>
                                                }
                                            }
                                            else
                                            {

                                                @if (item.IsVerified == true)
                                                {
                                                    <label>Verified</label>
                                                }
                                                else
                                                { <label>Not Verified</label>
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (ViewBag.approveaccess == true && item.IsReject == false)
                                            {
                                                if (item.IsApproved == true)
                                                {
                                                    <a asp-action="approveDocument" asp-route-id="@item.ID" asp-route-verify="false" onclick="return confirm('Are You Sure Want To UnApprove This Document')">Un-Approve</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="approveDocument" asp-route-id="@item.ID" asp-route-verify="true"  onclick="return confirm('Are You Sure Want To Approve This Document')">Approve</a>
                                                }
                                            }
                                            else
                                            {

                                                @if (item.IsApproved == true)
                                                {
                                                    <label>Approved</label>
                                                }
                                                else
                                                { <label>Not Approved</label>
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (ViewBag.rejectaccess == true)
                                            {
                                                if (item.IsReject == true)
                                                {
                                                    <a asp-action="rejectDocument" asp-route-id="@item.ID" asp-route-verify="false"  onclick="return confirm('Are You Sure Want To UnReject This Document')">Un-Reject</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="rejectDocument" asp-route-id="@item.ID" asp-route-verify="true" onclick="return confirm('Are You Sure Want To Reject This Document')">Reject</a>
                                                }
                                            }
                                            else
                                            {

                                                @if (item.IsReject == true)
                                                {
                                                    <label>Rejected</label>
                                                }
                                                else
                                                { <label>Not Rejected</label>
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (item.IsVerified == true)
                                            {
                                                <label style="color:forestgreen;">Verified On @item.VerifiedDate.Value.ToString("dd-MMM-yyyy")</label>
                                            }
                                           
                                            @if (item.IsApproved == true)
                                            {
                                                <label style="color: orangered;">Approved</label>
                                            }                                          

                                            @if (item.IsReject == true)
                                            {
                                                <label style="color:red;">Rejected</label>
                                            }
                                           
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
           
    </div>
</div>
    <script>
        function verifydocument(id) {
            var verify =
        }
    </script>
