﻿
@{
    ViewData["Title"] = "StudentAcademicDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Student.Models.StudentAcademicModel>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Student" asp-controller="Layout">Student</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-route-id="@ViewBag.StudentId" asp-controller="Student" asp-area="Student">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Details</li>
        </ol>
    </nav>
</div>



<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Last Educational Details</h1>
    <div>
        <a asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-undo fa-sm "></i> Back To List</a>
        <a asp-action="CreateOrEditStudentAcademic" asp-controller="Student" asp-area="Student" asp-route-sid="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>



    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        @*@if (Model != null)
            {
                <div class="row">
                    @foreach (var a in Model)
                    {
                        <div class="col-md-4 form-group">
                            <div class="card shadow">

                                <div class="card-body">
                                    <div class="form-group" style="border-bottom: 1px solid;display:flow-root;">
                                        <label style="font-size: 17px;float:left;">Educational Details</label>
                                        <a style="float:right;" asp-action="StudentAcademicDeleteConfirmed" asp-route-id="@a.ID" asp-route-sid="@ViewBag.StudentId" onclick="return confirm('Are you sure you wish to delete this Student Academic?');"><i class="fas fa-trash fa-sm text-red-50"></i>Delete</a>
                                        <a style="float:right;" class="pr-1" asp-controller="Student" asp-action="CreateOrEditStudentAcademic" asp-route-id="@a.ID" asp-route-sid="@ViewBag.StudentId"><i class="fas fa-pen fa-sm text-red-50"></i>Edit </a>
                                    </div>

                                    <div class="form-group">

                                        <ul style="list-style: none; display: inline-flex; padding-left: 0px;">
                                            <li><i class="fas fa-cog fa-sm text-red-50"></i>&nbsp;&nbsp;</li>
                                            <li>
                                                <div>
                                                    @if (a.OrganizationName != "")
                                                    {
                                                        <span style="font-weight: 600;">@a.OrganizationName </span>
                                                    }

                                                    @if (a.FromDate != null)
                                                    {
                                                        <br /> <span style="font-weight: 600;">From : </span> <span> @a.FromDate.ToString("MMM yyyy")</span>
                                                    }
                                                    @if (a.ToDate != null)
                                                    {
                                                        <span style="font-weight: 600;">, To : </span> <span> @a.ToDate.ToString("MMM yyyy")</span>
                                                    }

                                                </div>
                                            </li>
                                        </ul>




                                    </div>


                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Created On : <b>@a.InsertedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                        <div class="col-md-6">
                                            <span>Modified On : <b>@a.ModifiedDate.ToString("dd-MMM-yyyy")</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }*@
        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Board</th>
                                <th>Class</th>
                                <th>Organization</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Modified On</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {



                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.BoardName
                                        </td>
                                        <td>
                                            @item.ClassName
                                        </td>
                                        <td style="white-space: nowrap; max-width: 60px; overflow: hidden;text-overflow: ellipsis;" title="@item.OrganizationName">
                                            @item.OrganizationName
                                        </td>

                                        <td>
                                            @item.FromDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            @item.ToDate.ToString("dd MMM yyyy")
                                        </td>

                                        <td>
                                            @item.ModifiedDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            <a title="Delete" asp-action="StudentAcademicDeleteConfirmed" asp-route-id="@item.ID" asp-route-sid="@ViewBag.StudentId" onclick="return confirm('Are you sure you wish to delete this Student Academic?');"><i class="fas fa-trash fa-sm text-red-50"></i></a>
                                            <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                            <a title="Edit" asp-controller="Student" asp-action="CreateOrEditStudentAcademic" asp-route-id="@item.ID" asp-route-sid="@ViewBag.StudentId"><i class="far fa-edit text-success"></i> </a>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

