﻿
@{
    ViewData["Title"] = "StudentAcademicStandardDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.ApplicationCore.Query.View_Academic_Student>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="SchoolLayout" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Index" asp-controller="Student" asp-area="Student">Student List</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@ViewBag.StudentId">Details</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Academic Details</li>
        </ol>
    </nav>
</div>


<!-- Content Row -->
<div class="row">

    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold"> Academic Details </h1>

                <div>
                    <a asp-action="ViewStudentDetails" asp-controller="Student" asp-area="Student" asp-route-id="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-undo "></i> Back To List</a>
                    @*@if (ViewBag.isnew == true)
                    {*@
                        <a asp-action="CreateOrEditStudentAcademicStandard" asp-controller="Student" asp-area="Student" asp-route-eid="@ViewBag.StudentId" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp; Create</a>
                    @*}*@
                </div>
            </div>


            <!-- Content Row -->
            <div class="row">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- DataTales Example -->
                    @*<div class="card shadow mb-4">*@
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Roll No</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Standard</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Section</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Subject Group</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Optional Subject</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Nucleus</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Is Current</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Modified On</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @(item.SessionName)
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.RollNo
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.BoardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.StandardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SectionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SubjectGroupName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.optionalSubject
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @(item.IsRequiredNucleus==false?"NA":(item.Nucleus==true?"Yes":"No"))
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @(item.IsAvailable==true?"Yes":"No")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ModifiedDate.ToString("dd-MMM-yyyy")
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a asp-action="CreateOrEditStudentAcademicStandard" asp-route-id="@item.ID" asp-route-eid="@ViewBag.StudentId"><i class="fas fa-pen fa-sm text-black-50"></i>Edit</a> |
                                            <a asp-action="DeleteStudentAcademicStandard" asp-route-id="@item.ID" asp-route-eid="@ViewBag.StudentId" onclick="return confirm('Are you sure you wish to delete this student Academic Details?');"><i class="fas fa-trash fa-sm text-black-50"></i>Delete</a>

                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*</div>*@

                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </div>
</div>
