﻿
@{
    ViewData["Title"] = "Action";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmissionCounsellorModal>


<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">
                AdmissionCouncellor
            </li>
        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionCounsellor" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionCounsellor">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file1" id="file1" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">

    <div class="container-fluid">
        <div class="card  mb-1 bg-white">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Admission Councellor</h1>

                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a href="/Admission/Master/CreateOrEditAdmissionCounsellor" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>
            <!-- Content Row -->
            <!-- Page Heading -->
            <!-- DataTales Example -->
            @*<div class="card shadow mb-4">*@
            <div class="row">

                <div class="container-fluid">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Start Date</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">End Date</th>
                                        <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.EmpName
                                                </td>
                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    @item.StartDate.Value.ToString("dd-MMM-yyyy")
                                                </td>
                                                @if (item.EndDate != null)
                                                {
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        @item.EndDate.Value.ToString("dd-MMM-yyyy")
                                                    </td>

                                                }
                                                else
                                                {
                                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                        NA
                                                    </td>
                                                }

                                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                                    &nbsp;&nbsp;
                                                    <a title="Edit" asp-action="CreateOrEditAdmissionCounsellor" asp-route-id="@item.Id"><i class="far fa-edit text-success"></i></a>
                                                    <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                                    <a class="one-time-add" title="Delete" asp-action="DeleteAdmissionCounsellor" asp-route-id="@item.Id" onclick="return confirm('Are you sure you wish to delete this Action?');"><i class="fas fa-trash"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
