﻿
@{
    ViewData["Title"] = "AdmissionFee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmissionFeeModel>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Admission Fee</li>

        </ol>
    </nav>
</div>



<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Admission Fee</h1>
                <div>                   
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Ammount</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AcademicSessionName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Ammount
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Name
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                    <a title="Delete" asp-action="DeleteAdmissionFee" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Sessionn Fee..?');"><i class="fas fa-trash"></i></a>

                                    <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update Admission Fee</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveOrUpdateAdmissionFee" method="post">
                                                        <div class="row form-group">
                                                            <input type="hidden" name="ID" value="@item.ID" class="form-control" />
                                                            <div class="col-md-4">
                                                                Academic Session
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" value="@item.AcademicSessionName" readonly class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Ammount
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" required name="Ammount" value="@item.Ammount" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Name
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" name="Name" value="@item.Name" class="form-control" />

                                                            </div>
                                                        </div>
                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <input type="submit" class="btn btn-primary" value="Update" />
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Admission Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateAdmissionFee" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                            Academic Session
                        </div>
                        <div class="col-md-8">
                            <select name="AcademicSessionId" style="width:100%;" class="form-control">
                                @foreach (var a in ViewBag.AcademicSessionList)
                                {
                                    <option value="@a.ID">@a.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Ammount
                        </div>
                        <div class="col-md-8">
                            <input type="text" required name="Ammount" class="form-control" />

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Name
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="Name" class="form-control" />

                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" onblur="datecheck()" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

