﻿
@{
    ViewData["Title"] = "AdmissionStandardExamResultDate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmissionStandardExamResultModal>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Exam Result Date</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionStandardExamResultDate" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionStandardExamResultDateSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold"> Exam Result Date</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>

                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Result Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.SessionName">
                                    @item.SessionName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal"
                                    style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.OrganisationName">
                                    @item.OrganisationName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal"
                                    style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;" title="@item.BoardName">
                                    @item.BoardName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.ClassName">
                                    @item.ClassName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ResultDateString
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                    <a title="Delete" asp-action="DeleteAdmissionStandardExamResultDate" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Admission Standard Exam Result..?');"><i class="fas fa-trash"></i></a>

                                    <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update Exam Result Date</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveOrUpdateAdmissionStandardExamResultDate" method="post">
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <input type="hidden" name="ID" id="ID" value="@item.ID" class="form-control" />
                                                                Session
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="AcademicSessionId" id="AcademicSessionId_@item.ID" style="width:100%;" class="form-control">
                                                                    <option value="@item.AcademicSessionId">@item.SessionName</option>
                                                                </select>
                                                                <span id="spanAcademicSessionId_@item.ID" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Oraganisation
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="OraganisationAcademicId" id="OraganisationAcademicId_@item.ID" style="width:100%;" class="form-control">
                                                                    <option value="@item.OrganisationAcademicId">@item.OrganisationName</option>
                                                                </select>
                                                                <span id="spanOrganisationAcademicId_@item.ID" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Board
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="BoardId" id="BoardId_@item.ID" style="width:100%;" class="form-control">

                                                                    <option value="@item.BoardId" selected>@item.BoardName</option>

                                                                </select>
                                                                <span id="spanBoardId_@item.ID" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Class
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="BoardStandardId" id="BoardStandardId_@item.ID" style="width:100%;" class="form-control">
                                                                    <option value="@item.BoardStandardId">@item.ClassName</option>
                                                                </select>
                                                                <span id="spanBoardStandardId_@item.ID" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Exam Result Date
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="date" class="form-control" name="ExamResultDate" id="ExamResultDate_@item.ID" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@item.ResultDate.ToString("yyyy-MM-dd")" />
                                                                <span id="spanExamResultDate" class="text-danger"></span>
                                                            </div>
                                                        </div>


                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" onclick="return CheckValidatin_Update(@item.ID)" class="btn btn-primary">Update</button>
                                                        </div>
                                                    </form>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Exam Result Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateAdmissionStandardExamResultDate" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                            Session
                        </div>
                        <div class="col-md-8">
                            <select name="AcademicSessionId" id="AcademicSessionId" style="width:100%;" class="form-control">
                                <option value=" ">Select Session</option>
                                @if (ViewBag.Session != null)
                                {
                                    @foreach (var a in ViewBag.Session)
                                    {
                                        <option value="@a.ID">@a.DisplayName</option>
                                    }
                                }
                            </select>
                            <span id="spanAcademicSessionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Oraganisation
                        </div>
                        <div class="col-md-8">
                            <select name="OraganisationAcademicId" required id="OraganisationAcademicId" style="width:100%;" class="form-control">
                                <option value=" ">Select Oraganisation</option>
                            </select>
                            <span id="spanOrganisationAcademicId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Board
                        </div>
                        <div class="col-md-8">
                            <select name="BoardId" id="BoardId" style="width:100%;" class="form-control">
                                <option value=" ">Select Board</option>
                                @if (ViewBag.Board != null)
                                {
                                    @foreach (var a in ViewBag.Board)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanBoardId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Class
                        </div>
                        <div class="col-md-8">
                            <select name="BoardStandardId" required multiple id="BoardStandardId" style="width:100%;" class="form-control">
                                <option value=" ">Select Class</option>
                            </select>
                            <span id="spanBoardStandardId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Exam Result Date
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control" name="ExamResultDate" id="ExamResultDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                            <span id="spanExamResultDate" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" onclick="return CheckValidatin_Create()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function CheckValidatin_Create() {
      
        if ($('#AcademicSessionId').val() == " ") {
            $('#spanAcademicSessionId').html('Please Select Session');
            return false;
        }
        if ($('#OraganisationAcademicId').val() == " ") {
            $('#spanOrganisationAcademicId').html('Please Select Organisation');
            return false;
        }
        if ($('#BoardId').val() == " ") {
            $('#spanBoardId').html('Please Select Board');
            return false;
        }      

        if ($('#BoardStandardId').val().length <=0) {
            $('#spanBoardStandardId').html('Please Select Class');
            return false;
        }

        if ($('#ExamResultDate').val() == " " && $('#ExamResultDate').val() == null) {
            $('#spanExamResultDate').html('Please Select Date From Calender');
            return false;
        }
       
    }
    function CheckValidatin_Update(id) {
        if ($('#AcademicSessionId_' + id).val() == " ") {
            $('#spanAcademicSessionId_' + id).html('Please Select Session');
            return false;
        }
        if ($('#BoardStandardId_' + id).val() == " ") {
            $('#spanBoardStandardId_' + id).html('Please Select Board');
            return false;
        }
      
    }
</script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/Admission/Master/GetOrganisationByAcademicSessionId', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }
        $('#BoardId').change(function () {          
            Getstandards($('#BoardId').val(), $('#OraganisationAcademicId').val(), $('#AcademicSessionId').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#BoardStandardId').empty();
                $.get('/Admission/Master/GetBoardStandardById', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#BoardStandardId").append('<option value=" ">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#BoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                                            }
                });
            }
        }

    });
</script>
@*edit script*@
@*<script>
    $(document).ready(function () {
        var id = $('#ID').val();
      
        $('#AcademicSessionId_' + id).change(function () {
            alert(id);
            getorganisation($('#AcademicSessionId_' + id).val());
        });

        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId_' + id).empty();
                $.get('/Admission/Master/GetOrganisationByAcademicSessionId', { AcademicSessionId: $('#AcademicSessionId_' + id).val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId_" + id).append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId_" + id).append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }
        $('#BoardId_' + id).change(function () {
            Getstandards($('#BoardId_' + id).val(), $('#OraganisationAcademicId_' + id).val(), $('#AcademicSessionId_' + id).val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#BoardStandardId_' + id).empty();
                $.get('/Admission/Master/GetBoardStandardById', { BoardId: id, OraganisationAcademicId: orgid, AcademicSessionId: sessionid }, function (data) {
                    if (data.length > 0) {
                        $("#BoardStandardId_" + id).append('<option value=" ">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#BoardStandardId_" + id).append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }
        }

    });
</script>*@


