﻿
@{
    ViewData["Title"] = "AdmissionStandardSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/RightSideModal.css" rel="stylesheet" type="text/css">
@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmissionStandardSettingModal>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Class Setting</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionStandardSetting" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionStandardSettingSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Class Setting</h1>
                <div >
                    @*<a hidden class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>*@

                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;<span style="color:white">Create</span></a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Nucleus</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Required</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Show Exam Dates</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">PI Required</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Document Required</th>
                                    *@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title="   @item.AcademicSessionName">
                                    @item.AcademicSessionName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.OrganizationName">
                                    @item.OrganizationName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.BoardName">
                                    @item.BoardName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.StandardName">
                                    @item.StandardName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Nucleus
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ExamRequired
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ExamDates
                                </td>
                                @*<td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PIRequired
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.DocumentRequird
                                </td>*@
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                    <a title="Delete" asp-action="DeleteAdmissionStandardSetting" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Setting..?');"><i class="fas fa-trash"></i></a>
                                    <div class="modal fade right" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update Class Setting </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveAdmissionStandardSetting" method="post">
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <input type="hidden" class="form-control" name="ID" value="@item.ID" />
                                                                <label> Academic Session <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input class="form-control" value="@item.AcademicSessionName" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <label> Organisation <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input class="form-control" value="@item.OrganizationName" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <label> Board <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input class="form-control" value="@item.BoardName" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <label> Class <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input class="form-control" value="@item.StandardName" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                Nucleus
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="Nucleus" class="form-control" value="true" checked=@item.Nucleus />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                Exam Required
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="ExamRequired" class="form-control" value="true" checked=@item.ExamRequired />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group" hidden>
                                                            <div class="col-md-5">
                                                                PI Required
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="PIRequired" class="form-control" value="true" checked=@item.PIRequired />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group" hidden>
                                                            <div class="col-md-5">
                                                                Document Required
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="DocumentRequired" class="form-control" value="true" checked="@item.DocumentRequird" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                Show Exam Dates To Students
                                                            </div>
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="ExamDateRequired" class="form-control" value="true" checked="@item.ExamDates" />
                                                            </div>
                                                        </div>
                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    | <a title="Exam Date Notification" data-toggle="modal" data-target="#myModalEdit_@item.ID" ><i class="far fa-mailchimp text-warning"></i></a>
                                    <div class="modal fade right" id="myModalExamnotify_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Send SMS &amp; Mail </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SendMailSmsForExamDate"  asp-controller="Registration" asp-area="Admission" method="post">
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <input type="hidden" class="form-control" name="id" value="@item.ID" />
                                                                <label> Message <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <textarea class="form-control" id="txtmsg" name="msg"></textarea>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary">Send Message</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade right" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Class  Setting </h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveAdmissionStandardSetting" method="post">
                    @*<div class="row form-group">
            <div class="col-md-5">
                <label>Code <span style="color:red">*</span></label>
            </div>
            <div class="col-md-7">
                <input type="text" required name="Code" maxlength="50" class="form-control" />
            </div>
        </div>*@
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Academic Session <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AcademicSessionId" id="AcademicSessionId" style="width:100%;" class="form-control">
                                <option value=" ">Select Session</option>
                                @foreach (var a in ViewBag.Session)
                                {
                                    <option value="@a.ID">@a.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Organization<span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" id="OrgId" name="OrganizationId" style="width:100%;">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Class<span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" multiple id="StandardId" name="BoardStandardId" style="width:100%;">
                            </select>
                        </div>
                    </div>
                    @*<div class="row form-group">
            <div class="col-md-5">
                Wing
            </div>
            <div class="col-md-7">
                <select class="form-control" id="AcademicStandardWindId" name="AcademicStandardWindId" style="width:100%;">
                </select>
            </div>
        </div>*@
                    <div class="row form-group">
                        <div class="col-md-5">
                            Nucleus
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="Nucleus" class="form-control" value="true" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            Exam Required
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="ExamRequired" class="form-control" value="true" />
                        </div>
                    </div>
                    <div class="row form-group" hidden>
                        <div class="col-md-5">
                            PI Required
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="PIRequired" class="form-control" value="true" />
                        </div>
                    </div>
                    <div class="row form-group" hidden>
                        <div class="col-md-5">
                            Document Required
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="DocumentRequired" class="form-control" value="true" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            Show Exam Dates To Students
                        </div>
                        <div class="col-md-1">
                            <input type="checkbox" name="ExamDateRequired" class="form-control" value="true"  />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" onclick="return checkvalidation()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    function checkvalidation() {
        if ($('#AcademicSessionId').val() == " ") {
            alert("Please Select Session");
            return false;
        }
        if ($('#StandardId').val() == " ") {
            alert("Please Select Class");
            return false;
        }

    }
</script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OrgId').empty();
            $.get('/Admission/Master/GetSchoolListByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                console.log(data);
                if (data.length > 0) {
                    $("#OrgId").append('<option value=" ">Select Organization</option>');
                    $.each(data, function (i, item) {
                        $("#OrgId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

         $('#OrgId').change(function () {
            $('#StandardId').empty();
             $.get('/Admission/BasicRegistration/GetClassByAcademicSessionclasssettings', { OrgAcdId: $('#OrgId').val() }, function (data) {
                if (data.length > 0) {
                    $("#StandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#StandardId").append('<option value="' + item.boardStandardId + '"> ' + item.boardname + "-" + item.boardClass + ' </option>');
                    });
                }
            });
        });

        //$('#StandardId').change(function () {
        //    $('#AcademicStandardWindId').empty();
        //    $.get('/Admission/BasicRegistration/GetWingByBoardStandard', { BoardStandardId: $('#StandardId').val() }, function (data) {
        //        if (data.length > 0) {
        //            $("#AcademicStandardWindId").append('<option value=" ">Select Wing</option>');
        //            $.each(data, function (i, item) {
        //                $("#AcademicStandardWindId").append('<option value="' + item.academicStandardWindId + '"> ' + item.name + ' </option>');
        //            });
        //        }
        //    });
        //});

    });
</script>

