﻿
@{
    ViewData["Title"] = "AdmitcardInstructions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.AdmitcardInstructionsModel>

<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">AdmitcardDetails</li>

        </ol>
    </nav>
</div>

<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Admitcard Instructions</h1>
                <div>
                    <a href="/Admission/Master/CreateOrEditAdmitcardInstructions" class="d-none d-sm-inline-block font-weight-normal btn btn-sm btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Logo</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Address</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TollFree</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Title</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Instruction</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <img width="40" height="40" src="@(item.LogoName)" />
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Address
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Tollfree
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Title
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Instruction
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" asp-action="CreateOrEditAdmitcardInstructions" asp-route-id="@item.ID"><i class="far fa-edit text-success"></i></a>
                                    <span class="one-time-add">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                    <a class="one-time-add" title="Delete" asp-action="DeleteAdmitcardInstructions" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Admitcard Instruction?');"><i class="fas fa-trash"></i></a>
                                </td>

                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
