﻿
@{
    ViewData["Title"] = "AdmissionSlot";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.ResponseAdmission
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page" >Registration Slot</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionSlot" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionSlotSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Registration Slot</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a data-toggle="modal" data-target="#myModalCreate"  class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Slot Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Start Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">End Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AdmissionSlotList != null)
                            {
                                foreach (var item in Model.AdmissionSlotList)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SlotName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.AcademicSessionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.StartDatestring
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.EndDatestring
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                            <a title="Delete" asp-action="DeleteAdmissionSlot" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Slot..?');"><i class="fas fa-trash"></i></a>

                                            <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5>Update Admission Slot</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form asp-action="SaveOrUpdateAdmissionSlot" method="post">
                                                                <div class="row form-group">
                                                                    <input type="hidden" name="ID" value="@item.ID" class="form-control" />
                                                                    <div class="col-md-4">
                                                                        Academic Session
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <select name="AcademicSessionId" style="width:100%;" class="form-control">
                                                                            @foreach (var a in Model.AcademicSessionList)
                                                                            {
                                                                                <option value="@a.ID">@a.DisplayName</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        Slot Name
                                                                    </div>
                                                                    <div class="col-md-8">

                                                                        <input type="text" required name="SlotName" value="@item.SlotName" maxlength="300" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        Start Date
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <input type="date" id="StartDate_@item.ID" name="StartDate" onblur="checkdateedit(@item.ID)" value="@item.StartDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        End Date
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <input type="date" id="EndDate_@item.ID" name="EndDate" onblur="checkdateedit(@item.ID)" value="@item.EndDate.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                                                <div class="form-group text-center">
                                                                    <input type="submit" onclick="checkdateedit(@item.ID)" class="btn btn-primary" value="Update" />
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Registration Slot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateAdmissionSlot" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                            Academic Session
                        </div>
                        <div class="col-md-8">
                            <select name="AcademicSessionId" style="width:100%;" class="form-control">
                                @foreach (var a in Model.AcademicSessionList)
                                {
                                    <option value="@a.ID">@a.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Slot Name
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="slotName" required name="SlotName" maxlength="300" class="form-control"  @*onchange="checkSlotName()"*@ />
                            @*<br />
                            <label id="slotError" class="text-danger"></label>*@ 
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            Start Date
                        </div>
                        <div class="col-md-8">
                            <input type="date" id="StartDate" name="StartDate" onblur="datecheck()" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            End Date
                        </div>
                        <div class="col-md-8">
                            <input type="date" id="EndDate" name="EndDate" onblur="datecheck()" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" onblur="datecheck()" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function datecheck() {
        var startDate = document.getElementById("StartDate").value;
        var endDate = document.getElementById("EndDate").value;
        if ((Date.parse(endDate) < Date.parse(startDate))) {
            alert("End date should be greater than Start date");
            document.getElementById("EndDate").value = startDate;
        }
    }
    function checkdateedit(id) {
        var startDate = document.getElementById("StartDate_" + id).value;
        var endDate = document.getElementById("EndDate_" + id).value;
        if ((Date.parse(endDate) <= Date.parse(startDate))) {
            alert("End date should be greater than Start date");
            document.getElementById("EndDate_" + id).value = startDate;
        }
    }

    function checkSlotName() {
        if ($("#slotName").val() == '') {
            $("#slotError").html("Cannot be empty");
        }
        else {
            $.ajax({
                url: '/Admission/Master/CheckRegistrationSlotName/' + $("#slotName").val(),
                type: 'GET',
                success: function (html)
                {
                    //console.log(html.data);
                   // alert(html)
                    if (html.data==1)
                        $("#slotError").html("Name already exists");
                   

                },
                error: function (error) {
                 
                }
            });

        }
    }


</script>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>

