﻿
@{
    ViewData["Title"] = "AdmissionPersonalInterviewAssign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/RightSideModal.css" rel="stylesheet" type="text/css">
@model OdmErp.Web.Areas.Admission.Models.ResponseAdmissionStanadardPIModal
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">PI Date And Time</li>

        </ol>
    </nav>
</div>
<div class="modal fade right" id="myModalPIScoreDownloadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download  PI Score Sample</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="DownloadAdmissionPIScoreSample" method="post">
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Session <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AcademicSessionId" class="form-control" id="ScoreAcademicSessionId" style="width:100%">
                                <option value="0">All</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>School <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="OraganisationAcademicId" class="form-control" id="ScoreOraganisationAcademicId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Board <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="BoardId" class="form-control" id="ScoreBoardId" style="width:100%">
                                <option value="0">All</option>
                                @foreach (var brd in Model.Boardlist)
                                {
                                    <option value="@brd.ID">@brd.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Class <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="BoardStandardId" class="form-control" id="ScoreBoardStandardId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Wing <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="WingId" class="form-control" id="ScoreWingId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Student <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="StudentId" class="form-control" id="ScoreStudentId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Date <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="ScorepiDate" class="form-control" id="" style="width:100%">
                                <option value="0">All</option>
                                @foreach (var pidate in Model.PersonalInterviewlist)
                                {
                                    <option value="@pidate">@pidate.Value.ToString("dd-MMM-yyyy")</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"> Download Excel </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!--Upload And Download Score details excel Excel-->
<div class="modal fade" id="myUploadScoreExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionPIScore" method="post" enctype="multipart/form-data">

                   
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Update Score" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionPersonalInterviewAssign" method="post" enctype="multipart/form-data">

                    
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">PI Date And Time </h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;background-color: #2781ce;" data-toggle="modal" data-target="#myModalPIScoreDownloadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Download PI Result </a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;background-color: #2781ce;" data-toggle="modal" data-target="#myUploadScoreExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Updaload PI Result</a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a data-toggle="modal" data-target="#myModalAssignPIDownloadExcel" class="d-none d-sm-inline-block btn btn-sm btn-default text-white font-weight-normal" style="background-color:#3a3b45"><i class="fas fa-plus-circle"></i>&nbsp;<span style="color:white">Assign Pi Date</span></a>
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;<span style="color:white">Create</span></a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Student Name</th>
                                @*<th class="h6 mb-0 text-gray-800 font-weight-bold">Interviewer Name</th>*@
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PI Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PI Time</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Appeared Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">IsAppeared</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">IsQualified</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Score</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AdmissionStanadardPIList != null)
                            {
                                foreach (var item in Model.AdmissionStanadardPIList)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title="@item.AdmissionStudentName">
                                    @item.AdmissionStudentName
                                </td>
                                @*<td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
            title="@item.EmployeeName">
            @item.EmployeeName
        </td>*@
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.PIDateString">
                                    @item.PIDateString
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PITime
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.AppearedDateTimeString">
                                    @item.AppearedDateTimeString
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                    title=" @item.IsAppearedstring">
                                    @item.IsAppearedstring
                                </td>
                                @if (item.IsQualifiedstring == "Yes" )
                                {
                                    <td class="h6 mb-0 text-success font-weight-normal" style="color:forestgreen">
                                        @item.IsQualifiedstring
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0 text-danger font-weight-normal">
                                        @item.IsQualifiedstring
                                    </td>
                                }

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ScoreString
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |

                                    <a title="Delete" asp-action="DeleteAdmissionPersonalInterviewAssign" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Stanadard Exam..?');"><i class="fas fa-trash"></i></a>
                                    <div class="modal fade right" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update PI Date And Time</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveOrUpdateAdmissionPersonalInterviewAssign" method="post">

                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <input type="hidden" value="@item.ID" name="ID" />
                                                                <label>Student <span style="color:red">*</span></label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <select name="AdmissionStudentId" required id="AdmissionStudentId_@item.ID" style="width:100%;" class="form-control">
                                                                    <option value=" ">Select Student</option>
                                                                    @foreach (var a in Model.AdmissionStudentList)
                                                                    {
                                                                        if (item.AdmissionStudentId == a.Id)
                                                                        {
                                                                            <option value="@a.Id" selected>@a.FormNumber  @a.Name</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@a.Id">@a.FormNumber  @a.Name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                                <span id="spanAdmissionStudentId_@item.ID" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        @*<div class="row form-group">
                                    <div class="col-md-5">
                                        <label> Employee <span style="color:red">*</span></label>
                                    </div>
                                    <div class="col-md-7">
                                        <select name="EmployeeId" required id="EmployeeId_@item.ID" style="width:100%;" class="form-control">
                                            <option value=" ">Select Employee</option>
                                            @foreach (var a in Model.EmployeeList)
                                            {
                                                if (item.EmployeeId == a.ID)
                                                {
                                                    <option value="@a.ID" selected>@a.FirstName  @a.LastName</option>
                                                }
                                                else
                                                {
                                                    <option value="@a.ID">@a.FirstName @a.LastName</option>
                                                }

                                            }
                                        </select>
                                        <span id="spanEmployeeId_@item.ID" class="text-danger"></span>
                                    </div>
                                </div>*@

                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <label>PI Date</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="date" class="form-control" required name="PIDate" value="@item.PIDate.Value.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-5">
                                                                <label>PI Time</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input type="time" class="form-control" required name="PITime" value="@item.PITime.Value" />
                                                            </div>
                                                        </div>
                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-primary" onclick="return CheckValidatin_Update(@item.ID)"> Save</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade right" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create PI Date And Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateAdmissionPersonalInterviewAssign" method="post">

                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Student <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AdmissionStudentIdMulti" multiple required id="AdmissionStudentId" style="width:100%;" class="form-control">
                                <option value=" ">Select Student</option>
                                @if (Model.AdmissionStudentList != null)
                                {
                                    @foreach (var a in Model.AdmissionStudentList)
                                    {
                            <option value="@a.Id">@a.FormNumber - @a.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanAdmissionStudentId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="row form-group">
                        <div class="col-md-5">
                            <label> Employee <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="EmployeeId" required id="EmployeeId" style="width:100%;" class="form-control">
                                <option value=" ">Select Employee</option>
                                @foreach (var a in Model.EmployeeList)
                                {
                                    <option value="@a.ID">@a.FirstName  @a.LastName</option>
                                }
                            </select>
                            <span id="spanEmployeeId" class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>PI Date</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control" required name="PIDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>PI Time</label>
                        </div>
                        <div class="col-md-7">
                            <input type="time" class="form-control" required name="PITime" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" onclick="return CheckValidatin_Create()"> Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@*Filter Wise Download*@
<div class="modal fade right" id="myModalAssignPIDownloadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Student List PI Date And Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="DownloadAdmissionPersonalInterviewAssign" method="post">
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Session <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AcademicSessionId" class="form-control" id="AcademicSessionId" style="width:100%">
                                <option value="0">All</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>School <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="OraganisationAcademicId" class="form-control" id="OraganisationAcademicId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Board <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="BoardId" class="form-control" id="BoardId" style="width:100%">
                                <option value="0">All</option>
                                @foreach (var brd in Model.Boardlist)
                                {
                                    <option value="@brd.ID">@brd.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Class <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="BoardStandardId" class="form-control" id="BoardStandardId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Wing <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="WingId" class="form-control" id="WingId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Student <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="StudentId" class="form-control" id="StudentId" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"> Download Excel </button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function CheckValidatin_Create() {

        if ($('#AdmissionStudentId').val() == " ") {
            $('#spanAdmissionStudentId').html('Please Select Student');
            return false;
        }
        if ($('#EmployeeId').val() == " ") {
            $('#spanEmployeeId').html('Please Select Employee');
            return false;
        }

    }
</script>
<script>
    function CheckValidatin_Update(id) {

        if ($('#AdmissionStudentId_' + id).val() == " ") {
            $('#spanAdmissionStudentId_' + id).html('Please Select Student');
            return false;
        }
        if ($('#EmployeeId_' + id).val() == " ") {
            $('#spanEmployeeId_' + id).html('Please Select Employee');
            return false;
        }

    }
</script>
<script>
    function GetstudentList() { 
        $('#StudentId').empty();
        $.get('/Admission/Master/GetstudentListStandardWise', { OraganisationAcademicId: $('#OraganisationAcademicId').val(), BoardId: $('#BoardId').val(), BoardStandardId: $('#BoardStandardId').val(), WingId: $('#WingId').val(), excel: false }, function (data) {
            if (data.length > 0) {
                $("#StudentId").append('<option value="0">All</option>');
                $.each(data, function (i, item) {
                    $("#StudentId").append('<option value="' + item.id + '"> ' + item.formNumber+ "-" +item.name +'</option>');
                });
            }
        });
    }
    function GetScorestudentList() {       
        $('#ScoreStudentId').empty();
        $.get('/Admission/Master/GetstudentListStandardWise', { OraganisationAcademicId: $('#ScoreOraganisationAcademicId').val(), BoardId: $('#ScoreBoardId').val(), BoardStandardId: $('#ScoreBoardStandardId').val(), WingId: $('#ScoreWingId').val(), excel: true }, function (data) {
            if (data.length > 0) {
                $("#ScoreStudentId").append('<option value="0">All</option>');
                $.each(data, function (i, item) {
                    $("#ScoreStudentId").append('<option value="' + item.id + '"> ' + item.formNumber + "-" + item.name + '</option>');
                });
            }
        });
    }
    $(document).ready(function () {       
        GetstudentList();
        GetScorestudentList();
        $('#divloader').fadeOut(300);
        $('#AcademicSessionId').change(function () {
            $('#OraganisationAcademicId').empty();
            $.get('/Admission/Master/GetOrganisationByAcademicSessionId', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#OraganisationAcademicId").append('<option value="0">All</option>');
                    $.each(data, function (i, item) {
                        $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
            GetstudentList();
        });
        $('#OraganisationAcademicId').change(function () {
            GetstudentList();
        });
        $('#BoardId').change(function () {
            $('#BoardStandardId').empty();
            $.get('/Admission/Master/GetBoardStandardById', { BoardId: $('#BoardId').val(), OraganisationAcademicId: $('#OraganisationAcademicId').val(), AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#BoardStandardId").append('<option value="0">All</option>');
                    $.each(data, function (i, item) {
                        $("#BoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
            GetstudentList();
        });
        $('#BoardStandardId').change(function () {
            $('#WingId').empty();
            $.get('/Admission/BasicRegistration/GetWingByBoardStandard', { BoardStandardId: $('#BoardStandardId').val(), SessionId: $('#AcademicSessionId').val() }, function (data) {
                if (data.length > 0) {
                    $("#WingId").append('<option value="0">All</option>');
                    $.each(data, function (i, item) {
                        $("#WingId").append('<option value="' + item.wingId + '"> ' + item.wingName + ' </option>');
                    });
                }

            });
            GetstudentList();
        });
        $('#WingId').change(function () {
            GetstudentList();
        });

        //Score Result+
       

            $('#ScoreAcademicSessionId').change(function () {
                $('#ScoreOraganisationAcademicId').empty();
                $.get('/Admission/Master/GetOrganisationByAcademicSessionId', { AcademicSessionId: $('#ScoreAcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#ScoreOraganisationAcademicId").append('<option value="0">All</option>');
                        $.each(data, function (i, item) {
                            $("#ScoreOraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
                GetScorestudentList();
            });
        $('#ScoreOraganisationAcademicId').change(function () {
            GetScorestudentList();
        });
            $('#ScoreBoardId').change(function () {
                $('#ScoreBoardStandardId').empty();
                $.get('/Admission/Master/GetBoardStandardById', { BoardId: $('#ScoreBoardId').val(), OraganisationAcademicId: $('#ScoreOraganisationAcademicId').val(), AcademicSessionId: $('#ScoreAcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#ScoreBoardStandardId").append('<option value="0">All</option>');
                        $.each(data, function (i, item) {
                            $("#ScoreBoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
                GetScorestudentList();
            });

            $('#ScoreBoardStandardId').change(function () {
                $('#ScoreWingId').empty();
                $.get('/Admission/BasicRegistration/GetWingByBoardStandard', {
                    BoardStandardId: $('#ScoreBoardStandardId').val(), SessionId: $('#ScoreAcademicSessionId').val()
                  }, function (data) {
                    if (data.length > 0) {
                        $("#ScoreWingId").append('<option value="0">All</option>');
                        $.each(data, function (i, item) {
                            $("#ScoreWingId").append('<option value="' + item.wingId + '"> ' + item.wingName + ' </option>');
                        });
                    }
                });
                GetScorestudentList();
            });
        $('#ScoreWingId').change(function () {
            GetScorestudentList();
        });
        });
   
   
</script>

