﻿
@{
    ViewData["Title"] = "AdmissionStandardSeatQuota";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.ResponseAdmissionStandardSeatQuotaModal
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Seat Intake</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionStandardSeatQuota" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionStandardSeatQuotaSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Seat Intake</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;<span style="color:white">Create</span></a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">No Of Seat</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StandardSeatQuotaList != null)
                            {
                                foreach (var item in Model.StandardSeatQuotaList)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.NoOfSeat
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal"
                                            style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title="@item.AcademicSessionName">
                                            @item.AcademicSessionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title="@item.OrganisationName">
                                            @item.OrganisationName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.BoardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.StandardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                            <a title="Delete" asp-controller="Master" asp-action="DeleteAdmissionStandardSeatQuota" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Seat Quote..?');"><i class="fas fa-trash"></i></a>
                                            <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5>Update Admission Standard Seat Quote </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form asp-action="SaveAdmissionStandardSeatQuota" method="post">
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label> Academic Session <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input value="@item.AcademicSessionName" class="form-control" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label> Organisation <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input value="@item.OrganisationName" class="form-control" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label> Board <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input value="@item.BoardName" class="form-control" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label> Class <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input value="@item.StandardName" class="form-control" readonly />
                                                                    </div>
                                                                </div>

                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>No.Of Seat <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="hidden" name="ID" value="@item.ID" class="form-control" />
                                                                        <input type="number" required name="NoOfSeat" value="@item.NoOfSeat" maxlength="50" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                                                <div class="form-group text-center">
                                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>

<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Seat Intake</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveAdmissionStandardSeatQuota" method="post">
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Academic Session <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AcademicSessionId" id="AcademicSessionId" class="form-control" style="width:100%;">
                                <option value=" ">Select Session</option>
                                @foreach (var item in Model.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Organisation <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select id="OraganisationAcademicId" name="OraganisationAcademicId" class="form-control" style="width:100%;">
                            </select>
                        </div>


                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Board <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select id="BoardId" name="BoardId" class="form-control" style="width:100%;">
                                <option value=" ">Select Board</option>
                                @foreach (var item in Model.BoardList)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Class <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select id="BoardStandardId" name="BoardStandardId" class="form-control" style="width:100%;"></select>

                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>No.Of Seat <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" required name="NoOfSeat" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" onclick="return checkvalidation()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function checkvalidation() {
        if ($('#AcademicSessionId').val() == " ") {
            alert("Please Select Session");
            return false;
        }
        if ($('#OraganisationAcademicId').val() == " ") {
            alert("Please Select Oraganisation");
            return false;
        }
        if ($('#BoardId').val() == " ") {
            alert("Please Select Board");
            return false;
        }
        if ($('#BoardStandardId').val() == " ") {
            alert("Please Select Class");
            return false;
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            getorganisation($('#AcademicSessionId').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId').empty();
                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId").append('<option value=" ">  Select Organisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                    }
                });
            }
        }
        $('#BoardId').change(function () {
            Getstandards($('#BoardId').val());
        });
        function Getstandards(id) {
            if (id != 0) {
                $('#BoardStandardId').empty();
                $.get('/Admission/BasicRegistration/GetBoardStandard', { BoardId: id, orgid: $("#OraganisationAcademicId").val() }, function (data) {
                    if (data.length > 0) {
                        $("#BoardStandardId").append('<option value=" ">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#BoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }

    });
</script>