﻿
@{
    ViewData["Title"] = "AdmissionStanadardExam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/RightSideModal.css" rel="stylesheet" type="text/css">
@model OdmErp.Web.Areas.Admission.Models.ResponseAdmissionStanadardExamModal
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Exam Date</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadAdmissionStanadardExam" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadAdmissionStanadardExamSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Exam Date</h1>
                <div>
                    @*<input type="file" accept="application/pdf" name="pdf" id="fileQuestion" onchange="loadFileStudent(event)" style="" />
                        <input type="hidden" value="" id="hdnStatus" />*@
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" data-toggle="modal" data-target="#myModal2" @*onclick="loadQuestion()"*@><i class="fas fa-arrow-circle-up"></i> &nbsp; Question Upload</a>

                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>

                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;<span style="color:white">Create</span></a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session Name</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Organisation</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">No Of Students</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Start Time</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam End Time</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Reach Time</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Result Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Question</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Exam Date Notify</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AdmissionStanadardExamList != null)
                            {
                                foreach (var item in Model.AdmissionStanadardExamList)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title="@item.AcademicSessionName">
                                            @item.AcademicSessionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title="@item.OrganisationName">
                                            @item.OrganisationName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title=" @item.StandardName">
                                            @item.StandardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title=" @item.WingName">
                                            @item.WingName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.NoOfStudent
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title=" @item.Examdatestring">
                                            @item.Examdatestring
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title=" @item.ExamStartTime">
                                            @item.ExamStartTime
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ExamEndTime
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ReachTime
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal" style="white-space: nowrap; max-width: 100px; overflow: hidden;text-overflow: ellipsis;"
                                            title=" @item.ResultDatestring">
                                            @item.ResultDatestring
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @if(item.QuestionLink=="")
                                            {
                                                <span></span>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="/ODMImages/AdmissionQuestion/@item.QuestionLink" style="width:20px;height:20px;"><i class="fa fa-file-pdf"></i></a>
                                            }
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @if (item.IsPublished == true)
                                            {
                                                @(item.PublishStartDate == null ? "" : "Start Date : " + item.PublishStartDate.Value.ToString("dd-MM-yyyy")) <br />
                                                @(item.PublishEndDate == null ? "" : "End Date : " + item.PublishEndDate.Value.ToString("dd-MM-yyyy"))
                                            }
                                            else
                                            {
                                                <span>No</span>
                                            }
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |

                                            <a title="Delete" asp-action="DeleteAdmissionStanadardExam" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Stanadard Exam..?');"><i class="fas fa-trash"></i></a>
                                            <div class="modal fade right" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5>Update Academic Standard Exam</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body" style="overflow-y:scroll; height:100%;">
                                                            <form asp-action="SaveAdmissionStanadardExam" method="post">
                                                                <input type="hidden" class="form-control" name="ID" value="@item.ID" />
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label> Academic Session <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="text" class="form-control" value="@item.AcademicSessionName" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Organisation <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="text" class="form-control" value="@item.OrganisationName" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>class <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="text" class="form-control" value="@item.StandardName" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Wing <span style="color:red">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="text" class="form-control" value="@item.WingName" readonly />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Exam Display Name</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="text" class="form-control" name="DisplayName" value="@item.ExamName" maxlength="150" />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Exam Date</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        @if (item.Examdatestring == "NA")
                                                                        {
                                                                            <input type="date" class="form-control" name="ExamDate" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="date" class="form-control" name="ExamDate" value="@item.ExamDate.Value.ToString("yyyy-MM-dd")" />
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Exam Start Time</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        @if (item.ExamStartTime.ToString() == "00:00:00")
                                                                        {
                                                                            <input type="time" class="form-control" name="ExamStartTime" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="time" class="form-control" name="ExamStartTime" value="@item.ExamStartTime" />
                                                                        }

                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Exam End Time</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        @if (item.ExamEndTime.ToString() == "00:00:00")
                                                                        {
                                                                            <input type="time" class="form-control" name="ExamEndTime" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="time" class="form-control" name="ExamEndTime" value="@item.ExamEndTime" />
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Reach Time</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        @if (item.ReachTime.ToString() == "00:00:00")
                                                                        {
                                                                            <input type="time" class="form-control" name="ReachTime" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="time" class="form-control" name="ReachTime" value="@item.ReachTime" />
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>No Of Student</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <input type="number" required class="form-control" name="NoOfStudent" value="@item.NoOfStudent" />
                                                                    </div>
                                                                </div>

                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Result Date</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        @if (item.ResultDatestring == "NA")
                                                                        {
                                                                            <input type="date" class="form-control" name="ResultDate" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="date" class="form-control" name="ResultDate" value="@item.ResultDate.Value.ToString("yyyy-MM-dd")" />
                                                                        }

                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Is Publish</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                       <input type="checkbox" id="chkpublish" name="chkpublish" checked="@(item.IsPublished==null?false:item.IsPublished)" value="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Publish Start Date</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                       <input type="date" id="publishsdate" name="publishsdate" class="form-control" value="@(item.PublishStartDate==null?"":item.PublishStartDate.Value.ToString("yyyy-MM-dd"))" />
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-5">
                                                                        <label>Publish End Date</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                       <input type="date" id="publishedate" name="publishedate" class="form-control" value="@(item.PublishEndDate==null?"":item.PublishEndDate.Value.ToString("yyyy-MM-dd"))" />
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                                                <div class="form-group text-center">
                                                                    <button type="submit" class="btn btn-primary"> Update</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-titleNew" id="myModalLabel2">Add Exam Question</h4>
                <button type="button" id="mclose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">

                <input type="hidden" />
                <div class="row">
                    <div class="col-md-12 form-group ">
                        <label class="control-label font-weight-bold">Session</label>
                        <select id="AcademicSessionId1" class="form-control" style="width:100%;">
                        </select>
                        <span class="text-danger AcademicSessionId1_validation" id="txtNameValiderror1"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Organisation</label>
                        <select id="OraganisationAcademicId1" name="OraganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger OraganisationAcademicId1_validation" id="txtNameValidreeor1"></span>
                    </div>

                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Board</label>
                        <select id="BoardId1" name="BoardId" class="form-control" style="width:100%;">
                            <option value=" ">Select Board</option>
                        </select>
                        <span class="text-danger BoardId1_validation" id="BoardIderror1"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label font-weight-bold">Class</label>
                        <select id="AcademicStandardId1" name="AcademicStandardId" class="form-control" style="width:100%;"></select>
                        <span class="text-danger AcademicStandardId1_validation" id="AcademicStandardIderror1"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="file" accept="application/pdf" name="pdf" id="fileQuestion" style="" />
                        <input type="hidden" value="" id="hdnStatus" /><br />
                        <span class="text-danger fileQuestion_validation" id="fileQuestionerror1"></span>
                    </div>

                    <div class="justify-content-between col-md-6 bg-white" style="padding-top: 60px;margin-left: 45%;">

                        @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" onclick="loadQuestion()"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Question</a>*@
                        <div class="form-group" style="border-top: 0px solid #e3e6f0;">
                            @*<button type="button" id="btn_saveupdate1" data-dismiss="modal" onclick="SaveData1()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-times"></i>&nbsp;  CANCEL&nbsp;&nbsp;</button>*@
                            <button type="button" id="btn_saveupdateqq" onclick="loadQuestion()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i><span id="btn_saveupdate">&nbsp;  SAVE&nbsp;&nbsp;</span></button>
                        </div>
                    </div>

                </div>

            </div>
            <input type="hidden" id="hdn_id" />
        </div>

    </div>
</div>
<div class="modal fade right" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Exam Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y:scroll; height:100%;">
                <form asp-action="SaveAdmissionStanadardExam" method="post">

                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Academic Session <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="AcademicSessionId" required id="AcademicSessionId" style="width:100%;" class="form-control">
                                <option value=" ">Select Session</option>
                                @foreach (var a in Model.AcademicSessionList)
                                {
                                    <option value="@a.ID">@a.DisplayName</option>
                                }
                            </select>
                            <span id="spanAcademicSessionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Organisation <span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select name="OrganisationId" required id="OrganisationId" style="width:100%;" class="form-control">
                            </select>
                            <span id="spanOrganisationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Class<span style="color:red">*</span></label>
                        </div>
                        <div class="col-md-7">
                            <select class="form-control" required id="BoardStandardId" name="BoardStandardId" style="width:100%;">
                            </select>
                            <span id="spanBoardStandardId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label> Wing </label>
                        </div>
                        <div class="col-md-7">
                            <select name="WingId" id="WingId" style="width:100%;" class="form-control">
                            </select>
                            <span id="spanWingId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Exam Display Name</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control" required name="DisplayName" maxlength="150" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Exam Date</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control" required name="ExamDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Exam Start Time</label>
                        </div>
                        <div class="col-md-7">
                            <input type="time" class="form-control" name="ExamStartTime" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Exam End Time</label>
                        </div>
                        <div class="col-md-7">
                            <input type="time" class="form-control" name="ExamEndTime" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Reach Time</label>
                        </div>
                        <div class="col-md-7">
                            <input type="time" class="form-control" name="ReachTime" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>No Of Student</label>
                        </div>
                        <div class="col-md-7">
                            <input type="number" required class="form-control" name="NoOfStudent" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Result Date</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control" name="ResultDate" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Is Publish</label>
                        </div>
                        <div class="col-md-7">
                            <input type="checkbox" id="chkpublish" name="chkpublish" value="true" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Publish Start Date</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" id="publishsdate" name="publishsdate" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            <label>Publish End Date</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" id="publishedate" name="publishedate" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" onclick="return checkvalidation()"> Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#AcademicSessionId').change(function () {
            $('#OrganisationId').empty();
            $.get('/Admission/Master/GetSchoolListByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                console.log(data);
                if (data.length > 0) {
                    $("#OrganisationId").append('<option value=" ">Select Organization</option>');
                    $.each(data, function (i, item) {
                        $("#OrganisationId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#OrganisationId').change(function () {
            $('#BoardStandardId').empty();
            $.get('/Admission/Master/GetBoardStandardListByOrganisationId', { orgacdId: $('#OrganisationId').val() }, function (data) {
                console.log(data);
                if (data.length > 0) {
                    $("#BoardStandardId").append('<option value=" ">Select Class</option>');
                    $.each(data, function (i, item) {
                        $("#BoardStandardId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });
        $('#BoardStandardId').change(function () {
            $('#WingId').empty();
            $.get('/Admission/Master/GetWingListByBoardStandardId', { orgacdId: $('#OrganisationId').val(), BoardStandardId: $('#BoardStandardId').val() }, function (data) {
                console.log(data);
                if (data.length > 0) {
                    $("#WingId").append('<option value=" ">Select Wing</option>');
                    $.each(data, function (i, item) {
                        $("#WingId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                    });
                }
            });
        });

    });

    $(document).ready(function () {
        $('#AcademicSessionId1').html("<option value='0'>SELECT SESSION</option>");
        $('#BoardId1').html("<option value='0'>SELECT BOARD</option>");
        //BoardId
        $.ajax({
            url: '/Admission/Registration/GetSessionData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {
                    $('#AcademicSessionId1').append(
                        $('<option></option>').val(item.id).html(item.displayName)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });
        $.ajax({
            url: '/Admission/Registration/GetBoardData',
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (index, item) {
                    $('#BoardId1').append(
                        $('<option></option>').val(item.id).html(item.name)
                    );

                    //$('#ddl_FeeApplicableTypeData').append(
                    //    $('<option></option>').val(item.id).html(item.name)
                    //);
                });
                //var sessionscholarshipValue = $('#ddl_SessionValue').val();
                //$("#hdnSessionId").val(sessionscholarshipValue);
                //getdatabyId(sessionscholarshipValue);
            }
        });


        $('#AcademicSessionId1').change(function () {
            getorganisation($('#AcademicSessionId1').val());
        });
        function getorganisation(id) {
            if (id != 0) {
                $('#OraganisationAcademicId1').empty();
                $.get('/Admission/Registration/GetOrganisationByAcademicSession', { AcademicSessionId: $('#AcademicSessionId1').val() }, function (data) {
                    if (data.length > 0) {
                        $("#OraganisationAcademicId1").append('<option value="0">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OraganisationAcademicId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });

                    }
                });
            }
        }

        $('#BoardId1').change(function () {
            Getstandards($('#BoardId1').val(), $('#OraganisationAcademicId1').val(), $('#AcademicSessionId1').val());
        });
        function Getstandards(id, orgid, sessionid) {
            if (id != 0) {
                $('#AcademicStandardId1').empty();
                $.get('/Admission/Master/GetAcademicStandardFromExamDate', { BoardId: id, OraganisationAcademicId: orgid }, function (data) {
                    if (data.length > 0) {
                        $("#AcademicStandardId1").append('<option value="0">Select Class</option>');
                        $.each(data, function (i, item) {

                            $("#AcademicStandardId1").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        //if (standardid != 0) {
                        //    $("#AcademicStandardId").val(standardid);
                        //}
                    }
                });
            }
        }

    });
</script>
@*<script>
        $(document).ready(function () {
            $('#AcademicSessionId').change(function () {
                $('#BoardStandardId').empty();
                $.get('/Admission/BasicRegistration/GetClassByAcademicSession', { AcademicSessionId: $('#AcademicSessionId').val() }, function (data) {
                    if (data.length > 0) {
                        $("#BoardStandardId").append('<option value=" ">Select Class</option>');
                        $.each(data, function (i, item) {
                            $("#BoardStandardId").append('<option value="' + item.boardStandardId + '"> ' + item.boardname +"-"+ item.boardClass + ' </option>');
                        });
                    }
                });
            });

        });
    </script>*@
<script>
    function checkvalidation() {

        if ($('#AcademicSessionId').val() == " ") {
            $('#spanAcademicSessionId').html("Please Select Session");
            return false;
        }
        if ($('#AcademicSessionId').val() == " ") {
            $('#spanOrganisationId').html("Please Select Organisation");
            return false;
        }

        if ($('#BoardStandardId').val() == " ") {
            $('#spanBoardStandardId').html("Please Select Class");
            return false;
        }

        if ($('#WingId').val() == " ") {
            $('#spanWingId').html("Please Select Wing");
            return false;
        }


    }
    function loadQuestion() {
        debugger;
        if ($("#AcademicSessionId1").val() == "0") {
            $(".AcademicSessionId1_validation").text("Select Session.");
        }
        else {
            $(".AcademicSessionId1_validation").html("");
        }
        if ($("#OraganisationAcademicId1").val() == "0") {
            $(".OraganisationAcademicId1_validation").text("Select Organisation.");
        }
        else {
            $(".OraganisationAcademicId1_validation").html("");
        }
        if ($("#BoardId1").val() == "0") {
            $(".BoardId1_validation").text("Select Board.");
        }
        else {
            $(".BoardId1_validation").html("");
        }
        if ($("#AcademicStandardId1").val() == "0") {
            $(".AcademicStandardId1_validation").text("Select Class.");
        }
        else {
            $(".AcademicStandardId1_validation").html("");
        }
        var input1 = document.getElementById('fileQuestion');
        var files = input1.files;
        if (files.length == 0) {
            $(".fileQuestion_validation").text("Select File.");
        }
        else {
            $(".fileQuestion_validation").html("");
        }


        if ($("#AcademicSessionId1").val() != 0 && $("#OraganisationAcademicId1").val() != 0 && $("#BoardId1").val() != 0 && $("#AcademicStandardId1").val() != 0 && files.length > 0) {
            //var input1 = document.getElementById('fileQuestion');
            //var files = input1.files;
            var formData = new FormData();
            var imageval = "";

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                url: "/Admission/Registration/UploadQuestion",
                type: "POST",
                contentType: false,
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                async: false,
                success: function (data) {

                    imageval = data;
                    $.ajax({
                        url: "/Admission/Registration/UploadExamQuestion",
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        data: { 'AcademicSession': $("#AcademicSessionId1").val(), "OraganisationId": $("#OraganisationAcademicId1").val(), "Board": $("#BoardId1").val(), "AcademicStandard": $("#AcademicStandardId1").val(), "Imageval": imageval },
                        dataType: 'json',
                        // async: false,
                        success: function (response) {
                            if (response > 0) {
                                alert("Added Data");
                                window.location.reload();
                            }
                            else {
                                alert("Data not added");
                            }
                        }

                    });
                }

            });


            //var uploadExamdata = {
            //    AcademicSession: $("#AcademicSessionId1").val(),
            //    Board: $("#BoardId1").val(),
            //    AcademicStandard: $("#AcademicStandardId1").val(),
            //    Image: imageval

            //};

            //$.ajax({
            //    url: "/Admission/Registration/UploadStudentData",
            
        }
        //OraganisationAcademicId_validation



    }
</script>