﻿
@*@{
    ViewData["Title"] = "AdmissionFormPayment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model IEnumerable<AdmissionFormPaymentResponse>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Admission Form Payment</li>

        </ol>
    </nav>
</div>



 Page Heading 
 Content Row 
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Admission Form Payment</h1>
               
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TransationId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PaymentModeName</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">AdmissionId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Mobile</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Paid Amount</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Payment Date</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Academic Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Payment Type</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PaymentGatewayProxyId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Ordered Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TransationId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaymentModeName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AdmissionId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Mobile
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaidAmount
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaymentDate
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AcademicSession
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
            @item.PaymentType
        </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaymentGatewayProxyId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.OrderId
                                </td>

                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
     /.container-fluid 
</div>*@