﻿
@{
    ViewData["Title"] = "CreateOrEditAdmitcardDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.AdmitcardMastercls
<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmitcardDetails" asp-controller="Master">AdmitcardDetails</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Admitcard Details</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Admitcard Details</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateAdmitcardDetails" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label class="control-label font-weight-bold">Session</label>
                        <select asp-for="sessionid" class="form-control">
                            <option value=" ">Select Session</option>
                            @if (ViewBag.AcademicSessionList != null)
                            {
                                @foreach (var item in ViewBag.AcademicSessionList)
                                {
                                    <option value="@item.ID">@item.DisplayName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Organisation</label>
                        <select asp-for="OrganisationAcademicId" class="form-control" style="width:100%;"></select>
                        <span id="OrganisationAcademicIdSpan" class="text-danger"></span>

                    </div>
                    <div class="form-group border-bottom-primary">
                        <label class="control-label h5 font-weight-bold">Header</label>
                    </div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label font-weight-bold">Title</label>
                        <input type="text" class=" form-control" asp-for="Title" />
                        <span id="TitleSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tollfree" class="control-label font-weight-bold">Tollfree</label>
                        <input type="text" class=" form-control" asp-for="Tollfree" />
                        <span id="TollfreeSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label font-weight-bold">Address</label>
                        <textarea class=" form-control" rows="5" asp-for="Address"></textarea>
                        <span id="AddressSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Logo</label>
                        <input type="file" class="form-control" id="LogoNameId" name="Logo" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label asp-for="Remarks" class="control-label font-weight-bold">Remarks</label>
                        <textarea class=" form-control" rows="5" asp-for="Remarks"></textarea>
                        <span id="RemarksSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group border-bottom-primary">
                        <label class="control-label h5 font-weight-bold">Instruction</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Instruction</label>
                        <textarea class="form-control" asp-for="Instruction"></textarea>
                        <span id="InstructionSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group border-bottom-primary">
                        <label class="control-label h5 font-weight-bold">Venue</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Organization Name</label>
                        <input class="form-control" asp-for="OrganisationName" />
                        <span id="OrganisationSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Address</label>
                        <textarea class=" form-control" rows="5" asp-for="VenueAddress"></textarea>
                        <span id="VenueAddressSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">

                        <button type="submit" onclick="return validate()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  @ViewBag.status&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var orgid = '@(Model.OrganisationAcademicId)';
        var sessionid = '@(Model.sessionid)';
        if (sessionid != 0) {
            getorganisation(sessionid);
        }
        $('#sessionid').change(function () {
            getorganisation($('#sessionid').val());
        })
        function getorganisation(id) {
            if (id != 0) {
                $('#OrganisationAcademicId').empty();

                $.get('/Admission/BasicRegistration/GetOrganisationByAcademicSession', { AcademicSessionId: id }, function (data) {
                    if (data.length > 0) {
                        $("#OrganisationAcademicId").append('<option value=" ">  Select Oraganisation </option>');
                        $.each(data, function (i, item) {

                            $("#OrganisationAcademicId").append('<option value="' + item.id + '"> ' + item.name + ' </option>');
                        });
                        if (orgid != 0) {
                            $("#OrganisationAcademicId").val(orgid);

                        }
                    }
                });
            }
        }

    })

    function validate() {
        debugger;
        if ($('#OrganisationAcademicId').val() == 0) {
            $('#OrganisationAcademicIdSpan').html("Please Select Organization");
            return false;
        }
        else {
            $('#OrganisationAcademicIdSpan').html("");
        }
        if ($('#Title').val() == "") {
            $('#TitleSpan').html("Please Enter Title");
            return false;
        }
        else {
            $('#TitleSpan').html("");
        }
        if ($('#Tollfree').val() == 0) {
            $('#TollfreeSpan').html("Please Enter TollFree");
            return false;
        }
        else {
            $('#TollfreeSpan').html("");
        }
        if ($('#Address').val() == 0) {
            $('#AddressSpan').html("Please Enter Address");
            return false;
        }
        else {
            $('#AddressSpan').html("");
        }
        //if ($('#Instruction').val() == 0) {
        //    $('#InstructionSpan').html("Please Enter Instruction");
        //    return false;
        //}
        //else {
        //    $('#InstructionSpan').html("");
        //}
        if ($('#OrganisationName').val() == 0) {
            $('#OrganisationSpan').html("Please Enter Organisation Name");
            return false;
        }
        else {
            $('#OrganisationSpan').html("");
        }
        if ($('#VenueAddress').val() == 0) {
            $('#VenueAddressSpan').html("Please Enter Venue Address");
            return false;
        }
        else {
            $('#VenueAddressSpan').html("");
        }

        return true;
    }
</script>