﻿
@{
    ViewData["Title"] = "CreateOrEditAdmitcardInstructions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model OdmErp.Web.Areas.Admission.Models.AdmitcardInstructionsModel

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmitcardDetails" asp-controller="Master">AdmitcardDetails</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Admitcard Instructions</span>
                }
                else
                {
            <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Admitcard Instructions</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateAdmitcardInstructions" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="AdmitCardDetailsId" class="control-label font-weight-bold">AdmitCardDetails</label>
                        <select class="form-control" asp-for="AdmitCardDetailsId" asp-items="@(new SelectList(ViewBag.Details,"ID","Address"))">
                            <option value=" ">Select Details</option>
                        </select>
                        <span id="dtSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instruction" class="control-label font-weight-bold">Instruction</label>
                        <input type="text" class=" form-control" asp-for="Instruction" />
                        <span id="InstructionSpan" class="text-danger"></span>
                    </div> 

                    <div class="form-group text-center">

                        <button type="submit" onclick="return validate()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  @ViewBag.status&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function validate() {
        debugger;
        if ($('#AdmitCardDetailsId').val() == "") {
            $('#dtSpan').html("Please Enter AdmitCardDetails");
            return false;
        }
        else {
            $('#dtSpan').html("");
        }
        if ($('#Instruction').val() == 0) {
            $('#InstructionSpan').html("Please Enter Instruction");
            return false;
        }
        else {
            $('#InstructionSpan').html("");
        }
        
    }
</script>

