﻿
@{
    ViewData["Title"] = "CreateOrEditAdmitCardVenue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model OdmErp.Web.Areas.Admission.Models.AdmitCardVenueModelClass

<div class="row holder-breadcrumb">

    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0  text-info  font-weight-bold" asp-action="AdmitCardVenue" asp-controller="Master">AdmitcardVenueAddress</a></li>

            <li class="breadcrumb-item active h6 mb-0 text-dark font-weight-bold" aria-current="page">@ViewBag.status</li>
        </ol>
    </nav>
</div>


<div class="card">
    <div class="card-header bg-white ">

        <div class="row">
            <div class="col-6">

                @if (@ViewBag.status == "Create")
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">New Admitcard Venue</span>
                }
                else
                {
                    <span style="font-size:1.20rem;font-weight:500;" class="font-weight-bold text-dark">Edit Admitcard Venue</span>
                }
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form asp-action="SaveOrUpdateAdmitCardVenue">
                    <input type="hidden" asp-for="ID" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="OrganizationId" class="control-label font-weight-bold">Organization</label>
                        <select class="form-control" asp-for="OrganizationId" asp-items="@(new SelectList(ViewBag.Organization,"ID","Name"))">
                            <option value=" ">Select Organization</option>
                        </select>   
                        <span id="OrgSpan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdmitCardVenueAddressId" class="control-label font-weight-bold">AdmitCardVenueAddress</label>
                        <select class="form-control" asp-for="AdmitCardVenueAddressId" asp-items="@(new SelectList(ViewBag.AdmitCardAdd,"ID","Address"))">
                            <option value=" ">Select Admitcard Venue Address</option>
                        </select>
                        <span id="AdSpan" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">

                        <button type="submit" onclick="return validate()" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-check"></i>&nbsp;  @ViewBag.status&nbsp;&nbsp;</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>


<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function validate() {
        debugger;
        if ($('#OrganizationId').val() == 0) {
            $('#OrgSpan').html("Please Select Organization");
            return false;
        }
        else {
            $('#OrgSpan').html("");
            return true;
        }

        if ($('#AdmitCardVenueAddressId').val() == 0) {
            $('#AdSpan').html("Please Select Admitcard Venue Address");
            return false;
        }
        else {
            $('#AdSpan').html("");
        }

    }
</script>