﻿
@{
    ViewData["Title"] = "MapClassToAdmission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.Areas.Admission.Models.MapClassToAddmissionModal>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">Map Class To Addmission</li>

        </ol>
    </nav>
</div>
<!--Upload And Download Excel-->
<div class="modal fade" id="myUploadExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Download Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="UploadMapClassToAdmission" method="post" enctype="multipart/form-data">

                    <div class="row form-group">
                        <div class="col-md-4">
                            Download Sample
                        </div>
                        <div class="col-md-8">
                            <a href="/Admission/Master/DownloadMapClassToAdmissionSample">Click Here</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Map Class To Addmission</h1>
                <div>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>

                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Session</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Board</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Class</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Wing</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.SessionName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.BoardName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.ClassName
                                        </td>
                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.WingName
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            @item.Status
                                        </td>

                                        <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                            <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                            <a title="Delete" asp-action="DeleteMapClassToAdmission" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this Session Class..?');"><i class="fas fa-trash"></i></a>

                                            <div class="modal fade" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5>Update Map Class</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form asp-action="SaveOrUpdateMapClassToAdmission" method="post">
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        <input type="hidden" name="ID" value="@item.ID" class="form-control" />
                                                                        Session
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <select name="AcademicSessionId" id="AcademicSessionId_@item.ID" style="width:100%;" class="form-control">
                                                                            <option value=" ">Select Session</option>
                                                                            @foreach (var a in ViewBag.Session)
                                                                            {
                                                                                if (item.AcademicSessionId == a.ID)
                                                                                {
                                                                                    <option value="@a.ID" selected>@a.DisplayName</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@a.ID">@a.DisplayName</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <span id="spanAcademicSessionId_@item.ID" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        Board
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <select name="BoardId" id="BoardId_@item.ID" style="width:100%;" class="form-control">
                                                                            <option value=" ">Select Board</option>
                                                                            @foreach (var a in ViewBag.Board)
                                                                            {
                                                                                if (item.BoardId == a.ID)
                                                                                {
                                                                                    <option value="@a.ID" selected>@a.Name</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@a.ID">@a.Name</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <span id="spanBoardId_@item.ID" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        Class
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <select name="ClassId" id="ClassId_@item.ID" style="width:100%;" class="form-control">
                                                                            <option value=" ">Select Class</option>
                                                                            @foreach (var a in ViewBag.Class)
                                                                            {
                                                                                if (item.ClassId == a.ID)
                                                                                {
                                                                                    <option value="@a.ID" selected>@a.Name</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@a.ID">@a.Name</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <span id="spanClassId_@item.ID" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row form-group">
                                                                    <div class="col-md-4">
                                                                        Wing
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <select name="WingId" id="WingId_@item.ID" style="width:100%;" class="form-control">
                                                                            <option value=" ">Select Wing</option>
                                                                            @foreach (var a in ViewBag.Wing)
                                                                            {
                                                                                if (item.ClassId == a.ID)
                                                                                {
                                                                                    <option value="@a.ID" selected>@a.Name</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@a.ID">@a.Name</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                        <span id="spanWingId_@item.ID" class="text-danger"></span>
                                                                    </div>
                                                                </div>

                                                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                                                <div class="form-group text-center">
                                                                    <button type="submit" onclick="return CheckValidatin_Update(@item.ID)" class="btn btn-primary">Update</button>
                                                                </div>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create Map To Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateMapClassToAdmission" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                            Session
                        </div>
                        <div class="col-md-8">
                            <select name="AcademicSessionId" id="AcademicSessionId" style="width:100%;" class="form-control">
                                <option value=" ">Select Session</option>
                                @if (ViewBag.Session != null)
                                {
                                    @foreach (var a in ViewBag.Session)
                                    {
                                        <option value="@a.ID">@a.DisplayName</option>
                                    }
                                }
                            </select>
                            <span id="spanAcademicSessionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Board
                        </div>
                        <div class="col-md-8">
                            <select name="BoardId" id="BoardId" style="width:100%;" class="form-control">
                                <option value=" ">Select Board</option>
                                @if (ViewBag.Board != null)
                                {
                                    @foreach (var a in ViewBag.Board)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanBoardId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Class
                        </div>
                        <div class="col-md-8">
                            <select name="ClassId" id="ClassId" style="width:100%;" class="form-control">
                                <option value=" ">Select Class</option>
                                @if (ViewBag.Class != null)
                                {
                                    @foreach (var a in ViewBag.Class)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanClassId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Wing
                        </div>
                        <div class="col-md-8">
                            <select name="MultiWingId" multiple id="WingId" style="width:100%;" class="form-control">
                                <option value=" ">Select Wing</option>
                                @if (ViewBag.Wing != null)
                                {
                                    @foreach (var a in ViewBag.Wing)
                                    {
                                        <option value="@a.ID">@a.Name</option>
                                    }
                                }
                            </select>
                            <span id="spanWingId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <button type="submit" onclick="return CheckValidatin_Create()" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    function CheckValidatin_Create() {

        if ($('#AcademicSessionId').val() == " ") {
            $('#spanAcademicSessionId').html('Please Select Session');
            return false;
        }
        if ($('#BoardId').val() == " ") {
            $('#spanBoardId').html('Please Select Board');
            return false;
        }
        if ($('#ClassId').val() == " ") {
            $('#spanClassId').html('Please Select Class');
            return false;
        }
        if ($('#WingId').val() == " " && $('#WingId').val().length == 0) {
            $('#spanWingId').html('Please Select Wing');
            return false;
        }
    }
    function CheckValidatin_Update(id) {
        if ($('#AcademicSessionId_' + id).val() == " ") {
            $('#spanAcademicSessionId_' + id).html('Please Select Session');
            return false;
        }
        if ($('#BoardId_' + id).val() == " ") {
            $('#spanBoardId_' + id).html('Please Select Board');
            return false;
        }
        if ($('#ClassId_' + id).val() == " ") {
            $('#spanClassId_' + id).html('Please Select Class');
            return false;
        }
        if ($('#WingId_' + id).val() == " ") {
            $('#spanWingId_' + id).html('Please Select Wing');
            return false;
        }
    }
</script>
