﻿
@{
    ViewData["Title"] = "MasterSMS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/css/RightSideModal.css" rel="stylesheet" type="text/css">
@model IEnumerable<OdmErp.ApplicationCore.Entities.AdmissionAggregate.MasterSMS>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">SMS Send Details</li>

        </ol>
    </nav>
</div>



<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">SMS Send Details</h1>
                <div>
                    @*<a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myUploadExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>*@

                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Provider</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Host</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Email</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Api Key</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Route</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Status</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Provider
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Host
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.SenderId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ApiKey
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Route
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Status
                                </td>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    <a title="Edit" data-toggle="modal" data-target="#myModalEdit_@item.ID"><i class="far fa-edit text-success"></i></a> |
                                    <a title="Delete" asp-action="DeleteMasterSMS" asp-route-id="@item.ID" onclick="return confirm('Are you sure you wish to delete this SMS Details..?');"><i class="fas fa-trash"></i></a>

                                    <div class="modal fade right" id="myModalEdit_@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Update SMS Send Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <form asp-action="SaveOrUpdateMasterSMS" method="post">
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                <input type="hidden" value="@item.ID" name="ID" maxlength="500" class="form-control" />
                                                                Provider  <span style="color:red">*</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" required name="Provider" value="@item.Provider" maxlength="500" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Host  <span style="color:red">*</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" required name="Host"  value="@item.Host" maxlength="500" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Sender Email  <span style="color:red">*</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="email" required name="SenderId" value="@item.SenderId" maxlength="500" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Api Key  <span style="color:red">*</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" required name="ApiKey" value="@item.ApiKey" maxlength="500" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-md-4">
                                                                Route  <span style="color:red">*</span>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" required name="route" value="@item.Route" maxlength="500" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                                        <div class="form-group text-center">
                                                            <input type="submit" class="btn btn-primary" value="Update" />
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<div class="modal fade right" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Create SMS Send Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="SaveOrUpdateMasterSMS" method="post">
                    <div class="row form-group">
                        <div class="col-md-4">
                            Provider  <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required name="Provider" maxlength="500" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Host  <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required name="Host" maxlength="500" class="form-control" />
                        </div>
                    </div>                  
                    <div class="row form-group">
                        <div class="col-md-4">
                            Sender Email  <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="email" required name="SenderId" maxlength="500" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Api Key  <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required name="ApiKey" maxlength="500" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            Route  <span style="color:red">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" required name="route" maxlength="500" class="form-control" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

