﻿
@{
    ViewData["Title"] = "AdmissionFee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<OdmErp.Web.BillDesk.FormPaymentSnapshot>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">PaymentStatus</li>

        </ol>
    </nav>
</div>



<!-- Page Heading -->
<!-- Content Row -->
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Paymentsnapshot</h1>
                <div>
                    <a data-toggle="modal" data-target="#myModalCreate" class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal"><i class="fas fa-plus-circle"></i>&nbsp;Create</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">AdmissionId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">OrderId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Local TransactionId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Server TransactionId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Email</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Mobile</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AdmissionId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.OrderId
                                </td>

                                @if (item.TransactionId != null && item.TransactionId.Count > 0)
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @foreach (var d in item.TransactionId)
                                        {
                                        <span>d</span><br />
                                        }

                                    </td>

                                }
                              


                                @if (item.response == null)
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        No Response
                                    </td>
                                }
                                else
                                {
                                @if (item.response.count == 1)
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        @item.response.items[0].id  | @item.response.items[0].email | @item.response.items[0].contact
                                    </td>
                                }
                                else
                                {
                                    <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                        payment count : @item.response.items.Count
                                    </td>
                                }
                                }

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Email
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.Mobile
                                </td>

                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->
</div>



