﻿
@*@{
    ViewData["Title"] = "PaymentSnapshots";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model IEnumerable<PaymentSnapshot>
<div class="row holder-breadcrumb">
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb card-header bg-white">
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="Master" asp-controller="Layout">Master</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="MasterSchool" asp-controller="Layout">School</a></li>
            <li class="breadcrumb-item"><a class="h6 mb-0 text-info font-weight-bold" asp-action="AdmissionLayout" asp-controller="Layout">Admission</a></li>
            <li class="breadcrumb-item active h6 mb-0 text-secondary font-weight-bold" aria-current="page">PaymentSnapshot</li>

        </ol>
    </nav>
</div>



 Page Heading 
 Content Row 
<div class="row">
    <div class="container-fluid">
        <div class="card  mb-4 bg-white">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header bg-white">
                <h1 class="h5 mb-0 text-gray-800 font-weight-bold">Payment Snapshot</h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>

                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TxnAmount</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TxnReferenceNo</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">UniqueTxnId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PaymentSnapshotId</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">RelatedName</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">RequestMsg</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">ResponseMsg</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">ResponseChecksum</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">RequestChecksum</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">PaymentStatus</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">AuthStatus</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TxnType</th>
                                <th class="h6 mb-0 text-gray-800 font-weight-bold">TxnDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                            <tr>

                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TxnAmount
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TxnReferenceNo
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.UniqueTxnId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaymentSnapshotId
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.RelatedName
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.RequestMsg
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ResponseMsg
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.ResponseChecksum
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.RequestChecksum
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.PaymentStatus
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.AuthStatus
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TxnType
                                </td>
                                <td class="h6 mb-0 text-gray-800 font-weight-normal">
                                    @item.TxnDate
                                </td>

                            </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>


        </div>

    </div>
     /.container-fluid 
</div>*@